@import '~styles/settings.scss';

.c-cover {
  position: relative;
  padding: 50px 0 60px;
  background-color: $slate-light;
  overflow: hidden;

  @media screen and (min-width: $screen-m) {
    padding: 70px 0;
  }

  .cover-background-img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }

  .cover-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    color: $white;

    h1 {
      margin-bottom: 15px;

      @media screen and (min-width: $screen-m) {
        margin-bottom: 20px;
      }
    }
  }

  &.-large {
    padding: 60px 0 80px;

    @media screen and (min-width: $screen-m) {
      padding: 100px 0 120px;
    }

    @media screen and (min-width: $screen-l) {
      padding: 160px 0 180px;
    }
  }
}
