@import '~styles/settings.scss';

.c-cover {
  position: relative;
  overflow: hidden;
  padding: 50px 0 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $slate-light;

  @media screen and (min-width: $screen-m) {
    padding: 70px 0;
  }

  .picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .cover-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    position: relative;

    .cover-title {
      margin: 0 0 15px 0;
      font-size: 48px;
      line-height: 55px;
      font-weight: 300;
      color: $white;

      @media screen and (min-width: $screen-m) {
        margin: 0 0 20px 0;
      }

      &.-with-background {
        font-weight: 400;
      }
    }

    .description,
    p {
      font-size: 18px;
      line-height: 30px;
      max-width: rem(768px);
      color: $white;
    }
  }

  &.large {
    padding: rem(60px) 0 rem(80px);

    h1 {
      font-size: rem(40px);
    }

    @media screen and (min-width: $screen-m) {
      padding: rem(100px) 0 rem(120px);

      h1 {
        font-size: rem(50px);
      }
    }

    @media screen and (min-width: $screen-l) {
      padding: rem(160px) 0 rem(180px);

      h1 {
        font-size: rem(60px);
      }
    }
  }
}
