.user-profile {
  margin: 60px auto 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #555;

  width: 600px;

  h2 {
    font-size: 37px;
    margin: 0 0 15px;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  p {
    font-size: 19px;
    line-height: 25px;
    text-align: center;
  }

  form {
    margin: 30px 0 0;
    display: flex;
    flex-direction: column;

    label {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 500;
      margin: 0 0 8px;

      &.-middle {
        margin-top: -15px;
      }
    }

    input:not([type="radio"]),
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      line-height: 35px;
      padding: 0 0 0 6px;
      font-size: 15px;
      border-radius: 3px;
      border: 1px solid #CCCCCC;
      margin: 0 0 25px;
    }

    select {
      height: 37px;
      background-color: #fff;
      display: block;
      width: 100%;
      margin: 6px 0 16px 0;
    }

    select:not([multiple]) option:first-of-type {
      color: #aaa;
    }

    select[multiple] option {
      color: #aaa;
    }

    select option:checked {
      color: #000;
    }

    select::-ms-expand { /* for IE 11 */
      display: none;
    }

    .m-sel-container {
      position: relative;
      display: inline-block;

      &.-middle {
        width: 100%;
        margin-top: -15px;

        &:after {
          top: 16px;
        }
      }

      &:after {
        content: "";
        background-color: #555;
        -webkit-mask-image: url("svg-icons/arrow-down.svg");
        mask-image: url("svg-icons/arrow-down.svg");
        position: absolute;
        top: 30px;
        right: 8px;
        pointer-events: none;
        height: 15px;
        width: 26px;
        transform: scale(0.6);
      }
    }

    .m-multi-sel-container {
      position: relative;
      display: inline-block;

      select {
        height: 60px;
      }
    }

    .m-improve-gfw {
      border: 1px solid #97bd3d;
      padding: 1.2em;
      border-radius: 5px;

      p {
        font-size: 17px;
      }

      span {
        display: flex;
        justify-content: space-around;
        color: #ccc;
        margin: 15px 0;
        label {
          cursor: pointer;
        }
      }

      input {
        margin-right: 10px;
      }
    }

    .m-buttons {
      display: flex;
      justify-content: space-around;
      margin: 25px 0;

      .btn {
        width: 30%;
      }
    }
  }
}

.user-subscriptions {
  padding: 50px 0;

  .user-subscriptions-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .user-subscriptions-empty {
    h4 {
      color: #262626;
      font-size: 30px;
      font-weight: 200;
      margin-bottom: 10px;
    }

    h5 {
      color: #555;
      margin-bottom: 20px;
    }
  }

  table {
    width: 100%;

    h4 {
      color: #262626;
      font-size: 20px;
    }

    h4.editing input {
      width: 100%;
      font-size: 20px;
      color: #262626;
    }

    h5 {
      font-weight: 200;
      color: #9f9f9f;
      font-size: 14px;
    }
  }

  tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;

    td {
      border-right: 1px solid #e6e6e6;
      padding: 0 10px;
      height: 40px;
      width: 100%;

      a {
        color: #666;
      }
    }

    td+td {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 225px;
    }

    td:last-of-type {
      border-right: 0;
      justify-content: flex-start;
    }

    svg {
      width: 15px;
      height: 15px;
      margin: -4px 7px 0 7px;
    }
  }
}

.subscription-list {
  .tabs {
    width: 100%;
    background: #EEE;

    .inner {
      display: flex;
      align-items: center;
      height: 50px;
      text-transform: uppercase;
    }

    h3 {
      padding: 0 2%;
      cursor: pointer;

      &.current {
        background: white;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: default;
      }
    }
  }

  .content-form {
    .tab-content {
      display: none;

      &.current {
        display: block;
      }
    }
  }
}

.my-gfw-subscription-delete-modal {
  header {
    text-align: center;
    margin-bottom: 15px;

    h2 {
      color: #262626;
      font-size: 20px;
      margin-bottom: 5px;
    }

    h3 {
      font-weight: 200;
      color: #9f9f9f;
      font-size: 14px;
      margin: 0;
    }
  }

  .modal-window {
    width: 450px;
  }

  .modal-content {
    text-align: center;
    padding: 30px 50px;
    line-height: 2em;
  }

  h3 {
    margin-bottom: 30px;
  }

  .delete-button-container {
    display: flex;
    justify-content: space-around;

    a {
      width: 45%;
    }
  }
}
