.twitter-header-profile-img {
    position: relative;
    top: 10px;
    width: 35px;
}
.login-sozial {
	display: flex;
    justify-content: center;
    margin: 1em 0 3em;
    li {
    	margin: 15px 0;
    	.icon {
    		display: inline;
    	}
    }
}