.my-gfw-story-container {
  .tabs {
    width: 100%;
    background: #EEE;

    .inner {
      display: flex;
      align-items: center;
      text-transform: uppercase;
    }

    h3 {
      padding: 20px 2%;
      cursor: pointer;
      position: relative;

      &:hover {
        .tooltipmap {
          opacity: 1;
          visibility: visible;
        }
      }

      &.current {
        background: white;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: default;
      }
    }
  }

  .content-form {
    .tab-content {
      display: none;

      &.current {
        display: block;
      }
    }
  }
}

.my-gfw-stories-list-container {
  @include clearfix();
  padding: 50px 0;
}

.my-gfw-stories-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h4 {
    color: $dark;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 10px;
  }

  h5 {
    color: #555;
    margin-bottom: 20px;
    width: 600px;
    line-height: 1.5em;
    text-align: center;
  }
}

.my-gfw-stories-how-to-create-story {
  background-image: image-url("my_gfw/how-to-create-story.png");
  background-size: 100%;

  margin-bottom: 20px;
  width: 507px;
  height: 367px;
}

.my-gfw-stories-list {
  width: 100%;
  font-size: 14px;

  .story-unconfirmed {
    position: relative;
    float: left;

    svg {
      margin-top: 10px;
      margin-left: 0;
    }

    .tooltipmap {
      width: 200px;
      white-space: normal;
      top: 20px;
    }
  }

  .story-unconfirmed:hover {
    .tooltipmap {
      display: block;
      visibility: visible;
      opacity: 1;
    }
  }

  h4 {
    color: $dark;
    font-size: 21px;
    margin: 0 0 5px;
    @media (min-width:$br-mobile){
      line-height: 39px;
    }

  }

  h4.editing input {
    width: 100%;
    font-size: 21px;
    color: $dark;
    font-family: inherit;
    border: none;
  }

  ul {
    font-weight: 200;
    color: #9f9f9f;
    font-size: 14px;

    li {
      margin-top: 5px;
    }
  }

  tr {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px 0;
    border-top: 1px solid $border;
    @media (min-width:$br-mobile){
      padding: 35px 0;
    }

    &:first-child {
      border-top: none;
    }

    td {
      border-right: 1px solid $border;
      padding: 0 15px;
      width: 100%;
      @media (min-width:$br-mobile){
        padding: 0 30px;
      }

      a {
        color: $dark;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    td+td {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: auto;
      white-space: nowrap;
    }

    td:first-of-type, td:last-of-type {
      border-right: 0;
      justify-content: flex-start;
    }

    .icon {
      width: 15px;
      height: 15px;
      margin: -4px 7px 0 0px;
      fill: $dark;

      &.-edit {
        width: 12px;
        height: 12px;
        margin: 0px 7px 0 0;
      }
    }
  }
}

.my-gfw-story-delete-modal {
  header {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid $border;

    h2 {
      color: $dark;
      font-size: 21px;
      margin-bottom: 5px;
      font-weight: 300;
    }

    h3 {
      color: #9f9f9f;
      font-size: 14px;
      margin: 0;
    }
  }

  .modal-content {
    text-align: center;
    padding: 30px 50px;
    line-height: 2em;
  }

  h3 {
    margin-bottom: 20px;
    line-height: 1.25;
    font-size: 18px;
  }

  .delete-button-container {
    display: flex;
    justify-content: space-around;

    a {
      width: 45%;
    }
  }
}
