.my-gfw-container {
  .login-notice {

    > .text {
      padding: 0 15px 0 0;
      width: 100%;
      color: $dark;
      font-weight: 500;
      font-size: 13px;
      text-transform: uppercase;
      text-align: left;
      line-height: 1.5;
    }
  }
}

.my-gfw-subscription-container {
  .tabs {
    width: 100%;
    background: #EEE;
    padding: 0 15px;
    @media (min-width:$br-mobile){
      padding: 0;
    }

    .inner {
      display: flex;
      align-items: center;
      text-transform: uppercase;
    }

    h3 {
      padding: 20px 2%;
      cursor: pointer;
      position: relative;

      &:hover {
        .tooltipmap {
          opacity: 1;
          visibility: visible;
        }
      }

      &.current {
        background: white;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: default;
      }
    }
  }

  .content-form {
    .tab-content {
      display: none;

      &.current {
        display: block;
      }
    }
  }
}

.my-gfw-subscriptions-list-container {
  @include clearfix();
  padding: 50px 15px;
  @media (min-width:$br-mobile){
    padding: 50px 0;
  }

}

.my-gfw-subscriptions-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h4 {
    color: $dark;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 10px;
  }

  h5 {
    color: #555;
    margin-bottom: 20px;
  }
}


// SUBSCRIPTIONS MODULE
.c-subscriptions {
  width: 100%;
  font-size: 14px;

  > li {
    border-bottom: 1px solid $border;
    padding: 15px 0 25px;

    &:last-child {
      border-bottom: none;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .subscription-unconfirmed {
        position: relative;
        top: -2px;
        margin: 0 5px 0 0;

        svg {
          width: 16px;
          height: 16px;
        }

        .tooltipmap {
          width: 200px;
          white-space: normal;
        }

        &:hover {
          .tooltipmap {
            display: block;
            visibility: visible;
            opacity: 1;
          }
        }
      }


      h4 {
        width: 100%;
        color: $dark;
        font-size: 21px;
        margin: 0 0 5px;
        display: flex;
        justify-content: flex-start;
        border: 1px solid transparent;
        @media (min-width:$br-mobile){
          line-height: 39px;
        }

      }

      h4 input {
        display: block;
        width: 100%;
        font-size: 21px;
        color: $dark;
        font-family: inherit;
        border: none;
        @media (min-width:$br-mobile){
          line-height: 37px;
        }
      }
    }

    .actions {
      .btn-delete-subscription {
        @extend %reset-btn;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;

        svg {
          width: 18px;
          height: 18px;
          margin: -1px 5px 0 0;
          transition: 0s all linear;
          fill: $dark;
        }

        &:hover {
          color: $red;
          svg {
            fill: $red;
          }
        }
      }
    }
  }

  .metadata-list {
    font-weight: 400;
    color: #9f9f9f;
    font-size: 14px;

    li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 10px;

      .metadata-title {
        color: $dark;
        margin: 0 5px 0 0;
      }
    }
  }

  .dataset-list {
    margin: 10px 0 0;
    font-weight: 400;
    color: #9f9f9f;

    h4 {
      font-size: 14px;
      color: $dark;
      margin: 0 5px 0 0;
    }

    > table {
      margin: 5px 10px 0;
      font-size: 14px;
      border-collapse: collapse;

      td {
        padding: 5px;
      }
    }

    .dataset-item {

      .btn-dataset {
        display: block;
        position: relative;
        cursor: pointer;

        svg {
          width: 16px;
          height: 16px;
          fill: $dark;
        }

        &:hover {

          svg {
            fill: $cGreen;
          }

          &.btn-dataset-remove {
            svg {
              fill: $red;
            }
          }

          .tooltipmap {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}


.my-gfw-subscription-delete-modal {
  header {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid $border;

    h2 {
      color: $dark;
      font-size: 21px;
      margin-bottom: 5px;
      font-weight: 300;
    }

    h3 {
      color: #9f9f9f;
      font-size: 14px;
      margin: 0;
    }
  }

  .modal-content {
    text-align: center;
    padding: 30px 50px;
    line-height: 2em;

    .m-spinner {
      display: inline-block;
      margin: 20px 0 50px 0;
    }
  }

  h3 {
    margin-bottom: 20px;
    line-height: 1.25;
    font-size: 18px;
  }

  .delete-button-container {
    display: flex;
    justify-content: space-around;

    a {
      width: 45%;
    }
  }
}
