.m-subscription {

  .datasets-selection {
    .datasets-list {
      min-height: 85px;
      position: relative;

      .m-spinner {
        margin-top: 35px;
      }
    }
  }

  .m-map {
    .map {
      height: 400px;
    }

    .map-controls-box {
      &.-zoom {
        top: 40px;
      }
    }

    .module-legend {
      width: 240px;
      min-height: 100px;
      max-height: 340px;
      position: absolute;
      top: 5px;
      left: 5px;

      &.hide {
        min-height: 0;
        max-height: 0;
      }

      &.-compact {
        .button-box-embed-legend,
        .-country h2,
        .legend-link,
        .layer-close {
          display: none;
        }
      }
    }
  }
}
