@import '~styles/settings.scss';

.c-map-controls {
  width: rem(38px);

  button {
    margin-bottom: rem(5px);
  }

  .plus-icon {
    width: rem(13px);
    height: rem(13px);
  }

  .minus-icon {
    width: rem(13px);
  }
}
