@import '~styles/settings.scss';

.c-map-controls {
  width: rem(38px);

  button {
    box-shadow: 0 1px 2px rgba($black, 0.25);
  }

  button:first-child {
    border-bottom: solid 1px rgba($medium-grey, 0.2);
  }

  .plus-icon {
    width: rem(13px);
    height: rem(13px);
  }

  .minus-icon {
    width: rem(13px);
    height: rem(3px);
  }
}
