@import '~styles/settings.scss';

.c-timeline {
  display: flex;
  flex-direction: column;

  .description {
    font-size: 12px;
    margin: 5px 0 10px;
  }

  .date-pickers {
    display: flex;
    z-index: 999;
    margin: rem(5px) 0 rem(10px);
    align-items: center;

    > div {
      margin: 0 rem(5px);
    }
  }

  .range-slider {
    margin-bottom: rem(15px);
  }
}
