@import '~styles/settings.scss';

.c-boundary-sentence {
  font-size: rem(13px);

  b,
  button {
    color: $green-gfw;
    font-weight: 500;
    display: contents;
  }

  button {
    cursor: pointer;
  }
}
