@import '~styles/settings.scss';

.c-widget-fao-extent {
  .sentence {
    font-weight: 300;
    line-height: 1.58;
    letter-spacing: 0.1px;
    font-size: 20px;

    strong {
      color: #6f6de9;
    }
  }
}
