@import '~styles/settings.scss';

.c-recent-imagery-settings {
  position: absolute;
  width: rem(600px);
  transform: translateX(-50%);
  background-color: $white;
  box-shadow: 0 1px 3px 0 rgba($black, 0.25);

  .dragger-icon {
    fill: $slate;
    width: rem(6px);
    height: rem(10px);
  }

  &__title {
    font-size: 13px;
    color: $slate;
    line-height: 21px;
  }

  &__thumbnails {
    .c-slider {
      margin: 0;

      .slick-slide {
        padding: 0 rem(5.5px);
      }

      .slick-arrow {
        top: calc(50% - #{rem(20px)});
      }
    }
  }
}
