@import '~styles/settings.scss';

.c-boundary-sentence {
  .sentence {
    font-size: rem(13px);
    margin-bottom: 20px;

    b {
      font-weight: 500;
    }

    button {
      color: $green-gfw;
      font-weight: 500;
      display: contents;
      cursor: pointer;
    }
  }
}
