@import '~styles/settings';

.c-draw-analysis {
  width: 100%;
  padding: rem(20px);
  min-height: rem(260px);

  .draw-title {
    font-size: 14px;
    font-weight: 500;
    color: $slate;
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(15px);
    text-transform: uppercase;

    button {
      cursor: pointer;
      height: fit-content;
      margin-top: rem(3px);
    }

    .title-nav {
      display: flex;

      .icon-arrow {
        position: relative;
        width: rem(12px);
        height: rem(12px);
        margin-right: rem(7px);
        transform: rotateZ(90deg);
        margin-top: rem(1px);
      }
    }

    .title-controls {
      display: flex;

      > * {
        margin-left: rem(8px);
      }
    }
  }

  .results {
    position: relative;
    height: calc(100% - 41px);

    .no-layers {
      min-height: rem(100px);
      position: relative;
      margin-top: rem(-10px);
    }
  }

  .draw-stats {
    margin-bottom: rem(10px);
  }

  .draw-stat {
    padding-bottom: rem(15px);

    .title {
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      color: $slate;
      display: inline-block;
      line-height: 1.2;

      span {
        font-size: 9px;
        font-weight: normal;
        text-transform: lowercase;
        margin-left: rem(2px);
      }
    }

    .dates {
      font-size: rem(10px);
      display: inline-block;
      margin-right: rem(3px);
    }

    .threshold {
      font-size: rem(10px);
      display: inline-block;
    }

    .value {
      font-size: 18px;
      font-weight: 500;
      color: $slate;
      letter-spacing: 0.5px;
    }

    &:first-child {
      border-bottom: solid 1px $border;
      padding-bottom: rem(15px);
      margin-bottom: rem(20px);
    }
  }

  .analysis-actions {
    padding: rem(15px) rem(20px);
    border-top: solid 1px $border;
    margin: 0 rem(-20px) rem(-20px);
  }
}
