<div data-dialog-step="1">
  <div class="m-dialog-header">
    <h2 class="title">Subscribe to alerts</h2>
    <span class="close-icon">×</span>
  </div>

  <div class="m-dialog-content">
    <span style="margin-bottom:8px; display: block;">You will receive a monthly email summarizing forest change in this area</span>
    <input class="field" type="text" id="areaEmail" placeHolder="Enter your email">
  </div>

  <div class="m-dialog-footer">
    <button class="btn btn-primary" id="subscribe">Subscribe</button>
  </div>
</div>

<div data-dialog-step="2">
  <div class="m-dialog-header">
    <h2 class="title">Thank you</h2>
  </div>

  <div class="m-dialog-content">
    <span>We've sent you a confirmation email to subscribe to this area.</span>
  </div>

  <div class="m-dialog-footer">
    <button class="btn btn-primary" id="close">Close</button>
  </div>
</div>
