<div class="m-dialog-header">
  <h2 class="title">Forest</h2>
  <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam felis lectus, malesuada eget metus ut, posuere iaculis risus. Praesent gravida nec lacus nec commodo. Aenean maximus elementum mi et tristique.</p>
</div>

<div class="m-dialog-content">
  <div class="terms-placeholder">
    <p style="text-align:center; font-size : 16px;"> Terms of Service</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu congue enim. Aenean dapibus, diam sed pulvinar feugiat, purus nulla condimentum orci, at molestie urna nisi vitae mi. Integer elementum euismod hendrerit. Sed malesuada magna enim, eget scelerisque augue imperdiet eget. In rutrum enim ut lorem suscipit iaculis. Ut ac aliquam lectus, non aliquet nibh. Aenean a turpis ante. Donec et enim a quam finibus scelerisque. Etiam mollis mi leo, vitae euismod ipsum venenatis id.</p>
    <p>Donec vulputate, velit eu suscipit dictum, enim nibh mollis neque, vitae tincidunt nisi augue aliquet tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras tortor ligula, eleifend eu posuere vel, fermentum ut odio. Praesent elementum lectus at tortor tincidunt condimentum. Vestibulum nec est eget est molestie pulvinar. Vestibulum fringilla accumsan nulla at scelerisque. Suspendisse sodales justo sem, at scelerisque nunc pulvinar vel.</p>
    <p>Pellentesque eu nulla vel ligula interdum commodo nec eget augue. Cras lacinia metus et auctor laoreet. Pellentesque eget sapien odio. Fusce dapibus et odio vitae ornare. Nunc ultrices sapien sit amet pharetra suscipit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec nec suscipit metus. Proin sapien dui, laoreet a dui ac, consequat venenatis lacus. Nam ultrices, nisl in commodo varius, purus metus lacinia lacus, id tristique metus tortor sit amet erat. Nulla non varius nisl. Duis efficitur dolor id ante aliquam, et imperdiet tortor faucibus. Aenean tincidunt pellentesque scelerisque.</p>
    <p>Donec luctus eros ut dignissim maximus. Donec a sem aliquam, lacinia est at, dapibus nunc. In leo libero, sagittis ac magna quis, dignissim iaculis leo. Ut dignissim quis orci sed finibus. Curabitur maximus lacinia diam, nec consequat metus consequat eget. Sed non fringilla libero. Phasellus dignissim ipsum mauris, in dictum erat mollis nec. Maecenas erat risus, faucibus sed varius sed, malesuada nec dolor. Morbi malesuada euismod arcu eget varius. Curabitur eget mollis augue. Aliquam ut nisi non risus placerat ultricies vel et purus. Phasellus euismod id nisi in interdum.</p>
  </div>
</div>

<div class="m-dialog-footer">
  <button class="m-btn m-btn-primary" id="acceptBtn">I agree</button>
</div>
