<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="icon-play" viewBox="0 0 21 32">
      <title>play</title>
      <path d="M0.548 31.854l20.45-15.186-20.45-15.186z"></path>
    </symbol>
    <symbol id="icon-little-arrow" viewBox="0 0 22 32">
      <title>little arrow</title>
      <path fill="none" stroke-width="6.4" stroke-miterlimit="4" stroke-linecap="butt" stroke-linejoin="miter" d="M3.040 2.49l13.35 13.35-13.35 13.35"></path>
    </symbol>
    <symbol id="icon-arrow" viewBox="0 0 51 32">
      <title>arrow</title>
      <path d="M25.439 20.914l-20.137-20.137-4.525 4.525 24.663 24.663 24.663-24.663-4.525-4.525z"></path>
    </symbol>
    <symbol id="icon-close" viewBox="0 0 1024 1024">
    	<title>h-close</title>
    	<path class="path1" d="M772.694 903.040l-260.694-260.694-260.694 260.694c-35.976 35.976-94.371 35.976-130.347 0s-35.976-94.371 0-130.347l260.694-260.694-260.694-260.694c-35.976-35.976-35.976-94.371 0-130.347s94.371-35.976 130.347 0l260.694 260.694 260.694-260.694c35.976-35.976 94.371-35.976 130.347 0s35.976 94.371 0 130.347l-260.694 260.694 260.694 260.694c35.976 35.976 35.976 94.371 0 130.347s-94.371 35.976-130.347 0v0z"></path>
    </symbol>
  </defs>
</svg>
