<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="icon-share-icon" viewBox="0 0 32 32">
      <title>share-icon</title>
      <path fill="#555" style="fill: var(--color5, #555)" d="M32 26.667c0 2.946-2.388 5.333-5.333 5.333s-5.333-2.388-5.333-5.333c0-2.946 2.388-5.333 5.333-5.333s5.333 2.388 5.333 5.333z"></path>
      <path fill="#555" style="fill: var(--color5, #555)" d="M32 5.333c0 2.946-2.388 5.333-5.333 5.333s-5.333-2.388-5.333-5.333c0-2.946 2.388-5.333 5.333-5.333s5.333 2.388 5.333 5.333z"></path>
      <path fill="#555" style="fill: var(--color5, #555)" d="M10.667 16c0 2.946-2.388 5.333-5.333 5.333s-5.333-2.388-5.333-5.333c0-2.946 2.388-5.333 5.333-5.333s5.333 2.388 5.333 5.333z"></path>
      <path fill="none" stroke="#555" stroke-width="2.1333" stroke-miterlimit="4" stroke-linecap="butt" stroke-linejoin="miter" style="stroke: var(--color5, #555)" d="M5.333 16l21.285-9.647"></path>
      <path fill="none" stroke="#555" stroke-width="2.1333" stroke-miterlimit="4" stroke-linecap="butt" stroke-linejoin="miter" style="stroke: var(--color5, #555)" d="M7.467 16l18.246 11.643"></path>
    </symbol>
    <symbol id="icon-info-green" viewBox="0 0 32 32">
      <title>info-green</title>
      <path fill="#97be32" style="fill: var(--color3, #97be32)" d="M32 16c0 8.837-7.163 16-16 16s-16-7.163-16-16c0-8.837 7.163-16 16-16s16 7.163 16 16z"></path>
      <path fill="#fff" style="fill: var(--color4, #fff)" d="M17.778 23.111v-7.111h-3.556v7.111h-3.556v1.778h10.667v-1.778h-3.556zM12.444 14.222h5.333v1.778h-5.333v-1.778z"></path>
      <path fill="#fff" style="fill: var(--color4, #fff)" d="M17.778 8.889c0 0.982-0.796 1.778-1.778 1.778s-1.778-0.796-1.778-1.778c0-0.982 0.796-1.778 1.778-1.778s1.778 0.796 1.778 1.778z"></path>
    </symbol>
    <symbol id="icon-gray-share" viewBox="0 0 32 32">
      <title>gray-share</title>
      <path fill="none" stroke="#d6d6d6" stroke-width="1.6" stroke-miterlimit="4" stroke-linecap="butt" stroke-linejoin="miter" style="stroke: var(--color1, #d6d6d6)" d="M30.4 16c0 7.953-6.447 14.4-14.4 14.4s-14.4-6.447-14.4-14.4c0-7.953 6.447-14.4 14.4-14.4s14.4 6.447 14.4 14.4z"></path>
      <path fill="#c5c5c6" style="fill: var(--color2, #c5c5c6)" d="M22.4 21.333c0 1.473-1.194 2.667-2.667 2.667s-2.667-1.194-2.667-2.667c0-1.473 1.194-2.667 2.667-2.667s2.667 1.194 2.667 2.667z"></path>
      <path fill="#c5c5c6" style="fill: var(--color2, #c5c5c6)" d="M22.4 10.667c0 1.473-1.194 2.667-2.667 2.667s-2.667-1.194-2.667-2.667c0-1.473 1.194-2.667 2.667-2.667s2.667 1.194 2.667 2.667z"></path>
      <path fill="#c5c5c6" style="fill: var(--color2, #c5c5c6)" d="M11.733 16c0 1.473-1.194 2.667-2.667 2.667s-2.667-1.194-2.667-2.667c0-1.473 1.194-2.667 2.667-2.667s2.667 1.194 2.667 2.667z"></path>
      <path fill="none" stroke="#c5c5c6" stroke-width="1.6" stroke-miterlimit="4" stroke-linecap="butt" stroke-linejoin="miter" style="stroke: var(--color2, #c5c5c6)" d="M9.067 16l10.642-4.823"></path>
      <path fill="none" stroke="#c5c5c6" stroke-width="1.6" stroke-miterlimit="4" stroke-linecap="butt" stroke-linejoin="miter" style="stroke: var(--color2, #c5c5c6)" d="M10.133 16l9.123 5.821"></path>
    </symbol>
    <symbol id="arrow-select" viewBox="0 0 46 32">
      <title>arrow-select</title>
      <path fill="none" stroke-width="9.1429" stroke-miterlimit="4" stroke-linecap="butt" stroke-linejoin="miter" d="M42.252 4.571l-19.395 19.395-19.395-19.395"></path>
    </symbol>
    <symbol id="icon-cross" viewBox="0 0 20 20">
      <title>cross</title>
      <path d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z"></path>
    </symbol>
    <symbol id="icon-facebook" viewBox="0 0 1024 1024">
      <title>facebook</title>
      <path class="path1" d="M575.872 1024h-191.872v-512h-128v-176.448l128-0.064-0.192-103.936c0-143.936 39.040-231.552 208.576-231.552h141.184v176.512h-88.256c-66.048 0-69.184 24.64-69.184 70.656l-0.256 88.32h158.72l-18.688 176.448-139.84 0.064-0.128 512z"></path>
    </symbol>
    <symbol id="icon-googleplus" viewBox="0 0 1024 1024">
      <title>googleplus</title>
      <path class="path1" d="M559.040 64c0 0-200.96 0-267.968 0-120.128 0-233.152 91.008-233.152 196.416 0 107.712 81.856 194.688 204.096 194.688 8.512 0 16.768-0.192 24.832-0.768-7.936 15.168-13.632 32.32-13.632 50.048 0 29.952 16.128 54.208 36.48 74.048-15.36 0-30.272 0.448-46.464 0.448-148.8 0-263.296 94.784-263.296 193.024 0 96.768 125.568 157.312 274.304 157.312 169.6 0 263.296-96.256 263.296-193.024 0-77.632-22.912-124.096-93.696-174.144-24.192-17.152-70.528-58.816-70.528-83.328 0-28.736 8.192-42.88 51.456-76.672 44.288-34.624 75.648-83.328 75.648-139.904 0-67.392-30.016-133.12-86.4-154.752h84.928l59.968-43.328zM465.472 719.488c2.112 8.96 3.264 18.176 3.264 27.648 0 78.208-50.368 139.328-194.944 139.328-102.848 0-177.088-65.088-177.088-143.296 0-76.672 92.096-140.416 194.944-139.328 24 0.256 46.336 4.096 66.688 10.688 55.808 38.848 95.872 60.736 107.2 105.024zM300.8 427.776c-69.056-2.048-134.656-77.248-146.56-167.872s34.368-160.064 103.36-158.016c68.992 2.048 134.656 74.816 146.56 165.44s-34.368 162.432-103.424 160.384zM832 256v-192h-64v192h-192v64h192v192h64v-192h192v-64z"></path>
    </symbol>
    <symbol id="icon-twitter" viewBox="0 0 1024 1024">
      <title>twitter</title>
      <path class="path1" d="M1024 194.432c-37.696 16.704-78.144 28.032-120.64 33.088 43.392-25.984 76.672-67.2 92.352-116.224-40.576 24.064-85.568 41.536-133.44 51.008-38.336-40.832-92.928-66.368-153.344-66.368-116.032 0-210.112 94.080-210.112 210.048 0 16.448 1.856 32.512 5.44 47.872-174.592-8.768-329.408-92.416-433.024-219.52-18.112 31.040-28.416 67.136-28.416 105.6 0 72.896 37.056 137.216 93.44 174.848-34.432-1.088-66.816-10.56-95.168-26.304 0 0.896 0 1.728 0 2.624 0 101.76 72.448 186.688 168.512 206.016-17.6 4.8-36.16 7.36-55.36 7.36-13.568 0-26.688-1.344-39.552-3.776 26.752 83.456 104.32 144.192 196.224 145.92-71.872 56.32-162.496 89.92-260.928 89.92-16.96 0-33.664-1.024-50.112-2.944 92.992 59.584 203.392 94.4 322.048 94.4 386.432 0 597.76-320.128 597.76-597.76 0-9.088-0.192-18.176-0.64-27.2 41.088-29.632 76.672-66.624 104.832-108.736z"></path>
    </symbol>
    <symbol id="shape-close" viewBox="0 0 25 25">
      <path d="M 5 19 L 19 5 L 21 7 L 7 21 L 5 19 ZM 7 5 L 21 19 L 19 21 L 5 7 L 7 5 Z"/>
    </symbol>
    <symbol id="icon-control-minus" viewBox="0 0 1024 1024">
      <title>control-minus</title>
      <path class="path1" d="M778.24 573.44h-532.48v-122.88h532.48v122.88z"></path>
    </symbol>
    <symbol id="icon-control-plus" viewBox="0 0 1024 1024">
      <title>control-plus</title>
      <path class="path1" d="M573.44 245.76h-122.88v204.8h-204.8v122.88h204.8v204.8h122.88v-204.8h204.8v-122.88h-204.8v-204.8z"></path>
    </symbol>
  </defs>
</svg>
