<svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-f-blog" viewBox="0 0 1280 1024">
  <title>f-blog</title>
  <path class="path1" d="M167.25 939c-76.25 0-76.25-75.030-76.25-75.030v-778.97h976v764.94c0 34.77 10.98 72.59 25.62 89.060h-925.37zM1128 146v-122h-1098v825.94c0 0 0 150.060 152.5 150.060h952.82c0 0 114.68-2.44 114.68-150.060v-703.94h-122zM213 756h366v-427h-366v427zM640 390h305v-61h-305v61zM640 512h305v-61h-305v61zM640 756h244v-61h-244v61zM213 268h732v-61h-732v61zM640 573h305v61h-305v-61z"></path>
</symbol>
<symbol id="icon-f-develop" viewBox="0 0 1024 1024">
  <title>f-develop</title>
  <path class="path1" d="M381.653 536.206l-287.835 287.657c-32.348 32.477-34.329 82.85-3.961 113.339l65.357 65.618c30.368 29.826 80.541 27.838 112.889-3.977l288.495-288.319c32.348-32.477 33.669-82.85 3.961-113.339l-3.961-3.314 296.417-296.273 44.231 13.919 126.753-184.922-58.095-58.327-184.848 126.595 13.203 45.071-295.757 295.61-3.301-3.314c-30.368-30.489-81.201-28.501-113.549 3.977zM544.61 409.383l28.739-29.539-13.001-13.052c24.634-93.426 1.369-197.844-71.164-274.783-88.271-92.052-221.020-116.096-328.451-67.322l162.173 164.87c18.475 19.235 19.16 49.461 0.684 68.009l-66.374 65.948c-17.791 18.548-48.583 17.861-67.059-0.687l-165.594-162.122c-48.583 107.853-24.634 240.436 67.743 328.366 45.846 43.278 101.272 69.383 158.751 77.626l170.384-169.679c30.792 30.226 80.060 30.226 110.852 0l12.317 12.365zM632.197 818.81l182.701 178.609c38.319 37.096 101.272 35.035 140.276-4.122l37.635-37.783c39.688-39.844 41.741-102.357 4.79-140.827l-245.654-251.427-26.687 26.791 13.001 12.365c-30.792 30.226-30.792 80.374 0 110.6l-106.062 105.792z"></path>
</symbol>
<symbol id="icon-f-download" viewBox="0 0 1067 1024">
  <title>f-download</title>
  <path class="path1" d="M442.353 0v370.196h-191.373l282.353 382.745 282.353-382.745h-191.373v-370.196h-181.961zM0 1003.922h1066.667v-439.216h-125.49v313.725h-815.686v-313.725h-125.49v439.216z"></path>
</symbol>
<symbol id="icon-f-feedback" viewBox="0 0 1067 1024">
  <title>f-feedback</title>
  <path class="path1" d="M0 408.092c0 183.91 99.333 340.3 268.667 390.641-1.333 6.041-2 11.41-2 17.451v143.638c0 48.327 34 51.683 68.667 17.451l198-171.828h121.333c227.333 0 412-182.567 412-408.092s-184.667-397.353-412-397.353h-242.667c-227.333 0-412 182.567-412 408.092v0zM266.667 268.482h533.333v67.12h-533.333v-67.12zM266.667 402.722h533.333v67.12h-533.333v-67.12zM266.667 536.963h333.333v67.12h-333.333v-67.12z"></path>
</symbol>
<symbol id="icon-f-howto" viewBox="0 0 1024 1024">
  <title>f-howto</title>
  <path class="path1" d="M512 0c-282.504 0-512 229.496-512 512s229.496 512 512 512c282.504 0 512-229.496 512-512s-229.496-512-512-512zM512 107.789c223.029 0 404.211 181.181 404.211 404.211s-181.181 404.211-404.211 404.211c-223.029 0-404.211-181.181-404.211-404.211s181.181-404.211 404.211-404.211zM441.937 691.435h119.107v114.291h-119.107v-114.291zM375.646 245.487c31.259-19.761 70.063-29.908 115.874-29.908 59.823 0 109.945 14.42 149.288 42.726 39.882 28.84 59.823 71.031 59.823 127.109 0 34.18-8.623 63.020-25.869 86.519-10.24 14.42-29.642 32.578-58.206 55.009l-28.025 21.363c-15.629 12.284-25.331 26.169-30.72 41.657-3.234 10.147-4.851 25.635-4.851 46.998h-108.328c1.617-44.862 5.928-75.838 12.935-92.394 7.006-17.090 24.253-36.851 53.356-59.282l28.564-22.431c9.701-6.943 17.246-14.954 23.175-23.499 10.779-14.42 16.168-30.442 16.168-48.066 0-19.761-5.928-37.919-17.785-54.475s-33.415-25.101-64.674-25.101c-30.72 0-52.817 10.147-65.213 30.442-12.935 20.829-19.402 41.657-19.402 63.554h-115.335c3.234-75.304 29.642-128.711 79.225-160.221v0z"></path>
</symbol>
<symbol id="icon-f-instagram" viewBox="0 0 1024 1024">
  <title>f-instagram</title>
  <path class="path1" d="M192 0c-22.464 0-43.968 4.064-64 11.168v308.832h64v-320zM928 192c0 35.36-28.64 64-64 64h-64c-35.36 0-64-28.64-64-64v-32c0-35.36 28.64-64 64-64h64c35.36 0 64 28.64 64 64v32zM832 0h-576v320h79.36c46.528-42.816 108.448-69.184 176.64-69.184s130.112 26.368 176.64 69.184h271.36v512c0 70.688-57.312 128-128 128h-640c-70.688 0-128-57.312-128-128v-782.816c-39.2 35.136-64 86.016-64 142.816v640c0 106.048 85.952 192 192 192h640c106.048 0 192-85.952 192-192v-640c0-106.048-85.952-192-192-192v0zM382.016 544c0-71.776 58.208-129.984 129.984-129.984s129.984 58.208 129.984 129.984c0 71.776-58.208 129.984-129.984 129.984s-129.984-58.208-129.984-129.984v0zM706.912 544c0-107.648-87.264-194.912-194.912-194.912s-194.912 87.264-194.912 194.912c0 107.648 87.264 194.912 194.912 194.912s194.912-87.264 194.912-194.912v0z"></path>
</symbol>
<symbol id="icon-f-joindiscussion" viewBox="0 0 1229 1024">
  <title>f-joindiscussion</title>
  <path class="path1" d="M0 549.601c0 144.51 108.288 252.893 231.936 292.095-0.768 4.612-1.536 9.224-1.536 13.836v112.226c0 37.665 24.576 39.202 49.92 12.299l107.52-134.518h87.552c132.096 0 243.456-104.539 284.16-230.602h69.888l119.040 134.518c25.344 26.904 49.92 39.202 49.92 1.537v-134.518c123.648-3.075 230.4-152.966 230.4-297.476 0-176.026-134.4-318.999-299.52-318.999h-175.872c-134.4 0-248.064 103.002-286.464 230.602h-167.424c-165.12 0-299.52 142.973-299.52 318.999v0zM774.144 538.071l0.768-23.829c0-152.966-101.376-243.669-236.544-272.879 36.096-92.241 127.488-164.496 224.256-164.496h170.496c125.184 0 219.648 103.002 218.88 232.139-1.536 244.438-230.4 230.602-230.4 230.602v73.024l-76.8-74.561h-70.656z"></path>
</symbol>
<symbol id="icon-f-mail" viewBox="0 0 1422 1024">
  <title>f-mail</title>
  <path class="path1" d="M116.349 83.78v111.513l594.751 483.193 594.751-483.193v-111.513h-1189.492zM971.292 529.843l334.547 297.376v-557.611l-334.547 260.236zM116.349 827.219l334.547-297.376-334.547-260.236v557.611zM711.091 752.87l-223.027-185.862-371.714 334.547h1189.492l-371.714-334.547-223.027 185.862z"></path>
</symbol>
<symbol id="icon-f-twitter" viewBox="0 0 1219 1024">
  <title>f-twitter</title>
  <path class="path1" d="M1159.618 156.69c-18.529 10.149-74.123 30.454-125.871 35.513 33.212-17.804 82.378-76.148 94.55-122.559-31.973 20.368-105.38 49.934-141.544 49.934v0.070c-41.327-42.926-99.534-69.724-164.066-69.724-125.321 0-226.951 101.029-226.951 225.607 0 17.258 1.993 34.18 5.744 50.346h-0.032c-170.047-4.443-355.978-89.134-467.926-234.118-68.833 118.389-9.247 250.113 68.833 298.099-26.714 2.018-75.949-3.078-99.119-25.529-1.514 78.611 36.477 182.75 175.101 220.516-26.682 14.288-73.951 10.187-94.512 7.141 7.22 66.373 100.703 153.115 202.914 153.115-36.445 41.867-173.485 117.843-327.309 93.679 104.447 63.193 226.191 99.766 355.052 99.766 366.156 0 650.554-295.020 635.258-658.94-0.070-0.412-0.070-0.819-0.102-1.263 0.032-0.92 0.102-1.847 0.102-2.805 0-1.162-0.102-2.222-0.139-3.313 33.351-22.66 78.046-62.749 110.019-115.52z"></path>
</symbol>
</defs>
</svg>
