<svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-success" viewBox="0 0 32 32">
<title>success</title>
<path class="path1" d="M20.993 12.115l-6.016 6.016-3.082-3.083c-0.481-0.481-1.325-0.483-1.809 0-0.242 0.242-0.374 0.563-0.374 0.904 0 0.342 0.132 0.664 0.374 0.904l3.942 3.942 0.042 0.047c0.241 0.242 0.562 0.374 0.897 0.374h0.015c0.341 0 0.661-0.132 0.92-0.394l6.899-6.902c0.242-0.242 0.374-0.562 0.374-0.904 0-0.341-0.132-0.662-0.374-0.904-0.484-0.484-1.327-0.484-1.809 0z"></path>
<path class="path2" d="M29.331 15.991c0 7.356-5.985 13.34-13.341 13.34s-13.34-5.984-13.34-13.34c0-7.356 5.984-13.34 13.34-13.34s13.341 5.984 13.341 13.34zM15.99-0.001c-8.817 0-15.99 7.175-15.99 15.992s7.174 15.99 15.99 15.99c8.818 0 15.992-7.174 15.992-15.99s-7.174-15.992-15.992-15.992z"></path>
</symbol>
<symbol id="icon-error" viewBox="0 0 36 32">
<title>error</title>
<path class="path1" d="M17.912 2.783c-0.294 0-0.662 0.31-0.961 0.808l-13.845 22.995c-0.328 0.545-0.378 0.96-0.282 1.13 0.096 0.168 0.473 0.338 1.102 0.338h27.974c0.626 0 1.002-0.17 1.098-0.339 0.096-0.171 0.047-0.586-0.278-1.128l-13.845-22.995c-0.299-0.498-0.668-0.808-0.961-0.808zM4.134 30.65c-1.611 0-2.961-0.841-3.589-1.954-0.63-1.114-0.513-2.549 0.323-3.935l13.7-22.605c0.824-1.37 2.042-2.157 3.345-2.157s2.521 0.786 3.345 2.157l13.987 22.606c0.833 1.383 0.949 2.816 0.319 3.932-0.63 1.114-1.848 1.956-3.455 1.956h-27.974z"></path>
<path class="path2" d="M16.673 21.341c-0.395 0.348-0.591 0.762-0.591 1.247s0.199 0.897 0.597 1.241c0.399 0.342 0.879 0.515 1.441 0.515s1.043-0.173 1.441-0.515c0.398-0.344 0.597-0.757 0.597-1.241 0-0.491-0.199-0.909-0.597-1.252s-0.879-0.515-1.441-0.515c-0.57 0-1.053 0.174-1.447 0.52v0z"></path>
<path class="path3" d="M16.586 9.528c-0.387 0.339-0.579 0.787-0.579 1.343 0 0.615 0.196 1.629 0.591 3.047l0.654 2.362c0.327 1.17 0.52 2.168 0.579 2.993h0.554c0.109-1.158 0.281-2.154 0.516-2.993l0.666-2.362c0.42-1.504 0.629-2.529 0.629-3.079 0-0.527-0.199-0.963-0.597-1.306-0.398-0.342-0.9-0.515-1.504-0.515-0.622 0-1.124 0.171-1.51 0.511v0z"></path>
</symbol>
<symbol id="icon-info" viewBox="0 0 28 32">
<title>info</title>
<path class="path1" d="M28.156 25.25c-0.069 0.353-0.379 0.608-0.739 0.608h-26.664c-0.36 0-0.67-0.255-0.739-0.608s0.121-0.706 0.454-0.842c0.017-0.007 1.844-0.772 3.454-2.41 1.436-1.46 2.133-4.778 2.133-10.145 0-4.618 1.917-6.864 3.524-7.935 0.593-0.395 1.199-0.67 1.769-0.864-0.011-0.098-0.017-0.198-0.017-0.299 0-1.518 1.235-2.754 2.754-2.754s2.754 1.235 2.754 2.754c0 0.101-0.006 0.201-0.017 0.299 0.57 0.194 1.176 0.47 1.769 0.864 1.608 1.071 3.524 3.317 3.524 7.935 0 5.366 0.698 8.685 2.133 10.145 1.622 1.649 3.436 2.403 3.454 2.41 0.333 0.136 0.523 0.489 0.454 0.843v0zM16.828 26.968h-5.485c-0.416 0-0.753 0.337-0.753 0.753 0 1.928 1.568 3.496 3.496 3.496s3.496-1.568 3.496-3.496c0-0.416-0.337-0.753-0.753-0.753v0z"></path>
</symbol>
<symbol id="icon-warning" viewBox="0 0 38 32">
<title>warning</title>
<path class="path1" d="M16.924 2.231l-14.41 23.745c-1.179 1.943-0.289 3.535 2 3.535h29.11c2.291 0 3.185-1.583 2-3.535l-14.41-23.745c-1.179-1.943-3.106-1.952-4.29 0zM19.557 19.596h-0.57c-0.061-0.996-0.259-2.201-0.596-3.617l-0.674-2.857c-0.406-1.712-0.609-2.939-0.609-3.682 0-0.673 0.199-1.214 0.596-1.625s0.916-0.616 1.556-0.616c0.622 0 1.139 0.207 1.549 0.622s0.616 0.941 0.616 1.579c0 0.664-0.216 1.904-0.648 3.721l-0.687 2.857c-0.242 1.013-0.419 2.219-0.532 3.617zM19.284 21.469c0.579 0 1.074 0.207 1.484 0.622s0.616 0.919 0.616 1.514c0 0.585-0.205 1.085-0.616 1.5s-0.905 0.622-1.484 0.622c-0.579 0-1.074-0.207-1.484-0.622s-0.616-0.915-0.616-1.5c0-0.585 0.203-1.088 0.609-1.507s0.903-0.629 1.491-0.629z"></path>
</symbol>
</defs>
</svg>
