<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="icon-close" viewBox="0 0 32 32">
    <title>close</title>
    <path d="M18.728 15.9l12.586-12.586-2.828-2.828-12.586 12.586-12.586-12.586-2.828 2.828 12.586 12.586-12.586 12.586 2.828 2.828 12.586-12.586 12.586 12.586 2.828-2.828z"></path>
    </symbol>
    <symbol id="icon-analyze" viewBox="0 0 29 32">
      <title>analyze</title>
      <path d="M10 20h2c1.104 0 2 0.896 2 2s-0.896 2-2 2h-2c-1.104 0-2-0.896-2-2s0.896-2 2-2v0zM18 16h-8c-1.104 0-2-0.896-2-2s0.896-2 2-2h8c1.104 0 2 0.896 2 2s-0.896 2-2 2v0zM18 24c-1.104 0-2-0.896-2-2s0.896-2 2-2c1.104 0 2 0.896 2 2s-0.896 2-2 2v0zM24 24v-16c0-1.104-0.896-2-2-2h-2c0 1.104-0.896 2-2 2h-8c-1.104 0-2-0.896-2-2h-2c-1.104 0-2 0.896-2 2v18c0 1.104 0.896 2 2 2h16c1.104 0 2-0.896 2-2v-2zM24 32h-20c-2.21 0-4-1.79-4-4v-22c0-2.208 1.79-4 4-4h4c0-0.25 0.058-0.482 0.142-0.704 0.024-0.064 0.058-0.122 0.088-0.184 0.078-0.154 0.172-0.292 0.284-0.422 0.046-0.050 0.086-0.102 0.136-0.148 0.168-0.156 0.356-0.294 0.572-0.384 0.238-0.102 0.502-0.158 0.778-0.158h8c0.276 0 0.54 0.056 0.778 0.158 0.216 0.090 0.404 0.228 0.572 0.384 0.050 0.046 0.090 0.098 0.136 0.148 0.112 0.13 0.206 0.268 0.284 0.422 0.030 0.062 0.064 0.12 0.088 0.184 0.084 0.222 0.142 0.454 0.142 0.704h4c2.21 0 4 1.792 4 4v22c0 2.21-1.79 4-4 4v0z"></path>
    </symbol>
    <symbol id="icon-app-commodities" viewBox="0 0 52 32">
      <title>app-commodities</title>
      <path d="M8.391 3.028l-3.039 6.465h11.055v-6.465h-8.017zM18.563 13.803h32.325v10.775h-5.086c0 3.189-2.349 6.379-5.215 6.379-2.888 0-5.237-3.189-5.237-6.379h-20.3c0 3.189-2.349 6.379-5.237 6.379s-4.59-3.189-4.59-6.379h-3.901l0.647-1.961 1.508-2.608v-8.922l4.525-10.215h10.56v12.93zM20.718 7.338h25.86v4.31h-25.86v-4.31z"></path>
    </symbol>
    <symbol id="icon-app-fires" viewBox="0 0 27 32">
      <title>app-fires</title>
      <path d="M0.248 19.958c0.242-0.968 0.823-2.533 1.775-4.695 0.952-2.146 1.468-3.872 1.565-5.179 0.936 1.726 1.468 3.437 1.597 5.147 3.533-4.356 5.357-9.439 5.502-15.231 0.226 0.145 0.532 0.339 0.904 0.597 0.371 0.242 1.065 0.791 2.049 1.63 1 0.839 1.888 1.71 2.646 2.614 0.774 0.904 1.484 2.049 2.162 3.437s1.081 2.791 1.226 4.179c0.371-0.839 0.597-1.759 0.694-2.791 0.081-1.016-0.032-1.968-0.355-2.84 0.371 0.274 0.855 0.742 1.468 1.388 0.597 0.645 1.275 1.533 2.017 2.646s1.404 2.291 1.985 3.55c0.581 1.242 0.952 2.646 1.113 4.195 0.161 1.565 0.048 3.066-0.323 4.534-0.371 1.452-1.226 2.969-2.565 4.518-1.355 1.549-3.162 2.985-5.437 4.276 1.533-3.066 1.839-6.357 0.904-9.906-0.92-3.55-2.759-6.276-5.486-8.18 0.226 1.016 0.097 2.694-0.387 5.050-0.484 2.339-1.258 4.114-2.339 5.308 0.194-1.484 0.242-2.678 0.145-3.614-0.097-0.92-0.226-1.613-0.419-2.081l-0.339-0.629c-0.29 1.678-1 3.34-2.162 5.018-0.613 0.871-1.065 1.678-1.355 2.42-0.307 0.742-0.42 1.694-0.355 2.856s0.436 2.42 1.081 3.759c-3.195-1.807-5.34-3.646-6.438-5.502s-1.388-4.001-0.871-6.47z"></path>
    </symbol>
    <symbol id="icon-app-climate" viewBox="0 0 18 32">
      <title>app-climate</title>
      <path d="M17.799 21.49c0 0-0.597 0.89-1.386 1.155-1.582 0.532-4.002 0.090-5.556 0.451-2.588 0.601-4.287 4.263-4.287 4.263 0.664 0.54 1.405-1.113 2.803-1.964 2.516-1.531 6.209-1.271 6.209-1.271s-0.851 0.508-2.653 0.785c-1.802 0.277-3.632 1.248-5.512 2.958s-2.279 2.218-2.279 2.218c0 0-0.693-2.403-0.093-4.067s3.836-3.374 6.609-5.73c2.773-2.357 4.252-7.348 2.264-14.188-1.289-4.438-4.205-6.1-4.205-6.1s0.039 1.329-0.832 3.328c-2.496 5.731-7.857 6.146-8.827 13.818-0.432 3.413 1.941 7.302 1.941 7.302 0.706-0.18-0.665-3.651 1.618-9.104 1.203-2.874 2.819-4.113 4.668-6.239s2.218-4.39 2.218-4.39c0 0 0.601 0.739 0.093 2.727-0.489 1.912-4.589 6.16-5.777 8.919-1.433 3.327-1.433 4.991-1.34 8.226 0.090 3.144 1.248 7.024 1.248 7.024l0.97-0.323c0 0 0.093-0.924 1.155-1.796s3.343-0.192 4.437-0.006c1.31 0.223 2.68 0.231 4.853-2.172s1.664-5.823 1.664-5.823z"></path>
    </symbol>
    <symbol id="icon-app-water" viewBox="0 0 29 32">
      <title>app-water</title>
      <path d="M14.386 16.842c-2.093 0.043-4.202-1.057-5.191-3.529-2.213-5.533 4.437-9.626 5.191-13.313 0.754 3.687 7.405 7.78 5.191 13.313-0.989 2.472-3.098 3.571-5.191 3.529zM22.231 24.777c2.939 0 5.040-0.771 6.541-1.551-2.642 5.176-8.018 8.723-14.228 8.723-6.053 0-11.318-3.366-14.028-8.329-0.185-0.338-0.356-0.686-0.516-1.039 1.382-1.155 3.597-2.608 6.546-2.608 5.263 0 7.579 4.804 15.685 4.804z"></path>
    </symbol>
    <symbol id="icon-arrow" viewBox="0 0 51 32">
      <title>arrow</title>
      <path d="M25.439 20.914l-20.137-20.137-4.525 4.525 24.663 24.663 24.663-24.663-4.525-4.525z"></path>
    </symbol>
    <symbol id="icon-customize-reports" viewBox="0 0 29 32">
      <title>customize-reports</title>
      <path d="M26 17.632v12.368c0 1.104-0.896 2-2 2s-2-0.896-2-2v-12.368c0.628 0.224 1.296 0.368 2 0.368 0.706 0 1.372-0.144 2-0.368zM16 27.632v2.368c0 1.104-0.896 2-2 2s-2-0.896-2-2v-2.368c0.628 0.224 1.296 0.368 2 0.368 0.706 0 1.372-0.144 2-0.368zM6 17.632v12.368c0 1.104-0.896 2-2 2s-2-0.896-2-2v-12.368c0.628 0.224 1.296 0.368 2 0.368 0.706 0 1.372-0.144 2-0.368zM2 4.368v-2.368c0-1.104 0.896-2 2-2s2 0.896 2 2v2.368c-0.628-0.224-1.294-0.368-2-0.368-0.704 0-1.372 0.144-2 0.368zM4 16c-2.208 0-4-1.79-4-4v-2c0-2.21 1.792-4 4-4 2.21 0 4 1.79 4 4v2c0 2.21-1.79 4-4 4zM12 14.368v-12.368c0-1.104 0.896-2 2-2s2 0.896 2 2v12.368c-0.628-0.224-1.294-0.368-2-0.368-0.704 0-1.372 0.144-2 0.368zM14 26c-2.208 0-4-1.792-4-4v-2c0-2.21 1.792-4 4-4 2.21 0 4 1.79 4 4v2c0 2.208-1.79 4-4 4zM22 4.368v-2.368c0-1.104 0.896-2 2-2s2 0.896 2 2v2.368c-0.628-0.224-1.294-0.368-2-0.368-0.704 0-1.372 0.144-2 0.368zM24 16c-2.208 0-4-1.79-4-4v-2c0-2.21 1.792-4 4-4 2.21 0 4 1.79 4 4v2c0 2.21-1.79 4-4 4z"></path>
    </symbol>
    <symbol id="icon-profile" viewBox="0 0 28 32">
      <title>profile</title>
      <path d="M-0.046 23.938c2.817 4.827 8.012 8.062 13.948 8.062 6.098 0 11.412-3.413 14.172-8.459-1.010-0.561-2.010-0.843-2.577-0.811-1.285 0.074-5.741-1.316-5.741-1.316l-0.532-0.871c0 0 0.22-4.264 0.294-5.172s0.257-1.187 0.257-1.187 0.128 0.111 0.312 0.111c0.184 0 0.401-0.268 0.446-0.832 0.059-0.735-0.066-1.7-0.066-1.574 0-0.645 0.281-0.903 0.134-1.274-0.087-0.219-0.275-0.221-0.415-0.187 0.079-0.306 0.142-0.575 0.158-0.694 0.055-0.426 0.147-1.817 0-2.54s-1.101-2.799-1.486-3.485c-0.385-0.686-1.314-0.631-0.532-0.575 0.257 0.019-0.886-0.595-0.624-0.612 0.294-0.019-0.422-0.278-0.422-0.278s0.073-0.556-0.11-0.5c-0.231 0.070-0.44-0.482-0.734-0.167s-0.184-0.76-0.349-0.445c-0.165 0.315-0.737-0.193-0.972-0.074-0.293 0.148 0.587-0.357 0.147-0.315-0.202 0.019-0.66-0.067-0.954 0.148-0.315 0.231 0.074-0.408-0.202-0.056-0.248 0.317-1.324 0.215-1.632 0.447 0.087-0.176 0.189-0.411 0.109-0.299-0.147 0.204-0.789 0.556-1.101 0.871s0.459-0.63 0.128-0.371c-0.369 0.29-0.918 0.556-1.119 1.039s-0.184-0.797-0.202-0.278c-0.010 0.293-0.367 0.445-0.514 0.779s-0.042-0.268-0.254 0.226c-0.171 0.4-0.241 0.182-0.462 0.868s-0.275-0.018-0.495 0.575c-0.22 0.593-0.275 1.168-0.587 2.206-0.308 1.024 0.063 4.138 0.372 4.864-0.071-0.010-0.151-0.007-0.238 0.023-0.385 0.132 0.426 1.177 0.555 1.622s0.106 0.749 0.362 1.454c0.257 0.704 0.845 0.379 0.845 0.379l0.709 2.967-0.257 2.744c0 0-3.223 0.881-4.787 1.094-2.73 0.371-4.457 1.122-5.584 1.893v0z"></path>
    </symbol>
    <symbol id="icon-upload" viewBox="0 0 20 32">
      <title>upload</title>
      <path d="M8 25.172l0.586-0.586c0.362-0.362 0.862-0.586 1.414-0.586 1.104 0 2 0.896 2 2 0 0.552-0.224 1.054-0.586 1.416l-4 3.998c-0.362 0.362-0.862 0.586-1.414 0.586s-1.052-0.224-1.414-0.586l-4-3.998c-0.362-0.362-0.586-0.864-0.586-1.416 0-1.104 0.896-2 2-2 0.552 0 1.052 0.224 1.414 0.586l0.586 0.586v-11.172c0-1.104 0.896-2 2-2s2 0.896 2 2v11.172zM20 6c0 1.106-0.896 2-2 2-0.552 0-1.052-0.224-1.414-0.584l-0.586-0.586v11.172c0 1.102-0.896 1.998-2 1.998s-2-0.896-2-1.998v-11.172l-0.586 0.586c-0.362 0.36-0.862 0.584-1.414 0.584-1.104 0-2-0.894-2-2 0-0.552 0.224-1.052 0.586-1.414l4-4c0.362-0.362 0.862-0.586 1.414-0.586s1.052 0.224 1.414 0.586l4 4c0.362 0.362 0.586 0.862 0.586 1.414v0z"></path>
    </symbol>
    <symbol id="icon-arrow-big" viewBox="0 0 19 32">
      <title>arrow-big</title>
      <path d="M0.391 30.142l1.886 1.886 16.028-16.028-16.028-16.028-1.886 1.886 14.142 14.142z"></path>
    </symbol>

  </defs>
</svg>
