<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="icon-share-icon" viewBox="0 0 32 32">
      <title>share-icon</title>
      <path fill="#555" style="fill: var(--color5, #555)" d="M32 26.667c0 2.946-2.388 5.333-5.333 5.333s-5.333-2.388-5.333-5.333c0-2.946 2.388-5.333 5.333-5.333s5.333 2.388 5.333 5.333z"></path>
      <path fill="#555" style="fill: var(--color5, #555)" d="M32 5.333c0 2.946-2.388 5.333-5.333 5.333s-5.333-2.388-5.333-5.333c0-2.946 2.388-5.333 5.333-5.333s5.333 2.388 5.333 5.333z"></path>
      <path fill="#555" style="fill: var(--color5, #555)" d="M10.667 16c0 2.946-2.388 5.333-5.333 5.333s-5.333-2.388-5.333-5.333c0-2.946 2.388-5.333 5.333-5.333s5.333 2.388 5.333 5.333z"></path>
      <path fill="none" stroke="#555" stroke-width="2.1333" stroke-miterlimit="4" stroke-linecap="butt" stroke-linejoin="miter" style="stroke: var(--color5, #555)" d="M5.333 16l21.285-9.647"></path>
      <path fill="none" stroke="#555" stroke-width="2.1333" stroke-miterlimit="4" stroke-linecap="butt" stroke-linejoin="miter" style="stroke: var(--color5, #555)" d="M7.467 16l18.246 11.643"></path>
    </symbol>
    <symbol id="icon-info-green" viewBox="0 0 32 32">
      <title>info-green</title>
      <path fill="#97be32" style="fill: var(--color3, #97be32)" d="M32 16c0 8.837-7.163 16-16 16s-16-7.163-16-16c0-8.837 7.163-16 16-16s16 7.163 16 16z"></path>
      <path fill="#fff" style="fill: var(--color4, #fff)" d="M17.778 23.111v-7.111h-3.556v7.111h-3.556v1.778h10.667v-1.778h-3.556zM12.444 14.222h5.333v1.778h-5.333v-1.778z"></path>
      <path fill="#fff" style="fill: var(--color4, #fff)" d="M17.778 8.889c0 0.982-0.796 1.778-1.778 1.778s-1.778-0.796-1.778-1.778c0-0.982 0.796-1.778 1.778-1.778s1.778 0.796 1.778 1.778z"></path>
    </symbol>
    <symbol id="icon-gray-share" viewBox="0 0 32 32">
      <title>gray-share</title>
      <path fill="none" stroke="#d6d6d6" stroke-width="1.6" stroke-miterlimit="4" stroke-linecap="butt" stroke-linejoin="miter" style="stroke: var(--color1, #d6d6d6)" d="M30.4 16c0 7.953-6.447 14.4-14.4 14.4s-14.4-6.447-14.4-14.4c0-7.953 6.447-14.4 14.4-14.4s14.4 6.447 14.4 14.4z"></path>
      <path fill="#c5c5c6" style="fill: var(--color2, #c5c5c6)" d="M22.4 21.333c0 1.473-1.194 2.667-2.667 2.667s-2.667-1.194-2.667-2.667c0-1.473 1.194-2.667 2.667-2.667s2.667 1.194 2.667 2.667z"></path>
      <path fill="#c5c5c6" style="fill: var(--color2, #c5c5c6)" d="M22.4 10.667c0 1.473-1.194 2.667-2.667 2.667s-2.667-1.194-2.667-2.667c0-1.473 1.194-2.667 2.667-2.667s2.667 1.194 2.667 2.667z"></path>
      <path fill="#c5c5c6" style="fill: var(--color2, #c5c5c6)" d="M11.733 16c0 1.473-1.194 2.667-2.667 2.667s-2.667-1.194-2.667-2.667c0-1.473 1.194-2.667 2.667-2.667s2.667 1.194 2.667 2.667z"></path>
      <path fill="none" stroke="#c5c5c6" stroke-width="1.6" stroke-miterlimit="4" stroke-linecap="butt" stroke-linejoin="miter" style="stroke: var(--color2, #c5c5c6)" d="M9.067 16l10.642-4.823"></path>
      <path fill="none" stroke="#c5c5c6" stroke-width="1.6" stroke-miterlimit="4" stroke-linecap="butt" stroke-linejoin="miter" style="stroke: var(--color2, #c5c5c6)" d="M10.133 16l9.123 5.821"></path>
    </symbol>
    <symbol id="arrow-select" viewBox="0 0 46 32">
      <title>arrow-select</title>
      <path fill="none" stroke-width="9.1429" stroke-miterlimit="4" stroke-linecap="butt" stroke-linejoin="miter" d="M42.252 4.571l-19.395 19.395-19.395-19.395"></path>
    </symbol>
    <symbol id="icon-cross" viewBox="0 0 20 20">
      <title>cross</title>
      <path d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z"></path>
    </symbol>
    <symbol id="shape-close" viewBox="0 0 25 25">
      <path d="M 5 19 L 19 5 L 21 7 L 7 21 L 5 19 ZM 7 5 L 21 19 L 19 21 L 5 7 L 7 5 Z"/>
    </symbol>
  </defs>
</svg>
