<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="icon-play" viewBox="0 0 21 32">
      <title>play</title>
      <path d="M0.548 31.854l20.45-15.186-20.45-15.186z"></path>
    </symbol>
  </defs>
</svg>
