<svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-country-alerts" viewBox="0 0 32 32">
<title>icon-country-alerts</title>
<path class="path1" d="M14.222 23.064h3.556v1.78h-3.556v-1.78zM13.256 6.288l-10.512 17.538c-1.516 2.528-0.356 4.578 2.59 4.578h21.334c2.946 0 4.104-2.050 2.59-4.578l-10.512-17.538c-1.516-2.528-3.972-2.528-5.488 0zM14.222 12.388h3.556v8.898h-3.556v-8.898z"></path>
</symbol>
<symbol id="icon-country-country" viewBox="0 0 36 32">
<title>icon-country-country</title>
<path class="path1" d="M10.326 17.454c11.264-0.574 8.296 7.592 17.456 7.274 1.818-4.182 4.092-9.91 5.818-14.546-11.416 1.504-7.672-6.862-17.456-7.274-4.91 12.364-3.364 8.274-5.818 14.546zM1.598 30.546h1.454l11.638-29.092h-1.454l-11.638 29.092z"></path>
</symbol>
<symbol id="icon-country-download" viewBox="0 0 32 32">
<title>icon-country-download</title>
<path class="path1" d="M13.82 4.638v8.896h-4.602l6.782 9.208 6.782-9.208h-4.602v-8.896h-4.36z"></path>
<path class="path2" d="M3.188 28.778h25.624v-10.562h-3.014v7.544h-19.594v-7.544h-3.014v10.562z"></path>
</symbol>
<symbol id="icon-country-analysis" viewBox="0 0 36 32">
<title>icon-country-analysis</title>
<path class="path1" d="M3.544 29.266h28.47v-2.848h-25.624v-22.776h-2.846v25.624z"></path>
<path class="path2" d="M10.396 24.4l6.144-8.6 4.344 4.352 7.116-11.39 1.584 1.584 2.014-2.014-4.112-4.112-7.114 11.39-4.196-4.194-8.094 11.332 2.316 1.654z"></path>
</symbol>
<symbol id="shape-mail" viewBox="0 0 16 16">
<g fill-rule="evenodd" id="Icons with numbers" stroke="none" stroke-width="1">
<g id="Group" transform="translate(-384.000000, 0.000000)"><path d="M393.731959,11.4845362 L398.681755,15.7272182 C398.501681,15.8954635 398.259495,16 397.993155,16 L386.006845,16 C385.739189,16 385.496237,15.8970552 385.316068,15.7290845 L390.268041,11.4845362 L392,13.0000001 Z M392,12 L385,6 L392,0 L399,6 Z M399,15.1856084 L394.167358,11.0788577 L399,6.875422 L399,15.1856084 L399,15.1856084 Z M385,15.1856079 L385,6.87815189 L389.832642,11.0788574 L385,15.1856079 L385,15.1856079 Z M385,15.1856079"/></g>
</g>
</symbol>
<symbol id="icon-mail" viewBox="0 0 32 32">
<title>Mail</title>
<path  d="M16 29.714c7.574 0 13.714-6.14 13.714-13.714s-6.14-13.714-13.714-13.714c-7.574 0-13.714 6.14-13.714 13.714s6.14 13.714 13.714 13.714zM7.97 10.286l8.039 4.939 8.023-4.939h-16.062zM25.143 13.034l-9.143 5.528-9.143-5.528v8.681h18.286v-8.681zM16 32c-8.837 0-16-7.163-16-16s7.163-16 16-16c8.837 0 16 7.163 16 16s-7.163 16-16 16z"></path>
</symbol>
</defs>
</svg>
