<svg class="is-hidden" style="display:none">

  <symbol id="icon-arrowleft" viewBox="0 0 1024 1024">
  <title>arrowleft</title>
  <path class="path1" d="M737.229 891.802c13.722 13.875 13.722 36.25 0 50.125s-35.891 13.875-49.613 0l-400.896-404.838c-13.722-13.875-13.722-36.301 0-50.125l400.896-404.89c13.722-13.875 35.891-13.875 49.613 0s13.722 36.25 0 50.125l-365.568 379.802 365.568 379.802z"></path>
  </symbol>

  <symbol id="icon-arrowright" viewBox="0 0 1024 1024">
  <title>arrowright</title>
  <path class="path1" d="M286.704 891.802c-13.722 13.875-13.722 36.25 0 50.125s35.891 13.875 49.613 0l400.896-404.838c13.722-13.875 13.722-36.301 0-50.125l-400.896-404.89c-13.722-13.875-35.891-13.875-49.613 0s-13.722 36.25 0 50.125l365.568 379.802-365.568 379.802z"></path>
  </symbol>

</svg>
