<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="icon-twitter" viewBox="4 4 48 48">
      <path d="M52.837,15.065c-1.811,0.805-3.76,1.348-5.805,1.591c2.088-1.25,3.689-3.23,4.444-5.592c-1.953,1.159-4.115,2-6.418,2.454  c-1.843-1.964-4.47-3.192-7.377-3.192c-5.581,0-10.106,4.525-10.106,10.107c0,0.791,0.089,1.562,0.262,2.303  c-8.4-0.422-15.848-4.445-20.833-10.56c-0.87,1.492-1.368,3.228-1.368,5.082c0,3.506,1.784,6.6,4.496,8.412  c-1.656-0.053-3.215-0.508-4.578-1.265c-0.001,0.042-0.001,0.085-0.001,0.128c0,4.896,3.484,8.98,8.108,9.91  c-0.848,0.23-1.741,0.354-2.663,0.354c-0.652,0-1.285-0.063-1.902-0.182c1.287,4.015,5.019,6.938,9.441,7.019  c-3.459,2.711-7.816,4.327-12.552,4.327c-0.815,0-1.62-0.048-2.411-0.142c4.474,2.869,9.786,4.541,15.493,4.541  c18.591,0,28.756-15.4,28.756-28.756c0-0.438-0.009-0.875-0.028-1.309C49.769,18.873,51.483,17.092,52.837,15.065z"/>
    </symbol>
    <symbol id="icon-mail" viewBox="0 0 32 32">
      <title>mail</title>
      <path d="M19.464 22.969l9.9 8.485c-0.36 0.337-0.845 0.546-1.377 0.546h-23.973c-0.535 0-1.021-0.206-1.382-0.542l9.904-8.489 3.464 3.031zM16 24l-14-12 14-12 14 12zM30 30.371l-9.665-8.213 9.665-8.407v16.62zM2 30.371v-16.615l9.665 8.401-9.665 8.213z"></path>
    </symbol>
    <symbol id="icon-instagram" viewBox="0 0 512 512">
      <path d="M480,0H32C14.312,0,0,14.312,0,32v448c0,17.688,14.312,32,32,32h448c17.688,0,32-14.312,32-32V32  C512,14.312,497.688,0,480,0z M192,256c0,0,5.062-64,64-64c58.938,0,64,64,64,64s1.844,64-64,64C190.156,320,192,256,192,256z   M448,448H64V224h64h4.53c-2.655,10.281-4.53,20.875-4.53,32c0,70.688,57.312,128,128,128c70.688,0,128-57.312,128-128  c0-11.125-1.875-21.719-4.531-32H384h64V448z M448,160h-96V64h96V160z"/>
    </symbol>
  </defs>
</svg>
