.c-sankey-chart-widget {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: rem(30px);

  > div {
    width: 100%;
  }

  .cover-legend {
    min-width: 50%;
  }
}
