@import '~styles/settings.scss';

.c-widget-total-area-plantations {
  .title-legend,
  .title-legend-years {
    display: block;
    font-size: 12px;
    width: 100%;
  }

  .title-legend {
    margin-top: rem(5px);
    color: $slate;
  }

  .title-legend-years {
    color: rgba($slate, 0.5);
    margin-top: rem(3px);
  }

  .c-widget-total-area-plantations__container {
    display: flex;
    flex-direction: column;
    position: relative;

    @media screen and (min-width: $screen-s) {
      flex-direction: row;
    }

    .c-widget-total-area-plantations__legend {
      max-width: 100%;
      border-top: 1px solid rgba($slate, 0.2);
      padding-top: rem(8px);
      margin-top: rem(16px);

      @media screen and (min-width: $screen-s) {
        max-width: 50%;
      }

      li {
        display: inline-flex;
        font-size: 12px;
        color: $slate;
        margin-bottom: rem(7px);

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .c-widget-total-area-plantations__bubble {
        min-width: rem(12px);
        height: rem(12px);
        border-radius: 100%;
        margin-right: rem(8px);
      }

      .c-widget-total-area-plantations__name {
        position: relative;
        top: rem(-2px);
      }
    }

    .c-widget-total-area-plantations__chart {
      max-width: 100%;
      margin: rem(20px) 0 0;

      @media screen and (min-width: $screen-s) {
        max-width: 50%;
        margin: rem(-42px) auto 0;
      }
    }
  }
}
