@import '~styles/settings';

.c-draw-analysis {
  width: 100%;
  padding: rem(20px);
  min-height: rem(260px);
  height: 100%;

  .draw-title {
    font-size: 14px;
    font-weight: 500;
    color: $slate;
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(15px);
    height: rem(20px);
    text-transform: uppercase;

    .title-btn {
      display: flex;
      cursor: pointer;
      font-size: rem(14px);
      height: rem(20px);
      text-transform: uppercase;
      font-weight: 500;
      color: $slate;

      .button-wrapper {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
      }

      &.left {
        padding-left: 0;
      }
    }

    .icon-arrow {
      position: relative;
      width: rem(10px);
      margin-right: rem(7px);
      margin-top: -1px;
      transform: rotateZ(90deg);
      fill: $slate;
    }

    .title-controls {
      display: flex;

      > * {
        padding: 0;
        padding-left: rem(8px);
      }
    }
  }

  .results {
    position: relative;
    height: calc(100% - 41px);
    min-height: rem(200px);

    .no-layers {
      min-height: rem(100px);
      position: relative;
      margin-top: rem(-10px);
    }

    .disclaimers {
      padding-top: rem(20px);
      border-top: solid 1px $border;

      p {
        font-size: rem(12px);
        margin-bottom: rem(15px);
      }

      button {
        color: $green-gfw;
        cursor: pointer;
      }
    }
  }

  .draw-stat {
    padding-bottom: rem(15px);

    .title {
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      color: $slate;
      display: inline-block;
      line-height: 1.2;

      span {
        font-size: 9px;
        font-weight: normal;
        text-transform: lowercase;
        margin-left: rem(2px);
      }
    }

    .dates {
      font-size: rem(10px);
      display: inline-block;
      margin-right: rem(3px);
    }

    .threshold {
      font-size: rem(10px);
      display: inline-block;
    }

    .value {
      font-size: 18px;
      font-weight: 500;
      color: $slate;
      letter-spacing: 0.5px;
      display: flex;
      flex-direction: column;

      span {
        color: $slate;
        font-size: rem(10px);
        font-weight: normal;
        text-transform: lowercase;
        margin-left: rem(2px);
        letter-spacing: normal;
      }
    }

    &:first-child {
      border-bottom: solid 1px $border;
      padding-bottom: rem(15px);
      margin-bottom: rem(15px);
    }
  }

  &.with-footer {
    padding-bottom: rem(70px);
  }
}
