@import "./slick.scss";
@import '~styles/settings.scss';

.c-carousel {
  margin: rem(30px) 0;
  width: calc(100% - 20px);
  margin-left: 10px;

  @media screen and (min-width: $screen-xl) {
    width: calc(100% + 40px);
    margin-left: -20px;
  }

  .slick-slide {
    padding: 0 rem(5px);
    opacity: 0.5;
    transition: opacity 1s ease-in-out;

    @media screen and (min-width: $screen-xl) {
      padding: 0 rem(20px);
    }
  }

  .slick-active {
    opacity: 1;
  }

  .slick-list {
    overflow: visible;
  }

  .slick-arrow {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    display: none;
    display: inline-block;
    position: absolute;
    top: calc(50% - 30px);
    z-index: 10;

    &.slick-disabled {
      opacity: 0;
      cursor: default;
    }
  }

  .slick-next {
    transform: rotate(-90deg);
    right: -20px;

    @media screen and (min-width: $screen-xl) {
      right: 0;
    }
  }

  .slick-prev {
    transform: rotate(90deg);
    left: -20px;

    @media screen and (min-width: $screen-xl) {
      left: 0;
    }
  }

  .slick-dots {
    text-align: center;
    margin: rem(25px);
    display: flex !important;
    justify-content: center;
    align-items: center;

    li {
      margin: 0 rem(10px);
      display: flex;

      button {
        width: rem(10px);
        height: rem(10px);
        cursor: pointer;
        background-color: $grey-dark;
        border-radius: 50%;
      }

      &.slick-active button {
        background-color: $green-gfw;
        width: rem(15px);
        height: rem(15px);
        max-height: rem(15px);
      }
    }
  }
}
