@import '~styles/settings.scss';

.c-form-field {
  font-size: rem(14px);
  margin-bottom: rem(25px);
  display: flex;
  flex-direction: column;

  .label {
    text-transform: uppercase;
    font-size: rem(12px);
    color: #333;
    margin-bottom: rem(5px);
    font-weight: 500;
    display: flex;
    align-items: center;

    &:focus {
      outline: none;
    }

    label {
      margin-right: rem(10px);
    }

    span {
      text-transform: none;
      color: $error;
      font-size: rem(12px);
      font-weight: 400;
    }

    .info-button {
      margin-right: rem(10px);
    }

    &.sublabel {
      font-size: rem(11px);
    }
  }

  .input-field {
    width: 100%;
  }

  &.hidden {
    display: none;
  }

  input,
  select,
  textarea {
    transition: all 0.1s ease-in-out;
  }

  details {
    cursor: pointer;

    input {
      width: calc(100% - 26px);
    }
  }

  &.error {
    input,
    select,
    textarea {
      border-color: #ed1846;
    }
  }

  &.active {
    input,
    select,
    textarea {
      border-color: #777;
    }
  }
}
