@import '~styles/settings.scss';

.c-horizontal-bar-chart {
  height: 335px;
  width: 100%;

  a {
    cursor: pointer;
    color: $slate;

    &:hover {
      text-decoration: underline;
    }
  }
}
