@import '~styles/settings.scss';

.c-topics-text {
  span {
    font-weight: 500;
    font-size: 14px;
    color: $slate-light;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  h4 {
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    color: $slate-light;
    margin-bottom: 15px;
  }

  p {
    font-weight: 300;
    font-size: 16px;
    color: $slate-light;
    line-height: 24px;
    margin: 0;
  }
}
