@import '~styles/settings.scss';

.l-my-gfw-page {
  &.login {
    padding: rem(40px) 0;

    @media screen and (min-width: $screen-m) {
      padding: rem(100px) 0;
    }
  }

  .header-banner {
    background-color: $slate-light;
    padding: rem(30px) 0 rem(40px);

    @media screen and (min-width: $screen-m) {
      padding: rem(70px) 0 rem(80px);
    }

    h1 {
      font-size: rem(48px);
      font-weight: 300;
      color: $white;
    }
  }

  .login-intro {
    text-align: center;
    margin-bottom: rem(20px);
  }

  .my-gfw-container {
    padding: rem(30px) 0;
    position: relative;
    min-height: rem(300px);

    @media screen and (min-width: $screen-m) {
      padding: rem(50px) 0;
    }

    .mygfw-loader {
      min-height: rem(300px);
    }

    .no-areas {
      padding: rem(30px) 0 rem(50px);

      .areas-image {
        width: 100%;
      }

      h4 {
        font-size: rem(30px);
        color: $slate-light;
        margin-bottom: rem(20px);
        max-width: rem(400px);
      }

      p {
        font-size: rem(18px);
        line-height: 30px;
        color: $slate;
        margin-bottom: rem(40px);
      }

      .learn-btn {
        width: rem(200px);
      }
    }
  }
}
