@import '~styles/settings.scss';

.c-header-menu {
  position: relative;
  background-color: $slate-light;
  padding: rem(50px) 0 rem(30px);
  width: 100%;

  @media screen and(min-width: $screen-l) {
    padding: rem(70px) rem(30px) rem(80px) 0;
    min-height: rem(350px);
  }

  .share-buttons {
    position: absolute;
    right: rem(20px);
    top: rem(20px);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;

    > * {
      margin-left: rem(5px);
    }
  }

  .loader {
    z-index: 10;
    width: 100%;
    right: 0;
    left: auto;

    @media screen and (min-width: $screen-xl) {
      width: calc((#{$max-width} * 0.7) - #{$desktop-gutter});
    }
  }

  .select-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: rem(20px);

    @media screen and (min-width: $screen-l) {
      margin-bottom: 0;
    }

    h3 {
      font-size: 42px;
      margin-left: 30px;
      font-weight: 300;
      color: $white;
      text-transform: capitalize;
    }

    > div {
      margin-bottom: rem(5px);
    }
  }

  .sentence {
    color: rgba($white, 0.9);
    font-size: rem(18px);
    font-weight: 400;
    margin-top: rem(10px);
    margin-bottom: rem(20px);
    min-height: rem(90px);

    b {
      color: $green-gfw;
    }
  }

  .forest-atlas-btn {
    margin-bottom: rem(20px);
    max-width: rem(200px);
  }
}
