<script id='analysis_info-template' type='text/x-underscore-template'>
  <a href='#' class='toggle'></a>
  <div class='info_title'>{{ title }}</div>
  <div class='info_content'>
    <div class='info'>
      <div class='titles'>
        <strong class='title'>{{ title }}</strong>
        <span class='subtitle'>{{ subtitle }}</span>
      </div>
    </div>

    <div class='stats'>
      {{#spinner}}
      <div class='spinner'></div>
      <div class='error'>Earth Engine timed out.<br />Try smaller polygon.</div>
      {{/spinner}}

      {{^spinner}}
      {{#umd}}
      <div class='spinner'></div>
      <strong class='title'>Total selected area</strong>
      <ul>
        <li class='ha'>
          <p class='count'><strong>{{ ha }}</strong> Ha</p>
        </li>

        <li class='alert'>
          <strong class='title'>Loss {{ begin }}-{{ end }}</strong>
          <p class='count forma'>
            <strong>
              <span id='alerts-count'>
                {{ loss }}
              </span>
            </strong> {{ units }}
          </p>
        </li>

        <li class='alert'>
          <strong class='title'>Gain 2000-2012</strong>
          <p class='count gain'>
            <strong>
              <span id='alerts-count'>
                {{ gain }}
              </span>
            </strong> {{ units }}
          </p>
        </li>
        <li class='alert'>
        <p>This algorithm approximates the results by sampling the selected area. Results are more accurate at closer zoom levels.</p>
        </li>
      </ul>
      {{/umd}}

      {{#imazon}}
      <div class='spinner'></div>
      <strong class='title'>Total selected area</strong>
      <ul>
        <li class='ha'>
          <p class='count'><strong>{{ ha }}</strong> Ha</p>
        </li>

        {{#defor}}
        <li class='alert'>
          <strong class='title'>Deforestation alerts</strong>
          <p class='count forma'>
            <strong>
              <span id='alerts-count'>
                {{ defor }}
              </span>
            </strong> Ha
          </p>
        </li>
        {{/defor}}

        {{#degrad}}
        <li class='alert'>
          <strong class='title'>Degradation alerts</strong>
          <p class='count forma'>
            <strong>
              <span id='alerts-count'>
                {{ degrad }}
              </span>
            </strong> Ha

            {{#download}}<a href='{{download}}' target='_blank' class='download'>download</a>{{/download}}
          </p>
        </li>
        {{/degrad}}

        {{^defor}}
        {{^degrad}}
        <li class='alert'>
          <strong class='title'>Total {{ dataset }} alerts</strong>
          <p class='count forma'>
            <strong>
              <span id='alerts-count'>
                {{ alert_count }}
              </span>
            </strong>
          </p>
        </li>
        {{/degrad}}
        {{/defor}}
      </ul>
      {{/imazon}}

      {{^umd}}
      {{^imazon}}
      <div class='spinner'></div>
      <strong class='title'>Total selected area</strong>
      <ul>
        <li class='ha'>
          <p class='count'><strong>{{ ha }}</strong> Ha</p>
        </li>

        <li class='alert'>
          <strong class='title'>Total {{ dataset }} alerts</strong>
          <p class='count forma'>
            <strong>
              <span id='alerts-count'>
                {{ alert_count }}
              </span>
            </strong>

            {{#download}}<a href='{{download}}' target='_blank' class='download'>download</a>{{/download}}
          </p>
        </li>
      </ul>
      {{/imazon}}
      {{/umd}}
      {{/spinner}}

      <div class='shadow'></div>
    </div>

    <div class='info_controls'>
      <ul class='info_control_buttons'>
        <li><a class='subscribe_control{{#subdisabled}} disabled{{/subdisabled}}' href='#' title="Subscribe to alerts"></a></li>
        <li><a class='reset_control' href='#' title="Delete analysis"></a></li>
      </ul>
    </div>
  </div>
</script>

<script id='analysis-template' type='text/x-underscore-template'>
  <a href='#' id='analysis_control' class='analysis_control' data-tip='Analyze an area on the map'></a>

  <div class='helper_bar'>
    <p>Draw in the map the area you want to analyze</p>
    <div class='options'>
      <a href='#' class='done disabled'>Done</a>
      <a href='#' class='cancel'>Cancel</a>
    </div>
  </div>
</script>

<script id='analysis_dropdown-template' type='text/x-underscore-template'>
  <ul>
    {{#urls}}
      <li><a href='{{url}}' target='_blank'>{{name}}</a></li>
    {{/urls}}
  </ul>
</script>

<script id='analysis_reset-template' type='text/x-underscore-template'>
  <p>Are you sure you want to delete the current analysis?</p>

  <div class='options'>
    <a href='#' class='button done delete'>Delete it</a>
    <a href='#' class='button cancel'>Cancel</a>
  </div>

  <span class='tail'></span>
</script>

<script id='analysis_subscribe-template' type='text/x-underscore-template'>
  <div class='content'>
    <%= form_for :area, :url => "//#{ENV['GFW_API_HOST']}/subscribe", :html => { :method => :post, :class => 'save-area' } do |f| %>
      <%= f.hidden_field :the_geom %>

      <a href='#' class='close'></a>
      <h1 class='title'>{{ title }}</h1>

      <div class='form'>
        <p class='help'><span>{{ help }}</span></p>

        <div class='input-field huge'>
          <input class='field' type='{{ input_type }}' name='area[email]' id='area_email' />
          <span class='holder'>{{ placeholder }}</span>
          <div class='icon error'></div>
          <div class='error_input_label'></div>
        </div>

        <a href='#' class='btn darker_glow send'>
          <span>{{ button_title }}</span>
        </a>
      </div>
    <% end -%>
  </div>
</script>