@import '~styles/settings';

.theme-button-light-green {
  background-color: transparent;
  color: $green-gfw;
  border: solid 1px $green-gfw;

  &:hover {
    border-color: darken($green-gfw, 10%);
    color: darken($green-gfw, 10%);
    background-color: transparent;
  }

  &.disabled {
    &:hover {
      background-color: transparent;
    }
  }

  svg {
    fill: $green-gfw;
  }
}
