@import '~styles/settings.scss';

.c-widget-settings {
  width: rem(310px);
  background-color: $white;
  padding: rem(25px) rem(25px) rem(10px);

  > div {
    margin-bottom: rem(20px);
  }

  .intersections {
    border-bottom: solid 1px $border;

    > div {
      margin-bottom: rem(20px);
    }
  }

  .title {
    font-size: rem(14px);
    color: $slate;
  }

  .years-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;

    .select-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .text-date {
      margin: 0 10px;
    }
  }

  .canopy-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: rem(10px);

    .label {
      margin-bottom: 0;
    }

    &.threshold-border {
      position: relative;
      border-top: solid 1px $border;
      padding-top: rem(15px);

      &::before {
        content: '';
        position: absolute;
        width: 100%;
      }
    }

    .dd__wrapper {
      max-width: rem(85px);
    }
  }
}
