@import '~styles/settings.scss';

.c-modal-video {
  max-width: unset;
  padding: 0;

  .modal-content,
  .modal-title {
    padding: 0;
  }

  .modal-video-content {
    width: 100vw;
    height: 100vh;
    background: $black;
  }
}
