<div class="navigation">
  <ul>
    <li><a href="#forest_clearing">Forest Clearing</a></li>
    <li><a href="#permits">Permits</a>  </li>
    <li><a href="#forest_cover">Forest cover</a> </li>
    <li><a href="#conservation">Conservation</a> </li>
  </ul>
</div>

<div class="narrow_column">

  <section>

  <article id="forest_clearing">

  <h1 class="forest_clearing"><a href="#" name="forest_clearing"></a>Forest Clearing</h1>

  <ul class="sources">
    <li id="brazilian_amazon" data-slug="brazilian_amazon">
    <strong>Brazilian Amazon, monthly</strong> 
    <p>The Deforestation Alert System (SAD), produced by <a href="www.imazon.org.br">Imazon</a> in Brazil, provides monthly reports on deforestation and forest degradation in the Brazilian Amazon. Monthly reports and maps are available for download from Imazon’s website.</p>
    </li>
    <li id="annual" data-slug="annual">
    <strong>Global, annual</strong>
    <p>Global tree cover change data derived from large-scale forest monitoring utilizing the Landsat satellite were developed by Matthew C. Hansen and his research team at the University of Maryland in partnership with Google Earth Engine and supported by NASA.</p>
    </li>
    <li id="semi_monthly" data-slug="semi_monthly">
    <strong>Tropics, semi-monthly</strong>
    <p>The Forest Monitoring for Action (FORMA) project provides forest clearing alerts derived from MODIS satellite imagery every 16 days beginning in December 2005. FORMA is a project of World Resources Institute and was developed by the Center for Global Development.</p>
    </li>
  </ul>

  </article>

  <article id="permits">

  <h1 class="forest_use"><a href="#" name="permits"></a>Permits</h1>

  <ul class="sources">
    <li id="cameroon_logging" data-slug="logging" class="flag cm">
    <strong>Cameroon - Forest management units and annual allowable cuts</strong> <a href="http://s3.amazonaws.com/gfw2_download/Cameroon_concessions.zip" class="download">Download</a>
    <p>Logging within Cameroon’s forest estate occurs within designated areas called Forest Management Units (FMUs).  This dataset represents the spatial limits of FMUs within Cameroon’s permanent forest estate.  There are 114 FMUs in Cameroon which are further divided into logging concessions called annual allowable cuts (AACs), where selective logging is permitted. There are 2988 concessions within Cameroon’s FMU system. These logging permits require owners and operators to maintain permanent forest cover.</p>
    <p class="credits">Credit:  Ministry of Forestry and Wildlife, World Resources Institute, and Tecsult Inc.  (2011)</p>

    </li>
    <li id="central_african_republic_logging" data-slug="logging" class="flag cf">
    <strong>Central African Republic - Logging</strong> <a href="http://s3.amazonaws.com/gfw2_download/CentralAfricanRepub_concessions.zip" class="download">Download</a>
    <p>Forest concession data from Central African Republic represent all operating permits and development (PEA) which permit selective logging. There are 14 separate logging concessions currently in Central African Republic.
    </p>
    <p class="credits">Credit:  PARPAF (an agency under the Ministry of Water and Forests, Hunting, Fishing), German Technical Cooperation (GTZ), French Development Agency (AFD), Special Allocation Fund for Forest Development (CASDF), and the World Resources Institute.  (2009)</p>
    </li>
    <li id="democratic_republic_of_congo_logging" data-slug="logging" class="flag cd">
    <strong>Democratic Republic of Congo - Forest titles</strong> <a href="http://s3.amazonaws.com/gfw2_download/DemRepubOfCongo_concessions.zip" class="download">Download</a>
    <p>Forest concession data for the Democratic Republic of Congo represent geographic areas permitted for exploitation of timber by selective logging. There are 80 active logging concessions in DRC. 
    </p>
    <p class="credits">Credit:  Ministry of Environment, Nature Conservation and Tourism (MECNT), SPIAF, the World Resources Institute, DIAF (Asset Management and Forest Management), and FMB (Forest Management Branch). (2011)</p>
    </li>
    <li id="democratic_republic_of_congo_mining" data-slug="democratic_republic_of_congo_mining" class="flag cd">
    <strong>Democratic Republic of Congo - Mining</strong>
    <p>This mining data is available from CAMI for purchase and could not be made available for public download. For more information, see http://www.miningcongo.cd/.</p>
    <p class="credits">Credit: Ministère de Mines, Cadastre Miniers (CAMI), DRC</p>
    </li>
    <li id="republic_of_congo_logging" data-slug="logging" class="flag cg">
    <strong>Republic of Congo - Logging</strong> <a href="http://s3.amazonaws.com/gfw2_download/RepubOfCongo_concessions.zip" class="download">Download</a>
    <p>Forest concession data for the Republic of Congo represent areas permitted for selective logging. There are currently 63 separate logging concessions, also called Forest Exploitation Units (LEU), which are managed in accordance to the Forest Code and current laws for forest use. 
    </p>
    <p class="credits">Credit:  Ministry of Forest Economy (MEF), Centre National Inventory and Planning of Forest and Wildlife Resources (CNIAF), and the World Resources Institute. (2011)</p>
    </li>
    <li id="gabon_logging" data-slug="logging" class="flag ga">
    <strong>Gabon - Forest licenses</strong> <a href="http://s3.amazonaws.com/gfw2_download/Gabon_concessions.zip" class="download">Download</a>
    <p>Forest license data from Gabon represent areas permitted for selective logging. There are 627 separate logging concessions currently in Gabon.</p>
    <p class="credits">Credit: Ministry of Forest Economy, Water, Fisheries and Aquaculture (MEFEPA) and World Resources Institute. (2010).</p>
    </li>
    <li id="indonesia_oil_palm" data-slug="indonesia_oil_palm" class="flag id">
    <strong>Indonesia - Oil palm</strong> <a href="http://s3.amazonaws.com/gfw2_download/Indonesia_oil_palm_concessions.zip" target="_blank" class="download">Download</a>
    <p>Oil palm concession data represent current or planned oil palm plantation boundaries in Indonesia.  There are 1,845 oil palm concessions currently permitted in Indonesia.
    </p>
    <p class="credits">Credit: Ministry of Forestry Indonesia (2011)</p>
    </li>
    <li id="indonesia_timber" data-slug="wood_fiber_plantations" class="flag id">
    <strong>Indonesia - Timber</strong> <a href="http://s3.amazonaws.com/gfw2_download/Indonesia_timber_concessions.zip" target="_blank" class="download">Download</a>
    <p>Oil palm concession data represent current or planned timber plantation boundaries in Indonesia. There are 570 timber concessions currently permitted in Indonesia.
    </p>
    <p class="credits">Credit: Ministry of Forestry Indonesia (2011)</p>
    </li>
    <li id="indonesia_logging" data-slug="logging" class="flag id">
    <strong>Indonesia - Logging</strong> <a href="http://s3.amazonaws.com/gfw2_download/Indonesia_logging_concessions.zip" target="_blank" class="download">Download</a>
    <p>Logging concessions data represent permit boundaries for selective logging of natural forests in Indonesia.  There are 557 active logging concessions in Indonesia. 
    </p>
    <p class="credits">Credit:  Ministry of Forestry Indonesia (2011)</p>
    </li>

  </ul>

  </article>

  <article id="forest_cover">
  <h1 class="forest_cover"><a href="#" name="forest_cover"></a>Forest Cover</h1>

  <ul class="sources">
    <li id="intact_forest_landscapes" data-slug="intact_forest_landscapes">
    <strong>Intact Forest Landscapes</strong> <a href="http://www.intactforests.org/" class="download" target="_blank">Visit</a>
    <p>The Intact Forest Landscapes dataset identifies unbroken expanses of natural ecosystems within the zone of current forest extent (as of 2000), mapped from Landsat satellite imagery. These landscapes show no signs of significant human activity, are not fragmented by infrastructure, and are at least 50,000 hectares in size.  These data can be used for assessment of forest intactness, alteration and degradation at global and regional scales.
    </p>    
    <p class="credits">Credit:  Greenpeace, World Resources Institute, and Transparent World (2012)</p>
    </li>
  </ul>
  </article>

  <article id="conservation">
  <h1 class="conservation"><a href="#" name="conservation"></a>Conservation</h1>

  <ul class="sources">
    <li id="conservation" data-slug="conservation">
    <strong>Global</strong> <a href="http://www.protectedplanet.net" class="download" target="_blank">Visit</a>
    <p>All protected areas are from Protectedplanet.net which is the home of the World Database on Protected Areas (WDPA).   The WDPA is a joint initiative between the IUCN and UNEP-WCMC to compile spatially referenced information about parks and protected areas globally. Data can be downloaded from Protected Planet site.</p>
    </li>
  </ul>
  </article>
  </section>

</div>
