<% content_for :title do %>
 <a href="#" class="selected">Data sources</a> | <a href="#">All countries</a>
<% end %>

<div class="inner">
  <section>
    <article>
    <h1><a href="/posts/show">It’s been a great year. But that’s not enough.</a></h1>

    <p>Incatct forest landscapes, is an unbroken expanse of natural ecosystems within the zone of current forest extent, showing no signs of significant human activity, and large enough that all native biodiversity, including viable populations of wide-ranging species, could be maintained.</p>

    <ul class="sources">
      <li>
      <strong>Global</strong> <a href="#">Download</a>
      <p>Baccini, A., Laporte, N., Goetz, S.J., Sun, M., Dong, H. 2008. A first map of tropical Africa’s above-ground biomass derived from satellite imagery. Environmental Research Letters 3 (4) 045011.</p>
      </li>
    </ul>

    </article>

    <article>
    <h1><a href="#">Logging concessions</a></h1>
    <p>Incatct forest landscapes, is an unbroken expanse of natural ecosystems within the zone of current forest extent, showing no signs of significant human activity, and large enough that all native biodiversity, including viable populations of wide-ranging species, could be maintained.</p>

    <ul class="sources">
      <li>
      <strong>Global</strong> <a href="#">Download</a>
      <p>Baccini, A., Laporte, N., Goetz, S.J., Sun, M., Dong, H. 2008. A first map of tropical Africa’s above-ground biomass derived from satellite imagery. Environmental Research Letters 3 (4) 045011.</p>
      </li>
    </ul>

    </article>

    <article>
    <h1><a href="#">Logging concessions</a></h1>
    <p>Incatct forest landscapes, is an unbroken expanse of natural ecosystems within the zone of current forest extent, showing no signs of significant human activity, and large enough that all native biodiversity, including viable populations of wide-ranging species, could be maintained.</p>

    <ul class="sources">
      <li class="flag cd">
      <strong>Republic of Congo</strong> <a href="#">Download</a>
      <p>Baccini, A., Laporte, N., Goetz, S.J., Sun, M., Dong, H. 2008. A first map of tropical Africa’s above-ground biomass derived from satellite imagery. Environmental Research Letters 3 (4) 045011.</p>
      </li>

      <li class="flag it">
      <strong>Republic of Congo</strong> <a href="#">Download</a>
      <p>Baccini, A., Laporte, N., Goetz, S.J., Sun, M., Dong, H. 2008. A first map of tropical Africa’s above-ground biomass derived from satellite imagery. Environmental Research Letters 3 (4) 045011.</p>
      </li>

    </ul>

    </article>

  </section>

  <aside class="categories">
    <h3>By category</h3>
    <ul>
      <li><a href="#">Intact forest landscapes</a>  </li>
      <li><a href="#">Logging concessions</a> </li>
      <li> <a href="#">Mining permits</a> </li>
      <li><a href="#">Change data</a> </li>
      <li><a href="#">Intact forest landscapes</a>  </li>
      <li><a href="#">Logging concessions</a> </li>
      <li> <a href="#">Mining permits</a> </li>
      <li><a href="#">Change data</a> </li>
      <li><a href="#">Intact forest landscapes</a> </li>
      <li><a href="#">Logging concessions</a> </li>
      <li> <a href="#">Mining permits</a> </li>
      <li><a href="#">Change data</a> </li>
      <li><a href="#">Intact forest landscapes</a> </li>
    </ul>
  </aside>
</div>
