<% content_for :title do %>
  <%= link_to t(".title"), "#", :class => :selected %>
<% end %>

<% content_for :download do %>
  <div class="download">
    <div class="inner">
      <%= content_tag :h1, (raw t('layouts.application.footer.download.title2', :url => "/sources")) %></div>
  </div>
<% end %>

<%= render 'sources' %>
