@import '~styles/settings.scss';

.c-widget-footer {
  margin-top: rem(10px);
  font-size: 12px;
  color: rgba($slate, 0.5);

  .loss-driver-statement {
    display: inline-block;
    color: rgba($slate, 0.5);
  }

  .driver-separator {
    color: rgba($slate, 0.5);
    display: inline-block;
    padding: 0 rem(3px);
  }

  p {
    font-size: rem(12px);
    font-weight: 500;
    margin-top: rem(5px);
  }

  &.simple {
    font-size: rem(10px);

    p {
      font-size: rem(10px);
    }
  }
}

// TODO: To remove when refactoring caution messages
.c-widget-caution {
  background: $yellow;
  padding: 10px;
  border-radius: 5px;
  margin: 0 0 10px 0;
  color: $slate-light;
  font-weight: 500;

  a,
  .caution-link {
    width: fit-content;
    margin-bottom: rem(30px);
    color: $green-gfw;
  }

  a:hover,
  a:visited {
    color: darken($green-gfw, 10%);
  }
}
