@import '~styles/settings';

.c-show-analysis {
  height: 100%;
  width: 100%;

  .show-analysis-body {
    width: 100%;
    height: 100%;
    min-height: rem(260px);
    padding: rem(20px);
  }

  .save-aois-disclaimer {
    background-color: $border;
    padding: 0;
    padding-bottom: rem(60px);

    .content {
      padding: rem(20px);
      padding-bottom: 0;

      h3 {
        text-transform: uppercase;
        font-weight: 500;
        font-size: rem(12px);
        color: $slate-light;
      }

      p {
        font-size: rem(12px);
        color: $slate-light;
        margin: rem(10px) 0;
      }

      a {
        cursor: pointer;
      }

      img {
        width: 100%;
      }
    }
  }

  .draw-title {
    font-size: 14px;
    font-weight: 500;
    color: $slate;
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(15px);
    text-transform: uppercase;

    .title-btn {
      display: flex;
      cursor: pointer;
      font-size: rem(14px);
      height: auto;
      text-transform: uppercase;
      font-weight: 500;
      color: $slate;
      padding: 0;

      .button-wrapper {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
      }

      .analysis-title {
        font-size: rem(14px);
        font-weight: 500;
        color: $slate-light;
        line-height: 1.1;
      }

      &.left {
        padding-left: 0;
      }
    }

    .title-action {
      height: rem(20px);
    }

    .icon-arrow {
      position: relative;
      width: rem(10px);
      min-width: rem(10px);
      margin-right: rem(7px);
      margin-top: -1px;
      transform: rotateZ(90deg);
      fill: $slate;
    }

    .title-controls {
      display: flex;

      > * {
        padding: 0;
        padding-left: rem(8px);
      }
    }
  }

  .analysis-desc {
    font-size: rem(13px);
    color: $slate-light;
    line-height: 1.6;
    border-bottom: solid 1px $border;
    padding-bottom: rem(15px);
    margin-bottom: rem(15px);
  }

  .results {
    position: relative;
    height: calc(100% - 41px);
    min-height: rem(130px);

    .no-layers {
      min-height: rem(100px);
      position: relative;
      margin-top: rem(-10px);
    }

    .disclaimers {
      p {
        font-size: rem(12px);
        margin-bottom: rem(15px);
      }

      button {
        color: $green-gfw;
        cursor: pointer;
      }
    }
  }

  .draw-stat {
    padding-bottom: rem(15px);

    .title {
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      color: $slate;
      display: inline-block;
      line-height: 1.2;

      span {
        font-size: 9px;
        font-weight: normal;
        text-transform: lowercase;
        margin-left: rem(2px);
      }
    }

    .dates {
      font-size: rem(10px);
      display: inline-block;
      margin-right: rem(3px);
    }

    .threshold {
      font-size: rem(10px);
      display: inline-block;
    }

    .value {
      font-size: 18px;
      font-weight: 500;
      color: $slate;
      letter-spacing: 0.5px;
      display: flex;
      flex-direction: column;

      span {
        color: $slate;
        font-size: rem(10px);
        font-weight: normal;
        text-transform: lowercase;
        margin-left: rem(2px);
        letter-spacing: normal;
      }
    }
  }
}
