.country-show {
  font-family: $font-regular;
  color: $default-color;
  margin-top: -60px;

  .country-header {
    width: 100%;

    .country-header-inner {
      height: 350px;
      $wall-background: "backgrounds/wall_background_alpha.png";
      background: #464253;
      background-image: image-url($wall-background); /* fallback */
      background-image: image-url($wall-background), -webkit-gradient(linear, left top, left bottom, from(#464253), to(#383643)); /* Saf4+, Chrome */
      background-image: image-url($wall-background), -webkit-linear-gradient(top, #464253, #383643); /* Chrome 10+, Saf5.1+ */
      background-image: image-url($wall-background),    -moz-linear-gradient(top, #464253, #383643); /* FF3.6+ */
      background-image: image-url($wall-background),     -ms-linear-gradient(top, #464253, #383643); /* IE10 */
      background-image: image-url($wall-background),      -o-linear-gradient(top, #464253, #383643); /* Opera 11.10+ */
      background-image: image-url($wall-background),         linear-gradient(to bottom, #464253, #383643); /* W3C */
    }

    .country-title {
      padding: 20px;

      h1 {
        color: white;
        font-size: 47px;
        max-width: 500px;
        margin-right: 20px;
        display: inline-block;
        font-family: $font-regular;
      }

      .country-selector {
        display: inline-block;
        vertical-align: top;
        margin-top: 2px;
        border: 2px solid #73707D;
        border-radius: 40px;
        height: 39px;
        width: 310px;
      }

      select {
        border: none;
        font-size: 13px;
        text-transform: uppercase;
        background: transparent;
        color: #BEBCC2;
        -webkit-appearance: none;
        padding: 9px 15px;
        width: 100%;

        &:focus {
          outline: 0;
        }
      }
    } // country-title

    .country-details {
      background-color:rgba(0, 0, 0, 0.2);
      height: 263px;

      .country-preview {
        width: 735px;
        height: 100%;
        float: left;
        @include box-sizing(border-box);

        h4 {
          text-transform: uppercase;
          color: white;
          line-height: 18px;
          font-size: 14px;
        }

        .map,
        .tree-numbers,
        .loss-gain-graph {
          float: left;
          height: 100%;
          @include box-sizing(border-box);
        }

        .tree-numbers,
        .loss-gain-graph {
          padding: 30px 10px;
        }

        .map {
          width: 40%;
          height: 100%;
    
          &.leaflet-container {
            background: transparent;
          }
        }

        .tree-numbers {
          width: 25%;
          padding-left: 20px;

          h4 {
            width: 100px;
          }

          .amount,
          .unit {
            margin-top: 6px;
            color: $primary-color;
            display: inline-block;
          }

          .amount {
            font-size: 47px;
            font-weight: bold;
          }

          .total-extension {
            margin-top: 18px;
          }

          .total-extension .amount {
            font-size: 29px;
          }
        }

        .loss-gain-graph {
          width: 35%;
        }
      }

      .country-sidenav {
        float: right;
        width: 215px;
        height: 100%;
        background: #F2F2F3;

        > ul {
          padding: 10px 0;
          width: 100%;

          > li {
            width: 100%;
            position: relative;

            a {
              color: #464152;
              display: block;
              height: 53px;
              width: 100%;
              padding: 20px 25px;
              @include box-sizing(border-box);
              font-family: $font-medium;
              text-transform: uppercase;
              font-size: 14px;
              cursor: pointer;
            }

            .sidenav-icon {
              display: inline-block;
              position: absolute;
              top: 17px; right: 20px;
              height: 18px;
              width: 18px;
            }

            &:hover {
              background: #FFFFFF;
            }
          }
        }
      }

    } // country-details

    .country-indepth {
      clear: both;
      border: 1px solid #CCCCCC;
      border-bottom: 0;
      height: 185px;
      width: 100%;
      padding: 35px 20px;
      font-family: $font-medium;
      @include box-sizing(border-box);
      
      //@include country-icons-sprite(country-indepth);

      .country-indepth__title {
        font-size: 29px;
      }

      .country-indepth__body {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        margin-top: 20px;
      }

      .country-indepth__links {
        margin-top: 25px;
        color: #bbb;
        font-family: $font-light;
        font-size: 13px;

        a {
          font-size: 14px;
          display: inline-block;
          vertical-align: top;
          color: $primary-color;
          font-family: $font-medium;
        }
      }

    } // country-indepth
  } // country-header

  .country-nav-container {
    width: 100%;
    position: relative;
    height: 49px;

    .country-nav {
      width: 100%;
      border-bottom: 1px solid #CCCCCC;
      height: 49px;
      position: absolute;
      top: 0;
      z-index: 100;
    }

    .country-nav.fixed {
      background: #F2F2F3;
      .country-nav-items li a {
        border-top: none;
      }
    }

    .country-nav-items {
      width: 100%;
      text-align: center;

      > li {
        float: left;
        margin-right: -1px;
        height: 50px;
        width: 135px;
        @include box-sizing(border-box);

        &:first-child {
          width: 156px;
        }

        a {
          border: 1px solid #ccc;
          background: #F2F2F3;
          width: 100%;
          height: 100%;
          display: inline-block;
          padding: 11px 15px;
          color: $default-color;
          font-size: 14px;
          text-transform: uppercase;
          cursor: pointer;
          font-family: $font-medium;
          @include box-sizing(border-box);

          &.active {
            background: white;
            border-bottom: 1px solid white;
            color: #999999;
          }
        }

        &:hover a {
          color: $primary-color;
          background: #F9F9F9;

          &.active {
            background: white;
          }
        }
      }
    } // country-nav
  }

  .highlight {
    color: $primary-color;
  }

  .country-section {
    border-bottom: 1px solid #E5E5E5;
    width: 100%;
    padding: 45px 0;

    .section-info {
      margin-bottom: 12px;
      font-size: 14px;
      color: $default-color;
      font-family: $font-medium;
      text-transform: uppercase;
      letter-spacing: -0.2px;

      .info {
        margin-right: 6px;
      }
    }

    .section-content {
      padding-left: 30px;
      @extend .clearfix;

      .left-col,
      .right-col {
        float: left;
      }

      .left-col {
        width: 40%;
      }

      .right-col {
        width: 55%;
        padding-left: 5%;
      }

      .section-title {
        font-size: 29px;
        line-height: 36px;
        font-family: $font-medium;
        color: $default-color;
      }
    }
  }

  .country-alerts {
    .forma-alerts-legend {
      margin: 5px 0 25px 0;

      span {
        color: #666666;
        font-size: 13px;
        font-family: $font-light;
        display: block;
      }

      .legend-title {
        color: $primary-color;
        font-size: 14px;
        font-family: $font-medium;
        margin-bottom: 3px;
      }
    }

    .btn {
      border-radius: 20px;
      border: none;
      padding: 10px 20px 8px;
      background: $primary-color;
      font-family: $font-regular;
      font-size: 13px;
    }
  }

  .country-forests-type {
    .forests-type-graph {
      margin-top: -25px;
    }

    .forest-type-legends {
      font-size: 14px;
      display: inline-block;
      margin-top: 10px;

      .legends-title {
        color: $primary-color;
        margin-bottom: 10px;
        display: block;
      }

      .legends-list {
        li {
          display: block;
          margin-bottom: 5px;
          color: #777;
          font-family: $font-light;
          vertical-align: top;

          span {
            height: 14px;
            width: 14px;
            border-radius: 100px;
            display: inline-block;
            margin-right: 4px;
          }

          .regenerated {
            background: #819515;
          }

          .primary {
            background: #A1BA42;
          }

          .planted {
            background: #DDDDDD;
          }
        }
      }
    }
  }

  .country-tenure {
    .line-graph {
      font-weight: bold;
      text-transform: uppercase;

      circle {
        stroke-width: 2px;
        stroke: #f5f5f5;
      }

      text {
        @extend .sans-serif;
        font-size: 12px;
      }

      .one {
        fill: #75B22E;
      }

      .two {
        fill: #AAC700;
      }

      .three {
        fill: #AC0;
      }

      .four {
        fill: #FFD24D;
      }
    }
  } // country-tenure

  .country-carbon-stocks {
    .carbon-text,
    .emissions-text {
      float: left;
      padding: 50px 0;
      @include box-sizing(border-box);

      .section-info {
        margin-bottom: 25px;
      }

      &.wide {
        width: 100%;
      }
    }

    .carbon-text {
      width: 44%;
      margin-right: 4%;
    }

    .emissions-text {
      width: 52%;
      background: #444050;
      text-align: right;
      padding-right: 20px;

      .section-info {
        color: #908E97;
        a {
          margin-right: 0;
          margin-left: 5px;
        }
      }

      .section-content h3 {
        color: white;
        padding-right: 28px;
      }
    }
  } // country-carbon-stocks

  .country-employment {
    .section-content .left-col {
      width: 460px;
    }

    .section-content .left-col .section-title {
      @extend .clearfix;
      margin-bottom: 10px;
      font-size: 47px;
      display: inline-block;

      div,
      span {
        margin-top: 8px;
        float: left;
      }

      span {
        width: 250px;
        margin: 4px 0 0 10px;
        font-size: 11px;
        line-height: 1.2;
        @extend .sans-serif;
        text-transform: uppercase;
        color: #444;
      }
    }

    .man-list {
      color: #919191;
    }
  } // country-employment

  .country-conventions {
    ul {
      margin-right: -15px;
    }

    li {
      display: block;
      position: relative;
      float: left;
      margin: 0 10px 10px 0;
      padding-top: 25px;
      width: 120px;
      height: 67px;
      border: 2px solid #CCCCCC;
      font-weight: bold;
      font-size: 12px;
      @extend .sans-serif;
      text-align: center;
      color: #AAAAAA;
      @include border-radius(2px);

      span {
        position: absolute;
        display: block;
        left: 0; right: 0; bottom: 0;
        padding: 5px;
        border-top: 1px solid #E2E2E2;
        font-weight: normal;
        font-style: italic;
        line-height: 12px;
        font-size: 11px;
        text-transform: uppercase;
      }
    }
  } // country-conventions

  .country-external-links {
    color: #ddd;
    font-size: 14px;

    .section-content {
      padding-left: 0;
      padding-bottom: 10px;
    }

    li {
      @include inline-block();
      border-left: 1px solid #ddd;
      padding-left: 8px;
      margin: 0 0 10px 5px;
      line-height: 14px;

      &:first-child {
        border: 0;
        margin-left: 0;
        padding-left: 0;
      }
    }

    a {
      text-decoration: underline;
    }
  } // external-links

  .country-download-links {
    background-color: #F8FAF0;
    text-align: center;
    padding: 50px 0;
    border-bottom-color: #141414;

    a {
      text-transform: uppercase;
      padding: 14px 30px 12px 30px;
      font-size: 13px;
      color: #393939;
      font-family: $font-medium;
      border-color: #E0E9C1;
      margin-top: 0;

      &:first-child {
        margin-right: 10px;
      }

      &:hover {
        border: 2px solid #ACCD00;
      }
    }
  } // download-links

  .country-blog {
    text-align: center;
    background: #141414;
    color: white;

    .section-content {
      padding: 0;

      .section-title {
        color: #A0B941;
        font-family: $font-regular;
        font-size: 36px;
        margin-bottom: 25px;
      }
    }

    .columns {
      padding: 0;
      min-height: 340px;
    }

    .column-title {
      position: relative;
      font-size: 14px;
      text-transform: uppercase;
      color: #444;
      font-family: $font-medium;
      margin-bottom: 20px;
      display: inline-block;
    }

    .story-title {
      margin-bottom: 18px;
      font-size: 27px;
      color: #FFF;
    }

    .story-content {
      margin-bottom: 30px;
      color: #727272;
      line-height: 1.3;
      font-size: 14px;

      a {
        text-decoration: underline;
        color: #666;
      }
    }

    .column {
      display: block;
      margin-top: 40px;
      min-height: 266px;

      &.first,
      &.last,
      &.round {
        width: 33%;
        margin: 0;
        margin-top: 10px;
        padding: 0;
      }

      &.round {
        a {
          margin: auto;
        }

        .circle-wrapper {
          position: relative;
          width: 266px;
          height: 100%;
          margin: auto;
          margin-bottom: 20px;
        }

        .title strong,
        .title span {
          font-family: $font-medium;
          font-weight: normal;
          font-size: 21;
        }

        .title span {
          font-size: 14px;
        }
      }

      &.first {
        text-align: left;
      }

      &.last {
        text-align: right;
      }

      &.no_story {
        .gradient {
          background-image: image-url('backgrounds/bkg_circles_gradient_nostory.png');
        }
      }

      .inline {
        display: inline;
        width: auto;
        height: auto;
      }

      .frame {
        width: 266px;
        background: #5E5E5E;
      }

      .see-more {
        text-transform: uppercase;
        font-size: 14px;
        color: #797979;
        font-family: $font-medium;
      }
    }
  } // country-blog

  .country-comments {
    background-color: #F5F5F5;
  } // country-comments
}