.m-grouped-chart {
  rect {
    stroke-width: 2;
    shape-rendering: crispEdges;
  }

  text {
    font-size: 10px;
    text-align: center;
    fill: #555555;
  }

  .axis {
    text {
      font: 10px sans-serif;
    }

    path{
      fill: none;
      stroke: #000;
    }

    line {
      stroke-width: 2;
      stroke: #e6e6e6;
      stroke-dasharray: 4, 4;
      shape-rendering: crispEdges;
    }

    &.x {
      .domain {
        display: none;
      }
    }

    &.y {
      .domain {
        display: none;
      }
    }
  }
}
