@import '~styles/settings';

.c-layer-toggle {
  display: flex;
  margin-bottom: rem(21px);

  &:last-child {
    margin-bottom: 0;
  }

  &__content {
    flex: 1;
    padding-left: rem(6px);
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: -0.3px;
    color: $slate;
  }

  &__description {
    font-size: 12px;
    line-height: normal;
    letter-spacing: -0.3px;
    color: $hot-grey;
    margin-top: rem(3px);
  }
}
