@import '~styles/settings.scss';

.l-section-projects {
  padding: rem(30px) 0 0;
  border-top: solid 1px $border;

  @media screen and (min-width: $screen-m) {
    padding: rem(50px) 0 0;
  }

  h3 {
    margin: rem(10px) 0 rem(20px);

    @media screen and (min-width: $screen-m) {
      margin-bottom: rem(30px);
    }
  }

  p {
    margin-bottom: rem(30px);
    font-size: 18px;
    line-height: 30px;
  }

  .help-btn {
    margin: rem(20px) 0;
    width: rem(250px);

    @media screen and (min-width: $screen-m) {
      margin: rem(40px) 0 0;
    }
  }

  .visitors {
    padding: rem(50px) 0 rem(130px);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;

    h4 {
      font-weight: 300;
      font-size: rem(30px);
      max-width: rem(600px);
      margin: auto;
      text-align: center;
    }
  }

  .video-btn {
    display: flex;
    align-items: center;
    margin-bottom: rem(40px);
    width: fit-content;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    .video-icon {
      display: inline-block;
      margin-right: rem(10px);
    }

    .video-msg {
      margin: 0;
      text-transform: uppercase;
      color: $slate-dark;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
