@import '~styles/settings';

.theme-button-medium {
  height: rem(26px);
  border-radius: rem(13px);
  padding: 0 rem(13px);
  font-size: rem(14px);
  line-height: 0.8em;
  white-space: nowrap;

  &.square {
    width: rem(26px);
    min-width: rem(26px);
    padding: 0;
  }

  svg {
    width: rem(13px);
    height: rem(13px);
  }
}
