@import '~styles/settings';

.theme-button-small {
  max-width: rem(90px);
  height: rem(20px);
  border-radius: rem(10px);
  padding: 0 rem(10px);
  font-size: rem(12px);
  white-space: nowrap;

  &.square {
    width: rem(20px);
    min-width: rem(20px);
    padding: 0;
  }

  svg {
    width: rem(10px);
    height: rem(10px);
  }
}
