@import '~styles/settings';

.theme-button-light {
  background-color: transparent;
  color: $slate;
  border: solid 1px $green-gfw;
  text-transform: uppercase;
  font-weight: 500;
  font-size: rem(14px);

  &:hover {
    background-color: $grey-light;
  }

  svg {
    fill: $grey-dark;
  }

  &.disabled {
    border-color: $grey-light;

    &:hover {
      background-color: $grey-light;
      border-color: $grey-light;
    }

    svg {
      fill: $white;
    }
  }
}
