# Application
FEEDBACK_MAIL=hello@vizzuality.com
LAYER_SPEC=layerspec

# GFW Links
GFW_API=https://production-api.globalforestwatch.org
GFW_API_OLD=https://api.globalforestwatch.org
GFW_ASSETS_URL=https://gfw-assets.s3.amazonaws.com/static/gfw-assets.nightly.js
GFW_BLOG_HOST=http://blog.globalforestwatch.org
GFW_HOWTO_URL=http://vizzuality.github.io/gfw-howto
GFW_DEVELOPERS_URL=http://vizzuality.github.io/gfw-atlas

# External APIs
CARTO_API=https://wri-01.carto.com/api/v2
RESOURCE_WATCH_API=https://api.resourcewatch.org/v1
CLIMATE_WATCH_API=https://climate-watch.vizzuality.com/api/v1
TRASE_API=https://trase.earth/api/v3

# AWS
AWS_HOST=/uploads
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=my-excellent-region
S3_BUCKET_NAME=
S3_DATA_BUCKET_NAME=

# Google
ANALYTICS_PROPERTY_ID=
LANDSTAD_KEY=
SENTINEL_KEY=
GOOGLE_MAPS_API_KEY=
GOOGLE_CUSTOM_SEARCH_CX=
GOOGLE_SEARCH_API_KEY=

# Bitly
BITLY_API_URL=https://api-ssl.bitly.com/v3
BITLY_USER=
BITLY_API_KEY=

# Datasets
COUNTRIES_PAGE_DATASET=a20e9c0e-8d7d-422f-90f5-3b9bca355aaf
GADM36_ADM0_DATASET=10e124f0-3703-41e3-8136-492b131d5326
GADM36_ADM1_DATASET=857b515e-2b36-41b5-a58c-d4e7202e254a
GADM36_ADM2_DATASET=82a317da-1fec-4bd0-b9d6-ebe786b9f269
GLAD_ISO_DATASET=391ca96d-303f-4aef-be4b-9cdb4856832c
GLAD_ADM1_DATASET=c7a1d922-e320-4e92-8e4c-11ea33dd6e35
GLAD_ADM2_DATASET=428db321-5ebb-4e86-a3df-32c63b6d3c83
FIRES_ISO_DATASET=ff289906-aa83-4a89-bba0-562edd8c16c6
FIRES_ADM1_DATASET=9b9e56fc-270e-486d-8db5-e0a839c9a1a9
FIRES_ADM2_DATASET=0f24299d-2aaa-4afc-945c-b614028c12d1

# Transifex
TRANSIFEX_URL=https://www.transifex.com/api/2/project
TRANSIFEX_PROJECT=
TRANSIFEX_SLUG=
TRANSIFEX_API_TOKEN=
TRANSIFEX_RESOURCE_API_TOKEN=
LOCALES_PATH=app/javascript/locales

# SMTP
SMTP_USERNAME=
SMTP_PASSWORD=

# CYPRESS
CYPRESS_RECORD_KEY=
