# Application

# GFW Links
GFW_API=https://staging-api.globalforestwatch.org
GFW_API_OLD=https://api.globalforestwatch.org
GFW_HOWTO_URL=http://vizzuality.github.io/gfw-howto
GFW_DEVELOPERS_URL=http://vizzuality.github.io/gfw-atlas

# External APIs
CARTO_API=https://wri-01.carto.com/api/v2
RESOURCE_WATCH_API=https://api.resourcewatch.org/v1
CLIMATE_WATCH_API=https://climate-watch.vizzuality.com/api/v1
TRASE_API=https://trase.earth/api/v3

# AWS
AWS_HOST=/uploads
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=my-excellent-region
S3_BUCKET_NAME=
S3_DATA_BUCKET_NAME=

# Google
ANALYTICS_PROPERTY_ID=
LANDSTAD_KEY=
SENTINEL_KEY=
GOOGLE_MAPS_API_KEY=
GOOGLE_CUSTOM_SEARCH_CX=
GOOGLE_SEARCH_API_KEY=

# Bitly
BITLY_API_URL=https://api-ssl.bitly.com/v3
BITLY_USER=
BITLY_API_KEY=

# Datasets
COUNTRIES_PAGE_DATASET=e5149c98-c31d-4f7e-95eb-654993031348
GADM36_ADM0_DATASET=26b5dc1c-53e3-4551-a7b0-8d89338f3e97
GADM36_ADM1_DATASET=cb9bc128-d784-45d8-a540-04dba9a4d4d6
GADM36_ADM2_DATASET=651ed8f7-a4d5-47ae-9a11-667584aa6537
GLAD_ISO_DATASET=330059f3-10ca-4a4e-a8c6-9ca656cc7ab1
GLAD_ADM1_DATASET=59bd4d61-9b3a-4b02-a0b5-b511f829262b
GLAD_ADM2_DATASET=ab92314c-00f8-4934-9458-d5f78094d0ef
FIRES_ISO_DATASET=b48717f8-c871-499e-b998-30b9bd363dd6
FIRES_ADM1_DATASET=14550ba9-f71f-4a1f-a51d-179063622285
FIRES_ADM2_DATASET=e6d39f9c-4404-4fe5-a0b1-cde96da6c7b4

# Transifex
TRANSIFEX_URL=https://www.transifex.com/api/2/project
TRANSIFEX_PROJECT=
TRANSIFEX_SLUG=
TRANSIFEX_API_TOKEN=
TRANSIFEX_RESOURCE_API_TOKEN=
LOCALES_PATH=app/javascript/locales

# SMTP
SMTP_USERNAME=
SMTP_PASSWORD=

# CYPRESS
CYPRESS_RECORD_KEY=
