{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "Stats": true,
    "fetch": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": false,
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "extends": "airbnb",
  "rules": {
    "arrow-body-style": [0, "never"],
    "react/forbid-prop-types": [0, { "forbid": ["array"] }],
    "jsx-a11y/href-no-hash": [0, { "components": ["a"] }],
    "react/jsx-no-bind": [1, {
      "ignoreRefs": true,
      "allowArrowFunctions": true,
      "allowBind": true
    }],
    "react/jsx-filename-extension": [0, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/label-has-for": [ 2, {
      "components": [ "Label" ],
      "required": {
          "every": [ "nesting", "id" ]
      },
      "allowChildren": false
    }],
    "no-console": ["error", {
      "allow": ["warn", "error", "info"]
    }],
    "comma-dangle": 0,
    "no-restricted-properties": ["error", {
      "object": "arguments",
      "property": "callee",
      "message": "arguments.callee is deprecated"
    }, {
      "property": "__defineGetter__",
      "message": "Please use Object.defineProperty instead."
    }, {
      "property": "__defineSetter__",
      "message": "Please use Object.defineProperty instead."
    }]
  }
}
