@import '~styles/settings.scss';

.c-lollipop-chart {
  font-size: rem(12px);
  color: $slate;
  max-width: 80%; // verified
  margin: auto;

  .unit-legend {
    text-align: end;
  }

  .list {
    max-height: rem(340px);
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(10px);

    &.-bar {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: rem(20px);
    }
  }

  a {
    color: $slate;

    &:hover {
      .item-name {
        text-decoration: underline;
      }
    }
  }

  .disabled {
    pointer-events: none;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .item-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(16px);
    min-width: rem(16px);
    height: rem(16px);
    min-height: rem(16px);
    border-radius: 50%;
    margin-right: rem(10px);
    background-color: $border;
  }

  .item-label {
    width: 40%;
    padding-right: rem(35px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .item-lollipop-bar {
    width: 60%;
    display: flex;
    align-items: center;
    height: rem(18px);

    .item-bar {
      height: rem(2px);
      position: relative;
      top: 0;
      left: 0;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .item-value {
    min-width: rem(35px);
    margin-right: 15px;
    text-align: right;
  }
}
