@import '~styles/settings.scss';

.c-lollipop-chart {
  font-size: rem(12px);
  color: $slate;
  max-width: 80%;
  max-height: 335px;
  margin: auto;

  .chart-wrapper {
    height: 335px;
    overflow-y: scroll;
  }

  .unit-legend {
    text-align: end;
  }

  a {
    color: $slate;

    &:hover {
      .item-name {
        text-decoration: underline;
      }
    }
  }

  .disabled {
    pointer-events: none;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}
