@import '~styles/settings.scss';

.c-widget-footer {
  margin-top: rem(10px);
  font-size: 12px;
  color: rgba($slate, 0.5);

  .loss-driver-statement {
    display: inline-block;
    color: rgba($slate, 0.5);
  }

  .driver-separator {
    color: rgba($slate, 0.5);
    display: inline-block;
    padding: 0 rem(3px);
  }

  &.simple {
    font-size: rem(10px);
  }
}
