$black-tabs: #404040;
.c-header {
  background-color: $slate-light;
  height: rem(350px);

  .row {
    max-width: none;
    padding-top: rem(80px);
    width: calc(70% - 100px);
    min-height: rem(350px);;
    margin: 0;
    margin-left: rem(50px);
  }

  .c-header__select {
    font-size: 47px;
    font-weight: 300;
    color: $white;
    margin-bottom: rem(15px);

    &:last-of-type {
      margin-bottom: 0;
    }

    select {
      background-color: transparent;
      border: 0;
      -webkit-appearance: none;
      outline: none;
      color: inherit;
      font-weight: 300;
      font-size: 47px;
    }

    .c-header__select-arrow {

    }
  }

  .c-header__info {
    p {
      color: rgba($white, .9);
      font-weight: 500;
      letter-spacing: .1px;
      line-height: 1.67;
      font-size: 18px;

      strong {
        color: $green-gfw;
      }

      &:first-of-type {
        margin-bottom: 18px;
      }

    }
  }

  .c-header__tabs {
    height: rem(40px);
    background-color: $black-tabs;

    .row {
      padding-top: 0;
      min-height: auto;
      max-width: none;
      width: calc(70% - 100px);
      margin: 0;
      margin-left: rem(50px);

      ul {
        padding: 0 rem(20px);

        li {
          cursor: pointer;
          height: rem(40px);
          font-size: 13px;
          color: $slate;
          text-transform: uppercase;
          letter-spacing: .1px;
          padding: 0 rem(14px);
          display: flex;
          align-items: center;
          justify-content: center;

          &.-selected {
            background-color: $white;
          }
        }
      }
    }
  }
}
