.c-widget-tree-cover {

  .c-widget-tree-cover__legend {
    display: inline-block;
    width: 50%;
    padding-top: rem(24px);

    li:not(:last-child) {
      margin-bottom: rem(37px);
    }

    .c-widget-tree-cover__legend-title {
      font-size: 12px;
      line-height: 1.08;
      color: $slate;

      span {
        position: relative;
        top: rem(1px);
        display: inline-block;
        width: rem(12px);
        height: rem(12px);
        margin-right: rem(7px);
        border-radius: 100%;
      }
    }

    .c-widget-tree-cover__legend-value {
      padding: rem(7px) 0 0 rem(19px);
      font-size: 28px;
      font-weight: 500;
    }
  }

  .c-widget-tree-cover__chart {
    display: inline-block;
    vertical-align: top;
    margin: rem(22px) auto 0;
    width: 50%;
    text-align: right;

    .recharts-wrapper {
      display: inline-block;
    }
  }
}
