.c-widget-tree-cover-gain {
  .c-widget-tree-cover-gain__container {
    .c-widget-tree-cover-gain__info {
      border-top: 1px solid rgba($slate, .2);

      .title {
        display: block;
        margin: rem(10px) 0 rem(18px);
        font-size: 12px;
        line-height: 1.08;
        color: rgba($slate, .5);
        font-weight: 400;
      }

      p {
        font-weight: 300;
        line-height: 1.58;
        letter-spacing: 0.1px;
        font-size: 20px;

        strong {
          color: #6f6de9;
        }
      }
    }
  }
}
