.c-widget-areas-most-cover-gain {
  .c-widget-header {
    border-bottom: 1px solid rgba($slate, .2);
    margin-bottom: rem(10px);
  }

  .title-legend {
    display: block;
    margin-bottom: rem(10px);
    font-size: 12px;
    color: rgba($slate, .5);
    width: 100%;
  }

  .c-widget-areas-most-cover-gain__container {
    display: flex;
    flex-direction: row;
    position: relative;

    .c-widget-areas-most-cover-gain__legend {
      max-width: 50%;

      li {
        display: flex;
        font-size: 12px;
        color: $slate;
        margin-bottom: rem(16px);
        justify-content: space-between;

        &:last-of-type {
          margin-bottom: 0;
        }

        &.-right {
          position: absolute;
          right: 0;
          bottom: 0;
        }

        .c-widget-areas-most-cover-gain__legend-title {
          display: flex;
          align-items: center;

          div {
            width: rem(16px);
            height: rem(16px);
            border-radius: rem(16px);
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            margin-right: rem(12px);
            color: $white;
            font-size: 12px;
          }
        }
      }
    }

    .c-widget-areas-most-cover-gain__chart {
      max-width: 50%;
      margin: rem(60px) auto 0;
    }
  }

  .c-widget-areas-most-cover-gain__scroll-more {
    margin-top: rem(10px);
    border-top: 1px rgba($slate, .1) solid;
    padding-bottom: rem(10px);

    .circle-icon {
      width: rem(18px);
      height: rem(18px);
      border-radius: rem(18px);
      border: rem(1px) rgba($slate, .1) solid;
      margin: rem(10px) auto 0;
      position: relative;

      .icon {
        fill: rgba($slate, .5);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: rem(8px);
        height: rem(8px);
      }
    }
  }
}
