.c-widget-tree-located {

  .c-widget-tree-located__regions {
    margin-top: rem(14px);
    font-size: 12px;
    text-align: left;
    color: $slate;
    min-height: rem(290px);

    li {
      display: inline-flex;
      width: 100%;
      line-height: 2.37;
    }

    .c-widget-tree-located__region-bubble {
      position: relative;
      top: rem(6px);
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(16px);
      height: rem(16px);
      color: $white;
      border-radius: 100%;
    }

    .c-widget-tree-located__region-name {
      width: rem(118px);
      margin-left: rem(13px);
    }

    .c-widget-tree-located__region-percent {
      display: flex;
      justify-content: center;
      width: rem(24px);
    }

    .c-widget-tree-located__region-value {
      flex: auto;
      text-align: right;
    }
  }

  .c-widget-tree-located__scroll-more {
    display: flex;
    justify-content: center;
    margin-top: rem(10px);
    border-top: 1px rgba($slate, .1) solid;
    padding-bottom: rem(10px);

    .circle-icon {
      cursor: pointer;
      width: rem(20px);
      height: rem(20px);
      margin-top: rem(10px);
      border-radius: rem(18px);
      border: rem(1px) rgba($slate, .1) solid;
      position: relative;

      &.-up {
        margin-right: rem(10px);
        transform: rotate(180deg);
      }

      &.-no-right {
        margin-right: 0;
      }

      .icon {
        fill: rgba($slate, .5);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: rem(11px);
        height: rem(11px);
      }
    }
  }
}
