.c-widget {
  width: 100%;
  padding: rem(25px) rem(20px);
  border-radius: 4px;
  border: solid 1px rgba($medium-grey, 0.2);

  .c-widget-header {
    position: relative;
    height: rem(78px);

    .c-widget-header__title {
      width: 60%;
      font-size: 13px;
      font-weight: 500;
      line-height: 1.54;
      color: $slate;
      text-transform: uppercase;
    }

    .c-widget-header__options {
      position: absolute;
      right: rem(-7px);
      top: rem(-4px);

      li {
        display: inline-flex;
        vertical-align: top;

        &:not(:last-child) {
          margin-right: rem(5px);
        }
      }

      .c-widget-header__option-circle {
        width: rem(18px);
        height: rem(18px);
        border-radius: 100%;
        position: relative;
        cursor: pointer;

        &.c-widget-header__option-circle--green {
          background-color: $green-gfw;

          &:hover {
            background-color: darken($green-gfw, 10%);
          }
        }

        &.c-widget-header__option-circle--white {
          border: solid 1px #d6d6d6;
          background-color: $white;
        }

        .icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: rem(10px);
          height: rem(10px);
          fill: $white;

          &.-dark {
            fill: $slate;
          }
        }
      }

      .c-widget-header__option-button {
        justify-content: center;
        align-items: center;
        width: rem(100px);
        height: rem(20px);
        font-size: 12px;
        text-align: left;
        color: #ffffff;
        background-color: $green-gfw;
        border-radius: rem(100px);
        cursor: pointer;

        .small-4 & {
          position: absolute;
          top: rem(38px);
          right: 0;
        }

        .small-8 & {
          position: relative;
          top: rem(-1px);
          margin-right: rem(24px);

          &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: rem(-12px);
            margin: auto;
            width: rem(1px);
            height: rem(14px);
            background-color: rgba($medium-grey, 0.2);
          }
        }

        &:hover {
          background-color: darken($green-gfw, 10%);
        }
      }
    }

    .small-4 & {
      height: rem(78px);
    }

    .small-8 & {
      height: rem(59px);
    }
  }
}

.c-widget-settings {
  width: rem(244px);
  padding-top: rem(26px);
  background-color: $white;
  text-align: left;

  .c-widget-settings__title {
    font-size: 14px;
    color: $slate;
  }

  .c-widget-settings__select {
    padding: 0 rem(24px) rem(22px) rem(24px);

    .c-widget-settings__title {
      margin-bottom: rem(16px);
    }

    .dd__selectControl {
      border: solid 1px #e5e5df;
      border-radius: 0;
    }

    .dd__openTobottom {
      margin-top: rem(-1px);
      border: solid 1px #e5e5df;
      border-radius: 0;
      border-top: 0;
    }

    .dd__selectControl,
    .dd__option {
      padding: rem(5px) rem(12px);
    }

    .dd__selectedItem,
    .dd__option {
      font-size: 13px;
      letter-spacing: 0.1px;
    }

    .dd__option {
      color: #9e9e9e;
    }

    .dd__selectedItem,
    .dd__selectedOption {
      color: $slate;
    }
  }

  .c-widget-settings__button-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(8px) rem(24px);
    border-top: 1px solid #e5e5df;

    .dd__selectControl {
      height: rem(27px);
      padding: 0 rem(21px);
      border: 0;
      border-radius: 19px;
      background-color: $green-gfw;
    }

    .dd__expandIcon {
      display: none;
    }

    .dd__selectedItem {
      font-size: 13px;
      letter-spacing: 0.1px;
      color: $white;
    }
  }
}
