.c-widget-paginate {
  display: flex;
  justify-content: center;
  border-top: 2px solid rgba(151, 151, 151, 0.2);
  width: calc(100% - #{rem(48px)});
  margin: rem(15px) auto auto auto;

  .c-widget-paginate__icon {
    cursor: pointer;
    width: rem(20px);
    height: rem(20px);
    margin-top: rem(10px);
    border-radius: rem(18px);
    border: rem(1px) rgba($slate, .1) solid;
    position: relative;

    &.c-widget-paginate__icon--up {
      transform: rotate(180deg);
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      width: rem(11px);
      height: rem(11px);
      fill: rgba($slate, .5);
      transform: translate(-50%, -50%);
    }

    &:nth-child(2) {
      margin-left: rem(10px);
    }
  }
}
