.dd__wrapper {
  &.dd__opened {
    width: 100%;

    .dd__list {
      max-width: 100%;
      
      .dd__option {
        font-size: 30px;
        word-break: break-word;
        max-width: 100%;
        white-space: pre-line;
        line-height: 40px;
      }
    }
  }

  .dd__selectControl {
    background-color: transparent;
    border: 0;

    .dd__selected {
      .dd__placeholder,
      .dd__selectedItem {
        height: rem(56px);
        font-size: 47px;
        font-weight: 300;
        color: $white;
        width: 100%;
        display: flex;
        align-items: center;
      }
    }
  }
}
