.dd__error .dd__placeholder {
					color: #E9596A;
					-webkit-user-select: none;
					   -moz-user-select: none;
					    -ms-user-select: none;
					        user-select: none;
}.dd__opened .dd__search {
					opacity: 1;
}.dd__disabled .dd__selectControl {
			cursor: default;
}.dd__wrapper {
  position: relative;
}

.dd__opened {
  border-radius: 3px;
  border-color: #373C43;
  color: #373C43;
}

.dd__disabled {
  border-color: #6D757B;
  color: #6D757B;
}

.dd__error {
	border-color: #E9596A;
}

	.dd__selectControl {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
    font-size: 14px;
		padding: 8px;
    border: 1px solid #373C43;
    border-radius: 3px;
    background-color: #FFF;
    color: #373C43;
		line-height: 20px;
		cursor: pointer;
		overflow: hidden
	}

	.dd__error .dd__selectControl {
			color: #E9596A;
			-webkit-user-select: none;
			   -moz-user-select: none;
			    -ms-user-select: none;
			        user-select: none;
}

		.dd__selected {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-flex: 1;
			    -ms-flex-positive: 1;
			        flex-grow: 1;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
      overflow: hidden
		}

		.dd__multi .dd__selected {
				margin-top: -2px;
}

			.dd__search {
				display: inline-block;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				-webkit-box-flex: 1;
				    -ms-flex-positive: 1;
				        flex-grow: 1;
				border: 1px solid transparent;
				outline: 0;
        opacity: 0;
        min-height: 20px;
        word-break: break-word
			}

			.dd__multi .dd__search {
					margin-top: 2px;
}

			.dd__placeholder {
				border: 1px solid transparent;
				color: #6D757B
			}

			.dd__multi .dd__placeholder {
					margin-top: 2px;
}

			.dd__selectedItem {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				border: 1px solid transparent
			}

			.dd__multi .dd__selectedItem {
					border-color: #A9B6D2;
					background-color: #E3EAF6;
					border-radius: 2px;
					margin-top: 2px;
					margin-right: 2px;
					padding: 0 4px;
}

				.dd__crossIcon {
					margin-left: 5px;
				}

		.dd__expandIcon {
			width: 9px;
			height: 15px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
			fill: #2D3136
		}

		.dd__error .dd__expandIcon {
				fill: #E9596A;
}

	.dd__list {
		display: none;
		position: absolute !important;
		background-color: #FFF;
		overflow: auto;
		z-index: 1;
		-webkit-overflow-scrolling: touch;
    min-width: 100%;
    border: 1px solid #373C43;
    border-radius: 3px;
    box-shadow: 0 3px 7px 0 rgba(#000, 0.08);

		/* Without this property, Chrome repaints the entire Grid any time a new row or column is added.
	     Firefox only repaints the new row or column (regardless of this property).
	     Safari and IE don't support the property at all. */
	  will-change: transform
	}

	.dd__opened .dd__list {
			display: block;
}

	.dd__opened .dd__list:empty {
        display: none;
}

	.dd__listVirtualized {
	  overflow-y: auto;
	  overflow-x: hidden;

		:global(.Grid__innerScrollContainer) {
		  overflow: hidden;
		  position: relative;
		}
	}

	.dd__openTobottom {
		top: 100%;
		margin-top: 5px;
	}

	.dd__openTotop {
		bottom: 100%;
		margin-bottom: 5px;
	}

		.dd__optionVirtualized {
			position: absolute;
		}

			.dd__option {
				padding: 10px;
        line-height: 20px;
				white-space: nowrap;
				cursor: pointer
			}

			.dd__option:hover {
					background-color: #F1F1F1;
}

			.dd__selectedOption {
				background-color: #F1F1F1;
			}

      .dd__optionDisabled {
        cursor: default
      }

      .dd__optionDisabled:hover {
					background-color: transparent;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3NyYy9SZWFjdFNlbGVjdE1lLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUEyRkk7S0FDQyxlQUEwQjtLQUMxQiwwQkFBa0I7UUFBbEIsdUJBQWtCO1NBQWxCLHNCQUFrQjthQUFsQixrQkFBa0I7Q0FDbEIsQUFoQkc7S0FDSCxXQUFXO0NBQ1gsQUFoQ0g7R0FDQyxnQkFBZ0I7Q0FDaEIsQUF2Q0g7RUFDRSxtQkFBbUI7Q0FDcEI7O0FBRUQ7RUFDRSxtQkFBbUI7RUFDbkIsc0JBQWdDO0VBQ2hDLGVBQXlCO0NBQzFCOztBQUVEO0VBQ0Usc0JBQW9DO0VBQ3BDLGVBQTZCO0NBQzlCOztBQUVEO0NBQ0Msc0JBQWlDO0NBQ2pDOztDQUVBO0VBQ0MscUJBQWM7RUFBZCxxQkFBYztFQUFkLGNBQWM7RUFDZCwwQkFBb0I7TUFBcEIsdUJBQW9CO1VBQXBCLG9CQUFvQjtJQUNsQixnQkFBZ0I7RUFDbEIsYUFBYTtJQUNYLDBCQUFvQztJQUNwQyxtQkFBbUI7SUFDbkIsdUJBQXFDO0lBQ3JDLGVBQXlCO0VBQzNCLGtCQUFnQztFQUNoQyxnQkFBZ0I7RUFDaEIsZ0JBQWlCO0VBVWpCOztDQVJBO0dBQ0MsZUFBMEI7R0FDMUIsMEJBQWtCO01BQWxCLHVCQUFrQjtPQUFsQixzQkFBa0I7V0FBbEIsa0JBQWtCO0NBQ2xCOztFQU9EO0dBQ0MscUJBQWM7R0FBZCxxQkFBYztHQUFkLGNBQWM7R0FDZCxvQkFBYTtPQUFiLHFCQUFhO1dBQWIsYUFBYTtHQUNiLG9CQUFnQjtPQUFoQixnQkFBZ0I7TUFDYixnQkFBaUI7R0FLcEI7O0VBSEE7SUFDQyxpQkFBaUI7Q0FDakI7O0dBR0Q7SUFDQyxzQkFBc0I7SUFDdEIsMEJBQW9CO1FBQXBCLHVCQUFvQjtZQUFwQixvQkFBb0I7SUFDcEIsb0JBQWE7UUFBYixxQkFBYTtZQUFiLGFBQWE7SUFDYiw4QkFBOEI7SUFDOUIsV0FBVztRQUNQLFdBQVc7UUFDWCxpQkFBK0I7UUFDL0Isc0JBQXVCO0lBUzNCOztHQVBBO0tBQ0MsZ0JBQWdCO0NBQ2hCOztHQU9GO0lBQ0MsOEJBQThCO0lBQzlCLGNBQTZCO0lBVTdCOztHQVJBO0tBQ0MsZ0JBQWdCO0NBQ2hCOztHQVFGO0lBQ0MscUJBQWM7SUFBZCxxQkFBYztJQUFkLGNBQWM7SUFDZCw2QkFBOEI7SUFVOUI7O0dBUkE7S0FDQyxzQkFBc0I7S0FDdEIsMEJBQTBCO0tBQzFCLG1CQUFtQjtLQUNuQixnQkFBZ0I7S0FDaEIsa0JBQWtCO0tBQ2xCLGVBQWU7Q0FDZjs7SUFHRDtLQUNDLGlCQUFpQjtLQUNqQjs7RUFFSDtHQUNDLFdBQVc7R0FDWCxhQUFhO01BQ1YscUJBQWU7VUFBZixlQUFlO0dBQ2xCLGFBQXlCO0dBS3pCOztFQUhBO0lBQ0MsY0FBeUI7Q0FDekI7O0NBR0g7RUFDQyxjQUFjO0VBQ2QsOEJBQThCO0VBQzlCLHVCQUFxQztFQUNyQyxlQUFlO0VBQ2YsV0FBVztFQUNYLGtDQUFrQztJQUNoQyxnQkFBZ0I7SUFDaEIsMEJBQW9DO0lBQ3BDLG1CQUFtQjtJQUNuQix5Q0FBdUQ7O0VBRXpEOzt5REFFdUQ7R0FDdEQsc0JBQXVCO0VBU3hCOztDQVBBO0dBQ0MsZUFBZTtDQUtmOztDQUhHO1FBQ0UsY0FBYztDQUNmOztDQUlOO0dBQ0UsaUJBQWlCO0dBQ2pCLG1CQUFtQjs7RUFFcEI7SUFDRSxpQkFBaUI7SUFDakIsbUJBQW1CO0dBQ3BCO0VBQ0Q7O0NBRUQ7RUFDQyxVQUFVO0VBQ1YsZ0JBQWdCO0VBQ2hCOztDQUVEO0VBQ0MsYUFBYTtFQUNiLG1CQUFtQjtFQUNuQjs7RUFFQTtHQUNDLG1CQUFtQjtHQUNuQjs7R0FFQTtJQUNDLGNBQWM7UUFDVixrQkFBZ0M7SUFDcEMsb0JBQW9CO0lBQ3BCLGVBQWdCO0lBS2hCOztHQUhBO0tBQ0MsMEJBQXdDO0NBQ3hDOztHQUdGO0lBQ0MsMEJBQXdDO0lBQ3hDOztNQUVFO1FBQ0UsZUFBZ0I7T0FLakI7O01BSEM7S0FDSCw4QkFBOEI7Q0FDOUIiLCJmaWxlIjoiUmVhY3RTZWxlY3RNZS5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyI6cm9vdCB7XG4gIC0tY29sb3ItdHVuYTogIzM3M0M0MztcbiAgLS1jb2xvci13aGl0ZTogI0ZGRjtcbiAgLS1jb2xvci1wYWxlLXNreTogIzZENzU3QjtcbiAgLS1jb2xvci1tYW5keTogI0U5NTk2QTtcbiAgLS1jb2xvci1zaGFyazogIzJEMzEzNjtcbiAgLS1jb2xvci1ibGFjazogIzAwMDtcbiAgLS1jb2xvci1zZWFzaGVsbDogI0YxRjFGMTtcbiAgLS1saW5lLWhlaWdodDogMjBweDtcbn1cblxuLmRkX193cmFwcGVyIHtcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xufVxuXG4uZGRfX29wZW5lZCB7XG4gIGJvcmRlci1yYWRpdXM6IDNweDtcbiAgYm9yZGVyLWNvbG9yOiB2YXIoLS1jb2xvci10dW5hKTtcbiAgY29sb3I6IHZhcigtLWNvbG9yLXR1bmEpO1xufVxuXG4uZGRfX2Rpc2FibGVkIHtcbiAgYm9yZGVyLWNvbG9yOiB2YXIoLS1jb2xvci1wYWxlLXNreSk7XG4gIGNvbG9yOiB2YXIoLS1jb2xvci1wYWxlLXNreSk7XG59XG5cbi5kZF9fZXJyb3Ige1xuXHRib3JkZXItY29sb3I6IHZhcigtLWNvbG9yLW1hbmR5KTtcbn1cblxuXHQuZGRfX3NlbGVjdENvbnRyb2wge1xuXHRcdGRpc3BsYXk6IGZsZXg7XG5cdFx0YWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgICBmb250LXNpemU6IDE0cHg7XG5cdFx0cGFkZGluZzogOHB4O1xuICAgIGJvcmRlcjogMXB4IHNvbGlkIHZhcigtLWNvbG9yLXR1bmEpO1xuICAgIGJvcmRlci1yYWRpdXM6IDNweDtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS1jb2xvci13aGl0ZSk7XG4gICAgY29sb3I6IHZhcigtLWNvbG9yLXR1bmEpO1xuXHRcdGxpbmUtaGVpZ2h0OiB2YXIoLS1saW5lLWhlaWdodCk7XG5cdFx0Y3Vyc29yOiBwb2ludGVyO1xuXHRcdG92ZXJmbG93OiBoaWRkZW47XG5cblx0XHRAbmVzdCAuZGRfX2Vycm9yICYge1xuXHRcdFx0Y29sb3I6IHZhcigtLWNvbG9yLW1hbmR5KTtcblx0XHRcdHVzZXItc2VsZWN0OiBub25lO1xuXHRcdH1cblxuXHRcdEBuZXN0IC5kZF9fZGlzYWJsZWQgJiB7XG5cdFx0XHRjdXJzb3I6IGRlZmF1bHQ7XG5cdFx0fVxuXHR9XG5cblx0XHQuZGRfX3NlbGVjdGVkIHtcblx0XHRcdGRpc3BsYXk6IGZsZXg7XG5cdFx0XHRmbGV4LWdyb3c6IDE7XG5cdFx0XHRmbGV4LXdyYXA6IHdyYXA7XG4gICAgICBvdmVyZmxvdzogaGlkZGVuO1xuXG5cdFx0XHRAbmVzdCAuZGRfX211bHRpICYge1xuXHRcdFx0XHRtYXJnaW4tdG9wOiAtMnB4O1xuXHRcdFx0fVxuXHRcdH1cblxuXHRcdFx0LmRkX19zZWFyY2gge1xuXHRcdFx0XHRkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG5cdFx0XHRcdGFsaWduLWl0ZW1zOiBjZW50ZXI7XG5cdFx0XHRcdGZsZXgtZ3JvdzogMTtcblx0XHRcdFx0Ym9yZGVyOiAxcHggc29saWQgdHJhbnNwYXJlbnQ7XG5cdFx0XHRcdG91dGxpbmU6IDA7XG4gICAgICAgIG9wYWNpdHk6IDA7XG4gICAgICAgIG1pbi1oZWlnaHQ6IHZhcigtLWxpbmUtaGVpZ2h0KTtcbiAgICAgICAgd29yZC1icmVhazogYnJlYWstd29yZDtcblxuXHRcdFx0XHRAbmVzdCAuZGRfX211bHRpICYge1xuXHRcdFx0XHRcdG1hcmdpbi10b3A6IDJweDtcblx0XHRcdFx0fVxuXG4gICAgICAgIEBuZXN0IC5kZF9fb3BlbmVkICYge1xuXHRcdFx0XHRcdG9wYWNpdHk6IDE7XG5cdFx0XHRcdH1cblx0XHRcdH1cblxuXHRcdFx0LmRkX19wbGFjZWhvbGRlciB7XG5cdFx0XHRcdGJvcmRlcjogMXB4IHNvbGlkIHRyYW5zcGFyZW50O1xuXHRcdFx0XHRjb2xvcjogdmFyKC0tY29sb3ItcGFsZS1za3kpO1xuXG5cdFx0XHRcdEBuZXN0IC5kZF9fbXVsdGkgJiB7XG5cdFx0XHRcdFx0bWFyZ2luLXRvcDogMnB4O1xuXHRcdFx0XHR9XG5cblx0XHRcdFx0QG5lc3QgLmRkX19lcnJvciAmIHtcblx0XHRcdFx0XHRjb2xvcjogdmFyKC0tY29sb3ItbWFuZHkpO1xuXHRcdFx0XHRcdHVzZXItc2VsZWN0OiBub25lO1xuXHRcdFx0XHR9XG5cdFx0XHR9XG5cblx0XHRcdC5kZF9fc2VsZWN0ZWRJdGVtIHtcblx0XHRcdFx0ZGlzcGxheTogZmxleDtcblx0XHRcdFx0Ym9yZGVyOiAxcHggc29saWQgdHJhbnNwYXJlbnQ7XG5cblx0XHRcdFx0QG5lc3QgLmRkX19tdWx0aSAmIHtcblx0XHRcdFx0XHRib3JkZXItY29sb3I6ICNBOUI2RDI7XG5cdFx0XHRcdFx0YmFja2dyb3VuZC1jb2xvcjogI0UzRUFGNjtcblx0XHRcdFx0XHRib3JkZXItcmFkaXVzOiAycHg7XG5cdFx0XHRcdFx0bWFyZ2luLXRvcDogMnB4O1xuXHRcdFx0XHRcdG1hcmdpbi1yaWdodDogMnB4O1xuXHRcdFx0XHRcdHBhZGRpbmc6IDAgNHB4O1xuXHRcdFx0XHR9XG5cdFx0XHR9XG5cblx0XHRcdFx0LmRkX19jcm9zc0ljb24ge1xuXHRcdFx0XHRcdG1hcmdpbi1sZWZ0OiA1cHg7XG5cdFx0XHRcdH1cblxuXHRcdC5kZF9fZXhwYW5kSWNvbiB7XG5cdFx0XHR3aWR0aDogOXB4O1xuXHRcdFx0aGVpZ2h0OiAxNXB4O1xuICAgICAgZmxleC1zaHJpbms6IDA7XG5cdFx0XHRmaWxsOiB2YXIoLS1jb2xvci1zaGFyayk7XG5cblx0XHRcdEBuZXN0IC5kZF9fZXJyb3IgJiB7XG5cdFx0XHRcdGZpbGw6IHZhcigtLWNvbG9yLW1hbmR5KTtcblx0XHRcdH1cblx0XHR9XG5cblx0LmRkX19saXN0IHtcblx0XHRkaXNwbGF5OiBub25lO1xuXHRcdHBvc2l0aW9uOiBhYnNvbHV0ZSAhaW1wb3J0YW50O1xuXHRcdGJhY2tncm91bmQtY29sb3I6IHZhcigtLWNvbG9yLXdoaXRlKTtcblx0XHRvdmVyZmxvdzogYXV0bztcblx0XHR6LWluZGV4OiAxO1xuXHRcdC13ZWJraXQtb3ZlcmZsb3ctc2Nyb2xsaW5nOiB0b3VjaDtcbiAgICBtaW4td2lkdGg6IDEwMCU7XG4gICAgYm9yZGVyOiAxcHggc29saWQgdmFyKC0tY29sb3ItdHVuYSk7XG4gICAgYm9yZGVyLXJhZGl1czogM3B4O1xuICAgIGJveC1zaGFkb3c6IDAgM3B4IDdweCAwIHJnYmEodmFyKC0tY29sb3ItYmxhY2spLCAwLjA4KTtcblxuXHRcdC8qIFdpdGhvdXQgdGhpcyBwcm9wZXJ0eSwgQ2hyb21lIHJlcGFpbnRzIHRoZSBlbnRpcmUgR3JpZCBhbnkgdGltZSBhIG5ldyByb3cgb3IgY29sdW1uIGlzIGFkZGVkLlxuXHQgICAgIEZpcmVmb3ggb25seSByZXBhaW50cyB0aGUgbmV3IHJvdyBvciBjb2x1bW4gKHJlZ2FyZGxlc3Mgb2YgdGhpcyBwcm9wZXJ0eSkuXG5cdCAgICAgU2FmYXJpIGFuZCBJRSBkb24ndCBzdXBwb3J0IHRoZSBwcm9wZXJ0eSBhdCBhbGwuICovXG5cdCAgd2lsbC1jaGFuZ2U6IHRyYW5zZm9ybTtcblxuXHRcdEBuZXN0IC5kZF9fb3BlbmVkICYge1xuXHRcdFx0ZGlzcGxheTogYmxvY2s7XG5cbiAgICAgICY6ZW1wdHkge1xuICAgICAgICBkaXNwbGF5OiBub25lO1xuICAgICAgfVxuXHRcdH1cblx0fVxuXG5cdC5kZF9fbGlzdFZpcnR1YWxpemVkIHtcblx0ICBvdmVyZmxvdy15OiBhdXRvO1xuXHQgIG92ZXJmbG93LXg6IGhpZGRlbjtcblxuXHRcdDpnbG9iYWwoLkdyaWRfX2lubmVyU2Nyb2xsQ29udGFpbmVyKSB7XG5cdFx0ICBvdmVyZmxvdzogaGlkZGVuO1xuXHRcdCAgcG9zaXRpb246IHJlbGF0aXZlO1xuXHRcdH1cblx0fVxuXG5cdC5kZF9fb3BlblRvYm90dG9tIHtcblx0XHR0b3A6IDEwMCU7XG5cdFx0bWFyZ2luLXRvcDogNXB4O1xuXHR9XG5cblx0LmRkX19vcGVuVG90b3Age1xuXHRcdGJvdHRvbTogMTAwJTtcblx0XHRtYXJnaW4tYm90dG9tOiA1cHg7XG5cdH1cblxuXHRcdC5kZF9fb3B0aW9uVmlydHVhbGl6ZWQge1xuXHRcdFx0cG9zaXRpb246IGFic29sdXRlO1xuXHRcdH1cblxuXHRcdFx0LmRkX19vcHRpb24ge1xuXHRcdFx0XHRwYWRkaW5nOiAxMHB4O1xuICAgICAgICBsaW5lLWhlaWdodDogdmFyKC0tbGluZS1oZWlnaHQpO1xuXHRcdFx0XHR3aGl0ZS1zcGFjZTogbm93cmFwO1xuXHRcdFx0XHRjdXJzb3I6IHBvaW50ZXI7XG5cblx0XHRcdFx0Jjpob3ZlciB7XG5cdFx0XHRcdFx0YmFja2dyb3VuZC1jb2xvcjogdmFyKC0tY29sb3Itc2Vhc2hlbGwpO1xuXHRcdFx0XHR9XG5cdFx0XHR9XG5cblx0XHRcdC5kZF9fc2VsZWN0ZWRPcHRpb24ge1xuXHRcdFx0XHRiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS1jb2xvci1zZWFzaGVsbCk7XG5cdFx0XHR9XG5cbiAgICAgIC5kZF9fb3B0aW9uRGlzYWJsZWQge1xuICAgICAgICBjdXJzb3I6IGRlZmF1bHQ7XG5cbiAgICAgICAgJjpob3ZlciB7XG5cdFx0XHRcdFx0YmFja2dyb3VuZC1jb2xvcjogdHJhbnNwYXJlbnQ7XG5cdFx0XHRcdH1cbiAgICAgIH1cbiJdfQ== */