@import '~styles/settings.scss';

.c-widget-header {
  position: relative;
  height: rem(78px);

  .c-widget-header__title {
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.54;
    color: $slate;
    text-transform: uppercase;

    @media screen and (min-width: $screen-s) {
      width: 50%;
    }
  }

  .c-widget-header__options {
    width: 100%;
    position: relative;
    top: rem(10px);

    @media screen and (min-width: $screen-s) {
      width: auto;
      right: rem(-5px);
      top: rem(-4px);
      position: absolute;
    }

    li,
    button {
      display: inline-flex;
      vertical-align: top;
      outline: none;

      &:not(:last-child) {
        margin-right: rem(5px);
      }
    }

    .c-widget-header__option-button {
      margin-right: rem(5px);
    }

    .c-widget-header__option-circle {
      width: rem(18px);
      height: rem(18px);
      border-radius: 100%;
      position: relative;
      cursor: pointer;

      &.c-widget-header__option-circle--green {
        background-color: $green-gfw;

        &:hover {
          background-color: darken($green-gfw, 10%);
        }
      }

      &.c-widget-header__option-circle--white {
        border: solid 1px #d6d6d6;
        background-color: $white;
      }

      .icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        fill: $white;

        &.-dark {
          fill: #c5c5c6;
        }

        &.icon-info {
          width: rem(10px);
          height: rem(10px);
        }

        &.icon-settings {
          width: rem(12px);
          height: rem(12px);
        }

        &.icon-share {
          width: rem(10px);
          height: rem(10px);
        }
      }
    }

    .c-widget-header__option-button {
      justify-content: center;
      align-items: center;
      width: rem(100px);
      height: rem(20px);
      font-size: 12px;
      text-align: left;
      color: $white;
      background-color: $green-gfw;
      border-radius: rem(100px);
      cursor: pointer;

      .small-12 & {
        position: relative;
        top: rem(-1px);
        margin-right: rem(24px);

        &::before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: rem(-12px);
          margin: auto;
          width: rem(1px);
          height: rem(14px);
          background-color: rgba($medium-grey, 0.2);
        }
      }

      &:hover {
        background-color: darken($green-gfw, 10%);
      }
    }
  }

  .small-12 & {
    height: rem(59px);
  }

  @media screen and (min-width: $screen-l) {
    .c-widget-header__options {
      .c-widget-header__option-button {
        .large-6 & {
          position: absolute;
          top: rem(38px);
          right: 0;
          margin-right: 0;

          &::before {
            content: normal;
          }
        }
      }
    }

    .large-6 & {
      height: rem(78px);
    }
  }
}
