@import '~styles/settings.scss';

.c-sankey-chart {
  .node-titles {
    display: flex;
    justify-content: space-between;
  }

  .sankey > svg {
    padding-bottom: 1em;
  }

  .link {
    cursor: pointer;

    &:hover {
      stroke-opacity: 0.3;
    }
  }
}
