@import '~styles/settings.scss';

.theme-select-dark {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .icon {
    min-width: rem(12px);
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(16px);
    fill: $white;
  }

  .dd__expandIcon {
    opacity: 0;
  }

  &.dd__opened {
    width: 100%;

    .dd__list {
      max-width: 100%;

      .dd__option {
        font-size: 20px;
        word-break: break-word;
        max-width: 100%;
        white-space: pre-line;
        line-height: 40px;

        @media screen and (min-width: $screen-l) {
          font-size: 30px;
        }
      }
    }

    .dd__openTobottom {
      top: 0;
    }
  }

  .dd__selectControl {
    background-color: transparent;
    border: 0;

    .dd__selected,
    .dd__placeholder,
    .dd__selectedItem {
      height: rem(56px);
      font-weight: 300;
      color: $white;
      width: 100%;
      align-items: center;
      font-size: 47px;
      display: table;
      table-layout: fixed;

      > div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 100%;
        line-height: 50px;
      }

      @media screen and (min-width: $screen-l) {
        font-size: 47px;
      }

      .dd__placeholder {
        color: rgba($white, 0.5);
      }
    }
  }
}
