$item-user-padding: rem(16px);
$item-user-padding-screen-m: rem(39px);

.c-home-use-examples {
  position: relative;
  height: rem(448px);
  background-color: $grey-light;
  overflow: hidden;

  .c-home-use-examples__content {
    padding-top: rem(23px);
  }

  .c-home-use-examples__title {
    opacity: 0.5;

    span:before {
      content: attr(data-gfw-text);
    }
  }

  .c-home-use-examples__users {

    .slider {
      position: relative;
    }

    .frame {
      position: relative;
      font-size: 0;
      line-height: 0;
      white-space: nowrap;
    }

    .slides {
      display: inline-block;
      width: 100%;
    }

    .slide {
      position: relative;
      display: inline-block;
      width: 25%;
      padding-right: rem(16px);
      text-align: center;
      white-space: normal;
      vertical-align: top;
    }
  }

  .c-home-use-examples__avatar {
    position: relative;
    left: 0;
    width: rem(49px);
    height: rem(49px);
    background-color: $grey-dark;
    border-radius: 50%;

    &.-selected {
      background-color: $green-gfw;
    }

    .icon {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: rem(37px);
      height: rem(42px);
      fill: $white;
    }
  }

  .c-home-use-examples__avatar-title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .c-home-use-examples__testimonials {
    position: relative;
    display: none;

    &.-selected {
      display: block;
    }

    .frame {
      position: relative;
      font-size: 0;
      line-height: 0;
      white-space: nowrap;
    }

    .slides {
      display: inline-block;
      width: 100%;
    }

    .slide {
      position: relative;
      display: inline-block;
      width: calc(100% + #{rem(120px)});
      padding-right: rem(120px);
      white-space: normal;
      vertical-align: top;
    }
  }

  .c-home-use-examples__testimonials-quote {

    span:first-of-type {
      position: absolute;
      top: 0;
      left: rem(-15px);
    }
  }

  .c-home-use-examples__slider-dots {

  }

  .c-home-use-examples__cover {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/home/man-ipad.jpg');
    background-color: $grey-light;
    display: none;
  }

  @media screen and (min-width: $screen-m) {
    height: rem(640px);
    border-top: rem(1px) solid $grey-dark;

    .c-home-use-examples__content {
      padding-top: rem(50px);
    }

    .c-home-use-examples__title span:before {
      content: attr(data-gfw-text-screen-m);
    }

    .c-home-use-examples__users {
      margin-top: rem(18px);

      .slide {
        width: calc(25% + #{$item-user-padding-screen-m / 2});
        padding-right: $item-user-padding-screen-m;
      }
    }

    .c-home-use-examples__avatar-title {
      top: rem(54px);
    }

    .c-home-use-examples__testimonials {
      margin-top: rem(114px);

      .slide {
        opacity: 0;
        transition: opacity 0.5s ease-out;

        &.active {
          opacity: 1;
        }
      }
    }

    .c-home-use-examples__slider-dots {
      margin-top: rem(16px);
    }
  }

  @media screen and (min-width: $screen-l) {

    .c-home-use-examples__cover {
      display: block;
    }
  }
}
