.c-home-applications {
  position: relative;
  height: rem(448px);
  overflow: hidden;

  .c-home-applications__title {
    margin-top: rem(23px);
    opacity: 0.5;
  }

  .c-home-applications__descriptions {
    margin-top: rem(40px);
  }

  .c-home-applications__section {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .icon {
      position: relative;
      fill: $white;
      height: rem(35px);
    }

    .c-home-applications__section-title {
      margin-top: rem(7px);
    }

    .c-home-applications__section-description {
      margin-top: rem(15px);
    }
  }

  .c-home-applications__apps-buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .columns {
      position: relative;
    }
  }

  .c-home-applications__app-button {
    position: absolute;
    top: rem(72px);
    margin: auto;
    width: rem(64px);
    height: rem(64px);
    background-color: rgba($white, 0.5);
    border-radius: 100%;
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;

    &.-left {
      left: rem(-27px);
    }

    &.-right {
      right: rem(-27px);
    }

    li {
      margin-left: rem(14px);
    }

    .icon {
      width: rem(36px);
      height: rem(36px);
      fill: $white;
    }
  }

  .c-home-applications__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    li {
      position: relative;
      width: 100%;
      height: 100%;
    }

    img {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      max-height: rem(180px);
      padding: 0 rem(16px);
      z-index: 1;
    }

    [data-section="fires"] {
      background-color: #f22542;
    }
  }

  @media screen and (min-width: $screen-m) {
    height: rem(640px);

    .c-home-applications__title {
      margin-top: rem(50px);
    }

    .c-home-applications__section .icon {
      top: rem(-7px);
      height: rem(48px);
    }

    .c-home-applications__section-title {
      margin-top: rem(3px);
    }

    .c-home-applications__section-description {
      width: 65%;
      margin-top: rem(16px);
    }

    .c-home-applications__apps-buttons,
    .c-home-applications__apps-buttons .columns {
      height: rem(640px);
    }

    .c-home-applications__app-button {
      top: 0;
      bottom: 0;
      width: rem(73px);
      height: rem(73px);

      &.-left {
        left: rem(42px);
      }

      &.-right {
        right: rem(42px);
      }

      li {
        margin-left: rem(18px);
      }
    }

    .c-home-applications__background {

      img {
        width: 100%;
        max-width: rem(850px);
        max-height: none;
        padding: 0 rem(80px);
      }
    }
  }
}
