$item-padding: rem(16px);
$item-padding-screen-m: rem(40px);

.c-home-summary {
  padding: rem(32px) 0 rem(56px) 0;
  background-color: $white;
  overflow: hidden;

  .slider {
    position: relative;
  }

  .frame {
    position: relative;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
  }

  .slides {
    display: inline-block;
    width: 100%;
  }

  .slide {
    position: relative;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    padding-right: $item-padding;
  }

  .c-home-summary__arrow-button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: rem(60px);
    height: rem(60px);
    z-index: 1;
    display: none;

    &.-left {
      left: rem(-70px);
    }

    &.-right {
      right: rem(-70px);
    }
  }

  .c-home-summary__slider-dots {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: rem(-35px);
  }

  @media screen and (min-width: $screen-m) {
    padding: rem(60px) 0;

    .slide {
      opacity: 0.5;
      transition: opacity 0.5s ease-out;

      &.active {
        opacity: 1;

        & + li {
          opacity: 1;
        }
      }

      &:not(:last-child) {
        width: calc(50% + #{$item-padding-screen-m / 2});
        padding-right: $item-padding-screen-m;
      }

      &:last-child {
        width: calc(50% - #{$item-padding-screen-m / 2});
        padding-right: 0;
      }
    }

    .c-home-summary__arrow-button {
      display: block;
    }

    .c-home-summary__slider-dots {
      bottom: rem(-37px);

      .c-slider-dots__item:last-child {
        display: none;
      }
    }
  }
}

.c-home-summary-item {
  position: relative;
  width: 100%;
  height: rem(360px);
  padding: rem(17px) rem(16px);
  background-color: $grey-light;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    left: rem(-1px);
    top: rem(-1px);
    width: calc(100% + #{rem(2px)});
    height: calc(100% + #{rem(2px)});
    border: solid rem(1px) $grey-dark;
  }

  .c-home-summary-item__title {
    position: relative;
    margin-bottom: rem(8px);
    z-index: 2;
  }

  .c-home-summary-item__paragraph {
    position: relative;
    z-index: 2;
  }

  .c-home-summary-item__button {
    position: absolute;
    left: rem(24px);
    bottom: rem(24px);
    z-index: 2;
  }

  .c-home-summary-item__background {
    position: absolute;
    bottom: -150px;
    width: auto;
    max-width: 160%;
    max-height: rem(335px);
    z-index: 1;

    &.-left {
      left: -150px;
    }

    &.-right {
      right: -150px;
    }
  }

  @media screen and (min-width: $screen-m) {
    height: rem(520px);
    padding: rem(19px) rem(28px) rem(20px) rem(28px);

    .c-home-summary-item__title {
      width: 85%;
      margin-bottom: rem(7px);
    }

    .c-home-summary-item__paragraph {
      width: 95%;
    }

    .c-home-summary-item__button {
      left: rem(28px);
      bottom: rem(20px);
    }

    .c-home-summary-item__background {
      max-height: rem(400px);
    }
  }

  @media screen and (min-width: $screen-l) {
    padding: rem(39px) rem(48px) rem(40px) rem(48px);

    .c-home-summary-item__button {
      left: rem(48px);
      bottom: rem(40px);
    }
  }

  @media screen and (max-width: $screen-m - 1px) {
    .c-home-summary-item__button {

      .c-regular-button {
        width: rem(224px);
      }
    }
  }
}
