$home-cover-height: rem(448px);
$home-cover-padding-top: rem(88px);
$home-cover-height-screen-m: rem(640px);
$home-cover-padding-top-screen-m: rem(93px);

.c-home-cover {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/assets/home/header-bg.jpg');
  padding: rem(130px) 0 rem(60px);

  @media screen and (min-width: $screen-m) {
    padding: rem(230px) 0 rem(200px);
  }

  .c-home-cover-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      position: relative;
      margin-bottom: rem(10px);
      z-index: 3;
    }

    .c-home-cover__description {
      position: relative;
      z-index: 3;

      span {
        opacity: 0.7;
      }
    }
  }

  .c-home-cover__arrow-button {
    position: absolute;
    bottom: rem(-30px);
    left: 0;
    right: 0;
    margin: auto;
    width: rem(60px);
    height: rem(60px);
    display: none;
    z-index: 3;

    @media screen and (min-width: $screen-m) {
      display: block;
    }
  }

  .c-home-cover__video {
    position: absolute;
    left: 0;
    top: rem(35px);
    width: 100%;
    height: calc(100% - #{rem(35px)});
    opacity: 0;
    transition: opacity 1s;
    overflow: hidden;
    z-index: 1;
    display: none;

    &.active {
      opacity: 1;
    }

    @media screen and (min-width: $screen-m) {
      display: block;
    }
  }

  .c-home-cover__video-button {
    padding: rem(10px) rem(20px);
    position: absolute;
    right: rem(60px);
    bottom: rem(20px);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 3;
    background-color: rgba($slate, 0.7);
    border-radius: rem(47px);
    display: none;
    color: $white;
    text-transform: uppercase;
    font-size: 14px;
    display: none;

    &.-visible {
      display: flex;
    }

    .icon {
      width: rem(15px);
      height: rem(15px);
      fill: #FFFFFF;
      opacity: 0.8;
    }

    @media screen and (min-width: $screen-m) {
      display: block;
    }
  }

  .c-home-cover__video-case {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}
