$item-height: rem(272px);
$item-height-screen-m: rem(391px);
$item-padding: rem(16px);
$item-padding-screen-m: rem(40px);

.c-home-news {
  padding: rem(17px) 0 rem(24px) 0;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/assets/home/news_background.jpg');

  .c-home-news__title {
    text-align: center;

    span:before {
      content: attr(data-gfw-text);
    }
  }

  .slider {
    position: relative;
    margin-top: rem(16px);
  }

  .frame {
    position: relative;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
  }

  .slides {
    display: inline-block;
    width: 100%;
  }

  .slide {
    position: relative;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    padding-right: $item-padding;

    a {
      text-decoration: none;
    }
  }

  .c-home-news__arrow-button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: rem(25px);
    height: rem(25px);
    cursor: pointer;
    display: none;

    .icon {
      width: rem(25px);
      height: rem(25px);
      fill: $white;
    }

    &.prev {
      left: rem(-62px);

      .icon {
        transform: rotateZ(180deg);
      }
    }

    &.next {
      right: rem(-62px);
    }
  }

  .c-home-news__slider-dots {
    width: 100%;
    text-align: center;
    margin-top: rem(14px);
  }

  .c-home-news__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: rem(13px);
  }

  @media screen and (min-width: $screen-m) {
    min-height: rem(640px);
    padding: rem(57px) 0 rem(40px) 0;

    .c-home-news__title span:before {
      content: attr(data-gfw-text-screen-m);
    }

    .slider {
      margin-top: rem(34px);
    }

    .frame {
      overflow: hidden;
    }

    .slide {
      width: calc(33.33333% + #{$item-padding-screen-m / 3});
      padding-right: $item-padding-screen-m;

      &:last-child {
        width: calc(33.33333% + #{$item-padding-screen-m / 3} - #{$item-padding-screen-m});
        padding-right: 0;
      }
    }

    .c-home-news__arrow-button {
      display: block;
    }

    .c-home-news__slider-dots {
      display: none;
    }

    .c-home-news__button {
      margin-top: rem(40px);
    }
  }
}

.c-home-news-item {
  position: relative;
  width: 100%;
  min-height: $item-height;
  padding: rem(20px) rem(16px);
  background-color: $white;

  .icon {
    position: absolute;
    top: rem(16px);
    left: rem(12px);
    width: rem(30px);
    height: rem(30px);
  }

  .c-home-news-item__description {
    margin-top: rem(-4px);
  }

  @media screen and (min-width: $screen-m) {
    min-height: $item-height-screen-m;
    padding: rem(41px) rem(31px);

    .icon {
      top: rem(60px);
      left: rem(36px);
    }

    .c-home-news-item__description {
      margin-top: rem(20px);
    }
  }
}
