.c-home-cover {
  position: relative;
  height: rem(448px);
  padding-top: rem(88px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/assets/home/header-bg.jpg');

  h1 {
    position: relative;
    width: 95%;
    margin-bottom: rem(6px);
    z-index: 3;
  }

  .c-home-cover__description {
    position: relative;
    z-index: 3;

    span {
      opacity: 0.7;
    }
  }

  .c-home-cover__arrow-button {
    position: absolute;
    bottom: rem(-30px);
    left: 0;
    right: 0;
    margin: auto;
    width: rem(60px);
    height: rem(60px);
    display: none;
    z-index: 3;
  }

  .c-home-cover__video {
    position: absolute;
    left: 0;
    top: rem(35px);
    width: 100%;
    height: calc(100% - #{rem(35px)});
    opacity: 0;
    transition: opacity 1s;
    overflow: hidden;
    z-index: 1;

    &.active {
      opacity: 1;
    }
  }

  .c-home-cover__video-case {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  @media screen and (max-width: 414px) {

    .c-home-cover__video {
      display: none;
    }
  }

  @media screen and (min-width: $screen-m) {
    height: rem(640px);
    padding-top: rem(93px);

    h1 {
      width: rem(550px);
      margin-bottom: rem(9px);
    }

    .c-home-cover__description {
      width: 65%;
    }

    .c-home-cover__arrow-button {
      display: block;
    }
  }

  @media screen and (min-width: $screen-m) and (max-width: 849px) {
    padding-top: rem(58px);
  }
}
