@import '~styles/settings.scss';

.l-terms-page {
  padding: rem(50px) 0;

  h1,
  h2 {
    span {
      display: block;
      text-align: center;
      font-weight: 500;
    }
  }

  h1 {
    font-size: rem(28px);
    margin-bottom: rem(20px);
  }

  h2 {
    font-size: rem(18px);
    margin-bottom: rem(40px);
  }

  .num-list {
    list-style: decimal;
    padding-left: rem(15px);

    h3 {
      font-weight: 500;
    }
  }

  .alpha-list {
    list-style: lower-alpha;
    padding-left: rem(15px);
    margin-bottom: rem(40px);
  }

  p,
  li {
    font-size: rem(16px);
    margin-bottom: rem(20px);
  }
}
