@import '~styles/settings';

.c-threshold-selector {
  display: flex;
  flex-flow: row wrap;
  color: #aaa;
  font-size: rem(12px);

  .thresh-dropdown {
    max-width: rem(55px);
    padding: 0 rem(5px);
  }
}
