@import '~styles/settings.scss';

.c-widget-chart-and-list {
  display: inline-block;
  width: 100%;

  .widget-combined-list {
    margin-top: 10px;
    width: 100%;
  }

  .widget-combined-chart,
  .widget-combined-list {
    display: inline-block;
  }

  @media screen and (min-width: $screen-m) {
    .widget-combined-chart {
      width: 70%;
      margin: 0 rem(20px) 0 0;
      transform: translateY(-14px);
    }

    .widget-combined-list {
      width: calc(30% - #{rem(20px)});
      margin-top: 0;
      height: 250px;
      vertical-align: top;
      position: relative;
    }

    .c-paginate {
      position: absolute;
      bottom: 0;
    }
  }
}
