<header class="m-cover">
  <div class="cover-background" style="background-image: url('/assets/covers/stories-cover.png')">
    <div class="cover-overlay -show"></div>
    <div class="row">
      <div class="column small-12 medium-8 cover-content">
        <h2 class="-main-title">Stories</h2>
        <p>
          Global Forest Watch is not just about big data; it is a
          movement to connect people on the ground with information that can
          create tangible change. That is why we want to hear your stories
          about issues affecting forests, forest communities, and how you
          use GFW to monitor and protect forests. Share your report with the
          world by putting it on the GFW Map&#33;
        </p>
      </div>
    </div>
  </div>
</header>

<section class="m-section-static" id="latestStories">
</section>

<section class="m-section-static">
  <div class="inner">
    <!-- Pagination -->
    <ul class="m-btncontainer is-center -fix-width-220 -mobile">
      <li><a class="btn green huge-padding full-width uppercase" href="/stories/new">Submit a story</a></li>
      <li><a class="btn gray huge-padding full-width uppercase" href="/stories/crowdsourcedstories">View all</a></li>
    </div>
  </ul>
</section>

<section class="m-section-static">
  <div class="inner">
    <header>
      <h2>You may find this interesting</h2>
    </header>
    <ul class="m-interesting">
      <li class="m-interesting-item">
        <div class="img">
          <a href="/map">
            <div class="bg" style="background-image: url('/assets/interesting/interesting-map.png')"></div>
          </a>
        </div>
        <div class="info">
          <h3><a href="/map">GFW INTERACTIVE MAP</a></h3>
          <p>View and analyze data on the GFW Interactive Map.</p>
        </div>
      </li>

      <li class="m-interesting-item">
        <div class="img">
          <a href="/countries">
            <div class="bg" style="background-image: url('/assets/interesting/interesting-countries.png')"></div>
          </a>
        </div>
        <div class="info">
          <h3><a href="/countries">COUNTRIES</a></h3>
          <p>View country-specific data, analyze forest change within a country or subnational jurisdiction, or view country rankings based on forest statistics.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
