<div class="modal is-active">
  <div class="modal-backdrop"></div>
  <div class="modal-window">
    <a href="#" class="modal-close">
      <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-close"></use></svg>
    </a>

    <div class="modal-wrapper scroll-dark -no-scroll">
      <div class="modal-content -compact">

        <div class="steps current">
          <header>
            <h2>Story submitted</h2>
          </header>

          <div class="successful"></div>

          <p>
            View your story on the <a href="/map/3/15.00/27.00/ALL/grayscale/loss,forestgain/580" title="User Stories">map</a> or <a href="/my_gfw/stories" title="My Stories">manage</a> your stories
          </p>

          <div class="m-btncontainer is-center">
            <a href="#" class="btn medium gray uppercase" id="go-to-story">View story</a>
            <a href="#" class="btn medium green uppercase" id="go-to-stories">My stories</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
