<section class="m-header-static" style="background-image: url('/assets/covers/stories-cover.png')">
  <div class="inner">
    <header>
      <h2>Stories</h2>
      <h3>
        Global Forest Watch is not just about big data; it is a
        movement to connect people on the ground with information that can
        create tangible change. That is why we want to hear your stories
        about issues affecting forests, forest communities, and how you
        use GFW to monitor and protect forests. Share your report with the
        world by putting it on the GFW Map&#33;
      </h3>
    </header>

    <ul class="row">
      <li><a href="/stories/new" class="btn green uppercase">Submit a story</a></li>
    </ul>
  </div>
</section>

<section id="storiesResetPosition" class="m-section-static">
  <div id="storiesSpinner" class="m-spinner -fixed">
    <div class="spinner-box">
      <div class="icon"></div>
    </div>
  </div>

  <div class="inner">
    <header>
      <h2>Stories from GFW users</h2>
    </header>

    <div id="storiesListView" class="m-list-stories">
      <ul id="storiesList">
      </ul>

      <div id="pagination-container"></div>
    </div>
  </div>
</section>

<section class="m-section-static">
  <div class="inner">
    <a class="btn-cta" href="/stories/new">
      <svg><use xlink:href="#icon-plus"></use></svg>
      <span>Submit a story</span>
    </a>
  </div>
</section>
