<a href="/stories/{{story.id}}">
  <div class="img">
    <div class="bg" style="background-image: url({{story.image}})"></div>
  </div>
  <article class="info">
    <h4>{{story.title}}</h4>
    <p>{{truncate story.details 295}}</p>
    <button class="btn gray medium">More</button>
  </article>
</a>
