<ul id="storiesKeepList">
  <div id="sources-spinner" class="spinner start">
    <svg>
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-spinner">
      </use>
    </svg>
  </div>
</ul>

<div class="section-footer">
  <div id="pagination-container"></div>
</div>
