@import '~styles/settings.scss';

.l-subscribe-page {
  background-color: $white;
  height: 100%;
  padding-bottom: rem(30px);

  .subscribe-header {
    margin: rem(50px) 0;
  }

  input {
    height: rem(40px);
    border: solid 1px $border;
    padding: 0 rem(10px);
    border-radius: rem(4px);
    font-size: rem(14px);

    &:focus {
      outline: none;
    }
  }

  .field {
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: rem(30px);

    span {
      margin-right: rem(20px);
      text-transform: uppercase;
      color: $slate-light;
      font-size: rem(12px);
      font-weight: 500;
      line-height: 18px;
    }

    .form-input {
      min-width: rem(340px);
      align-self: flex-end;
    }

    .select-wrapper {
      max-width: unset;
    }

    &.error {
      color: $error;

      input,
      .select-wrapper {
        border-color: $error;
      }
    }
  }

  .form-list {
    display: flex;
    flex-direction: column;

    .form-checkbox-item {
      display: flex;
      align-items: center;
      margin: 0;
      margin-right: auto;
      font-size: rem(14px);
      line-height: 24px;
      text-align: left;

      .form-checkbox {
        margin-right: rem(20px);
      }
    }
  }

  .save-subscription {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: rem(30px);

    p {
      color: $warm-grey;
    }

    .error-message {
      color: $error;
    }

    .submit-btn {
      margin-left: rem(15px);
      max-width: rem(290px);
      position: relative;

      &.error {
        background-color: $error;
      }
    }
  }

  .saving-btn-loader {
    > div {
      width: rem(20px);
      height: rem(20px);
      border-width: 2px;
    }
  }
}
