@import '~styles/settings.scss';

$explore-nav-height: rem(40px);

.c-explore {
  .explore-menu {
    border-bottom: solid 1px $border;
  }

  .content {
    height: calc(100vh - #{$explore-nav-height});
    overflow-y: scroll;
    position: relative;
    padding: 0 rem(10px);

    .description {
      font-size: 12px;
      line-height: 1.33;
      letter-spacing: -0.2px;
      margin: rem(30px) 0;
    }

    .map-card {
      margin-bottom: rem(30px);
    }
  }

  .column,
  .columns {
    padding-right: rem(15px);
    padding-left: rem(15px);
  }
}
