@import '~styles/settings.scss';

.c-topics-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-bottom: rem(80px);

  .scroll-to-discover {
    margin: 0 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $screen-m) {
      margin: 130px 0 120px;
    }

    .scroll-btn {
      height: 46px;
      width: 46px;
      border-radius: 50px;
      margin-bottom: rem(20px);
    }

    p {
      font-size: 14px;
      color: #555;
    }
  }

  .fp-tableCell {
    justify-content: space-between !important;
  }
}
