@import '~styles/settings.scss';

.c-topics-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .scroll-to-discover {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: rem(100px) 0;

    .scroll-btn {
      height: 46px;
      width: 46px;
      border-radius: 50px;
      margin-bottom: rem(20px);
    }

    p {
      font-size: 14px;
      color: #555;
    }
  }

  .fp-tableCell {
    justify-content: space-between !important;
  }
}
