<div class="overlay"></div>
<div class="advanced-analysis-content">
  <a href="#" class="close"><svg><use xlink:href="#shape-close"></use></svg></a>
  <header>
    <h2>Advanced Analysis</h2>
  </header>

  <div id="advanced-analysis-spinner" class="spinner2-box"><div id="spinner2" class="spinner2"></div></div>
  <div class="no-data">No data available</div>
  <div class='line-graph notranslate'></div>
</div>
