<select data-placeholder="Select country" class="chosen-select default notranslate" id="analysis-country-select"><option></option></select>
<select data-placeholder="Select jurisdiction (optional)" disabled="true" class="chosen-select default notranslate" id="analysis-region-select"><option></option></select>
<ul id="country-button-container" class="button-container one">
  <li><button id="analysis-country-button" class="btn green uppercase disabled">Analyze</button></li>
  <li><button id="subscribe-country-button" class="btn green uppercase disabled">Subscribe</button></li>
</ul>
