<header class="-last">
  <h2>Your analysis has timed out. Please select a smaller shape or try again.</h2>
  <button id="btn-analysis-refresh" class="btn green medium uppercase">Refresh</button>
</header>