<header class="-last">
	<h2>
		{{#each errors}}
			<li>{{detail}}</li>
		{{/each}}		
	</h2>
  {{!-- <h2>Your analysis has timed out. Please select a smaller shape or try again.</h2> --}}
  <div class="m-btncontainer is-center -col50">
	  <button class="btn green uppercase btn-analysis-refresh">Refresh</button>
	  <button class="btn red uppercase btn-analysis-delete">Delete</button>
  </div>
</header>