<header>
  <h2>Draw in the map the area you want to analyze or subscribe to</h2>
</header>

<ul class="button-container one">
  <li><button id="btn-start-drawing" class="btn green uppercase">Start drawing</button></li>
</ul>

<p class="-center">or</p>

<div class="analysis-dropable">
  <div id="area-dropable-shape" class="shape-droppable">
    <div id="area-upload-loader" class="m-spinner">
      <div class="spinner-box">
        <div class="icon"></div>
      </div>
    </div>
    <input type="file" id="file-upload-shape">
    <div class="drop-shape-text">
      <span>Click to pick a file or drop one here</span>
      <a href="#" data-source="drop-shapefile" class="source">
        <svg><use xlink:href="#shape-info"></use></svg>
      </a>
    </div>
  </div>
</div>

<p class="-terms">By uploading data you agree to the <a href="/terms">GFW Terms of Service</a></p>
