<header>
  <h2>Analyze or subscribe to a shape on the map</h2>
  <ol>
    <li>Use the tabs above the map to turn on a data layer <a href="#" class="source" data-source="analyze_a_shape_on_the_map"><svg><use xlink:href="#shape-info"></use></svg></a></li>
    <li>Select a shape in the map</li>
    <li>Click “Analyze” or “Subscribe”</li>
  </ol>
  <p class="btn-example"><a class="source" data-source="see_how_to_analyze_a_shape_on_the_map" href="#">See example.</a></p>
</header>
<div class="analysis-shape-image">
  <div id="analysis-shape-btn-play" class="btn-play"></div>
  <img id="analysis-shape-thumbnail" class="thumbnail" src="/assets/infowindow-example.png"/>
</div>
