@import '~styles/settings.scss';

.c-widget-fao-forest {
  .pie-chart-container {
    display: flex;
    padding-top: rem(20px);

    .c-pie-chart-legend {
      width: auto;
    }
  }

  .loader-offset {
    top: rem(50px);
    height: calc(100% - 50px);
  }
}
