@import '~styles/settings.scss';

/* legend component styles */
.vizzuality__c-legend-list {
  overflow-x: hidden !important;
}

.vizzuality__c-legend-item,
.vizzuality__c-legend-item-basic {
  font-family: inherit !important;

  .vizzuality__custom-icon {
    width: 16px !important;
    height: 16px !important;

    img {
      width: 15px !important;
      height: 15px !important;
    }
  }

  .vizzuality__icon-square {
    margin-top: 3px;
    margin-right: 11px;
    border-radius: rem(6px);
  }

  .vizzuality__legend-item-header > h3 {
    font-size: rem(14px);
    font-weight: 400 !important;
    color: $slate;
  }

  .vizzuality__c-legend-handler {
    top: 18px;
  }

  .vizzuality__c-legend-handler svg {
    fill: $warm-grey;

    &:hover {
      fill: $medium-grey;
    }
  }
}

.vizzuality__c-legend-item-toolbar > * {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.vizzuality__c-legend-item-types {
  margin-bottom: rem(15px);
}
