$about-users-height-screen-l: rem(640px);

.c-about-users {
  position: relative;
  background-color: $white;
  padding: rem(40px) 0 rem(50px);

  .c-about-users__globe-container {
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .c-about-users__content {
    position: relative;

    .text {
      letter-spacing: -0.4px;
    }
  }

  .c-about-users__title {
    opacity: 0.5;
  }

  .c-about-users__summary {
    margin-top: rem(31px);
  }

  .c-about-users__user-list {
    margin-top: rem(30px);
    display: none;

    li {
      position: relative;
      padding-left: rem(23px);
      cursor: pointer;

      .icon {
        position: absolute;
        left: rem(1px);
        top: 0;
        bottom: 0;
        margin: auto;
        stroke: $slate;
        width: rem(10px);
        height: rem(10px);
      }

      &:not(.-selected) {
        opacity: 0.5;

        .icon {
          display: none;
        }
      }
    }
  }

  .c-about-users__button {
    max-width: rem(240px);
    margin-top: rem(20px);

    .c-regular-button {
      width: 100%;
    }
  }

  .c-about-users__growth {
    display: none;
    padding: rem(117px) 0 rem(93px) 0;
    text-align: center;
    letter-spacing: -0.4px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-image: url('/assets/about/growth-graphic.png');

    .c-about-users__growth-years {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 rem(100px) 0 rem(5px);
      color: $green-gfw;
    }
  }

  @media screen and (min-width: $screen-l) {
    min-height: $about-users-height-screen-l;
    border-bottom: 1px solid $grey-dark;
    padding-bottom: 0;

    .c-about-users__globe-container {
      display: flex;
    }

    .c-about-users__user-list {
      display: block;
    }

    .c-about-users__button {
      margin-top: rem(30px);

      .c-regular-button {
        width: rem(200px);
      }
    }

    .c-about-users__growth {
      display: block;
    }
  }
}
