.c-about-modal-world {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;

  .c-about-modal-world__back {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($grey-light, 0.1);
    top: 0;
    left: 0;
    z-index: 2;
  }

  &:before {
    content: '';
    position: absolute;
    left: rem(-1px);
    top: rem(-1px);
    width: calc(100% + #{rem(2px)});
    height: calc(100% + #{rem(2px)});
    border: 1px solid $grey-dark;
  }

  .c-about-modal-world__text {
    background-color: $grey-light;
    padding: rem(60px) rem(40px) rem(35px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;

    .icon-close {
      position: absolute;
      top: rem(15px);
      right: rem(15px);
      width: rem(15px);
      height: rem(15px);
      cursor: pointer;
    }

    p {
      opacity: .7;
      display: block;
      margin-top: rem(10px);
      line-height: 1.67;
      letter-spacing: -0.4px;
    }

    .contain-buttons {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      margin-top: rem(20px);

      .button-round {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(45px);
        height: rem(45px);
        border: 1px solid $green-gfw;
        border-radius: 45px;
      }
    }
  }

  .contain-tooltip {
    position: relative;

    &:hover {
      .tooltip-modal {
        display: flex;
      }
    }
  }

  .tooltip-modal {
    padding: 20px;
    position: absolute;
    z-index: 1000;
    max-width: 140px;
    min-width: 140px;
    width: 200px;
    padding: 8px;
    background-color: #fffee2;
    box-shadow: 0 1px 3px 0 rgba(85, 85, 85, .25);
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    top: -50px;
    right: 50%;
    transform: translate(50%, 0);

    span,
    p {
      font-size: 12px;
      line-height: 1.42;
      letter-spacing: -.2px;
      color: #555;
      text-transform: uppercase;
    }

    .triangle {
      position: relative;

      &::after {
      	top: 100%;
      	left: 50%;
      	border: solid transparent;
      	content: '';
      	height: 0;
      	width: 0;
      	position: absolute;
      	pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-top-color: #fffee2;
      	border-width: 15px;
      	margin-left: -15px;
      }
    }
  }
}
