.c-about-anchors {
  background-color: $grey-light;
  border-bottom: 1px solid $grey-dark;
  display: none;

  .c-about-anchors__buttons {
    font-size: 0;

    a:first-child li {
      border-left: 1px solid rgba($slate, 0.2);
    }

    li {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 20%;
      max-width: rem(183px);
      height: rem(56px);
      cursor: pointer;
      border-right: 1px solid rgba($slate, 0.2);
    }
  }

  @media screen and (min-width: $screen-m) {
    display: block;
  }
}
