.c-about-footer-logos {
  margin-top: rem(50px);

  .c-about-footer-logos__title {
    margin-bottom: rem(50px);
    opacity: 0.5;
    text-transform: uppercase;
    margin-top: 30px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .list-logos {
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #d6d6d9;
      bottom: 0;
    }

    a {
      margin-bottom: 60px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .c-about-footer-logos__subscribe {
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      display: block;
      margin-bottom: 10px;
      font-style: italic;
      line-height: 1.67;
      letter-spacing: -0.4px;
    }

    a {
      margin-bottom: 40px;
    }
  }
}
