$dark: #555;

.c-about-modal-subscribe {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 999;
  display: none;

  .-show {
    display: flex;
  }

  .c-about-modal-subscribe__content {
    max-height: calc(100% - 50px);
    padding-top: rem(60px);
    background: #fff;
    width: rem(1024px);
    box-shadow: 0 0 4px hsla(0,0%,56%,.5);

    &:before {
      content: '';
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba($dark,.25);
      z-index: -1;
    }

    // Steps
    .steps {
      display: none;

      &.current{
        display: block;
        z-index: 99;
      }

      > li {
        display: none;
        text-transform: none;
        margin: 0 auto;

        &.-active {
          display: block;
        }

        h2 {
          color: $dark;
          margin-bottom: rem(20px);
        }

        h3 {
          font-weight: 300;
          line-height: 1.5;
          color: $dark;
        }
      }

      .form-content {
        padding: 0 rem(40px);
        max-height: calc(100vh - 200px);
        overflow-y: scroll;
        border-bottom: 1px solid #e5e5df;

        .contain-width {
          max-width: 700px;
          margin: 0 auto;
        }

        .step-header {
          margin-bottom: rem(20px);
        }

        .field {
          display: flex;
          flex-direction: row;
          align-items: end;
          align-content: center;
          margin-bottom: rem(30px);

          &.-block {
            display: block;
          }

          label {
            flex-basis: 15%;
          }

          .m-select {
            flex-basis: 85%;
          }

          input,
          select,
          textarea {
            display: block;
            width: 100%;
            border: 1px solid #e5e5df;
            padding: rem(10px);
            margin: 0;
            font-size: 13px;
            border-radius: rem(4px);
            outline: none;
            flex-basis: 85%;
          }

          select {
            background-color: #fff;
            height: rem(37px);
          }

          textarea {
            height: rem(182px);
            max-height: rem(182px);
            min-height: rem(182px);
          }

          h3 {
            font-weight: 500;
            color: $dark;
            font-size: 13px;
            text-transform: uppercase;
          }

          p {
            font-size: 14px;
            line-height: 1.5;
            color: $dark;
            margin: 0 0 15px;
          }
        }

        .radio-box {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .custom-radio {
            display: flex;
            flex-direction: row;
            flex-basis: calc(50% - 20px);
            align-items: center;

            input {
              flex-basis: 10%;
            }

            label {
              flex-basis: 90%;
              font-size: 13px;
              font-weight: 300;
            }
          }
        }
      }

      .m-btncontainer {
        height: rem(70px);
        padding: rem(30px);

        button {
          margin: 0 auto;
        }
      }

      .contain-button-close {
        border-top: 1px solid #e5e5df;
        a {
          max-width: rem(110px);
          margin: rem(15px) auto;
        }
      }

      .m-newsletter {
        max-width: 700px;
        margin: 0 auto;

        header {
          h3 {
            margin-bottom: rem(40px);
          }

          .contain-button-sign-up {
            .btn {
              width: rem(220px);
              text-transform: uppercase;
              margin: rem(30px) auto;
            }
          }
        }
      }

      .m-newsletter-error {
        max-width: rem(700px);
        margin: 0 auto;

        h2 {
          margin-bottom: rem(60px);
        }
      }
    }
  }
}
