function GFWMarker(opts) {
  this.latlng_            = opts.position;
  this.content_           = opts.content;
  this.opts               = opts;
  this.offsetVertical_    = -7;
  this.offsetHorizontal_  = -7;
  this.width_             = 36;
  this.height_            = 36;
  this.div_               = null;
  this.map_               = opts.map;
  this.type_              = opts.type;
}

GFWMarker.prototype = new google.maps.OverlayView();

GFWMarker.prototype.draw = function() {
  var
  that = this,
  div = this.div_;

  if (!div) {
    div = this.div_ = document.createElement('DIV');
    div.className = 'marker';

    if(this.type_ === 'mongabay') {
      div.innerHTML = '<%= image_tag "icons/mongabay_exclamation.png" %>';
    } else {
      if (that.opts.thumbnail_url) {
        div.innerHTML = '<img src="<%= ENV['AWS_HOST'] %>/'+that.opts.thumbnail_url + '" class="rounded" alt ="" /><div class="mask"></div>';
      } else {
        div.innerHTML = '<%= image_tag "icons/marker_exclamation.png" %>';
      }
    }

    google.maps.event.addDomListener(div, 'click', function (ev) {
      if (ev) {
        ev.preventDefault  ? ev.preventDefault()  : ev.returnValue            = false;
        ev.stopPropagation ? ev.stopPropagation() : window.event.cancelBubble = true;
      }

      that.showInfowindow();
    });

    var panes = this.getPanes();
    panes.overlayMouseTarget.appendChild(div);
  }

  this.setPosition();
};

GFWMarker.prototype.setPosition = function() {
  if (this.div_) {
    var div = this.div_;

    var pixPosition = this.getProjection().fromLatLngToDivPixel(this.latlng_);

    if (pixPosition) {
      div.style.width = this.width_ + 'px';
      div.style.left = (pixPosition.x + this.offsetHorizontal_) + 'px';
      div.style.top  = (pixPosition.y  + this.offsetVertical_) + 'px';
    }
  }
};

GFWMarker.prototype.hide = function(animate) {
  if (this.div_ && !$(this.div_).hasClass('h')) {
    var div = this.div_;
    if (animate) {
      $(div).animate({
        opacity: 0
      }, {queue: true, duration:500, complete:function(ev){
        div.style.display = "none";
        $(this).addClass('h');
      }});
    } else {
      $(div).css({opacity: 0, display: 'none'});
      $(div).addClass('h');
    }
  }
};

GFWMarker.prototype.onRemove = function () {
  if (this.div_ && this.div_.parentNode) {
    this.hide();
    google.maps.event.clearInstanceListeners(this.div_);
    this.div_.parentNode.removeChild(this.div_);
    this.div_ = null;
  }
};

GFWMarker.prototype.changeOpacity = function(opacity) {
  var div = this.div_;
  $(div).animate({
    opacity: opacity
  }, {queue: true, duration:500});
};

GFWMarker.prototype.toggle = function(animate) {
  if (this.div_ && !$(this.div_).hasClass('h')) {
  this.hide(animate);
  } else this.show(animate);
};

GFWMarker.prototype.show = function(animate) {
  if (this.div_ && $(this.div_).hasClass('h')) {
    var div = this.div_;
    if (animate) {
      div.style.display = "block";
      div.style.opacity = 0;

      $(div).animate({
        opacity: 0.99
      }, {queue: true, duration:500, complete:function() {
        $(this).removeClass('h');
      }});
    } else {
      $(div).css({opacity: 0.99, display: 'block'});
      $(div).removeClass('h');
    }
  }
};

GFWMarker.prototype.showContent = function() {
  if (this.div_) {
    google.maps.event.trigger(this.div_, 'click');
  }
};

GFWMarker.prototype.getPosition = function() {
  return this.latlng_;
};

GFWMarker.prototype.showInfowindow = function() {
  if (!this.opts.thumbnail_url) {
    this.opts.infowindow.setOffset(-13, 10);
  } else {
    this.opts.infowindow.setOffset(-25, 17);
  };

  //Infowindow.close();
  this.opts.infowindow.setContent(this.content_);
  this.opts.infowindow.setPosition(this.latlng_);
  this.opts.infowindow.open();
};

MarkerClusterer.prototype.remove = function () {}
