@import '~styles/settings.scss';

.l-topics-page {
  .topic-content {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    padding-bottom: 50px;

    .c-topics-text {
      margin-top: 80px;

      @media screen and (min-width: $screen-m) {
        margin-bottom: 50px;
      }
    }
  }

  .topics-btn {
    color: $slate-light;
    border: 1px solid #97bd3d;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;

    @media screen and (min-width: $screen-m) {
      position: absolute;
      bottom: calc(100px - 2.5rem);
      max-width: 160px;
    }
  }

  .topic-image {
    text-align: center;
    padding-bottom: 100px;

    .c-topics-image {
      margin: auto;
    }
  }

  // overwrite library styles
  .fp-tableCell {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .row {
      width: 100%;
    }
  }

  .fp-controlArrow {
    display: none;
  }

  .fp-slidesContainer {
    transform: none !important;
    width: 100% !important;

    .slide {
      opacity: 0;
      width: 100% !important;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      transition: opacity 0.7s ease-in;

      .c-topics-text {
        opacity: 0;
        transform: translateY(-20px);
        transition:
          transform 0.7s ease-in-out,
          opacity 0.7s ease-in-out;

        &.leaving {
          opacity: 1;
          transform: translateY(20px);
          transition:
            transform 0.7s ease-in-out,
            opacity 0.7s ease-in-out;
        }
      }

      &.active {
        opacity: 1;

        .c-topics-text {
          opacity: 1;
          transform: translateY(0);
          transition:
            transform 0.7s ease-in-out,
            opacity 0.7s ease-in-out;
        }
      }
    }
  }
}
