@import '~styles/settings.scss';

.l-topics-page {
  .topic-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;

    .c-topics-text {
      margin-bottom: 50px;
    }

    .topics-btn {
      position: absolute;
      bottom: 0;
      max-width: 130px;
      color: $slate-light;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .topic-image {
    text-align: center;

    .c-topics-image {
      margin: auto;
    }
  }

  // overwrite library styles
  .fp-tableCell {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

#fp-nav ul li {
  margin: rem(20px);
}

#fp-nav ul li a span {
  background-color: $grey-dark;
  width: rem(8px);
  height: rem(8px);
  margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span {
  background-color: $green-gfw;
}
