@import '~styles/settings.scss';

.l-topics-page {
  .topic-content {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    padding-bottom: 50px;

    .c-topics-text {
      margin-bottom: 50px;
    }

    .topics-btn {
      position: absolute;
      bottom: 0;
      max-width: 130px;
      color: $slate-light;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .topic-image {
    text-align: center;
    padding-bottom: 50px;

    .c-topics-image {
      margin: auto;
    }
  }

  // overwrite library styles
  .fp-tableCell {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

#fp-nav ul li {
  margin: rem(20px);

  &:last-child,
  &:first-child {
    display: none;
  }
}

#fp-nav ul li a span {
  background-color: $grey-dark;
  width: rem(8px);
  height: rem(8px);
  margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span {
  background-color: $green-gfw;
}

// Fade-in-out transition:

.fullpage-wrapper {
  width: 100% !important;
  transform: none !important;

  .fp-section {
    width: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
    // visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.7s ease-in;

    &.active {
      visibility: visible;
      opacity: 1;
      z-index: 1;
      // transition: opacity 1s ease-out;
    }
  }

  .fp-scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .iScrollVerticalScrollbar {
    display: none;
  }
}
