@import '~styles/settings.scss';

.c-widget {
  position: relative;
  width: 100%;
  height: 100%;
  border: solid 2px rgba($medium-grey, 0.2);
  border-radius: 4px;
  min-height: rem(460px);
  display: flex;
  flex-direction: column;
  padding: rem(20px) rem(15px);
  justify-content: flex-start;

  @media screen and (min-width: $screen-m) {
    padding: rem(25px) rem(20px);
  }

  &.highlighted {
    background: #fefedc;

    .c-loader {
      background-color: rgba(#fefedc, 0.5);
    }
  }

  .container {
    position: relative;
    height: 100%;
  }
}
