@import '~styles/settings';

.c-layer-selector-menu {
  .menu-wrapper {
    display: inline-block;
    color: $slate;
    font-size: rem(12px);

    &.-group {
      margin-bottom: rem(10px);
    }

    span {
      display: inline;
      line-height: 1.6;
    }

    .layer-selector-dropdown {
      display: inline-block;
    }
  }
}
