@import '~styles/settings';

.c-layer-selector-menu {
  .menu-wrapper {
    display: inline-block;
    color: $slate;
    font-size: rem(12px);

    &.-group {
      margin-bottom: rem(10px);
    }
  }
}
