@import '~styles/settings.scss';

.c-data-analysis-menu {
  width: rem(290px);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  background: $white;
  transition: transform 0.3s linear;
  position: relative;
  z-index: 1;

  &.-relocate {
    transform: translateX(292px);
  }

  &.-big {
    transform: translateX(552px);
  }

  .nav {
    border-bottom: solid 1px $border;
    position: relative;
    z-index: 2;
    height: auto;
  }

  .legend,
  .analysis {
    position: relative;
    overflow-y: scroll;
    display: flex;
    flex: 1;
    max-height: calc(100vh - 70px);
    z-index: 1;
  }

  .cancel-analysis {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cancel-analysis-btn {
    z-index: 1000;
    background-color: $error;
    width: rem(160px);
    margin-top: rem(110px);
  }
}
