@import '~styles/settings.scss';

.c-data-analysis-menu {
  width: rem(290px);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  background: $white;
  transition: transform 0.3s linear;
  position: relative;
  z-index: 1;

  &.-relocate {
    transform: translateX(292px);
  }

  &.-big {
    transform: translateX(552px);
  }

  .nav {
    border-bottom: solid 1px $border;
    position: relative;
    z-index: 2;
    height: auto;
  }

  .legend,
  .analysis {
    min-height: rem(200px);
    position: relative;
    overflow-y: scroll;
    display: flex;
    flex: 1;
    max-height: calc(100vh - 70px);
    z-index: 1;
  }
}
