@import '~styles/settings';

.theme-button-map-control {
  width: auto;
  min-width: rem(38px);
  height: rem(38px);
  padding: 0;
  background-color: $white;
  border-radius: 0;
  box-shadow: 0 1px 2px rgba($black, 0.25);
  font-size: 10px;
  line-height: 10px;
  color: $slate-light;

  &:hover {
    background-color: $grey-light;
  }

  &.--active {
    background-color: $green-gfw;
    color: $black;
    fill: $black;
  }

  svg {
    fill: $slate;
  }
}
