@import '~styles/settings.scss';

.c-widget-tree-loss {
  .c-widget-tree-loss__sentence {
    font-size: 19px;
    font-weight: 300;
    line-height: 1.58;
    letter-spacing: 0.1px;
    color: #4a4a4a;
  }

  .c-widget-tree-loss__chart {
    display: flex;
    justify-content: center;
    margin-top: rem(20px);

    .recharts-text {
      font-size: 10px;
      color: $slate;
    }
  }

  .loader-offset {
    top: rem(50px);
    height: calc(100% - 50px);
  }
}
