.call-actions-wrapper {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f2f2f3;
  display: none;

  .call-action {
    padding: 0 20px;
    text-align: center;

    > span {
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 17px;
      font-size: 14px;
      line-height: 1.14;
      color: #555555;
      text-transform: uppercase;
    }

    > .btn {
      width: 100%;
    }
  }

  @media (min-width: $br-mobile){
    display: block;
  }
}
