.is-show-action {
  .layout-content {
    margin-bottom: 0;
  }
}

.country {
  float: left;
  margin: 0 0 -1px -1px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #999;
  width: 100%;

  @media (min-width: 480px){
    width: 50%;
  }
  @media (min-width: 768px){
    width: 33.333333%;
  }
  @media (min-width: 1000px){
    width: 25%;
  }
  @media (min-width: 1280px){
    width: 20%;
  }




  a {
    position: relative;
    display: block;
    // max-width: 240px;
    width: 100%;
    height: 240px;
    padding: 20px;
    border: 1px solid #E5E5E5;
    background: #fff;

    &:hover {
      z-index: 1000;
      // margin: -10px;
      // padding: 30px;
      @include box-shadow(0 0 1px rgba(#000, .1));
      border-color: #cacaca;

      .country_main,
      .country_alt {
        fill: $cGreen;
      }
      @include transform(scale(1.1));
    }
  }

  .country-content {
    position: absolute;
    top: 190px; left: 20px;
    right: 20px;

    span {
      display: block;
      color: #999;
      font-size: 15px;
      line-height: 1.1;
    }
  }

  h3 {
    display: block;
    margin-bottom: 5px;
    font-size: 19px;
    line-height: 1.1;
    color: #555;
    text-transform: uppercase;
    padding: 0;
    &.small {
      font-size: 19px;
    }
  }

  strong {
    font-weight: bold;
  }

  svg {
    position: absolute;
    top: 20px; left: 50%;
    margin-left: -75px;
    fill: #555;
  }
}
h2 {
  font-size: 47px;
  padding: 40px 0 15px;
  text-transform: lowercase;
  color: #555;
  text-align: center;
  &:first-letter {
    text-transform: uppercase;
  }
}

h3 {
  font-size: 25px;
  padding: 40px 0 0 0;
  text-transform: lowercase;
  color: #555;
  &:first-letter {
    text-transform: uppercase;
  }
}

.btn {
  float: right;
  text-transform: uppercase;
  position: relative;
  top: -55px;
}

.section.interesting {
  background-color: #F7F7F7;
  margin: 50px 0 0;
  border-top: 1px solid #e5e5df;
  border-bottom: 1px solid transparent;

  .section-title {
    font-weight: normal;
    color: #98BE3A;
  }
}

.country-interesting-links {
  margin: 40px 0;
  height: 175px;

  li:after {
    content: "";
    display: block;
    clear: both;
  }

  li {
    color: #8A8A8A;
    width: 29%;
    padding: 0 20px;
    border-right: 1px solid #E4E4E4;
    display: inline-block;
    text-align: center;
    margin: auto;
    font-size: 16px;
    line-height: 28px;
    float: left;
    height: 163px;

    &:last-child { border-right: none; }
  }

  h3 {
    text-transform: uppercase;
    color: #424242;
    font-size: 20px;
    padding-top: 0;
    margin-bottom: 10px;
  }

  .btn-rdn {
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 480px) {
  .countries-list-title {
    margin-left: 20px;
    margin-right: 20px;
  }

  .interesting .section-title {
    font-size: 28px;
  }

  .section.interesting {
    margin-top: 0;
  }

  .country-interesting-links {
    height: auto;
    margin-top: 0;

    li {
      width: auto;
      border-right: 0;
      border-bottom: 1px solid #E4E4E4;
      float: none;
      height: 195px;
      padding-top: 20px;
    }

    li:last-child {
      border-bottom: 0;
    }
  }
}
