.is-show-action {
  .layout-content {
    margin-bottom: 0;
  }
}

.country {
  float: left;
  margin: 0 0 -1px -1px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #999;
  width: 100%;

  @media (min-width: 480px){
    width: 50%;    
  }
  @media (min-width: 768px){
    width: 33.333333%;    
  }
  @media (min-width: 1000px){
    width: 25%;    
  }
  @media (min-width: 1280px){
    width: 20%;    
  }




  a {
    position: relative;
    display: block;
    // max-width: 240px;
    width: 100%;
    height: 240px;
    padding: 20px;
    border: 1px solid #E5E5E5;
    background: #fff;

    &:hover {
      z-index: 1000;
      // margin: -10px;
      // padding: 30px;
      @include box-shadow(0 0 1px rgba(#000, .1));
      border-color: #cacaca;

      .country_main,
      .country_alt {
        fill: $cGreen;
      }
      @include transform(scale(1.1));
    }
  }

  .country-content {
    position: absolute;
    top: 190px; left: 20px;
    right: 20px;

    span {
      display: block;
      color: #999;
      font-size: 15px;
      line-height: 1.1;
    }
  }

  h3 {
    display: block;
    margin-bottom: 5px;
    font-size: 19px;
    line-height: 1.1;
    color: #555;
    text-transform: uppercase;
    &.small {
      font-size: 19px;
    }
  }

  strong {
    font-weight: bold;
  }

  svg {
    position: absolute;
    top: 20px; left: 50%;
    margin-left: -75px;
    fill: #555;
  }
}
h2 {
  font-size: 47px;
  padding: 40px 0 15px;
  text-transform: lowercase;
  color: #555;
  text-align: center;
  &:first-letter {
    text-transform: uppercase;
  }
}
.btn {
  float: right;
  text-transform: uppercase;
  position: relative;
  top: -55px;
}
