.country-page-legend {
  min-width: 280px;
  top: 20px;
  left: 20px;
  background-color: #FFF;
  position: absolute;
  padding: 16px 18px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);

  ul {
    list-style: none;

    li {
      display: block;
      margin-bottom: 8px;

      .onoffswitch {
        margin-right: 8px;
        position: relative;
        top: 3px;
        cursor: pointer;

        &.checked {
          background-color: #ff6699;
        }
      }

      .layer-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        line-height: 1.42;
        color: #555;

        .icon-info-green {
          width: 12px;
          height: 12px;
          cursor: pointer;

          &.-hidden {
            display:none;
          }
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &.-bottom {
    bottom: 20px;
  }
}

.container-zoom-buttons {
  position: absolute;
  right: 0;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  bottom: 20px;
  right: 20px;
  max-height: 76px;

  &.-top {
    top: 20px;
  }

  div {
    cursor: pointer;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    &:first-of-type {
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    }

    .icon {
      display: block;
      height: 25px;
      width: 25px;
    }
  }
}
