.country-overview-wrapper-coolio{
  position: relative;
  background: #333;
  margin-top: 36px;
  top: -20px;
}

.overview_graph {
  // height: 511px;
  overflow: hidden;
  width: 960px;
  margin: 0 auto;
  // @include background-image(linear-gradient(#464253, #383643));

  .umdoptions_dialog {
    left: auto;
    right: 0;
    top: 66px;
    display: block;
    position: absolute;
      &::after {
        top: -272px;
        left: 237px;
      }
      &::before {
        background-color: black;
        top: -29px;
        left: 237px;
      }
  }
}

.overview_graph__area {
  height: 371px;
  // background: image-url('backgrounds/overview_graph.png');
  // @include background-size(cover);
  // background-position: -220px center;
  svg {
    position: relative;
    z-index: 300;
    margin-left: -40px;
    width: 1000px;
  }
}

.tick {
  shape-rendering: optimizeSpeed;
  stroke-width: 1px;
  stroke-dasharray: 16, 2;
  background: red;
}

.grid_h {
  @extend .tick;
  stroke: rgba(#fff, .1);
}

.grid_v {
  @extend .tick;
  stroke: rgba(#fff, .3);
}

.linedot {
  stroke-width: 2px;
  stroke: #464253;
  fill: #fff;
  cursor: pointer;

  &.gain {
    stroke: #6D6DE5;
    &.extent {
      stroke: #97bd3d;
    }
  }
}

.overview_line {
  @extend .tick;
  stroke-width: 7px;
  stroke: #6D6DE5;
}

.minioverview_line {
  @extend .tick;
  stroke: #444;
  stroke-dasharray: 11px, 2px;
  @include opacity(.5);
}

.overview_graph__tabs {
  @extend .clearfix;

  li {
    display: table;
    float: left;

    &.selected,
    &:hover {
      a {
        position: relative;
        border-bottom: 0;
        color: rgba(#fff, .75);
        background: #333;
      }
    }

    &.selected a:after {
      content: '';
      position: absolute;
      top: 0; left: 50%;
      margin-left: -3px;
      border: 6px solid transparent;
      border-top-color: #eee;
    }

    &.all_countries a {
      background: #95BC3B;
      margin-bottom: 0;

      &:hover {
        background: darken(#95BC3B, 5%);
        border-bottom: 1px solid #615D6C;
      }
    }
  }
}

.overview_graph__link {
  display: table-cell;
  height: 99px;
  width: 160px;
  border-left: 1px solid #615D6C;
  border-bottom: 2px solid #615D6C;
  font-size: 14px;
  font-family: "fira_sans_otmedium";
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: rgba(#fff, .75);
  text-decoration: none;

  span {
    display: block;
    font-size: 12px;
    line-height: 1.5;
    color: #A39FAA;
  }
}

.overview_graph__legend {
  float: left;
  width: 100%;
  border-bottom: 1px solid #615D6C;
  margin-top: -1px;
  line-height: 40px;
  font-size: 13px;
  font-family: "fira_sans_otmedium";
  text-align: center;
  background: #333;
  color: #fff;

  .info {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
  }
}

.overview_graph__years,
.overview_graph__axis,
.countries_list__header {
  position: relative;
  height: 28px;
  border-bottom: 1px solid #CCC;
  line-height: 28px;
  font-size: 12px;
  font-family: "fira_sans_otmedium";
  color: #9D9AA5;
  text-transform: uppercase;
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  width: 100%;

  span {
    text-transform: lowercase;
  }
}

.overview_graph__axis {
  display: none;
  text-transform: none;
}

.year {
  display: block;
  position: absolute;
  width: 30px;
  margin-left: -15px;
  text-align: center;
}

.overview_graph__title {
  border-bottom: 1px solid #ccc;
  padding: 30px 0;
  font-size: 37px;
  line-height: 1.1;
  font-family: "fira_sans_otregular";
  text-align: center;
  color: #463F52;
  vertical-align: top;

  sup {
    position: relative;
    top: -14px;
    font-size: 23px;
  }
}
.is-overview-action {
  .countries_list ul li {
    border-bottom: 1px solid #ccc;
    padding: 18px 0;
  }
}
.countries_list {
    margin:0 auto;
    width: 960px;
  ul  {
    width: 100%;
  }
  li {
    @extend .clearfix;
    &:hover {
      background: rgba(#ddd, .3);

      .bar {
        @include opacity(1);
      }

      .minioverview_line {
        @include opacity(0.7);
        stroke-width: 2px;
      }

      .countries_list__minioverview {
        .loss {
          color: #6D6DE5;
        }

        .gain {
          color: #C443FF;
        }
      }
    }
  }
}

.countries_list__header__minioverview,
.countries_list__minioverview {
  float: right;
  width: 110px;
  text-align: center;

  &.huge {
    width: 330px;
  }

  &.expanded {
    width: 170px;
  }

  &.medium {
    width: 150px;
  }
}

.countries_list__header__num,
.countries_list__num,
.countries_list__header__title,
.countries_list__title {
  float: left;
}

.countries_list__header__num,
.countries_list__num {
  width: 45px;
  padding-left: 10px;
  padding-right: 10px;
}
.countries_list__data {
  float: right;
  width: 240px;
  text-align: right;
  margin-top: 4px;
  line-height: 20px;
  .line {
    float: left;
    color: #A2A0A9;
    position: relative;
    span{
      min-width: 50px;
      text-align: right;
      float: left;
      margin-right: 4px;
    }
    &.percent {
      margin-right: 20px;
      font-size: 1.3rem;
      margin-top: 13px;
    }
    &::after {
      content: '';
      float: left;
      background-color: #FF6699;
      width: 6px;
      height: 6px;
      border-radius: 6px;
      position: absolute;
      top: 8px;
      right: -12px;
    }
    &.percent::after {
      display: none;
    }
    &.gain::after {
      background-color: #6D6DE5;
      right: -10px;
    }
  }
  div[id^="ext_"] {
    .line{
      float: right;
      &:after {
        display: none;
      }
    }

  }
  .perct {
    float: right;
  }
}
.countries_list__header__title,
.countries_list__title {
  padding-left: 15px;
}

.countries_list__num,
.countries_list__title {
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 29px;
  line-height: 30px;
  font-family: "fira_sans_otmedium";
  color: #464152;
}

.countries_list__num {
  width: 45px;
}

.countries_list__title {
  border-left: 1px solid #ccc;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 450px;
  white-space: nowrap;
  color: #A2A0A9;
  a {
    color: #463F52;
    text-decoration: none;
    font-family: "fira_sans_otlight", Georgia, sans-serif;
    &:hover {
      color: #88aa37;
      font-family: "fira_sans_otregular", Georgia, sans-serif;
    }
  }
}

.countries_list__minioverview {
  height: 50px;
  font-size: 29px;
  line-height: 50px;
  font-family: "fira_sans_otmedium";
  color: #A2A0A9;

  .loss {
    color: rgba(#6D6DE5, .5);
  }

  .gain {
    color: rgba(#C443FF, .5);
  }

  .bar {
    fill: #FF6699;

    &.extent {
      fill: $cGreen;
    }
  }

  svg {
    float: right;
    margin: 10px;
  }

  .sibling {
    float: left;
    border-right: 1px solid #ccc;
    width: 20px;

    svg {
      padding-right: 10px;
    }
  }

  .half {
    float: left;
    width: 150px;

    &.last {
      padding-left: 9px;
      border-left: 1px solid #ccc;
      margin-left: 10px;
    }
  }
}

.countries_list__footer {
  background: rgba(#6D6DE5, .15);
  text-align: center;
  padding: 30px 0;

  a {
    display: inline-block;
    border: 2px solid rgba(#464253, .25);
    width: 192px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 38px;
    font-family: "fira_sans_otmedium";
    text-align: left;
    text-transform: uppercase;
    color: #463F52;
    @include border-radius(21px);

    i {
      float: right;
      display: block;
      height: 38px;
      width: 10px;
      @include country-icons-sprite(overview_footer);
    }

    &:hover {
      border: 2px solid rgba(#464253, .5);
    }
  }
}

.tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 500;
  padding: 20px 10px;
  font-size: 19px;
  font-family: "fira_sans_otmedium";
  text-align: center;
  color: #C440FF;
  background: #fff;
  @include border-radius(5px);
  @include box-shadow(0 0 3px #000);

  &:after {
    content: '';
    position: absolute;
    bottom: -6px; left: 50%;
    border-color: #fff rgba(#fff, 0);
    border-width: 6px 6px 0 6px;
    border-style: solid;
    margin-left: -6px;
  }

  &.gain_tooltip,
  &.tropical_tooltip {
    color: #6D6DE5;
  }
  &.gain_extent_tooltip {
    color: #97bd3d;
  }
  &.subtropical_tooltip {
    color: #FFFF73;
  }

  &.boreal_tooltip {
    color: #FFB973;
  }

  &.temperature_tooltip {
    color: #73DCFF;
  }

  span {
    display: block;
    font-size: 15px;
    line-height: 1.5;
    color: rgba(#373343, .5);
  }
}

.chart {
  display: none;
  position: absolute;
  width: 960px;
  height: 371px;
  color: #fff;

  &.total_loss {
    display: block;
  }

  &.percent_loss,
  &.total_extent {
    .disclaimer {
      bottom: 40px;
    }
  }

  &.total_extent {
    height: 0;
    overflow: hidden;
    .legend {
      top: 40px;
      li:last-child i {
        background: #97bd3d;
      }
    }
  }

  .legend {
    position: absolute;
    z-index: 400;
    top: 10px; left: 20px;

    li {
      font-size: 19px;
      line-height: 1.5;
      font-family: "fira_sans_otregular";
      @include text-shadow(0 0 5px rgba(#000, .8));

      &:first-child i {
        background: #FF6699;
      }

      &:last-child i {
        background: #6D6DE5;
      }

      i {
        display: inline-block;
        position: relative;
        top: -2px;
        height: 6px;
        width: 6px;
        vertical-align: middle;
        @include border-radius(4px);
      }
    }
  }

  .disclaimer {
    position: absolute;
    z-index: 400;
    left: 20px; bottom: 20px;
    margin: 0;
    font: normal 11px/1 "fira_sans_otmedium";
    color: #fff;
  }
}

.ball {
  fill: #6D6DE5;
  @include opacity(.8);
}

.label {
  font-size: 13px;
  font-family: "fira_sans_otmedium";
  text-transform: uppercase;
  fill: #fff;
}

.axis {
  font-size: 12px;
  font-family: "fira_sans_otmedium";
  fill: #9D9AA5;
}

.source_window .conventions .credits {
  margin-bottom: 30px;
}


.share_dialog {
  $width: 463px;
  $height: 170px;

  display: none;
  position: fixed;
  z-index: 2000;
  top: 50%; left: 50%;
  margin-top: -$height/2;
  margin-left: -$width/2;
  height: $height;
  width: $width;
  padding: 30px;
  border: 1px solid #757573;
  background: #fff;
  @include box-shadow(0 0 7px #666);
  @include border-radius(3px);
  text-align: center;

  .form {
    position: absolute;
    bottom: 0; left: 0;
    border-top: 1px solid #f1f1f1;
    padding: 28px 10px 30px;
    width: 498px;
  }

  .error_input_label {
    display: none;
    position: absolute;
    right: -92px; bottom: 37px;
    width: 190px;
    height: 39px - 9px;
    padding: 9px 0 0;
    color: #fff;
    font-size: 15px;
    @extend .sans-serif;
    text-align: center;
    @include country-icons-sprite(error_input_label);
  }

  .btn {
    width: 120px;
    padding: 14px 0;
  }

  .input-field {
    position: relative;
    width: 300px;
    margin: 0 30px 0 0;

    &.error input { color: red;}

    .icon.error {
      display: none;
      width: 21px;
      height: 22px;
      position:absolute;
      right: -7px;
      top: 10px;
      @include country-icons-sprite(input_error);
    }
  }

  .holder {
    position: absolute;
    top: 14px; left: 12px;
    font-size: 15px;
    @extend .sans-serif;
    color: #ddd;
  }

  .subtitle {
    margin: 0 0 20px 0;

    a {
      color: #A1BB27;
      text-decoration: underline;
    }
  }

  .close {
    display: block;
    position: absolute;
    top: 15px; right: 15px;
    width: 6px;
    height: 6px;
    // @include country-icons-sprite(infowindow_close);
    background: image-url('country-icons/infowindow_close.png');
  }

  h1 {
    font-size: 35px;
    margin: 10px 0 5px;
    @extend .serif;
  }

  p {
    font-size: 15px;
    @extend .sans_serif;
    color: #999;

    &.help { margin: 0 0 20px; }
  }
  .mode_menu {
  position: absolute;
  top: 4px; right: -15px;
  width: 120px;
  background: #fff;

    li.first a {
      @include border-right-radius(3px);
    }

    li.last a {
      @include border-left-radius(3px);
    }

    li.selected a {
      background: $cGreen;
      color: #fff;
    }

    a {
      display: block;
      float: right;
      width: 55px;
      margin-left: 2px;
      font-weight: bold;
      font-size: 11px;
      line-height: 34px;
      text-transform: uppercase;
      background: #eee;
    }
  }
  .input-field {
    @include inline-block();
    height:36px;
    width: 416px;

    background: url(backgrounds/bkg_form_input.png) no-repeat left 0;

    input[type="text"], input[type="password"], input[type="email"],input[type="date"] {
      width:100%;
      height:37px;
      margin: 0 0 0 7px;
      padding: 0 7px 0 5px;

      font-size: 14px;

      background:url(backgrounds/bkg_form_input.png) repeat-x right -36px;
      border:none;
      outline:none;
    }
    &.huge {
      height: 42px;
      background:url(backgrounds/bkg_form_input_big.png) no-repeat left 0;

      input[type="password"], input[type="text"], input[type="email"] {
        height:43px;
        background:url(backgrounds/bkg_form_input_big.png) repeat-x right -42px;
      }
    }
  }
}
.share_dialog {
  height: 210px;

  .input-field {
    width: 444px;
    margin: 0 30px 0 20px;
  }

  .share_buttons {
    position: relative;
    bottom: -15px;
    left: 180px;
    margin: 10px 0 0 20px;

    a {
      display: block;
      float: left;
      width: 32px;
      height: 32px;
      margin-right: 5px;
      background: image-url('home-icons/ess-icons-2.png') no-repeat;

      &.twitter { background-position: -102px 0; }
      &.facebook { background-position: -68px 0; }

      span { display: none; }
    }
  }
}
.overview_button_group {
  background: #EEEEEE;
  width: 100%;
  height: 40px;
  display: flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-flex;
  align-items: center;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;

  .inner {
    width: auto;
    margin: 0;
    padding: 0;
    .countries_show & {
      width: 790px;
    }
  }
  .share_control, .item {
    min-width: 90px;
    @media screen and (min-width:0\0) {
        /* IE9 and IE10 rule sets go here */
      max-width: 130px;
    }
    text-align: center;
    height: 39px;
    padding: 10px 12px 0 12px;
    text-transform: uppercase;
    font-size: 14px;
    color: #BEBCC2;
    margin-left: 15px;
    cursor: pointer;
    @include box-sizing(border-box);

    .country-icons-share {
      height: 16px;
      width: 16px;
      display: inline-block;
      vertical-align: bottom;
      margin-left: 5px;
      @include country-icons-sprite(share);
    }

    &:hover {
      border-color: rgba(54,51,64,0.35);
    }
    &.settings {
      &.disable {
        opacity: 0.5;
        background-color: #fafafa;
        pointer-events: none;
      }
        i {
        float: right;
        position: relative;
        top: -2px;
        margin-left: 7px;

        &.no_def {
          background-color: rgba(129, 149, 21, 0.6);
          box-shadow: 0px 0px 15px rgba(159, 186, 43,0.9);
          border-radius: 3px;
        }
      }
    }
  }
  .country-share .share_control {
      width: 105px;
      display: block;
      background: none;
      background-color: transparent;
      text-decoration: none;
    }
}
.show-more-countries {
  display: flex;
  height: 120px;
  justify-content: center;
  align-content: center;
  align-items: center;
  .btn {
    top: 0;
  }
}
