.widget-placeholder {
  min-height: 50px;
  > svg {
    display: none;
  }

  &.-no-data {
    display: flex;
    align-items: center;
    justify-content: center;

    > p {
      font-size: 14px;
      color: #555555;
    }
  }

  &.-loading {
    min-height: 160px;
    position: relative;
    &:before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 30px;
      margin-top: -15px;
      margin-left: -15px;
      border-radius: 15px;
      border: 3px solid #E7E7E9;
      border-top-color: $cGreen;
      animation: spinner .6s linear infinite;
    }
  }
}

@keyframes spinner{
  to {
    transform:rotate(360deg)
  }
}

.m-sub-header {
  width: 100%;
  height: auto;
  padding: 40px 15px 30px;
  background-color: #333333;
  display: flex;
  align-items: center;

  @media (min-width: $br-mobile){
    height: 136px;
    padding: 0;
  }

  .-loading & {
    display: none;
    margin-bottom: 100px;
  }

  .title {
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 0.3px;
    color: $font-color-1;
    margin-top: 0;
    margin-bottom: 15px;

    @media (min-width: $br-mobile){
      margin-bottom: 0;
      font-size: 47px;
    }
  }

  .row {
    flex-direction: column;

    @media (min-width: $br-mobile){
      flex-direction: row;
    }
  }

  .columns {
    max-width: 100%;

    @media (min-width: $br-mobile){
      max-width: inherit;
    }
  }
}

.dashboard {
  width: 100%;
  min-height: 600px;
  display: flex;

  &.relative {
    position: relative;
  }

  &.-loading {
    min-height: 60vh;
  }

  .map {
    height: 100vh;
    width: 35%;
    background-color: #a3dcff;
    display: none;

    @media (min-width: $br-mobile){
      display: block;
    }


    &.stick {
      position: fixed !important;
      top: 0;
      width: 35%;

      @media (min-width: 1600px){
        width: calc(35% - 112px);
      }
    }

    &.absolute {
      position: absolute !important;
      bottom: 0;
    }
  }

  .widgets {
    width: 100%;

    @media (min-width: $br-mobile){
      width: 65%;
    }

    &.stick {
      z-index: 1;
      margin-left: 0;

      @media (min-width: $br-mobile){
        margin-left: 35%;
      }
    }
  }
}

.widgets .content {
  min-height: 310px;
  background-color: #ffffff;
  padding: 30px 15px 0;
  border-bottom: 1px solid #E7E7E9;

  @media (min-width: $br-mobile){
    padding: 50px 40px 0 40px;
  }

  > .title {
    color: $dark;
    font-size: 35px;
    font-weight: 300;
  }

  &.-dark {
    background-color: #f7f7f8
  }

  &.-summary {
    display: block;
    min-height: inherit;
    padding-bottom: 35px;

    @media (min-width: $br-mobile){
      display: none;
    }

    .summary-list {
      list-style: none;
      display: block;
      margin-top: 20px;

      li {
        line-height: 1.62;
        letter-spacing: 0.1px;
        color: #97be32;
        cursor: pointer;
        margin-bottom: 18px;
        text-transform: uppercase;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .snapshot-row {
    flex-direction: column;

    @media (min-width: $br-mobile){
      flex-direction: row;
    }

    .snapshot-container {
      width: 100%;
      max-width: none;

      @media (min-width: $br-mobile){
        width: auto;
        max-width: inherit;
      }
    }
  }

  .tree-cover-loss-alerts-row {
    #fa-graphs-container {
      justify-content: space-between;
    }

    .tree-cover-loss-alerts-container {
      max-width: 50%;

      @media (min-width: $br-mobile){
        max-width: inherit;
      }
    }
  }

  .widget-fire-alerts-row {

    .widget-fire-alerts-container {
      max-width: 50%;

      @media (min-width: $br-mobile){
        max-width: 100%;
      }
    }

    .m-widget-fires-alerts-cover {
      width: 100%;
    }
  }
}

.widget {
  position: relative;
  margin-top: 15px;
  margin-bottom: 55px;
  min-height: 150px;
  padding-right: 0;

  @media (min-width: $br-mobile){
    padding-right: 30px;
  }

  .back-loading {
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background-color: rgba(#555, 0.1);
    z-index: 4;
    display: none;

    &.-show {
      display: block;
    }

    &.-tree-cover-snapshot {
      left: -20px;
    }
  }

  .big-bottom-separation {
    margin-bottom: 15px;
  }

  &.-big-separation {
    margin-top: 30px;
  }

  &.-short {
    min-height: 0;
  }

  &.-no-b-margin {
    margin-bottom: 0;
  }

  .title {
    font-size: 13px;
    font-weight: 500;
    color: $dark;
    text-transform: uppercase;

    &.-icons {
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;

      .icon {
        width: 18px;
        height: 18px;
        margin-right: 10px;

        &:last-of-type {
          margin-right: 0;
        }

        &.icon-gray-share {
          cursor: pointer;
        }

        &.icon-info-green:not([data-source]) {
          cursor: no-drop;
        }
      }
    }
  }

  .text {
    font-size: 32px;
    line-height: 1.31;
    color: #555555;
    font-weight: 300;

    > .value {
      color: #6a6ae8;
      font-weight: 500;
    }
  }

  .highlight {
    color: #6a6ae8;
    font-size: 36px;
    line-height: 1.31;
    > .unit {
      font-size: 16px;
    }
  }

  .tree-cover-loss-alerts-filter,
  .fire-alerts-filter {
    .desktop {
      display: none;

      @media (min-width: $br-mobile){
        display: flex;
        width: 100%;
      }
    }

    .mobile {
      display: block;

      @media (min-width: $br-mobile){
        display: none;
      }
    }

    .list-mobile {
      li {
        font-size: 12px;
        line-height: 1.42;
        color: #555555;

        .data {
          color: #97Bd3d;
        }
      }
    }
  }
}

.country-selector {
  display: inline-block;
  margin-top: 1px;
  border: 1px solid #6B6B6B;
  border-radius: 36px;
  height: 36px;
  width: 100%;
  margin-bottom: 10px;
  position: relative;

  @media (min-width: $br-mobile){
    margin-bottom: 0;
    width: 96%;
  }

  .embed & {
    display: none;
  }
  .dark{
    color: $dark;
  }

  select {
    border: none;
    font-size: 13px;
    text-transform: uppercase;
    background: transparent;
    color: rgba(254, 254, 254, 0.7);
    -webkit-appearance: none;
    padding: 10px 15px;
    width: 100%;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    &::-ms-expand {
      display: none;
    }

    &:focus {
      outline: 0;
    }
  }

  .selector-arrow {
    width: 10px;
    height: 10px;
    top: 50%;
    right: 20px;
    margin-top: -4px;
    position: absolute;
    pointer-events: none;
    stroke: #73707D;
  }

  .selector-remove {
    padding: 5px;
    color: #73707D;
    font-size: 13px;
    top: 9px;
    right: 35px;
    position: absolute;
    cursor: pointer;
    display: none;
    &:hover {
      color: lighten(#73707D, 10);
    }
  }
}

.overview_button_group {
  position: relative;
  background: #FFF;
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  padding-right: 14px;

  @media screen and (min-width: $br-mobile) {
    padding-right: 130px;
    background: #e7e7e9;
  }

  &.is-max{
    .inner{
      max-width: 960px;
    }
  }
  .inner {
    width: 100%;
    overflow: hidden;
    padding: 8px;
    .countries_show & {
      width: 790px;
    }
  }

  .download-spatial {
    display: none;

    @media screen and (min-width: $br-mobile) {
      display: block;
    }
  }

  .share_control, .item, .download-spatial {
    position: relative;
    box-sizing: content-box;
    float: right;
    // display: inline-block;
    padding: 0 24px 0 0;
    margin: 0 0 0 20px;
    font-size: 14px;
    line-height: normal;
    text-transform: uppercase;
    color: $dark;
    cursor: pointer;
    a {
      color: $dark;
      &.disabled {
        opacity: 0.5;
        cursor: default;
      }
    }

    svg{
      display: inline-block;
      position: absolute;
      top: 2px;
      right: 0px;
      height: 14px;
      width: 14px;
      fill: $dark;
    }

    .tos {
      font-size: 10px;
      text-transform: none;
      max-width: 190px;
      line-height: 1.1;
      a {
        color: $cGreen;
        &:hover {
          color: lighten($cGreen, 5%)
        }
      }
    }

    box-sizing: border-box;

    .country-icons-share {
      height: 16px;
      width: 16px;
      display: inline-block;
      vertical-align: bottom;
      margin-left: 5px;
      position: relative;
      top: -4px;
    }

    &:hover {
      border-color: rgba(54,51,64,0.35);
    }
    &.settings {
      &.disable {
        opacity: 0.5;
        background-color: #fafafa;
        pointer-events: none;
      }
      &.no_def {
        svg{
          fill: $cGreen;
        }
      }
    }
    @media only screen and (max-width: 480px) {
      margin: 0 0px 0 20px;
    }
  }

  .share_control {

    @media only screen and (max-width: 480px) {
      margin: 0 20px 0 20px;
    }
    .share {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
    }
  }

  .country-share .share_control {
    width: 105px;
    display: block;
    background: none;
    background-color: transparent;
    text-decoration: none;
  }
}
