.widget-placeholder {
  min-height: 50px;
  > svg {
    display: none;
  }

  &.-no-data {
    display: flex;
    align-items: center;
    justify-content: center;

    > p {
      font-size: 14px;
      color: #555555;
    }
  }

  &.-loading {
    position: relative;
    &:before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 30px;
      margin-top: -15px;
      margin-left: -15px;
      border-radius: 15px;
      border: 3px solid #E7E7E9;
      border-top-color: $cGreen;
      animation: spinner .6s linear infinite;
    }
  }
}

@keyframes spinner{
  to {
    transform:rotate(360deg)
  }
}

.m-sub-header {
  .-loading & {
    display: none;
    margin-bottom: 100px;
  }

  width: 100%;
  height: 136px;
  background-color: #333333;
  display: flex;
  align-items: center;

  .title {
    font-size: 47px;
    font-weight: 300;
    letter-spacing: 0.3px;
    color: $font-color-1;
  }
}

.dashboard {
  width: 100%;
  min-height: 600px;
  display: flex;

  &.-loading {
    min-height: 60vh;
  }

  .map {
    width: 35%;
    background-color: #a3dcff;
  }

  .widgets {
    width: 65%;
  }
}

.content {
  min-height: 310px;
  background-color: #ffffff;
  padding: 50px 40px 0 40px;
  border-bottom: 1px solid #E7E7E9;

  > .title {
    color: $dark;
    font-size: 35px;
    font-weight: 300;
  }

  &.-dark {
    background-color: #f7f7f8
  }
}

.widget {
  margin-top: 15px;
  margin-bottom: 55px;
  min-height: 150px;
  padding-right: 30px;

  &.-short {
    min-height: 0;
  }

  .title {
    font-size: 13px;
    font-weight: 500;
    color: $dark;
    text-transform: uppercase;
  }

  .text {
    font-size: 32px;
    line-height: 1.31;
    color: #555555;
    font-weight: 300;

    > .value {
      color: #6a6ae8;
      font-weight: 500;
    }
  }

  .highlight {
    color: #6a6ae8;
    font-size: 36px;
    line-height: 1.31;
    > .unit {
      font-size: 16px;
    }
  }
}

.country-selector {
  display: inline-block;
  margin-top: 1px;
  border: 1px solid #6B6B6B;
  border-radius: 36px;
  height: 36px;
  width: 96%;
  position: relative;

  .embed & {
    display: none;
  }
  .dark{
    color: $dark;
  }

  select {
    border: none;
    font-size: 13px;
    text-transform: uppercase;
    background: transparent;
    color: rgba(254, 254, 254, 0.7);
    -webkit-appearance: none;
    padding: 10px 15px;
    width: 100%;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    &::-ms-expand {
      display: none;
    }

    &:focus {
      outline: 0;
    }
  }

  .selector-arrow {
    border-color: #73707D transparent;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    width: 0;
    height: 0;
    top: 50%;
    right: 20px;
    margin-top: -3px;
    position: absolute;
    pointer-events: none;
  }

  .selector-remove {
    padding: 5px;
    color: #73707D;
    font-size: 13px;
    top: 9px;
    right: 35px;
    position: absolute;
    cursor: pointer;
    display: none;
    &:hover {
      color: lighten(#73707D, 10);
    }
  }
}

.overview_button_group {
  position: relative;
  background: #e7e7e9;
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  padding-right: 130px;

  &.is-max{
    .inner{
      max-width: 960px;
    }
  }
  .inner {
    width: 100%;
    overflow: hidden;
    padding: 8px;
    .countries_show & {
      width: 790px;
    }
  }
  .share_control, .item, .download-spatial {
    position: relative;
    box-sizing: content-box;
    float: right;
    // display: inline-block;
    padding: 0 24px 0 0;
    margin: 0 0 0 20px;
    font-size: 14px;
    line-height: normal;
    text-transform: uppercase;
    color: $dark;
    cursor: pointer;
    a {
      color: $dark;
      &.disabled {
        opacity: 0.5;
        cursor: default;
      }
    }

    svg{
      display: inline-block;
      position: absolute;
      top: 2px;
      right: 0px;
      height: 18px;
      width: 18px;
      fill: $dark;
    }

    .tos {
      font-size: 10px;
      text-transform: none;
      max-width: 190px;
      line-height: 1.1;
      a {
        color: $cGreen;
        &:hover {
          color: lighten($cGreen, 5%)
        }
      }
    }

    box-sizing: border-box;

    .country-icons-share {
      height: 16px;
      width: 16px;
      display: inline-block;
      vertical-align: bottom;
      margin-left: 5px;
      position: relative;
      top: -4px;
    }

    &:hover {
      border-color: rgba(54,51,64,0.35);
    }
    &.settings {
      &.disable {
        opacity: 0.5;
        background-color: #fafafa;
        pointer-events: none;
      }
      &.no_def {
        svg{
          fill: $cGreen;
        }
      }
    }
    @media only screen and (max-width: 480px) {
      margin: 0 0px 0 20px;
    }
  }

  .share_control {

    @media only screen and (max-width: 480px) {
      margin: 0 20px 0 20px;
    }
    .share {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
    }
  }

  .country-share .share_control {
    width: 105px;
    display: block;
    background: none;
    background-color: transparent;
    text-decoration: none;
  }
}
