@import "~styles/settings.scss";

.c-cookies {
  position: fixed;
  z-index: 99999;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  bottom: 0;

  @media screen and (min-width: $screen-m) {
    max-width: 620px;
    bottom: 30px;
  }

  &--map {
    bottom: 50px;

    @media screen and (min-width: $screen-m) {
      bottom: 30px;
      width: 92%;
    }
  }
}
