<div id="guide-tour-button" class="guideTourButton" data-tour="default">
	<span class="tooltipmap left">Tour</span>
	<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-tutorial"></use></svg>
</div>