<div class="search-box">
  <span class="searching-kinds">
    <span class="kind selected" data-kind="regular">Address</span>
    <span class="kind" data-kind="coordinates">Coordinates</span>
    <span class="kind" data-kind="degrees">Decimal degrees</span>
  </span>
  <div class="search regular selected">
    <input class="search-input" type='search' placeholder="E.g.: 10 G Street NE Suite 800, Washington, DC 20002"/>
  </div>
  <div class="search coordinates">
    <div id="coord-lat" class="coord-box">
      <input class="coord-input" name="degrees" type='text' maxlength="3" value="7"/>ยบ
      <input class="coord-input" name="minutes" type='text' maxlength="2" value="33"/>'
      <input class="coord-input" name="seconds" type='text' maxlength="4" value="04.2"/>''
      <select class="chosen-select default coord-select notranslate" id="coord-lat-cardinal" name="cardinal">
        <option>N</option>
        <option>S</option>
      </select>
    </div>
    <div id="coord-lng" class="coord-box">
      <input class="coord-input" name="degrees" type='text' maxlength="3" value="75"/>ยบ
      <input class="coord-input" name="minutes" type='text' maxlength="2" value="01"/>'
      <input class="coord-input" name="seconds" type='text' maxlength="4" value="53.3"/>''
      <select class="chosen-select default coord-select notranslate" id="coord-lng-cardinal" name="cardinal">
        <option>W</option>
        <option>E</option>
      </select>
    </div>
    <button id="coord-btn" class="btn green uppercase">Search</button>

  </div>
  <div class="search degrees">
    <div class="deg-box">
      Lat: <input class="deg-input" id="deg-lat" name="deg-lat" type='text' value="-7.56"/>
    </div>
    <div class="deg-box">
      Long: <input class="deg-input" id="deg-lng" name="deg-lng" name="degrees" type='text' value="-75.01"/>
    </div>
    <button id="deg-btn" class="btn green uppercase">Search</button>
  </div>
</div>
