<div class="search-box">
  <span class="searching-kinds">
    <span class="kind regular">Address</span>
    <span class="kind coordinates">Coordinates</span>
    <span class="kind degrees">Decimal degrees</span>
  </span>
  <div class="search regular">
    <input type='search' placeholder="E.g.: 10 G Street NE Suite 800, Washington, DC 20002, USA"/>
  </div>
  <div class="search coordinates">
    <input type='search' placeholder="E.g.: 38ยบ 53' 57.0798\" E, -77ยบ 0' 29.0953\" N"/>
  </div>
  <div class="search degrees">
    <input type='search' placeholder="E.g.: 38.899189, -77.008082"/>
  </div>
</div>
