@import '~styles/settings.scss';

.c-pie-chart-legend {
  display: inline-block;
  width: 100%;

  .legend-title {
    font-size: rem(12px);
    line-height: 1;
    color: $slate;
    position: relative;

    span {
      position: absolute;
      top: 0;
      display: inline-block;
      width: rem(12px);
      min-width: rem(12px);
      min-height: rem(12px);
      height: rem(12px);
      margin-right: rem(7px);
      border-radius: 100%;
    }

    p {
      color: $slate;
      font-size: rem(12px);
      margin-left: rem(20px);
      line-height: 1.4;
    }
  }

  .legend-value {
    padding: rem(5px) 0 0 rem(20px);
    font-size: rem(28px);
    font-weight: 500;
    margin-bottom: rem(20px);
  }
}
