@import '~styles/settings.scss';

.c-contact-form {
  h4 {
    font-size: rem(16px);
    margin-bottom: rem(5px);
  }

  p {
    margin-bottom: rem(20px);
  }

  .submit-btn {
    min-width: rem(180px);
  }

  .feedback-message {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    max-width: 70rem;
    width: 600px;
    padding: 1rem;
    margin: auto;

    h3 {
      font-size: 2.1875rem;
      margin-bottom: 1.25rem;
      text-transform: none;
      opacity: 1;
    }

    p {
      margin-bottom: 1.25rem;
    }

    .button-group {
      display: flex;
      flex-direction: row;

      a,
      button {
        width: rem(260px);
      }

      .close-button {
        background-color: $error;
        margin-bottom: 0.625rem;
        margin-left: 0.625rem;

        &:hover {
          background-color: #c4143b;
        }
      }
    }
  }
}
