<section class="m-header-static">
  <div class="inner">
    <header>
      <h2>Contribute data to Global Forest Watch</h2>
      <h3>Share your data with the GFW community by adding it to the GFW Interactive Map</h3>
      <p>Would you like to publish your data to the <a href="/map">GFW Interactive Map</a>? Just complete this form!</p>
      <p>Please submit this form for each data set you would like to contribute. Although the GFW team will make every effort to add all data submitted via this form, there may be instances where GFW does not support the type or format of data. We will contact you if we are unable to add your data to GFW.</p>
    </header>
  </div>
</section>

<section class="m-section-static">
  <div class="inner">
    <div class="m-new">
      <aside class="m-aside">
        <h3>HOW TO CREATE YOUR SUBSCRIPTIONS</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus dolor a suscipit tincidunt. Ut sagittis porta nunc, nec pellentesque dolor ornare ut. Sed vitae.</p>

        <ul>
          <li>Country or Jurisdiction</li>
          <li>Draw or upload your area of interest</li>
        </ul>
      </aside>

      <div class="m-form">
        <form id="new-contribution">
          <div class="field -required">
            <label for="name">Name *</label>
            <input type="text" name="name" placeholder="Enter the name of your subscription">
          </div>

          <div class="field -required">
            <label for="aoi">AOI *</label>
            <div class="m-select">
              <select id="aoi" data-placeholder="Select your area of interest (country or upload your own shapefile)">
                <option value=""></option>
                <option value="country">Country or Jurisdiction</option>
                <option value="draw">Draw or upload your area of interest</option>
              </select>
            </div>
          </div>

          <div id="new-subscription-content">

          </div>
        </form>
      </div>
    </div>
  </div>
</section>
