<% content_for :header do %>
  <h1><a href="/">Global Forest Watch</a></h1>
  <nav id="nav-mobile">
    <form class="mobile-show" action="/search">
      <svg class="icon"><use xlink:href="#shape-search"></use></svg>
      <input type="text" name="query" id="search-input" placeholder="Search GFW website">
    </form>
    <div id="google_translate_element_box2"></div>
    <div id="mobileMenu"></div>
    <ul class="mobile-hide">
      <li>
        <a href="/explore">My Subscriptions</a>
      </li>
      <li>
        <a href="/explore">My Stories</a>
      </li>
      <li>
        <a href="/explore">My Reports</a>
      </li>
    </ul>
  </nav>
<% end %>

<section class="header-static">
  <div class="inner">
    <header>
      <h2>My GFW</h2>
    </header>
  </div>
</section>

<section class='section'>
  <div class="user-profile inner" id="profile">
  </div>
</section>
