<% content_for :header do %>
  <h1><a href="/">Global Forest Watch</a></h1>

  <nav id="nav-mobile">
    <ul class="mobile-hide my-gfw-nav" id="my-gfw-profile-nav">
      <li>
        <a href="/my_gfw/subscriptions" data-href="/subscriptions" data-page="subscriptions">My Subscriptions</a>
      </li>
      <li>
        <a href="/my_gfw/stories" data-href="/stories" data-page="stories">My Stories</a>
      </li>
      <li>
        <a href="/my_gfw" data-href="/" data-page="profile">My Profile</a>
      </li>
    </ul>
  </nav>
<% end %>

<div class="my-gfw-container">
  <div class="m-spinner -fixed -start">
    <div class="spinner-box">
      <div class="icon"></div>
    </div>
  </div>
</div>
