<section class="header-static">
  <div class="inner">
    <header>
      <h2>My GFW</h2>
    </header>
  </div>
</section>

<section class='section'>
  <div class="inner" id="my-gfw">
    <div class="tabs">
      <h3 data-tab="profile" class="current">My profile</h3>
      <h3 data-tab="subscriptions">Subscription list</h3>
    </div>

    <div class="content-form" id="current-tab">
    </div>
  </div>
</section>
