<section class="header-static">
    <div class="inner">
      <header>
        <h2>My GFW</h2>
        <h3>Welcome, <%=@user['name']%> <img src="<%=@user['raw']['image']['url']%>" class="twitter-header-profile-img"> </h3>
      </header>
    </div>
</section>
<section class='section'>
  <div class="inner" id="my-gfw">
  	<div class="tabs">
  		<h3 class="current">My profile</h3>
  		<h3>Subscription list</h3>
  	</div>
  	<div class="content-form">
  		<div data-tab="profile" class="user-form current tab-content"></div>
  		<div data-tab="form" 	class="subscription-list tab-content"></div>
  	</div>
  </div>
</section>
