<div class="c-home-applications">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-home-applications__title text -title-xs -color-1">BROWSE APPLICATIONS</div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="c-home-applications__descriptions">
        <div class="c-home-applications__section">
          <svg class="icon">
            <use xlink:href="#icon-app-fires"></use>
          </svg>
          <div class="c-home-applications__section-title text -title-big -light -color-1">Fires</div>
          <div class="c-home-applications__section-description text -paragraph -color-1">Track fires and haze in the ASEAN region. View the latest data on fire locations and air quality and do you own analysis</div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-home-applications__apps-buttons">
    <div class="row">
      <div class="small-12 columns">
        <ul class="c-home-applications__app-button -left">
          <li>
            <svg class="icon">
              <use xlink:href="#icon-app-map"></use>
            </svg>
          </li>
          <li>
            <svg class="icon">
              <use xlink:href="#icon-app-fires"></use>
            </svg>
          </li>
          <li>
            <svg class="icon">
              <use xlink:href="#icon-app-commodities"></use>
            </svg>
          </li>
        </ul>
        <ul class="c-home-applications__app-button -right">
          <li>
            <svg class="icon">
              <use xlink:href="#icon-app-commodities"></use>
            </svg>
          </li>
          <li>
            <svg class="icon">
              <use xlink:href="#icon-app-map"></use>
            </svg>
          </li>
          <li>
            <svg class="icon">
              <use xlink:href="#icon-app-fires"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="c-home-applications__background">
    <li data-section="fires">
      <img src="/assets/home/app_mockup.png" />
    </li>
  </ul>
</div>
