<div class="c-home-cover">
  <div class="row">
    <div class="small-12 columns">
      <h1 class="text -title-biggest -color-1">Monitoring forests in near real time</h1>
      <p class="c-home-cover__description text -paragraph -color-1">Global Forest Watch (GFW) is an interactive online forest monitoring and alert system designed to empower people everywhere with the information they need to better manage and conserve forest landscapes. <span class="text -italic">Learn More ></span></p>
    </div>
  </div>
  <div class="c-home-cover__arrow-button">
    <%= render 'shared/buttons/arrow', orientation: 'down' %>
  </div>
</div>
