<div class="c-home-cover">
  <div class="row">
    <div class="small-12 medium-8 columns">
      <div class="c-home-cover-texts">
        <h1 class="text -title-biggest -color-1"><%= title %></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-9 columns">
      <div class="c-home-cover-texts">
        <p class="c-home-cover__description text -paragraph -color-1"><%= description %></p>
      </div>
    </div>
  </div>
  <div class="c-home-cover__arrow-button">
    <%= render 'shared/buttons/arrow', orientation: 'down', js_class: 'js_summary_anchor' %>
  </div>
  <div class="c-home-cover__video-button js-yt-home-cover-video-button">stop video</div>
  <div class="c-home-cover__video js-home-cover-video">
    <div id="yt-home-cover-video"></div>
  </div>
  <div class="c-home-cover__video-case"></div>
</div>
