<div class="c-home-news">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-home-news__title text -title-big -light -color-1">New in <span data-gfw-text="GFW" data-gfw-text-screen-m="Global Forest Watch?"></span></div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="slider js_slider">
        <div class="frame js_frame">
          <ul class="slides js_slides">
            <li class="slide js_slide">
              <div class="c-home-news-item"></div>
            </li>
            <li class="slide js_slide">
              <div class="c-home-news-item"></div>
            </li>
            <li class="slide js_slide">
              <div class="c-home-news-item"></div>
            </li>
          </ul>
        </div>
        <div class="c-home-news__arrow-button js_prev prev">
          <svg class="icon">
            <use xlink:href="#icon-arrow-big"></use>
          </svg>
        </div>
        <div class="c-home-news__arrow-button js_next next">
          <svg class="icon">
            <use xlink:href="#icon-arrow-big"></use>
          </svg>
        </div>
        <div class="c-home-news__slider-dots js_slider_dots"></div>
      </div>
    </div>
  </div>
  <div class="c-home-news__button">
    <%= render 'shared/buttons/regular', text: 'MY GFW', color: 'white', url: '/my_gfw' %>
  </div>
</div>
