<div class="c-home-summary">
  <div class="row">
    <div class="slider js_slider">
      <div class="frame js_frame">
        <ul class="slides js_slides">
          <li class="slide js_slide small-12 medium-6">
            <div class="c-home-summary-item slide js_slide">
              <div class="c-home-summary-item__title text -title -light -color-2">Be the first to know about deforestation</div>
              <div class="c-home-summary-item__paragraph text -paragraph -color-2">Get email notifications straight to your inbox as forest clearing happens with our subscription feature.</div>
              <div class="c-home-summary-item__button">
                <%= render 'shared/buttons/regular', text: 'CREATE A SUBSCRIPTION', color: 'green' %>
              </div>
            </div>
          </li>
          <li class="slide js_slide small-12 medium-6">
            <div class="c-home-summary-item slide js_slide">
              <div class="c-home-summary-item__title text -title -light -color-2">Be the first to know about deforestation</div>
              <div class="c-home-summary-item__paragraph text -paragraph -color-2">Get email notifications straight to your inbox as forest clearing happens with our subscription feature.</div>
              <div class="c-home-summary-item__button">
                <%= render 'shared/buttons/regular', text: 'CREATE A SUBSCRIPTION', color: 'green' %>
              </div>
            </div>
          </li>
          <li class="slide js_slide small-12 medium-6">
            <div class="c-home-summary-item slide js_slide">
              <div class="c-home-summary-item__title text -title -light -color-2">Be the first to know about deforestation</div>
              <div class="c-home-summary-item__paragraph text -paragraph -color-2">Get email notifications straight to your inbox as forest clearing happens with our subscription feature.</div>
              <div class="c-home-summary-item__button">
                <%= render 'shared/buttons/regular', text: 'CREATE A SUBSCRIPTION', color: 'green' %>
              </div>
            </div>
          </li>
        </ul>
        <div class="c-home-summary__arrow-button js_next next">
          <%= render 'shared/buttons/arrow', orientation: 'right' %>
        </div>
      </div>
    </div>
  </div>
</div>
