<div class="c-home-use-examples">
  <div class="row">
    <div class="small-6 columns">
      <div class="c-home-use-examples__content">
        <div class="text -title-small -color-3">WHAT CAN YOU DO WITH GLOBAL FOREST WATCH?</div>
        <ul class="c-home-use-examples__users">
          <li>
            <div class="c-home-use-examples__avatar"></div>
            <div class="text -paragraph-2 -color-2">Conservation Orgs</div>
          </li>
          <li>
            <div class="c-home-use-examples__avatar"></div>
            <div class="text -paragraph-2 -color-2">Investor</div>
          </li>
          <li>
            <div class="c-home-use-examples__avatar"></div>
            <div class="text -paragraph-2 -color-2">Policy Maker</div>
          </li>
          <li>
            <div class="c-home-use-examples__avatar"></div>
            <div class="text -paragraph-2 -color-2">You</div>
          </li>
        </ul>
        <ul class="c-home-use-examples__testimonials">
          <li class="text -title -light -italic -color-2 -selected"><span class="text -bold -color-4">“</span>We shared our project's carbon story with donors and partners. Explored opportunities for new projects, and found the justifi-cation we needed to get them funded.<span class="text -bold -color-4">”</span></li>
        </ul>
        <div class="c-home-use-examples__slider-dots">
          <%= render 'shared/slider_dots', count: 4 %>
        </div>
      </div>
    </div>
    <div class="small-6">
      <div class="c-home-use-examples__cover"></div>
    </div>
  </div>
</div>