<div class="c-home-use-examples">
  <div class="row">
    <div class="small-12 large-6 columns">
      <div class="c-home-use-examples__content">
        <div class="c-home-use-examples__title text -title-xs -color-3">WHAT CAN YOU DO WITH <span data-gfw-text="GFW" data-gfw-text-screen-m="GLOBAL FOREST WATCH?"></span></div>
        <div class="c-home-use-examples__users slider js_slider">
          <div class="frame js_frame">
            <ul class="slides js_slides">
              <% uses.each_with_index do |item, i| %>
                <li class="slide js_slide">
                  <div class="c-home-use-examples__avatar <% if i == 0 %>-selected<% end %>">
                    <svg class="icon">
                      <use xlink:href="#icon-profile"></use>
                    </svg>
                    <div class="c-home-use-examples__avatar-title text -paragraph-2 -color-2"><%= item['profile'] %></div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <% uses.each_with_index do |item, i| %>
          <div class="c-home-use-examples__testimonials slider js_slider <% if i == 0 %>-selected<% end %>">
            <div class="frame js_frame">
              <ul class="slides js_slides">
                <% item['examples'].each do |example| %>
                  <li class="slide js_slide">
                    <div class="c-home-use-examples__testimonials-quote text -title -light -italic -color-2">
                      <span class="text -bold -color-4">“</span><%= example %><span class="text -bold -color-4">”</span>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="c-home-use-examples__slider-dots js_slider_dots">
              <%= render 'shared/slider_dots', count: item['examples'].size, color: 'green' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="c-home-use-examples__cover"></div>
</div>
