
<h1>
	test
	<svg class="icon">
	  <use xlink:href="#shape-blog"></use>
	</svg>		
	<svg class="icon">
	  <use xlink:href="#shape-commodities"></use>
	</svg>		
	<svg class="icon">
	  <use xlink:href="#shape-fire"></use>
	</svg>		
	<svg class="icon">
	  <use xlink:href="#shape-country"></use>
	</svg>		
</h1>