<section class="main-slider">
  <nav>
    <ul>
      <li>Explore the Map</li>
      <li>Analyze Global Data</li>
      <li>Analyze Country Data</li>
      <li>View Country Profiles</li>
      <li>View Country Rankings</li>
      <li>Not Sure</li>
    </ul>
    <p>how do you want to get started? <span>click here!</span></p>
  </nav>
  <div class="slide">
    <aside>
      <h1>explore</h1>
      <h2>analyze forest change in subnational areas via the country pages</h2>
      <span>more info</span>
    </aside>
  </div>
  <div class="slide">
    <aside>
      <h1>explore</h1>
      <h2>analyze forest change in subnational areas via the country pages</h2>
      <span>more info</span>
    </aside>
  </div>
  <div class="slide">
    <aside>
      <h1>explore</h1>
      <h2>analyze forest change in subnational areas via the country pages</h2>
      <span>more info</span>
    </aside>
  </div>
  <div class="slide">
    <aside>
      <h1>explore</h1>
      <h2>analyze forest change in subnational areas via the country pages</h2>
      <span>more info</span>
    </aside>
  </div>
  <a class="feedback-link" href="https://www.surveymonkey.com/s/S6B53DT" target="_blank"><span>Feedback</span></a>
</section>
<section class="apps" id="applications">
  <a class="circle-marker down" href="#applications">&nbsp;</a>
  <div class="main-apps">
    <div>
      <svg class="icon"><use xlink:href="#shape-map"></use></svg>
      <h3>explore the map</h3>
    </div>
    <div>
      <svg class="icon"><use xlink:href="#shape-country"></use></svg>
      <h3>explore the map</h3>
    </div>
  </div>
  <div class="row-apps">
    <div>
      <svg class="icon"><use xlink:href="#shape-fire"></use></svg>
      fires
    </div>
    <div>
      <svg class="icon"><use xlink:href="#shape-commodities"></use></svg>
      commmodities
    </div>
    <div>
      <svg class="icon"><use xlink:href="#shape-develop"></use></svg>
      develop your app
    </div>
    <div>
      <svg class="icon"><use xlink:href="#shape-soon"></use></svg>
      coming soon
    </div>
  </div>
</section>
<section class="blog">
  <h3>
    <svg class="icon"><use xlink:href="#shape-blog"></use></svg>
    visit our blog
  </h3>
</section>
<section class="buzz">
  <h2>Last Minute in GFW</h2>
  <div class="twitter">
    <h3>spread the word</h3><a class="twitter-timeline" href="https://twitter.com/globalforests" data-widget-id="452107742602219521" data-chrome="nofooter noheader noscrollbar transparent" width="400" height="566">Tweets by @globalforests</a></div>
  <div class="feed">
    <h3>get involved</h3>
    <span>join the discussion</span>
    <span>validate data</span>
  </div>
  <div class="stories">
    <h3>keep updated</h3>
    <span>read GFW blog</span>
    <span>view stories on map</span>
  </div>
</section>
<section class="visits">
  <span>Analytics</span>
</section>
<section class="share">
  <p>Spread the word. <strong>Share Global Forest Watch.</strong></p>
  <div class="share_buttons">
    <div id="fb-root"></div>
    <a href="http://twitter.com/share" target="_blank" class="twitter-share-button" data-url="http://www.globalforestwatch.org/" data-text="Global Forest Watch">Tweet</a>
    <div class="g-plusone" data-size="medium" data-href="http://www.globalforestwatch.org/"></div>
    <div class="fb-like" data-href="http://www.globalforestwatch.org/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
  </div>
  <div class="updates">
    <p>Sign up to receive updates.
      <a href="http://www.wri.org/global-forest-watch-stay-informed" title="Receive Global Forest Watch updates" target="_blank" onclick="ga('send', 'event', 'Footer', 'Click', 'Subscribe');">
        <img src="/assets/icons/envelope-gray.png" class="subscribe"></a>

      <a href="https://twitter.com/globalforests" title="Follow @globalforests"  target="_blank" onclick="ga('send', 'event', 'Footer', 'Click', 'Twitter');">
        <img src="/assets/icons/twitter-gray.png" class="subscribe"></a>
      <a href="http://instagram.com/globalforests" title="Follow @globalforests Instagram"  target="_blank" onclick="ga('send', 'event', 'Footer', 'Click', 'Instagram');">
      <img src="/assets/icons/instagram.png" class="subscribe"></a>
    </p>
  </div>
</section>

