@import '~styles/settings.scss';

.c-items-list {
  li {
    position: relative;
    padding-left: rem(23px);
    cursor: pointer;

    button {
      outline: 0;
      cursor: pointer;
    }

    .icon {
      position: absolute;
      left: rem(1px);
      top: 0;
      bottom: 0;
      margin: auto;
      stroke: $slate;
      width: rem(10px);
      height: rem(10px);
    }

    &:not(.-selected) {
      opacity: 0.5;

      .icon {
        display: none;
      }
    }
  }
}
