@import '~styles/settings.scss';

.c-widget {
  position: relative;
  width: 100%;
  height: auto;
  border: solid 1px rgba($medium-grey, 0.2);
  border-radius: 4px;
  min-height: rem(460px);
  display: flex;
  flex-direction: column;
  padding: rem(20px) rem(15px);
  justify-content: flex-start;

  @media screen and (min-width: $screen-m) {
    padding: rem(25px) rem(20px);
  }

  &.highlighted {
    background: #fefedc;

    .c-loader {
      background-color: rgba(#fefedc, 0.5);
    }
  }

  .container {
    position: relative;
    height: 100%;

    .sentence {
      margin-bottom: rem(30px);

      &.interactive {
        height: rem(160px);

        @media screen and (min-width: 360px) {
          height: rem(110px);
        }

        @media screen and (min-width: $screen-m) {
          height: rem(90px);
        }

        @media screen and (min-width: $screen-l) {
          height: rem(70px);
        }
      }
    }
  }

  .embed-footer {
    border-top: solid 1px $border;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: rem(20px);
    margin-top: rem(20px);

    p {
      opacity: 0.7;
    }
  }

  .embed-btn {
    width: rem(160px);
    margin-left: rem(10px);
  }

  .c-widgets.minimalist & {
    padding: rem(20px);
    min-height: rem(120px);
    border: 0;

    .container .sentence {
      margin-bottom: rem(20px);
    }

    .c-button.theme-button-small {
      width: rem(16px);
      min-width: rem(16px);
      height: rem(16px);
    }
  }
}
