@import '~styles/settings.scss';

.c-legend-button {
  display: inline-block;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  &.-disabled {
    cursor: not-allowed;
  }

  &.info { svg { width: 14px; } }
  &.close { svg { width: 11px; } }
  &.toggle { svg { width: 16px; } }
  &.opacity { svg { width: 13px; } }
  &.layers { svg { width: 15px; } }
}
