@import '~styles/vizz-components-settings';

.c-legend-item-toolbar {
  margin: 4px 0 0 20px; // Margin with the title
  flex-shrink: 0;
  display: flex;
  align-items: center;

  > * {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }
}
