<div class="sitemap">
  <div class="inner">
    <header>
      <h2>Sitemap</h2>
    </header>

    <section class="page">
      <h4 class="page-title">
        <a href="/">GFW home</a>
      </h4>

      <div class="page-section-list">

        <div class="page-section">
          <h5 class="title-section">
            <a href="/about/about-gfw">About GFW</a>
          </h5>
          <ul>
            <li><a href="/about/the-gfw-partnership">The GFW partnership</a></li>
            <li><a href="/about/videos">Videos</a></li>
            <li><a href="/about/awards_and_testimonials">Awards & testimonials</a></li>
            <li><a href="/about/data_policy">Data Policy</a></li>
            <li><a href="/about/contact_us">Contact us & feedback</a></li>
          </ul>
        </div>

      </div>

    </section>

    <h2 class="category-title">GFW Applications</h2>

    <section class="page">

      <h4 class="page-title">
        <a href="/map">GFW interactive map</a>
      </h4>

    </section>

    <section class="page">

      <h4 class="page-title">
        <a href="/countries">GFW countries</a>
      </h4>

      <div class="page-section-list">

        <div class="page-section">
          <h5 class="title-section">
            <a href="/countries">Country profiles</a>
          </h5>
        </div>

        <div class="page-section">
          <h5 class="title-section">
            <a href="/countries/overview">Country rankings</a>
          </h5>
        </div>

      </div>

    </section>

    <section class="page">

      <h4 class="page-title">
        <a target="_blank" href="http://commodities.globalforestwatch.org/">GFW commodities</a>
      </h4>

      <div class="page-section-list">

        <div class="page-section">
          <h5 class="title-section">
            <a target="_blank" href="http://commodities.globalforestwatch.org/#v=map">Map</a>
          </h5>
        </div>

        <div class="page-section">
          <h5 class="title-section">
            <a target="_blank" href="http://commodities.globalforestwatch.org/#v=methods">Methods</a>
          </h5>
          <ul>
            <li><a target="_blank" href="http://commodities.globalforestwatch.org/#v=methods&n=DataAnalysis">Data analysis</a></li>
            <li><a target="_blank" href="http://commodities.globalforestwatch.org/#v=methods&n=ForestAnalyzer">Forest change analysis</a></li>
            <li><a target="_blank" href="http://commodities.globalforestwatch.org/#v=methods&n=SuitabilityMapper">Suitability mapper</a></li>
            <li><a target="_blank" href="http://commodities.globalforestwatch.org/#v=methods&n=RSPOTools">RSPO tools</a></li>
          </ul>
        </div>

        <div class="page-section">
          <h5 class="title-section">
            <a target="_blank" href="http://commodities.globalforestwatch.org/#v=submission">Data submission</a>
          </h5>
        </div>



        <div class="page-section">
          <h5 class="title-section">
            <a target="_blank" href="http://commodities.globalforestwatch.org/#v=about">Learn more</a>
          </h5>
          <ul>
            <li><a target="_blank" href="http://commodities.globalforestwatch.org/#v=about&n=GFW">About GFW Commodities</a></li>
            <li><a target="_blank" href="http://commodities.globalforestwatch.org/#v=about&n=History">History</a></li>
            <li><a target="_blank" href="http://commodities.globalforestwatch.org/#v=about&n=Partners">The GFW partnership</a></li>
            <li><a target="_blank" href="http://commodities.globalforestwatch.org/#v=about&n=Videos">Turorial videos</a></li>
            <li><a target="_blank" href="http://commodities.globalforestwatch.org/#v=about&n=Users">Other resources</a></li>
          </ul>
        </div>

      </div>

    </section>

    <section class="page">

      <h4 class="page-title">
        <a target="_blank" href="http://fires.globalforestwatch.org/home/">GFW fires</a>
      </h4>

      <div class="page-section-list">

        <div class="page-section">
          <h5 class="title-section">
            <a target="_blank" href="http://fires.globalforestwatch.org/map/">Map</a>
          </h5>
        </div>

        <div class="page-section">
          <h5 class="title-section">
            <a target="_blank" href="http://fires.globalforestwatch.org/about/">Learn more</a>
          </h5>
          <ul>
            <li><a target="_blank" href="http://fires.globalforestwatch.org/about/">About GFW Fires</a></li>
            <li><a target="_blank" href="http://fires.globalforestwatch.org/about/">Forest fires and their impact</a></li>
            <li><a target="_blank" href="http://fires.globalforestwatch.org/about/">The GFW partnership</a></li>
          </ul>
        </div>

        <div class="page-section">
          <h5 class="title-section">
            <a target="_blank" href="http://fires.globalforestwatch.org/story/">Share stories</a>
          </h5>
        </div>

      </div>

    </section>

    <section class="page">

      <h4 class="page-title">
        <a target="_blank" href="http://climate.globalforestwatch.org/">GFW climate</a>
      </h4>

      <div class="page-section-list">

        <div class="page-section">
          <h5 class="title-section">
            <a target="_blank" href="http://climate.globalforestwatch.org/map">Map</a>
          </h5>
        </div>

        <div class="page-section">
          <h5 class="title-section">
            <a target="_blank" href="http://climate.globalforestwatch.org/countries">Country data</a>
          </h5>
        </div>

        <div class="page-section">
          <h5 class="title-section">
            <a target="_blank" href="http://climate.globalforestwatch.org/compare-countries">Country comparions</a>
          </h5>
        </div>

        <div class="page-section">
          <h5 class="title-section">
            <a target="_blank" href="http://climate.globalforestwatch.org/pantropical">Pantropical overview</a>
          </h5>
        </div>

        <div class="page-section">
          <h5 class="title-section">
            <a target="_blank" href="http://climate.globalforestwatch.org/about">About</a>
          </h5>
          <ul>
            <li><a target="_blank" href="http://climate.globalforestwatch.org/about?page=about">About GFW Climate</a></li>
            <li><a target="_blank" href="http://climate.globalforestwatch.org/about?page=faq">FAQ</a></li>
            <li><a target="_blank" href="http://climate.globalforestwatch.org/about?page=publications">Publications and blogs</a></li>
            <li><a target="_blank" href="http://climate.globalforestwatch.org/about?page=tutorials">Tutorial videos</a></li>
          </ul>
        </div>

      </div>

    </section>


    <!-- Tools, resources & information -->
    <h2 class="category-title">Tools, resources & information</h2>
    <section class="page">

      <h4 class="page-title">
        <a target="_blank" href="http://data.globalforestwatch.org/">Open Data Portal</a>
      </h4>

      <div class="page-section-list">

        <div class="page-section">
          <h5 class="title-section">Resources</h5>
          <ul>
            <li><a target="_blank" href="http://gfw.maps.arcgis.com/home/">GFW on ArcGIS Online</a></li>
            <li><a target="_blank" href="https://developers.google.com/earth-engine/tutorial_gfw_01">GFW on Google Earth Engine</a></li>
            <li><a target="_blank" href="http://gfw.blog.s3.amazonaws.com/Data%20Playbook/GFW%20Data%20Playbook%20v3.pdf">Data Playbook</a></li>
            <li><a target="_blank" href="http://wri.github.io/gfw-sync/gfw_web_service_directory.html">GFW web service directory</a></li>
            <li><a target="_blank" href="http://data.globalforestwatch.org/?tour=true">Take a tour</a></li>
          </ul>
        </div>

      </div>

    </section>

    <section class="page">

      <h4 class="page-title">
        <a href="/contribute-data">Contribute data to Global Forest Watch</a>
      </h4>

    </section>

    <section class="page">

      <h4 class="page-title">
        <a href="http://developers.globalforestwatch.org/">Developer's corner</a>
      </h4>

      <div class="page-section-list">

        <div class="page-section">
          <h5 class="title-section">
            <a href="http://developers.globalforestwatch.org/map-builder/">Map Builder</a>
          </h5>
        </div>

        <div class="page-section">
          <h5 class="title-section">
            <a href="http://developers.globalforestwatch.org/developer-tools/">Developer Tools</a>
          </h5>
          <ul>
            <li><a href="http://developers.globalforestwatch.org/developer-tools/?tab=api">API</a></li>
            <li><a href="http://developers.globalforestwatch.org/developer-tools/?tab=code">Code</a></li>
            <li><a href="http://developers.globalforestwatch.org/developer-tools/?tab=style-guide">Style guide</a></li>
          </ul>
        </div>

        <div class="page-section">
          <h5 class="title-section">
            <a href="http://developers.globalforestwatch.org/gallery/">Gallery</a>
          </h5>
        </div>

      </div>

    </section>

    <section class="page">

      <h4 class="page-title">
        <a href="/howto">How to</a>
      </h4>

    </section>

    <section class="page">

      <h4 class="page-title">
        <a target="_blank" href="https://groups.google.com/forum/#!forum/globalforestwatch">Discussion Forum</a>
      </h4>

    </section>

    <section class="page">

      <h4 class="page-title">
        <a target="_blank" href="http://blog.globalforestwatch.org/">Blog</a>
      </h4>

      <div class="page-section-list">

        <div class="page-section">
          <h5 class="title-section">
            <a target="_blank" href="http://blog.globalforestwatch.org/category/update/">Updates</a>
          </h5>
        </div>

        <div class="page-section">
          <h5 class="title-section">
            <a target="_blank" href="http://blog.globalforestwatch.org/category/news/">News roundup</a>
          </h5>
        </div>

        <div class="page-section">
          <h5 class="title-section">
            <a target="_blank" href="http://blog.globalforestwatch.org/category/feature/">Featured posts</a>
          </h5>
        </div>

        <div class="page-section">
          <h5 class="title-section">
            <a target="_blank" href="http://blog.globalforestwatch.org/category/mapoftheday/">Map of the week</a>
          </h5>
        </div>

      </div>

    </section>

    <section class="page">

      <h4 class="page-title">
        <a href="/stories/">Stories</a>
      </h4>

      <div class="page-section-list">

        <div class="page-section">
          <h5 class="title-section">
            <a href="/stories/crowdsourcedstories">Crowdsourced stories</a>
          </h5>
        </div>

        <div class="page-section">
          <h5 class="title-section">
            <a href="/stories/new">Submit a story</a>
          </h5>
        </div>

      </div>

    </section>

    <section class="page">

      <h4 class="page-title">
        <a href="/small-grants-fund">Small Grants Fund</a>
      </h4>

    </section>

    <section class="page">

      <h4 class="page-title">
        <a target="_blank" href="http://www.wri.org/global-forest-watch-updates-and-newsletter">Newsletter</a>
      </h4>

    </section>

    <section class="page">

      <h4 class="page-title">
        <a href="/my_gfw">My GFW</a>
      </h4>

      <div class="page-section-list">

        <div class="page-section">
          <h5 class="title-section">
            <a href="/my_gfw/subscriptions">My subscriptions</a>
          </h5>
        </div>

        <div class="page-section">
          <h5 class="title-section">
            <a href="/my_gfw">My profile</a>
          </h5>
        </div>

        <div class="page-section">
          <h5 class="title-section">
            <a href="/my_gfw/stories">My stories</a>
          </h5>
        </div>

        <div class="page-section">
          <h5 class="title-section">
            <a href="/my_gfw/subscriptions/new">Receive forest loss alerts</a>
          </h5>
        </div>

      </div>

    </section>

  </div>
</div>
