@import '~styles/settings.scss';

$summary-color: #aaa;

.theme-card-small {
  .image {
    height: rem(120px);
  }

  .body {
    padding: rem(20px);

    .title {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: normal;
      margin-bottom: rem(10px);
      text-transform: uppercase;
    }

    .summary {
      font-size: 12px;
      line-height: 1.5;
      color: $summary-color;
    }
  }
}
