@import '~styles/settings';

.c-search {
  position: relative;

  .input {
    width: 100%;
    height: 45px;
    border-radius: 100px;
    border: 0;
    padding: 0 65px 0 20px;
    font-size: 14px;
    background-color: rgba($slate, 0.08);
    color: $slate;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: rgba($slate, 0.5);
      text-transform: uppercase;
    }
  }

  .icon-search {
    position: absolute;
    right: 15px;
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    cursor: pointer;
    fill: $slate;
  }

  .clear-btn {
    position: absolute;
    right: rem(40px);
    top: calc(50% - 10px);
    cursor: pointer;

    .icon-close {
      width: rem(10px);
      height: rem(10px);
    }
  }
}
