@import '~styles/settings.scss';

.c-prompt-tooltip {
  font-size: rem(14px);
  color: $white;
  background-color: $slate;
  padding: rem(20px);
  max-width: rem(320px);
  position: relative;

  .tour-close {
    position: absolute;
    top: rem(20px);
    right: rem(20px);
    cursor: pointer;

    svg {
      fill: $slate;
    }
  }

  .tour-step {
    background-color: $warm-grey;
    width: rem(35px);
    height: rem(35px);
    font-size: rem(12px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(15px);
    border-radius: 50%;
    color: $white;
  }

  .tour-content {
    margin-bottom: rem(20px);
  }

  .tour-btns {
    display: flex;
    justify-content: space-between;

    button {
      text-transform: uppercase;

      &:first-child {
        margin-right: rem(5px);
      }

      &:last-child {
        margin-left: rem(5px);
      }
    }
  }

  .tour-exit-actions {
    .intro {
      margin-bottom: rem(15px);
    }

    .guide-btn {
      text-align: left;
      margin-bottom: rem(15px);
      height: auto;
      padding: rem(15px);

      .guide-btn-icon {
        width: rem(40px);
        min-width: rem(40px);
        height: rem(40px);
        min-height: rem(40px);
        margin-right: rem(15px);
        fill: $green-gfw;
      }

      p {
        font-size: rem(12px);
      }
    }
  }
}
