@import '~styles/settings.scss';

.c-basemap-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  cursor: pointer;

  .basemap-thumb {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;

    &.-active {
      border: solid 3px $green-gfw;
    }

    @media screen and (min-width: $screen-m) {
      color: $slate;
      border-radius: 0;
      width: 60px;
      height: 60px;
    }
  }

  span {
    font-size: 11px;
    text-transform: uppercase;
    display: block;
    margin-top: 10px;
  }
}
