@import '~styles/settings.scss';

.l-embed {
  .page-logo {
    position: absolute;
    top: 0;
    left: rem(15px);
    z-index: 2;
    display: none;
    width: rem(76px);
  }

  .embed-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: rem(60px);
    background: $white;
    border-top: solid 1px $border;
    z-index: 3;
    position: relative;

    p {
      opacity: 0.7;
    }
  }

  .embed-btn {
    width: rem(160px);
    margin-left: rem(10px);
    margin-right: rem(10px);
  }

  .page {
    position: relative;
    min-height: rem(400px);
    width: 100%;
    z-index: 0;

    @media screen and (min-width: $screen-m) {
      min-height: calc(100vh - 56px - 384px);
    }

    .page-loader {
      position: relative;
      z-index: 1;
      min-height: 60vh;
    }

    &.mobile {
      margin-top: 0;
    }
  }

  &.-full-screen {
    .page {
      position: fixed;
      min-height: calc(100% - 60px);
    }

    .embed-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &.-full-screen {
    .page {
      margin-top: 0;
      height: calc(100% - 50px);
      width: 100%;
      background-color: $ocean;
      top: 0;
      position: fixed;
      min-height: calc(100% - 60px);

      @media screen and (min-width: $screen-m) {
        right: 0;
        min-height: 100%;
      }
    }

    .page-loader {
      background-color: rgba($slate, 0.2);

      .spinner {
        border-top-color: $white;
      }
    }

    .page-logo {
      display: block;
    }

    .embed-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &.-trase {
    .c-loader {
      display: none;
    }
  }
}
