@import '~styles/settings.scss';

.c-widget-dynamic-sentence {
  font-weight: 300;
  line-height: 1.58;
  letter-spacing: 0.1px;
  font-size: 20px;

  strong,
  b {
    font-weight: 500;
  }

  span {
    color: $green-gfw;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      color: darken($green-gfw, 10%);
    }
  }

  &.-gain {
    strong,
    b {
      color: #6f6de9;
    }
  }
}
