<%= render 'shared/svg_icons_countries' %>
<% content_for :css do %>
  <%= stylesheet_link_tag "countries" %>

  <style>
    .overview_graph { margin: 0; }

    .overview_graph__title,
    .countries_list { display: none; }

    .overview_graph__years { border: 0; }
  </style>
<% end %>

<div id="countryOverviewView">
  <%= render 'shared/overview' %>
</div>

