<% content_for :css do %>
  <%= stylesheet_link_tag "countries" %>

  <style>
    .header-logo {
      position: absolute;
      left: 10px;
      display: none;
    }
  </style>

<% end %>
<% content_for :css do %>
  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />
<% end %>


<section id="countryShowView" data-iso="<%= @country['iso'] %>">
  <% content_for :title do %>
    <a href="/" class="header-logo">Global Forest Watch</a>

    <div class="header-inner inner">
      <!-- <h1 class="header-title big"><%= @country['name'] %></h1> -->
      <span title="Settings" class="country-icons-settings_engine umd_options_control" data-tip="Change UMD layer intensity"></span>
    </div>
  <% end %>
  <%= render 'country' %>
</section>


