<% content_for :css do %>
  <%= stylesheet_link_tag "home" %>

  <style>
    html {
      min-width: 640px;
    }

    #map {
      height: 530px;
      border: 0;
    }

    @media all and (max-width: 795px) {
      .analysis_info {
        top: 92px;
        right: 45px;
      }

      .layer_selector {
        top: 35px;
        right: 45px;
      }

      .searchbox {
        top: 35px;
        left: 60px;
      }

      .legend {
        top: 92px;
      }
    }
  </style>
<% end %>

<% content_for :js do %>
  <%= javascript_include_tag 'embed_map' %>
<% end %>

<%= render 'shared/map' %>

<div id='sources' class='sources'>
  <%= render 'shared/sources' %>
</div>
