<% content_for :js do %>
  <script>
    $(function() {
      cdb.init(function() {
        window.countries_show = new gfw.ui.view.CountriesEmbedShow({
          iso: "<%= @country['iso'] %>"
        });
      });
    });
  </script>
<% end %>

<% content_for :title do %>
  <h1 class="header-title big"><%= @country['name'] %></h1>
<% end %>

<%= render 'shared/circles' %>
