@import '~styles/settings.scss';

.c-dropdown-menu {
  background-color: $white;
  width: rem(200px);
  border: solid 1px $border;

  &.-plain {
    border: 0;
    padding: 0;
    width: 100%;
  }

  > li {
    > button,
    a {
      display: block;
      text-transform: uppercase;
      font-size: rem(14px);
      padding: rem(15px) rem(15px);
      width: 100%;
      color: $slate;
      cursor: pointer;
      text-align: left;

      &:hover {
        background-color: #f7f7f7;
      }

      &.active {
        color: $green-gfw;
      }
    }

    &.active {
      > button,
      a {
        color: $green-gfw;

        &:hover {
          color: darken($green-gfw, 10%);
        }
      }
    }
  }
}
