@import '~styles/settings.scss';

.c-dropdown-menu {
  background-color: $white;
  width: rem(200px);
  border: solid 1px $border;

  &.-plain {
    border: 0;
    padding: 0;
    width: 100%;
  }

  > li {
    > button,
    > a {
      padding: rem(15px) 0;

      @media screen and (min-width: $screen-m) {
        padding: rem(15px) rem(20px);
      }

      &.nested {
        padding: 0;
      }
    }

    button,
    a {
      display: block;
      text-transform: uppercase;
      font-size: rem(14px);
      width: 100%;
      color: $slate;
      cursor: pointer;
      text-align: left;

      > button {
        color: inherit;
        text-transform: inherit;
        padding: rem(15px) 0;

        @media screen and (min-width: $screen-m) {
          padding: rem(15px) rem(20px);
        }
      }

      &:hover {
        background-color: #f7f7f7;
      }

      &.active {
        color: $green-gfw;
      }
    }

    &.active {
      button,
      a {
        color: $green-gfw;

        &:hover {
          color: darken($green-gfw, 10%);
        }
      }
    }
  }
}
