.m-card {
	position: relative;
	margin: 0 10px;
	padding: 40px;

  background: $white;
	border: 1px solid $border1;

  &.-big-padding {
    padding-bottom: 85px;
  }

  .card-title {
    font-size: 21px;
    line-height: 1.4;
    letter-spacing: .1px;
    color: $dark;
    text-transform: uppercase;

    & + * {
      margin-top: 10px;
    }

    @media (min-width: $br-mobile) {
      & + * {
        margin-top: 18px;
      }
	  }
  }

  .card-title-subtitle {
    display: inline-block;
    margin-bottom: 10px;

    font-size: 13px;
  }

  .card-description {
    font-size: 14px;
    line-height: 1.9;
    color: $dark;
  }


  &.-fullWidth {
    width: 100%;
  }


  // interesting card
	&.-interesting {
    width: 100%;
    padding-top: 0;

    background: $white;

    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }


	  @media (min-width: $br-mobile) {
			width: calc(50% - 30px);
      padding-top: 40px;
      margin-bottom: 0;
			
			&.-three-column {
				width: calc(33.3333% - 30px);
			}
	  }

    .card-image {
      position: relative;
    	overflow: hidden;

			margin: 0 -40px 15px;
			padding-bottom: 50%;

		  @media (min-width: $br-mobile) {
				margin: -40px -40px 30px;
		  }

      > a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .background {

		  	width: 100%;
		  	height: 100%;

		  	background-size: cover;
		  	transform: scale(1);
		  	transition: $transition1;
      }
    }

		.card-title {
			color: $primary-color;
		}
	}

  .link-list > li {
    margin: 10px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    > a {
      font-size: 14px;
    }
  }

  .full-click-link {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}
