.m-filters {
	background: #F7F7F7;
	padding: 40px;
	margin: 0 0 40px;
	
	> ul {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;

		li {
			padding: 10px 20px;
			color: $dark;
			margin: 5px 20px 5px 0;
			border-radius: 30px;
			font-size: 16px;
			cursor: pointer;

			&:hover {
				background: lighten(#D8D8D8, 5%);		
			}

			&.-active {
				background: #D8D8D8;				
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}