.m-lory-slider {
  padding: 25px 0 0;
  position: relative;
  @media (min-width: $br-mobile) {
    padding: 50px 0;
  }

  // Slider
  .slider {
    .frame {
      width: 100%;

      position: relative;
      font-size: 0;
      line-height: 0;
      overflow: hidden;
      // white-space: nowrap;
      padding: 1px 0;

    }

    .slides {
      display: inline-flex;
      align-items: stretch;
    }

    li {
      position: relative;
      display: inline-flex;
      justify-content: center;

      @media screen and (min-width: $br-mobile) {
        justify-content: flex-start;
      }
    }
  }

  // Slider navigation
  .slider-arrows {
    position: relative;
    height: 70px;
    @media (min-width: $br-mobile) {
      position: static;
      height: auto;
    }

    ul {
      li {
        cursor: pointer;
        position: absolute;
        top: 50%;

        &:hover {
          svg {
            fill: $dark;
          }
        }

        &.-left {
          left: 50%;
          transform: translate(-100%,-50%);
          margin: 0 0 0 -10px;
          @media (min-width: $br-mobile) {
            left: 0;
          }
        }

        &.-right {
          right: 50%;
          transform: translate(100%,-50%);
          margin: 0 -10px 0 0;
          @media (min-width: $br-mobile) {
            right: 0;
          }
        }

        svg {
          width: 30px;
          height: 30px;
          fill: $white;
        }
      }
    }
  }

}
