.l-menu {
	nav {
		display: none;
	  @media (min-width: $br-mobile){
			display: flex;
			justify-content: flex-end;
	  }

		> ul {
			display: inline-flex;

			> li {

				> a {
					display: block;
					text-transform: uppercase;
					color: $dark;
					position: relative;
					z-index: 2;
          text-align: center;
          padding: 20px 25px;
          font-size: 16px;
          line-height: 1;
          @media (min-width: 1050px){
            padding: 20px 40px;
          }

          &:after{
            content: "";
            background-color: $primary-color;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5px;
            opacity: 0;
            transition: all 0.2s linear;
          }

          &:hover, &.-selected {
            &:after{
              opacity: 1;
            }
          }
				}
			}
		}
	}
}
