.simple-pagination{
  padding: 60px 0 0;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);

}


.simple-pagination ul{
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  // @include clearfix();
}


.simple-pagination ul li{
  list-style: none;
  padding: 0;
  margin: 0;
}


/*------------------------------------*\
  Light Theme Styles
\*------------------------------------*/

.simple-pagination.light-theme a, .simple-pagination.light-theme span{
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  font-size: 18px;
  line-height: 44px;
  text-align: center;
  cursor: pointer;
  color: $primary-color;
  border: 2px solid $primary-color;
  margin: 0 5px;

}


.simple-pagination.light-theme a:hover{
  text-decoration: none;
  color: $white;
  background: $primary-color;
}


.simple-pagination.light-theme .current{
  cursor: default;
  color: $light;
  border-color: $light;
}

.simple-pagination.light-theme .next, .simple-pagination.light-theme .prev {

  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid transparent;
  background: none;
  fill: $primary-color;

  &.current{
    opacity: 0.5;
  }

  &:hover {
    background: none;
  }

  &:before{
    content: "";
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

.simple-pagination.light-theme .prev {
  &:before {
    background: url($baseurl + '/assets/images/arrow-left.svg') center no-repeat;
    transform: translate(-55%,-50%);
    background-size: contain;
  }
}
.simple-pagination.light-theme .next {
  &:before {
    background: url($baseurl + '/assets/images/arrow-right.svg') center no-repeat;
    transform: translate(-45%,-50%);
    background-size: contain;
  }
}



.simple-pagination.light-theme .ellipse{
  background: none;
  box-shadow: none;
  font-weight: 500;
  cursor: default;
}


// .item {
//   display: none;
//   position: relative;
//   width: 44px;
//   height: 44px;
//   border-radius: 50%;
//   font-size: 18px;
//   line-height: 44px;
//   text-align: center;
//   cursor: pointer;
//   color: $primary-color;
//   border: 2px solid $primary-color;

//   @media (min-width: $br-mobile){
//     display: block;
//   }


//   &.-active {
//     color: $light;
//     border-color: $light;
//     cursor: default;
//     pointer-events: none;
//   }

//   &.-arrow {
//     display: block;
//     border: none;
//     svg {
//       fill: $primary-color;
//       display: block;
//       width: 28px;
//       height: 28px;
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%,-50%);
//     }

//     @media (min-width: $br-mobile){
//       &:hover {
//         background: none;
//         svg {
//           fill: $light;
//         }
//       }
//     }
//   }

//   @media (min-width: $br-mobile){
//     &:hover {
//       color: $white;
//       background: $primary-color;
//     }
//   }
// }





