.m-section {
  border-bottom: 1px solid $border1;

  &.-padding {
    padding: 40px 15px;
    @media (min-width: $br-mobile){
      padding: 70px 0px;
    }
  }

  &.-big-padding {
    padding: 50px 0;

    @media screen and (min-width: $br-mobile) {
      padding: 150px 0;
    }
  }

  &.-no-border {
    border: 0;
  }

  .introduction {

    @media screen and (min-width: $br-mobile) {
      display: flex;
      flex-direction: column-reverse;
      flex-direction: row;
    }
  }

  .introduction > p {
    flex-basis: 75%;

    font-size: 19px;
  }

  .introduction > .logo-container {
    margin: 20px 0 0;

    @media screen and (min-width: $br-mobile) {
      display: flex;
      flex-basis: 25%;
      justify-content: flex-end;

      margin: 0;
    }
  }

  .logo-container > .logo-img {
    display: inline-block;

    &.small-grants-fund {
      width: 157px;
      height: 149px;

      background-image: url('/assets/static-pages/small-grants-fund/GFW_SGF_logo_2.png');
    }
  }

  .section-description {
    font-size: 19px;
  }

  header {
    h2 {
      padding: 0 0 20px;
      @media (min-width: $br-mobile){
        padding: 0 0 35px;
      }

      .-font-small {
        font-size: 19px;
      }

      a {
        color: inherit;
      }
    }

    p {
      font-size: 14px;
      line-height: 26px;
      font-weight: 300;
      max-width: 890px;
      @media (min-width: $br-mobile){
        font-size: 19px;
        line-height: 32px;
      }
    }

    &.-light {
      h2,p {
        color: $white;
      }
    }

    .m-select {
      width: 100%;
      max-width: 400px;
      @media (min-width: $br-mobile) {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
      }
    }
  }

  .copyright {
    margin: 0px 10px;
    font-size: 11px;
  }
}
