/* @group Base */
.m-select {
  position: relative;

  select {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 12px 10px 10px;
    border-radius: 0;
    background: #FFF;
    background-clip: padding-box;
    color: $dark;
    text-decoration: none;
    white-space: nowrap;
    line-height: 1;
    font-weight: 400;
    font-family: inherit;
    outline: none;
    cursor: pointer;
    font-size: 13px;
    border: 1px solid $border1;
  }

  .arrow-mobile {
    width: 20px;
    height: 15px;      
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 2;
    pointer-events: none;
    transform: translate(0,-50%);
    @media (min-width: $br-mobile){
      display: none;
    }    

    svg {
      width: 20px;
      height: 15px;      
      fill: $dark;
      stroke: $dark;
    }
  }

  .chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    zoom: 1;
    display: inline-block;
    margin: 0;

    .chosen-single {
      height: auto;
      position: relative;
      display: block;
      overflow: hidden;
      padding: 16px;
      border-radius: 0;
      background: #FFF;
      background-clip: padding-box;
      color: $dark;
      text-decoration: none;
      white-space: nowrap;
      line-height: 1;
      font-weight: 400;
      text-transform: uppercase;
      outline: none;
      cursor: pointer;
      border: 1px solid $border1;

      .chosen-default {
        color: $white;
      }

      span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 40px;
      }
    }

    .chosen-drop {
      position: absolute;
      top: 100%;
      left: -9999px;
      z-index: 1010;
      width: 100%;
      border: 1px solid $border1;
      border-top: 0;
      background: $white;
    }
    /* @end */
    /* @group Results */
    .chosen-results {
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
      margin: 0;
      padding: 10px;
      max-height: 240px;
      -webkit-overflow-scrolling: touch;

      li {
        display: none;
        margin: 0;
        padding: 5px 6px;
        list-style: none;
        line-height: 15px;
        color: $dark;
        word-wrap: break-word;

        em {
          font-style: normal;
          text-decoration: underline;
        }

        &.active-result {
          display: list-item;
          cursor: pointer;
        }

        &.disabled-result {
          display: list-item;
          color: #ccc;
          cursor: default;
        }

        &.highlighted {
          background-color: #FAFAFA;
        }

        &.no-results {
          display: list-item;
          background: #f4f4f4;
        }

        &.group-result {
          display: list-item;
          color: #999;
          font-weight: bold;
          cursor: default;
        }

        &.group-option {
          padding-left: 15px;
        }
      }
    }

    &.chosen-with-drop .chosen-drop {
      left: 0;
    }
    // Default theme
    &.default{
      .chosen-single{
        color: $dark;
        background-color: $white;
        border: 1px solid $border1;
        .chosen-default {
          color: $dark;
        }
        abbr{
          display: block;
        }
      }
    }
    &.with-selection {
      .chosen-single{
        color: $white;
        background-color: $dark;
        border: 1px solid $dark;
        .chosen-default {
          color: $dark;
        }
        abbr{
          display: block;
        }
        div {
          b {
            background: url($baseurl + '/assets/images/arrow-down.svg') center no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }





  /* @end */
  /* @group Single Chosen */
  .chosen-container-single {
    outline: none;
    .chosen-single {
      abbr {
        position: absolute;
        top: 50%;
        right: 30px;
        display: none;
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 10px;
        text-align: center;
        transform: translate(0,-50%);
        font-family: Arial;
        font-weight: 700;
        color: $dark;
        border: 1px solid $dark;
        border-radius: 50%;
        &:after{
          content: "X";
          display: block;
          width: 100%;
          height: 100%;
        }
        &:hover {
          color: red;
          border: 1px solid red;
        }
      }
      div {
        position: absolute;
        top: 0;
        right: 0px;
        width: 40px;
        height: 100%;
        border-left: 1px solid $border1;
        b {
          display: block;
          width: 14px;
          margin: 0 auto;
          height: 100%;
          background: url($baseurl + '/assets/images/arrow-down.svg') center no-repeat;
          background-size: contain;
        }
      }
    }
    .chosen-search {
      position: relative;
      z-index: 1010;
      margin: 0;
      padding: 3px 16px;
      white-space: nowrap;
      input {
        margin: 1px 0;
        padding: 8px 4px 8px 26px;
        width: 100%;
        outline: 0;
        border-radius: 0;
        border: 1px solid $border1;
        font-size: 1em;
        font-family: sans-serif;
        // background: url('svg-map/control-search.svg') no-repeat 5px center;
      }
    }

    .chosen-drop {
      background-clip: padding-box;
    }

    &.chosen-container-single-nosearch .chosen-search {
      position: absolute;
      left: -9999px;
    }
    // Default theme
    &.default{
      .chosen-single{
        div{
          display: block;
        }
      }
    }
  }



  /* @end */
  /* @group Active  */
  // .chosen-container-active.chosen-with-drop .chosen-single div {
  //   border-left: none;
  //   background: transparent;
  // }
  // .chosen-container-active.chosen-with-drop .chosen-single div b {
  //   border-left: none;
  //   background: transparent;
  // }
  // .chosen-container-active .chosen-choices {
  //   border: 1px solid #5897fb;
  //   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  // }
  // .chosen-container-active .chosen-choices li.search-field input {
  //   color: #111 !important;
  // }

  /* @end */
  /* @group Disabled Support */
  .chosen-disabled {
    opacity: 0.5 !important;
    cursor: default;
  }
  .chosen-disabled .chosen-single {
    cursor: default;
  }
  .chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default;
  }
  /* @end */
}






.m-select-autocomplete {
  margin: 0.5% 0;
  min-height: 40px;

  .btn-delete {
    display: none;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0,-58%);
    fill: $red;
    cursor: pointer;
    z-index: 5;
    border-radius: 50%;
    border: 1px solid $red;
    padding: 1px;

    svg {
      width: 100%;
      height: 100%;
    }

    &.is-active {
      display: block;
    }
  }

  .chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    zoom: 1;
    *display: inline;
    margin: 3px 0;
    .chosen-single {
      height: auto;
      position: relative;
      display: block;
      overflow: hidden;
      padding: 8px 16px;
      background: #FFF;
      background-clip: padding-box;
      color: $dark;
      text-decoration: none;
      white-space: nowrap;
      line-height: 1;
      font-weight: 400;
      outline: none;
      cursor: pointer;
      border: 1px solid $dark;
      .chosen-default {
        color: $white;
      }
      span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 20px;
      }
    }
    .chosen-drop {
      position: absolute;
      top: -5px;
      left: -9999px;
      z-index: 1050;
      width: 100%;
      border: 1px solid $dark;
      background: $white;
    }
    /* @end */
    /* @group Results */
    .chosen-results {
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
      margin: 0;
      padding: 10px;
      max-height: 240px;
      -webkit-overflow-scrolling: touch;
      li {
        display: none;
        margin: 0;
        padding: 5px 6px;
        list-style: none;
        line-height: 15px;
        color: $dark;
        em{
          font-style: normal;
          text-decoration: underline;
        }
        &.active-result {
          display: list-item;
          cursor: pointer;
        }
        &.disabled-result {
          display: list-item;
          color: #ccc;
          cursor: default;
        }
        &.highlighted{
          background-color: #FAFAFA;
        }
        &.no-results{
          display: list-item;
          background: #f4f4f4;
        }
        &.group-result{
          display: list-item;
          color: #999;
          font-weight: bold;
          cursor: default;
        }
        &.group-option {
          padding-left: 15px;
        }
      }
    }

    &.chosen-with-drop .chosen-drop {
      left: 0;
    }
    &.chosen-with-drop {
      .chosen-single {
        display: none;
      }
    }
  }





  /* @end */
  /* @group Single Chosen */
  .chosen-container-single {
    outline: none;
    .chosen-single {
      abbr {
        position: absolute;
        top: 50%;
        right: 30px;
        display: none;
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 10px;
        text-align: center;
        transform: translate(0,-50%);
        font-family: Arial;
        font-weight: 700;
        color: $dark;
        border: 1px solid $dark;
        border-radius: 50%;
        &:after{
          content: "X";
          display: block;
          width: 100%;
          height: 100%;
        }
        &:hover {
          color: red;
          border: 1px solid red;
        }
      }
      div {
        position: absolute;
        top: 0;
        left: 0px;
        width: 40px;
        height: 100%;
        b {
          display: block;
          width: 20px;
          margin: 0 auto;
          height: 100%;
          background: url('svg-map/control-search.svg') center no-repeat;
          background-size: contain;
        }
      }
    }
    .chosen-search {
      position: relative;
      z-index: 1010;
      margin: 0;
      padding: 10px;
      white-space: nowrap;
      input[type="text"] {
        margin: 1px 0;
        padding: 8px 4px 8px 26px;
        width: 100%;
        outline: 0;
        border-radius: 0;
        border: 1px solid $border1;
        font-size: 1em;
        font-family: sans-serif;
        // background: url('svg-map/control-search.svg') no-repeat 5px center;
        background-size: 20px;
      }
    }

    .chosen-drop {
      background-clip: padding-box;
    }

    &.chosen-container-single-nosearch .chosen-search {
      position: absolute;
      left: -9999px;
    }
    // Default theme
    &.default{
      .chosen-single{
        div{
          display: block;
        }
      }
    }
  }



  /* @end */
  /* @group Active  */
  // .chosen-container-active.chosen-with-drop .chosen-single div {
  //   border-left: none;
  //   background: transparent;
  // }
  // .chosen-container-active.chosen-with-drop .chosen-single div b {
  //   border-left: none;
  //   background: transparent;
  // }
  // .chosen-container-active .chosen-choices {
  //   border: 1px solid #5897fb;
  //   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  // }
  // .chosen-container-active .chosen-choices li.search-field input {
  //   color: #111 !important;
  // }

  /* @end */
  /* @group Disabled Support */
  .chosen-disabled {
    opacity: 0.5 !important;
    cursor: default;
  }
  .chosen-disabled .chosen-single {
    cursor: default;
  }
  .chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default;
  }
  /* @end */
}
