.m-toggle-howto {
  position: absolute;
  top: -60px;
  right: 0px;
  font-size: 10px;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  min-width: 130px;
  border-radius: 20px;
  background: $primary-color;
  border: 1px solid $border1;
  @media (min-width: $br-mobile){
    position: absolute;
    top: 0%;
    right: 0;
    transform: translate(0,-50%);
    min-width: 220px;
  }

  .skitter {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    width: 50%;
    height: 100%;
    border-radius: 20px;
    background: $white;
    border: 1px solid $primary-color;
    transition: all 0.25s $easeInOutSine;
  }

  span {
    position: relative;
    z-index: 2;
    padding: 4px 5px 1px;
    color: $white;
    font-weight: 500;
    width: 50%;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    transition: all 0.25s $easeInOutSine;
    @media (min-width: $br-mobile){
      padding: 5px 10px;
    }

    &.-active {
      color: $dark;
    }
  }
}
