@import '~styles/settings.scss';

.c-form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0;

  span {
    align-self: flex-start;
    font-size: rem(14px);
    color: $error;
    margin-bottom: rem(15px);

    @media screen and (min-width: $screen-m) {
      margin-right: rem(20px);
      margin-bottom: rem(30px);
    }

    &.success {
      color: $green-gfw;
    }
  }

  .submit-btn {
    position: relative;
    align-self: flex-end;

    .submit-loader {
      > div {
        width: rem(20px);
        height: rem(20px);
        border-width: 2px;
      }
    }
  }
}
