@import '~styles/settings.scss';

.c-form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0;

  @media screen and (min-width: $screen-m) {
    flex-direction: row;
    justify-content: flex-end;
  }

  span {
    font-size: rem(14px);
    color: $error;
    margin-bottom: rem(15px);

    @media screen and (min-width: $screen-m) {
      margin-right: rem(20px);
      margin-bottom: 0;
    }
  }

  .submit-btn {
    position: relative;

    .submit-loader {
      > div {
        width: rem(20px);
        height: rem(20px);
        border-width: 2px;
      }
    }
  }
}
