@import '~styles/settings.scss';

.c-legend-handler {
  position: absolute;
  cursor: move;
  top: 18px;
  left: 8px;

  svg {
    fill: $warm-grey;

    &:hover {
      fill: $medium-grey;
    }
  }
}
