@import '~styles/settings';

.c-no-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.message {
  opacity: 0.5;
  margin-right: 10px;
}

.message-icon {
  width: rem(25px);
  height: rem(25px);
}
