@import '~styles/settings.scss';

.c-newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: rem(36px);
    margin-bottom: rem(10px);
    font-weight: 300;
    text-align: center;
  }

  h3 {
    font-size: rem(16px);
    margin-bottom: rem(40px);
    text-align: center;

    @media screen and (min-width: $screen-m) {
      margin-bottom: rem(60px);
    }
  }

  p {
    margin-bottom: rem(20px);
  }

  .c-form-field {
    max-width: 450px;
    width: 100%;
  }

  .submit-btn {
    min-width: rem(180px);
    align-self: center;
  }

  .c-form-error {
    span {
      align-self: center;
      margin-right: 0;
    }
  }
}
