<span class="toggle-choice {{#if desktop}}active{{/if}}" data-className="desktop">HOW TO: DESKTOP</span>
<span class="toggle-choice {{#if mobile}}active{{/if}}" data-classname="mobile">HOW TO: MOBILE</span>
