<li>
  <a href="/stories/{{id}}">
    <figure><div class="bg" style="background-image: url({{map}})"></div></figure>
    <article class="info">
      <h4>{{title}}</h4>
      <p>{{details}}</p>
      <button class="btn gray medium">More</button>
    </article>
  </a>
</li>
