{{#each stories}}
  <li>
    <a href="/stories/{{this.id}}">
      <figure><div class="bg" style="background-image: url({{this.map}})"></div></figure>
      <article class="info">
        <h4>{{this.title}}</h4>
        <p>{{this.details}}</p>
        <button class="btn gray medium">More</button>
      </article>
    </a>
  </li>
{{/each}}
