@import '~styles/settings.scss';

.l-fullscreen-page {
  position: relative;

  .c-site-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
  }

  .content-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &.-error {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
