@import '~styles/settings.scss';

.c-widget-alert {
  display: flex;
  gap: 10px;
  padding: 10px;
  border: 1px solid black;
  align-items: flex-start;
  margin-bottom: 10px;

  .icon {
    display: flex;
  }

  .text {
    p {
      margin: 0;
      font-weight: 400;
      font-size: 12px;
    }

    strong {
      font-weight: 500;
    }

    a {
      width: fit-content;
      font-weight: 500;
      color: $green-gfw;

      &:hover,
      &:visited {
        color: darken($green-gfw, 10%);
      }
    }
  }
}
