@import '~styles/settings.scss';

.c-data-analysis-menu {
  max-height: 80%;
  width: rem(290px);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  background: $white;

  .legend {
    position: relative;
    min-height: rem(200px);
  }

  .analysis {
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
