@import '~styles/settings.scss';

.c-data-analysis-menu {
  max-height: 80%;
  width: rem(290px);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  background: $white;
  transition: transform 0.3s linear;
  z-index: 2;

  &.-relocate {
    transform: translateX(292px);
  }

  &.-relocate-big {
    transform: translateX(552px);
  }

  .legend {
    position: relative;
  }

  .analysis {
    position: relative;
    width: 100%;
    max-height: 70vh;
    overflow: auto;
    background: $white;
  }
}
