<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="icon-info" viewBox="0 0 19 32">
      <title>info</title>
      <path d="M12.8 28.8v-16h-9.6v3.2h3.2v12.8h-6.4v3.2h19.2v-3.2z"></path>
      <path d="M12.8 3.2c0 1.767-1.433 3.2-3.2 3.2s-3.2-1.433-3.2-3.2c0-1.767 1.433-3.2 3.2-3.2s3.2 1.433 3.2 3.2z"></path>
    </symbol>
    <symbol id="icon-settings" viewBox="0 0 32 32">
      <title>settings</title>
      <path d="M31.2 17.867c0.267-1.333 0.267-2.4 0-3.733l-5.333-1.333c-0.267-0.8-0.533-1.067-0.8-1.6l2.933-4.8c-0.8-1.067-1.6-1.867-2.667-2.667l-4.8 2.933c-0.533-0.267-1.067-0.533-1.6-0.8l-1.333-5.6c-1.333-0.267-2.4-0.267-3.733 0l-1.067 5.6c-0.533 0.267-1.067 0.533-1.6 0.8l-4.8-3.2c-1.067 0.8-1.867 1.6-2.667 2.667l2.933 4.8c-0.267 0.8-0.533 1.067-0.533 1.867l-5.333 1.333c-0.267 1.333-0.267 2.4 0 3.733l5.333 1.333c0.267 0.533 0.267 1.067 0.533 1.6l-2.933 4.8c0.8 1.067 1.6 1.867 2.667 2.667l4.8-2.933c0.533 0.267 1.067 0.533 1.6 0.8l1.333 5.6c1.333 0.267 2.4 0.267 3.733 0l1.333-5.6c0.533-0.267 1.067-0.267 1.6-0.8l4.8 2.933c1.067-0.8 1.867-1.6 2.667-2.667l-3.2-4.8c0.267-0.533 0.533-1.067 0.533-1.6l5.6-1.333zM16 20.533c-2.667 0-4.533-2.133-4.533-4.533 0-2.667 1.867-4.533 4.533-4.533 2.4 0 4.267 1.867 4.267 4.533 0 2.4-1.867 4.533-4.267 4.533z"></path>
    </symbol>
    <symbol id="icon-share" viewBox="0 0 32 32">
      <title>share</title>
      <path d="M27.2 22.4c-1.6 0-3.2 0.96-4.16 2.24l-13.76-8.32c0-0.64 0.32-0.96 0.32-1.6l14.72-6.080c0.64 0.64 1.6 0.96 2.88 0.96 2.56 0 4.8-2.24 4.8-4.8s-2.24-4.8-4.8-4.8-4.8 2.24-4.8 4.8c0 0.32 0 0.64 0 0.96l-13.76 5.76c-0.96-0.96-2.24-1.92-3.84-1.92-2.56 0-4.8 2.24-4.8 4.8s2.24 4.8 4.8 4.8c0.96 0 1.6-0.32 2.24-0.64l15.36 9.6c0.64 2.24 2.56 3.84 4.8 3.84 2.56 0 4.8-2.24 4.8-4.8s-2.24-4.8-4.8-4.8z"></path>
    </symbol>
    <symbol id="icon-angle-arrow-down" viewBox="0 0 32 32">
      <title>angle-arrow-down</title>
      <path d="M31.68 8.593l-1.603-1.603c-0.214-0.214-0.46-0.321-0.738-0.321s-0.523 0.107-0.737 0.321l-12.602 12.601-12.601-12.601c-0.214-0.214-0.46-0.321-0.738-0.321s-0.524 0.107-0.738 0.321l-1.603 1.603c-0.214 0.214-0.321 0.46-0.321 0.738s0.107 0.524 0.321 0.737l14.942 14.942c0.214 0.214 0.46 0.321 0.738 0.321s0.523-0.107 0.737-0.321l14.943-14.942c0.214-0.214 0.32-0.46 0.32-0.737s-0.106-0.524-0.32-0.738z"></path>
    </symbol>
  </defs>
</svg>
