<%= content_for :head do %>
  <%= render 'shared/google_carto' %>
  <%= stylesheet_link_tag "https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.15/themes/css/cartodb.css", :media => 'all' %>
<% end %>

<div id="country-page"></div>
