<%= content_for :head do %>
  <%= render 'shared/google_v3_30_carto' %>
  <%= stylesheet_link_tag "http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css", :media => 'all' %>
<% end %>

<div id="country-page"></div>
