@import '~styles/settings.scss';

.c-widget-plantation-area {
  padding-bottom: rem(50px);

  .c-widget-plantation-area__container {
    position: relative;
    height: calc(100% - 100px);

    .c-widget-plantation-area__chart {
      width: 100%;
      height: 100%;
      font-size: 0;
      margin-top: rem(4px);

      li {
        margin-bottom: rem(24px);

        &:nth-child(1) .c-widget-plantation-area__legend .circle {
          background-color: #4a4a4a;
        }
        &:nth-child(2) .c-widget-plantation-area__legend .circle {
          background-color: rgba(74, 74, 74, 0.8);
        }
        &:nth-child(3) .c-widget-plantation-area__legend .circle {
          background-color: rgba(74, 74, 74, 0.6);
        }
        &:nth-child(4) .c-widget-plantation-area__legend .circle {
          background-color: rgba(74, 74, 74, 0.4);
        }
      }

      .c-widget-plantation-area__legend {

        .circle {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: rem(16px);
          height: rem(16px);
          margin-right: rem(12px);
          border-radius: 100%;
          font-size: 12px;
          color: $white;
          background-color: rgba(74, 74, 74, 0.2);
        }

        .title {
          display: inline-block;
          position: relative;
          top: rem(-1px);
          font-size: 12px;
          color: $slate;
        }
      }

      .chart-container {
        position: relative;
        padding: 0 rem(24px);
        margin-top: rem(4px);

        .text-percentage {
          position: absolute;
          top: rem(-5px);
          right: 0;
          font-size: 12px;
          color: $slate;
          line-height: 1.67;
        }
      }
    }
  }
}
