---
http_interactions:
- request:
    method: get
    uri: http://api-proxy-staging.globalforestwatch.org//countries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Charset:
      - utf-8
      X-Cloud-Trace-Context:
      - cd094539a34f9b2560d8285b5a9dee24;o=1
    body:
      encoding: UTF-8
      string: '{"countries": [{"alerts_count": null, "carbon_stocks": 38, "convention_cbd":
        "Ratification", "convention_cites": "Accession", "convention_ilo": "Not Ratified",
        "convention_itta": "Non Member", "convention_kyoto": "Accession", "convention_nlbi":
        "Member State", "convention_ramsar": "Non Party", "convention_unccd": "Accession",
        "convention_unfccc": "Non-Annex I Party", "convention_world_heritage": "Ratification",
        "country_alt": "", "dataset_link": "", "emissions": null, "employment": 1,
        "enabled": true, "extent": 253017.86569999999, "external_links": "", "gva":
        34.770800000000001, "gva_percent": 0.19, "indepth": "", "iso": "AFG", "lat":
        33.835230699999997, "lng": 66.004733669999993, "ministry_link": "", "name":
        "Afghanistan", "national_policy_link": "http://www.fao.org/docrep/013/al437E/al437E.pdf",
        "national_policy_title": "National Forest Policy", "policy_links": null},
        {"alerts_count": null, "carbon_stocks": 50, "convention_cbd": "Accession",
        "convention_cites": "Accession", "convention_ilo": "Not Ratified", "convention_itta":
        "Consuming Member", "convention_kyoto": "Accession", "convention_nlbi": "Member
        State", "convention_ramsar": "Contracting Party", "convention_unccd": "Accession",
        "convention_unfccc": "Non-Annex I Party", "convention_world_heritage": "Ratification",
        "country_alt": "", "dataset_link"[...]
