---
http_interactions:
- request:
    method: get
    uri: http://api-proxy-staging.globalforestwatch.org//countries/pol?thresh=30
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Charset:
      - utf-8
      X-Cloud-Trace-Context:
      - 014c6571e7ea032a085fc97033305d25
    body:
      encoding: UTF-8
      string: '{"bounds": {"coordinates": [[[14.123922973466399, 48.994013163876403],
        [14.123922973466399, 54.838324286436702], [24.1431563718691, 54.838324286436702],
        [24.1431563718691, 48.994013163876403], [14.123922973466399, 48.994013163876403]]],
        "type": "Polygon"}, "burned_forests": [{"area_burned_forest": 21500, "year":
        2003}, {"area_burned_forest": 3800, "year": 2004}, {"area_burned_forest":
        5800, "year": 2005}, {"area_burned_forest": 5900, "year": 2006}, {"area_burned_forest":
        3600, "year": 2007}, {"area_burned_forest": 3000, "year": 2008}, {"area_burned_forest":
        4400, "year": 2009}, {"area_burned_forest": 2100, "year": 2010}, {"area_burned_forest":
        2800, "year": 2011}, {"area_burned_forest": 7200, "year": 2012}], "carbon_stocks":
        823, "convention_cbd": "Ratification", "convention_cites": "Ratification",
        "convention_ilo": "Not Ratified", "convention_itta": "Consuming Member", "convention_kyoto":
        "Ratification", "convention_nlbi": "Member State", "convention_ramsar": "Contracting
        Party", "convention_unccd": "Accession", "convention_unfccc": "Annex I/II
        Party", "convention_world_heritage": "Ratification", "country_alt": "", "dataset_link":
        "", "emissions": null, "employment": 251, "enabled": true, "extent": 9621967.8680000007,
        "external_links": "", "forest_certification": [{"type": "total_area_certified",
        "value": 14223591}, {"type": "percent_fsc", "value": 0.48648692162197299},
        {"type": "percent_pef", "value": 0.51351307837802695}, {"type": "percent_other",
        "value": 0}], "forests": [{"percent": 0, "type": "forest_regenerated"}, {"percent":
        100, "type": "forest_primary"}, {"percent": 0, "type": "forest_planted"}],
        "forma": [], "gva": 7069.9499999999998, "gva_percent": 1.5600000000000001,
        "ifl": ["respond", {"download_urls": {"csv": "https://wri-01.carto.com/api/v2/sql?q=None&format=csv",
        "geojson": "https://wri-01.carto.com/api/v2/sql?q=None&format=geojson",
        "kml": "https://wri-01.carto.com/api/v2/sql?q=None&format=kml", "shp": "https://wri-01.carto.com/api/v2/sql?q=None&format=shp",
        "svg": "https://wri-01.carto.com/api/v2/sql?q=None&format=svg"}, "params":
        {"ifl": false, "iso": "pol", "table": "stories_dev_copy", "thresh": "30"}}],
        "indepth": "", "iso": "POL", "lat": 52.127595700000001, "lng": 19.39012834,
        "loss_outside_plantations": [], "ministry_link": "http://www.mos.gov.pl/?j=en",
        "name": "Poland", "national_policy_link": "http://www.fao.org/docrep/013/al601E/al601E.pdf",
        "national_policy_title": "Ministerstwo \u00c5\u0161rodowiska, Zasob\u00c3\u00b3w
        Naturalnych i Le\u00c5\u203anictwa. Polityka le\u00c5\u203ana Pa\u00c5\u201estwa.
        Warszawa. 1997", "params": {"ifl": false, "iso": "pol", "table": "stories_dev_copy",
        "thresh": "30"}, "policy_links": null, "reforestation": [{"reforestation_rate":
        48.430999999999997}], "story": null, "subnat_bounds": [{"bounds": {"coordinates":
        [[[18.054031372070401, 50.804325103759901], [18.054031372070401, 52.334228515625099],
        [20.673692703247099, 52.334228515625099], [20.673692703247099, 50.804325103759901],
        [18.054031372070401, 50.804325103759901]]], "type": "Polygon"}, "cartodb_id":
        1512, "id_1": 1, "iso": "POL", "name_1": "L\u00f3dz"}, {"bounds": {"coordinates":
        [[[19.741737365722599, 50.172901153564602], [19.741737365722599, 51.29154586792],
        [21.909618377685799, 51.29154586792], [21.909618377685799, 50.172901153564602],
        [19.741737365722599, 50.172901153564602]]], "type": "Polygon"}, "cartodb_id":
        1572, "id_1": 2, "iso": "POL", "name_1": "Swietokrzyskie"}, {"bounds": {"coordinates":
        [[[15.8241081237793, 51.0654945373537], [15.8241081237793, 53.596515655517599],
        [19[...]
