---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?key=&cx=&q=Bia%C5%82owie%C5%BCa&start=1&filter=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
            "reason": "keyInvalid",
            "message": "Bad Request"
           }
          ],
          "code": 400,
          "message": "Bad Request"
         }
        }
      effective_url: https://www.googleapis.com/customsearch/v1?key=&cx=&q=Bia%C5%82owie%C5%BCa&start=1&filter=0
  recorded_at: Thu, 12 Apr 2018 13:05:28 GMT
recorded_with: VCR 4.0.0
