@import '~styles/settings.scss';

.l-section-history {
  padding: rem(30px) 0 rem(30px);
  background-color: $grey-light;
  border-bottom: solid 1px $border;
  overflow: hidden;

  @media screen and (min-width: $screen-m) {
    padding: rem(60px) 0;
  }

  h3 {
    font-family: $font-family-1;
    font-size: rem(18px);
    text-transform: uppercase;
    opacity: 0.5;
  }

  .year-card {
    @media screen and (min-width: $screen-m) {
      > div > div {
        width: 50% !important;
      }
    }

    .image {
      border-radius: 50%;
      border: 8px solid #fff;
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
      width: 31.25rem;
      height: 31.25rem;
      object-fit: cover;
    }

    .description {
      margin-top: rem(30px);

      @media screen and (min-width: $screen-m) {
        margin-top: calc(50% - 15px);
      }

      div {
        display: flex;

        h4 {
          font-size: rem(30px);
          margin-bottom: rem(10px);
        }

        span {
          padding-left: 0.625rem;
          font-size: small;
          align-content: center;
        }
      }

      p {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
}
