@import '~styles/settings.scss';

.l-map {
  .data-analysis-menu {
    position: absolute;
    left: rem(90px);
    top: rem(15px);
  }

  .map {
    width: calc(100% - 76px);
    position: absolute;
    right: 0;
  }
}
