.modal-subscribe {
  padding: 10px 0 10px 0;

  // Header
  header {
    text-align: center;
    margin: 0 0 20px;

    h2 {
      font-size: 24px;
      max-width: 300px;
      margin: 0 auto;
      color: $dark;
    }

    h3 {
      font-weight: 200;
      line-height: 1.5em;
      margin-top: 15px;
    }

    p {
      margin-top: 20px;
      color: #555;
    }
  }


  // Steps
  .steps {
    display: none;

    &.current{
      display: block;
    }

    > label {
      display: block;
      margin: 7px 0 5px;
      text-transform: none;
      font-size: 14px;
      font-weight: 500;
      color: #9f9f9f;
    }

    p {
      text-align: left;
      font-weight: 200;
      line-height: 1.5em;
      color: $dark;
    }

    strong {
      font-weight: 400;
    }

    .m-btncontainer {
      margin-top: 15px;
    }
  }

  // Datasets
  .datasets-list {
    width: 100%;
    min-height: 95px;
    position: relative;
  }

  // Login authentication
  .subscription-authentication {
    margin: 20px auto 0;
    width: 100%;

    > li {
      display: block;
      position: relative;
      width: 100%;
      max-width: 250px;
      margin: 0 auto 10px;
      padding: 0;
      text-align: center;

      &:last-child {
        margin: 0 auto;
      }

      > a {
        padding: 20px;
        color: white;
        text-transform: uppercase;
        font-size: 14px;

        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &.-twitter {
          background-color: #598dca;
          &:hover {
            background-color: darken(#598dca, 5%);
          }
        }

        &.-facebook {
          background-color: #39579b;
          &:hover {
            background-color: darken(#39579b, 5%);
          }
        }

        &.-google {
          background-color: #da4735;
          &:hover {
            background-color: darken(#da4735, 5%);
          }
        }

        svg {
          fill: white;

          position: absolute;
          top: 18px;
          left: 18px;

          width: 18px;
          height: 18px;
        }
      }
    }
  }
}
