.m-tabs {
  width: 100%;
  display: flex;
  margin-bottom: 123px;

  .tabs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;

    .tab {
      background: #7b7b7b;
      overflow: hidden;

      [id^="tab"]:checked + label {
        background-color: #eeeeee;
        color: #7b7b7b;

        svg {
          fill: #7b7b7b;
        }
      }
      [id^="tab"]:checked ~ [id^="tab-content"] {
        display: block;
      }

      &:first-child {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;

        [id^="tab"]:checked + label {
          border-top-right-radius: 50px;
          border-bottom-right-radius: 50px;
        }
      }
      &:last-child {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;

        label {
          border-radius: 50px;
        }
      }
    }
  }
  input[type="radio"] {
    position: absolute;
    top: 0;
    left: -9999px;
  }
  label {
    display: block;
    padding: 7px 21px 5px 21px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    background: #7b7b7b;
    color: #eeeeee;
    transition: .2s ease;

    .source {
      width: 16px;
      height: 12px;
      padding-left: 4px;
      position: absolute;
      top: 6px;
      right: 6px;

      svg {
        width: 8px;
        height: 8px;
        fill: #eeeeee;
      }
    }
  }
  .tab-content{
    width: 100%;
    display: none;
    overflow: hidden;
    padding: 25px;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 2;

    p {
      text-align: right;

      a:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .test-webhook {

    .webhook-loader {
      color: $slate;
    }

    &:not(.-loading) .webhook-loader {
      display: none;
    }

    &.-loading {
      cursor: default;

      .webhook-text {
        display: none;
      }
    }
  }
}
