@import '~styles/settings';

$map-menu-items-size: rem(76px);
$map-menu-flap-width: rem(290px);
$map-menu-flap-width-big: rem(550px);

.c-menu-flap {
  position: absolute;
  top: 0;
  left: 0;
  width: $map-menu-flap-width;
  overflow-x: hidden;
  height: 100vh;
  background-color: $white;
  z-index: 12;
  transform: translateX(#{$map-menu-items-size - $map-menu-flap-width-big});
  transition: transform 0.3s linear;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);

  &.--big {
    width: $map-menu-flap-width-big;
  }

  &.--showed {
    transform: translateX($map-menu-items-size);
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: rem(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    z-index: 1;

    .c-icon {
      width: rem(12px);
      height: rem(12px);
      fill: $warm-grey;
    }
  }
}
