@import '~styles/settings.scss';
@import '~react-datepicker/dist/react-datepicker.css';

.c-datepicker {
  .datepicker-input {
    height: 1.25rem;
    width: 100%;
    border: 1px solid #e5e5df;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
  }

  .react-datepicker__day-name {
    font-family: "Fira Sans", sans-serif;
  }
}

.react-datepicker {
  width: 317px;

  .react-datepicker__month-container {
    width: 100%;

    .react-datepicker__month {
      margin-bottom: 16px;
    }
  }

  .react-datepicker__header--custom {
    background: none;
    border: none;

    .c-datepicker-header {
      text-align: center;
      padding: 22px 0;
    }

    .c-date-dropdown {
      display: inline-block;
      margin: 0 5px;
    }

    button.menu-link {
      display: inline-block;
      height: 20px;
      width: 20px;
      margin: 0 5px;
      border: none;
      border-radius: 100%;
      background-color: #97be32;
    }

    .icon-arrow {
      height: 9px;
      width: 9px;
      margin: auto;
      box-sizing: border-box;
      color: white;
    }
  }

  .react-datepicker__day-names {
    height: 24px;

    & > div {
      color: #757575;
      font-size: 90%;
      font-weight: 400;
    }
  }

  .react-datepicker__day-name,
  .react-datepicker__day {
    height: 36px;
    width: 36px;
    margin: 0;
    padding: 4px 8px;
    text-align: right;

    &:hover {
      border-radius: 0;
    }
  }

  .react-datepicker__day--selected {
    background: #97be32;
    border-radius: 0;
  }
}
