@import '~styles/settings.scss';

$reactDatesInputHeight: rem(50px);
$reactDatesFangHeight: rem(10px);
$datepickerInputHeight: rem(28px);
$datepickerFangHeight: rem(6px);
$datepickerPositionAdjust: rem(8px);

.c-datepicker {
  td {
    vertical-align: middle;
  }

  .SingleDatePickerInput {
    .DateInput_input {
      padding: 0;
      height: $datepickerInputHeight;
      border: 1px solid $green-gfw;
      border-radius: rem(25px);
      font-size: 13px;
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;
      color: $slate;
      cursor: pointer;
    }

    .DateInput_fang {
      height: $datepickerFangHeight;
      transform: translateY($datepickerInputHeight - $reactDatesInputHeight + ($reactDatesFangHeight - $datepickerFangHeight) - $datepickerPositionAdjust);
    }

    .DateInput_fangStroke {
      stroke: rgba($slate, 0.08);
    }
  }

  .SingleDatePicker_picker {
    transform: translateY($datepickerInputHeight - $reactDatesInputHeight - $datepickerPositionAdjust);
  }

  .DayPicker__withBorder {
    box-shadow: $pop-box-shadow;
    border-radius: 0;
  }

  .CalendarDay__selected,
  .CalendarDay__selected:active,
  .CalendarDay__selected:hover {
    background: $green-gfw;
    border: 1px solid $green-gfw;
    color: $white;
  }
}
