.c-pie-chart-legend-widget {
  padding-top: rem(30px);

  .pie-and-legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .cover-legend {
      min-width: 50%;
    }
  }

  .pie-contextual-settings-btn {
    margin: 0 10px 20px auto;
  }
}
