// HEADER
.layout-header {
  position: relative;
  z-index: 1000;

  .brand {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1001;

    &.is-fixed {
      position: fixed;
      left: auto;
    }
  }

  .header-title {
    text-align: center;

    .is-home-page & {
      float: left;
      text-align: left;
      font-size: 36px;
      max-width: 50%;
      margin: 1em 0 .5em 0;
    }

    .is-accept_terms-action & {
      font-size: 36px;
      margin: 1.5em auto 1em auto;
    }

    span {
      color: $cGreen;
    }
  }
}

.layout-header-top {
  border-bottom: 1px solid #cfcfcf;
}

.layout-header-bottom {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0;
}


// CONTENT
.layout-content {
  margin-bottom: 40px;
  @include clearfix;

  .is-stories-page & {
    margin-bottom: 0;
  }

  .section {
    padding: 40px 0;
    text-align: center;

    &.section_dark {
      background: #222;

      .section-title {
        color: #fff;
      }

      .section-footer {
        border-top: 1px solid #333;
      }
    }

    p {
      font-size: 15px;
      line-height: 1.2;
      color: #666;
      @extend .fira_regular;

      a {
        font-weight: bold;
      }
    }
    &.home_stories{
      .columns{
        height: calc(346px - (40px * 2));
        .spinner {
          display:block;
          width: 24px; height: 24px;
          background: image-url('icons/spinner.gif') no-repeat;
          margin: 10px auto;
        }
      }
    }
  }

  .section-footer {
    border-top: 1px solid #ddd;
    padding-top: 40px;

    p + p {
      margin-top: 15px;
    }

    .btn + .btn {
      margin-left: 20px;
    }
  }

  .section-title {
    margin: 0 0 8px;
    font-size: 37px;
    @extend .fira_regular;
    color: #222;
  }

  .columns {
    @extend .clearfix;
    padding: 40px 0;
  }

  .column {
    position: relative;

    &.three {
      float: left;
      display: table;
      width: 266px;
      margin: 0 27px;
    }

    &.five {
      display: inline-block;
      height: 117px;
      width: 117px;
      margin: 0 27px;
    }

    &.round {
      height: 266px;

      img {
        position: absolute;
        z-index: 20;
        top: 5px; left: 5px;
        width: 256px;
        height: 256px;
        @include border-radius(129px);
      }

      a {
        display: table;
        height: 100%;
        width: 100%;
      }

      .frame {
        position: absolute;
        top: 0; left: 0;
        height: 100%;
        width: 100%;
        @include border-radius(134px);
        background: #ccc;
      }

      .gradient {
        position: absolute;
        top: 5px; left: 5px;
        z-index: 50;
        height: 256px;
        width: 256px;
        background-image: image-url('backgrounds/bkg_circles_gradient.png');
        @include border-radius(129px);
      }

      .title {
        display: table-cell;
        position: relative;
        z-index: 100;
        vertical-align: middle;
        @media screen and (min-width:0\0) {
          /* IE9 and IE10 rule sets go here */
          padding-top: 80px;
        }

        strong {
          display: block;
          margin: 0 30px 30px;
          font-weight: 500;
          font-size: 21px;
          @extend .serif;
          color: #fff;
        }

        span {
          display: block;
          font-weight: bold;
          font-size: 12px;
          text-transform: uppercase;
          color: $cGreen;
        }
      }
    }
  }
}


// FOOTER
.layout-footer {
  background-color: #464352;
  @include clearfix;

  .right,
  .left{
    float: right;
    width: 49%;
  }
  .left{
    float: left;
    .tweet-to{
      margin-top: 15px;
    }
  }

  .site-info {
    @extend .clearfix;
    font-size: 13px;
    color: #b1afb6;

    a {
      color: #eee;
      text-decoration: underline;

      &:hover {
        color: #fff;
      }
    }
  }


  .footer-share {
    display: block;
    padding: 16px 0;
    font-size: 17px;
    font-family: "fira_sans_otregular";
    color: #fff;
    @include clearfix;

    p {
      float: left;
      line-height: 45px;

      strong {
        font-family: "fira_sans_otmedium";
      }
      .subscribe{
        vertical-align: sub;
      }
    }
    &.keep-updated{
      margin-bottom: 0;
      height: 35px;
    }
  }

  .share_buttons {
    float: left;
    height: 27px;
    padding: 12px 20px 6px 10px;
    background: #fff;
    @include border-radius(23px);
    @include clearfix;

    .fb_iframe_widget{
      top: -4px;
    }
  }

  .footer-logos {
    float: left;
    margin-top: 37px;
    width: 480px;
  }

  .footer-logos p { margin-bottom: 10px; }

  .footer-address {
    margin: 60px 0 40px;
    @extend .footer-logos;
    @extend .sans-serif;

    p,
    address,
    .footer-logo {
      margin-bottom: 20px;
    }

    address {
      line-height: 1.1;
    }
  }

  .footer-logo {
    display: inline-block;
    vertical-align: middle;
    margin: 0 38px 38px 0;
    width: 88px;

    &.wri { height: 31px; width: 269px; @include logos-sprite(wri); }
    &.google { height: 52px; @include logos-sprite(google); }
    &.esri { height: 28px; @include logos-sprite(esri); }
    &.universitymaryland { height: 52px; @include logos-sprite(universitymaryland); }
    &.unep { height: 52px; @include logos-sprite(unep); }
    &.imazon { height: 52px; @include logos-sprite(imazon); }
    &.cfgd { height: 52px; @include logos-sprite(cfgd); }
    &.osfac { height: 57px; @include logos-sprite(osfac); }
    &.gfwca { height: 44px; @include logos-sprite(gfwca); }
    &.scanex { height: 16px; @include logos-sprite(scannex); }
    &.twrus { height: 36px; width: 147px; @include logos-sprite(twrus); }
    &.norwegian { height: 55px; @include logos-sprite(norwegian); }
    &.usaid { height: 64px; @include logos-sprite(usaid); }
    &.gef { height: 59px; @include logos-sprite(gef); }
    &.ukaid { height: 52px; @include logos-sprite(ukaid); }
    &.tilia { height: 38px; @include logos-sprite(tilia); }
    &.goodall { height: 36px; width: 147px; @include logos-sprite(goodall); }
    &.cartodb { height: 45px; @include logos-sprite(cartodb); }
    &.vizzuality { height: 51px; margin-right: 32px; @include logos-sprite(vizzuality); }
    &.blueraster { height: 51px; width: 97px; @include logos-sprite(blueraster); }
    &.last { margin-right: 0; }
  }
}
@media only screen and (max-width: 768px) {
  body {
    .skiptranslate {
      display: none;
    }
    input.btn {
      text-align: center;
      display: inline;
    }
    border: 0;
    background-image: none;
    min-width: 320px;
    margin-top: -40px;
    .mod-notice,
    #google_translate_element,
    .layout-header-bottom,
    aside,
    .site-info iframe {
      display: none;
    }
    .header-subtitle {
      padding: 0 15px;
    }
    .show_mobile {display: block;}
    .section-footer .btn {
      span{
        &:before {
          left: 136px;
          top: -1px;
          transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
        }
        &:after {
          top: -2px;
          left: 5px;
          width: 9px;
          height: 4px;
        }
      }
    }
    .row,
    .inner {
      max-width: 100%;
      min-width: 100%;
      padding: 0;
    }
    .mod-navbar {
      min-height: 60px;
      margin: 0;
      width: 100%;
      ul {
        display: none;
        &.show{
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          li {
            height: 35px;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: center;
            -webkit-align-content: center;
            -webkit-align-items: center;
            justify-content: center;
            align-content: center;
            align-items: center;
            a {
              text-align: center;
              font-family: "fira_sans_otmedium";
              letter-spacing: -1px;
              span {
                text-align: center;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  .grid-12 {width: 99%;}
    .layout-header-top {
      background-color: #F2F2F3;
      border-bottom: 2px solid #CCCCCC;
    }
    .layout-footer {
      .left {
        display: none;
      }
      .right {
        float: left;
        width: 98%;
        .footer-logos {
          width: 100%;
          text-align: center;
          .hide_mobile {
            display: none !important;
          }
          .show_mobile,
          .less {
            text-transform: uppercase;
            padding: 7px;
            border: 1px solid #ccc;
            font-family: fira_sans_otmedium;
            border-radius: 50px;
            margin: 0 35px;
            cursor: pointer;
            &:after {
              content: '+';
              color: inherit;
              display: inline-block;
              font-size: 18px;
              left: 20px;
              position: relative;
              top: 2px;
              font-family: fira_sans_otlight, "Helvetica Neue", "Trebuchet MS", sans-serif;
            }
          }
          .less {
            &:after {
              content: '-';
            }
          }
          a {
            display: none;
          }
        }
        .footer-address {
          margin: 10px 5px 0 5px;
          width: 100%;
          display: inline;
          padding-top: 25px;
          text-align: left;
          a {
            display: inline-block;
          }
        }
      }
    }
}
@media only screen and (max-width: 640px){
  .mod-navbar {
      ul {
        &.show{
          flex-direction: column;
          -webkit-flex-direction: column;
          li {
            border-bottom: 1px solid #ccc;
            &.hidden {
              height: 100px;
            }
            a {
              font-size: 17px;
              &.selected {
                background-color: transparent;
                color: rgba(0,0,0,0.5);
              }
              &:hover {
                background-color: transparent;
                &:hover {
                  background-color: transparent;
                }
              }
            }
          }
        }
      }
    }
    .brand.show {
      top: 290px;
    }
}
@media only screen and (max-width: 768px) and (min-width: 640px){
  .mod-navbar {
      ul {
        &.show{
          -webkit-flex-direction: row;
          flex-direction: row;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          li {
            border-bottom: 0px;
            &.hidden {
              height: 100px;
            }
            a {
              font-size: 15px;
              &.selected {
                background-color: #97bd3d;
                color: #fff;
              }
            }
          }
        }
      }
    }
    .brand.show {
      top: 50px;
    }
}
