.countries_block {
  height: 120px;
  background:
    image-url('backgrounds/bkg_countries_block_up.png') no-repeat 0 center,
    image-url('backgrounds/bkg_countries_block_down.png') repeat-x;
  margin: 40px 0 0;

  .header-title {
    font-size: 29px;
    line-height: 120px;
    color: #fff;
    text-align: center;
    @extend .serif;

    a:hover {
      text-decoration: underline;
    }
  }
  span{
    color: darken($cGreen, 5%);
  }
}

.jspScrollable {
  overflow: auto !important;
}

.countries_list {
  @extend .clearfix;
}

.disclaimer {
  margin-top: 40px;
  font-style: italic;
  line-height: 1.4;
  @extend .serif;
  color: $cGray2;
  @include clearfix;
}

// SEARCH BOX
.search-countries-box{
  margin: 20px auto;
  position: relative;
  @extend .clearfix;
  &:after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 10px;
    width: 30px;
    height: 30px;
    background: image-url('countries/search.svg') no-repeat center;
    background-size: contain;
    @include translate(0, -50%);
  }
  input{
    box-sizing: border-box; 
    display: block;
    width: 100%;
    padding: 10px;
    padding-left: 50px;
    margin: 0;
    border-radius: 3px;
    font-size: 22px;
    color: #999;
    border: 1px solid $cGray2;
    min-height: 20px;
    outline: none;
  }
}
