body {
  padding: 0;
  margin: 0;
  font-family: $font-family-1;
  font-weight: normal;
  line-height: 1.5;
  background: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.l-country__map {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  z-index: 100;
}

.l-country__widgets {
  padding-top: rem(80px);

  &.row {
    max-width: none;
    width: calc(70% - 100px);
    margin: 0;
    margin-left: rem(50px);
  }

  .l-country__container-widgets {
    margin-bottom: rem(40px);

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
