body {
  padding: 0;
  margin: 0;
  font-family: $font-family-1;
  font-weight: normal;
  line-height: 1.5;
  background: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-map-container {
  position: fixed;
  top: 0;
  left: 70%;
  width: 30%;
  height: 100%;
  z-index: 100;
}
