body {
  padding: 0;
  margin: 0;
  font-family: $font-family-1;
  font-weight: normal;
  line-height: 1.5;
  background: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #footerGfw {
    position: relative;
  }
}

.l-country {
  > .c-loader {
    height: rem(300px);
  }
}

.l-country__map {
  right: -100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 59px;
  transition: right 0.5s linear;

  &.-open-mobile {
    right: calc(-5%);
  }

  &.-fixed {
    top: 0;
    position: fixed;
  }

  @media screen and (min-width: $screen-m) {
    right: 0;
    width: 30%;
    height: 100%;
    position: absolute;
    top: 59px;

    &.-open-mobile {
      right: 0;
    }
  }
}

.l-country__widgets {
  &.row {
    max-width: none;
    width: calc(100% - 100px);
    margin: rem(80px) 0 0;
    margin-left: rem(50px);

    @media screen and (min-width: $screen-m) {
      width: calc(70% - 100px);
    }
  }

  .l-country__container-widgets {
    margin-bottom: rem(40px);

    &.-last {
      margin-bottom: rem(40px);

      @media screen and (min-width: $screen-m) {
        margin-bottom: 0;
      }
    }
  }
}
