*, *:after, *:before{  
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


svg { width: 100%; height: 100%; }


.wrap {
  max-width: $max-container-width;
  width: 100%;
  margin: 0 auto;
  @include clearfix();
}

.inner {
  margin: 0 auto;
  width: 75%;
}