.wrap {
  max-width: $max-container-width;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  @include clearfix();
}

.inner {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  @media (min-width: $br-mobile){
    width: 95%;
    padding: 0;
  }

  @media (min-width: 1280px){
    width: 75%;
  }
}

.inner-huge {
  position: relative;
  margin: 0 auto;
  width: 90%;
}