.wrap {
  max-width: $max-container-width;
  width: 100%;
  margin: 0 auto;
  @include clearfix();
}

.inner {
  position: relative;
  margin: 0 auto;
  width: 95%;
  @media (min-width: 1280px){
    width: 75%;
  }
}

.inner-huge {
  position: relative;
  margin: 0 auto;
  width: 90%;
}