@import 'foundation';

// Grid
$max-container-width: 1600px;
$min-container-width: 960px;
$grid-row-width: 1200px;

@include foundation-flex-classes;
@include foundation-flex-grid;

.wrap {
  max-width: $max-container-width;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  @include clearfix();
  background: $white;
  @media (min-width: $br-mobile){
    overflow-x: visible;
  }
}

.inner {
  position: relative;
  margin: 0 auto;
  width: 100%;
  .embed & {
    width: 100%;
    max-width: none;
  }
  @media (min-width: $br-mobile){
    width: 95%;
    max-width: 1024px;
  }

  @media (min-width: 1400px){
    width: 75%;
    max-width: 1200px;
  }
}
