.row {
  max-width: $max-container-width;
  min-width: $min-container-width;
  margin: 0 auto;

  .row {
    margin: 0 ($grid-gutter-width * -1);
  }

  @include clearfix();
}

%grid {
  position: relative;
  display: block;
  float: left;
  min-height: 1px;
  margin: 0 $grid-gutter-width;
}

@for $column from 1 through $grid-columns {
  .grid-#{$column} {
    @extend %grid;
    @include grid($column);
  }
}

@for $column from 1 through $grid-columns {
  .offset-#{$column} {
    margin-left: ((100%/$grid-columns)*$column + $grid-gutter-width);
  }
}

// OLD
.inner {
  margin: 0 auto;
  width: 960px;
  padding: 0 10px;
  .embed & {
    .country-icons-settings_engine {
      width: 15px;
      height: 15px;
      float: left;
      top: 183px;
      position: relative;
      z-index: 1;
      left: 273px;
      cursor: pointer;
    }
    .umdoptions_dialog {
      height: 250px;
      margin-top: 245px;
      left: 305px;
      &::after{
        left: -27px;
        top: -220px;
      }
      p.slider_container {
        display: table;
      }
    }
  }
}
