.layout-home-slider {
  position: relative;
  width: 100%;
  height: 400px;
  border-top: 1px solid #717D80;
  border-bottom: 1px solid #717D80;
  @include user-select(none);

  cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default;
  background-position: center center;
  @media (max-width: 1200px) {
    background-image: image-url('backgrounds/index_map_1200_compress.png');
  }
  @media (min-width: 1200px) {
    background-image: image-url('backgrounds/index_map_compress.png');
  }

  .btn-mask {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.layout-home-actions {
  padding: 0;

  h3 {
    margin: 0 0 20px;
    @extend .serif;
    font-size: 29px;
    color: #fff;
  }

  p {
    height: 90px;
    margin: 0 0 20px;
  }

  i {
    display: block;
    margin: 0 auto;
    height: 92px;
  }

  .community i {
    position: relative;
    top: 0px;
    width: 134px;
    @include home-icons-sprite(community);
  }

  .analysis_tool i {
    width: 150px;
    @include home-icons-sprite(analysis);
  }

  .submit_story i {
    width: 122px;
    @include home-icons-sprite(submit_story);
  }
}

// /* =Globals
// ----------------------------------------------- */

// body {
//   .embed {
//     .analysis_info{
//       display: block;
//     .info_controls{
//         display: none;
//       }
//     }
//   }
// }


// /* =Header
// ----------------------------------------------- */

// .home {
//   .header-title {
//     float: left;
//     width: 465px;
//     text-align: left;
//   }

//   .sources {
//     display: none;
//   }

//   .map-container {
//     position: relative;
//     width: 100%;
//   }

//   #map {
//     position: relative;
//     width: 100%;
//     height: 400px;
//     border-top: 1px solid #717D80;
//     border-bottom: 1px solid #717D80;
//     @include user-select(none);

//     cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default;
//     background-position: center center;
//     @media (max-width: 1200px) {
//       background-image: image-url('backgrounds/index_map_1200_compress.png');
//     }
//     @media (min-width: 1200px) {
//       background-image: image-url('backgrounds/index_map_compress.png');
//     }
//   }
// }


// /* =Filters
// ----------------------------------------------- */

// #filters {
//   position: absolute;
//   z-index: 1020;
//   top: 180px;
//   width: 100%;
//   height: 10px;

//   .inner { position: relative; }
// }

// .filters {
//   display: none;
//   position: absolute;
//   overflow: hidden;
//   z-index: 1000;
//   top: -60px; left: 0;
//   width: 980px;
//   height: 20px;
//   padding: 40px 0 0;
// }

// .filters-list {
//   float: right;
// }

// .filter {
//   float: left;
//   margin: -30px 0 0 1px;
//   padding: 30px 0 0;
//   text-align: center;
//   @include opacity(0);

//   a {
//     position: relative;
//     top: 0;
//     padding: 0 14px;
//     margin: 0 0 18px 0;
//     font-weight: 500;
//     font-size: 12px;
//
//     text-transform: uppercase;
//     text-decoration: none;
//   }

//   .filter-line {
//     position: relative;
//     bottom: 0px; left: 0;
//     width: auto;
//     height: 4px;
//   }
// }

// .source {
//   display: block;
//   position: absolute;
//   top: 13px;
//   right: 10px;
//   width: 10px;
//   height: 10px;
//   @include home-icons-sprite(information);

//   &.hidden {
//     display: none;
//   }
// }

// #layer {
//   position: absolute;
//   z-index: 1010;
//   top: -77px; left: -9999px;
//   width: 170px;
//   height: 90px;
//   background-color: #fff;
//   @include opacity(0);
//   @include box-shadow(0px 0px 5px 1px rgba(#000, .15));

//   &.forest_change .filter-icon  { @include home-icons-sprite(icon_forest_clearing); }
//   &.forest_cover  .filter-icon  { @include home-icons-sprite(icon_forest_cover); }
//   &.forest_use    .filter-icon  { @include home-icons-sprite(icon_forest_use); }
//   &.conservation  .filter-icon  { @include home-icons-sprite(icon_conservation); }
//   &.people        .filter-icon  { @include home-icons-sprite(icon_regrowth); }
//   &.stories       .filter-icon  { @include home-icons-sprite(marker_exclamation); }

//   .filter-line {
//     position: relative;
//     top: 61px; left: 0;
//     height: 4px;
//     width: auto;
//   }
// }

// .filter-title {
//   display: block;
//   position: absolute;
//   top: 46px;
//   position: relative;
//   margin: 0 0 10px;
//   font-weight: 500;
//   font-size: 12px;
//
//   text-align: center;
//   text-transform: uppercase;
//   text-decoration: none;
// }

// .filter-scroll {
//   overflow: hidden;
//   position: absolute;
//   top: 87px;
//   width: 170px;
//   height: 200px;
//   background: #fff;
//   @include box-shadow(0px 0px 5px 1px rgba(#000, .15));
// }

// @mixin radio($url) {
//   @include home-icons-sprite(radio, $offset-y:-67px);

//   &:hover          { @include home-icons-sprite($url, $offset-y:-207px); }

//   &:active         { @include home-icons-sprite($url, $offset-y:-207px); }
//   &:active:hover   { @include home-icons-sprite($url, $offset-y:-277px); }

//   &.checked        { @include home-icons-sprite($url, $offset-y:-137px); }
//   &.checked:hover  { @include home-icons-sprite($url, $offset-y:-277px); }

//   &.disabled       { @include home-icons-sprite($url, $offset-y:5px); }
//   &.disabled:hover { @include home-icons-sprite($url, $offset-y:5px); }
// }

// .check_icon {
//   &.checked {
//     i span { left: 9px; }
//   }

//   i {
//     display: inline-block;
//     position: relative;
//     float: left;
//     width: 17px;
//     height: 10px;
//     background: #ddd;
//     margin: 4px 8px 0 0;
//     @include border-radius(5px);

//     span {
//       position: absolute;
//       left: 2px; top: 2px;
//       width: 6px;
//       height: 6px;
//       background: #fff;
//       @include border-radius(4px);
//     }
//   }
// }

// .filter-links {
//   > li {
//     position: relative;
//     overflow: hidden;
//     border-bottom: 1px solid #e5e5e5;
//     padding: 9px 10px 10px;
//     width: 150px;
//     list-style: none;
//     font-size: 13px;
//     line-height: 17px;
//

//     &.last { border: none; }
//   }

//   .subtitle {
//     margin-left: 17px;
//     font-size: 11px;
//
//     color: #ccc;
//   }

//   .radio,
//   .checkbox {
//     display: block;
//     position: relative;
//     width: 120px;
//     color: #ccc;

//     .name { width: 95px; }
//   }

//   .radio {
//     @include inline-block();
//     padding-left: 17px;
//     @include radio(radio);
//   }

//   .checkbox {
//     @extend .check_icon;

//     &.checked {
//       &.forest_change { background: #F69; }
//       &.forest_cover  { background: #B2D26E; }
//       &.forest_use    { background: #c98e6c; }
//       &.conservation  { background: #3182BD; }
//       &.people        { background: #707D92; }
//       &.stories       { background: #F2B257; }
//     }
//   }

//   .name {
//     display: block;
//     float: left;
//   }

//   .checked {
//     &.forest_change { color: #F69; }
//     &.forest_cover  { color: #B2D26E; }
//     &.forest_use    { color: #c98e6c; }
//     &.conservation  { color: #3182BD; }
//     &.people        { color: #707D92; }
//     &.stories       { color: #F2B257; }
//   }

//   .disabled {
//     background: #F5F5F5 image-url('icons/disabled.png') no-repeat 10px 50%;
//     color: #ccc;

//     strong {
//       display: block;
//       font-size: 12px;
//     }

//     .name { margin-left: 27px; }
//   }

//   .extra {
//     margin: 10px 0 0 17px;

//     .subtitle { margin-left: 0; }
//   }
// }

// .filter-icon {
//   position: absolute;
//   top: 30px; left: 50%;
//   width: 16px;
//   height:16px;
//   margin: -8px;
// }

// /* =Content
// ----------------------------------------------- */



// .home_stories {
//   padding-bottom: 0;
//   background: #fff image-url('backgrounds/bkg_header.png') repeat-x top center;
// }

// .story_infowindow {
//   $pR: 18px;
//   $pL: 10px;
//   $w: 215px;

//   display: none;
//   position: absolute;
//   width: $w;
//   padding: 0 0 6px;
//   text-align: center;

//   .infowindow_content a { color: #97Bd3d; }

//   .outer_top {
//     width:$w - $pL - $pR;
//     padding: 10px $pR  5px $pL;
//     background: image-url('icons/bkg_infowindow_story.png') no-repeat;
//   }

//   .bottom {
//     position: absolute;
//     bottom: -8px;
//     width: $w;
//     height: 14px;
//     background: image-url('icons/bkg_infowindow_story.png') no-repeat right top;
//   }

//   .top {
//     width: 174px;
//     max-height: 190px;
//     margin: 0 auto;
//     text-align: left;

//     strong a {
//       display: block;
//       margin: 0 0 5px;
//       width: 180px;
//       color: #F3F2F0;
//       font-size: 17px;
//       @extend .serif;
//       text-decoration :none;

//       &:hover { text-decoration: underline; }
//     }

//     color: #999;
//     font-size: 12px;
//
//   }
// }

// .map_coordinates {
//   display: block;
//   color:#333;
//   text-shadow: 0px 0px 3px #fff;
//   position: absolute;
//   z-index: 10;
//   bottom: 20px; right: 10px;
//   font-weight: 500;
//   font-size: 11px;
//
//   text-align: right;
//   @include user-select(text);
// }

// .marker {
//   position: absolute;
//   height: 36px;
//   width: 36px;

//   img {
//     display: block;
//     position: relative;
//     z-index: 10;
//     width: 100%;
//     height: 100%;

//     &.rounded {
//       z-index: 100;
//       width: 50px;
//       height: 50px;
//       @include border-radius(26px);
//     }
//   }

//   &:hover { cursor: pointer !important; }

//   .mask {
//     position: absolute;
//     top: -9px; left: -9px;
//     width: 67px;
//     height: 66px;
//     @include home-icons-sprite(marker_hollow);
//     z-index: 100;
//   }
// }

// /* =Map
// ----------------------------------------------- */

// /*
//  * Analysis
//  */

// .analysis,
// .share {
//   display: none;
// }

// .tipsy { font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif; }

// .analysis_subscribe,
// .share_dialog {
//   $width: 463px;
//   $height: 170px;

//   display: none;
//   position: fixed;
//   z-index: 2000;
//   top: 50%; left: 50%;
//   margin-top: -$height/2;
//   margin-left: -$width/2;
//   height: $height;
//   width: $width;
//   padding: 30px;
//   border: 1px solid #757573;
//   background: #fff;
//   @include box-shadow(0 0 7px #666);
//   @include border-radius(3px);
//   text-align: center;

//   .form {
//     position: absolute;
//     bottom: 0; left: 0;
//     border-top: 1px solid #f1f1f1;
//     padding: 28px 10px 30px;
//     width: 498px;
//   }

//   .error_input_label {
//     display: none;
//     position: absolute;
//     right: -92px; bottom: 37px;
//     width: 190px;
//     height: 39px - 9px;
//     padding: 9px 0 0;
//     color: #fff;
//     font-size: 15px;
//
//     text-align: center;
//     @include home-icons-sprite(error_input_label);
//   }

//   .btn {
//     width: 120px;
//     padding: 14px 0;
//   }

//   .input-field {
//     position: relative;
//     width: 300px;
//     margin: 0 30px 0 0;

//     &.error input { color: red;}

//     .icon.error {
//       display: none;
//       width: 21px;
//       height: 22px;
//       position:absolute;
//       right: -7px;
//       top: 10px;
//       @include home-icons-sprite(input_error);
//     }
//   }

//   .holder {
//     position: absolute;
//     top: 14px; left: 12px;
//     font-size: 15px;
//
//     color: #ddd;
//   }

//   .subtitle {
//     margin: 0 0 20px 0;

//     a {
//       color: #A1BB27;
//       text-decoration: underline;
//     }
//   }

//   .close {
//     display: block;
//     position: absolute;
//     top: 15px; right: 15px;
//     width: 6px;
//     height: 6px;
//     @include home-icons-sprite(infowindow_close);
//   }

//   h1 {
//     font-size: 35px;
//     margin: 10px 0 5px;
//     @extend .serif;
//   }

//   p {
//     font-size: 15px;
//     @extend .sans_serif;
//     color: #999;

//     &.help { margin: 0 0 20px; }
//   }
// }

// .share_dialog {
//   height: 210px;

//   .input-field {
//     width: 444px;
//     margin: 0 30px 0 20px;
//   }

//   .share_buttons {
//     float: left;
//     width: 112px;

//     a {
//       display: block;
//       float: left;
//       width: 32px;
//       height: 32px;
//       margin-right: 5px;
//       background: image-url('home-icons/ess-icons-2.png') no-repeat;

//       &.twitter { background-position: -102px 0; }
//       &.facebook { background-position: -68px 0; }

//       span { display: none; }
//     }
//   }
// }

// .umdoptions_dialog {
//   display: none;
//   position: absolute;
//   left: 20px;
//   top: 205px;
//   width: 400px;
//   min-height: 250px;
//   padding: 20px 20px 0px 20px;
//   z-index: 1000;
//   .close {
//     display: block;
//     position: absolute;
//     top: 15px; right: 15px;
//     width: 6px;
//     height: 6px;
//     @include home-icons-sprite(infowindow_close);
//   }
//   h2 {
//     color: #a1ba42;
//     border-bottom-color: #a1ba42;
//     border-bottom: 2px solid #ccc;
//     margin: 0 0 20px;
//     padding: 0 0 20px;
//     display: block;
//     font-weight: 500;
//     font-size: 13px;
//     text-transform: uppercase;
//   }
//   p {
//     color: #666;
//     margin-bottom: 10px;
//     &.canopy {
//       font-size: 11px;
//       font-weight: 500;
//       position: relative;
//       width: 159px;
//       .source {
//         top: 1px;
//         right: 7px;
//         width: 10px;
//         padding: 0;
//       }
//     }
//     &.trees {
//       height: 60px;
//     }
//     &.slider_container{
//       position: relative;
//     }
//     span {
//       height: 60px;
//       float: left;
//       width: 91px;
//       &.forest_icon {
//         float: right;
//         background: image-url('backgrounds/map_options_tree-2.png') no-repeat;
//       }
//       &.tree_icon {
//         margin-top: 20px;
//         width: 25px;
//         height: 41px;
//         background: image-url('backgrounds/map_options_tree-1.png') no-repeat;
//       }
//     }
//     .slider {
//       background: image-url('/assets/icons/point.png') repeat-x 1px center;
//       top: -13px;
//       position: relative;
//       width: 395px;
//       #canopy_slider {
//         width: 295px;
//         margin-left: 45px;
//         -webkit-appearance: none;
//         background: image-url('/assets/icons/point.png') repeat-x -2px center;
//         position: relative;
//         top: 21px;
//         cursor: pointer;
//         &:focus {
//           outline: 0;
//         }
//         &::-webkit-slider-thumb {
//           -webkit-appearance: none;
//           background-color: #666;
//           width: 14px;
//           height: 14px;
//           @include home-icons-sprite(timeline_handler);
//           cursor: col-resize;
//           border-radius: 3px;
//           z-index: 500;
//           position:relative;
//         }
//       }
//       /*#canopy_slider::-webkit-slider-thumb/*,
//       input[type="range"]::-moz-range-thumb,
//       input[type="range"]::-ms-thumb {
//         -webkit-appearance: none;
//         background-color: #666;
//         width: 14px;
//         height: 14px;
//         @include home-icons-sprite(timeline_handler);
//         cursor: col-resize;
//       }*/
//     }
//     .visible_range {
//       display: block;
//       position: absolute;
//       top: 14px;
//       background: #A2BC28;
//       height: 6px;
//       box-shadow: 1px 0 3px #cccccc;
//       right: 0;
//       width: 350px;
//       border-top-right-radius: 3px;
//       border-bottom-right-radius: 3px;
//       pointer-events:none;
//     }
//     a {
//       @include inline-block();
//       width: 70px;
//       padding: 10px 0;
//       border: #666666;
//       @include border-radius(3px);
//       font-weight:bold;

//       text-align: center;
//       font-size:11px;
//       text-transform:uppercase;
//       text-decoration:none;

//       &.apply {
//         background:#A1BA42;
//         color: #fff;
//         border: 1px solid #839C26;

//         &:hover {
//           background: darken(#A1BA42, 10%);
//           border-color:darken(#A1BA42, 10%);
//         }
//       }

//       &.cancel {
//         background: #fff;
//         border: 1px solid #CCCCCC;
//         color: #666666;

//         &:hover { background:#f1f1f1; }

//       }
//     }
//     &:last-child {
//       float: right;
//       margin-bottom: 0;
//       display: none; /*hardcoded, change on click*/
//     }
//   }
//   ul {
//     width: 390px;
//     position: relative;
//     height: 12px;
//     li {
//       list-style: none;
//       display: inline;
//       color: #A2BE00;
//       font-size: 10px;
//       position: absolute;
//       cursor: pointer;
//       z-index: 5;
//       &.p0,
//       &.p100 {
//         color: #666;
//         left: 0;
//         cursor: default;
//       }
//       &.p10 {
//         left: calc(12% - 5px);
//       }
//       &.p15 {
//         left: calc(12*2% - 5px);
//       }
//       &.p20 {
//         left: calc(12*3% - 5px);
//       }
//       &.p25 {
//         left: calc(12*4% - 5px);
//       }
//       &.p30 {
//         left: calc(12*5% - 5px);
//       }
//       &.p50 {
//         left: calc(12*6% - 5px);
//       }
//       &.p75 {
//         left: calc(12*7% - 5px);
//       }
//       &.p100 {
//         left: calc(12*8% - 5px);
//       }
//     }
//   }

// }

// .analysis_control,
// .share_control {
//   position: absolute;
//   z-index: 1000;
//   width: 38px;
//   height: 38px;
// }

// .analysis_control {
//   top: 92px; left: 15px;
//   @include home-icons-sprite(analysis_button);

//   &:hover { @include home-icons-sprite(analysis_button_hover); }
//   &:active { @include home-icons-sprite(analysis_button_active); }

//   &.disabled {
//     cursor: default;
//     @include home-icons-sprite(analysis_button_disabled);
//   }
// }

// .share_control {
//   top: 130px; left: 15px;
//   @include home-icons-sprite(share_button);

//   &:hover { @include home-icons-sprite(share_button_hover); }
//   &:active { @include home-icons-sprite(share_button_active); }
//   &.umd_options {
//     top: 168px;
//   }
// }

// .analysis_info {
//   display: none;
//   position: absolute;
//   z-index: 1000;
//   top: 87px; right: 65px;
//   width: 248px;
//   min-height: 40px;
//   border: 1px solid #666;
//   font-size: 11px;
//
//   background: #F1F1F1;
//   color: #999;
//   @include border-radius(3px);
//   @include box-shadow(0px 0px 3px #666);
//   cursor: move;

//   .toggle {
//     position: absolute;
//     top: 2px; right: -25px;
//     width: 25px;
//     height: 38px;
//     @include home-icons-sprite(info_bar_toggle_close);
//   }

//   &.closed .toggle { @include home-icons-sprite(info_bar_toggle_open); }

//   .shadow {
//     display: none;
//     position: absolute;
//     z-index: 100;
//     bottom: 1px; left: 0;
//     width: 100%;
//     height: 20px;
//     background: image-url('backgrounds/white_shadow.png') repeat-x;
//   }

//   .jspPane { width: 248px !important; }

//   .ha,
//   .alert { font-size: 12px; }

//   .alert {
//     display: block;
//     margin-top: 13px;
//     padding-top: 17px;
//     width: 100%;
//     border-top: 1px solid #ccc;
//   }

//   .count {
//     font-weight: 500;

//     strong {
//       font-weight: 500;
//       font-size: 18px;
//       line-height: 1.5;
//       color: #666;
//     }

//     sup {
//       vertical-align: super;
//       font-size: 11px;
//     }

//     &.forma {
//       color: #F13588;

//       strong,
//       a { color: #F13588; }
//     }

//     &.gain {
//       color: #6D6DE5;

//       strong,
//       a { color: #6D6DE5; }
//     }
//   }

//   .download {
//     float: right;
//     margin-top: 10px;
//   }
// }

// .info_title {
//   display: none;
//   width: 205px;
//   height: 25px;
//   line-height: 40px;
//   padding: 0 15px;
//   font-weight: 500;
//   font-size: 11px;
//   color: #bbb;
//   text-transform: uppercase;
//   clear: both;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }

// .info_content {
//   position: relative;
//   width: 248px;
//   @extend .sans_serif;
//   @include border-radius(3px);

//   .info {
//     padding: 17px 20px 13px;
//     border-bottom: 1px solid #ccc;
//     clear: both;
//     overflow: hidden;
//   }

//   .stats {
//     .error,
//     .title,
//     .stats,
//     ul {
//       display:none;
//     }

//     .error {
//       text-align: center;
//     }
//   }

//   .title {
//     display: block;
//     color: #999;
//     font-weight: 500;
//     font-size: 11px;
//     line-height: 1.2;
//     text-transform: uppercase;
//     clear: both;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//   }

//   .subtitle {
//     color: #bababa;
//     font-size: 12px;
//     line-height: 2;
//   }

//   .spinner {
//     display:block;
//     width: 24px; height: 24px;
//     background: image-url('icons/spinner.gif') no-repeat;
//     margin: 10px auto;
//   }

//   .stats {
//     display: block;
//     padding: 17px 20px 13px;
//     background: #fff;

//     li {
//       @include inline-block();
//     }
//   }
// }

// .info_controls {
//   padding: 13px 20px 17px;
//   border-top: 1px solid #ccc;
//   clear: both;
//   overflow: hidden;
// }

// .info_control_buttons {
//   float: right;

//   li {
//     float: left;
//   }

//   a {
//     display: block;
//     cursor: pointer;
//     height: 29px;
//     width: 30px;

//     &.subscribe_control {
//       @include home-icons-sprite(control_buttons_subscribe);

//       &:hover {
//         position: relative;
//         width: 31px;
//         margin-right: -1px;
//         @include home-icons-sprite(control_buttons_subscribe_hover);
//       }

//       &:active { @include home-icons-sprite(control_buttons_subscribe_active); }

//       &.disabled {
//         @include opacity(.5);
//         @include pointer-events(none);
//       }
//     }

//     &.reset_control {
//       width: 31px;

//       @include home-icons-sprite(control_buttons_reset);

//       &:hover { @include home-icons-sprite(control_buttons_reset_hover); }
//       &:active { @include home-icons-sprite(control_buttons_reset_active); }
//     }
//   }
// }

// .share_loading {
//   display: block;
//   position: absolute;
//   top: 4px; left: 15px;
//   width: 38px;
//   height: 34px;
//   background: image-url('home-icons/loading.gif') no-repeat center;
// }

// .mode_menu {
//   position: absolute;
//   top: 4px; right: -15px;
//   width: 120px;
//   background: #fff;

//   li.first a {
//     @include border-right-radius(3px);
//   }

//   li.last a {
//     @include border-left-radius(3px);
//   }

//   li.selected a {
//     background: $cGreen;
//     color: #fff;
//   }

//   a {
//     display: block;
//     float: right;
//     width: 55px;
//     margin-left: 2px;
//     font-weight: 500;
//     font-size: 11px;
//     line-height: 34px;
//     text-transform: uppercase;
//     background: #eee;
//   }
// }

// /*
//  * Layer selector
//  */

// .layer_selector {
//   display: none;
//   position: absolute;
//   z-index: 1010;
//   top: 35px; right: 65px;
//   width: 155px;
//   min-height: 40px;
//   cursor: move;

//   .toggle {
//     position: absolute;
//     z-index: 1010;
//     top: 2px; right: -25px;
//     width: 25px;
//     height: 38px;
//     @include home-icons-sprite(layer_arrow_down);
//   }

//   &.closed .toggle { @include home-icons-sprite(layer_arrow_up); }

//   .layers {
//     width: 100%;
//     opacity: 0;

//     li {
//       border-bottom: 1px solid #ddd;

//       &:last-child { border:none; }
//     }
//   }

//   li {
//     position: relative;
//     padding: 10px;

//     a {
//       display: block;
//       font-size: 13px;
//
//       text-decoration: none;
//       color: #666;

//       &:hover { color: #333; }

//       &.source {
//         position: absolute;
//         top: 50%; right: 10px;
//         margin-top: -5px;
//         width: 10px;
//         height: 10px;
//         @include home-icons-sprite(information);
//       }
//     }

//     &.grayscale   i { @include home-icons-sprite(map_grayscale); }
//     &.terrain     i { @include home-icons-sprite(map_terrain); }
//     &.satellite   i { @include home-icons-sprite(map_satellite); }
//     &.roads       i { @include home-icons-sprite(map_roads); }
//     &.treeheight  i { @include home-icons-sprite(map_treeheight); }
//     &.landsat     i { @include home-icons-sprite(map_landsat); }

//     i {
//       @include inline-block();
//       width: 24px;
//       height: 18px;
//       border: 1px solid rgba(#333, .5);
//       margin: 0 5px 0 0;
//       background: #ddd;
//     }
//   }
// }

// .landsat_layers,
// .layer_selector,
// .umdoptions_dialog {
//   border: 1px solid #666;
//   background: #fff;
//   @include border-radius(3px);
//   @include box-shadow(0px 0px 3px #666);
// }

// .landsat_layers {
//   display: none;
//   z-index: 1020;
//   width: 200px;

//   li {
//     width: 80px;
//     float: left;

//     i,
//     .source { display: none; }
//   }

//   .tip {
//     position: absolute;
//     top: 50%; right: -8px;
//     margin-top: -6px;
//     width: 8px;
//     height: 12px;
//     @include home-icons-sprite(landsat_selector_tip);
//   }

//   .source { display: none; }
// }
