body {
  padding: 0;
  height: 100%;
  margin: 0;
  font-family: $font-family-1;
  font-weight: normal;
  line-height: 1.5;
  background: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .row {
//   max-width: 74rem;

//   .row {
//     margin-left: -2.5rem;
//     margin-right: -2.5rem;
//   }
// }

// @media print, screen and (min-width: 40em) {
//   .row .row {
//     margin-right: -2.5rem;
//     margin-left: -2.5rem; } }
// @media print, screen and (min-width: 64em) {
//   .row .row {
//     margin-right: -2.5rem;
//     margin-left: -2.5rem; } }

// .column, .columns {
//   padding-left: 5rem;
//   padding-right: 5rem;
// }
