// Btn arrow
.btn-arrow {
	-webkit-appearance: none;
	background: #E5E5DF;
	border: none;
	outline: none;
	display: block;
	position: absolute;
	z-index: 1;
	cursor: pointer;
	top: 50%;
	left: 50%;
	height: 50px;
	width: 50px;
	padding: 10px;
	border-radius: 50%;
	@include transform(translate(-50%,-50%));
	svg {
		fill: none;
		stroke: #FFF;
	}

	&:hover {
		background: $cGreen;
	}

}







// Main Slider
.main-slider  {
  width: 100%;
  height: 630px;
  background-image: image-url('backgrounds/bg1600_630.png');
  background-position: center center;
  margin-top: -60px;
  nav  {
    display: none;
    ul  {
      background: rgba(#fff,0.95);
      li  {

      }
    }
  }
  p  {
    background: #fff;
    border-radius: 50px;
    width: 645px;
    height: 70px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 440px;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(#000,0.25);
    color: rgba(71, 71, 71, 0.5);
    font-size: 20px;
    font-family: fira_sans_otlight;
    span  {
      background: #cbccc0;
      padding: 6px 13px;
      border-radius: 20px;
      color: #fff;
      margin: 0px 0 0 8px;
    }
  }
}














// Apps
.apps  {
	background: #FFF;
	position: relative;
	.circle-marker {
		@extend .btn-arrow;
		top: 0;
		box-shadow: 0 0 0 6px #FFF;
	}
}
.main-apps  {
	.row {
		@include row(0em);
	}
	.col {
		cursor: pointer;
	}
	.col6 {
		@include col(1,2,0em);
		padding-top: 30px;
		padding-bottom: 30px;
		border-left: 1px solid #E5E5DF;
		&:first-child  { border-left: none; }
		.icon  {
			margin: 0 auto;
			width: 100px;
			height: 100px;
			padding: 15px;
			border-radius: 50%;
			background: $cGreen;
			svg {
				width: 100%;
				height: 100%;
				fill: #FFF;
			}
		}
		h3  {
			text-align: center;
			text-transform: uppercase;
			font-size: 24px;
			padding: 20px 0 0;
		}
	}
}

.row-apps {
	border-top: 1px solid #E5E5DF;
	border-bottom: 1px solid #E5E5DF;
	.row {
		@include row(0em);
		padding: 0 10%;
		position: relative;

		.btn-arrow-box {
			position: absolute;
			top: 0;
			width: 10%;
			height: 100%;
			button {
				@extend .btn-arrow;
			}
			&.left {
				left: 0;
				border-right: 1px solid #E5E5DF;
			}
			&.right {
				right: 0;
				border-left: 1px solid #E5E5DF;
			}
		}
		.col {
			cursor: pointer;
		}

		.col3 {
			@include col(1,4,0em);
			padding-top: 30px;
			padding-bottom: 30px;
			border-left: 1px solid #E5E5DF;
			&:first-child  { border-left: none; }
			.icon  {
				margin: 0 auto;
				width: 60px;
				height: 60px;
				svg {
					width: 100%;
					height: 100%;
					fill: #555555;
				}
			}
			h3  {
				text-align: center;
				text-transform: uppercase;
				font-size: 19px;
				padding: 14px 0 0;
			}
		}
	}
}










// Various
.buzz {
	.row {
		display: flex;
		align-items: stretch;
		justify-content: space-between
	}
	.col {
		background: #FFF;
	}
	.col4 {
		@include col(27.5,100,0px);
		display: flex;
	}
	.card {
		width: 100%;
    	box-shadow: 0 0px 5px rgba(#000,0.25);
    	padding: 20px;
    	position: relative;
	}
}
