// Btn arrow
.btn-arrow {
	-webkit-appearance: none;
	background: #E5E5DF;
	border: none;
	outline: none;
	display: block;
	position: absolute;
	z-index: 1;
	cursor: pointer;
	top: 50%;
	left: 50%;
	height: 50px;
	width: 50px;
	padding: 10px;
	border-radius: 50%;
	@include transform(translate(-50%,-50%));
	svg {
		fill: none;
		stroke: #FFF;
	}

	&:hover {
		background: $cGreen;
	}

}







// Main Slider
.main-slider {
  width: 100%;
  height: 630px;
  background: #CCC;
  position: relative;
  // background-image: image-url('backgrounds/bg1600_630.png');
  margin-top: -60px;

  .main-slider-viewport {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	overflow: hidden;
  }
}

.slide {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  background-size: cover;
  background-position: center;
  z-index: 0;
  @include transition(all,1s,$easeInOutSine);
  .inner { 
    height: 100%;
  }
  // Current
  &.current {
    opacity: 1;
    z-index: 2;
    aside{
      opacity: 1;
      @include transform(translate(0,-50%));
    }
  }
  &.leave {
    opacity: 1;
    z-index: 1;
    aside {
      opacity: 0;
      @include transform(translate(0,-35%));
    }
  }
  // SLIDES
  &.slide1 { background-image:image-url('backgrounds/home-slider/bg_slide1.png');}
  &.slide2 { background-image:image-url('backgrounds/home-slider/bg_slide2.jpg');}
  &.slide3 { background-image:image-url('backgrounds/home-slider/bg_slide1.png');}
  &.slide4 { background-image:image-url('backgrounds/home-slider/bg_slide2.jpg');}
  aside {
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    z-index: 5;
    opacity: 0.75;
    @include transform(translate(0,-65%));
    @include transition(all,1s,$easeInOutSine);
    h2 {
      font-size: 61px;
      color: #333333;
      display: inline-block;
      background: rgba(#FFF,0.75);
      padding: 10px 5px 5px;
      font-weight: 700;
      text-transform: uppercase;
    }
    h3 {
      font-size: 31px;
      text-transform: uppercase;
      line-height: 0.5;
      font-family: $font-light;
      span { 
        display: inline-block;
        float: left;
        clear: both;
        background: rgba(#FFF,0.75);
        padding: 12px;
      }
    }
    a {
      background: #555555;
      color: #FFF;
      font-size: 17px;
      padding: 8px 30px;
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}

.main-slider-pagination {
  width: 100%;
  position: absolute;
  bottom: 20px;
  right: 0;
  z-index: 3;
  ul {
    float: right;
    li {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      cursor: pointer;
      border: 1px solid #94A7C5; 
      background: #CEE1FF;
      float: left;
      margin: 0 0 0 10px;
      &:first-child{ margin: 0;}
      &.current, &:hover{
        background: #8493AA;
        border: 1px solid #696F79;
      }

    }
  }
}













// Apps
.apps  {
	background: #FFF;
	position: relative;
  z-index: 2;
	.circle-marker {
		@extend .btn-arrow;
		top: 0;
		box-shadow: 0 0 0 6px #FFF;
	}
}
.main-apps  {
	.row {
		@include row();
	}
	.col {
		cursor: pointer;
	}
	.col6 {
		@include col(1,2,0em);
		padding-top: 30px;
		padding-bottom: 30px;
		border-left: 1px solid #E5E5DF;
		&:first-child  { border-left: none; }
		.icon  {
			margin: 0 auto;
			width: 100px;
			height: 100px;
			padding: 15px;
			border-radius: 50%;
			background: $cGreen;
			svg {
				width: 100%;
				height: 100%;
				fill: #FFF;
			}
		}
		h3  {
			text-align: center;
			text-transform: uppercase;
			font-size: 24px;
			padding: 20px 0 0;
		}
	}
}

.row-apps {
	border-top: 1px solid #E5E5DF;
	border-bottom: 1px solid #E5E5DF;
	.row {
		@include row();
		padding: 0 10%;
		position: relative;

		.btn-arrow-box {
			position: absolute;
			top: 0;
			width: 10%;
			height: 100%;
			button {
				@extend .btn-arrow;
			}
			&.left {
				left: 0;
				border-right: 1px solid #E5E5DF;
			}
			&.right {
				right: 0;
				border-left: 1px solid #E5E5DF;
			}
		}
		.col {
			cursor: pointer;
		}

		.col3 {
			@include col(1,4,0em);
			padding-top: 30px;
			padding-bottom: 30px;
			border-left: 1px solid #E5E5DF;
			&:first-child  { border-left: none; }
			.icon  {
				margin: 0 auto;
				width: 60px;
				height: 60px;
				svg {
					width: 100%;
					height: 100%;
					fill: #555555;
				}
			}
			h3  {
				text-align: center;
				text-transform: uppercase;
				font-size: 19px;
				padding: 14px 0 0;
			}
		}
	}
}


// BLOG
.blog {
	background: #555555;
}






// BUZZ
.buzz {
	background: #F5F5F5;
	padding: 30px;
	.row {
		@include row();
	}
	.col {
		background: #FFF;
	}
	.col4 {
		@include col(27.5,100,0px);
		display: flex;
	}
	.card {
		width: 100%;
    	box-shadow: 0 0px 5px rgba(#000,0.25);
    	padding: 20px;
    	position: relative;
	}
}
