.layout-header-bottom {
  padding: 0;
  border: 0;
}

.layout-content {
  margin-bottom: 0;
  position: absolute;
  top: 112px;
  height: calc(100% -123px);
  overflow: hidden;
  bottom: 0;
  left: 0;
  width: 100%;
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #717D80;
  border-bottom: 1px solid #717D80;
  box-sizing: border-box;
  background: #B3D1FF;
  .gm-style{
    &:after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 38px;
      background: rgba($dark,0.5);
      z-index: 0;
    }
  }
  .footer-toggle{
    position: absolute;
    left: 50%;
    bottom: 0;
    @include transform(translate(-50%,0));
    margin-left: 15px;
    height: 38px;
    border: none;
    border-radius: 0;
    padding: 0 20px;
    z-index: 2;
    white-space: nowrap;
  }

}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default;

  @include user-select(none);
  @include transition(opacity 1s ease);

  &.is-loaded {
    opacity: 1;
  }
}

#zoom_controls,
#zoom_controls_subscribe {

  $zoomWidth: 36px;
  $zoomHeight: 29px; // height of the top button + border line

  position: absolute;
  left: 15px;
  top:  27px;

  .zoom-in,
  .zoom-out {
    position:relative;
    width: $zoomWidth;
    height: $zoomHeight;
    cursor: pointer;
  }

  .zoom-in {
    background: transparent url(icons/map_zoom.png) no-repeat 0 0;
    &:hover {
      background-position: (-$zoomWidth) 0;
    }
    &:active {
      background-position: -(2*$zoomWidth) 0;
    }
  }

  .zoom-out {
    background: transparent url(icons/map_zoom.png) no-repeat 0 (-$zoomHeight);
    &:hover {
      background-position: (-$zoomWidth) (-$zoomHeight);
    }
    &:active {
      background-position: -(2*$zoomWidth) -29px;
    }
  }
}

.user-story-marker {
  border: 3px solid #fff;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  @include box-shadow(0 0 1px 0 #000);

  img {
    width: auto;
    height: 100%;
  }
}

.thumb-marker {
  .icon-custom-marker {
    position: absolute;
    top: -10px;
    right: -10px;
  }
}

.map-viewfinder {
  // @include home-icons-sprite(viewfinder);
  background-image: url(home-icons/viewfinder.png);
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  height: 17px;
  width: 19px;
  margin: -10px 0 0 -8px;
  pointer-events:none;

}

.map-logos {
  position: absolute;
  bottom: 0px;
  left: 70px;
  height: 38px;
  z-index: 100;

  .map-logo {
    display: inline-block;
    margin-left: 15px;
    position: relative;
    top: 3px;
  }

  img {
    border: none;
  }
}



.map-latlng {
  position: absolute;
  bottom: 20px;
  right: 12px;
  color: #FFF;
  font-size: 11px;
  font-weight: bold;
  text-shadow: 0px 0px 3px #000;
}

.is-embed-action {
  border-top: 0;
  .layout-content {
    top: 0;
    .map-container {
      bottom: 0;
    }
  }
  .widget-timeline,
  .widget-share,
  .widget-analysis-tool,
  .widget-threshold,
  .widget-analysis-results .analysis-footer {
    display: none !important;
  }
}

