// SHOW
.header-stories{
  color: $dark;
  padding: 75px 0 20px;
  @media (min-width: $br-mobile) {
    padding: 70px 0 50px;
  }
  header{
    // max-width: 1024px;
  }
  h2{
    font-size: 32px;
    padding: 0 0 15px;
    @media (min-width: $br-mobile) {
      font-size: 47px;
    }
  }
  h3{
    font-size: 21px;
    line-height: 1.25;
    padding: 0 0 10px;
  }
  p{
    font-size: 14px;
    line-height: 1.5;
  }
  .inner{
    padding: 0 15px;
  }
}
.content-stories{
  padding: 0 0 20px;
  .inner{
    padding: 0 15px;
  }

  .story-carrousel{
    width: 100%;
    margin: 0 0 20px;
    position: relative;
    padding-bottom: 56.25%;
    &.no-padding{
      padding-bottom: 0;
    }
    @media (min-width: $br-mobile) {
      height: 500px;
      margin: 0 0 30px;
      padding-bottom: 0%;
    }
    >ul{

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      width: calc(100% + 36px);
      margin: 0 0 0 -18px;
      background: #f2f2f2;

      @media (min-width: $br-mobile) {
        margin: 0;
        width: 100%;
      }
      >li{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        &.current{
          opacity: 1;
          visibility: visible;
        }
        .bg{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url('backgrounds/index_map_1200.png');
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          &.is-cover {
            background-size: cover;
          }
          &.full-screen {
            cursor: pointer;
            &:after{
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              background: rgba(#000,0.25);
              visibility: hidden;
              opacity: 0;
              transition: all .25s $easeInOutSine;
            }
            &:before {
              content: "";
              position: absolute;
              z-index: 2;
              top: 50%;
              left: 50%;
              width: 60px;
              height: 60px;
              background: url("svg-icons/fullscreen.svg");
              background-size: contain;
              margin: -30px 0 0 -30px;
              visibility: hidden;
              opacity: 0;
              transition: all .25s $easeInOutSine;
            }
            &:hover{
              &:before, &:after{
                visibility: visible;
                opacity: 1;
              }
            }
          }
        }
        iframe {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
    }

    .main-slider-pagination {
      width: 100%;
      position: absolute;
      top: 20px;
      right: 0px;
      z-index: 2;
      .inner{
        width: 100%;
      }
      @media (min-width: $br-mobile) {
        top: auto;
        bottom: 20px;
        right: 20px;
      }
      ul {
        float: right;
        li {
          position: relative;
          box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
          width: 10px;
          height: 10px;
          opacity: 0.8;
          border-radius: 50%;
          cursor: pointer;
          background: $white;
          float: left;
          margin: 0 0 0 15px;
          transition: all .5s $easeInOutSine;
          &:first-child { margin: 0;}
          &.current, &:hover {
            opacity: 1;
            transform: scale(2);
          }
          &:after{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 250%;
            height: 250%;
            background: transparent;
          }
          @media (min-width: $br-mobile) {
            width: 6px;
            height: 6px;
          }
        }
      }
    }


    .next, .previous {
      display: none;
      background: $cGreen;
      position: absolute;
      z-index: 5;
      width: 50%;
      height: 50px;
      width: 50px;
      border: 3px solid $white;
      top: 50%;
      border-radius: 50%;
      transform: translate(0,-50%);
      @media (min-width: $br-mobile) {
        display: block;
      }


      &.current{
        display: none;
      }
      &:before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .previous{
      left: -20px;
      margin: 0;
      &:before {
        background: image-url('svg-icons/arrow-left.svg') center no-repeat;
        transform: translate(-2px,0);
      }
    }
    .next{
      right: -20px;
      margin: 0;
      &:before {
        background: image-url('svg-icons/arrow-right.svg') center no-repeat;
        transform: translate(0px,0);
      }
    }
  }
}

.story-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1101;
  border: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0s $easeInOutSine;
  transform: scale(0.75);

  &.active{
    opacity: 1;
    visibility: visible;
    transition: all 0.25s $easeInOutSine;
    transform: scale(1);
  }

  .close {
    display: block;
    position: absolute;
    top: 0px; right: 0px;
    width: 80px;
    height: 80px;
    z-index: 20;
    svg{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      height: 50%;
      fill: $white;
      transform: translate(-50%,-50%);
    }
    &:hover{
      svg{
        fill: darken($white,10%);
      }
    }
  }

  .shadow{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 1;
  }

  .story-image{
    position: absolute;
    max-width: 90%;
    max-height: 90%;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%,-50%);
    box-shadow: 0px 7px 15px rgba(0,0,0,0.3);
  }
}



.more-stories-section{
  padding: 40px 0;
  .inner{
    padding: 0 15px;
    >h2{
      padding: 0 0 20px;
    }
  }
  .row{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    .col{
      width: 100%;
      min-height: 1px;
      margin-top: 20px;
      &:first-child{
        margin-top: 0;
      }
      @media (min-width: $br-mobile) {
        width: 25%;
        margin-top: 0;
      }
      a{
        margin: 0 auto;
        display: block;
        color: $dark;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @media (min-width: $br-mobile) {
          text-align: center;
          width: 80%;
          max-width: 175px;
        }

        h3{
          font-size: 14px;
          padding: 0 10px;
          width: calc(100% - 70px);
          @media (min-width: $br-mobile) {
            padding: 15px 0 0;
            width: 100%;
          }
        }

        .frame{
          width: 70px;
          padding-bottom: 70px;
          background: #000;
          border-radius: 50%;
          overflow: hidden;
          position: relative;
          border: 2px solid #999;
          @media (min-width: $br-mobile) {
            width: 100%;
            padding-bottom: 100%;
          }
          img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }
        }
        &.new-story{
          .frame{
            background: none;
            border: 2px dotted $cGreen;
            &:before, &:after{
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              width: 65%;
              height: 2px;
              background: $dark;
              transition: all 0.15s $easeInOutSine;
              transform-origin: 50% 50%;
            }

            &:before{
              transform: translate(-50%,-50%) rotate(0deg);
            }

            &:after{
              transform: translate(-50%,-50%) rotate(90deg);
            }
            &:hover{
              &:before{
                transform: translate(-50%,-50%) rotate(0deg) scale(0.75);
              }
              &:after{
                transform: translate(-50%,-50%) rotate(90deg) scale(0.75);
              }
            }
          }
        }
      }
    }
  }
}


// NEW
.submit-section{
  padding: 70px 0 50px;
  aside {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    font-size: 13px;
    border-right: 1px solid #e5e5df;
    padding-right: 20px;
    top: -71px;
    padding-top: 71px;
    height: 111.1%;
    @media (min-width: $br-mobile) {
      display: block;
    }

    h3 {
      padding: 10px 0;
      margin-bottom: 10px;
      border-bottom: 1px solid #ccc;
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      color: #333;
    }

    p,
    ul {
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 1.2em;
      color: #666;
      a{
        text-decoration: none;
        color: $cGreen;
        &:hover{
          text-decoration: underline;
        }
      }
    }

    ul {
      // list-style: disc;
      // margin-left: 15px;
      li {
        position: relative;
        padding: 0 0 0 10px;
        margin-bottom: 5px;
        &:before{
          content: "";
          position: absolute;
          display: block;
          left: 0;
          top: 5px;
          height: 4px;
          width: 4px;
          border-radius: 50%;
          background: $dark;


        }
      }
    }

  }
  .content{
    padding: 0 15px;
    @media (min-width: $br-mobile) {
      padding: 0 0 0 262px;
    }
  }

}




.story_form{
  header{
    h2{
      position: relative;
      font-size: 35px;
      padding: 0px 30px 0px 0;
      margin: 10px 0 15px;
      color: $dark;
      font-weight: 300;
      @media (min-width: $br-mobile) {
        font-size: 47px;
        margin: 0px 0 15px;
        padding: 0;
      }
      a{
        display: block;
        position: absolute;
        top: 50%;
        right: 5px;
        border: 1px solid $dark;
        border-radius: 50%;
        transform: translate(0,-50%);
        svg{
          fill: $dark;
          position: absolute;
          width: 60%;
          height: 60%;
          margin: 0 0 0 -1px;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
        @media (min-width: $br-mobile) {
          display: none;
        }
      }
    }
  }
  .form-box{

    // HINTS
    .hint {
      width: 100%;
      clear: both;
      font-size: 14px;
      line-height: 1.2em;
      color: $dark;
      padding: 2px 0 0;

      &.-terms {
        margin: 0 0 8px;
      }
    }
  }
}



.when-and-who {
  font-size: 15px;
  color: #666;
  text-align: center;
}

.story-content {
  max-width: 600px;
  margin: 0 auto 30px;


  p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #666;
    word-wrap: break-word;
  }
}

.story-share_buttons {
  text-align: left;
  .fb_iframe_widget{
   top: -4px;
  }
}


// UPLOAD SECTION
.thumbnails {
  width: 100%;
  @media (min-width: $br-mobile) {
    float: left;
    width: 585px;
  }
  .destroy {
    position: absolute;
    top: -9px; right: -9px;
    width: 18px;
    height: 18px;
    background: $dark;
    border-radius: 50%;
    &:hover{
      background: darken($dark,5%);
    }
    svg{
      width: 65%;
      fill: $white;
      display: block;
      margin: 0 auto;
    }
  }
}

// btn upload stories
.upload_picture {
  display: block;
  position: relative;
  width: 100%;
  height: 76px;
  margin: 5px 0 0;
  border: 2px dashed $cGreen;

  &:hover{
    border-color: darken($cGreen,5%);
    &:before,&:after{
      background: darken($cGreen,5%);
    }

  }

  &:before,&:after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background: $cGreen;
    transform: translate(-50%,-50%);
  }

  &:before{
    height: 30px;
    width: 4px;
  }
  &:after{
    height: 4px;
    width: 30px;
  }

  @media (min-width: $br-mobile) {
    display: inline-block;
    float: left;
    width: 132px;
    margin: 5px 10px 0px 0;
  }
}

.thumbnail {
  position: relative;
  display: inline-block;
  width: 48%;
  height: 76px;
  margin: 4% 0px 0 0;
  border: 2px solid #fff;
  background: #fff;
  cursor: move;

  &:nth-child(2n+3) {
    margin: 4% 0 0 4%;
  }


  @media (min-width: $br-mobile) {
    width: 132px;
    height: 76px;
    margin: 5px 10px 0 0;
    &:nth-child(2n+3) {
      margin: 5px 10px 0 0;
    }
  }

  .inner_box {
    width: 100%;
    height: 100%;
    clear: both;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }

  &:hover { border: 2px solid $cGreen; }

  &.preview {
    cursor: default;
    border: 1px solid $cGreen;
    &:hover { border: 1px solid $cGreen; }
  }

  .filename {
    position: absolute;
    bottom: 12px; left: 0;
    width: 100%;
    text-align: center;
    font-size: 13px;

    color: #666;
  }

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin: -10px 0 0;
    transform: translate(-50%,-50%);
    @include animation(loader,1s,infinite,$easeInOutCubic);
    visibility: visible;
    opacity: 1;
    z-index: 11;
    svg{
      fill: $cGreen;
    }
  }
}

.field_with_errors .stories_map {
  border: 1px solid #C12000;
}

#fileupload {
  display: none;
}
