<div class="snippet<%= " #{snippet_class}" if defined? snippet_class %>">
<div class="example">
<%= raw(code) %> 
</div>
<div class="code">
<pre class="prettyprint"><%= code %>
</pre>
<% if defined? comment %>
  <div class="comment"><%= raw(comment) %></div>
<% end %>
</div>
</div>
