<a href="#" class="btn"><span>Hi, I'm a button</span></a>
<a href="#" class="btn disabled"><span>Hi, I'm a button</span></a>

<nav>
<ul>
  <li><a href="#" class="selected"><span>Home</span></a></li>
  <li><a href="#"><span>Countries</span></a></li>
  <li><a href="#"><span>Map</span></a></li>
  <li><a href="#"><span>Blog</span></a></li>
  <li><a href="#"><span>Data sources</span></a></li>
  <li><a href="#"><span>About</span></a></li>
</ul>
</nav>

