@import '~styles/settings.scss';

.c-header {
  background: $white;
  height: rem(55px);

  .nav-menu {
    border-bottom: solid 1px $border;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: rem(55px);

    li {
      height: 100%;
      position: relative;
      font-size: rem(14px);

      .ext-link,
      .menu-link {
        position: relative;
        font-family: $font-family-1;
        color: $slate;
        height: 100%;
        text-transform: uppercase;
        cursor: pointer;
        display: flex;
        align-items: center;

        &:hover {
          color: darken($slate, 30%);
        }
      }

      .ext-link {
        &::after {
          content: '';
          height: rem(5px);
          position: absolute;
          bottom: -1px;
          right: 0;
          left: 0;
          background-color: transparent;
        }

        .-active,
        &:hover {
          &::after {
            background-color: $green-gfw;
          }
        }
      }

      svg {
        fill: $slate;

        &:hover {
          color: darken($slate, 30%);
        }
      }
    }

    .nav-main {
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: flex-start;
      padding-left: rem(100px);

      .logo {
        position: absolute;
        top: 0;
        left: 0;
      }

      > li .ext-link {
        padding: 0 rem(20px);
      }
    }

    .nav-alt {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      border-left: solid 1px $border;
      padding-left: rem(10px);

      > li {
        margin-left: rem(30px);
        position: relative;
        font-size: rem(12px);

        svg {
          margin-top: -1px;
          margin-left: rem(5px);
        }
      }

      .sub-menu {
        position: absolute;
        right: -5px;
        z-index: 1;

        &::before,
        &::after {
          content: '';
          display: block;
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
        }

        &::before {
          top: -12px;
          border-color: transparent transparent $border transparent;
          border-width: 6px;
          right: 6px;
        }

        &::after {
          top: -10px;
          border-color: transparent transparent $white transparent;
          border-width: 5px;
          right: 7px;
        }
      }

      .icon-close,
      .icon-arrow {
        height: rem(10px);
      }
    }
  }
}
