@import '~styles/settings.scss';

.l-section-projects {
  .project-header {
    display: none;

    @media screen and (min-width: $screen-l) {
      display: block;
    }
  }

  .project-list {
    margin-bottom: rem(30px);
  }
}
