@import '~styles/settings.scss';

.c-composed-chart {
  width: 100%;
  overflow-x: hidden;

  tspan {
    font-family: $font-family-1;
    background: $white;
  }

  .recharts-cartesian-axis-tick-line {
    stroke: rgb(204, 204, 204);
  }
}
