@import '~styles/settings.scss';

$padding: rem(5px);

.c-input-tags {
  background: $white;
  border: solid 1px $border;
  border-radius: rem(4px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: $padding calc(#{$padding} * 2);
  min-height: rem(40px);
  max-width: rem(400px);

  input {
    border: none;
    width: 100%;
  }

  .tags {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      align-items: center;
      color: $white;
      display: flex;
      font-weight: 300;
      list-style: none;
      margin:
        calc(#{$padding} / 2)
        $padding
        calc(#{$padding} / 2)
        0;
      padding: $padding rem(2px) $padding calc(#{$padding} * 2);
      font-size: rem(14px);
      height: rem(20px);
      border-radius: 100px;
      background-color: $slate-light;

      button {
        align-items: center;
        appearance: none;
        background: #333;
        border: none;
        border-radius: 50%;
        color: white;
        cursor: pointer;
        display: inline-flex;
        font-size: rem(20px);
        height: rem(15px);
        justify-content: center;
        line-height: 0;
        margin-left: 8px;
        transform: rotate(45deg);
        width: 15px;
      }
    }

    .tags-input {
      background: none;
      flex-grow: 1;
      padding: 0;

      input {
        border: none;
        padding: 0;
      }
    }
  }
}
