@import '~styles/settings';

.c-map {
  position: relative;
  width: 100%;
  height: 100%;

  .map-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 4;

    .rc-slider-handle {
      &::after {
        background-color: $white;
        width: 4px;
      }
    }

    .rc-slider-rail {
      background-color: transparent !important;
    }
  }

  .slider-bar {
    height: 100%;
    width: 3px;
    background-color: $white;
    border: solid 1px $slate;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 3;
    margin-right: -2px;
  }

  .map-compare {
    position: relative;
    width: 100%;
    height: 100%;

    .map-compare-left,
    .map-compare-right {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .map-compare-left {
      z-index: 1;
    }

    .map-compare-right {
      width: 50%;
      z-index: 2;
      right: 0;
      overflow: hidden;

      > div {
        width: calc(100vw - 76px);
        height: 100%;
        right: 0;
        position: absolute;
      }
    }
  }

  &.no-pointer-events {
    .overlays {
      pointer-events: none;
    }
  }

  .map-icon-crosshair {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    fill: $slate;
    width: rem(12px);
    height: rem(12px);
    pointer-events: none;
    z-index: 5;
  }

  .map-scale {
    position: absolute;
    left: rem(10px);
    bottom: rem(40px);
  }

  .map-attributions {
    position: absolute;
    bottom: rem(10px);
    right: rem(10px);
    left: rem(10px);
    z-index: 5;
  }

  .map-loader {
    background-color: rgba($slate, 0.2);
    z-index: 4;
  }
}
