@import '~styles/settings.scss';

$margin: rem(10px);

.theme-dropdown-dark-squared {
  .container {
    position: relative;
    width: rem(80px);
    height: rem(70px);

    .c-selector {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      background: $grey-light;
      border: 1px solid $border;
      border-radius: 0;
      padding: 0;

      .value {
        position: relative;
        top: initial;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 4px;
        margin-bottom: $margin;
        white-space: initial;
        font-size: rem(11px);
        line-height: rem(12px);
        max-height: rem(22px);
      }

      .selector-btn {
        width: 100%;
        height: rem(20px);
        margin-top: $margin;

        .c-icon {
          width: 100%;
          height: 100%;
          border-radius: 0;
        }
      }

      input {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .arrow-btn {
      display: none;
    }
  }
}
