@import '~styles/settings.scss';

.theme-dropdown-native-button {
  .select-wrapper {
    border: 1px solid $border;

    select {
      height: rem(14px);
      padding: 0 rem(18px) 0 rem(8px);
    }
  }

  .arrow-icon {
    fill: $slate;
    right: rem(8px);
    top: calc(50% - 4px);
    width: 8px;
    height: 8px;
  }
}
