@import '~styles/settings.scss';

.theme-dropdown-native-inline {
  .select-wrapper {
    border: 0;
    border-radius: 0;
    width: auto;

    select {
      font-size: rem(10px);
      text-transform: uppercase;
      font-weight: 400;
      // padding: 0 rem(10px) 0 0;
      padding: 0;
      height: auto;
    }

    .arrow-icon {
      right: rem(-4px);
      width: rem(6px);
    }
  }
}
