@import '~styles/settings';

$map-menu-items-size: rem(76px);
$map-menu-flap-width: rem(290px);
$map-menu-flap-width-big: rem(550px);
$map-menu-flap-close-size: rem(32px);

.c-menu-flap {
  position: absolute;
  top: 0;
  left: 0;
  width: $map-menu-flap-width;
  height: 100vh;
  background-color: $white;
  z-index: 12;
  transform: translateX(#{$map-menu-items-size - $map-menu-flap-close-size - $map-menu-flap-width-big});
  transition: transform 0.3s linear;
  box-shadow: -3px 0 3px -3px rgba(0, 0, 0, 0.25);

  &.--big {
    width: $map-menu-flap-width-big;
  }

  &.--showed {
    transform: translateX($map-menu-items-size);
  }

  &__close {
    position: absolute;
    top: rem(8px);
    right: -$map-menu-flap-close-size;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $map-menu-flap-close-size;
    height: $map-menu-flap-close-size;
    background-color: $white;
    border-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: -1px 0 3px -3px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    .c-icon {
      width: rem(12px);
      height: rem(12px);
    }
  }
}
