@import '~styles/settings.scss';

.c-modal-subscribe {
  max-width: rem(800px);
  width: 100%;
  color: $slate;

  @media screen and (min-width: $screen-m) {
    min-width: rem(320px);
  }

  .mygfw-subscribe {
    max-width: rem(450px);
    text-align: center;
    margin: auto;
  }

  .subscribe-body {
    position: relative;
    min-height: rem(220px);

    .saved {
      max-width: rem(400px);
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon-success {
        width: rem(100px);
        height: rem(100px);
        margin-bottom: rem(30px);
      }

      p {
        margin-bottom: rem(30px);
        text-align: center;
      }

      .success-actions {
        display: flex;
        justify-content: space-around;

        .reset-btn,
        .mygfw-btn {
          width: auto;
          margin: 0 rem(10px);
        }
      }
    }
  }
}
