<ul id="appsSubmenu" class="apps-submenu <% if controller?("map") %>is-map<% end %>">
  <li class="nav-item">
    <a class="shape-world <% if controller?("map") %>current<% end %>" href="/map">
      <div class="nav-item-wrap">
        <div class="nav-item-wrap-center">
          <svg class="icon shape-world"><use xlink:href="#icon-h-map"></use></svg>
          <span><em class="mobile-hide">GFW Interactive</em> Map</span>
        </div>
      </div>
    </a>
  </li>
  <li class="nav-item">
    <a class="shape-country <% if controller?("countries") %>current<% end %>" href="/countries">
      <div class="nav-item-wrap">
        <div class="nav-item-wrap-center">
          <svg class="icon shape-country"><use xlink:href="#icon-h-countryprofiles"></use></svg>
          <span>Country <em class="mobile-hide">profiles & rankings</em></span>
        </div>
      </div>
    </a>
  </li>
  <!-- <li class="nav-item">
    <a class="shape-blog" href="http://blog.globalforestwatch.org/">
      <div class="nav-item-wrap">
        <div class="nav-item-wrap-center">
          <svg class="icon shape-blog"><use xlink:href="#icon-h-blog"></use></svg>
          <span>Blog</span>
        </div>
      </div>
    </a>
  </li> -->
  <li class="nav-item">
    <a class="shape-fire mobile-friendly" href="http://fires.globalforestwatch.org/" >
      <div class="nav-item-wrap">
        <div class="nav-item-wrap-center">
          <svg class="icon shape-fire"><use xlink:href="#icon-h-fires"></use></svg>
          <span>Fires</span>
        </div>
      </div>
    </a>
  </li>
  <li class="nav-item">
    <a class="shape-commodities mobile-friendly" href="http://commodities.globalforestwatch.org/" >
      <div class="nav-item-wrap">
        <div class="nav-item-wrap-center">
          <svg class="icon shape-commodities"><use xlink:href="#icon-h-commodities"></use></svg>
          <span>Commodities</span>
        </div>
      </div>
    </a>
  </li>
  <li class="nav-item">
    <a class="shape-climate mobile-friendly" href="http://climate.globalforestwatch.org/" >
      <div class="nav-item-wrap">
        <div class="nav-item-wrap-center">
          <svg class="icon shape-climate"><use xlink:href="#icon-h-climate"></use></svg>
          <span>Climate</span>
        </div>
      </div>
    </a>
  </li>
  <li class="nav-item">
    <a class="shape-data mobile-friendly" href="http://data.globalforestwatch.org/" >
      <div class="nav-item-wrap">
        <div class="nav-item-wrap-center">
          <svg class="icon shape-data"><use xlink:href="#icon-h-downloaddata"></use></svg>
          <span>Open data portal</span>
        </div>
      </div>
    </a>
  </li>
  <li class="nav-item">
    <a class="shape-develop" href="/getinvolved/develop-your-own-app" >
      <div class="nav-item-wrap">
        <div class="nav-item-wrap-center">
          <svg class="icon shape-develop"><use xlink:href="#icon-h-develop"></use></svg>
          <span>Develop your own app</span>
        </div>
      </div>
    </a>
  </li>
  <li class="nav-item">
    <a class="shape-all-apps" href="/explore/applications" >
      <div class="nav-item-wrap">
        <div class="nav-item-wrap-center">
          <svg class="icon shape-all-apps"><use xlink:href="#icon-h-all-apps"></use></svg>
          <span>Explore all apps</span>
        </div>
      </div>
    </a>
  </li>
  <li class="nav-item">
  </li>
</ul>
