<footer class="layout-footer">
  <div class="site-info inner">
    <div class='left'>
      <div class="footer-share">
        <p>Spread the word. <strong>Share Global Forest Watch.</strong></p>
        <div class="share_buttons">
          <div id="fb-root"></div>
          <a href="http://twitter.com/share" target="_blank" class="twitter-share-button" data-url="http://www.globalforestwatch.org/" data-text="Global Forest Watch">Tweet</a>
          <div class="g-plusone" data-size="medium" data-href="http://www.globalforestwatch.org/"></div>
          <div class="fb-like" data-href="http://www.globalforestwatch.org/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        </div>
      </div>
      <a class="twitter-timeline" href="https://twitter.com/globalforests" data-widget-id="452107742602219521" data-chrome="nofooter noheader noscrollbar transparent" width="400" height="566">Tweets by @globalforests</a>
      <p class="tweet-to"><a href="https://twitter.com/intent/tweet?screen_name=globalforests">Tweet to @globalforests</a></p>
      <div class="footer-share keep-updated">
        <p>Sign up to receive updates.
            <a href="http://www.wri.org/global-forest-watch-stay-informed" title="Receive Global Forest Watch updates" target="_blank" onclick="ga('send', 'event', 'Footer', 'Click', 'Subscribe');">
              <img src="/assets/icons/envelope-gray.png" class="subscribe"></a>

            <a href="https://twitter.com/globalforests" title="Follow @globalforests"  target="_blank" onclick="ga('send', 'event', 'Footer', 'Click', 'Twitter');">
              <img src="/assets/icons/twitter-gray.png" class="subscribe"></a>
            <a href="http://instagram.com/globalforests" title="Follow @globalforests Instagram"  target="_blank" onclick="ga('send', 'event', 'Footer', 'Click', 'Instagram');">
              <img src="/assets/icons/instagram.png" class="subscribe"></a>
        </p>
      </div>
    </div>
    <div class='right'>
      <div class="footer-logos">
        <p class="hide_mobile hidden">Core partners</p>
        <p class="show_mobile hidden" onclick="$(this).siblings('a').css('display','inline-block').siblings('p').toggle()">Show all core partners</p>
        <a href="http://earthengine.google.org/" class="footer-logo google" target="_blank"></a>
        <a href="http://www.esri.com/gfw" class="footer-logo esri" target="_blank"></a>
        <a href="http://www.geog.umd.edu/" class="footer-logo universitymaryland" target="_blank"></a>
        <a href="http://www.unep.org/" class="footer-logo unep last" target="_blank"></a>
        <a href="http://www.imazon.org.br/pagina-inicial-en?set_language=en&amp;cl=en" class="footer-logo imazon" target="_blank"></a>
        <a href="http://www.cgdev.org/" class="footer-logo cfgd" target="_blank"></a>
        <a href="http://osfac.net/index.php?lang=en" class="footer-logo osfac" target="_blank"></a>
        <a href="http://globalforestwatch.ca/" class="footer-logo gfwca last" target="_blank"></a>
        <a href="http://www.scanex.ru/en/" class="footer-logo scanex" target="_blank"></a>
        <a href="http://www.transparentworld.ru/ru/" class="footer-logo twrus" target="_blank"></a>
        <a href="http://www.janegoodall.org/" class="footer-logo goodall last" target="_blank"></a>
        <a href="http://foreststreesagroforestry.org/" class="footer-logo cgiar " target="_blank"></a>
        <a href="http://cartodb.com/" class="footer-logo cartodb" target="_blank"></a>
        <a href="http://vizzuality.com/" class="footer-logo vizzuality last" target="_blank"></a>
        <a href="http://blueraster.com/" class="footer-logo blueraster" target="_blank"></a>
        <a href="https://www.regjeringen.no/en/topics/climate-and-environment/climate/klima--og-skogprosjektet/id2000712/" class="footer-logo norwegian" target="_blank"></a>
        <a href="http://www.usaid.gov/" class="footer-logo usaid last" target="_blank"></a>
        <a href="http://www.thegef.org/gef/" class="footer-logo gef" target="_blank"></a>
        <a href="http://www.gov.uk/government/organisations/department-for-international-development" class="footer-logo ukaid" target="_blank"></a>
        <a href="http://www.tiliafund.org/" class="footer-logo tilia" target="_blank"></a>
        <p class="less hidden" onclick="$(this).siblings('a').css('display','none').siblings('p').toggle()">Hide all core partners</p>
      </div>
      <div class="footer-address">
        <p>A partnership convened by</p>
        <a href="http://www.wri.org" class="footer-logo wri" target="_blank"></a>
        <address>
          10 G Street NE Suite 800, Washington, DC 20002, USA<br /><br />
          Phone +1 (202) 729-7600<br />
          Fax +1 (202) 729-7610<br />
          Email <a href="mailto:gfw@wri.org">gfw@wri.org</a>
        </address>
        <p><%= link_to 'Terms of Service', terms_path %> · <a href="http://stats.pingdom.com/me0q72oj01nt" target="_blank">Global Forest Watch System Status</a></p>
      </div>
    </div>
  </div>
</footer>
