<div class="footer-share-container">
  <div class="footer-share">
    <p>Spread the word. <strong>Share Global Forest Watch.</strong></p>
    <div class="share_buttons">
      <div id="fb-root"></div>
      <a href="http://twitter.com/share" target="_blank" class="twitter-share-button" data-url="http://www.globalforestwatch.org/" data-text="Global Forest Watch">Tweet</a>
      <div class="g-plusone" data-size="medium" data-href="http://www.globalforestwatch.org/"></div>
      <div class="fb-like" data-href="http://www.globalforestwatch.org/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    </div>
  </div>
  <div class="footer-share keep-updated">
    <p>Sign up to <strong>receive updates</strong>.</p>
    <p>
        <a href="http://www.wri.org/global-forest-watch-stay-informed" title="Receive Global Forest Watch updates" target="_blank" onclick="ga('send', 'event', 'Footer', 'Click', 'Subscribe');">
          <svg><use xlink:href="#shape-mail"></use></svg></a>

        <a href="https://twitter.com/globalforests" title="Follow @globalforests"  target="_blank" onclick="ga('send', 'event', 'Footer', 'Click', 'Twitter');">
          <svg><use xlink:href="#shape-twitter"></use></svg></a>
        <a href="http://instagram.com/globalforests" title="Follow @globalforests Instagram"  target="_blank" onclick="ga('send', 'event', 'Footer', 'Click', 'Instagram');">
          <svg><use xlink:href="#shape-instagram"></use></svg></a>
    </p>
  </div>
</div>
<footer id="footerView" class="layout-footer">
  <div class="apps-footer mobile-hide">
    <div class="inner">
      <ul>
        <li><a class="world" href="/map"><svg><use xlink:href="#shape-world"></use></svg><h3>GFW Interactive Map</h3></a></li>
        <li><a class="shape-country" href="/countries"><svg><use xlink:href="#shape-country"></use></svg><h3>Country profiles & rankings</h3></a></li>
        <li><a class="fire" href="http://fires.globalforestwatch.org/"><svg><use xlink:href="#shape-fire"></use></svg><h3>Fires</h3></a></li>
        <li><a class="commodities" href="http://commodities.globalforestwatch.org/"><svg><use xlink:href="#shape-commodities"></use></svg><h3>Commodities</h3></a></li>
        <li><a class="develop" href="/getinvolved/develop-your-own-app"><svg><use xlink:href="#shape-develop"></use></svg><h3>Develop own your app</h3></a></li>
        <li><a class="data" href="/data"><svg><use xlink:href="#shape-download"></use></svg><h3>Download data</h3></a></li>
        <li><a href="http://blog.globalforestwatch.org/"><svg><use xlink:href="#shape-blog"></use></svg><h3>Blog</h3></a></li>
        <!-- <li><a class="soon" href="/explore#coming-soon"><svg><use xlink:href="#shape-soon"></use></svg><h3>Coming soon</h3></a></li> -->
      </ul>
    </div>
  </div>
  <div class="site-map mobile-hide">
    <div id="siteMap" class="inner">
      <div id="footerMenu" class="mobile-menu">
        <div class="row">
          <!-- <div class="col">
            <h3><a href="http://data.gfw.opendata.arcgis.com/datasets">Download data</a></h3>
            <ul>
              <li><a href="/sources">Data policy</a></li>
              <li><a href="http://data.gfw.opendata.arcgis.com/">GFW on ArcGIS Online</a></li>
              <li><a href="/sources/earth_engine">GFW on Google Earth Engine</a></li>
            </ul>
          </div> -->
          <div class="col">
            <h3><a href="/explore">Explore</a></h3>
            <ul>
              <li><a href="/map">GFW Interactive Map</a></li>
              <li><a href="/countries">Country profiles & rankings</a></li>
              <li><a href="http://commodities.globalforestwatch.org/">Commodities</a></li>
              <li><a href="http://fires.globalforestwatch.org/">Fires</a></li>
              <li><a href="/explore/applications">All applications</a></li>
              <li><a href="/data">Download Data</a></li>
            </ul>
          </div>
          <div class="col">
            <h3><a href="/stayinformed">Stay informed</a></h3>
            <ul>
              <li><a href="http://blog.globalforestwatch.org/">Blog</a></li>
              <li><a href="/stayinformed/crowdsourced-stories">Crowdsourced stories</a></li>
              <li><a href="http://www.wri.org/global-forest-watch-stay-informed" target="_blank">Newsletter</a></li>
              <li><a href="/stayinformed/publications">Publications</a></li>
            </ul>
          </div>
          <div class="col">
            <h3><a href="/getinvolved">GET INVOLVED</a></h3>
            <ul>
              <li><a href="/getinvolved/develop-your-own-app">Develop your own app</a></li>
              <li><a href="/stories/new">Submit a story</a></li>
              <li><a href="/getinvolved/share-data">Share data</a></li>
              <li><a href="/getinvolved/help-improve-data">Help improve data</a></li>
              <li><a href="https://groups.google.com/forum/#!forum/globalforestwatch" target="_blank">Join the discussion</a></li>
              <li><a href="/getinvolved/apply-to-the-small-grants-fund">Apply to the Small Grants Fund</a></li>
              <li><a href="/getinvolved/provide-feedback" target="_blank">Provide feedback</a></li>
              <li><a href="/getinvolved/help-improve-translations">Help improve translations</a></li>
            </ul>
          </div>
          <div class="col">
            <h3><a href="/howto">How to</a></h3>
            <ul class="submenu">
              <li><a href="/howto/view-data">View Data</a></li>
              <li><a href="/howto/conduct-analysis-and-subscribe-to-alerts">Conduct analysis & subscribe to alerts</a></li>
              <li><a href="/howto/submit-a-story">Submit a story</a></li>
              <li><a href="/howto/faqs">FAQs</a></li>
            </ul>
          </div>
          <div class="col">
            <h3><a href="/about">About</a></h3>
            <ul>
              <li><a href="/about/about-gfw">About GFW</a></li>
              <li><a href="/about/the-gfw-partnership">The GFW partnership</a></li>
              <li><a href="/about/videos">Videos</a></li>
              <li><a href="/about/awards_and_testimonials">Awards & testimonials</a></li>
              <li><a href="/about/contact-us">Contact us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partner-box">
    <div class="inner">
      <h4>A partnership convened by</h4>
      <div class="row">
        <a href="http://www.wri.org/" target="_blank" class="wri-logo">

        </a>
        <p class="address">
          <strong>Global Forest Watch</strong>
          <span>10 G Street NE Suite 800, Washington, DC 20002, USA </span>
          <span>Phone <a href="tel:+1 (202) 729-7600">+1 (202) 729-7600</a> Fax: <a href="tel:+1 (202) 720 7610">+1 (202) 720 7610</a></span>
        </p>
      </div>
    </div>
  </div>
  <div class="footer-logos-btn">
    <div class="inner">
      <a class="btn gray" href="/about/the-gfw-partnership">View all partners</a>
    </div>
  </div>
  <div class="footer-logos">
    <div class="inner">
      <div id="footer-logos">
        <div><a target='_blank' href='http://bnpb.go.id/' class="footer-logo bnpb"></a></div>
        <div><a href="http://earthengine.google.org/" class="footer-logo google" target="_blank"></a></div>
        <div><a href="http://www.esri.com/gfw" class="footer-logo esri" target="_blank"></a></div>
        <div><a href="http://www.geog.umd.edu/" class="footer-logo universitymaryland" target="_blank"></a></div>
        <div><a href="http://www.unep.org/" class="footer-logo unep" target="_blank"></a></div>
        <div><a href="http://www.imazon.org.br/pagina-inicial-en?set_language=en&amp;cl=en" class="footer-logo imazon" target="_blank"></a></div>
        <div><a href="http://www.cgdev.org/" class="footer-logo cfgd" target="_blank"></a></div>
        <div><a target='_blank' href='https://www.digitalglobe.com/' class="digitalglobe"></a></div>
        <div><a href="http://osfac.net/index.php?lang=en" class="footer-logo osfac" target="_blank"></a></div>
        <div><a href="http://globalforestwatch.ca/" class="footer-logo gfwca" target="_blank"></a></div>
        <div><a href="http://www.scanex.ru/en/" class="footer-logo scanex" target="_blank"></a></div>
        <div><a href="http://www.transparentworld.ru/ru/" class="footer-logo twrus" target="_blank"></a></div>
        <div><a href="http://www.janegoodall.org/" class="footer-logo goodall" target="_blank"></a></div>
        <div><a target='_blank' href='http://www.redd-indonesia.org/' class="footer-logo redd"></a></div>
        <div><a href="http://foreststreesagroforestry.org/" class="footer-logo cgiar" target="_blank"></a></div>
        <div><a href="http://cartodb.com/" class="footer-logo cartodb" target="_blank"></a></div>
        <div><a href="http://vizzuality.com/" class="footer-logo vizzuality" target="_blank"></a></div>
        <div><a href="http://blueraster.com/" class="footer-logo blueraster" target="_blank"></a></div>
        <div><a href="https://www.regjeringen.no/en/topics/climate-and-environment/climate/klima--og-skogprosjektet/id2000712/" class="footer-logo norwegian" target="_blank"></a></div>
        <div><a href="http://www.usaid.gov/" class="footer-logo usaid" target="_blank"></a></div>
        <div><a href="http://www.thegef.org/gef/" class="footer-logo gef" target="_blank"></a></div>
        <div><a href="http://www.gov.uk/government/organisations/department-for-international-development" class="footer-logo ukaid" target="_blank"></a></div>
        <div><a href="http://www.moore.org/" class="footer-logo moore" target="_blank"></a></div>
        <div><a href="http://www.tiliafund.org/" class="footer-logo tilia" target="_blank"></a></div>
      </div>
    </div>
  </div>
  <div class="terms">
    <a href="/terms">Terms of Service</a> ·
    <a href="http://stats.pingdom.com/me0q72oj01nt" target="_blank">Global Forest Watch System Status</a> ·
    <a href="mailto:gfw@wri.org">Contact us</a>
  </div>
</footer>
