<!-- Footer -->
<div id="footerGfw"></div>
<!-- TERMS DIALOG -->
<div id="sources" class="hidden">
  <article id='mobile-friendly'>
    <div class="terms-modal">
      <h2 class='source_title'>Warning</h2>
      <div class='source_body'>
        <p>The page you're trying to access is not mobile optimized</p>
        <p><a class="btn green uppercase set-link">Continue</a></p>
      </div>
    </div>
  </article>
</div>
