<footer id="footerView" class="layout-footer">
  <div class="apps-footer mobile-hide">
    <div class="inner">
      <ul>
        <li><a href="#"><svg class="world"><use xlink:href="#shape-world"></use></svg><h3 class="world">Explore the map</h3></a></li>
        <li><a href="#"><svg class="country"><use xlink:href="#shape-country"></use></svg><h3 class="country">Country profiles & rankings</h3></a></li>
        <li><a href="#"><svg class="fire"><use xlink:href="#shape-fire"></use></svg><h3 class="fire">Fires</h3></a></li>
        <li><a href="#"><svg class="commodities"><use xlink:href="#shape-commodities"></use></svg><h3 class="commodities">Commodities</h3></a></li>
        <li><a href="#"><svg class="develop"><use xlink:href="#shape-develop"></use></svg><h3 class="develop">Develop your app</h3></a></li>
        <li><a href="#"><svg class="soon"><use xlink:href="#shape-soon"></use></svg><h3 class="soon">Coming soon</h3></a></li>
      </ul>
    </div>      
  </div>
  <div class="site-map mobile-hide">
    <div class="inner">
      <div class="row">
        <div class="col">
          <h3><a href="#">Applications</a></h3>
          <h3><a href="#">Download data</a></h3>
          <ul>
            <li><a href="#">Data policy</a></li>
            <li><a href="#">GFW on ArcGIS Online</a></li>
            <li><a href="#">GFW on Google Earth Engine</a></li>
          </ul>
        </div> 
        <div class="col">
          <h3><a href="#">KEEP UPDATED</a></h3>
          <ul>
            <li><a href="#">GFW Blog</a></li>
            <li><a href="#">Crowdsourced Stories</a></li>
            <li><a href="#">Receive Alerts</a></li>
            <li><a href="#">Discussion Forum</a></li>
            <li><a href="#">Publications</a></li>
            <li><a href="#">Sign up for Newsletter</a></li>
            <li><a href="#">Coming soon</a></li>
          </ul>        
        </div> 
        <div class="col">
          <h3><a href="#">GET INVOLVED</a></h3>
          <ul>
            <li><a href="#">Small Grants Fund</a></li>
            <li><a href="#">Develope your app</a></li>
            <li><a href="#">Submit a Story</a></li>
            <li><a href="#">Join the Discussion</a></li>
            <li><a href="#">Share your Data</a></li>
            <li><a href="#">Crowdsourcing Tools</a></li>
            <li><a href="#">Provide Feedback</a></li>
          </ul>        
        </div> 
        <div class="col">
          <h3><a href="#">About</a></h3>
          <ul>
            <li><a href="#">The GFW Partnership</a></li>
            <li><a href="#">Videos</a></li>
            <li><a href="#">Awards & Testimonials</a></li>
            <li><a href="#">Outcomes</a></li>
          </ul>        
        </div> 
        <div class="col">
          <h3><a href="#">How to</a></h3>
          <ul class="submenu">
            <li><a href="#">General FAQS</a></li>
            <li><a href="#">Terminology FAQS</a></li>
            <li><a href="#">Data FAQS</a></li>
            <li><a href="#">Web platform FAQS</a></li>
            <li><a href="#">GFW for businesses</a></li>
          </ul>          
        </div>       
      </div>
    </div>
  </div>
  <div class="partner-box">
    <div class="inner">
      <h4>A partnership convened by</h4>
      <div class="row">
        <div class="wri-logo"></div>
        <p class="address">
          <strong>Global Forest Watch</strong>
          <span>10 G Street NE Suite 800, Washington, DC 20002, USA </span>
          <span>Phone +1 (202) 729-7600. Fax: +1 (202) 720 7610</span>
        </p>
      </div>
    </div>
  </div>
  <div class="footer-logos">
    <div class="inner">
      <div id="footer-logos">
        <div><a href="http://earthengine.google.org/" class="footer-logo google" target="_blank"></a></div>
        <div><a href="http://www.esri.com/gfw" class="footer-logo esri" target="_blank"></a></div>
        <div><a href="http://www.geog.umd.edu/" class="footer-logo universitymaryland" target="_blank"></a></div>
        <div><a href="http://www.unep.org/" class="footer-logo unep" target="_blank"></a></div>
        <div><a href="http://www.imazon.org.br/pagina-inicial-en?set_language=en&amp;cl=en" class="footer-logo imazon" target="_blank"></a></div>
        <div><a href="http://www.cgdev.org/" class="footer-logo cfgd" target="_blank"></a></div>
        <div><a href="http://osfac.net/index.php?lang=en" class="footer-logo osfac" target="_blank"></a></div>
        <div><a href="http://globalforestwatch.ca/" class="footer-logo gfwca" target="_blank"></a></div>
        <div><a href="http://www.scanex.ru/en/" class="footer-logo scanex" target="_blank"></a></div>
        <div><a href="http://www.transparentworld.ru/ru/" class="footer-logo twrus" target="_blank"></a></div>
        <div><a href="http://www.janegoodall.org/" class="footer-logo goodall" target="_blank"></a></div>
        <div><a href="http://cartodb.com/" class="footer-logo cartodb" target="_blank"></a></div>
        <div><a href="http://vizzuality.com/" class="footer-logo vizzuality" target="_blank"></a></div>
        <div><a href="http://blueraster.com/" class="footer-logo blueraster" target="_blank"></a></div>
        <div><a href="http://www.regjeringen.no/en/dep/kld/kampanjer/the-governments-climate-and-tree-project.html?id=733947" class="footer-logo norwegian" target="_blank"></a></div>
        <div><a href="http://www.usaid.gov/" class="footer-logo usaid" target="_blank"></a></div>
        <div><a href="http://www.thegef.org/gef/" class="footer-logo gef" target="_blank"></a></div>
        <div><a href="http://www.gov.uk/government/organisations/department-for-international-development" class="footer-logo ukaid" target="_blank"></a></div>
        <div><a href="http://www.tiliafund.org/" class="footer-logo tilia" target="_blank"></a>      </div>
      </div>      
    </div>
  </div>
</footer>