<div class="footer-share-container">
  <div class="footer-share">
    <p>Spread the word. <strong>Share Global Forest Watch.</strong></p>
    <div class="share_buttons">
      <div id="fb-root"></div>
      <a href="http://twitter.com/share" target="_blank" class="twitter-share-button" data-url="http://www.globalforestwatch.org/" data-text="Global Forest Watch">Tweet</a>
      <div class="g-plusone" data-size="medium" data-href="http://www.globalforestwatch.org/"></div>
      <div class="fb-like" data-href="http://www.globalforestwatch.org/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    </div>
  </div>
  <div class="footer-share keep-updated">
    <p>Sign up to <strong>receive updates</strong>.</p>
    <p>
        <a href="http://www.wri.org/global-forest-watch-stay-informed" title="Receive Global Forest Watch updates" target="_blank" onclick="ga('send', 'event', 'Footer', 'Click', 'Subscribe');">
          <svg><use xlink:href="#shape-mail"></use></svg></a>

        <a href="https://twitter.com/globalforests" title="Follow @globalforests"  target="_blank" onclick="ga('send', 'event', 'Footer', 'Click', 'Twitter');">
          <svg><use xlink:href="#shape-twitter"></use></svg></a>
        <a href="http://instagram.com/globalforests" title="Follow @globalforests Instagram"  target="_blank" onclick="ga('send', 'event', 'Footer', 'Click', 'Instagram');">
          <svg><use xlink:href="#shape-instagram"></use></svg></a>
    </p>
  </div>
</div>
<footer id="footerView" class="layout-footer">
  <div class="apps-footer mobile-hide">
    <div class="inner">
      <ul>
        <li><a class="world" href="/map"><svg><use xlink:href="#shape-world"></use></svg><h3>Explore the map</h3></a></li>
        <li><a class="shape-country" href="/countries"><svg><use xlink:href="#shape-country"></use></svg><h3>Country profiles & rankings</h3></a></li>
        <li><a class="fire" href="http://staging.blueraster.com/wri/gfw-fires/#v=home&x=&y=&l=&lyrs=&dirty=true"><svg><use xlink:href="#shape-fire"></use></svg><h3>Fires</h3></a></li>
        <li><a class="commodities" href="http://staging.blueraster.com/wri/gfw-commodities/#v=home"><svg><use xlink:href="#shape-commodities"></use></svg><h3>Commodities</h3></a></li>
        <li><a class="develop" href="/getinvolved/develop-your-own-app"><svg><use xlink:href="#shape-develop"></use></svg><h3>Develop own your app</h3></a></li>
        <li><a class="soon" href="/comingsoon"><svg><use xlink:href="#shape-soon"></use></svg><h3>Coming soon</h3></a></li>
      </ul>
    </div>
  </div>
  <div class="site-map mobile-hide">
    <div class="inner">
      <div class="row">
        <div class="col">
          <!-- <h3><a href="/applications">Applications</a></h3> -->
          <h3><a href="http://data.gfw.opendata.arcgis.com/datasets">Download data</a></h3>
          <ul>
            <li><a href="/sources">Data policy</a></li>
            <li><a href="http://data.gfw.opendata.arcgis.com/">GFW on ArcGIS Online</a></li>
            <li><a href="/sources/earth_engine">GFW on Google Earth Engine</a></li>
          </ul>
        </div>
        <div class="col">
          <h3><a href="/keepupdated">KEEP UPDATED</a></h3>
          <ul>
            <li><a href="http://blog.globalforestwatch.org/">GFW Blog</a></li>
            <li><a href="/keepupdated/crowdsourced-stories">Crowdsourced Stories</a></li>
            <li><a href="/keepupdated/receive-alerts">Receive Alerts</a></li>
            <li><a href="https://groups.google.com/forum/#!forum/globalforestwatch" target="_blank">Discussion Forum</a></li>
            <li><a href="/keepupdated/publications">Publications</a></li>
            <li><a href="/keepupdated/newsletter">Sign up for Newsletter</a></li>
            <li><a href="/keepupdated/coming-soon">Coming soon</a></li>
          </ul>
        </div>
        <div class="col">
          <h3><a href="/getinvolved">GET INVOLVED</a></h3>
          <ul>
            <li><a href="/getinvolved/small-grants-fund">Small Grants Fund</a></li>
            <li><a href="/getinvolved/develop-your-own-app">Develop your own app</a></li>
            <li><a href="/getinvolved/submit-a-story">Submit a Story</a></li>
            <li><a href="https://groups.google.com/forum/#!forum/globalforestwatch" target="_blank">Join the Discussion</a></li>
            <li><a href="/getinvolved/share-data">Share your Data</a></li>
            <li><a href="/getinvolved/crowdsourcing-tools">Crowdsourcing Tools</a></li>
            <li><a href="https://www.surveymonkey.com/s/S6B53DT" target="_blank">Provide Feedback</a></li>
          </ul>
        </div>
        <div class="col">
          <h3><a href="/howto">How to</a></h3>
          <ul class="submenu">
            <li><a href="/howto/general_questions">General FAQS</a></li>
            <li><a href="/howto/terminology">Terminology FAQS</a></li>
            <li><a href="/howto/data">Data FAQS</a></li>
            <li><a href="/howto/web_platform">Web platform FAQS</a></li>
          </ul>
        </div>
        <div class="col">
          <h3><a href="/about">About</a></h3>
          <ul>
            <li><a href="/about/the-gfw-partnership">The GFW Partnership</a></li>
            <li><a href="/about/videos">Videos</a></li>
            <li><a href="/about/awards_and_testimonials">Awards & Testimonials</a></li>
            <li><a href="/about/outcomes">Outcomes</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="partner-box">
    <div class="inner">
      <h4>A partnership convened by</h4>
      <div class="row">
        <a href="http://www.wri.org/" target="_blank" class="wri-logo">

        </a>
        <p class="address">
          <strong>Global Forest Watch</strong>
          <span>10 G Street NE Suite 800, Washington, DC 20002, USA </span>
          <span>Phone <a href="tel:+1 (202) 729-7600">+1 (202) 729-7600</a>. Fax: <a href="tel:+1 (202) 720 7610">+1 (202) 720 7610</a>.</span>
        </p>
      </div>
    </div>
  </div>
  <div class="footer-logos">
    <div class="inner">
      <div id="footer-logos">
        <div><a href="http://earthengine.google.org/" class="footer-logo google" target="_blank"></a></div>
        <div><a href="http://www.esri.com/gfw" class="footer-logo esri" target="_blank"></a></div>
        <div><a href="http://www.geog.umd.edu/" class="footer-logo universitymaryland" target="_blank"></a></div>
        <div><a href="http://www.unep.org/" class="footer-logo unep" target="_blank"></a></div>
        <div><a href="http://www.imazon.org.br/pagina-inicial-en?set_language=en&amp;cl=en" class="footer-logo imazon" target="_blank"></a></div>
        <div><a href="http://www.cgdev.org/" class="footer-logo cfgd" target="_blank"></a></div>
        <div><a href="http://osfac.net/index.php?lang=en" class="footer-logo osfac" target="_blank"></a></div>
        <div><a href="http://globalforestwatch.ca/" class="footer-logo gfwca" target="_blank"></a></div>
        <div><a href="http://www.scanex.ru/en/" class="footer-logo scanex" target="_blank"></a></div>
        <div><a href="http://www.transparentworld.ru/ru/" class="footer-logo twrus" target="_blank"></a></div>
        <div><a href="http://www.janegoodall.org/" class="footer-logo goodall" target="_blank"></a></div>
        <div><a href="http://cartodb.com/" class="footer-logo cartodb" target="_blank"></a></div>
        <div><a href="http://vizzuality.com/" class="footer-logo vizzuality" target="_blank"></a></div>
        <div><a href="http://blueraster.com/" class="footer-logo blueraster" target="_blank"></a></div>
        <div><a href="http://www.regjeringen.no/en/dep/kld/kampanjer/the-governments-climate-and-tree-project.html?id=733947" class="footer-logo norwegian" target="_blank"></a></div>
        <div><a href="http://www.usaid.gov/" class="footer-logo usaid" target="_blank"></a></div>
        <div><a href="http://www.thegef.org/gef/" class="footer-logo gef" target="_blank"></a></div>
        <div><a href="http://www.gov.uk/government/organisations/department-for-international-development" class="footer-logo ukaid" target="_blank"></a></div>
        <div><a href="http://www.tiliafund.org/" class="footer-logo tilia" target="_blank"></a>      </div>
      </div>
    </div>
  </div>
  <div class="terms">
    <a href="/terms">Terms of Service</a> ·
    <a href="http://stats.pingdom.com/me0q72oj01nt" target="_blank">Global Forest Watch System Status</a> ·
    <a href="mailto:gfw@wri.org">Contact us</a>
  </div>
</footer>
