<div class="footer-share-container">
  <div class="footer-share">
    <p>Spread the word. <strong>Share Global Forest Watch.</strong></p>
    <div class="share_buttons">
      <div id="fb-root"></div>
      <a href="http://twitter.com/share" target="_blank" class="twitter-share-button" data-url="http://www.globalforestwatch.org/" data-text="Global Forest Watch">Tweet</a>
      <div class="g-plusone" data-size="medium" data-href="http://www.globalforestwatch.org/"></div>
      <div class="fb-like" data-href="http://www.globalforestwatch.org/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    </div>
  </div>
  <div class="footer-share keep-updated">
    <p>Sign up to <strong>receive updates</strong>.</p>
    <p>
        <a href="?show_newsletter=true" title="Receive Global Forest Watch updates" onclick="ga('send', 'event', 'Footer', 'Click', 'Subscribe');">
          <svg><use xlink:href="#shape-mail"></use></svg></a>

        <a href="https://twitter.com/globalforests" title="Follow @globalforests"  target="_blank" onclick="ga('send', 'event', 'Footer', 'Click', 'Twitter');">
          <svg><use xlink:href="#shape-twitter"></use></svg></a>
        <a href="http://instagram.com/globalforests" title="Follow @globalforests Instagram"  target="_blank" onclick="ga('send', 'event', 'Footer', 'Click', 'Instagram');">
          <svg><use xlink:href="#shape-instagram"></use></svg></a>
    </p>
  </div>
</div>
<!-- Footer -->
<div id="footerGfw"></div>
<!-- TERMS DIALOG -->
<div id="sources" class="hidden">
  <article id='mobile-friendly'>
    <div class="terms-modal">
      <h2 class='source_title'>Warning</h2>
      <div class='source_body'>
        <p>The page you're trying to access is not mobile optimized</p>
        <p><a class="btn green uppercase set-link">Continue</a></p>
      </div>
    </div>
  </article>
</div>
