<header id="headerView" class="layout-header">
  <div class="layout-header-top">
  	<div class="inner">
  		<%= render 'shared/navbar_landing' %>	
  	</div>
  </div>
  <div class="layout-header-bottom">
  	<div class="inner">
  		<%= render 'shared/navbar2_landing' %>	
  	</div>
  </div>
</header>
