<header class="layout-header">

  <div class="layout-header-top">
    <div class="row">
      <div class="grid-12">
        <a href="/" class="brand"><%= image_tag "logo.png", :alt => "Logo Global Forest Watch" %></a>

        <%= render 'shared/navbar' %>

      </div>
    </div>
  </div>

  <div class="layout-header-bottom">
    <div class="row">
      <div class="grid-12">
        <h1><%= @title %></h1>

        <% if controller_name == 'home' %>
          <div class="mod-filters" id="filters">
            <div class='inner'>
              <div class='filters hide'>
                <ul class='filters-list'></ul>
              </div>

              <div id='layer'>
                <a href='#' class='filter-title'></a>

                <div class='filter-scroll'>
                  <ul class='filter-links'></ul>
                </div>

                <div class='filter-icon'></div>
                <div class='filter-line'></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</header>
