<header class="layout-header">

  <div class="layout-header-top">
    <%= render 'shared/navbar_landing' %>
  </div>
  <div class="layout-header-bottom">
    <h1><a href="/">Global Forest Watch</a></h1>    
  </div>
</header>
