<header id="headerView" class="layout-header">
  <div id="headerGfw"></div>
    <div class="layout-header-bottom" id="layers-options">
  	<div class="inner">
  		<%= yield :header %>
  	</div>
  </div>
  <div class="layout-share-mobile">
    <a href="#" class="share-link" data-hideembed="1"><svg><use xlink:href="#shape-share"></use></svg></a>
    <% if content_for?(:headerMobile) %>
      <%= yield :headerMobile %>
    <% end %>
  </div>
</header>

<%= render 'shared/js_config' %>
