<% content_for :js do %>
  <!-- Source window -->
  <script id='window-template' type='text/x-underscore-template'>
    <a href='#' class='close'></a>
    <div class='content'></div>
  </script>

  <!-- Filters -->
  <script id='filter-template' type='text/x-underscore-template'>
    <li class='filter {{ category }}' data-id='{{ data }}'>
      <a href='#' style='color: {{ category_color }}'>{{ name }}</a>

      <div class='filter-line' style='background-color: {{ category_color }}'></div>
    </li>
  </script>

  <script id='layer-item-radio-loss-template' type='text/x-underscore-template'>
    <li id='filter_{{ id }}' class='{{ category }}'>
      <a href='#' class='radio {{ category }} {{ slug }}' data-name='{{ category }}'>{{name}}</a>
      <a href='#' data-source='{{slug}}' class='source'></a>

      <p class='subtitle{{ subtitle ? '' : ' hidden'}}'>{{subtitle}}</p>
      <ul class='extra'></ul>
    </li>
  </script>

  <script id='layer-item-checkbox-loss-template' type='text/x-underscore-template'>
    <li id='filter_{{ id }}' class='{{ category }}'>
      <a href='#' data-id='{{ id }}' data-color='{{ color}}' class='checkbox'>
        <i><span></span></i>
        <span class='name'>{{name}}</span>
      </a>

      <p class='subtitle{{ subtitle ? '' : ' hidden'}}'>{{subtitle}}</p>
    </li>
  </script>

  <script id='layer-item-radio-template' type='text/x-underscore-template'>
    <li id='filter_{{ id }}' class='{{ category }}'>
      <a href='#' class='radio {{ category }} {{ slug }} {{ disabled ? 'disabled' : '' }}' data-name={{ category }}>{{name}}</a>
      <a href='#' data-source='{{slug}}' class='source{{ slug == 'nothing' ? ' hidden' : '' }}'></a>
      <p class='subtitle{{ subtitle ? '' : ' hidden'}}'>{{subtitle}}</p>
    </li>
  </script>

  <script id='layer-item-checkbox-template' type='text/x-underscore-template'>
    <li id='filter_{{ id }}' class='{{ category }} {{slug}}'>
    <a href='#' data-id='{{ id }}' data-color='{{ color}}' class='checkbox {{ disabled ? 'disabled' : '' }}'>
        <i><span></span></i>
        <span class='name'>{{name}}</span>
      </a>

      <a href='#' data-source='{{slug}}' class='source{{ slug === !source ? ' hidden' : '' }}'></a>
    </li>
  </script>

  <script id='layer-item-disabled-template' type='text/x-underscore-template'>
    <li id='filter_{{ id }}' class='{{ category }} disabled'>
      <span class='{{ category }} {{ disabled ? 'disabled' : '' }}' data-name={{ category }}>
        <span class='name'><strong>{{name}}</strong>Coming soon…</span>
      </span>
    </li>
  </script>

  <!-- Legends -->
  <script id='legend-template' type='text/x-underscore-template'>
    <a href='#' class='toggle'></a>
    <div class='layer_count'>0 layers</div>
    <div class='content'></div>
    <div class='shadow'></div>
  </script>

  <script id='legend-loss-template' type='text/x-underscore-template'>
    <ul class='legend_category {{category}}'>
      <li class='{{category}}'><strong style='color:{{category_color}};'>{{category_title}}</strong></li>

      <li id='{{cat_id}}' class='{{category}}'>
        <i style='background-color:{{title_color}};'></i> {{title}} <a href='#' data-source='{{slug}}' class='source {{slug}}'></a>
      </li>

      <ul>
        <li id='{{cat_id}}' class='loss'> <i style='background-color:{{title_color}};'></i> Loss</li>
        <li id='{{cat_id}}' class='forestgain'> <i style='background-color:#6d6de5'></i> Gain</li>
      </ul>

      {{#sublayer}}
      <div class='coverage_category'>
        <a href='#' data-id='{{id}}' data-color='{{category_color}}' class='checkbox {{slug}}'>
          <i><span></span></i><span class='name'>Geographic coverage</span>
        </a>
        <a href='#' data-source='{{slug}}' class='source coverage {{slug}}'></a>
      </div>
      {{/sublayer}}

      {{#legend}}
      <ul class='legend_info {{legend_class}}'>
        <li class='forest2000'>
          <strong>{{{ legend }}}</strong>

          <div class='data'>
            <div class='colors'>
              {{#colors}}
              <div class='quartile' style='background-color:{{color}}'>{{title}}</div>
              {{/colors}}
            </div>
          </div>
        </li>
      </ul>
      {{/legend}}
    </ul>
  </script>

  <script id='legend-item-template' type='text/x-underscore-template'>
    <li id='{{cat_id}}' class='{{ category }}'>
      <i style='background-color:{{title_color}};'></i>
      {{title}} <a href='#' data-source='{{slug}}' class="source{{ slug == 'nothing' ? ' hidden' : '' }}"></a>

      {{#legend}}
      <ul class='legend_info {{legend_class}}'>
        <strong>{{{legend}}}</strong>

        <div class='data'>
          {{#min}}<div class='min'>{{min}}</div>{{/min}}
          {{#max}}<div class='max'>{{max}}</div>{{/max}}

          <div class='colors'>
          {{#colors}}
            <div class='quartile' style='background-color:{{color}}'>{{title}}</div>
          {{/colors}}
          </div>
        </div>
      </ul>
      {{/legend}}
    </li>
  </script>

  <script id='legend-group-template' type='text/x-underscore-template'>
    <ul class='legend_category {{category}}{{#sublayer}} sublayer{{/sublayer}}'>
      <li class='{{category}}'><strong style='color:{{category_color}};'>{{category_title}}</strong></li>

      <li id='{{cat_id}}' class='{{category}}'>
        <i style='background-color:{{title_color}};'></i>
        {{title}} <a href='#' data-source='{{slug}}' class='source {{slug}}'></a>

        {{#legend}}
        <ul class='legend_info {{legend_class}}'>
          <strong>{{{legend}}}</strong>

          <div class='data'>
            {{#min}}<div class='min'>{{min}}</div>{{/min}}
            {{#max}}<div class='max'>{{max}}</div>{{/max}}

            <div class='colors'>
              {{#colors}}
              <div class='quartile' style='background-color:{{color}}'>{{title}}</div>
              {{/colors}}
            </div>
          </div>
        </ul>
        {{/legend}}
      </li>

      {{#sublayer}}
      <div class='coverage_category'>
        <a href='#' data-id='{{id}}' data-color='{{category_color}}' class='checkbox {{slug}}'>
        <i><span></span></i><span class='name'>Geographic coverage</span>
        </a><a href='#' data-source='{{slug}}' class='source coverage {{ slug }}'></a>
      </div>
      {{/sublayer}}
    </ul>
  </script>

  <script id='legend-group-double-template' type='text/x-underscore-template'>
    <ul class='legend_category {{category}} double'>
      <li class='{{category}}'><strong style='color:{{category_color}};'>{{category_title}}</strong></li>
      <li id='{{cat_id}}' class='{{category}}'>
        <i style="background-color:{{category_color}};"></i>
        <div>{{title}} <a href='#' data-source='{{slug}}' class='source {{category}}'></a></div>
      </li>

      <ul>
        <li><i style='background-color:#F13689;'></i> <div>Deforestation</div></li>
        <li><i style='background-color:#FA98B9;'></i> <div>Degradation</div></li>
      </ul>

      {{#sublayer}}
      <div class='coverage_category'>
        <a href='#' data-id='{{ id }}' data-color='{{ category_color }}' class='checkbox {{slug}}'>
        <i><span></span></i><span class='name'>Geographic coverage</span>
        </a><a href='#' data-source='{{slug}}' class='source coverage {{slug}}'></a>
      </div>
      {{/sublayer}}
    </ul>
  </script>

  <!-- Layer selector -->
  <script id='layer_selector-template' type='text/x-underscore-template'>
    <a href='#' class='toggle'></a>
    <ul class='selected_layer'></ul>
    <ul class='layers'></ul>
  </script>

  <script id='layer-template' type='text/x-underscore-template'>
    <li id='{{name}}' class='{{ name }}'>
      <a href='#'><i></i>{{title}}</a>
      <a href='#' data-source='{{ name }}' class='source'></a>
    </li>
  </script>

  <script id='landsat_layer-template' type='text/x-underscore-template'>
    <li id='landsat' class='landsat'>
      <a href='#'><i></i>{{title}}</a>
      <a href='#' data-source='landsat' class='source'></a>
    </li>
  </script>

  <script id='landsat_selector-template' type='text/x-underscore-template'>
    <ul class='landsat_layers'><div class='tip'></div></ul>
  </script>


  <script type='text/javascript'>
    var circleSummary = [
      { icon: 'area', count: '19.27', title: 'Million hectares of tree cover loss in 2012' },
      { icon: 'area', count: '211.47', title: 'Million hectares of tree cover loss from 2000 to 2012' },
      { icon: 'area', count: '80.62', title: 'Million hectares of tree cover gain from 2000 to 2012' },
      { icon: 'flag', count: '16,261', title: 'FORMA alerts in December 2013' }
    ];
  </script>

  <script id='timeline_loss-template' type='text/x-underscore-template'>
    <div class='coordinates'></div>
    <div class='timeline_legend'><p>Loss</p></div>
    <div class='timeline-inner'>
      <div class='action'>
        <a class='play' href='#'></a>
        <a class='pause' href='#'></a>
      </div>
      <div class='time'>
        <div class='line'><div class='tipsy'><span>Month</span><div class='arrow'></div></div></div>

        <div class='trail'>
          <div class='handle left'>
            <div class='tipsy'>
              <span></span>
              <div class='arrow'></div>
            </div>
          </div>

          <div class='handle right'>
            <div class='tipsy'>
              <span></span>
              <div class='arrow'></div>
            </div>
          </div>
        </div>

        <ul class='years'></ul>
        <div class='range'></div>
        <ul class='visible_months'></ul>
      </div>
    </div>
  </script>

  <script id='timeline_new-template' type='text/x-underscore-template'>
    <div class='coordinates'></div>
    <div class='timeline_legend'><p>FORMA alerts</p></div>
    <div class='timeline-inner'>
      <div class='action'>
        <a class='play' href='#'></a>
        <a class='pause' href='#'></a>
      </div>
      <div class='time'>
        <div class='line'><div class='tipsy'><span>Month</span><div class='arrow'></div></div></div>

        <div class='trail'>
          <div class='handle left'>
            <div class='tipsy'>
              <span></span>
              <div class='arrow'></div>
            </div>
          </div>

          <div class='handle right'>
            <div class='tipsy'>
              <span></span>
              <div class='arrow'></div>
            </div>
          </div>
        </div>

        <ul class='years'></ul>
        <div class='range'></div>
        <ul class='visible_months'></ul>
      </div>
    </div>
  </script>

  <script id='timeline_imazon-template' type='text/x-underscore-template'>
    <div class='coordinates'></div>
    <div class='timeline_legend'><p>Imazon SAD alerts</p></div>
    <div class='timeline-inner'>
      <div class='time'>
        <div class='line'><div class='tipsy'><span>Month</span><div class='arrow'></div></div></div>

        <div class='trail'>
          <div class='handle left'>
            <div class='tipsy'>
              <span></span>
              <div class='arrow'></div>
            </div>
          </div>

          <div class='handle right'>
            <div class='tipsy'>
              <span></span>
              <div class='arrow'></div>
            </div>
          </div>
        </div>

        <ul class='years'></ul>
        <div class='range'></div>
        <ul class='visible_months'></ul>
      </div>
    </div>
  </script>

  <script id='timeline_modis-template' type='text/x-underscore-template'>
    <div class='coordinates'></div>
    <div class='timeline_legend'><p>QUICC alerts</p></div>
    <div class='timeline-inner'>
      <div class='time'>
        <ul class='quarters'></ul>
        <div class='line'><div class='tipsy'><span>APR - JUN 2013</span><div class='arrow'></div></div></div>
        <ul class='visible_quarters'></ul>
      </div>
    </div>
  </script>

  <script id='wall-template' type='text/x-underscore-template'>
    <div class='content'>

      <h1 class='title'>{{ title }}</h1>

      <div class='form'>

        <p class='help'>{{ help }}</p>

        <div class='input-field huge'>
          <input class='field' type='{{ input_type }}' name='area[email]'>
          <span class='holder'>{{ placeholder }}</span>
          <div class='icon error'></div>
          <div class='error_input_label'></div>
        </div>

        <a href='#' class='btn green darker_glow send'>
          <span>{{ button_title }}</span>
        </a>

      </div>
    </div>
  </script>

  <script id='window-template' type='text/x-underscore-template'>
    <a href='#' class='close'></a>
    <div class='content'></div>
  </script>

  <script id='circle-template' type='text/x-underscore-template'>
    <div class='circle'>
      <div class='icon {{icon}}'>
        <i></i>
      </div>
      <div class='circle-inner'>
        <div class='counter'>{{count}}</div>
        <div class='title'>{{title}}</div>
        <div class='background'></div>
        <div class='explore'>Explore the map</div>
      </div>
    </div>
  </script>

  <!-- Analysis info -->
  <script id='analysis-info-template' type='text/x-underscore-template'>
    <a href='#' class='toggle'></a>
    <div class='info_title'>User defined area</div>
    <div class='content'>

      <div class='info'>
        <div class='titles'>
          <strong class='title'>User defined area</strong>
          <span class='subtitle'>{{ subtitle }}</span>
        </div>
      </div>

      <div class='stats'>
        {{#umd}}
        <div class='spinner'></div>
        <strong class='title'>Total selected area</strong>
        <div class='error'>Earth Engine timed out.<br />Try smaller polygon.</div>
        <ul>
          <li class='ha'>
            <p class='count'><strong>{{ ha }}</strong> Ha</p>
          </li>

          <li class='alert'>
            <strong class='title'>Loss {{ begin }}-{{ end }}</strong>
            <p class='count forma'>
              <strong>
                <span id='alerts-count'>
                  {{ loss }}
                </span>
              </strong> Ha
            </p>
          </li>

          <li class='alert'>
            <strong class='title'>Gain 2000-2012</strong>
            <p class='count forma'>
              <strong>
                <span id='alerts-count'>
                  {{ gain }}
                </span>
              </strong> Ha
            </p>
          </li>

          <li class='alert'>
            <strong class='title'>Tree cover 2000</strong>
            <p class='count forma'>
              <strong>
                <span id='alerts-count'>
                  {{ treecover_2000 }}
                </span>
              </strong> Ha
            </p>
          </li>
        </ul>
        {{/umd}}
        {{#imazon}}
        <div class='spinner'></div>
        <strong class='title'>Total selected area</strong>
        <div class='error'>Earth Engine timed out.<br />Try smaller polygon.</div>
        <ul>
          <li class='ha'>
            <p class='count'><strong>{{ ha }}</strong> Ha</p>
          </li>

          {{#defor}}
          <li class='alert'>
            <strong class='title'>Deforestation alerts</strong>
            <p class='count forma'>
              <strong>
                <span id='alerts-count'>
                  {{ defor }}
                </span>
              </strong> Ha
            </p>
          </li>
          {{/defor}}

          {{#degrad}}
          <li class='alert'>
            <strong class='title'>Degradation alerts</strong>
            <p class='count forma'>
              <strong>
                <span id='alerts-count'>
                  {{ degrad }}
                </span>
              </strong> Ha
            </p>
          </li>
          {{/degrad}}

          {{^defor}}
          {{^degrad}}
          <li class='alert'>
            <strong class='title'>Total {{ dataset }} alerts</strong>
            <p class='count forma'>
              <strong>
                <span id='alerts-count'>
                  {{ alert_count }}
                </span>
              </strong>

              <a href='#' target="_blank" class='download'>download</a>
            </p>
          </li>
          {{/degrad}}
          {{/defor}}
        </ul>
        {{/imazon}}
        {{^umd}}
        {{^imazon}}
        <div class='spinner'></div>
        <strong class='title'>Total selected area</strong>
        <div class='error'>Earth Engine timed out.<br />Try smaller polygon.</div>
        <ul>
          <li class='ha'>
            <p class='count'><strong>{{ ha }}</strong> Ha</p>
          </li>

          <li class='alert'>
            <strong class='title'>Total {{ dataset }} alerts</strong>
            <p class='count forma'>
              <strong>
                <span id='alerts-count'>
                  {{ alert_count }}
                </span>
              </strong>

              <a href='#' target="_blank" class='download'>download</a>
            </p>
          </li>
        </ul>
        {{/imazon}}
        {{/umd}}

        <div class='shadow'></div>
      </div>

      <div class='controls'>
        <ul class='control_buttons'>
          <li><a class='subscribe' href='#'></a></li>
          <li><a class='reset' href='#'></a></li>
        </ul>
      </div>
    </div>
  </script>

  <!-- Analysis -->
  <script id='analysis-template' type='text/x-underscore-template'>
    <div class='analysis helper_bar'>
      <p>Draw in the map the area you want to analyze</p>
      <div class='options'>
        <a href='#' class='done disabled'>Done</a>
        <a href='#' class='cancel'>Cancel</a>
      </div>
    </div>
  </script>

  <!-- Analysis -->
  <script id='analysis-dropdown-template' type='text/x-underscore-template'>
    <ul>

      {{#urls}}
        <li><a href='{{url}}' target='_blank'>{{name}}</a></li>
      {{/urls}}

    </ul>
  </script>

  <!-- Analysis reset -->
  <script id='analysis_reset-template' type='text/x-underscore-template'>
    <p>Are you sure you want to delete the current analysis?</p>

    <div class='options'>
      <a href='#' class='button done delete'>Delete it</a>
      <a href='#' class='button cancel'>Cancel</a>
    </div>

    <span class='tail'></span>
  </script>

  <!-- Analysis control -->
  <script id='analysis_control-template' type='text/x-underscore-template'>
    <a href='#' id='analysis_control' data-tip='{{ tip }}'></a>
  </script>

  <!-- Analysis subscribe -->
  <script id='analysis_subscribe-template' type='text/x-underscore-template'>

    <div class='content'>

      <%= form_for :area, :url => 'http://wip.gfw-apis.appspot.com/subscribe', :html => {:method => :post, :class => 'save-area'} do |f| %>
        <%= f.hidden_field :the_geom %>


      <a href='#' class='close'></a>
      <h1 class='title'>{{ title }}</h1>
      <div class='form'>

        <p class='subtitle'><span>{{ subtitle }}</span></p>

        <p class='help'>{{ help }}</p>

        <div class='input-field huge'>
          <input class='field' type='{{ input_type }}' name='area[email]' id='area_email' />
          <span class='holder'>{{ placeholder }}</span>
          <div class='icon error'></div>
          <div class='error_input_label'></div>
        </div>

        <a href='#' class='btn green darker_glow send'>
          <span>{{ button_title }}</span>
        </a>

      <% end -%>

      </div>
    </div>
  </script>

  <!-- Search box -->
  <script id='searchbox-template' type='text/x-underscore-template'>
    <strong>search</strong>
    <input type='text' placeholder='...............................' />
    <button>&nbsp;</button>
  </script>

  <script id='dialog-template' type='text/x-underscore-template'>
    <h1>{{title}}</h1>
    <a href='#' class='close'></a>
    <div class='buttons'>
      <a href='#' class='btn red dark_glow accept'>{{accept}}</a>
      <a href='#' class='btn yellow dark_glow cancel'>{{cancel}}</a>
    </div>
  </script>
<% end %>
