<section class='map-container'>
  <div id='map' class='map'></div>

  <!-- <div id="spinner_tiles"></div> -->
  <div id="viewfinder"></div>
  <div id="zoom_controls">
    <div class="zoom-in"></div>
    <div class="zoom-out"></div>
  </div>
  <!-- <div class="coordinates map_coordinates"></div> -->

  <a class="feedback-link" href="https://www.surveymonkey.com/s/S6B53DT" target="_blank"><span>Feedback</span></a>
</section>
