<section class='map-container'>
  <div id="viewfinder"></div>
  <div id="zoom_controls"></div>
  <div class="coordinates map_coordinates"></div>

  <div id='map' class='map'></div>

  <a class="feedback-link" href="https://www.surveymonkey.com/s/S6B53DT" target="_blank"><span>Feedback</span></a>
</section>
