<section class='map-container'>
  <!-- MAP -->
  <div id='map' class='map'></div>

  <!-- MAP -->
  <div id="viewfinder" class="map-viewfinder module-toggle"></div>
  <div class="map-latlng"></div>
  <div id="overlay-mobile" class="overlay-mobile"></div>

  <!-- MODULES -->
  <div id="module-legend" class="module scroll-thin-dark module-legend module-toggle hide"></div>
  <div id="module-tabs" class="module module-tabs module-toggle hide"></div>
  <div id="module-map-controls" class="module module-mapcontrols"></div>
  <div id="module-navmobile" class="module module-navmobile"></div>
  <div id="react-map"></div>

  <!-- CONTROLS -->
  <div id="control-searchbox" class="control-searchbox"></div>
  <div id="control-share" class="mini-modal share-modal"></div>
  <div id="control-threshold" class="control-threshold"></div>

  <div id="advanced-analysis" class="advanced-analysis"></div>


  <!-- FOOTER -->
  <div id="map-footer" class="map-footer">
    <div class="map-logos">
      <li>
        <a href="https://www.google.com/maps/@15,-2.970703,3z?hl=es" class="map-logo google-logo" target="_blank">
          <img src="/assets/backgrounds/google-logo-map.png" alt="Google Maps" title="Google Maps"/>
        </a>
      </li>
      <li>
        <a href="https://earthengine.google.org'" class="map-logo gee-logo" target="_blank">
          <img src="/assets/backgrounds/gee-logo-map.png" alt="Powered by Google Earth Engine" title="Powered by Google Earth Engine"/>
        </a>
      </li>
      <li>
        <a href="http://www.carto.com" class="map-logo cartodb-logo" target="_blank">
          <img src="/assets/backgrounds/cartodb-logo-map.png" alt="CartoDB" title="CartoDB"/>
        </a>
      </li>
      <%#<li>
        <a href="https://www.urthecast.com/" class="map-logo uc-logo" target="_blank" id="uc-logo-map">
          <img src="/assets/backgrounds/urthecast-logo-map.png" alt="UrtheCast High Resolution Imagery" title="UrtheCast High Resolution Imagery"/>
        </a>
      </li>%>
    </div>
    <button class="btn medium footer-toggle" id="footerToggle">Show footer</button>
  </div>
</section>

<div id="guide-container"></div>
