<section class='map-container'>
  <div id='map' class='map'></div>

  <!-- <div id="spinner_tiles"></div> -->
  <div id="viewfinder" class="map-viewfinder"></div>

  <div class="map-latlng"></div>




  <!-- MODULES -->
  <div id="module-legend" class="module module-legend module-toggle hide"></div>
  <div id="module-tabs" class="module module-tabs module-toggle hide"></div>
  <div id="module-map-controls" class="module module-mapcontrols"></div>

  <!-- CONTROLS -->
  <div id="control-searchbox" class="control-searchbox"></div>


  <!-- FOOTER -->
  <div class="map-logos">
    <a href="http://www.cartodb.com" class="map-logo cartodb-logo" target="_blank">
      <img src="http://cartodb.s3.amazonaws.com/static/new_logo.png" alt="CartoDB" title="CartoDB"/>
    </a>
    <a href="https://earthengine.google.org'" class="map-logo gee-logo" target="_blank">
      <img style="position:relative; top:5px;" src="/assets/backgrounds/gee-transparent.png" alt="Powered by Google Earth Engine" title="Powered by Google Earth Engine"/>
    </a>
  </div>
  <button class="btn dark medium footer-toggle" id="footerToggle">Show footer</button>
</section>
<section id="analysis-subscribe"></section>
