<!-- Modals -->
<div id="window" class="source_window">
  <a href="#" class="close"><svg><use xlink:href="#shape-close"></use></svg></a>
  <div class="content-wrapper scroll-dark">
    <div class="content" tabindex="0"></div>
  </div>
</div>
<div id="backdrop" class="backdrop"></div>

<!-- Mobile-Friendly -->
<div id="window-bottom" class="source_window_bottom">
  <a href="#" class="close"><svg><use xlink:href="#shape-close"></use></svg></a>
  <div class="content-wrapper scroll-dark">
    <article id="accept_terms">
      <div class="terms-modal">
        <h2>Warning</h2>
        <div class='source_body'>
          <p class="notranslate">The page you're trying to access is not mobile optimized</p>
          <div class="terms-form">
            <div class="row">
              <button class="btn gray uppercase close">Cancel</button>
              <a id="set-link" class="btn green uppercase" href="">Continue</a>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
<div id="backdrop" class="backdrop"></div>
