<!-- Modals -->
<div id="window" class="mod-modal-window">
  <a href="#" class="close"><svg><use xlink:href="#shape-close"></use></svg></a>
  <div class="content" tabindex="0"></div>
</div>
<div id="backdrop" class="backdrop"></div>
