<!-- Modals -->
<div id="window" class="source_window">
  <a href="#" class="close"><svg><use xlink:href="#shape-close"></use></svg></a>
  <div class="content-wrapper scroll-dark">
    <div class="content" tabindex="0"></div>
  </div>
</div>

<!-- Notifications -->
<div id="notifications" class="notifications">
  <a href="#" class="close"><svg><use xlink:href="#shape-close"></use></svg></a>
  <div class="content"></div>
</div>

<!-- Mobile-Friendly -->
<div id="window-bottom" class="source_window_bottom">
  <a href="#" class="close"><svg><use xlink:href="#shape-close"></use></svg></a>
  <div class="content-wrapper scroll-dark"></div>
</div>
<div id="backdrop" class="backdrop"></div>
