<h1><a href="/">Global Forest Watch</a></h1>    
<nav>
  <ul>
    <li>
      <a href="#">Applications</a>
      <ul class="submenu">
        <li><a href="/map">Explore the map</a></li>
        <li><a href="/countries">Countries profiles + rankings</a></li>
        <li><a href="http://fires.globalforestwatch.org/">Fires</a></li>
        <li><a href="http://commodities.globalforestwatch.org/">Commodities</a></li>
        <li><a href="http://blog.globalforestwatch.org/">Blog</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Keep Updated</a>
      <ul class="submenu">
        <li><a href="#">GFW Blog</a></li>
        <li><a href="#">Crowdsourced Stories</a></li>
        <li><a href="#">Receive Alerts</a></li>
        <li><a href="#">Discussion Forum</a></li>
        <li><a href="#">Publications</a></li>
        <li><a href="#">Sign up for Newsletter</a></li>
      </ul>

    </li>
    <li>
      <a href="#">Get involved</a>
      <ul class="submenu">
        <li><a href="#">Small Grants Fund</a></li>
        <li><a href="#">Developer Tools</a></li>
        <li><a href="#">Submit a Story</a></li>
        <li><a href="#">Join the Discussion</a></li>
        <li><a href="#">Share your Data</a></li>
        <li><a href="#">Crowdsourcing Tools</a></li>
        <li><a href="#">Provide Feedback</a></li>
      </ul>
    </li>
    <li>
      <a href="#">About</a>
      <ul class="submenu">
        <li><a href="#">How to</a></li>
        <li><a href="#">The GFW Partnership</a></li>
        <li><a href="#">Videos</a></li>
        <li><a href="#">Awards & Testimonials</a></li>
        <li><a href="#">Outcomes</a></li>
      </ul>
    </li>
  </ul>
</nav>
