<% if content_for?(:header) %>
  <%= yield :header %>
<% else %>
  <h1>
    <a href="/">Global Forest Watch</a>
  </h1>
  <nav id="nav-mobile">
    <form class="mobile-show" action="/search">
      <svg class="icon"><use xlink:href="#shape-search"></use></svg>
      <input type="text" name="query" id="search-input" placeholder="Search GFW website">
    </form>
    <div id="google_translate_element_box2"></div>
    <div id="mobileMenu"></div>
    <ul class="mobile-hide">
      <li>
        <span class="submenu-header" href="/explore">Explore</span>
        <ul class="submenu">
          <li><a href="/map">GFW Interactive Map</a></li>
          <li><a href="/countries">Countries</a></li>
          <li><a href="http://commodities.globalforestwatch.org/">Commodities</a></li>
          <li><a href="http://fires.globalforestwatch.org/">Fires</a></li>
          <li><a href="http://climate.globalforestwatch.org/">Climate</a></li>
          <li><a href="http://data.globalforestwatch.org/">Open Data Portal</a></li>
          <li><a href="http://developers.globalforestwatch.org/gallery/">All applications</a></li>
        </ul>
      </li>
      <li>
        <span class="submenu-header" href="/stayinformed">Learn</span>
        <ul class="submenu">
          <li><a href="http://blog.globalforestwatch.org/">Blog</a></li>
          <li><a href="/stories">Crowdsourced stories</a></li>
          <li><a class="newsletter-link" href="/stayinformed/newsletter">Newsletter</a></li>
          <li><a href="/howto">How to use GFW</a></li>
        </ul>

      </li>
      <li>
        <span class="submenu-header" href="/getinvolved">Get involved</span>
        <ul class="submenu">
          <li><a href="/developers-corner/">Develop your own app</a></li>
          <li><a href="/stories/new">Submit a story</a></li>
          <li><a href="https://groups.google.com/forum/#!forum/globalforestwatch" target="_blank">Join the discussion</a></li>
          <li><a href="/small-grants-fund">Apply to the Small Grants Fund</a></li>
          <li><a class="feedback-link" href="/getinvolved/provide-feedback">Provide feedback</a></li>
          <li><a href="/contribute-data">Add data to GFW</a></li>
        </ul>
      </li>
      <li>
        <a class="submenu-header <% if controller?("static") && action?("about") %>current<% end %>" href="/about">About</a>
        <ul class="submenu">
          <li><a href="/about/about-gfw">About GFW</a></li>
          <li><a href="/about/the-gfw-partnership">The GFW partnership</a></li>
          <li><a href="/about/videos">Videos</a></li>
          <li><a href="/about/awards_and_testimonials">Awards & testimonials</a></li>
          <li><a href="/about/data_policy">Data policy</a></li>
          <li><a href="/about/contact_us">Contact us & feedback</a></li>
        </ul>
      </li>
    </ul>
  </nav>
<% end %>
