<% if content_for?(:header) %>
  <%= yield :header %>
<% else %>
  <h1><a href="/">Global Forest Watch</a></h1>
  <nav id="nav-mobile">
    <form class="mobile-show" action="/search">
      <svg class="icon"><use xlink:href="#shape-search"></use></svg>
      <input type="text" name="query" id="search-input" placeholder="Search">
    </form>
    <div id="google_translate_element_box2"></div>
    <ul>
      <li>
        <a <% if controller?("static") && action?("applications") %>class="current"<% end %> href="/applications">Applications</a>
        <ul class="submenu">
          <li><a href="/applications">GFW applications</a></li>
          <li><a href="/applications">Coming soon</a></li>
          <li><a href="/applications">Other applications</a></li>
        </ul>
      </li>
      <li>
        <a <% if controller?("static") && action?("keep") %>class="current"<% end %> href="/keepupdated">Keep Updated</a>
        <ul class="submenu">
          <li><a href="http://blog.globalforestwatch.org/">Blog</a></li>
          <li><a href="/keepupdated/receive-tree-cover-change-alerts">Monitor an area of interest</a></li>
          <li><a href="/keepupdated/crowdsourced-stories">Crowdsourced stories</a></li>
          <li><a href="http://www.wri.org/global-forest-watch-stay-informed" target="_blank">Newsletter</a></li>
          <li><a href="/keepupdated/publications">Publications</a></li>
<!--           <li><a href="/keepupdated/newsletter">Sign up for Newsletter</a></li>
          <li><a href="/keepupdated/coming-soon">Coming soon</a></li> -->
        </ul>

      </li>
      <li>
        <a <% if controller?("static") && action?("getinvolved") %>class="current"<% end %> href="/getinvolved">Get involved</a>
        <ul class="submenu">
          <li><a href="/getinvolved/develop-your-own-app">Develop your own app</a></li>
          <li><a href="/stories/new">Submit a story</a></li>
          <li><a href="/getinvolved/share-your-data">Share data</a></li>
          <li><a href="/getinvolved/validate-data">Validate data</a></li>
          <li><a href="https://groups.google.com/forum/#!forum/globalforestwatch" target="_blank">Join the discussion</a></li>
          <li><a href="/getinvolved/apply-to-the-small-grants-fund">Apply to the Small Grants Fund</a></li>
          <li><a href="/getinvolved/provide-feedback" target="_blank">Provide feedback</a></li>
        </ul>
      </li>
      <li>
        <a <% if controller?("static") && action?("howto") %>class="current"<% end %> href="/howto">How to</a>
        <ul class="submenu">
          <li><a href="/howto/general_questions">General FAQs</a></li>
          <li><a href="/howto/terminology">Terminology FAQs</a></li>
          <li><a href="/howto/data">Data FAQs</a></li>
          <li><a href="/howto/web_platform">Web platform FAQs</a></li>
        </ul>
      </li>
      <li>
        <a <% if controller?("static") && action?("about") %>class="current"<% end %> href="/about">About</a>
        <ul class="submenu">
          <li><a href="/about/about-gfw">About GFW</a></li>
          <li><a href="/about/the-gfw-partnership">The GFW partnership</a></li>
          <li><a href="/about/videos">Videos</a></li>
          <li><a href="/about/awards_and_testimonials">Awards & testimonials</a></li>
          <li><a href="/about/outcomes">Outcomes</a></li>
          <li><a href="/about/contact-us">Contact us</a></li>
        </ul>
      </li>
    </ul>
  </nav>
<% end %>
