<nav class="first-nav">
  <div>
    <ul>
      <li class="nav-item"><a class="shape-house <% if controller?("landing") %>current<% end %>" href="/"><svg class="icon shape-house"><use xlink:href="#shape-house"></use></svg><span class="tooltip1">Home</span></a></li>
      <li class="nav-item"><a class="shape-world <% if controller?("map") %>current<% end %>" href="/map"><svg class="icon shape-world"><use xlink:href="#shape-world"></use></svg><span class="tooltip1"><em class="mobile-hide">GFW Interactive</em> Map</span></a></li>
      <li class="nav-item"><a class="shape-country <% if controller?("countries") %>current<% end %>" href="/countries"><svg class="icon shape-country"><use xlink:href="#shape-country"></use></svg><span class="tooltip1">Country <em class="mobile-hide">profiles & rankings</em></span></a></li>
      <li class="nav-item"><a class="shape-fire" href="http://staging.blueraster.com/wri/gfw-fires/#v=map&x=&y=&l=&lyrs=Active_Fires" ><svg class="icon shape-fire"><use xlink:href="#shape-fire"></use></svg><span class="tooltip1">Fires</span></a></li>
      <li class="nav-item"><a class="shape-commodities" href="http://staging.blueraster.com/wri/gfw-commodities/#v=map&lyrs=tcc%2Closs" ><svg class="icon shape-commodities"><use xlink:href="#shape-commodities"></use></svg><span class="tooltip1">Commodities</span></a></li>
      <li class="nav-item"><a class="shape-blog" href="http://wp-wri-staging.herokuapp.com/"><svg class="icon shape-blog"><use xlink:href="#shape-blog"></use></svg><span class="tooltip1">Blog</span></a></li>
    </ul>
  </div>
  <button class="btn-menu mobile-show" id="btn-menu">
    <svg class="icon hamburguer"><use xlink:href="#shape-hamburger"></use></svg>
    <svg class="icon close"><use xlink:href="#shape-close"></use></svg>
  </button>
</nav>
<nav class="second-nav mobile-hide">
  <div>
    <ul>
      <li class="nav-item">
        <a href="/howto" class="link <% if controller?("static") && action?("howto") %>current<% end %>">
          <svg class="icon"><use xlink:href="#shape-help"></use></svg>
          <span>How to</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/data" class="link <% if controller?("static") && action?("data") %>current<% end %>">
          <div class="home_data link">
            <svg class="icon"><use xlink:href="#shape-download"></use></svg>
            <span>Download data</span>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <div class="link">
          <svg class="icon"><use xlink:href="#shape-hamburger"></use></svg>
          <span>Menu</span>
        </div>
        <ul class="submenu-tooltip top">
          <li><a href="/applications">Applications</a></li>
          <li><a href="/keepupdated">Keep updated</a></li>
          <li><a href="/getinvolved">Get involved</a></li>
          <li><a href="/howto">How to</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <div class="link">
          <form action="/search">
            <svg class="icon"><use xlink:href="#shape-search"></use></svg>
            <input type="text" name="query" id="search-input" placeholder="Search GFW website">
          </form>
        </div>
      </li>
      <li id="google_translate_element_box1"><div id="google_translate_element"></div></li>
    </ul>
  </div>
</nav>
