<% if content_for?(:header) %>
  <%= yield :header %>
<% else %>
  <h1><a href="/">Global Forest Watch</a></h1>
  <button class="btn-menu" id="btn-menu">
    <svg class="icon hamburguer"><use xlink:href="#shape-hamburger"></use></svg>
    <svg class="icon close"><use xlink:href="#shape-close"></use></svg>
  </button>

  <nav id="nav-mobile">
    <form class="mobile-show" action="/search">
      <svg class="icon"><use xlink:href="#shape-search"></use></svg>
      <input type="text" name="query" id="search-input" placeholder="Search">
    </form>
    <div id="google_translate_element_box2"></div>
    <ul>
      <li>
        <a href="/applications">Applications</a>
        <ul class="submenu">
          <li><a href="/map">Explore the map</a></li>
          <li><a href="/countries">Countries profiles & rankings</a></li>
          <li><a href="http://staging.blueraster.com/wri/gfw-fires/#v=home&x=&y=&l=&lyrs=&dirty=true"  target="_blank">Fires</a></li>
          <li><a href="http://staging.blueraster.com/wri/gfw-commodities/#v=home"  target="_blank">Commodities</a></li>
        </ul>
      </li>
      <li>
        <a href="/keepupdated">Keep Updated</a>
        <ul class="submenu">
          <li><a href="http://blog.globalforestwatch.org/">GFW Blog</a></li>
          <li><a href="/keepupdated/crowdsourced-stories">Crowdsourced Stories</a></li>
          <li><a href="/keepupdated/receive-alerts">Receive Alerts</a></li>
          <li><a href="https://groups.google.com/forum/#!forum/globalforestwatch" target="_blank">Discussion Forum</a></li>
          <li><a href="/keepupdated/publications">Publications</a></li>
          <li><a href="/keepupdated/newsletter">Sign up for Newsletter</a></li>
          <li><a href="/keepupdated/coming-soon">Coming soon</a></li>
        </ul>

      </li>
      <li>
        <a href="/getinvolved">Get involved</a>
        <ul class="submenu">
          <li><a href="/getinvolved/small-grants-fund">Small Grants Fund</a></li>
          <li><a href="/getinvolved/develop-your-own-app">Develop your own app</a></li>
          <li><a href="/getinvolved/submit-a-story">Submit a Story</a></li>
          <li><a href="https://groups.google.com/forum/#!forum/globalforestwatch" target="_blank">Join the Discussion</a></li>
          <li><a href="/getinvolved/share-your-data">Share your Data</a></li>
          <li><a href="/getinvolved/crowdsourcing-tools">Crowdsourcing Tools</a></li>
          <li><a href="https://www.surveymonkey.com/s/S6B53DT" target="_blank">Provide Feedback</a></li>
        </ul>
      </li>
      <li>
        <a href="/howto">How to</a>
        <ul class="submenu">
          <li><a href="/howto/general_questions">General FAQS</a></li>
          <li><a href="/howto/terminology">Terminology FAQS</a></li>
          <li><a href="/howto/data">Data FAQS</a></li>
          <li><a href="/howto/web_platform">Web platform FAQS</a></li>
        </ul>
      </li>
      <li>
        <a href="/about">About</a>
        <ul class="submenu">
          <li><a href="/about/the-gfw-partnership">The GFW Partnership</a></li>
          <li><a href="/about/videos">Videos</a></li>
          <li><a href="/about/awards_and_testimonials">Awards & Testimonials</a></li>
          <li><a href="/about/outcomes">Outcomes</a></li>
        </ul>
      </li>
    </ul>
  </nav>
<% end %>
