<nav class="mod-navbar">
  <div id="google_translate_element"></div>

  <% if watch_cookie? %>
    <ul>
      <% paths = {
        "home" => root_path,
        "map" => map_path,
        "countries" => countries_path,
        "stories" => stories_path,
        "blog" => ENV['BLOG_HOST'],
        "data" => sources_path,
        "howto" => howto_path,
        "about" => about_path
      } %>

      <% %w(home map countries stories blog data howto about).each do |option| %>
        <% path = paths[option]
          option_class = request.path == path ? 'selected' : ''
          # exceptions
          option_class = "selected" if option == action_name && request.path.include?(paths[action_name])
          option_class = "selected" if controller_name == 'countries' && option == 'countries'
          option_class = "selected" if controller_name == 'stories' && option == 'stories'
          option_class = "#{option_class} #{option}"
          option_class = "#{option_class} ajax" if (
                                                    controller_name == 'home' &&
                                                    (option == 'home' || option == 'map')
                                                   )
        %>

        <li><%= link_to (content_tag(:span, t('header.nav.' + option ))), path, :class => option_class, :target => option == 'blog' ? '_blank' : '' %></li>
      <% end %>
      <li class="hidden"></li>
    </ul>
    <span class="hamburger" onclick="$('.mod-navbar ul, .mod-navbar .hamburger, .brand').toggleClass('show');"></span>
  <% end %>
</nav>
