<nav class="first-nav">
  <div class="scroll-none">
    <ul>
      <li class="nav-item">
        <a class="shape-house <% if controller?("landing") %>current<% end %>" href="/">
          <svg class="icon shape-house"><use xlink:href="#icon-h-home"></use></svg>
          <span class="tooltip1 dark">Home</span>
        </a>
      </li>
      <li id="btnAppsMenu" class="nav-item">

        <a class="shape-apps" href="/">
          <svg class="icon shape-apps"><use xlink:href="#icon-h-apps"></use></svg>
          <svg class="icon shape-close" style="display:none;"><use xlink:href="#icon-h-close"></use></svg>
          <span class="tooltip1 dark">Apps</span>
        </a>

        <ul id="appsSubmenu" class="apps-submenu">
          <li class="nav-item">
            <a class="shape-world <% if controller?("map") %>current<% end %>" href="/map">
              <div class="nav-item-wrap">
                <div class="nav-item-wrap-center">
                  <svg class="icon shape-world"><use xlink:href="#icon-h-map"></use></svg>
                  <span><em class="mobile-hide">GFW Interactive</em> Map</span>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="shape-country <% if controller?("countries") %>current<% end %>" href="/countries">
              <div class="nav-item-wrap">
                <div class="nav-item-wrap-center">
                  <svg class="icon shape-country"><use xlink:href="#icon-h-countryprofiles"></use></svg>
                  <span>Country <em class="mobile-hide">profiles & rankings</em></span>
                </div>
              </div>
            </a>
          </li>
<!--           <li class="nav-item">
            <a class="shape-blog" href="http://blog.globalforestwatch.org/">
              <div class="nav-item-wrap">
                <div class="nav-item-wrap-center">
                  <svg class="icon shape-blog"><use xlink:href="#icon-h-blog"></use></svg>
                  <span>Blog</span>
                </div>
              </div>
            </a>
          </li>
 -->          <li class="nav-item">
            <a class="shape-fire mobile-friendly" href="http://fires.globalforestwatch.org/" >
              <div class="nav-item-wrap">
                <div class="nav-item-wrap-center">
                  <svg class="icon shape-fire"><use xlink:href="#icon-h-fires"></use></svg>
                  <span>Fires</span>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="shape-commodities mobile-friendly" href="http://commodities.globalforestwatch.org/" >
              <div class="nav-item-wrap">
                <div class="nav-item-wrap-center">
                  <svg class="icon shape-commodities"><use xlink:href="#icon-h-commodities"></use></svg>
                  <span>Commodities</span>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="shape-climate mobile-friendly" href="http://climate.globalforestwatch.org/" >
              <div class="nav-item-wrap">
                <div class="nav-item-wrap-center">
                  <svg class="icon shape-climate"><use xlink:href="#icon-h-climate"></use></svg>
                  <span>Climate</span>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="shape-data mobile-friendly" href="http://data.globalforestwatch.org/" >
              <div class="nav-item-wrap">
                <div class="nav-item-wrap-center">
                  <svg class="icon shape-data"><use xlink:href="#icon-h-downloaddata"></use></svg>
                  <span>Download data</span>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="shape-develop" href="/getinvolved/develop-your-own-app" >
              <div class="nav-item-wrap">
                <div class="nav-item-wrap-center">
                  <svg class="icon shape-develop"><use xlink:href="#icon-h-develop"></use></svg>
                  <span>Develop your own app</span>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="shape-all-apps" href="/explore/applications" >
              <div class="nav-item-wrap">
                <div class="nav-item-wrap-center">
                  <svg class="icon shape-all-apps"><use xlink:href="#icon-h-all-apps"></use></svg>
                  <span>Explore all apps</span>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <button class="btn-menu mobile-show" id="btn-menu">
    <svg class="icon hamburguer"><use xlink:href="#icon-h-menu"></use></svg>
    <svg class="icon close"><use xlink:href="#icon-h-close"></use></svg>
    <span>Menu</span>
  </button>
</nav>
<nav class="second-nav mobile-hide">
  <div>
    <ul>
      <li class="nav-item">
        <a href="/howto" class="link <% if controller?("static") && action?("howto") %>current<% end %>">
          <svg class="icon"><use xlink:href="#icon-h-howto"></use></svg>
          <span>How to</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="http://data.globalforestwatch.org/" class="link <% if controller?("static") && action?("data") %>current<% end %>">
          <div class="home_data link">
            <svg class="icon"><use xlink:href="#icon-h-downloaddata"></use></svg>
            <span>Download data</span>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <div class="link">
          <svg class="icon"><use xlink:href="#icon-h-menu"></use></svg>
          <span>Menu</span>
        </div>
        <ul class="submenu-tooltip top">
          <li><a href="/explore">Explore</a></li>
          <li><a href="/stayinformed">Stay informed</a></li>
          <li><a href="/getinvolved">Get involved</a></li>
          <li><a href="/howto">How to</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </li>
<!--       <li class="nav-item">
        <a href="/my_gfw" class="link">
          <svg class="icon"><use xlink:href="#icon-h-mygfw"></use></svg>
          <span>My GFW</span>
        </a>
        <ul class="submenu-tooltip top">
          <li><a href="#" id="connect-my-gfw">Log in</a></li>
        </ul>
      </li> -->
      <li class="nav-item">
        <div class="link">
          <form action="/search">
            <svg class="icon"><use xlink:href="#icon-h-search"></use></svg>
            <input type="text" name="query" id="search-input" placeholder="Search GFW website">
          </form>
        </div>
      </li>
      <li id="google_translate_element_box1"><div id="google_translate_element"></div></li>
    </ul>
  </div>
</nav>
<script>
  if (! !!window.gfw) {
    var gfw = window.gfw = {
      config: {
        GFW_API_HOST: "<%= ENV['GFW_API_HOST'] %>",
        GFW_MOBILE: 1000
      },
      cacheVersion: "<%= ENV['CACHE_VERSION'] %>",
      layer_spec: "<%= ENV['LAYER_SPEC'] %>"
    };
  }
</script>
