<nav class="first-nav">
  <ul>
    <li class="nav-item"><a href="/"><svg class="icon shape-house"><use xlink:href="#shape-house"></use></svg><span class="tooltip">Home</span></a></li>
    <li class="nav-item"><a href="/map"><svg class="icon shape-world"><use xlink:href="#shape-world"></use></svg><span class="tooltip">Map</span></a></li>
    <li class="nav-item"><a href="/countries"><svg class="icon shape-country"><use xlink:href="#shape-country"></use></svg><span class="tooltip">Country</span></a></li>
    <li class="nav-item"><a href="http://fires.globalforestwatch.org/" target="_blank"><svg class="icon shape-fire"><use xlink:href="#shape-fire"></use></svg><span class="tooltip">Fires</span></a></li>
    <li class="nav-item"><a href="http://commodities.globalforestwatch.org/" target="_blank"><svg class="icon shape-commodities"><use xlink:href="#shape-commodities"></use></svg><span class="tooltip">Commodities</span></a></li>
    <li class="nav-item"><a href="http://blog.globalforestwatch.org/" target="_blank"><svg class="icon shape-blog"><use xlink:href="#shape-blog"></use></svg><span class="tooltip">Blog</span></a></li>
  </ul>
</nav>
<nav class="second-nav">
  <ul>
    <li class="nav-item">
      <div class="link">
        <a href="http://data.gfw.opendata.arcgis.com/datasets" target="_blank" class="home_data">
          <svg class="icon"><use xlink:href="#shape-download"></use></svg>
          <span>Download data</span>
        </a>
      </div>
      <ul class="submenu-tooltip top">
        <li><a href="#">Data policy</a></li>
        <li><a href="http://data.gfw.opendata.arcgis.com/datasets" target="_blank">GFW on ArcGIS Online</a></li>
        <li><a href="#">GFW on Google Earth Engine</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <div class="link" href="/">
        <svg class="icon"><use xlink:href="#shape-hamburger"></use></svg>
        <span>Menu</span>
      </div>
      <ul class="submenu-tooltip top">
        <li><a href="#">Applications</a></li>
        <li><a href="#">Keep Updated</a></li>
        <li><a href="#">Get Involved</a></li>
        <li><a href="#">How to</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <div class="link">
        <form action="/search">
          <svg class="icon"><use xlink:href="#shape-search"></use></svg>
          <input type="text" name="query" id="search-input" placeholder="Search">
        </form>
      </div>
    </li>
    <li id="google_translate_element_box1"><div id="google_translate_element"></div></li>
  </ul>
</nav>
