<nav class="first-nav">
  <ul>
    <li class="nav-item"><a href="/"><svg class="icon shape-house"><use xlink:href="#shape-house"></use></svg><span>Home</span></a></li>
    <li class="nav-item"><a href="/map"><svg class="icon shape-world"><use xlink:href="#shape-world"></use></svg><span>Map</span></a></li>
    <li class="nav-item"><a href="/countries"><svg class="icon shape-country"><use xlink:href="#shape-country"></use></svg>Country</a></li>
    <li class="nav-item"><a href="http://fires.globalforestwatch.org/" target="_blank"><svg class="icon shape-fire"><use xlink:href="#shape-fire"></use></svg><span>Fires</span></a></li>
    <li class="nav-item"><a href="http://commodities.globalforestwatch.org/" target="_blank"><svg class="icon shape-commodities"><use xlink:href="#shape-commodities"></use></svg><span>Commodities</span></a></li>
    <li class="nav-item"><a href="http://blog.globalforestwatch.org/" target="_blank"><svg class="icon shape-blog"><use xlink:href="#shape-blog"></use></svg><span>Blog</span></a></li>
  </ul>
</nav>
<nav class="second-nav">
  <ul>
    <li class="nav-item"><div class="link" href="/"><svg class="icon"><use xlink:href="#shape-download"></use></svg><span>Download data</span></div></li>
    <li class="nav-item">
      <div class="link" href="/">
        <svg class="icon"><use xlink:href="#shape-hamburger"></use></svg>
        <span>Menu</span>
      </div>
      <ul class="submenu-tooltip top">
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
      </ul>
    </li>
    <li class="nav-item"><div class="link" href="#"><svg class="icon"><use xlink:href="#shape-search"></use></svg> <input type="text" id="search-input" placeholder="Search"></div></li>
    <li><div id="google_translate_element"></div></li>
  </ul>
</nav>
