<% if content_for?(:header) %>
  <%= yield :header %>
<% else %>
  <h1><a href="/">Global Forest Watch</a></h1>
  <nav id="nav-mobile">
    <form class="mobile-show" action="/search">
      <svg class="icon"><use xlink:href="#shape-search"></use></svg>
      <input type="text" name="query" id="search-input" placeholder="Search GFW website">
    </form>
    <div id="google_translate_element_box2"></div>
    <div id="mobileMenu"></div>
    <ul class="mobile-hide">
      <li>
        <a <% if controller?("static") && action?("explore") %>class="current"<% end %> href="/explore">Explore</a>
        <ul class="submenu">
          <li><a href="/map">GFW Interactive Map</a></li>
          <li><a href="/countries">Country Profiles & Rankings</a></li>
          <li><a href="http://commodities.globalforestwatch.org/">Commodities</a></li>
          <li><a href="http://fires.globalforestwatch.org/">Fires</a></li>
          <li><a href="/explore/applications">All applications</a></li>
          <li><a href="http://data.globalforestwatch.org/">Download data</a></li>
        </ul>
      </li>
      <li>
        <a <% if controller?("static") && action?("keep") || controller?("stories") && action?("show") %>class="current"<% end %> href="/stayinformed">Stay informed</a>
        <ul class="submenu">
          <li><a href="http://blog.globalforestwatch.org/">Blog</a></li>
          <li><a href="/stayinformed/crowdsourced-stories">Crowdsourced stories</a></li>
          <li><a href="http://www.wri.org/global-forest-watch-stay-informed" target="_blank">Newsletter</a></li>
          <li><a href="/stayinformed/publications">Publications</a></li>
        </ul>

      </li>
      <li>
        <a <% if controller?("static") && action?("getinvolved") || controller?("stories") && action?("new") %>class="current"<% end %> href="/getinvolved">Get involved</a>
        <ul class="submenu">
          <li><a href="/getinvolved/develop-your-own-app">Develop your own app</a></li>
          <li><a href="/stories/new">Submit a story</a></li>
          <li><a href="/getinvolved/share-data">Share data</a></li>
          <li><a href="/getinvolved/help-improve-data">Help improve data</a></li>
          <li><a href="https://groups.google.com/forum/#!forum/globalforestwatch" target="_blank">Join the discussion</a></li>
          <li><a href="/getinvolved/apply-to-the-small-grants-fund">Apply to the Small Grants Fund</a></li>
          <li><a href="/getinvolved/provide-feedback">Provide feedback</a></li>
          <li><a href="/getinvolved/help-improve-translations">Help improve translations</a></li>
        </ul>
      </li>
      <li>
        <a <% if controller?("static") && action?("howto") %>class="current"<% end %> href="/howto">How to</a>
        <ul class="submenu">
          <li><a href="/howto/view-data">Visualize data</a></li>
          <li><a href="/howto/view-statistics">View statistics</a></li>
          <li><a href="/howto/analyze-forest-change">Analyze forest change</a></li>
          <li><a href="/howto/subscribe-to-alerts-and-user-stories">Subscribe to alerts and user stories</a></li>
          <li><a href="/howto/submit-a-story">Submit a story</a></li>
          <li><a href="/howto/odp">Open Data Portal</a></li>
          <li><a href="/howto/faqs">FAQs</a></li>
        </ul>
      </li>
      <li>
        <a <% if controller?("static") && action?("about") %>class="current"<% end %> href="/about">About</a>
        <ul class="submenu">
          <li><a href="/about/about-gfw">About GFW</a></li>
          <li><a href="/about/the-gfw-partnership">The GFW partnership</a></li>
          <li><a href="/about/videos">Videos</a></li>
          <li><a href="/about/awards_and_testimonials">Awards & testimonials</a></li>
          <li><a href="/about/data_policy">Data policy</a></li>
          <li><a href="/about/contact-us">Contact us</a></li>
        </ul>
      </li>
      <li><a href="http://api.globalforestwatch.org/auth/twitter">Log in</a></li>
    </ul>
  </nav>
<% end %>
