<nav class="mod-navbar">
  <ul>
    <li>
      <a href="/">
        <svg class="icon"><use xlink:href="#shape-house"></use></svg>
        Home
      </a>
    </li>  
    <li>
      <a href="/map">
        <svg class="icon"><use xlink:href="#shape-world"></use></svg>
        Map
      </a>
    </li>
    <li>
      <a href="/countries">
        <svg class="icon"><use xlink:href="#shape-country"></use></svg>
        Country
      </a>
    </li>
    <li>
      <a href="http://fires.globalforestwatch.org/" target="_blank">
        <svg class="icon"><use xlink:href="#shape-fire"></use></svg>
        Fires
      </a>
    </li>
    <li>
      <a href="http://commodities.globalforestwatch.org/" target="_blank">
        <svg class="icon"><use xlink:href="#shape-commodities"></use></svg>
        Commodities
      </a>
    </li>
    <li>
      <a href="http://blog.globalforestwatch.org/" target="_blank">
        <svg class="icon"><use xlink:href="#shape-commodities"></use></svg>
        Blog
      </a>
    </li>
  </ul>

  <!-- <div id="google_translate_element"></div> -->
</nav>
