<section class="hidden">
  <!-- EXAMPLES -->
  <div id="success-example" data-type="success">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div id="info-example" data-type="info">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div id="error-example" data-type="error">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div id="warning-example" data-type="warning">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>

  <!-- MAP -->
  <div id="country-choose" data-type="info">
    <p>You should choose a country first. <button class="btn little white action" data-action="#countries-tab-button">Choose a country</button></p>
  </div>
  <div id="country-not-layers" data-type="info">
    <p>This country doesn't have own layers</p>
  </div>
  <div id="email-incorrect" data-type="error">
    <p>Please enter a valid email address.</p>
  </div>



</section>
