<%= render 'shared/icons/svg_icons_notifications' %>

<section class="hidden">
  <!-- EXAMPLES -->
  <div id="success-example" data-type="success">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
  </div>
  <div id="info-example" data-type="info">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
  </div>
  <div id="error-example" data-type="error">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
  </div>
  <div id="warning-example" data-type="warning">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
  </div>


  <!-- MAP -->
  <div id="notification-select-forest-change-layer" data-type="warning">
    <p>Please turn on a Forest Change layer to analyze before using the analysis tool.</p>
  </div>
  <div id="notification-select-forest-change-layer-subscription" data-type="warning">
    <p>Please turn on a Forest Change layer that allows subscription before using the subscription tool.</p>
  </div>
  <div id="notification-delete-analysis" data-type="error">
    <p>Please discard your current analysis <button class="btn little white action" data-action="Analysis/delete">Discard analysis</button></p>
  </div>
  <div id="notification-enable-location" data-type="warning">
    <p>Please enable location services for this site to find your location on the map and reload the page</p>
  </div>
  <div id="notification-download-analysis" data-type="warning">
    <p>Download is not currently available for this layer</p>
  </div>
  <div id="notification-file-not-valid" data-type="error">
    <p>File not valid <button class="btn little white source" data-source="drop-shapefile">More info</button></p>
  </div>
  <div id="notification-multilayer-not-supported" data-type="error">
    <p>Multilayer geometries not supported <button class="btn little white source" data-source="drop-shapefile">More info</button></p>
  </div>
  <div id="notification-file-corrupt" data-type="error">
    <p>File(s) corrupt <button class="btn little white source" data-source="drop-shapefile">More info</button></p>
  </div>
  <div id="notification-over-limit" data-type="error">
    <p>File exceedes feature limit <button class="btn little white source" data-source="drop-shapefile">More info</button></p>
  </div>
  <div id="notification-empty-analysis" data-type="warning">
    <p>No data available for this analysis</p>
  </div>


  <!-- STORIES -->
  <div id="notification-limit-exceed" data-type="error">
    <p>File size exceeds the allowable limit that is fixed in 4 MB</p>
  </div>
  <div id="notification-upload-success-server" data-type="success">
    <p>Your file has been uploaded correctly</p>
  </div>
  <div id="notification-upload-error-server" data-type="error">
    <p>Sorry, there was an error uploading the file, please retry</p>
  </div>
  <div id="notif-not-a-correct-youtube-link" data-type="error">
    <p>The YouTube link you have entered is incorrect</p>
  </div>
  <div id="story-new-form-error" data-type="error">
    <p>Sorry, there was an error submitting your story.</p>
  </div>

  <!-- CONTRIBUTION -->
  <div id="contribution-new-form-success" data-type="success">
    <p>Thank you! A confirmation email has been sent to the email address you provided.</p>
  </div>
  <div id="contribution-new-form-error" data-type="error">
    <p>Sorry, there was an error submitting your contribution.</p>
  </div>
  <div id="contribution-limit-exceed" data-type="error">
    <p>File size exceeds the allowable limit that is fixed in 2 GB</p>
  </div>



  <!-- DOWNLOAD -->
  <div id="notification-email-send" data-type="success">
    <p>A link has been sent to your inbox</p>
  </div>
  <div id="notification-email-incorrect" data-type="error">
    <p>Please enter a valid email address</p>
  </div>


  <!-- SHARE -->
  <div id="notification-clipboard-support" data-type="error">
    <p>This browser does not support clipboard access, please update</p>
  </div>


  <!-- HIGH RES -->
  <div id="notification-zoom-not-reached" data-type="warning">
    <p>Please move to zoom level 9 to activate this imagery. <button class="btn little white action" data-action="Map/set-zoom" data-options="9">Move to zoom 9</button></p>
  </div>
  <div id="notification-no-images-highres" data-type="error">
    <p>No imagery is available in this area for the selected time period and settings.</p>
  </div>
  <div id="notification-zoom-go-back" data-type="warning">
    <p>We are zooming the map to overlay recent satellite imagery. <button class="btn little white action" data-action="ReactMap/zoom-go-back">Cancel</button></p>
  </div>


  <!-- SOURCE MAP -->
  <div id="notification-no-metadata" data-type="error">
    <p>Sorry, there was an error getting the info, please retry</p>
  </div>


  <!-- USER && SUBSCRIPTIONS -->
  <div id="notification-my-gfw-profile-saved" data-type="success">
    <p>Your profile has been saved.</p>
  </div>

  <div id="notification-my-gfw-profile-errors" data-type="error">
    <p>Please check the information you've entered.</p>
  </div>

  <div id="notification-my-gfw-profile-incomplete" data-type="error">
    <p>Please fill in the missing information in your profile.</p>
  </div>

  <div id="notification-my-gfw-subscription-correct" data-type="success">
    <p>Your subscription has been saved correctly.</p>
  </div>

  <div id="notification-my-gfw-subscription-correct2" data-type="success">
    <p>Subscription saved.</p>
    <p>This subscription has been added to your profile. Please check your email and click on the link to confirm your subscription.</p>
    <p><a href="/contribute-data" target="_blank" class="btn medium gray uppercase">Add this data to the map</a></p>
  </div>

  <div id="notification-my-gfw-subscription-incorrect" data-type="error">
    <p>Sorry, there was an error submitting your subscription.</p>
  </div>

  <div id="notification-my-gfw-subscription-confirmed" data-type="success">
    <p>Your subscription has been confirmed.</p>
  </div>

  <div id="notification-my-gfw-subscription-dataset-required" data-type="error">
    <p>You must select at least one data set</p>
  </div>

  <div id="notification-my-gfw-subscription-confirmation-sent" data-type="success">
    <p>A subscription confirmation email has been sent to you.</p>
  </div>

  <div id="notification-my-gfw-subscription-deleted" data-type="success">
    <p>Your subscription has been removed and you will no longer receive emails for it.</p>
  </div>

  <div id="notification-my-gfw-subscription-migrated" data-type="success">
    <p>Your previous subscriptions have been migrated to this account, and you will continue to receive forest change alerts as normal.</p>
  </div>

  <div id="notification-my-gfw-not-logged" data-type="error">
    <p>You are logged out of GFW. Please log in to continue.</p>
  </div>

</section>
