<div class="mod-notice">
  <div class="row">
    <div class="grid-12">

      <p>A partnership convened by the <a href="http://www.wri.org" target="_blank">World Resources Institute</a></p>

    </div>
  </div>
</div>
