<section class="hidden">
  <!-- EXAMPLES -->
  <div id="success-example" data-type="success">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
  </div>
  <div id="info-example" data-type="info">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
  </div>
  <div id="error-example" data-type="error">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
  </div>
  <div id="warning-example" data-type="warning">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
  </div>

  <!-- MAP -->
  <div id="not-country-has-layers" data-type="info">
    <p>This country has his own layers</p>
  </div>
  <div id="not-country-choose" data-type="info">
    <p>You must select a country</p>
  </div>
  <div id="not-country-not-has-layers" data-type="info">
    <p>No country data is available</p>
  </div>
  <div id="not-select-forest" data-type="info">
    <p>You must select a forest change layer</p>
  </div>
  <div id="email-incorrect" data-type="error">
    <p>Please enter a valid email address</p>
  </div>
  <div id="not-delete-analysis" data-type="info">
    <p>Please discard your current analysis <button class="btn little white action" data-action="#analysis-delete">Discard analysis</button></p>
  </div>
  <div id="notif-enable-location" data-type="info">
    <p>Please enable location services for this site to find your location on the map and reload the page</p>
  </div>
  <div id="notif-limit-exceed" data-type="error">
    <p>File size exceeds the allowable limit that is fixed in 4 MB</p>
  </div>
  <div id="upload-error-server" data-type="error">
    <p>Sorry, there was an error uploading the picture, please retry</p>
  </div>
  <div id="not-email-send" data-type="success">
    <p>A link has been sent to your inbox</p>
  </div>
  <div id="not-clipboard-support" data-type="info">
    <p>This browser does not support clipboard access, please update</p>
  </div>
  <div id="coordinates-not-standard" data-type="info">
    <p>The provided coordinated has not the 0°0'0"NSEW standard. Using the Address searchbox instead.</p>
  </div>
  <div id="open-forest-change-layer" data-type="info">
    <p>Please turn on a Forest Change layer to analyze before using the analysis tool.</p>
  </div>
</section>
