<div id="control-threshold" class="control-threshold fixed"></div>
<h2 class="title-section">country rankings</h2>
<div class="country-overview-wrapper-coolio">
      <div class="overview_button_group is-max">
        <div class="inner">
          <div class="settings item " data-target=".overview_graph">
            <svg><use xlink:href="#shape-settings"></use></svg>tree cover canopy settings
          </div>
        </div>
      </div>
      <div class='overview_graph'>
        <div class='overview_graph__tabs'>
          <ul>
            <li class='graph_tab selected' data-slug='total_loss'>
              <a href='#' class='overview_graph__link'>Tree cover loss</a>
            </li>

            <li class='graph_tab' data-slug='percent_loss'>
              <a href='#' class='overview_graph__link'>Tree cover gain</a>
            </li>

            <li class='graph_tab' data-slug='total_extent'>
              <a href='#' class='overview_graph__link'>Tree Cover</a>
            </li>

            <!-- <li class='graph_tab' data-slug='ratio'>
              <a href='#' class='overview_graph__link'>Loss<span>relative to</span>Gain</a>
            </li> -->

            <li class='graph_tab' data-slug='domains'>
              <a href='#' class='overview_graph__link'>Loss<span>by</span>Climate domain</a>
            </li>
          </ul>
        </div>

        <div class='overview_graph__legend'>
          <p>
            Global tree cover loss, 2001-2013</sup>
          </p>
          <a href='#' class='info source' data-source='total_loss'><svg><use xlink:href="#shape-info"></use></svg></a>
        </div>
        <div class='overview_graph__figure_only'>
          <span class='figure'></span>
          <span class='unit'></span>
        </div>
        <div class='overview_graph__area'>
          <div class='chart total_loss'>
          </div>

          <div class='chart percent_loss'>
            <ul class='legend'>
              <li><i></i> % Tree cover loss</li>
              <li><i></i> % Tree cover gain*</li>
            </ul>

            <p class='disclaimer'>* Represents an annualized average percentage of tree cover gain 2001-2012</p>
          </div>

          <div class='chart total_extent'>
            <ul class='legend'>
              <li><i></i> Tree cover loss</li>
              <li><i></i> Tree cover</li>
            </ul>
          </div>

          <div class='chart domains'>
            <p class='disclaimer'>* Bubble size represents magnitude of tree cover loss</p>
          </div>
        </div>
      </div>
    </div>
