
<div class="country-overview-wrapper-coolio">
  <div class='overview_graph'>
    <div class='overview_graph__tabs'>
      <ul>
        <li class='graph_tab selected' data-slug='total_loss'>
          <a href='#' class='overview_graph__link'>Loss<span>vs</span>Gain</a>
        </li>

        <li class='graph_tab' data-slug='percent_loss'>
          <a href='#' class='overview_graph__link'>% Loss<span>vs</span>% Gain</a>
        </li>

        <li class='graph_tab' data-slug='total_extent'>
          <a href='#' class='overview_graph__link'>Extent</a>
        </li>

        <li class='graph_tab' data-slug='ratio'>
          <a href='#' class='overview_graph__link'>Loss<span>relative to</span>Gain</a>
        </li>

        <li class='graph_tab' data-slug='domains'>
          <a href='#' class='overview_graph__link'>Loss<span>by</span>Climate domain</a>
        </li>
      </ul>
    </div>

    <div class='overview_graph__legend'>
      <p>
        Global tree cover loss per year with annualized tree cover gain
      </p>
      <a href='#' class='info' data-source='total_loss'><svg><use xlink:href="#shape-info"></use></svg></a>
    </div>

    <div class='overview_graph__area'>
      <div class='chart total_loss'>
        <ul class='legend'>
          <li><i></i> Tree cover loss</li>
          <li><i></i> Tree cover gain*</li>
        </ul>

        <p class='disclaimer'>* Represents an annualized average of tree cover gain 2001-2012</p>
      </div>

      <div class='chart percent_loss'>
        <ul class='legend'>
          <li><i></i> % Tree cover loss</li>
          <li><i></i> % Tree cover gain*</li>
        </ul>

        <p class='disclaimer'>* Represents an annualized average percentage of tree cover gain 2001-2012</p>
      </div>

      <div class='chart total_extent'>
        <ul class='legend'>
          <li><i></i> Tree cover loss</li>
          <li><i></i> Tree cover extent</li>
        </ul>
      </div>

      <div class='chart domains'>
        <p class='disclaimer'>* Bubble size represents magnitude of tree cover loss</p>
      </div>
    </div>
  </div>
</div>
