<section class='section home_stories'>
  <div class='inner'>
    <h2 class='section-title'>Stories about forest change</h2>
    <p class="section-desc">Browse <a href="/stories">featured user stories</a> or <a class="map ajax all" href="/map/3/15.00/27.00/ALL/580">explore all in the map</a>.</p>

    <ul class='columns'>
    </ul>
  </div>
</section>
