<svg display="none" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-control-legend" viewBox="0 0 1024 1024">
  <title>control-legend</title>
  <path class="path1" d="M368.64 204.8h532.48v81.92h-532.48v-81.92z"></path>
  <path class="path2" d="M368.64 491.52h409.6v81.92h-409.6v-81.92z"></path>
  <path class="path3" d="M368.64 778.24h532.48v81.92h-532.48v-81.92z"></path>
  <path class="path4" d="M40.96 245.76c0-45.244 36.676-81.92 81.92-81.92s81.92 36.676 81.92 81.92c0 45.244-36.676 81.92-81.92 81.92s-81.92-36.676-81.92-81.92z"></path>
  <path class="path5" d="M40.96 532.48c0-45.244 36.676-81.92 81.92-81.92s81.92 36.676 81.92 81.92c0 45.244-36.676 81.92-81.92 81.92s-81.92-36.676-81.92-81.92z"></path>
  <path class="path6" d="M40.96 819.2c0-45.244 36.676-81.92 81.92-81.92s81.92 36.676 81.92 81.92c0 45.244-36.676 81.92-81.92 81.92s-81.92-36.676-81.92-81.92z"></path>
</symbol>
<symbol id="icon-control-more" viewBox="0 0 1024 1024">
  <title>control-more</title>
  <path class="path1" d="M163.84 532.48c0-45.244 34.64-81.92 77.369-81.92s77.369 36.676 77.369 81.92c0 45.244-34.64 81.92-77.369 81.92s-77.369-36.676-77.369-81.92z"></path>
  <path class="path2" d="M434.631 532.48c0-45.244 34.64-81.92 77.369-81.92s77.369 36.676 77.369 81.92c0 45.244-34.64 81.92-77.369 81.92s-77.369-36.676-77.369-81.92z"></path>
  <path class="path3" d="M705.421 532.48c0-45.244 34.64-81.92 77.369-81.92s77.369 36.676 77.369 81.92c0 45.244-34.64 81.92-77.369 81.92s-77.369-36.676-77.369-81.92z"></path>
</symbol>
<symbol id="icon-facebook" viewBox="0 0 1024 1024">
  <title>facebook</title>
  <path class="path1" d="M575.872 1024h-191.872v-512h-128v-176.448l128-0.064-0.192-103.936c0-143.936 39.040-231.552 208.576-231.552h141.184v176.512h-88.256c-66.048 0-69.184 24.64-69.184 70.656l-0.256 88.32h158.72l-18.688 176.448-139.84 0.064-0.128 512z"></path>
</symbol>
<symbol id="icon-googleplus" viewBox="0 0 1024 1024">
  <title>googleplus</title>
  <path class="path1" d="M559.040 64c0 0-200.96 0-267.968 0-120.128 0-233.152 91.008-233.152 196.416 0 107.712 81.856 194.688 204.096 194.688 8.512 0 16.768-0.192 24.832-0.768-7.936 15.168-13.632 32.32-13.632 50.048 0 29.952 16.128 54.208 36.48 74.048-15.36 0-30.272 0.448-46.464 0.448-148.8 0-263.296 94.784-263.296 193.024 0 96.768 125.568 157.312 274.304 157.312 169.6 0 263.296-96.256 263.296-193.024 0-77.632-22.912-124.096-93.696-174.144-24.192-17.152-70.528-58.816-70.528-83.328 0-28.736 8.192-42.88 51.456-76.672 44.288-34.624 75.648-83.328 75.648-139.904 0-67.392-30.016-133.12-86.4-154.752h84.928l59.968-43.328zM465.472 719.488c2.112 8.96 3.264 18.176 3.264 27.648 0 78.208-50.368 139.328-194.944 139.328-102.848 0-177.088-65.088-177.088-143.296 0-76.672 92.096-140.416 194.944-139.328 24 0.256 46.336 4.096 66.688 10.688 55.808 38.848 95.872 60.736 107.2 105.024zM300.8 427.776c-69.056-2.048-134.656-77.248-146.56-167.872s34.368-160.064 103.36-158.016c68.992 2.048 134.656 74.816 146.56 165.44s-34.368 162.432-103.424 160.384zM832 256v-192h-64v192h-192v64h192v192h64v-192h192v-64z"></path>
</symbol>
<symbol id="icon-twitter" viewBox="0 0 1024 1024">
  <title>twitter</title>
  <path class="path1" d="M1024 194.432c-37.696 16.704-78.144 28.032-120.64 33.088 43.392-25.984 76.672-67.2 92.352-116.224-40.576 24.064-85.568 41.536-133.44 51.008-38.336-40.832-92.928-66.368-153.344-66.368-116.032 0-210.112 94.080-210.112 210.048 0 16.448 1.856 32.512 5.44 47.872-174.592-8.768-329.408-92.416-433.024-219.52-18.112 31.040-28.416 67.136-28.416 105.6 0 72.896 37.056 137.216 93.44 174.848-34.432-1.088-66.816-10.56-95.168-26.304 0 0.896 0 1.728 0 2.624 0 101.76 72.448 186.688 168.512 206.016-17.6 4.8-36.16 7.36-55.36 7.36-13.568 0-26.688-1.344-39.552-3.776 26.752 83.456 104.32 144.192 196.224 145.92-71.872 56.32-162.496 89.92-260.928 89.92-16.96 0-33.664-1.024-50.112-2.944 92.992 59.584 203.392 94.4 322.048 94.4 386.432 0 597.76-320.128 597.76-597.76 0-9.088-0.192-18.176-0.64-27.2 41.088-29.632 76.672-66.624 104.832-108.736z"></path>
</symbol>
<symbol id="icon-analysis-alerts" viewBox="0 0 1024 1024">
  <title>analysis-alerts</title>
  <path class="path1" d="M455.111 738.071h113.778v56.946h-113.778v-56.946zM424.192 201.216l-336.384 561.203c-48.498 80.902-11.401 146.489 82.859 146.489h682.667c94.259 0 131.356-65.587 82.859-146.489l-336.384-561.203c-48.498-80.907-127.118-80.907-175.616 0zM455.111 396.396h113.778v284.729h-113.778v-284.729z"></path>
</symbol>
<symbol id="icon-analysis-download" viewBox="0 0 1024 1024">
  <title>analysis-download</title>
  <path class="path1" d="M442.239 148.422v284.698h-147.283l217.044 294.667 217.044-294.667h-147.283v-284.698h-139.523z"></path>
  <path class="path2" d="M102.030 920.908h819.939v-337.963h-96.466v241.4h-627.008v-241.4h-96.466v337.963z"></path>
</symbol>
<symbol id="icon-analysis-remove" viewBox="0 0 1024 1024">
  <title>analysis-remove</title>
  <path class="path1" d="M625.778 225.559v-56.946h-227.556v56.946h-170.667v113.892h568.889v-113.892h-170.667z"></path>
  <path class="path2" d="M284.444 396.396v512.512h455.111v-512.512h-455.111z"></path>
</symbol>
<symbol id="icon-analysis-country" viewBox="0 0 1078 1024">
  <title>analysis-country</title>
  <path class="path1" d="M600.28 220.699v34.061l0.593 0.593c11.749 11.533 23.39 23.067 34.708 34.762v-80.303c0-23.229-75.237-48.128-80.842-50.877l96.040-19.025c0.862-0.162 8.354-4.15 9-4.743l72.758-71.896c37.888 59.069 76.369 118.245 104.664 182.757 1.078 2.425 9.378 9.432 11.965 10.024l105.688 26.139c5.928 63.434 0.108 160.229-28.456 209.597-18.378 31.744 48.182 35.193 111.454 50.823l-21.181 84.399c-73.836-8.354-138.779-25.546-178.338 22.959-16.115-102.346-58.637-185.236-115.281-259.719 5.174-13.204-7.006-24.63-18.701-23.66-21.45-26.193-44.517-51.577-68.662-76.423-11.372-11.695-22.959-23.229-34.708-34.762l-0.593-0.593c-16.815-15.36-40.744 9.485-24.145 25.816l11.048 10.941c-32.768 13.312-65.644 20.857-98.412 26.031-130.964 20.696-247.808 6.306-327.518 145.192-9.755 16.977 11.102 26.516 27.648 32.175-1.671 4.635-1.24 10.078 2.425 15.576l1.455 2.264-52.979 52.278h-81.004c-3.126 0-12.881 5.228-14.659 7.761l-41.176 92.429c-0.485 0.755-3.018 8.947-3.018 9.863v58.152c0 3.934 5.821 13.635 9.216 15.522 97.819 53.086 153.331 121.533 230.508 199.357-10.833 10.725-89.681 75.938-33.792 75.938h306.014c9.378 0 17.677-8.246 17.677-17.677v-88.118c58.314-31.852 110.7-75.938 155.001-124.659l29.48 86.771c-49.152 48.505-122.772 108.328-66.776 108.328h176.559c6.306 0 15.468-7.060 17.085-13.15 27.001-102.292 195.961-177.098 136.569-200.596l-133.282-52.655c24.738-103.909 108.005-65.428 184.051-58.691 32.768 2.91 70.818-142.228 35.193-151.067l-96.579-23.821c7.761-18.863 53.571-226.681 8.3-237.891l-109.299-26.947c-31.69-69.794-74.375-133.659-115.443-198.063-19.348-30.289-59.123 28.403-111.778 80.465l-141.959 28.025c-20.696 4.096-23.283 23.821-4.419 33.145l107.843 53.248zM494.323 953.721v34.978h-233.58c6.791-6.683 53.194-34.169 34.115-53.032-82.189-81.327-157.75-154.732-259.611-212.83v-47.481l50.661-75.021h61.171c1.779 0 11.156-3.827 12.396-5.12 21.827-21.558 40.098-37.996 54.595-50.877l36.056 53.356c2.533 3.773 13.043 8.3 17.516 7.545l166.427-27.379 99.597 123.042c-18.055 14.713-136.623 158.774-104.771 190.248l58.853 58.152c2.102 2.048 4.312 3.557 6.521 4.419zM816.397 691.362c-3.88 11.264-7.114 23.983-9.809 38.643-6.252 33.792 126.707 70.602 130.425 72.057-45.002 38.643-104.825 95.663-125.898 151.283h-120.778c93.184-92.16 73.243-53.625 2.21-193.967-6.683-13.204-19.725-19.833-29.265-8.515-47.805 56.589-94.37 107.412-159.421 141.096-3.288 1.671-8.354 9.647-9.378 14.228l-32.66-32.121c22.366-58.476 58.691-123.149 106.981-155.271 30.882-20.534-49.96-104.61-91.998-148.049l143.953-23.714c2.264-0.377 11.048-6.306 12.234-8.246l70.333-115.82c53.625 73.405 91.459 154.085 102.993 254.060 0.862 7.384 4.904 12.126 10.024 14.282zM494.269 352.418c16.061-2.533 84.992-14.713 120.293-33.199 23.336 24.253 45.379 48.667 65.698 73.782l-73.297 120.563-333.878 54.919-32.499-48.182c25.762-25.331 15.091-29.373-38.858-55.943 71.411-107.251 183.027-94.639 292.487-111.939z"></path>
</symbol>
<symbol id="icon-analysis-data" viewBox="0 0 916 1024">
  <title>analysis-data</title>
  <path class="path1" d="M473.824 578.491h166.251v166.251h-166.251v-166.251zM274.352 578.491h166.251v166.251h-166.251v-166.251zM473.824 412.239h166.251v132.981h-166.251v-132.981zM274.352 412.239h166.251v132.981h-166.251v-132.981zM74.88 549.925v-142.291c2.744 2.793 6.712 4.655 11.907 4.655h154.345v132.981h-154.345c-5.193 0-9.162 1.862-11.907 4.655zM74.88 749.397v-175.561c2.744 2.793 6.712 4.655 11.907 4.655h154.345v166.251h-154.345c-5.193 0-9.162 1.862-11.907 4.655zM241.081 944.215h-99.761c-36.749 0-66.491-29.791-66.491-66.491v-104.416c2.744 2.793 6.712 4.655 11.907 4.655h154.345v166.251zM440.603 944.215h-166.251v-166.251h166.251v166.251zM640.076 944.215h-166.251v-166.251h166.251v166.251zM839.596 778.012v99.761c0 36.749-29.791 66.491-66.491 66.491h-99.761v-166.251h166.251zM839.596 578.491v166.251h-166.251v-166.251h166.251zM839.596 412.239v132.981h-166.251v-132.981h166.251zM673.345 212.767h166.251v166.251h-166.251v-166.251zM473.824 212.767h166.251v166.251h-166.251v-166.251zM274.352 212.767h166.251v166.251h-166.251v-166.251zM74.88 212.767h166.251v166.251h-154.345c-5.193 0-9.162 1.862-11.907 4.655v-170.906zM41.61 146.277v731.496c0 55.074 44.638 99.761 99.761 99.761h631.735c55.074 0 99.761-44.638 99.761-99.761v-731.496c0-55.074-44.638-99.761-99.761-99.761h-631.735c-55.074 0-99.761 44.638-99.761 99.761z"></path>
</symbol>
<symbol id="icon-analysis-draw" viewBox="0 0 1240 1024">
  <title>analysis-draw</title>
  <path class="path1" d="M955.715 836.285c0 10.402 1.886 20.318 5.282 29.534 12.019 32.552 43.331 55.835 80.034 55.835 47.104 0 85.315-38.211 85.315-85.315 0-32.984-18.701-61.548-46.080-75.776l88.226-283.163c3.018 0.323 5.982 0.539 9.054 0.539 47.104 0 85.315-38.211 85.315-85.315s-38.211-85.315-85.315-85.315c-47.104 0-85.315 38.211-85.315 85.315 0 31.96 17.516 59.769 43.547 74.429l-88.387 284.187-6.306-0.162c-45.811 0-83.052 36.163-85.154 81.435l-0.162 3.934zM1036.827 785.246l4.258-0.162c10.725 0 20.642 3.234 28.834 8.893 13.528 9.216 22.366 24.684 22.366 42.307 0 28.295-22.905 51.2-51.2 51.2-19.564 0-36.595-10.995-45.218-27.109-3.827-7.168-5.982-15.36-5.982-24.037 0-3.288 0.269-6.413 0.862-9.539 4.204-22.366 23.013-39.559 46.080-41.499zM1178.947 443.715h-1.347c-11.749 0-22.582-3.934-31.205-10.563-12.18-9.378-19.941-24.091-19.941-40.637 0-28.295 22.905-51.2 51.2-51.2s51.2 22.905 51.2 51.2c0 27.81-22.205 50.445-49.853 51.2zM392.515 1024c45.757 0 83.052-35.948 85.154-81.219l0.162-4.096c0-10.402-1.886-20.318-5.282-29.534-12.019-32.552-43.331-55.781-80.034-55.781-18.863 0-36.379 6.036-50.499 16.384l-183.134-160.93c7.491-12.665 11.803-27.379 11.803-43.17 0-13.528-3.072-26.355-8.731-37.726l748.706-484.19c15.522 16.546 37.619 26.947 62.141 26.947 47.104 0 85.315-38.211 85.315-85.315s-38.211-85.315-85.315-85.315c-47.104 0-85.315 38.211-85.315 85.315 0 10.348 1.94 20.157 5.282 29.373l-751.778 486.238c-14.929-12.881-34.331-20.642-55.619-20.642-47.104 0-85.315 38.211-85.315 85.315s38.211 85.315 85.315 85.315c18.971 0 36.487-6.252 50.661-16.707l183.134 160.768c-7.599 12.773-11.965 27.756-11.965 43.709 0 47.104 38.211 85.315 85.315 85.315zM940.032 124.766c-8.839-7.33-15.091-17.677-17.408-29.373-0.647-3.288-1.024-6.629-1.024-10.078 0-28.295 22.905-51.2 51.2-51.2s51.2 22.905 51.2 51.2c0 28.295-22.905 51.2-51.2 51.2-12.45 0-23.875-4.365-32.768-11.803zM132.419 685.541c-4.581 10.833-12.719 19.779-23.013 25.277-7.168 3.827-15.36 5.982-24.091 5.982-28.295 0-51.2-22.905-51.2-51.2s22.905-51.2 51.2-51.2c9 0 17.57 2.425 24.899 6.467 10.294 5.713 18.324 14.767 22.69 25.762 2.371 5.875 3.611 12.234 3.611 18.917 0 7.114-1.509 13.797-4.096 19.941zM345.627 918.205c4.689-10.725 12.935-19.51 23.229-24.899 7.114-3.719 15.144-5.821 23.714-5.821 19.564 0 36.595 11.048 45.218 27.109 3.827 7.168 5.982 15.36 5.982 24.091 0 3.288-0.269 6.467-0.862 9.539-4.419 23.768-25.331 41.661-50.338 41.661-28.295 0-51.2-22.905-51.2-51.2 0-7.276 1.563-14.228 4.258-20.48zM477.723 942.781l483.328-76.962c-3.395-9.216-5.282-19.133-5.282-29.534l0.162-3.934-483.328 76.8c3.395 9.216 5.282 19.133 5.282 29.534l-0.162 4.096z"></path>
</symbol>
<symbol id="icon-control-legendtoggle_off" viewBox="0 0 1024 1024">
  <title>control-legendtoggle_off</title>
  <path class="path1" d="M768.086 204.8l-558.735 567.14 46.563 47.26 558.735-567.14-46.563-47.26zM677.376 458.899c5.804 16.699 9.052 34.501 9.052 53.101 0 92.68-78.086 167.801-174.428 167.801-16.048 0-31.498-2.179-46.264-6.083l-47.555 48.284c30.233 6.156 61.628 9.437 93.819 9.437 168.141 0 314.384-88.76 389.12-219.439-32.662-57.098-79.065-106.099-134.889-143.278l-88.855 90.178zM337.572 512c0-92.68 78.086-167.801 174.428-167.801 16.048 0 31.506 2.163 46.26 6.083l47.555-48.284c-30.22-6.197-61.624-9.437-93.815-9.437-168.141 0-314.384 88.76-389.12 219.439 32.662 57.098 79.065 106.099 134.889 143.278l88.85-90.178c-5.82-16.699-9.048-34.501-9.048-53.101zM483.893 425.759c-30.847 9.322-54.858 33.522-62.902 63.861l62.902-63.861zM540.107 598.241c30.859-9.322 54.858-33.501 62.902-63.861l-62.902 63.861z"></path>
</symbol>
<symbol id="icon-control-legendtoggle" viewBox="0 0 1024 1024">
  <title>control-legendtoggle</title>
  <path class="path1" d="M337.572 491.52c0-86.479 78.086-156.619 174.428-156.619s174.428 70.14 174.428 156.619c0 86.479-78.086 156.619-174.428 156.619s-174.428-70.14-174.428-156.619zM901.12 491.52c-74.736-121.958-220.975-245.76-389.12-245.76-168.141 0-314.384 123.802-389.12 245.76 74.736 121.958 220.979 245.76 389.12 245.76 168.145 0 314.384-123.802 389.12-245.76zM418.075 491.52c0 46.58 42.050 84.32 93.925 84.32s93.925-37.741 93.925-84.32c0-46.58-42.050-84.32-93.925-84.32s-93.925 37.741-93.925 84.32z"></path>
</symbol>
<symbol id="icon-control-minus" viewBox="0 0 1024 1024">
  <title>control-minus</title>
  <path class="path1" d="M778.24 573.44h-532.48v-122.88h532.48v122.88z"></path>
</symbol>
<symbol id="icon-control-plus" viewBox="0 0 1024 1024">
  <title>control-plus</title>
  <path class="path1" d="M573.44 245.76h-122.88v204.8h-204.8v122.88h204.8v204.8h122.88v-204.8h204.8v-122.88h-204.8v-204.8z"></path>
</symbol>
<symbol id="icon-control-reset" viewBox="0 0 1024 1024">
  <title>control-reset</title>
  <path class="path1" d="M267.399 573.182c0-118.12 91.259-214.88 207.122-223.703v-103.719c-173.097 8.978-310.682 152.080-310.682 327.422 0 181.117 146.821 327.938 327.938 327.938 175.325 0 318.448-137.581 327.422-310.682h-103.731c-8.815 115.864-105.574 207.122-223.691 207.122-123.924 0-224.379-100.463-224.379-224.379z"></path>
  <path class="path2" d="M450.56 122.88l2.327 368.64 243.433-198.259-245.76-170.381z"></path>
</symbol>
<symbol id="icon-control-resetzoom" viewBox="0 0 1024 1024">
  <title>control-resetzoom</title>
  <path class="path1" d="M491.52 245.76v122.88h163.84v163.84h122.88v-286.72h-286.72z"></path>
  <path class="path2" d="M532.48 778.24v-122.88h-163.84v-163.84h-122.88v286.72h286.72z"></path>
</symbol>
<symbol id="icon-control-search" viewBox="0 0 1024 1024">
  <title>control-search</title>
  <path class="path1" d="M240.939 484.159c0-113.541 88.33-212.799 201.654-222.040 118.436-9.658 218.452 81.9 218.452 204.919 0 123.003-100.016 222.72-218.452 222.72-113.324 0-201.654-92.037-201.654-205.599zM594.444 719.978c2.744 3.92 6.001 7.52 9.626 10.801l100.336 91.181c24.863 22.581 65.516 23.978 92.279 1.88 28.574-23.56 30.519-64.459 2.56-89.883l-111.313-101.097c33.993-48.562 54.17-107.463 54.17-170.959 0-166.060-137.683-289.681-300.696-276.644-155.984 12.481-277.565 146.461-277.565 299.762s121.582 277.561 277.565 277.561c55.439 0 107.885-15.52 153.039-42.602z"></path>
</symbol>
<symbol id="icon-tab-analysis" viewBox="0 0 1132 1024">
  <title>tab-analysis</title>
  <path class="path1" d="M215.579 323.368v431.158h161.684v-431.158h-161.684zM646.737 269.474v373.221c33.9-54.11 93.292-90.058 160.822-90.058l0.862 0.054v-283.217h-161.684zM431.158 107.789v646.737h161.684v-646.737h-161.684zM0-53.895v970.105h581.47l-53.895-107.789h-419.786v-862.316h-107.789z"></path>
  <path class="path2" d="M642.91 750.646c0-87.309 66.452-163.624 151.714-170.739 89.088-7.437 164.325 62.949 164.325 157.534s-75.237 171.277-164.325 171.277c-85.261 0-151.714-70.764-151.714-158.073zM908.827 931.948c2.048 3.018 4.527 5.767 7.222 8.3l75.507 70.117c18.701 17.354 49.26 18.432 69.416 1.455 21.504-18.109 22.959-49.583 1.94-69.093l-83.752-77.716c25.546-37.349 40.744-82.621 40.744-131.449 0-127.677-103.586-222.693-226.196-212.669-117.329 9.593-208.788 112.586-208.788 230.454s91.459 213.369 208.788 213.369c41.715 0 81.165-11.911 115.119-32.768z"></path>
</symbol>
<symbol id="icon-tab-basemap" viewBox="0 0 1132 1024">
  <title>tab-basemap</title>
  <path class="path1" d="M80.842 191.65l378.125-191.65 538.085 280.091-363.574 184.266-552.637-272.707z"></path>
  <path class="path2" d="M80.842 444.524l552.637 272.707 363.574-184.266-161.415-84.076-202.159 102.508-386.803-190.841-165.834 84.022z"></path>
  <path class="path3" d="M80.842 697.398l552.637 272.707 363.574-184.266-161.415-84.076-202.159 102.508-386.803-190.841-165.834 84.022z"></path>
</symbol>
<symbol id="icon-tab-canopy" viewBox="0 0 1132 1024">
  <title>tab-canopy</title>
  <path class="path1" d="M458.105 286.235c97.388 0 176.451 80.034 176.451 178.607s-79.064 178.607-176.451 178.607c-97.388 0-176.451-80.034-176.451-178.607s79.064-178.607 176.451-178.607zM649.432 753.826l12.665-9 27.702-32.013h-87.148l221.4-384.323-51.523-4.204c-10.456-23.983-21.666-43.655-36.972-64.781l54.218-115.981c-24.199-25.6-47.481-45.379-76.584-65.051l-103.424 74.159c-23.229-11.533-44.355-19.348-69.47-25.6l-32.121-124.12c-34.762-3.827-65.213-3.827-99.975 0l-32.121 124.12c-25.115 6.252-46.242 14.067-69.47 25.6l-103.424-74.159c-29.103 19.672-52.386 39.451-76.584 65.051l54.218 115.981c-15.252 21.127-26.516 40.852-36.972 64.781l-126.329 10.509c-9.809 34.008-15.091 64.296-17.354 99.651l115.173 53.571c1.725 26.139 5.605 48.559 12.827 73.674l-90.112 90.274c14.067 32.445 29.319 59.069 49.96 87.633l122.287-33.9c17.893 18.917 35.139 33.523 56.643 48.074l-11.749 127.784c31.367 15.683 59.985 26.193 93.939 34.6l72.165-105.526c25.708 2.803 48.182 2.803 73.944 0l48.451 71.033 106.442-122.88-0.539-5.012z"></path>
  <path class="path2" d="M808.421 916.211v107.789h161.684v-107.789h-161.684zM788.48 700.632l-141.743 161.684h485.053l-141.743-161.684h97.657l-198.44-392.731-198.44 392.731h97.657z"></path>
</symbol>
<symbol id="icon-control-share" viewBox="0 0 1020 1024">
  <title>control-share</title>
  <path class="path1" d="M183.479 507.398c0 65.010 52.691 117.701 117.701 117.701 31.739 0 60.616-12.517 81.802-32.957l193.816 96.909c-0.588 4.749-0.98 9.571-0.98 14.516 0 65.010 52.691 117.701 117.701 117.701s117.701-52.691 117.701-117.701c0-65.010-52.691-117.701-117.701-117.701-31.739 0-60.461 12.517-81.607 32.957l-194.013-96.909c0.588-4.787 0.98-9.571 0.98-14.516s-0.392-9.73-0.98-14.516l193.816-96.909c21.187 20.403 50.062 32.957 81.802 32.957 65.010 0 117.701-52.691 117.701-117.701s-52.691-117.701-117.701-117.701c-65.010 0-117.701 52.691-117.701 117.701 0 4.944 0.392 9.77 0.98 14.516l-193.816 96.909c-21.187-20.403-50.062-32.957-81.802-32.957-65.010 0-117.701 52.691-117.701 117.701z"></path>
</symbol>
</defs>
</svg>
