<svg display="none" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-layer-conservation" viewBox="0 0 1024 1024">
  <title>layer-conservation</title>
  <path class="path1" d="M512 329.143l-146.286 219.429h73.143l-73.143 109.714h292.571l-73.143-109.714h73.143l-146.286-219.429z"></path>
  <path class="path2" d="M475.429 694.857h73.143v73.143h-73.143v-73.143z"></path>
  <path class="path3" d="M219.429 219.429v146.286h36.571v-109.714h109.714v-36.571h-146.286z"></path>
  <path class="path4" d="M658.286 219.429v36.571h109.714v109.714h36.571v-146.286h-146.286z"></path>
  <path class="path5" d="M658.286 804.571v36.571h146.286v-146.286h-36.571v109.714h-109.714z"></path>
  <path class="path6" d="M219.429 841.143h146.286v-36.571h-109.714v-109.714h-36.571v146.286z"></path>
</symbol>
<symbol id="icon-layer-country" viewBox="0 0 1024 1024">
  <title>layer-country</title>
  <path class="path1" d="M285.425 607.737c13.926 1.192 17.397-14.215 28.222-18.483 8.093-3.193 23.018-3.61 31.51-1.097 6.905 2.041 12.065 5.925 16.863 10.898 7.398 7.665 15.693 14.833 23.801 21.723 14.928 12.687 35.032 14.34 51.28 24.349 8.975 5.53 6.279 12.859 0.325 20.074-8.686 10.529-15.634 20.879-22.382 32.772-9.256 16.3-31.173 19.068-43.652 33.093l-1.51 1.836c-18.834-12.383-35.968-27.121-51.017-43.776l-33.441-81.39zM411.249 370.509c-13.008-10.924-8.865-20.246-1.401-32.797 10.218-17.174 4.173-40.020-13.030-51.127l91.86-37.255c7.621-0.746 15.349-1.134 23.142-1.218-2.512 11.999-1.69 24.986-7.289 36.25-5.252 10.565-13.21 18.443-21.361 26.865-10.353 10.708-25.659 16.062-34.187 28.551-7.23 10.58-19.862 45.736-37.734 30.731zM317.484 488.733c-10.16 8.232-12.734 19.931-5.979 31.433 3.851 6.554 7.735 12.127-3.829 13.016-4.824 0.366-7.567-1.759-11.926-3.178-5.288-1.719-11.184-2.128-16.713-2.128-2.582-5.636-1.759-13.608-1.935-19.65-0.453-15.653-0.062-31.232 0.315-46.881 0.252-10.635-0.095-21.413 2.070-31.887 1.576-7.636 4.030-15.035 4.93-22.81 2.465-21.182 12.24-36.787 30.347-48.878l19.562 5.435c2.706 12.496 13.341 18.198 23.837 23.962 8.982 4.933 15.729 15.554 20.637 24.576 4.667 8.569 0.117 14.515-8.031 17.609-10.456 3.972-21.376 9-26.119 19.822-6.788 15.492-13.7 28.65-27.165 39.559zM645.676 332.229l39.131-22.034c57.439 48.443 93.948 120.901 93.948 201.922 0 6.78-0.336 13.477-0.841 20.129-4.023-3.269-8.422-6.294-13.151-9.132-18.79-11.271-49.408-10.364-68.063 1.66 1.207 5.116 2.959 10.642 1.587 15.971-1.649 6.385-7.665 8.112-11.275 13.345-5.811 8.433-2.242 12.164 2.198 19.445 2.666 4.378 5.113 10.032 5.932 15.056 1.554 9.476-3.624 14.362-10.353 20.231-10.24 8.942-19.997 17.503-27.227 29.374-10.8 17.733-7.687 34.297-9.677 53.833-1.521 14.866-5.614 31.971-23.278 33.064-13.144 0.808-24.503-3.986-31.071-15.184-6.59-11.253-11.568-23.863-12.573-36.985-0.841-10.88 0.965-21.822-0.581-32.691-2.231-15.631-11.597-27.494-24.444-35.95-9.125-6.009-16.037-4.718-26.628-3.057-13.817 2.165-32.252 1.562-42.203-9.944-8.313-9.618-8.313-23.15-6.535-35.013 1.419-9.483 5.822-17.324 8.514-26.273 1.602-5.325 2.3-10.982 3.968-16.311 2.637-8.379 6.978-17.145 14.091-22.674 6.188-4.809 14.844-5.317 22.751-5.723 19.021-0.987 35.635 7.574 54.21 8.302 14.87 0.581 37.745-4.136 45.502-18.937 3.577-6.835 7.457-31.356 0.344-37.453-7.066-6.064-22.235 5.083-28.913 7.68-17.104 6.645-34.172 7.541-52.169 6.506-4.56-0.26-9.128-0.581-11.922 4.191-1.766 3.024-0.731 7.589-2.128 10.88-2.717 6.389-9.669 10.313-16.271 11.451-11.264 1.942-26.485-3.697-26.573-16.955-0.106-16.128 28.727 2.443 26.668-17.298-1.81-17.375 2.501-35.617 22.188-37.369 13.531-1.207 26.774-2.853 37.928-11.056 6.989-5.131 14.149-11.754 19.032-18.951 3.803-5.606 3.73-6.583 1.741-11.988-1.507-4.096-8.21-17.616-13.535-17.32-3.145 0.176-5.138 17.569-7.742 21.124-10.715 14.676-57.326 11.999-42.269-10.35 9.223-13.689 26.847-25.49 42.123-30.976 9.6-3.445 15.312-0.219 23.837 5.003 7.943 4.868 14.384 10.474 24.265 8.744 6.367-1.115 14.431-4.235 19.467-8.287zM219.429 512c0 161.584 130.981 292.571 292.571 292.571 161.584 0 292.571-130.988 292.571-292.571s-130.988-292.571-292.571-292.571c-161.591 0-292.571 130.988-292.571 292.571z"></path>
</symbol>
<symbol id="icon-layer-forestchange" viewBox="0 0 1024 1024">
  <title>layer-forestchange</title>
  <path class="path1" d="M603.429 256l-111.693 193.949 56.836 112.176v59.589h-29.765l49.744 73.143h199.45l-82.286-146.286h82.286l-164.571-292.571z"></path>
  <path class="path2" d="M548.571 731.429h109.714v73.143h-109.714v-73.143z"></path>
  <path class="path3" d="M365.714 365.714l-146.286 219.429h73.143l-73.143 109.714h292.571l-73.143-109.714h73.143l-146.286-219.429z"></path>
  <path class="path4" d="M329.143 731.429h73.143v73.143h-73.143v-73.143z"></path>
</symbol>
<symbol id="icon-layer-forestcover" viewBox="0 0 1024 1024">
  <title>layer-forestcover</title>
  <path class="path1" d="M420.571 689.554l45.714-67.84h-91.429l45.714 67.84zM350.72 416.914l70.4 115.749 69.669-115.2-70.217-124.891-69.851 124.343z"></path>
  <path class="path2" d="M365.714 768h109.714v73.143h-109.714v-73.143z"></path>
  <path class="path3" d="M237.714 292.571l-164.571 292.571h82.286l-82.286 146.286h329.143l-82.286-146.286h82.286l-164.571-292.571z"></path>
  <path class="path4" d="M182.857 768h109.714v73.143h-109.714v-73.143z"></path>
  <path class="path5" d="M786.286 292.571l-69.851 124.343 124.709 204.8h-100.571l48.091 109.714h162.194l-82.286-146.286h82.286l-164.571-292.571z"></path>
  <path class="path6" d="M731.429 768h109.714v73.143h-109.714v-73.143z"></path>
  <path class="path7" d="M603.429 292.571l-164.571 292.571h82.286l-82.286 146.286h329.143l-82.286-146.286h82.286l-164.571-292.571z"></path>
  <path class="path8" d="M548.571 768h109.714v73.143h-109.714v-73.143z"></path>
</symbol>
<symbol id="icon-layer-forestuse" viewBox="0 0 1024 1024">
  <title>layer-forestuse</title>
  <path class="path1" d="M420.571 256l-164.571 292.571h82.286l-82.286 146.286h288.216l-68.787-79.792v-64.234l70.634-62.23-125.491-232.602z"></path>
  <path class="path2" d="M365.714 731.429h109.714v73.143h-109.714v-73.143z"></path>
  <path class="path3" d="M552.51 608.629l109.206 104.514 180.18-184.894-51.719-51.723-131.891 130.011-57.867-60.35-47.909 62.442z"></path>
</symbol>
<symbol id="icon-layer-people" viewBox="0 0 1024 1024">
  <title>layer-people</title>
  <path class="path1" d="M292.754 974.811c66.461 31.539 140.789 49.189 219.246 49.189s152.784-17.649 219.246-49.189c0.223-103.775 0.362-227.445-0.34-246.524-4.030-109.67-104.21-72.485-151.15-108.101-13.912-10.555-4.725-54.049 0-66.523s30.23-24.945 30.23-74.84c0-145.521-54.788-149.68-97.726-149.68-28.339 0-98.245 4.158-98.245 149.68 0 49.894 25.505 62.365 30.23 74.84s13.912 55.969 0 66.523c-46.939 35.617-147.12-1.569-151.15 108.101-0.702 19.079-0.563 142.749-0.34 246.524z"></path>
</symbol>
<symbol id="icon-layer-stories" viewBox="0 0 1024 1024">
  <title>layer-stories</title>
  <path class="path1" d="M292.571 358.857v434.856c0 2.286 0.571 4.571 2.856 6.857 1.715 1.145 4.001 2.286 6.287 2.286h18.286c2.286 0 4.571-1.141 6.287-2.286 1.715-2.286 2.856-4.571 2.856-6.857v-464.571c0-10.284-0.571-18.856-1.715-25.713-1.141-6.857-6.283-10.858-16.571-10.858-10.284 0-21.712 4.001-34.856 10.858-13.714 6.857-20.001 15.429-20.001 25.713 0 13.144 11.999 22.857 36.571 29.714v0zM370.856 616.572c3.43 3.427 8.002 5.142 13.144 5.142 2.856 0 6.287-0.571 9.713-2.286 51.43-22.857 96-34.286 132.571-34.286 13.714 0 26.858 2.286 40.572 5.716 13.144 3.997 24.002 7.998 33.145 12.57 8.569 4.571 18.856 9.143 30.855 12.573 11.429 3.997 23.428 5.712 35.43 5.712 29.14 0 64-10.858 105.143-33.715 5.142-2.286 9.143-5.142 11.429-7.998 2.286-2.286 3.427-6.287 3.427-10.858v-221.714c0-4.571-2.286-9.143-5.712-12.57-3.43-3.43-8.002-5.716-12.573-5.716-2.286 0-7.428 2.286-15.429 5.716-7.998 3.997-16.571 7.998-25.143 12.57-9.143 4.571-19.427 9.143-31.426 12.573-12.573 3.997-23.431 5.712-33.715 5.712-9.713 0-18.286-1.715-25.143-5.142-24.002-10.288-45.144-18.286-62.859-23.428-17.712-5.146-36.571-8.002-56.569-8.002-35.43 0-76.003 11.429-120.572 34.286-11.429 5.716-18.856 9.713-22.287 11.999-6.287 4.571-9.143 10.288-9.143 16v212.001c0 5.142 1.715 9.713 5.142 13.144v0z"></path>
</symbol>
</defs>
</svg>
