<div class='terms_inner notranslate'>
  <p class='terms_header'>
    World Resources Institute<br />
    10 G Street NE, Suite 800<br />
    Washington, DC 20002<br /><br />
    <strong>Global Forest Watch<br />
    Terms of Service</strong>
  </p>

  <p>This Global Forest Watch ("<strong>GFW</strong>") Terms of Service (<strong>“Agreement”</strong> or <strong>"Terms"</strong>), is between the World Resources Institute (<strong>“WRI”</strong>), a 501(c)(3) not-for-profit organization located in the District of Columbia, United States, and you and your company organization (<strong>“You”</strong> or <strong>“Your”</strong>).</p>

  <p>By clicking “I agree", you are bound by the terms of this Agreement.  If you choose not to click on “I agree” you will be redirected from this website (<strong>“Site”</strong>).  Your use of any portion of the Site, any information or data provided on the Site, or any services made available through the Site (the <strong>“Services”</strong>) is subject to the terms and conditions set forth herein.</p>

  <ol class='num'>
    <li>
      <h3 class='num_title'>Using GFW</h3>
      <ol class='let'>
        <li><span class='underline'>Prohibited Uses.</span> As a condition of Your use of the Site and the Services, You warrant to WRI that You will only use the Services for a lawful purpose and one that is not prohibited by these terms, conditions, or notices. You may not use the Services in any manner which could damage, disable, overburden, or impair the Services or interfere with any other party’s use and enjoyment of the Services. Recognizing the global nature of the Internet, You agree to comply with all local rules regarding online conduct and acceptable content in the jurisdiction in which You are visiting the Site.</li>

        <li><span class='underline'>Sole Responsibility.</span> You are solely responsible for any and all acts and omissions that occur under Your account, and You agree not to engage in unacceptable use of the Site or the Services, which includes, without limitation, use of the Site or the Services to:</li>

        <ol class='rom'>
          <li>disseminate or transmit material that, to a reasonable person, may be abusive, obscene, pornographic, defamatory, harassing, grossly offensive, vulgar, threatening, or malicious;</li>

          <li>disseminate, store, or transmit files, graphics, software, or other material that actually or potentially infringes the copyright, trademark, patent, trade secret, or other intellectual property right of any person;</li>

          <li>create a false identity or to otherwise attempt to mislead any person as to the identity or origin of any communication;</li>

          <li>export, re-export, or permit downloading of any content in violation of any applicable export or import law, regulation, or restriction, or without all required approvals, licenses, or exemptions;</li>

          <li>interfere, disrupt, or attempt to gain unauthorized access to other accounts or any other computer network;</li>

          <li>disseminate, store, or transmit viruses, trojan horses, or any other malicious code or program; or</li>

          <li>engage in any other activity deemed by WRI to be in conflict with these Terms (including any Third Party Provider terms referenced in Section 2 below).</li>
        </ol>

        <li><span class='underline'>Indemnity.</span> You agree to indemnify, hold harmless and, at WRI’s request, defend WRI and its subsidiaries, affiliates, officers, agents, partners, and employees from any claim or demand, including reasonable attorneys’ fees, made by any third party due to or arising out of content You submit to, post to, or transmit through the Site or the Services, Your use of the Site or the Services, or Your violation of these Terms.</li>

        <li><span class='underline'>Acknowledgments.</span> The Site allows You to access and view a variety of content, including but not limited to photographic imagery, map and terrain data, and other related information provided by WRI and its partners, licensors and/or users of the Site or the Services. You understand and agree to the following with respect to all content made available by or through the Site:</li>

        <ol class='rom'>
          <li>that map data and related content are provided for informational purposes only, and WRI makes no warranties regarding the same;</li>

          <li>that the information on the Site is not updated in real time, and therefore the map results may not be accurate; and</li>

          <li>WRI assumes no responsibility for Your use of or actions in reliance on the information contained on the Site; and therefore, You should exercise judgment in Your use of all content made available by or through the Site, including but not limited to, seeking independent verification of the factual information provided on the Site.</li>
        </ol>

        <li><span class='underline'>Reservation of Rights.</span> WRI reserves all rights not expressly granted to You. The use of the Site, including its software, services, maps, and other content, is only licensed to You and such license is non-transferable. In no event may You copy, loan, rent, time-share, sublicense, assign, transfer, lease, sell or otherwise dispose of the WRI Site’s software, maps, or other content on a temporary or permanent basis except as expressly provided herein. These Terms shall benefit WRI and its successors and assigns. You may not, or permit any third party to, modify, adapt, translate, create derivative works from, reverse engineer, decompile, disassemble, or otherwise attempt to derive any source code from the Site’s software. All logos and product names appearing on or in connection with the Site are proprietary to WRI or its licensors and/or suppliers. You agree never to remove any proprietary notices or product identification labels from the Site’s software, maps, and other content, if applicable.</li>
      </ol>
    </li>

    <li>
      <h3 class='num_title'>Third Party Terms</h3>
      <p>GFW incorporates data and information from, and is delivered using technologies supplied by, third party suppliers to WRI (<strong>"Third Party Providers"</strong>).  In addition to the terms contained herein, You are responsible for reviewing and complying with the applicable use provisions found in the terms of such Third Party Providers.  Below are links to the Third Party Provider terms.  Your continued use of this Site indicates your acceptance of the Third Party Provider terms set forth therein.</p>

      <ul class='bullets'>
        <li>Heroku: <a href='https://www.heroku.com/policy/tos' target='_blank'>https://www.heroku.com/policy/tos</a></li>
        <li>Google Earth Engine: <a href='http://earthengine.google.org/terms' target='_blank'>http://earthengine.google.org/terms</a></li>
        <li>Google Maps/Earth: <a href='http://www.google.com/intl/en_US/help/terms_maps.html' target='_blank'>http://www.google.com/intl/en_US/help/terms_maps.html</a></li>
        <li>Google Apps Engine: <a href='https://developers.google.com/appengine/terms' target='_blank'>https://developers.google.com/appengine/terms</a></li>
        <li>CartoDB: <a href='http://cartodb.com/terms' target='_blank'>http://cartodb.com/terms</a></li>
      </ul>
    </li>

    <li>
      <h3 class='num_title'>Ownership</h3>
      <p>All other materials displayed or performed on the Site, except for User Content (defined below), including, but not limited to text, graphics, maps, logos, tools, photographs, images, illustrations, software or source code, audio and video, and animations are the property of WRI and its licensors and are protected by United States and international copyright laws.</p>
    </li>

    <li>
      <h3 class='num_title'>Your Content</h3>
      <ol class='let'>
        <li>As a user of the Site You acknowledge that You may submit data, material, ideas, concepts, techniques and/or other information to WRI (hereinafter referred to as <strong>“User Content”</strong>).</li>

        <li>You specifically acknowledge that WRI would refuse to accept, publish or otherwise distribute Your User Content in the absence of Your acceptance of each and all of the provisions of this Agreement.  It is understood and agreed that no confidential or fiduciary relationship is established by Your submitting said User Content to WRI hereunder.</li>

        <li>You retain ownership of all content that You contribute to the Services, but hereby grant and agree to grant WRI a non-exclusive, worldwide, royalty-free, perpetual, irrevocable, transferable right and license (with the right to sublicense), to use, copy, cache, publish, display, distribute, modify, create derivative works, and store such content and to allow others to do so in order to provide the Services.</li>

        <li>By submitting Your User Content to WRI, You hereby agree that WRI may use and exploit, without any obligation, liability, or duty whatsoever to You and without payment whatsoever to You, the User Content, or any part thereof.  You agree that nothing contained in this Agreement, nor the fact of Your submission of said User Content to WRI, shall be deemed to form the basis of any right, liability, claim, or demand against WRI or any of WRI’s licensees or any person or entity to whom WRI discloses or allows to use said User Content.</li>

        <li>You warrant that You are either the author/inventor and owner of the User Content and all rights thereto, or have the exclusive right and authority to submit said User Content to WRI with the full knowledge and consent of the owner(s) of said User Content upon the terms and conditions stated herein, each and all of which shall be binding not only on You but on any and all persons and entities for whom You are acting.</li>

        <li>You agree and acknowledge that no contract or obligation of any kind, other than those arising pursuant to the express terms of this Agreement, is assumed by WRI or may be implied against WRI by reason of WRI’s use, publication or distribution of the User Content. Specifically, it is understood that neither Your submission of the User Content pursuant to this Article 4, nor WRI’s use, publication or distribution thereof, constitutes or creates an implied-in-fact or implied-in-law contract, even if there exists an industry custom or practice to the contrary.</li>

        <li>You will indemnify, hold harmless and, at WRI’s request, defend WRI from and against any and all third party claims, expenses losses, damages, or liabilities (including but not limited to reasonable attorneys’ fees and punitive damages) that may be asserted against WRI or incurred by WRI at any time in connection with the User Content, or any use thereof, including but not limited to those arising from any breach of any promise or warranty given by You herein.  You hereby release WRI and its licensees and its other permitted users of the User Content of and from any and all claims, demands, and liabilities of every kind whatsoever, known or unknown, that may arise in relation to the User Content or by reason of any claim now or hereafter made by You that WRI has used or appropriated the User Content.</li>

        <li>WRI does not endorse or take any responsibility for any User Content or any opinion, recommendation, or advice expressed therein. Under no circumstances will WRI be liable in any way for or in connection with User Content, including, but not limited to, for any inaccuracies, errors, or omissions in any User Content, any intellectual property infringement with regard to any User Content, or for any loss or damage of any kind incurred as a result of the use of any User Content posted, emailed, or otherwise displayed or transmitted through the Site.  If you believe that you are the owner of any User Content posted by another user without permission, please see Article 7 of this Agreement for the applicable procedures.</li>

        <li>WRI exercises no editorial review and assumes no responsibility for misleading, fraudulent, defamatory, libelous, threatening, harassing, pornographic, obscene or illegal User Content supplied to the Site, provided, however, that WRI may take any action with respect to any User Content that WRI deems in its sole discretion is necessary or appropriate, including the deletion of any such User Content.</li>
      </ol>
    </li>



    <li>
      <h3 class='num_title'>Disclaimers</h3>
      <ol class='let'>
        <li><span class='underline'>“As Is,” “As Available” and “With All Faults.”</span> YOU EXPRESSLY AGREE THAT THE USE OF THE SITE IS AT YOUR SOLE RISK. THE SITE AND ITS SOFTWARE, SERVICES, MAPS AND OTHER CONTENT, INCLUDING ANY THIRD-PARTY SOFTWARE, SERVICES, MEDIA, OR OTHER CONTENT MADE AVAILABLE IN CONJUNCTION WITH OR THROUGH THE SITE, ARE PROVIDED ON AN “AS IS” “AS AVAILABLE”, “WITH ALL FAULTS” BASIS AND WITHOUT WARRANTIES OR REPRESENTATIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED.</li>

        <li><span class='underline'>No Warranties.</span> TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, WRI DISCLAIMS ALL WARRANTIES, STATUTORY, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM WRI OR THROUGH THE SITE, WILL CREATE ANY WARRANTY NOT EXPRESSLY STATED HEREIN.</li>

        <li><span class='underline'>Accuracy.</span> WRI DOES NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE USE OR THE RESULTS OF THE USE OF THE SITE OR ANY THIRD PARTY SITES REFERRED TO ON OR BY THE SITE IN TERMS OF CORRECTNESS, ACCURACY, RELIABILITY, OR OTHERWISE.</li>

        <li><span class='underline'>Savings Clause.</span> CERTAIN JURISDICTIONS DO NOT ALLOW EXCLUSIONS OR LIMITATIONS ON IMPLIED WARRANTIES. IF YOU RESIDE IN SUCH A JURISDICTION, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS. THE LIMITATIONS OR EXCLUSIONS OF WARRANTIES OR REMEDIES CONTAINED IN THESE TERMS APPLY TO YOU TO THE FULLEST EXTENT SUCH LIMITATIONS OR EXCLUSIONS ARE PERMITTED UNDER THE LAWS OF THE JURISDICTION IN WHICH YOU ARE LOCATED.</li>


      </ol>
    </li>

    <li>
      <h3 class='num_title'>Limitation of Liability and Damages</h3>
      <ol class='let'>
        <li><span class='underline'>Limitation of Liability.</span> UNDER NO CIRCUMSTANCES, AND UNDER NO LEGAL THEORY, INCLUDING BUT NOT LIMITED TO NEGLIGENCE, SHALL WRI OR ITS AFFILIATES, CONTRACTORS, EMPLOYEES, AGENTS, OR THIRD PARTY PARTNERS OR SUPPLIERS, BE LIABLE FOR ANY SPECIAL, INDIRECT, INCIDENTAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES (INCLUDING WITHOUT LIMITATION, LOSS OF PROFITS, DATA, OR USE OR COST OF COVER) ARISING OUT OF OR RELATING TO THESE TERMS OR THAT RESULT FROM YOUR USE OR THE INABILITY TO USE THE SITE, INCLUDING SOFTWARE, SERVICES. MAPS, CONTENT, USER SUBMISSIONS, OR ANY THIRD PARTY SITES REFERRED TO ON OR BY THE SITE, EVEN IF WRI OR A WRI AUTHORIZED REPRESENTATIVE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</li>

        <li><span class='underline'>Limitation of Damages.</span> IN NO EVENT SHALL THE TOTAL LIABILITY OF WRI OR ITS AFFILIATES, CONTRACTORS, EMPLOYEES, AGENTS, OR THIRD PARTY PARTNERS, LICENSORS, OR SUPPLIERS TO YOU FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION ARISING OUT OF OR RELATING TO THESE TERMS OR YOUR USE OF THE SITE (WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE), WARRANTY, OR OTHERWISE) EXCEED ONE HUNDRED DOLLARS ($100 USD).</li>

        <li><span class='underline'>Savings Clause.</span> CERTAIN JURISDICTIONS DO NOT ALLOW EXCLUSIONS OR LIMITATIONS ON CERTAIN DAMAGES AND LIABILITIES. IF YOU RESIDE IN SUCH A JURISDICTION, SOME OR ALL OF THE ABOVE EXCLUSIONS OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS. THE LIMITATIONS OR EXCLUSIONS LIABILITY CONTAINED IN THESE TERMS APPLY TO YOU TO THE FULLEST EXTENT SUCH LIMITATIONS OR EXCLUSIONS ARE PERMITTED UNDER THE LAWS OF THE JURISDICTION IN WHICH YOU ARE LOCATED.</li>

      </ol>
    </li>

    <li>
      <h3 class='num_title'>Digital Millennium Copyright Act Compliance</h3>
      <p>If You are a copyright owner or an agent thereof, and believe that any user submission or other WRI content infringes upon Your copyrights, You may submit a notification pursuant to the Digital Millennium Copyright Act (“DMCA”) by providing our Copyright Agent (as defined below) with the following information in writing (see 17 U.S.C § 512(c)(3) for further detail):</p>

      <ol class='let'>
        <li>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;</li>

        <li>Identification of the exact location on the Site of copyrighted work claimed to have been infringed, or, if multiple copyrighted works on the Site are covered by a single notification, a representative list of such works as located on the Site;</li>

        <li>The address, telephone number, and electronic mail address of the complaining party;</li>

        <li>A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and</li>

        <li>A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>


        <li>Your electronic or physical signature (as appropriate).</li>

      </ol>
      <p>The designated Copyright Agent to receive notifications of claimed infringement is:<br/>World Resources Institute Tel: +1 (202) 729-7600 Email: <a href='mailto:gfw@wri.org'>gfw@wri.org</a></p>
    </li>

    <li>
      <h3 class='num_title'>Additional Terms</h3>
      <ol class='let'>
        <li>These Terms shall be governed by and construed in accordance with the laws of the State of New York, U.S.A., excluding its conflict of laws provisions. You agree that any action at law or in equity arising out of or relating to these Terms or WRI shall be filed only in the federal court in and for New York City, New York,, USA, and You hereby consent and submit to the exclusive personal jurisdiction and venue of such court for the purposes of litigating any such action.  The parties hereby exclude application of the U.N. Convention on Contracts for the International Sale of Goods from this Agreement and any transaction related thereto.</li>

        <li>A provision of these Terms may be waived only by a written instrument executed by the party entitled to the benefit of such provision. The failure of WRI to exercise or enforce any right or provision of these Terms will not constitute a waiver of such right or provision.</li>

        <li>If any provision of these Terms shall be unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable from these Terms and shall not affect the validity and enforceability of any remaining provisions.</li>

        <li>You agree that no joint venture, partnership, employment, or agency relationship exists between You and WRI as a result of these Terms or use of WRI. You further acknowledge no confidential, fiduciary, contractually implied, or other relationship is created between You and WRI other than pursuant to these Terms.</li>

        <li>WRI reserves the right, at its sole discretion, to modify, add, or delete portions of or otherwise change these Terms at any time without notice to You by posting the changed Terms on the Site. All changes shall be effective immediately upon posting. Please check these Terms periodically for changes. Your continued use of the Services after the posting of changes constitutes Your binding acceptance of such changes.</li>

        <li>You must fully comply with all applicable export laws, including U.S. law, and must not directly or indirectly export, any computer hardware, software, technical data or derivatives of such hardware, software or technical data (<strong>"HSoTD"</strong>), or re-export, or permit the shipment or transfer of same: (i) into (or to a national or resident of) Cuba, Iran, North Korea, Sudan, Syria or any other country, destination or person to which HSoTD would be prohibited by the United States, such as, but not limited to, anyone on the U.S. Treasury Department’s List of Specially Designated Nationals, List of Specially Designated Terrorists or List of Specially Designated Narcotics Traffickers, or the U.S. Commerce Department’s Denied Parties List; or (ii) to any country or destination for which the United States requires an export license or other approval for export without first having obtained such license or other approva.</li>

        <li>The Agreement constitutes the entire agreement between the parties and supersedes any prior or contemporaneous written or oral agreement or understanding with respect to its subject matter.</li>
      </ol>
    </li>
  </ol>
</div>
