@import '~styles/settings.scss';
$mobile-padding: rem(20px);
$desktop-padding: rem(40px);

.c-form {
  max-height: 90vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 40px 20px 20px;
  border-bottom: 66px solid transparent;
  outline: none;
  margin: 0 auto;
  max-width: 700px;
  color: #333;
  border: none;
  box-shadow: none;
  background: transparent;
  border-radius: 0;
  font-size: 14px;
  line-height: 1.25;

  .c-button {
    margin-bottom: 30px;
  }
}
