@import '~styles/settings.scss';
$black-tabs: #404040;
$left-panel-width: calc((#{$max-width} * 0.7) + ((100vw - #{$max-width}) / 2));
$right-panel-width: calc((#{$max-width} * 0.3) + ((100vw - #{$max-width}) / 2));

.l-country {
  border-bottom: solid 1px $border;
  display: flex;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: 100%;

    @media screen and (min-width: $screen-m) {
      grid-template-columns: $left-panel-width $right-panel-width;
    }
  }

  .content-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;

    @media screen and (min-width: $screen-m) {
      width: $left-panel-width;
    }

    .dashboard-widgets {
      @media screen and (min-width: $screen-xl) {
        padding-left: calc(100% - (#{$max-width} * 0.7) + #{$desktop-gutter});
      }
    }
  }

  .map-panel {
    height: calc(100% - 56px);
    position: fixed;
    right: -100%;
    width: 100%;
    top: 0;
    transition: right 0.5s linear;
    background-color: #b3e2ff;
    z-index: 1001;

    @media screen and (min-width: $screen-m) {
      margin-right: 0;
      position: unset;
      z-index: 200;
      margin-top: -58px;
      width: $right-panel-width;
    }

    .map-container {
      height: 100vh;
    }

    &.-open-mobile {
      right: 0;
    }
  }

  .map-controls {
    display: none;
    position: absolute;
    top: rem(15px);
    right: rem(15px);
    z-index: 999;

    @media screen and (min-width: $screen-m) {
      display: block;
    }
  }

  .close-map-button {
    position: fixed;
    top: rem(75px);
    right: rem(15px);
    width: rem(60px);
    height: rem(60px);
    background-color: $white;
    z-index: 1002;
    cursor: pointer;
    fill: $white;
    border-radius: 50%;

    @media screen and (min-width: $screen-m) {
      display: none;
      z-index: 220;
    }

    &:focus {
      outline: none;
    }
  }

  .header,
  .nav {
    @media screen and (min-width: $screen-xl) {
      padding-left: calc(100% - (#{$max-width} * 0.7));
    }
  }
}
