@import '~styles/settings.scss';
$mobile-padding: rem(30px);
$desktop-padding: rem(50px);

.c-modal-attributions {
  background: #fff;
  max-width: rem(800px);

  .modal-title {
    padding: 0.3125rem $mobile-padding;
  }

  .modal-attributions-content {
    min-width: 290px;
    padding: $mobile-padding;

    .logos {
      display: flex;
      flex-direction: column;
      margin-bottom: rem(20px);

      a {
        margin-bottom: rem(15px);
      }

      .mapbox-logo {
        width: rem(100px);
        height: rem(25px);
      }

      .ee-logo {
        width: rem(180px);
      }

      .carto-logo {
        width: rem(90px);
      }
    }

    .links {
      display: flex;
      flex-direction: column;
      font-size: rem(12px);

      * {
        margin-bottom: rem(15px);
      }

      a {
        color: $green-gfw;
      }
    }
  }
}

