@import '~styles/settings.scss';

.l-section-projects {
  h2 {
    opacity: 0.5;
    font-size: rem(18px);
    text-transform: uppercase;
  }

  .project-header {
    display: none;

    @media screen and (min-width: $screen-l) {
      display: block;
    }
  }

  .project-search {
    margin-bottom: rem(30px);

    @media screen and (min-width: $screen-l) {
      margin: rem(50px) 0 rem(40px) rem(20px);
    }
  }

  .project-list {
    margin-bottom: rem(30px);
  }

  .project-cards {
    position: relative;
    min-height: rem(100px);

    .card-container {
      margin-bottom: rem(30px);
    }
  }

  .project-card {
    height: 100%;
  }
}
