.search-section{
  padding: 0 20px 25px;
}

// SEARCH BOX
.search-box{
  font-weight: 400;
  margin: 20px auto;
  position: relative;
  @extend .clearfix;
  &:after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 10px;
    width: 30px;
    height: 30px;
    background: image-url('countries/search.svg') no-repeat center;
    background-size: contain;
    transform: translate(0, -50%);
  }
  input{
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 10px;
    padding-left: 50px;
    margin: 0;
    border-radius: 3px;
    font-size: 24px;
    background: #FFF;
    color: $dark;
    border: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 20px;
    outline: none;
    font-family: inherit;
    &.is-active{
      background: rgba($cGreen1,0.3);
    }
  }
}
