@import '~styles/settings.scss';

.c-footer {
  min-height: rem(122px);
  background-color: $grey-light;
  border-bottom: solid 1px $border;
  position: relative;
  padding: rem(30px) 0 rem(20px);

  @media screen and (min-width: $screen-m) {
    padding: rem(30px) 0;
  }

  .alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    @media screen and (min-width: $screen-l) {
      margin-bottom: 0;
    }

    span {
      font-size: 14px;
      line-height: 1.14;
      color: $slate;
      display: block;
      margin-bottom: rem(15px);
    }

    a {
      max-width: rem(160px);
    }
  }
}
