@import '~styles/settings.scss';

.c-stories {
  position: relative;
  width: 100%;
  border-bottom: solid 1px $border;

  .stories-panels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    @media screen and (min-width: $screen-m) {
      flex-direction: row;
    }
  }

  .left-panel {
    width: 100%;

    @media screen and (min-width: $screen-m) {
      width: 70%;
    }

    @media screen and (min-width: $screen-xl) {
      width: calc((#{$max-width} * 0.7) + ((100vw - #{$max-width}) / 2));
    }
  }

  .right-panel {
    width: 100%;
    position: relative;

    @media screen and (min-width: $screen-m) {
      width: 30%;
    }

    @media screen and (min-width: $screen-xl) {
      width: calc((#{$max-width} * 0.3) + ((100vw - #{$max-width}) / 2));
    }
  }

  .primary-stories {
    padding: 0 $mobile-gutter rem(40px) $mobile-gutter;

    @media screen and (min-width: $screen-m) {
      padding: rem(80px) $desktop-gutter rem(80px) $desktop-gutter;
    }

    @media screen and (min-width: $screen-xl) {
      padding-left: calc(100% - (#{$max-width} * 0.7) + #{$desktop-gutter});
    }

    h2 {
      font-size: rem(47px);
      font-weight: 300;
      line-height: 0.85;
      letter-spacing: -0.6px;
      color: $slate;
      margin-bottom: rem(20px);

      @media screen and (min-width: $screen-m) {
        margin-bottom: rem(60px);
      }
    }

    .container-titles {
      margin-bottom: rem(15px);

      @media screen and (min-width: $screen-m) {
        margin-bottom: rem(30px);
      }

      p {
        font-size: rem(18px);
        line-height: 2.22;
        color: rgba($slate, 0.5);
      }
    }

    .description {
      font-size: rem(18px);
      line-height: 1.67;
      letter-spacing: -0.4px;
      color: $slate;
    }

    .link {
      font-size: rem(18px);
      font-weight: 500;
      line-height: 1.67;
      letter-spacing: -0.4px;
      text-decoration: underline;
      display: inline-block;
      margin-top: rem(40px);
      color: #97be32;
    }
  }

  .secondary-stories {
    padding: rem(20px) $mobile-gutter rem(30px) $mobile-gutter;
    background-color: $green-gfw;
    height: 100%;

    @media screen and (min-width: $screen-m) {
      padding: rem(80px) rem(20px) rem(80px) rem(60px);
    }

    @media screen and (min-width: $screen-xl) {
      padding-right: calc(100% - (#{$max-width} * 0.3));
    }

    .circle {
      width: rem(100px);
      height: rem(100px);
      border-radius: rem(50px);
      position: absolute;
      background-color: white;
      left: rem(-50px);
      border: 1px solid rgba($slate, 0.1);
      display: none;

      @media screen and (min-width: $screen-m) {
        display: block;
      }
    }

    h3 {
      font-size: rem(18px);
      line-height: 2.22;
      color: rgba($slate, 0.5);
      height: rem(50px);
      position: relative;
      text-transform: uppercase;
      margin-bottom: rem(20px);

      &::after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: rgba($slate, 0.2);
      }
    }

    .title-name {
      font-size: rem(18px);
      font-weight: 500;
      line-height: 1.67;
      letter-spacing: -0.4px;
      color: $slate;
      margin-bottom: rem(20px);

      @media screen and (min-width: $screen-m) {
        margin-bottom: rem(50px);
      }
    }

    .description {
      max-width: rem(210px);
      font-size: rem(18px);
      line-height: 1.67;
      letter-spacing: -0.4px;
      color: rgba($slate, 0.7);
    }

    .link {
      display: inline-block;
      margin-top: rem(50px);
      color: $white;
      text-decoration: underline;
    }
  }
}
