@import '~styles/settings.scss';

.theme-dropdown-native-inline {
  display: inline-block;

  .select-wrapper {
    border: 0;
    border-radius: 0;

    select {
      font-size: rem(10px);
      text-transform: uppercase;
      font-weight: 400;
      padding: 0 rem(10px) 0 0;
      height: auto;
    }

    svg {
      position: static;
    }

    .arrow-icon {
      right: 0;
    }
  }
}
