@import '~styles/settings.scss';

.c-form {
  font-size: rem(13px);
  line-height: 1.54;
  color: rgba($slate, 0.7);

  label {
    font-size: rem(16px);
  }

  h4 {
    font-size: rem(16px);
    margin-bottom: rem(5px);
  }

  .field {
    margin-bottom: rem(15px);
  }

  input,
  select,
  textarea {
    border-radius: 4px;
    background-color: transparent;
    border: solid 1px $border;
    outline: none;
    color: $slate;
  }

  input,
  select {
    width: 100%;
    max-width: rem(315px);
    height: rem(40px);
    padding: 0 rem(8px);
  }

  textarea {
    width: 100%;
    height: rem(110px);
    padding: rem(9px) rem(8px);
    resize: none;
    font-size: rem(15px);
    line-height: 1.5;

    &::placeholder {
      font-size: rem(15px);
      line-height: 1.5;
    }
  }

  button {
    max-width: rem(200px);
  }

  .radio {
    margin-bottom: rem(15px);

    p {
      margin-bottom: rem(20px);
    }

    label {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      margin-bottom: rem(5px);

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(16px);
        height: rem(16px);
        border-radius: 100%;
        border: solid 1px $slate;
        margin-right: rem(10px);

        &::after {
          content: '';
          width: rem(8px);
          height: rem(8px);
          background-color: $green-gfw;
          border-radius: 100%;
          display: none;
        }
      }
    }

    input[type=radio] {
      display: none;
    }

    input[type=radio]:checked + label span::after {
      display: block;
    }
  }

  .error {
    label {
      color: #ed1846;
    }

    input,
    select,
    textarea {
      border-color: #ed1846;
    }
  }

  .submit-btn {
    min-width: rem(160px);
  }
}
