<div class="widget">
  <h4 class="title">Annual Tree cover loss</h4>

  <div class="m-widget-annual-tree-cover-loss chart">
    <div class="m-grouped-chart">
      <div id="annual-tree-cover-loss-graph"></div>
    </div>
  </div>
</div>
