<div class="legend-container">
  <ul>
    <li><div class="circle -outside" data-color="red"></div>Annual tree cover loss outside of plantations</li>
    <li><div class="circle -within" data-color="pink"></div>Annual tree cover loss within plantations  (only for 2013 and later)</li>
  </ul>
</div>
