<div class="widget">
  <div class="m-widget-annual-tree-cover-loss-ranking">
    <div class="ranking">
      <div class="list">
        <h3 class="heading">Subnational ranking in protected areas:</h3>
          Not available 
      </div>
    </div>
  </div>
</div>
