<div class="widget">
    <div class="row">
        <div class="small-12">
            <h4 class="title -icons">
              TOTAL FIRE COUNT
              <div class="widget-actions">
                <svg class="icon icon-info-green"><use xlink:href="#icon-info-green"></use></svg>
                <svg class="icon icon-gray-share js-share-link" data-share-embed-url="/embed/country_widget/fire_alerts/{{iso}}" data-share-embed-width="600" data-share-embed-height="420"><use xlink:href="#icon-gray-share"></use></svg>
              </div>
            </h4>
        </div>
    </div>
    <div class="row fire-alerts-filter">
      <div class="filter-list mobile">
        <ul class="list-mobile">
          <li>Data shown <span class="data data-shown js-open-fire-alerts-modal">Fires burning in concessions</span></li>
          <li>Data source <span class="data data-soruce js-open-fire-alerts-modal">Past week</span></li>
        </ul>
      </div>
      <div class="desktop">
        <div class="small-5">
            <div class="c-switch">
                <span class="label -no-text-transform">Period</span>
                <ul class="options">
                    <li class="active">Past week</li>
                    <li class="disabled">Past 72 h</li>
                    <li class="disabled">Past 48 h</li>
                    <li class="disabled">Past 24 h</li>
                </ul>
            </div>
        </div>
        <div class="small-4">
            <div class="c-select">
                <span class="label">Data shown</span>
                <div class="wrapper">
                    <select class="-no-text-transform" id="cla-data-shown-select">
                        <option value="monthly">Fires burning in concessions</option>
                    </select>
                    <div class="select-clear" style="display: none;">✕</div>
                    <svg class="icon arrow-select select-arrow -green-icon"><use xlink:href="#arrow-select"></use></svg>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row loading-placeholder" id="fa-graphs-container"></div>
</div>
