<div class="country-page-legend">
  <ul>
    <li>
      <span class="onoffswitch js-toggle-layer" data-section="tree-cover-snapshot"><span></span></span>
      <div class="layer-name">
        Tree cover (snapshot)
        <svg class="icon icon-info-green -hidden"><use xlink:href="#icon-info-green"></use></svg>
      </div>
    </li>
    <li>
      <span class="onoffswitch js-toggle-layer" data-section="cover-loss"><span></span></span>
      <div class="layer-name">
        Tree cover loss
        <svg class="icon icon-info-green -hidden"><use xlink:href="#icon-info-green"></use></svg>
      </div>
    </li>
    <li>
      <span class="onoffswitch js-toggle-layer" data-section="cover-gain"><span></span></span>
      <div class="layer-name">
        Tree cover Gain
        <svg class="icon icon-info-green -hidden"><use xlink:href="#icon-info-green"></use></svg>
      </div>
    </li>
    <li>
      <span class="onoffswitch js-toggle-layer" data-section="cover-loss-alerts"><span></span></span>
      <div class="layer-name">
        Tree cover loss alerts last month
        <svg class="icon icon-info-green -hidden"><use xlink:href="#icon-info-green"></use></svg>
      </div>
    </li>
    <li>
      <span class="onoffswitch js-toggle-layer" data-section="fires"><span></span></span>
      <div class="layer-name">
        Fire alerts in the past 24 hours
        <svg class="icon icon-info-green -hidden"><use xlink:href="#icon-info-green"></use></svg>
      </div>
    </li>
  </ul>
</div>
