<div class="country-page-legend">
  <ul>
    <li>
      <span class="onoffswitch js-toggle-layer tree-cover-snapshot-switch" data-section="tree-cover-snapshot"><span></span></span>
      <div class="layer-name">
        Tree cover (snapshot)
        <svg class="icon icon-info-green -hidden"><use xlink:href="#icon-info-green"></use></svg>
      </div>
    </li>
    <li>
      <span class="onoffswitch js-toggle-layer cover-loss-switch" data-section="cover-loss"><span></span></span>
      <div class="layer-name">
        Tree cover loss
        <svg class="icon icon-info-green -hidden"><use xlink:href="#icon-info-green"></use></svg>
      </div>
    </li>
    <li>
      <span class="onoffswitch js-toggle-layer cover-gain-switch" data-section="cover-gain"><span></span></span>
      <div class="layer-name">
        Tree cover Gain
        <svg class="icon icon-info-green -hidden"><use xlink:href="#icon-info-green"></use></svg>
      </div>
    </li>
    <li>
      <span class="onoffswitch js-toggle-layer cover-loss-alerts-switch" data-section="cover-loss-alerts"><span></span></span>
      <div class="layer-name">
        Tree cover loss alerts last month
        <svg class="icon icon-info-green -hidden"><use xlink:href="#icon-info-green"></use></svg>
      </div>
    </li>
    <li>
      <span class="onoffswitch js-toggle-layer viirs_fires_alerts-switch" data-section="fires"><span></span></span>
      <div class="layer-name">
        Fire alerts in the past 24 hours
        <svg class="icon icon-info-green -hidden"><use xlink:href="#icon-info-green"></use></svg>
      </div>
    </li>
  </ul>
</div>

<div class="container-zoom-buttons -top">
  <div class="js-zoom-in">
    <svg class="icon"><use xlink:href="#icon-control-plus"></use></svg>
  </div>
  <div class="js-zoom-out">
    <svg class="icon"><use xlink:href="#icon-control-minus"></use></svg>
  </div>
</div>
