<div class="country-page-legend">
  <ul>
    <li>
      <span class="onoffswitch js-toggle-layer tree-cover-snapshot-switch" data-section="tree-cover-snapshot" data-color="#97bd3d"><span></span></span>
      <div class="layer-name">
        Tree cover (snapshot)
        <svg class="icon icon-info-green -hidden"><use xlink:href="#icon-info-green"></use></svg>
      </div>
    </li>
    <li>
      <span class="onoffswitch js-toggle-layer cover-loss-switch" data-section="cover-loss" data-color="#F768A1"><span></span></span>
      <div class="layer-name">
        Tree cover loss
        <svg class="icon icon-info-green -hidden"><use xlink:href="#icon-info-green"></use></svg>
      </div>
    </li>
    <li>
      <span class="onoffswitch js-toggle-layer cover-gain-switch" data-section="cover-gain" data-color="#3182BD"><span></span></span>
      <div class="layer-name">
        Tree cover Gain
        <svg class="icon icon-info-green -hidden"><use xlink:href="#icon-info-green"></use></svg>
      </div>
    </li>
    <li>
      <span class="onoffswitch js-toggle-layer cover-loss-alerts-switch" data-section="cover-loss-alerts" data-color="#F768A1"><span></span></span>
      <div class="layer-name">
        Tree cover loss alerts last month
        <svg class="icon icon-info-green -hidden"><use xlink:href="#icon-info-green"></use></svg>
      </div>
    </li>
    <li>
      <span class="onoffswitch js-toggle-layer fires-switch" data-section="fires" data-color="#ED4602"><span></span></span>
      <div class="layer-name">
        Fire alerts in the past 24 hours
        <svg class="icon icon-info-green -hidden"><use xlink:href="#icon-info-green"></use></svg>
      </div>
    </li>
  </ul>
</div>

<div class="container-zoom-buttons -top">
  <div class="js-zoom-in">
    <svg class="icon"><use xlink:href="#icon-control-plus"></use></svg>
  </div>
  <div class="js-zoom-out">
    <svg class="icon"><use xlink:href="#icon-control-minus"></use></svg>
  </div>
</div>
