<div class="widget">
  <h4 class="title -icons">
    Near-real time alerts
    <div class="widget-actions">
      <svg class="icon icon-info-green"><use xlink:href="#icon-info-green"></use></svg>
      <svg class="icon icon-gray-share"><use xlink:href="#icon-gray-share"></use></svg>
    </div>
  </h4>

  <div class="m-widget-near-real-time-alerts">
    <div class="list">
      <div class="item">
        <div class="number -up">{{glad}}</div>
        <div class="text">Tree cover loss alerts last month</div>
      </div>

      <div class="item">
        <div class="number -up -red">{{viirs}}</div>
        <div class="text">Fire alerts in the past 24 hours</div>
      </div>
    </div>
    <a class="btn gray small -transparent-background" target="_blank" href="/map/4/-17.34/-55.97/ALL/grayscale/umd_as_it_happens,places_to_watch">Places to watch</a>
  </div>
</div>
