<div class="widget">
  <h4 class="title -icons">
    Near-real time alerts
    <div>
      <svg class="icon icon-info-green"><use xlink:href="#icon-info-green"></use></svg>
      <svg class="icon icon-gray-share"><use xlink:href="#icon-gray-share"></use></svg>
    </div>
  </h4>

  <div class="m-widget-near-real-time-alerts">
    <div class="list">
      <div class="item">
        <div class="number -up">{{data.glad.0.value}}</div>
        <div class="text">Tree cover loss alerts last month</div>
      </div>

      <div class="item">
        <div class="number -up -red">{{data.viirs.0.value}}</div>
        <div class="text">Fire alerts in the past 24 hours</div>
      </div>
    </div>
    <a class="btn gray small -transparent-background" href="">Places to watch</a>
  </div>
</div>
