<div class="widget">
  <div class="row">
    <div class="small-12">
      <h4 class="title">Monthly tree cover loss alerts</h4>
    </div>
  </div>
  <div class="row">
    <div class="small-4">
      <div class="c-switch">
        <span class="label">Data source</span>
        <ul class="options">
          <li class="active">GLAD</li>
          <li class="disabled">Terra-i</li>
          <li class="disabled">SAD</li>
        </ul>
      </div>
    </div>
    <div class="small-4">
      <div class="c-select">
        <span class="label">Data shown</span>
        <div class="wrapper">
          <select id="cla-data-shown-select">
            <option value="monthly">By year</option>
          </select>
          <div class="select-clear" style="display: none;">✕</div>
          <div class="select-arrow"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row collapse widget-placeholder -loading" id="cla-graphs-container">
  </div>
</div>
