<div class="widget">
  <h4 class="title -icons">
    Tree cover loss
    <div class="widget-actions">
      <svg class="icon icon-info-green"><use xlink:href="#icon-info-green"></use></svg>
      <svg class="icon icon-gray-share js-share-link" data-share-embed-url="/embed/country_widget/snap_tree_cover_loss/{{iso}}{{#if region}}/{{region}}{{/if}}" data-share-embed-width="600" data-share-embed-height="286"><use xlink:href="#icon-gray-share"></use></svg>
    </div>
  </h4>

  <div class="m-widget-tree-cover-loss chart" id="tree-cover-loss-line-graph">
    <div class="m-line-chart">
      <div id="tree-cover-loss-graph"></div>
    </div>

    <div class="total">
      <div class="number" id="value-tree-cover-loss">{{currentLoss}} <span class="unit">ha</span></div>
      <div class="label" id="label-tree-cover-loss">(Aprox.: Extent of <span id="country-aprox-tree-cover-loss"></span>)</div>
    </div>
  </div>
</div>
