<div class="widget">
  <div class="m-widget-tree-cover-loss-ranking">
    <div class="ranking">
      <div class="list">
        <h3 class="heading">Tree cover country ranking 2010</h3>
        {{#each data}}
          <div class="item">
            <div class="number">{{index}}</div>
            <div class="name">{{name}}</div>
            <div class="value{{#if selected }} -selected{{/if}}">{{value}}<span class="unit">MHa</span></div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
