<div class="widget">
  <h4 class="title">Tree cover</h4>
  <div class="m-widget-tree-cover">
    <div class="c-switch">
      <span class="label">Data source</span>
      <ul class="options">
        <li class="active">GFW</li>
        <li class="disabled">FAO</li>
      </ul>
    </div>

    <div class="graph">
      <div class="legend">
        <div class="summary">
          <div class="heading">Total tree cover</div>
          <div class="value">{{totalCover}}<span class="unit">MHa</span></div>
          <div class="label">(Plantations excluded)</div>
        </div>
        <div class="list">
          <div class="item">
            <div class="icon" style="background: #dddde0;"></div>
            <div class="name">None</div>
          </div>
          <div class="item">
            <div class="icon" style="background: #97be32;"></div><div class="name">Tree cover (2010)</div>
          </div>
          <div class="item">
            <div class="icon" style="background: #168500;"></div><div class="name">Intact Forest Landscapes (2013)</div>
          </div>
        </div>
      </div>
      <div class="m-pie-chart">
        <div id="tree-cover-graph" class="chart"></div>
      </div>
    </div>
    <div class="ranking">
      <div class="list">
        <h3 class="heading">Country ranking:</h3>
        <div class="item">
          <div class="number">1</div>
          <div class="name">Russia</div>
          <div class="value">40,94<span class="unit">MHa</span></div>
        </div>

        <div class="item">
          <div class="number">2</div>
          <div class="name">Brazil</div>
          <div class="value -selected">38,34<span class="unit">MHa</span></div>
        </div>

        <div class="item">
          <div class="number">3</div>
          <div class="name">Canada</div>
          <div class="value">30,63<span class="unit">MHa</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
