<div class="widget -short">
  <div class="row collapse">
    <div class="column small-12 big-bottom-separation">
      <h4 class="title -icons">
        Annual reforestation rate
      <div class="widget-actions">
        <svg class="icon icon-info-green"><use xlink:href="#icon-info-green"></use></svg>
        <svg class="icon icon-gray-share js-share-link" data-share-embed-url="/embed/country_widget/tree_cover_reforestation/{{iso}}" data-share-embed-width="600" data-share-embed-height="246"><use xlink:href="#icon-gray-share"></use></svg>
      </div>
      </h4>
    </div>
    <div class="small-12 reforestation-rate-container">
      <div class="small-6 medium-6">
        <div class="column contain-country-information">
          {{#if totalReforestation}}
          <p class="text">In 2010, the rate of reforestation was <span class="value">{{totalReforestation}} ha/year</span></p>
          {{else}}
          <span>There are no data</span>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
