<div class="widget">
  <h4 class="title">Tree cover loss</h4>

  <div class="m-widget-tree-cover-loss">
    <div class="m-line-chart">
      <div id="tree-cover-loss-graph"></div>
    </div>

    <div class="total">
      <div class="number">{{currentLoss}} <span class="unit">Ha</span></div>
      <div class="label">(Aprox.: Extension of Brazil)</div>
    </div>
  </div>
</div>
