<div class="widget -short">
  <div class="row collapse">
    <div class="column small-12">
      <h4 class="title -icons">
        Tree cover gain
      <div class="widget-actions">
        <svg class="icon icon-info-green"><use xlink:href="#icon-info-green"></use></svg>
        <svg class="icon icon-gray-share"><use xlink:href="#icon-gray-share"></use></svg>
      </div>
      </h4>
    </div>
    <div class="column small-12">
      <p class="highlight">{{value}} <span class="unit">{{unit}}</span> </p>
    </div>
  </div>
</div>
