<div class="widget -short">
  <h4 class="title">Annual reforestation rate</h4>
  <div class="row">
    <div class="column small-12 medium-6">
      <p class="text">In 2010, the rate of reforestation was <span class="value">{{value}} {{unit}} Ha/year</span></p>
    </div>
    <div class="column small-12 medium-6">
      TODO: tree icons
    </div>
  </div>
</div>
