<div class="widget -short">
  <div class="row collapse">
    <div class="column small-12">
      <h4 class="title">Tree cover gain</h4>
    </div>
    <div class="column small-12">
      <p class="highlight">{{value}} <span class="unit">{{unit}}</span> </p>
    </div>
  </div>
</div>
