<div class="widget -no-b-margin">
  <h4 class="title -icons">
    Tree cover
    <div class="widget-actions">
      <svg class="icon icon-info-green"><use xlink:href="#icon-info-green"></use></svg>
      <svg class="icon icon-gray-share js-share-link" data-share-embed-url="/embed/country_widget/snap_tree_cover/{{iso}}{{#if region}}/{{region}}{{/if}}" data-share-embed-width="600" data-share-embed-height="420"><use xlink:href="#icon-gray-share"></use></svg>
    </div>
  </h4>
  <div class="m-widget-tree-cover">
    <div class="c-switch -switch-tree-cover">
      <span class="label">Data source</span>
      <ul class="options">
        <li class="active js-open-snapshot-tree-cover-modal">GFW</li>
        <li class="disabled js-open-snapshot-tree-cover-modal">FAO</li>
      </ul>
    </div>

    <div class="graph">
      <div class="legend">
        <div class="summary">
          <div class="heading">Total tree cover</div>
          <div class="value">{{totalCover.value}}<span class="unit">{{totalCover.unit}}</span></div>
          <div class="label">(Plantations excluded)</div>
        </div>
        <div class="list">
          <div class="item">
            <div class="icon" style="background: #dddde0;"></div>
            <div class="name">Non-forest</div>
          </div>
          <div class="item">
            <div class="icon" style="background: #97be32;"></div><div class="name">Tree cover (2010)</div>
          </div>
          <div class="item">
            <div class="icon" style="background: #168500;"></div><div class="name">Intact Forest Landscapes (2013)</div>
          </div>
        </div>
      </div>
      <div class="m-pie-chart">
        <div id="tree-cover-graph" class="chart"></div>
      </div>
    </div>
  </div>
</div>
