<div class="widget">
  <h4 class="title -icons">
    Tree cover loss
    <div class="widget-actions">
      <svg class="icon icon-info-green"><use xlink:href="#icon-info-green"></use></svg>
      <svg class="icon icon-gray-share"><use xlink:href="#icon-gray-share"></use></svg>
    </div>
  </h4>

  <div class="m-widget-tree-cover-loss chart">
    <div class="m-line-chart">
      <div id="tree-cover-loss-graph"></div>
    </div>

    <div class="total">
      <div class="number">{{currentLoss}} <span class="unit">Ha</span></div>
      <div class="label">(Aprox.: Extension of {{country.name}})</div>
    </div>
  </div>
</div>
