@import '~styles/settings.scss';

.c-map-menu {
  z-index: 2;

  .menu-tiles {
    z-index: 2;
    background-color: $white-tree;
    border-top: solid 1px $border;

    @media screen and (min-width: $screen-m) {
      height: 100%;
    }
  }

  .menu-panel {
    padding-bottom: rem(50px);
  }
}
