@import '~styles/settings.scss';

.c-map-menu {
  z-index: 2;

  .menu-tiles {
    z-index: 2;

    @media screen and (min-width: $screen-m) {
      height: 100vh;
    }
  }

  .menu-container {
    z-index: 1;
    max-height: calc(100% - 50px);
    height: auto;
    position: absolute;
    bottom: rem(50px);
    width: 100%;

    @media screen and (min-width: $screen-m) {
      height: 100vh;
    }
  }
}
