@import '~styles/settings.scss';
$black-tabs: #404040;
$left-panel-width: calc((#{$max-width} * 0.7) + ((100vw - #{$max-width}) / 2));
$right-panel-width: calc((#{$max-width} * 0.3) + ((100vw - #{$max-width}) / 2));

.l-country {
  border-bottom: solid 1px $border;
  display: grid;
  grid-template-columns: 100%;

  @media screen and (min-width: $screen-m) {
    grid-template-columns: $left-panel-width $right-panel-width;
  }

  .content-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }

  .map-panel {
    height: 100%;
    position: fixed;
    right: -100%;
    width: 100%;
    top: 0;
    transition: right 0.5s linear;
    background-color: #b3e2ff;
    z-index: 1001;

    @media screen and (min-width: $screen-m) {
      margin-right: 0;
      position: unset;
      z-index: 200;
      margin-top: -58px;
    }

    .map-container {
      height: 100vh;
    }

    &.-open-mobile {
      right: 0;
    }
  }

  .map-controls {
    display: none;
    position: absolute;
    top: rem(73px);
    right: rem(15px);
    z-index: 1002;

    @media screen and (min-width: $screen-m) {
      display: block;
    }
  }

  .close-map-button {
    position: fixed;
    top: rem(15px);
    right: rem(15px);
    width: rem(60px);
    height: rem(60px);
    background-color: $white;
    z-index: 1002;
    cursor: pointer;
    fill: $white;
    border-radius: 50%;

    @media screen and (min-width: $screen-m) {
      display: none;
      z-index: 220;
    }

    &:focus {
      outline: none;
    }
  }

  .header,
  .nav {
    @media screen and (min-width: $screen-xl) {
      padding-left: calc(100% - (#{$max-width} * 0.7));
    }
  }

  .widgets {
    position: relative;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    grid-auto-flow: dense;
    padding: rem(20px) $mobile-gutter rem(40px) $mobile-gutter;
    min-width: 100%;

    @media screen and (min-width: $screen-m) {
      padding-left: $desktop-gutter;
      padding-right: $desktop-gutter;
    }

    @media screen and (min-width: $screen-l) {
      padding-top: rem(50px);
      padding-right: rem(30px);
      grid-template-columns: 1fr 1fr;

      .large {
        grid-column-end: span 2;
      }
    }

    @media screen and (min-width: $screen-xl) {
      padding-left: calc(100% - (#{$max-width} * 0.7) + #{$desktop-gutter});
    }
  }

  .no-widgets-message {
    border: solid 1px rgba($medium-grey, 0.2);
    border-radius: 4px;
    position: relative;
    min-height: rem(460px);
  }

  .widgets-loader {
    position: relative;
    min-height: rem(460px);
  }
}
