@import '~styles/settings.scss';

.c-area-of-interest-form {
  h1 {
    font-size: rem(36px);
    margin-bottom: rem(30px);
    font-weight: 300;
  }

  .aoi-map {
    height: 300px;
    position: relative;
    margin-bottom: rem(30px);
  }

  .alerts-image {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    background: $border;
    margin: rem(10px) 0 rem(30px);

    img {
      width: 100%;
    }

    p {
      margin: rem(20px);
    }

    @media screen and (min-width: $screen-m) {
      flex-direction: row;
      height: rem(160px);

      p {
        margin: 0 rem(30px) 0 rem(15px);
      }
    }
  }

  // details {
  //   margin-bottom: rem(25px);

  //   summary {
  //     display: flex;
  //     align-items: center;
  //     text-transform: uppercase;
  //     font-size: rem(12px);
  //     color: #333;
  //     margin-bottom: rem(5px);
  //     font-weight: 500;
  //     cursor: pointer;

  //     &:focus {
  //       outline: none;
  //     }

  //     .info-button {
  //       margin-left: rem(10px);
  //     }
  //   }
  // }

  .webhook-actions {
    margin: -25px 0 25px;
    height: 20px;

    .test-webhook {
      color: $green-gfw;
      margin-right: rem(10px);
      font-style: italic;
      font-size: rem(12px);
      cursor: pointer;
      transition: color 0.1s ease-in-out;
      position: relative;
      padding-right: 20px;

      &:hover {
        color: darken($green-gfw, 10%);
      }

      .webhook-loader {
        width: 12px;
        height: 12px;
        left: unset;
        right: 0;
      }

      .spinner {
        width: 12px;
        height: 12px;
        border-width: 2px;
      }
    }

    .wh-success {
      color: $green-gfw;
    }

    .wh-error {
      color: $error;
    }
  }

  // h3 {
  //   font-size: rem(16px);
  //   margin-bottom: rem(40px);

  //   @media screen and (min-width: $screen-m) {
  //     margin-bottom: rem(60px);
  //   }
  // }

  // p {
  //   margin-bottom: rem(20px);
  // }

  .submit-btn {
    min-width: rem(180px);
  }

  .delete-profile {
    text-align: center;
    width: 100%;
    margin-top: rem(60px);
  }

  .reset-form-btn {
    margin: auto;
    width: rem(200px);
    margin-top: rem(30px);
  }
}
