@import '~styles/settings.scss';

.c-widget-tree-cover {
  .pie-chart-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
    padding-top: rem(40px);
  }
}
