%reset-btn {
  -webkit-appearance: none;
  border: 1px solid transparent;
  background: none;
  outline: none;
  box-shadow: none;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-family: "Fira Sans";
}

// Btn
.btn {
  @extend %reset-btn;
  background: $border1;
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 0px 12px;
  border-radius: 40px;
  font-size: 14px;
  text-decoration: none;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  text-transform: uppercase;
  color: $dark;
  background: $white;
  border-color: $primary-color;

  transition: background .15s linear;

  &:hover {
    background: darken($white,5%);
    text-decoration: none !important;
  }

  &.-disabled{
    opacity: 0.25;
    cursor: default;
  }

  // colors
  &.-primary {
    color: $white;
    background: $primary-color;

    &:hover {
      background: lighten($primary-color,5%);
    }
  }

  // sizes
  &.-huge {
    padding: 0 40px;
    height: 50px;
    line-height: 50px;
  }

  &.-m-fullwidth {
    width: 100%;
    @media (min-width: $br-mobile) {
      width: auto;
    }
  }
}

.btn-box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  &.-center {
    justify-content: center;
    > * {
      margin: 15px 0 0 0;
      @media (min-width: $br-mobile) {
        margin: 0 0 0 15px;
      }

      &:first-child {
        margin: 0;
      }
    }
  }

  &.-right {
    justify-content: flex-end;
  }
}

.btn-submit {
  position: relative;
  background: $primary-color;
  min-height: 200px;
  margin: 60px 0 0;
  display: block;

  .-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
  }

  svg {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 20px 0 0;
    fill: $white;
  }

  h3 {
    color: $white;
    text-align: center;
  }

  &:hover {
    background: darken($primary-color, 5%);
  }
}
