.static-page {

  ._align-vertically-flex {
    display: flex;
    align-items: center; 
  }

  // typography
  ._text-center {
    text-align: center;
  }

  ._light {
    font-weight: 300;
  }

  ._bold {
    font-weight: 500;
  }

  ._uppercase {
    text-transform: uppercase;
  }

  ._italic {
    font-style: italic;
  }

  ._color-white {
    color: $white;
  }

  // states
  ._hidden {
    display: none;
    visibility: hidden;
  }
}
