// Settings
$baseurl: '/* @echo BASEURL */';
// common colors
$white: #FFF;
$black: #000;
$dark: #555;
$light: #b6b6ba;
$border1: #e5e5df;
$footer-background: #eceee8;

// breackpoints
$br-mobile-portrait: 600px;
$br-mobile: 850px;
$br-tablet: 1050px;
$br-desktop: 1200px;
$br-desktopbig: 1400px;

// widths
$aside-width: 265px;

// colors
$primary-color: #97bd3d;
$red: #ed1846;
$orange: #e98300;
$blue: #5b80a0;
$transition1: all 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
$shadow1: 0 0 4px rgba(142, 142, 142, 0.5);
$border1: #E5E5DF;

// animations
$easeInSine:  cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeOutSine:  cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeInOutSine:  cubic-bezier(0.445, 0.050, 0.550, 0.950);

// Gradient
@mixin gradient($origin: left, $start: #ffffff, $stop: #000000) {
  // background-color: $start;
  background-image: -webkit-linear-gradient($origin, $start, $stop);
  background-image: -moz-linear-gradient($origin, $start, $stop);
  background-image: -o-linear-gradient($origin, $start, $stop);
  background-image: -ms-linear-gradient($origin, $start, $stop);
  background-image: linear-gradient($origin, $start, $stop);
}

// Clearfix
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
    visibility: hidden;
    font-size: 0;
    height: 0;
  }
  &:after {
    clear: both;
  }
}
