
// H2
.page-title {
  font-size: 47px;
  letter-spacing: -.7px;

  color: $dark;
}

.section-title {
	font-size: 35px;
	line-height: 1.1;
	letter-spacing: .2px;

	color: $dark;

  @media (min-width: $br-mobile){
  	font-size: 35px;
  }

  > a {
  	color: $dark;
  }

  // &.-api {
  //   text-transform: uppercase;
  // }
}

h3 {
	font-size: 19px;
  line-height: 1.25;
	text-transform: uppercase;

  &.-primary {
    color: $primary-color;
  }

  &.-secondary {
    color: $dark;
  }

  @media (min-width: $br-mobile){
  	font-size: 21px;
  }
}
