h2 {
	font-size: 25px;
	line-height: 1.25;
	font-weight: 300;
	color: #555;
  @media (min-width: $br-mobile){
  	font-size: 35px;
  }

  a {
  	color: $dark;
  }

  &.-api {
    text-transform: uppercase;
  }
}

h3 {
	font-size: 19px;
  line-height: 1.25;
	text-transform: uppercase;

  &.-primary {
    color: $primary-color;
  }

  @media (min-width: $br-mobile){
  	font-size: 21px;
  }
}
