@import "settings";
@import "reset";

// Layout & grids
@import 'base';
@import "layout";
@import "buttons";

// Modules
@import "modules/header";
@import "modules/menu";
@import "modules/modal";
@import "modules/pagination";
@import "modules/filters";

// Home
@import "modules/cover";
@import "modules/slider";
@import "modules/lory-slider";
@import "modules/card";

@import "modules/section";
@import "modules/grid";

// Tutorials
@import "modules/static";
@import "modules/select";

// Post
@import "modules/post";
@import "modules/toggle";

// Syntax
@import "syntax";

// helpers
@import "helpers";
