@import '~styles/settings.scss';

.c-submenu-panel {
  background-color: $white;
  padding: rem(40px) rem(16px) rem(20px);
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25);

  @media screen and (min-width: $screen-m) {
    height: auto;
  }

  &:focus {
    outline: none;
  }

  .submenu-wrapper {
    max-width: rem(800px);
    margin: auto;
  }

  .my-gfw-link {
    &.active {
      color: $green-gfw;

      &::after {
        background-color: transparent !important;
      }
    }

    button {
      text-transform: uppercase;
      width: 100%;
      padding: rem(15px) 0;
      display: flex;
      color: inherit;

      @media screen and (min-width: $screen-m) {
        padding: rem(15px) rem(20px);
      }
    }
  }

  .menu-search {
    margin-bottom: rem(20px);

    @media screen and (min-width: $screen-m) {
      margin-bottom: rem(40px);
    }
  }

  h4,
  .title {
    text-transform: uppercase;
    color: #aaa;
    font-size: rem(14px);
    margin-bottom: rem(23px);
    text-align: left;
  }

  .menu-section {
    padding-bottom: rem(30px);
    margin-bottom: rem(30px);
    border-bottom: solid 1px $border;

    .apps-slider {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      display: flex;
      margin-left: rem(-16px);
      width: calc(100% + 16px);
      padding: 0 rem(16px);
    }

    .app-card {
      padding-right: rem(16px);

      &:last-child {
        padding-right: 0;
      }

      .app-image {
        width: rem(90px);
        height: rem(90px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      .all-apps {
        border: solid 1px $border;
        padding: rem(10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        font-size: rem(12px);
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
        color: $slate;
        width: rem(90px);
        height: rem(90px);

        .icon-more {
          width: rem(25px);
          height: rem(25px);
          margin-bottom: rem(5px);
        }
      }
    }

    .more-links {
      > li {
        margin-bottom: rem(20px);

        a,
        button {
          display: flex;
          align-items: center;
          font-size: rem(12px);
          color: $slate;
          text-transform: uppercase;

          svg {
            margin-right: rem(15px);
            width: rem(20px);
            height: rem(20px);
          }

          &:hover {
            color: darken($slate, 30%);
            cursor: pointer;
          }
        }
      }
    }
  }

  .legal-section {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $screen-m) {
      flex-direction: row;

      > a,
      button {
        margin-right: rem(30px);
        cursor: pointer;
      }
    }
  }

  &.full-screen {
    .more-links {
      margin-left: rem(-16px) !important;
      margin-right: rem(-16px) !important;

      @media screen and (min-width: $screen-m) {
        margin-left: rem(-20px) !important;
        margin-right: rem(-20px) !important;
      }
    }
  }
}
