@import '~styles/settings.scss';

.l-sgf-page {
  padding: rem(30px) 0;
  border-bottom: solid 1px $grey-dark;

  @media screen and (min-width: $screen-m) {
    padding: rem(50px) 0;
  }
}

.l-section {
  position: relative;
}
