@import '~styles/settings';

.c-layer-statement {
  cursor: help;
  padding-top: rem(5px);

  span {
    border-bottom: dashed 1px $hot-grey;
    padding-bottom: 1px;
  }
}

.statement-tooltip-text-lossDriverLayer {
  text-align: left;
  white-space: pre-line;
}
