@import '~styles/settings.scss';
$mobile-padding: rem(30px);
$desktop-padding: rem(50px);

.c-save-aoi-form {
  .area-image {
    width: 100%;
    margin-bottom: rem(30px);
  }

  .field {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(20px);

    span {
      margin-bottom: rem(10px);
    }

    &.error {
      color: $error;
    }

    @media screen and (min-width: $screen-m) {
      margin-bottom: rem(30px);
    }
  }

  .field-image {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    background: $border;

    img {
      width: 100%;
    }

    p {
      margin: rem(20px);
    }

    @media screen and (min-width: $screen-m) {
      flex-direction: row;

      p {
        margin: 0 rem(30px) 0 rem(15px);
      }
    }
  }

  input {
    height: rem(40px);
    border: solid 1px $border;
    padding: 0 rem(10px);
    border-radius: rem(4px);
    font-size: rem(14px);

    &:focus {
      outline: none;
    }
  }

  .text-input,
  .aoi-tags-input,
  .dropdown-input .select-wrapper {
    @media screen and (min-width: $screen-m) {
      min-width: rem(400px);
      width: rem(400px);

      select {
        min-width: 400px;
      }
    }
  }

  .form-title {
    color: $slate-light;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
  }

  .form-toggle {
    display: flex;
    align-items: center;

    button {
      min-width: rem(22px);
      margin-right: rem(10px);
    }
  }

  .form-checkbox {
    label {
      color: $slate;
      font-size: 12px;
      line-height: 12px;
      display: flex;
      align-items: center;
    }
  }

  .save-aoi {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: rem(100px);

    @media screen and (min-width: $screen-m) {
      margin-top: rem(30px);
      flex-direction: row;
    }

    p {
      color: $warm-grey;
    }

    .error-message {
      color: $error;
    }

    .submit-btn {
      max-width: rem(290px);
      position: relative;
      width: 100%;

      @media screen and (min-width: $screen-m) {
        margin-left: rem(15px);
        width: auto;
      }

      &.error {
        background-color: $error;
      }
    }

    .delete-aoi {
      padding: 0;
      color: $error;
      width: 100%;

      @media screen and (min-width: $screen-m) {
        width: auto;
      }

      .delete-icon {
        margin-right: rem(5px);
        position: relative;
        fill: $error;
      }
    }
  }

  .datasets {
    > * {
      margin-bottom: rem(15px);
    }

    @media screen and (min-width: $screen-m) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      > * {
        width: 48%;
        margin-bottom: rem(15px);
      }
    }
  }

  .saving-btn-loader {
    > div {
      width: rem(20px);
      height: rem(20px);
      border-width: 2px;
    }
  }
}
