@import '~styles/settings.scss';

.c-map-scale {
  display: flex;

  .scale {
    position: relative;
    margin: 0;
    border: 0;
    border-bottom: 1px solid $map-grey;
    color: $map-grey;
    padding: 0 6px 0;
    font-size: 10px;
    font-weight: 500;
    height: rem(15px);
    background: transparent;
    letter-spacing: 1.2px;

    &:last-child {
      &::after {
        content: '';
        height: 4px;
        width: 1px;
        background-color: $map-grey;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    &::before {
      content: '';
      height: 4px;
      width: 1px;
      background-color: $map-grey;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}
