language: ruby

sudo: false

script: bundle exec rake travis

rvm:
  - 2.0
  - 2.1
  - 2.2
  - jruby-head

gemfile:
  - Gemfile
  - gemfiles/Gemfile-edge

matrix:
  fast_finish: true
  allow_failures:
    - rvm: jruby-head
notifications:
  email:
    - matt.eldridge@us.ibm.com

before_install:
  - gem update --system #  todo: workaround for https://github.com/rubygems/rubygems/pull/763
  - gem update bundler

