@import '~styles/settings.scss';

.c-form-tags {
  border-radius: 4px;
  background-color: transparent;
  border: solid 1px $border;
  outline: none;
  color: $slate;
  min-height: rem(40px);
  width: 100%;
  display: flex;
  align-items: center;

  span {
    padding: rem(10px) rem(12px) rem(5px);
    width: 100%;
    height: 100%;
    min-height: rem(40px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &::placeholder {
    color: #a8a8a8;
  }

  input {
    border: none;
    outline: none;
    height: 30px;
    margin-top: -5px;
    flex-grow: 1;
    padding: 0;
  }

  .input-pill {
    margin-right: rem(5px);
    margin-bottom: rem(5px);
  }
}

.form-tags-instructions {
  font-size: rem(12px);
  margin-top: rem(3px);
  display: block;
  color: #a8a8a8;
}
