@import '~styles/settings.scss';

.c-map-attributions {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  > * {
    margin-left: rem(15px);
  }

  a,
  span {
    color: $map-grey;
    font-size: rem(10px);

    &:hover {
      color: $map-grey;
    }
  }
}
