@import '~styles/settings.scss';

.c-landsat-menu {
  display: flex;
  flex-direction: column;

  h6 {
    font-size: 11px;
    color: $grey;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 5px;
  }

  .landsat-selector .select-wrapper {
    min-width: 60px;
  }

  .menu-row {
    margin-bottom: 15px;
  }
}
