.advanced-analysis {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($dark,0.5);
    z-index: 1;
  }
}

.advanced-analysis-content {
  width: 450px;
  max-height: 350px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  background: $white;
  transform: translate(-50%,-50%);
  pointer-events: all;
  overflow: hidden;

  header {
    text-align: center;
    font-size: 13px;
    @include clearfix();

    h2 {
      font-size: 21px;
      padding: 0 0 10px;
      text-align: center;
    }
  }

  .spinner2-box.active,
  .spinner2-box {
    position: relative;
    height: 50px;
    display: flex;
    justify-content: center;

    .spinner2 {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
    }
  }

  .no-data {
    width: 100%;
    display: none;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    background: #f2f2f2;
    color: #666;
    font-style: italic;
  }

  .close {
    display: block;
    position: absolute;
    top: 0px; right: 0px;
    width: 40px;
    height: 40px;
    z-index: 20;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      height: 50%;
      fill: $dark;
      transform: translate(-50%,-50%);
    }

    &:hover {
      svg {
        fill: darken($dark,10%);
      }
    }
  }

  .line-graph {
    font-weight: normal;
    text-transform: uppercase;
    max-height: 295px;
    overflow: scroll;

    svg {
      height: auto;
    }

    circle {
      stroke-width: 2px;
      stroke: #f5f5f5;
    }

    text {
      font-size: 12px;
    }

    .units {
      font-weight: 500;
    }

    circle,
    text,
    rect {
      fill: #AC0;
    }
  }
}
