.widget-analysis-results {

  .widget-box {
    right: 35px;
    top: 135px;
    padding: 0px;
    background: #F1F1F1;
  }

  .widget-closed,
  .analysis-info,
  .analysis-stats,
  .analysis-footer, {
    padding: 14px 20px;
  }

  .analysis-title {
    color: #999;
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    display: block;
  }

  .analysis-info {
    border-bottom: 1px solid #ccc;

    .analysis-date-range {
      display: block;
      color: #bababa;
      font-size: 12px;
      margin-top: 5px;
    }
  }

  .analysis-loading,
  .analysis-error {
    padding: 25px 0;
    background: white;
    text-align: center;
    font-size: 12px;
  }

  .analysis-stats {
    background: white;
    font-size: 12px;

    > li {
      padding: 12px 0;
      border-bottom: 1px solid #ddd;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border: none;
        padding-bottom: 0;
      }
    }

    .stats-title {
      color: #999;
      font-weight: 500;
      font-size: 11px;
      margin-bottom: 3px;
      text-transform: uppercase;
      display: block;
      .stats-threshold {
        text-transform: lowercase;
        font-weight: normal;
        font-size: 9px;
        margin-left: 4px;
      }
    }
    .stats-count {
      font-weight: 500;
      font-size: 15px;
      color: #666;
      strong {
        font-size: 18px;
        display: inline-block;
      }
    }

    .stats-notice {
      font-size: 12px;
    }

    .download-links{
      text-align: right;
      position: relative;

      span {
        color: #F69;
        font-weight: 500;
        cursor: pointer;
        a{
          color: #F69;
        }
      }

      .download-dropdown {
        text-align: left;
        width: 90px;
        top: 30px;
        right: 0;
        position: absolute;
        z-index: 2000;
        border: 0;
        background-color: #fff;
        border-radius: 3px;
        border: 1px solid #ccc;
        box-shadow: 0 0 3px rgba(0,0,0,0.2);
        &.hidden{
          display: none;
        }
        > li a {
          padding: 8px 10px;
          display: block;
          border-bottom: 1px solid #f2f2f2;
          color: $cGreen;
          &:hover{
            background-color: darken($white,2.5%);
          }
        }

      }
    }
  }

  .analysis-footer {
    border-top: 1px solid #ccc;
    text-align: right;

    .analysis-control {
      display: inline-block;
    }

    .analysis-control li {
      float: left;
      display: block;
      cursor: pointer;
      height: 29px;
      width: 30px;
      position: relative;

      &:hover{
        .tooltip1{
          visibility: visible;
          opacity: 1;
        }
      }

      &.analysis-control-subscribe {
        // @include home-icons-sprite(control_buttons_subscribe);
        background: image-url('home-icons/control_buttons_subscribe.png');
        svg{
          position: absolute;
          top: 50%;
          left: 50%;
          width: 60%;
          height: 60%;
          padding: 2px;
          fill: #999;
          background: #F1F1F1;
          @include transform(translate(-50%,-50%));
        }
        &:hover {
          position: relative;
          // @include home-icons-sprite(control_buttons_subscribe_hover);
          background: image-url('home-icons/control_buttons_subscribe_hover.png');
          svg{
            fill: #555;
          }
        }

        &:active {
          // @include home-icons-sprite(control_buttons_subscribe_active);
          // background: image-url('home-icons/control_buttons_subscribe_active.png');
        }

        &.disabled {
          @include opacity(0);
          @include pointer-events(none);
        }
      }

      &.analysis-control-delete {
        width: 31px;
        // @include home-icons-sprite(control_buttons_reset);
        background: image-url('home-icons/control_buttons_reset.png');
        &:hover {
          // @include home-icons-sprite(control_buttons_reset_hover);
          position: relative;
          background: image-url('home-icons/control_buttons_reset_hover.png');
        }
        &:active {
          // @include home-icons-sprite(control_buttons_reset_active);
          background: image-url('home-icons/control_buttons_reset_active.png');
        }
      }
    }
  }
}
