.analysis-results {
  position: fixed;
  width: 100%;
  background: $white;
  bottom: 0;
  left: 0;
  z-index: 22;
  transform: translate(0,100%);
  transition: all 0.25s $easeInOutSine;
  &.active{
    transform: translate(0,0);
  }

  @media (min-width: $br-mobileMap){
    position: relative;
    bottom: auto;
    left: auto;
    transform: translate(0,0%);
  }

  .close{
    position: absolute;
    width: 34px;
    height: 34px;
    padding: 8px;
    top: 0;
    right: 0;
    display: block;
    z-index: 5;
    svg{
      stroke: $dark;
    }
    @media (min-width: $br-mobileMap){
      display: none;
    }
  }

  .analysis-stats {
    background: white;
    font-size: 12px;

    > li {
      padding: 6px 0;
      // border-bottom: 1px solid #ddd;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border: none;
        padding-bottom: 0;
      }
    }

    .stats-title {
      color: #999;
      font-weight: 500;
      font-size: 11px;
      margin-bottom: 3px;
      text-transform: uppercase;
      display: block;
      .stats-threshold {
        text-transform: lowercase;
        font-weight: normal;
        font-size: 9px;
        margin-left: 4px;
      }
    }
    .stats-count {
      font-weight: 500;
      font-size: 15px;
      color: #666;
      strong {
        font-size: 18px;
        display: inline-block;
      }
    }

    .stats-notice {
      font-size: 11px;
      background: $border;
      border: 1px solid #CCC;
      padding: 10px;
      text-align: center;
      line-height: 1.25;
    }
  }

  .analysis-subscribe {
    width: 100%;
  }

  // FOOTER ANALYSIS
  .analysis-footer {
    margin: 15px 0 0;


    // GRID
    > ul {
      margin: 20px -20px 0;
      display: flex;
      justify-content: space-between;

      > li {
        width: 100%;
      }
    }



    // FOOTER BTN
    .analysis-footer-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 10px 0;        
      box-shadow: none;
      border: none;
      background: none;
      font-family: inherit;
      outline: none;
      color: $dark;
      background: #eeeeee;
      cursor: pointer;
      
      // ICON
      svg {
        fill: $dark;
        width: 18px;
        height: 18px;
        margin: 0 5px 0 0;

        &.-inactive {
          display: none;
        }
      }

      > span {
        font-size: 10px;
        text-transform: uppercase;
      }

      // STATES
      &:hover {
        background: lighten(#eeeeee, 5%);
      }

      &.-active {
        background: $white;
        svg {
          display: none;
          &.-inactive {
            display: block;
          }              
        }
      }
    }



    // FOOTER DROPDOWN (we use this for the download "modal")
    .analysis-footer-dropdown {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;      
      width: 100%;
      position: absolute;
      bottom: 88px;
      left: 0;
      z-index: 2000;

      transition: all 0.25s $easeInOutSine;
      transform: translate(0,15px);

      font-size: 13px;
      text-align: left;
      background-color: $white;
      line-height: 1.5;
      visibility: hidden;
      opacity: 0;

      @media (min-width: $br-mobileMap){
        bottom: 38px;
      }

      // Toggle -active class
      &.-active {
        transform: translate(0,0);
        visibility: visible;
        opacity: 1;
      }

      // Overlay
      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 400%;
        background: rgba(#000, 0.25);
        z-index: 2;
        bottom: 100%;
        left: 0%;
      }

      // Items
      > li {
        padding: 4px 15px;
        border-bottom: 1px solid $border;
        
        &:first-child {
          border-bottom: none;
          font-size: 10px;
          text-align: left;
          border-bottom: none;  
          padding: 10px 15px;

          &:hover {
            background-color: $white;
          }              
        }

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          background-color: darken($white,2.5%);
        }

        > a {
          display: block;
          color: $cGreen;
        }
      }
    }
  }
}
