//COUNTRY TAB
.analysis-country-tab {
  .chosen-container {
    margin: 5px 0 0;
    &:first-of-type {
      margin: 0;
    }
  }

  &.-results {
		.select-container {
			padding: 0 0 15px;
		}
  }
}
