.analysis-spinner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 30;
	background: rgba($white,0.75);
	visibility: hidden;
	opacity: 0;

	&.-active {
		visibility: visible;
		opacity: 1;
	}

	.analysis-spinner-box {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);

		.icon {
		  position: relative;
		  width: 40px;
		  height: 40px;
		  margin: 0 auto;
		  border-radius: 50%;
		  border: 3px solid transparent;
		  border-top-color: $dark;
			@include animation(rotate,1s,infinite,$easeInOutCubic);		  
		}	

		button {
			margin: 10px 0 0;
		}
	}
}
