//DRAW TAB
.analysis-draw-tab {
  .p-center {
    text-align: center;
    padding: 10px 0;      
  }

  .-terms {
    font-size: 10px;
    margin: 8px 0 0;
    text-align: center;    
  }

  .image{
    position: relative;
    max-width: 50%;
    margin: 20px auto;
    display: none;
  
    @media (min-height: 645px){
      display: block;
    }

    div{
      position: relative;
      padding-bottom: 82.417582417582%;
    }

    svg{
      width: 105%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      fill: $cGreen;
    }
  }
}
