.widget-analysis-tool {
  .widget-btn {
    right: 295px;
    top: 32px;
    border: 1px solid #666;
    box-shadow: 0px 0px 3px #666666;
    width: 50px;
    height: 40px;
    background: #fff no-repeat;
    background-image: url(home-icons/analysis_refactored.gif);
    background-position: 50% 50%, center;
    &:hover  {
      background-image:url(home-icons/analysis_refactored_hover.gif);
      box-shadow: 0px 0px 3px #777;
    }
    &.disabled {
      opacity: 0.5;
      border-color: #E4E4E4;
    }
  }

  .widget-box {
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 500px;

    .buttons button {
      margin-left: 7px;
      &:first-child {
        margin-left: 0;
      }
    }
  }

  .description {
    color: #666666;
    font-size: 13px;
    float: left;
    display: inline-block;
    margin: 8px 0 0 2px;
  }

  .buttons {
    float: right;
    button {
      float: left;
    }
  }
}
