//SHAPE TAB
.analysis-shape-tab {
	// Button to seing the example
	.btn-example {
    margin: 15px 0 0;
    padding: 5px 0;
    display: inline-block;
    @media (min-height: 770px){
      display: none;
    }			
	}

  .analysis-shape-image {
    margin: 15px 0 0;
    position: relative;
    display: none;
    @media (min-height: 770px){
      display: block;
    }

    @media (min-width: 1500px){
      margin: 20px 0 0;
    }

    .btn-play {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% + 30px);
      height: calc(100% + 15px);
      margin: 0 0 0 -15px;
      z-index: 2;
      background: rgba(#000, 0.75);
      cursor: pointer;
      @media (min-width: 1500px){
        width: calc(100% + 40px);
        height: calc(100% + 20px);
        margin: 0 0 0 -20px;
      }

      &.-hidden {
      	display: none;
      }

      &:hover{
        &:before{
          background: darken($white,5%);
        }
      }

      &:after, &:before{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
      &:before{
        width: 50px;
        height: 50px;
        background: $white;
        border-radius: 50%;
      }
      &:after{
        width: 0;
        height: 0;
        border-width: 10px 0 10px 20px;
        border-color: transparent transparent transparent $dark;
        border-style: solid;
        margin: 0 0 0 2px;
      }
    }

    img{
      width: 100%;
      display: block;
      position: relative;
    }
  }	
}
