.control-searchbox {
  display: none;
  position: absolute;
  top: 110px;
  left: 50%;
  z-index: 1002;
  width: 100%;
  max-width: 500px;
  box-shadow: $shadow1;
  background: $white;
  @include transform(translate(-50%,0%));

  input {
    margin: 0;
    padding: 13px 40px 10px 10px;
    width: 100%;
    outline: 0;
    border: none;
    font-size: 18px;
    border-radius: 0;
    font-family: sans-serif;
    background: image-url('svg-map/control-search.svg') no-repeat 98.5% center;
    background-size: auto 75%;
  }
}
