.control-searchbox {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($dark,0.5);
  z-index: 100;
  .search-box{
    position: absolute;
    top: 74px;
    left: 50%;
    z-index: 1002;
    width: calc(100% - 20px);
    max-width: 500px;
    box-shadow: $shadow1;
    background: $white;
    @include transform(translate(-50%,0%));
    @media (min-width: $br-mobileMap){
      width: 100%;
      top: 300px;
    }
    .searching-kinds {
      display: block;
      position: absolute;
      top: -19px;
      left: 2px;
      font-size: 80%;
      color: #fff;
      font-weight: 100;
      .kind {
        background-color: #c9c9c9;
        padding: 3px 10px;
        cursor: pointer;
        margin: -2px;
        &:nth-child(even) {
          border-left:  1px solid white;
          border-right: 1px solid white;
        }
      }
      .selected {
        background-color: #fff;
        color: #7B7B7B;
      }
    }
    .search:not(.selected) {
      display: none;
    }
    input {
      margin: 0;
      padding: 13px 40px 10px 10px;
      width: 100%;
      outline: 0;
      border: none;
      font-size: 18px;
      border-radius: 0;
      font-family: inherit;
      background: image-url('svg-map/control-search.svg') no-repeat 98.5% center;
      background-size: auto 60%;
    }
  }
}
