.preview-container{
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 20px;
  z-index: 5;
  transform: translate(-50%,-50%);
  opacity: 0;
  visibility: hidden;
  background: $dark;
  &.active{
    opacity: 1;
    visibility: visible;
  }
}
