/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  zoom: 1;
  *display: inline;
  .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 17px 20px 16px;
    border-radius: 0;
    background-color: #B7B8B9;
    background-clip: padding-box;
    color: $white;
    text-decoration: none;
    white-space: nowrap;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
    .chosen-default {
      color: $white;
    }
    span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 40px;
    }
  }
  .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1010;
    width: 100%;
    border: 1px solid $border;
    border-top: 0;
    background: $white;
  }
  /* @end */
  /* @group Results */
  .chosen-results {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 0px 4px 0;
    padding: 0 10px;
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
    
    li {
      display: none;
      margin: 0;
      padding: 5px 6px;
      list-style: none;
      line-height: 15px;
      
      em{
        font-style: normal;
        text-decoration: underline;
      }
      
      &.active-result {
        display: list-item;
        cursor: pointer;
        
        &.result-selected {
          background: #DDD;
        }
      }
      
      &.disabled-result {
        display: list-item;
        color: #ccc;
        cursor: default;
      }
      
      &.highlighted{
        background-color: #FAFAFA;
      }
      
      &.no-results{
        display: list-item;
        background: #f4f4f4;
      }
      
      &.group-result{
        display: list-item;
        color: #999;
        font-weight: 500;
        cursor: default;
      }
      
      &.group-option {
        padding-left: 15px;
      }
    }
  }

  &.chosen-with-drop .chosen-drop {
    left: 0;
  }
  
  // Default theme
  &.default{
    .chosen-single{
      color: $dark;
      background-color: $white;
      padding: 10px;
      border: 1px solid $border;
      .chosen-default {
        color: $dark;
      }

      div{
        display: block;
      }

      abbr{
        display: block;
      }
    }
    
    .chosen-results {
      max-height: 150px;
      padding: 0;
      margin: 0;

      li {
        padding: 8px 10px 4px;
      }
    }
  }

  // Coord theme
  &.coord-select {
    font-size: 18px;
    .chosen-single{
      padding: 7px 10px 3px;
      border: 0;
      border-bottom: 1px solid $dark;
      background-color: #555;
      color: #FFF;
      span {
        padding-right: 0px;
        text-align: center;
      }
      div {
        b {
          display: none;
        }
        display: none;
      }
    }

    .chosen-results {
      padding: 0;
      margin: 0;
      
      li{
        padding: 10px 0;
        text-align: center;
        // &.result-selected {
        //   display: none;
        // }
      }
    }
  }

  // Country theme
  &.country-select {
    $country-color: rgb(207, 127, 236);
    
    .chosen-single{
      color: $dark;
      background-color: rgba($country-color, 0.25);
      padding: 15px 10px;

      .chosen-default {
        color: $dark;
      }

      div{
        display: block;
      }
      
      abbr{
        display: block;
      }
    }    

    .chosen-drop {
      position: relative;
      top: 0;
      left: 0;      
      
      .chosen-search {
        padding: 10px;
      }

      .chosen-results {
        // We don't want to loss the focus 
        // when you start filtering the dropdown
        height: 240px;
        color: $dark;
      }
    }
  }
}





/* @end */
/* @group Single Chosen */
.chosen-container-single {
  outline: none;
  .chosen-single {
    abbr {
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 30px;
      display: none;
      width: 16px;
      height: 16px;
      line-height: 16px;
      font-size: 10px;
      text-align: center;
      transform: translate(0,-50%);
      font-family: Arial;
      font-weight: 700;
      color: $dark;
      border: 1px solid $dark;
      border-radius: 50%;
      &:after{
        content: "X";
        display: block;
        width: 100%;
        height: 100%;
      }
      &:hover {
        color: red;
        border: 1px solid red;
      }
    }
    div {
      display: none;
      position: absolute;
      top: 0;
      right: 10px;
      width: 14px;
      height: 100%;
      b {
        display: block;
        width: 100%;
        height: 100%;
        background: image-url('svg-icons/arrow-down.svg') center no-repeat;
        background-size: contain;
      }
    }
  }
  .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 16px;
    white-space: nowrap;
    input {
      margin: 1px 0;
      padding: 8px 4px 8px 26px;
      width: 100%;
      outline: 0;
      border-radius: 0;
      border: 1px solid $border;
      font-size: 1em;
      font-family: sans-serif;
      background: image-url('svg-map/control-search.svg') no-repeat 5px center;
    }
  }

  .chosen-drop {
    background-clip: padding-box;
  }

  &.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    left: -9999px;
  }
}



/* @end */
/* @group Active  */
// .chosen-container-active.chosen-with-drop .chosen-single div {
//   border-left: none;
//   background: transparent;
// }
// .chosen-container-active.chosen-with-drop .chosen-single div b {
//   border-left: none;
//   background: transparent;
// }
// .chosen-container-active .chosen-choices {
//   border: 1px solid #5897fb;
//   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
// }
// .chosen-container-active .chosen-choices li.search-field input {
//   color: #111 !important;
// }

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}
/* @end */
