/* @group Base */
.chzn-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  .chzn-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 17px 20px 16px;
    border-radius: 0;
    background-color: #B7B8B9;
    background-clip: padding-box;
    color: $white;
    text-decoration: none;
    white-space: nowrap;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
    .chzn-default {
      color: $white;
    }
    span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .chzn-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1010;
    width: 100%;
    border: 1px solid $border;
    border-top: 0;
    background: $white;
  }
  /* @end */
  /* @group Results */
  .chzn-results {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 0px 4px 0;
    padding: 0 10px;
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
    li {
      display: none;
      margin: 0;
      padding: 5px 6px;
      list-style: none;
      line-height: 15px;
      em{
        font-style: normal;
        text-decoration: underline;
      }
      &.active-result {
        display: list-item;
        cursor: pointer;
      }
      &.disabled-result {
        display: list-item;
        color: #ccc;
        cursor: default;
      }
      &.highlighted{
        background-color: #FAFAFA;
      }
      &.no-results{
        display: list-item;
        background: #f4f4f4;
      }
      &.group-result{
        display: list-item;
        color: #999;
        font-weight: bold;
        cursor: default;
      }
      &.group-option {
        padding-left: 15px;
      }
    }
  }

  &.chzn-with-drop .chzn-drop {
    left: 0;
  }
  // Default theme
  &.default{
    .chzn-single{
      color: $dark;
      background-color: $white;
      padding: 10px;
      border: 1px solid $border;
      .chzn-default {
        color: $dark;
      }
    }
  }
}





/* @end */
/* @group Single Chosen */
.chzn-container-single {
  outline: none;
  .chzn-single {
    abbr {
      position: absolute;
      top: 50%;
      right: 30px;
      display: block;
      width: 16px;
      height: 16px;
      line-height: 16px;
      font-size: 10px;
      text-align: center;
      @include transform(translate(0,-50%));
      font-family: Arial;
      font-weight: 700;
      color: lighten($dark, 50%);
      border: 1px solid lighten($dark, 50%);
      border-radius: 50%;
      &:after{
        content: "X";
        display: block;
        width: 100%;
        height: 100%;
      }
      &:hover {
        color: $dark;
        border: 1px solid $dark;
      }
    }
    div {
      display: none;
      position: absolute;
      top: 0;
      right: 10px;
      width: 14px;
      height: 100%;
      b {
        display: block;
        width: 100%;
        height: 100%;
        background: image-url('svg-icons/arrow-down.svg') center no-repeat;
        background-size: contain;
      }
    }
  }
  .chzn-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 16px;
    white-space: nowrap;
    input {
      margin: 1px 0;
      padding: 8px 4px 8px 26px;
      width: 100%;
      outline: 0;
      border-radius: 0;
      border: 1px solid $border;
      font-size: 1em;
      font-family: sans-serif;
      background: image-url('svg-map/control-search.svg') no-repeat 5px center;
    }
  }

  .chzn-drop {
    background-clip: padding-box;
  }

  &.chzn-container-single-nosearch .chzn-search {
    position: absolute;
    left: -9999px;
  }
  // Default theme
  &.default{
    .chzn-single{
      div{
        display: block;
      }
    }
  }
}



/* @end */
/* @group Active  */
// .chzn-container-active.chzn-with-drop .chzn-single div {
//   border-left: none;
//   background: transparent;
// }
// .chzn-container-active.chzn-with-drop .chzn-single div b {
//   border-left: none;
//   background: transparent;
// }
// .chzn-container-active .chzn-choices {
//   border: 1px solid #5897fb;
//   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
// }
// .chzn-container-active .chzn-choices li.search-field input {
//   color: #111 !important;
// }

/* @end */
/* @group Disabled Support */
.chzn-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chzn-disabled .chzn-single {
  cursor: default;
}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
  cursor: default;
}
/* @end */
