.source_window {
  $width: 497px;
  $height: 300px;

  display: none;
  position: fixed;
  z-index: 1060;
  left: 50%; top: 50%;
  margin-left: -1*$width/2;
  margin-top: -1*$height/2;
  width: $width;
  height: $height;
  padding: 20px 15px 20px 20px;
  background: #fff;
  border: 1px solid #eee;

  .close {
    display: block;
    position: absolute;
    top: 10px; right: 15px;
    width: 6px;
    height: 6px;
    @include icons-sprite(infowindow_close);
  }

  .content {
    height: $height;
    width: 100%;
    overflow: auto;
    outline: none;
    font-size: 15px;
    @extend .sans-serif;
    color: #666;
  }

  .source_category_description,
  .overview_title,
  .source_download,
  .source_extended,
  .source_coverage_header,
  .source_coverage,
  .download {
    display: none;
  }

  .source_description {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    line-height: 1.2;
    @extend .sans-serif;
    color: #999;
  }

  .source_title,
  .source_category_title,
  .source_coverage_title {
    display: block;
    font-weight: bold;
    font-size: 13px;
    @extend .sans-serif;
    text-transform: uppercase;
    color: #aaa;

    span {
      text-transform: none;
    }

    sub {
      position: relative;
      bottom: -3px;
      font-size: 80%;
    }
  }

  .source_header,
  .source_category_title,
  .source_coverage_header {
    padding: 0 0 20px;
  }

  .source_category_title {
    border-bottom: 2px solid #ccc;
    margin: 0 0 20px;
  }

  .source_table {
    border-top: 1px solid #ccc;
    margin-bottom: 20px;
  }

  .forest_change .source_category_title {
    color: #F69;
    border-bottom-color: #F69;
  }

  .forest_cover .source_category_title {
    color: #B2D26E;
    border-bottom-color: #B2D26E;
  }

  .forest_use .source_category_title {
    color: #C98E6C;
    border-bottom-color: #C98E6C;
  }

  .conservation .source_category_title {
    color: #3182BD;
    border-bottom-color: #3182BD;
  }

  .people .source_category_title {
    color: #707D92;
    border-bottom-color: #707D92;
  }

  .stories .source_category_title {
    color: #F2B257;
    border-bottom-color: #F2B257;
  }

  .source_category_title {
    color: $cGreen;
    border-bottom-color: $cGreen;
  }

  .hidden {
    display: block;
  }

  .terms_inner .section {
    padding: 20px 0 10px;
  }

  .section-footer {
    padding: 30px 0 0;
  }

  .terms_footer {
    margin-bottom: 30px;
  }
}
