$forest-change-color: rgb(255, 102, 153);
$forest-cover-color: rgb(178, 210, 110);
$forest-use-color: rgb(201, 142, 108);
$conservation-color: rgb(49, 130, 189);
$people-color: rgb(112, 125, 146);
$stories-color: rgb(242, 178, 87);
$country-color: rgb(207, 127, 236);


$categories: 'forest-change','forest-cover','forest-use','conservation','people','stories','country';
$colors: $forest-change-color,$forest-cover-color,$forest-use-color,$conservation-color,$people-color,$stories-color,$country-color;


.layers-menu {
  // height: 77px;
  position: relative;
  @include clearfix();

  .inner {
    height: 100%;
    position: relative;
  }

    .categories-list {
    position: relative;
    display: block;
    @media (min-width: $br-mobileMap){
      display: inline-block;
      float: right;
    }
    @media (min-width: 1500px){
      float: left;
      left: 50%;
      transform: translate(-50%,0) translateZ(0);
      text-rendering: optimizeLegibility;
    }
  }

  .categories-list > li {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    width: 100%;
    cursor: pointer;
    margin-left: 1px;
    color: $dark;
    @media (min-width: $br-mobileMap){
      float: left;
      width: auto;
      padding: 11px 20px 8px;
      border-bottom: 5px solid;
      &:not(.disabled):hover .layers-nav {
        opacity: 1;
        max-height: 1000px;
      }
    }

    // text-rendering: optimizeLegibility;

    .category-name {
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
    }
    > .category-name{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      position: relative;
      padding: 15px 20px;
      border-bottom: 1px solid #e5e5e5;
      &.show{
        &:after{
          transform: translate(0,-50%) rotate(0deg);
        }
      }
      .category-num{
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        right: 30px;
        margin: -8px 0 0;
        font-size: 14px;
        text-align: center;
        line-height: 18px;
        @media (min-width: $br-mobileMap){
          display: none;
        }
      }
      &:after{
        content: "";
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translate(0,-50%) rotate(90deg);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 8px solid;
      }
      @media (min-width: $br-mobileMap){
        max-width: 150px;
        padding: 0;
        border-bottom: none;
        &:after{
          display: none;
        }
      }
    }



    @for $i from 1 through length($categories) {
      &.#{nth($categories, $i)}{
        .category-name{
          color: nth($colors, $i);
          .category-num{
            color: nth($colors, $i);
          }
          &:after{
            border-top-color: nth($colors, $i);
          }
          @media (min-width: $br-mobileMap){
            color: inherit;
          }
        }
        border-color: nth($colors, $i);
        .layers-nav-header{
          // background: lighten(nth($colors, $i),10%);
          border-color: nth($colors, $i);
          .category-name{
            color: nth($colors, $i);
          }
          .category-icon  {
            background: nth($colors, $i);
            // @include home-icons-sprite(nth($icons, $i));
          }
        }
        .layers-list {
          @media (min-width: $br-mobileMap){
            max-height: 55vh;
            overflow-x: hidden;
            overflow-y: auto;
          }
          .group-name, .grouped-layers-trigger{
            border-left: 3px solid nth($colors, $i);
            @media (min-width: $br-mobileMap){
              border: none;
            }
          }
          li{
            border-left: 3px solid nth($colors, $i);
            @media (min-width: $br-mobileMap){
              border: none;
              &:hover {
                background-color: rgba(nth($colors, $i), 0.1);
              }
            }
          }
        }
      }
    }
    &.country{
      background: rgba($country-color, 0.25);
      @media (max-width: $br-mobileMap - 1){
        background: $white;
        color: $country-color;
        // It will only create issues. At least when there isn't a country selected
        // So for the moment let's leave this hidden
        display: none;
      }
      &.disabled{
        opacity: 0.25;
        .layers-nav{
          display: none;
        }
      }
      &.active{
        opacity: 1;
        @media (max-width: $br-mobileMap - 1){
          .category-name{
            em{
              display: block;
            }
          }
        }
      }

      .country-add {
        padding: 10px 0 0;
        white-space: normal;
        text-transform: none;
        line-height: 1.25;
        font-weight: 400;
      }

      .country-description {
        color: $dark;
        font-size: 14px;
        padding: 15px 10px;
        line-height: 1.25;

        > * {
          margin: 10px 0 0;

          &:first-child {
            margin-top: 0;
          }
        }

        ul {
          color: $dark;

          > li {
            position: relative;
            padding: 0px 0 0 13px;
            margin: 5px 0 0;
            font-size: 13px;

            &:before {
              content: '';
              position: absolute;
              top: 6px;
              left: 2px;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background: $dark;
            }

            &:first-child{
              margin: 0;
            }
          }
        }

        a {
          color: $cGreen;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .country-title {
        display: none;
        color: $dark;
        background-color: rgba($country-color, 0.25);
        font-size: 12px;
        padding: 15px 28px 15px 10px;
        margin: 0;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        line-height: 1;
        font-weight: 500;
        text-transform: uppercase;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @media (min-width: $br-mobileMap){
          display: block;
        }

        > span {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 20px;
          right: 10px;
          width: 14px;
          height: 14px;
          margin: -7px 0 0;
          border-radius: 50%;
          background: $dark;

          svg {
            display: block;
            width: 10px;
            height: 10px;
            fill: $white;
          }

          &:hover {
            background: lighten($dark, 5%);
          }
        }

        .m-btncontainer {
          margin-top: 10px;
          flex-wrap: wrap;

          .btn-icon {
            cursor: pointer;
            display: block;
            width: 30px;
            height: 30px;
            position: relative;
            background: transparent;
            border-radius: 50%;


            &:hover {
              svg {
                fill: #000;
              }
              .tooltipmap {
                opacity: 1;
                visibility: visible;
              }
            }

            &.-disabled {
              opacity: 0.5;
              pointer-events: none;
              &:hover {
                background: transparent;
                svg {
                  fill: $dark;
                }
              }
            }

            svg {
              position: absolute;
              width: 20px;
              height: 20px;
              top: 50%;
              left: 50%;
              margin: -10px 0 0 -10px;
              fill: $dark;
            }
          }
        }

      }

      .layers-nav-header {
        &:after {
          display: none;
        }
      }

      .category-name {
        @media (max-width: $br-mobileMap - 1){
          color: rgb(207, 127, 236);
        }
        em{
          position: absolute;
          top: 50%;
          right: 40px;
          background: white;
          border: 1px solid #AAA;
          padding: 0 5px 0 14px;
          font-size: 9px;
          height: 14px;
          line-height: 14px;
          border-radius: 14px;
          color: #AAA;
          display: none;
          text-transform: none;
          transform: translate(0,-50%);
          svg{
            position: absolute;
            top: 1px;
            left: 2px;
            right: auto;
            fill: #AAA;
            width: 10px;
            height: 10px;
            transition: all 0s ease;
            @media (min-width: $br-mobileMap){
              left: 0;
              right: 0;
            }
          }
          @media (min-width: $br-mobileMap){
            display: none;
          }
        }
      }
    }
  }

  .layers-nav {
    display: none;
    position: relative;
    z-index: 2000;
    width: 100%;
    max-height: none;
    background: white;
    transition: all 0.2s ease;
    &.show{
      display: inline-block;
    }
    @media (min-width: $br-mobileMap){
      display: inline-block;
      position: absolute;
      width: 200px;
      left: 50%;
      top: 0px;
      margin-left: -100px;
      opacity: 0;
      overflow: hidden;
      max-height: 0;
      @include box-shadow(0px 2px 3px 1px rgba(#000, .15));

      &.tour-active {
        opacity: 1;
        max-height: 1000px;
        transition: all 0s ease;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc(100% - 10px);
        height: 10px;
        @include gradient(top,rgba(255,255,255,0),rgba(255,255,255,1));
      }

    }

    .layers-nav-header {
      border-bottom: 4px solid;
      text-align: center;
      display: none;
      @media (min-width: $br-mobileMap){
        display: block;
        position: relative;
        z-index: 2;
        &:after {
          content: "";
          position: absolute;
          top: calc(100% + 4px);
          left: 0;
          width: calc(100% - 10px);
          height: 10px;
          @include gradient(top,rgba(255,255,255,1),rgba(255,255,255,0));
        }

      }

      .category-icon {
        position: relative;
        display: inline-block;
        margin: auto;
        width: 28px;
        height: 28px;
        margin-top: 10px;
        border-radius: 50%;
        svg{
          width: 100%;
          height: 100%;
          fill: $white;
          position: absolute;
          margin: auto;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }

      .category-name {
        display: block;
        padding: 5px 10px 15px;
        margin-top: 1px;
      }
    }

  } // layers-nav

}

.layers-list {
  border-bottom: 1px solid #e5e5e5;
  @media (min-width: $br-mobileMap){
    border-bottom: none;
  }
  .layer-group{
    border-top: 1px solid #e5e5e5;
    &:first-child{ border: none; }
    .group-name{
      font-size: 13px;
      padding: 15px 20px 0;
      display: block;
      text-transform: uppercase;
      font-weight: 500;
      @media (min-width: $br-mobileMap){
        padding: 10px;
      }
      em{
        display: block;
        font-size: 11px;
        margin-top: 3px;
        color: #AAA;
        text-transform: none;
        font-weight: 400;
      }
    }
    .grouped-layers-trigger{
      em{
        display: block;
        padding: 0 33px 0 23px;
      }
      .onoffradio{
        margin: 1px 6px 0 0;
        &.checked{
          span{
            background: inherit;
          }
        }
      }
      .onoffswitch{
        cursor: pointer;
        margin: 1px 6px 0 0;
      }
    }
    >li{
      border: none;
      padding: 15px 20px;
      @media (min-width: $br-mobileMap){
        padding: 10px;
        padding-left: 15px;
      }
    }
  }
  .grouped-layer{
    padding-right: 0;
    .grouped-layers-trigger{
      display: block;
      font-size: 13px;
      padding: 10px 0px 10px 21px;
      position: relative;
      @media (min-width: $br-mobileMap){
        padding: 10px 0px 6px 15px;
      }
    }
    >li{
      padding: 10px;
      padding-left: 38px;
    }
  }
  li {
    font-size: 13px;
    color: $dark;
    padding: 15px 20px;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
    @media (min-width: $br-mobileMap){
      padding: 10px;
      border-bottom: 1px solid #e5e5e5;
    }
    &.is-disabled {
      pointer-events: none;
      background: #f9f9f9;
      .layer-title {
        padding-left: 23px;
      }
    }

    .layer-title {
      display: inline-flex;
      max-width: 200px;
      @media (min-width: $br-mobileMap){
        width: 115px;
      }
    }

    .onoffradio {
      margin: 0 7px 0 2px;
      &.checked {
        border-color: $forest-change-color;
        span {
          background: $forest-change-color;
        }
      }
    }

    .onoffswitch {
      margin: 1px 6px 0 0;
    }
  }

  .layer-info {
    font-size: 11px;
    padding: 5px 8px 0 23px;
    display: block;
    color: #AAA;
    word-wrap: break-word;

    &.-hidden {
      display: none;
    }

    label {
      cursor: pointer;
      position: relative;
      float: none;
      font-weight: normal;
      color: #AAA;
      font-size: 11px;
      padding: 5px 5px 5px 0px;
      padding-left: 13px;
      text-transform: none;
      display: block;

      &:hover {
        color: lighten($dark,5%);
      }

      &.selected {
        color: $dark;
        span:before{
          display: block;
        }
      }

      span{
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        top: 5px;
        left: 0;
        border: 1px solid lighten($dark,10%);
        border-radius: 50%;
        &:before {
          content: ' ';
          display: none;
          width: 4px;
          height: 4px;
          background-color: lighten($dark,10%);
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -2px 0 0 -2px;
          border-radius: 50%;
        }
      }
      input {
        display: none;
        cursor: pointer;
        background-image: url('/assets/svg/dragger.svg');
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          background-image: none;
        }
      }
      &.c_f_peru {
        width: 130px;
      }
    }

    .sublayer {
      display: flex;
      margin-top: 5px;
    }
  }



  .source {
    @extend .info-icon;
    display: block;
    position: absolute;
    top: 14px;
    right: 20px;
    @media (min-width: $br-mobileMap){
      top: 8px;
      right: 10px;
    }
    &.hidden {
      display: none;
    }
  }

  .source-shape-info {
    background-color: transparent !important;

    svg {
      width: 14px;
      height: 14px;
    }
  }
}


//Country nav

#country-layers-nav {
  .tab-content {
    .layers-list {
      .does_wrapper {
        display: none;
      }
    }
  }
}
