.mod-legend {
  .layer-sublayer {
    cursor: pointer;
    padding: 7px 5px 5px 12px;
    .onoffswitch {
      margin-top: 1px;
    }
  }
  .sublayer-title {
    margin-left: 5px;
    color: #ccc;
    display: inline-block;
  }
}
