.mode-button-box{
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%,0);
  .mode-button{
    border: 1px solid #CCC;
    border-radius: 50px;
    @include clearfix();
    a{
      text-transform: uppercase;
      text-decoration: none;
      color: $dark;
      background: $light;
      display: block;
      float: left;
      line-height: normal;
      padding: 8px 30px;

      &:first-child{
        border-radius: 50px 0 0 50px;
      }
      &:last-child{
        border-radius: 0 50px 50px 0;
      }
      &.active{
        background: darken($light,5%);
        &:first-child{
          box-shadow: -1px -1px 5px 0 rgba(#000,0.15) inset;
        }
        &:last-child{
          box-shadow: 1px 1px 5px 0 rgba(#000,0.15) inset;
        }
        
      }      
    }
  }
}