$w-control: 44px;
.module-tabs {
  max-width: 283px;
  top: 100px;
  right: 35px;
  header{
    nav{
      ul{
        @include display-flex();
        li{
          cursor: pointer;
          padding: 0.5em 1.5em;
          border-left: 1px solid $border;
          &:first-child{
            border-left: none;
          }
          &:hover{ background: $light;}
          &:active{ background: darken($light,5%);}
          &.active{ background: $white;}
          &.inactive{ background: #EEEEEE;}
          svg{
            fill: $dark;
            width: 22px;
            height: 22px;
          }
        }
      }
    }
  }
  .content{
    display: none;
    &.active{
      display: block;
    }
    .spinner2-box{
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($white,0.5);
      display: none;
      &.active{
        display: block;
      }
      .spinner2{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        @include transform(translate(-50%,-50%));
      }
    }
    ul{
      .tab-content{
        display: none;
        &.selected{
          display: block;
        }
        header{
          text-align: center;
          font-size: 13px;
          @include clearfix();
          h2{
            font-size: 21px;
            padding: 0 0 10px;
            text-align: center;
          }
          p{
            button{
              margin: 7px auto 0;
              display: block;
            }
          }
          ol{
            text-align: left;
            list-style-type: decimal;
            list-style-position: inside;
            position: relative;
            float: left;
            left: 50%;
            @include transform(translate(-50%,0));
            li{
              padding: 5px 0 0;
              white-space: nowrap;
              &:first-child{ margin: 0;}
            }
          }
        }
      }
    }
  }
}
