.module-navmobile {
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 21;
  @media (min-width: $br-mobile){
    z-index: 101;
    bottom: 0;
  }

  ul {
    background: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      position: relative;
      width: 33.33333333%;
      height: 44px;
      border-left: 1px solid $border;
      transition: all 0.25s $easeInOutSine;

      &:first-child{
        border-left: none;
      }

      &:after {
        content: "";
        height: 0px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $cGreen;
        transition: all 0.25s $easeInOutSine;
      }

      &.active {
        background: #F7F7F7;
        &:after {
          height: 2px;
        }
      }

      &.current {
        button {
          div {
            &:after {
              display: block;
            }
          }
        }
      }

      &.disabled {
        button {
          opacity: 0.5;
        }
      }

      button {
        @extend %reset-btn;
        text-transform: uppercase;
        width: 100%;
        height: 44px;
        padding: 0;
        color: $dark;
        border: none;
        // font-size: 12px;
        text-align: center;

        div {
          position: relative;
          float: left;
          left: 50%;
          transform: translate(-50%,0);

          &:after {
            content: "1";
            color: $white;
            width: 14px;
            height: 14px;
            background-color: $cGreen;
            position: absolute;
            border-radius: 50%;
            top: 0;
            left: 0;
            display: none;
            font-size: 10px;
            line-height: 16px;
            text-align: center;
            margin: -7px 0 0 -7px;
            -webkit-font-smoothing: subpixel-antialiased;
          }

          span {
            display: block;
            line-height: 1.1;
            text-align: left;
            padding: 1px 0 0 26px;
            max-width: 80px;
            font-size: 10px;
            @media (min-width: 360px){
              max-width: 94px;
              font-size: 11px;
            }
          }

          .icon {
            position: absolute;
            top: 50%;
            left: 0px;
            width: 22px;
            height: 22px;
            transform: translate(0,-50%);
            fill: $dark;
          }
        }
      }
    }
  }

  .timeline-mobile-call-to-action {
    display: none;
  }

  .country-navmobile-btn{
    position: absolute;
    bottom: 100%;
    left: 10px;
    z-index: 20;
    transform: translate(0,-10px);
    transition: all 0.25s $easeInOutSine;
    visibility: hidden;
    opacity: 0;
    &.active{
      visibility: visible;
      opacity: 1;
    }
    &.timeline-open{
      transform: translate(0,-55px);
    }
    span{
      display: block;
      float: left;
      clear: both;
      color: $white;
      background: $dark;
      padding: 5px;
      max-width: 150px;
      &.name{
        text-transform: uppercase;
      }
      &.little{
        font-size: 10px;
        padding: 0 5px 5px;
        color: $cGreen;
      }
    }
  }
}
