$w-control: 44px;
.module-tabs {
  color: $dark;
  background: #EEE;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 21;
  @media (min-width: $br-mobileMap){
    background: $white;
    top: 110px;
    left: auto;
    right: 35px;
    width: 283px;
  }
  // @media (min-height: 850px){
  //   top: 110px;
  //   left: auto;
  //   right: 35px;
  // }

  // max-height: calc(100% - 275px);
  // overflow: auto;
  header{
    nav{
      ul{
        @media (min-width: $br-mobileMap){
          @include display-flex();
        }
        li{
          width: auto;
          float: right;
          cursor: pointer;
          padding: 0.5em 1em;
          border-left: 1px solid $border;
          position: relative;
          @media (min-width: $br-mobileMap){
            float: none;
            width: 33.333333%;
            padding: 0.5em 1.5em;
            &:first-child{
              border-left: none;
            }
          }
          &:hover{
            background: $light;
            .tooltipmap{
              opacity: 1;
              visibility: visible;
            }
          }
          &:active{ background: darken($light,5%);}
          &.active{ background: $white;}
          &.inactive{
            background: #EEEEEE;
            &:hover{ background: lighten(#EEEEEE, 5%);}
          }
          &.disabled{
            pointer-events: none;
            cursor: default;
            svg{
              opacity: 0.5;
            }
          }
          &.changed{
            svg{
              fill: $cGreen;
            }
          }
          span{
            display: inline-block;
            float: left;
            position: relative;
            margin-right: 5px;
            text-transform: uppercase;
            top: 5px;
            font-size: 13px;
          }
          svg{
            fill: $dark;
            width: 22px;
            height: 22px;
            margin: 0 auto;
          }
        }
      }
    }
  }
  .content{
    display: none;
    position: relative;
    &.active{
      display: block;
    }
    .spinner2-box{
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($white,0.5);
      display: none;
      &.active{
        display: block;
      }
      .spinner2{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        @include transform(translate(-50%,-50%));
      }
    }
    ul{
      .tab-content{
        display: none;
        &.selected{
          display: block;
        }
        header{
          text-align: center;
          font-size: 13px;
          @include clearfix();
          h2{
            font-size: 21px;
            padding: 0 0 10px;
            text-align: center;
          }
          p{
            button{
              margin: 7px auto 0;
              display: block;
            }
          }
          ol{
            text-align: left;
            list-style-type: decimal;
            list-style-position: outside;
            position: relative;
            float: left;
            max-width: 80%;
            left: 50%;
            @include transform(translate(-50%,0));
            li{
              padding: 5px 0 0;
              &:first-child{ margin: 0;}
              .source{
                @extend .info-icon;
                display: inline-block;
                top: 2px;
                position: relative;
              }
            }
          }
        }
      }
    }
  }
  .button-container{
    margin: 10px 0 0;
    @include display-flex();
    @include justify-content(space-between);
    li{
      width: 48%;
      .btn{
        width: 100%;
      }
      input{
        width: 100%;
        font-family: inherit;
        font-size: 13px;
        padding: 5px 10px;
        border-radius: 0;
        margin: 5px 0 18px;
      }
    }
    &.one{
      li{ width: 100%;}
    }
  }
}



// MOBILE TABS
.tab-mobile-header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #EEE;
  z-index: 21;
}


.tab-mobile-content{
  position: fixed;
  top: 0;
  left: 0;
  background: #FFF;
  z-index: 5;
  display: none;
  padding: 65px 0px 76px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  &.active{
    display: block;
  }
  > article{
    > header{
      padding: 15px;
      border-bottom: 1px solid $border;
      a{
        display: inline-block;
        position: relative;
        z-index: 2;
        padding: 0 0 0px 15px;
        margin: 0 0 5px;
        &:before{
          content: "";
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-right: 10px solid $cGreen;
          border-bottom: 5px solid transparent;
          position: absolute;
          top: 50%;
          left: 0;
          @include transform(translate(0,-6px));
        }
      }
      h2{
        font-size: 36px;
      }
      h3{
        font-size: 17px;
      }
    }
    > .tabs-mobile-ul{
      li{
        font-size: 14px;
        text-transform: uppercase;
        padding: 14px 15px 12px;
        border-bottom: 1px solid $border;
        span{
          position: relative;
          display: inline-block;
          padding-right: 20px;
          &:after{
            content: "";
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-left: 10px solid $cGreen;
            border-bottom: 5px solid transparent;
            position: absolute;
            top: 50%;
            right: 0;
            @include transform(translate(0,-6px));
          }
        }
      }
    }
    >footer{
      .button-container{
        margin: 10px 15px 0;
      }
    }
  }
}


