$w-control: 44px;
.module-tabs {
  top: 100px;
  right: 35px;
  header{
    nav{
      ul{
        @include display-flex();
        li{
          cursor: pointer;
          padding: 0.5em 1.5em;
          border-left: 1px solid $border;
          &:first-child{
            border-left: none;
          }
          &:hover{ background: $light;}
          &:active{ background: darken($light,5%);}
          &.active{ background: $white;}
          &.inactive{ background: #EEEEEE;}
          svg{
            fill: $dark;
            width: 22px;
            height: 22px;
          }
        }
      }
    }
  }
  .content{
    display: none;
    &.active{
      display: block;
    }
    ul{
      .tab-content{
        display: none;
        &.selected{
          display: block;
        }
      }
    }
  }
}
