.module{
  position: absolute;
  background: $white;
  box-shadow: $shadow;
  @include transition(all 0.5s $easeInOutSine);
  opacity: 1;
  visibility: visible;

  &.hide{
    opacity: 0;
    visibility: hidden;
  }
}
