$w-control: 38px;
.module-mapcontrols {
  top: auto;
  bottom: 66px;
  right: 10px;
  z-index: 20;
  transition: all 0.25s $easeInOutSine;

  &.timeline-open{
    transform: translate(0,-45px);
  }
  
  @media (min-width: $br-mobile){
    bottom: 60px;
  }

  @media (min-width: $br-mobileMap){
    right: auto;
    bottom: 50px;
    left: 35px;
  }
  
  ul{
    width: $w-control;
    display: flex;
    flex-wrap: wrap;
    background: $white;
    box-shadow: $shadow1;
    margin: 10px 0 0;
    &:first-child{
      margin: 0;
    }

    @media (min-width: $br-mobileMap){
      width: $w-control * 2;
      background: none;
      box-shadow: none;
      margin: 0;
    }
    li{
      display: flex;
      justify-content: center;
      align-items: center;
      background: $white;
      width: $w-control;
      height: $w-control;
      position: relative;
      cursor: pointer;
      .handler{
        display: flex;
        justify-content: center;
        align-items: center;
        transform-origin: 51% 50.1%;
        width: 100%;
        height: 100%;
      }
      &.hidden{
        display: none;
      }
      @media (max-width: $br-mobileMap - 1){
        border-top: 1px solid $border;
        &:first-child{
          border-top: none;
        }
      }
      @media (min-width: $br-mobileMap){
        &:nth-child(even){
          border-left: 1px solid $border;
        }
        &:nth-child(n+3){
          border-top: 1px solid $border;
        }
      }
      svg{
        fill: $dark;
        &.hidden{
          display: none;
        }
      }

      &:hover{
        .tooltipmap{
          visibility: visible;
          opacity: 1;
        }
      }
      &:active{
        background: darken($white,5%);
      }
      &.active{
        svg{
          fill: $cGreen;
        }
      }
      &.disabled{
        opacity: 0.5;
        cursor: default;
      }
      &.toggle-modules{
        .toggle-on { display: none;}
        .toggle-off { display: block;}
        &.active{
          .toggle-on { display: block;}
          .toggle-off { display: none;}
        }
      }
    }
  }
  &.module-mapcontrols-mobile{
    top: auto;
    bottom: 110px;
    transition: all 0.25s $easeInOutSine;

    &.timeline-open{
      transform: translate(0,-45px);
    }
    @media (min-width: $br-mobileMap){
      display: none;
    }
  }
}
