.module-navmobile {
  bottom: 56px;
  left: 0;
  width: 100%;
  z-index: 21;
  ul{
    background: $white;
    @include display-flex();
    @include justify-content(space-between);
    @include align-items(center);
    li{
      position: relative;
      width: 33.33333333%;
      height: 44px;
      border-left: 1px solid $border;
      @include transition(all,0.25s,$easeInOutSine);
      &:first-child{ border-left: none;}
      &:after{
        content: "";
        height: 0px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $cGreen;
        @include transition(all,0.25s,$easeInOutSine);
      }

      &.active{
        &:after { height: 2px;}
        background: #F7F7F7;
      }
      &.current{
        .icon{
          fill: $cGreen;
        }
      }
      &.disabled{
        button{
          opacity: 0.5;
        }
      }

      button{
        @extend %reset-btn;
        text-transform: uppercase;
        width: 100%;
        height: 44px;
        padding: 0;
        color: $dark;
        border: none;
        // font-size: 12px;
        text-align: center;
        div{
          position: relative;
          float: left;
          left: 50%;
          @include transform(translate(-50%,0));
          span{
            display: block;
            line-height: 1.1;
            text-align: left;
            padding: 0 0 0 26px;
            max-width: 80px;
            font-size: 10px;
            @media (min-width: 360px){
              max-width: 84px;
              font-size: 11px;
            }

          }
          .icon{
            position: absolute;
            top: 50%;
            left: 0px;
            width: 22px;
            height: 22px;
            @include transform(translate(0,-50%));
            fill: $dark;
          }
        }
      }
    }
  }
  .country-navmobile-btn{
    position: absolute;
    bottom: 100%;
    left: 10px;
    z-index: 20;
    @include transform(translate(0,-10px));
    @include transition(all 0.25s $easeInOutSine);
    visibility: hidden;
    opacity: 0;
    &.active{
      visibility: visible;
      opacity: 1;
    }
    &.timeline-open{
      @include transform(translate(0,-55px));
    }
    span{
      display: block;
      float: left;
      clear: both;
      color: $white;
      background: $dark;
      padding: 5px;
      max-width: 150px;
      &.name{
        text-transform: uppercase;
      }
      &.little{
        font-size: 10px;
        padding: 0 5px 5px;
        color: $cGreen;
      }
    }
  }
}
