.module{
  position: absolute;
  background: none;
  box-shadow: none;
  transition: all 0.5s $easeInOutSine;
  opacity: 1;
  visibility: visible;
  @media (min-width: $br-mobileMap){
    background: $white;
    box-shadow: $shadow1;
  }

  &.hide{
    opacity: 0;
    visibility: hidden;
  }
  .title-dialog{
    font-size: 21px;
    padding: 20px 15px 0px;
    font-weight: 300;
    span{
      display: none;
    }
    @media (min-width: $br-mobileMap){
      display: none;
    }
  }
  .button-box-embed-legend{
    display: none;
  }
}
