.onoffswitch {
  z-index: 10;
  display: inline-block;
  position: relative;
  float: left;
  width: 17px;
  height: 10px;
  background: #ddd;
  @include border-radius(5px);

  &.checked span {
    @include transform(translate(7px,0%));
  }
}

.onoffswitch span {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 6px;
  height: 6px;
  background: #fff;
  @include transform(translate(0px,0%));
  @include border-radius(4px);
  @include transition(all 0.2s $easeInOutSine);
}
