// This reimplements the .modal classes to use flexbox, which is nicer
// to deal with. At some point we should port the other modals to use
// this.

.subscription-modal {
  display: none;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;

  &.is-active {
    display: flex;
  }
}

.subscription-modal-backdrop {
  background: rgba(0,0,0,0.25);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.2s $easeInOutSine;
}

.subscription-modal-window {
  background: $white;
  border: none;
  box-shadow: $shadow1;
  z-index: 2;

  position: relative;
  width: 475px;
  height: 315px;
  padding: 30px 50px;
}

.subscription-modal-unauthenticated {
  height: 375px;
}

.subscription-modal-close {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;

  svg{
    fill: $dark;
  }

  &:hover {
    svg {
      fill: darken($dark,10%);
    }
  }
}

.subscription-modal {
  header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 24px;
      width: 300px;
    }

    h3 {
      font-weight: 200;
      line-height: 1.5em;
      margin-top: 15px;
    }

    p {
      margin-top: 20px;
      color: #555;
    }
  }

  .steps {
    display: none;
    width: 100%;
    height: 100%;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &.current{
      display: flex;
    }

    .spinner3 {
      display: none;
    }

    label {
      display: block;
      margin: 7px 0 5px;
      text-transform: none;
      font-size: 14px;
      font-weight: 500;
      color: #9f9f9f;
    }

    p {
      text-align: center;
      font-weight: 200;
      line-height: 1.5em;
    }

    strong {
      font-weight: 400;
    }
  }
}

.subscription-name-container {
  width: 100%;
  font-family: "Fira GFW Sans", "Fira Sans";
}

.subscription-language-container {
  width: 100%;
}

.subscription-authentication {
  margin-top: 20px;
  width: 100%;
  height: 165px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  li {
    width: 100%;
    max-width: 250px;
    display: block;
    height: 50px;
    text-align: center;

    position: relative;
  }

  li a {
    color: white;
    text-transform: uppercase;
    font-size: 14px;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li a svg {
    fill: white;

    position: absolute;
    top: 7px;
    left: 15px;

    width: 18px;
    height: 35px;
  }

  .subscription-sign-in-twitter {
    background-color: #598dca;
  }

  .subscription-sign-in-facebook {
    background-color: #39579b;
  }

  .subscription-sign-in-google {
    background-color: #da4735;
  }
}

.subscription-spinner-container {
  visibility: hidden;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;
  background: rgba(255,255,255,0.5);

  > .loading-spinner {
    @include spinner();
  }
}

.subscription-successful {
  width: 64px;
  height: 64px;
  background: image-url('subscriptions/success.svg');
}
