.modal-subscribe {
  padding: 20px;

  // Header
  header {
    text-align: center;

    h2 {
      font-size: 24px;
      max-width: 300px;
      margin: 0 auto;
    }

    h3 {
      font-weight: 200;
      line-height: 1.5em;
      margin-top: 15px;
    }

    p {
      margin-top: 20px;
      color: #555;
    }
  }


  // Steps
  .steps {
    display: none;

    &.current{
      display: block;
    }

    label {
      display: block;
      margin: 7px 0 5px;
      text-transform: none;
      font-size: 14px;
      font-weight: 500;
      color: #9f9f9f;
    }

    p {
      text-align: center;
      font-weight: 200;
      line-height: 1.5em;
    }

    strong {
      font-weight: 400;
    }
  }


  // Login authentication
  .subscription-authentication {
    margin: 20px auto 0;
    width: 100%;

    > li {
      display: block;
      position: relative;
      width: 100%;
      max-width: 250px;
      margin: 0 auto 10px;
      padding: 0;
      text-align: center;

      &:last-child {
        margin: 0 auto;
      }

      > a {
        padding: 20px;
        color: white;
        text-transform: uppercase;
        font-size: 14px;

        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &.-twitter { background-color: #598dca;}
        &.-facebook { background-color: #39579b;}
        &.-google { background-color: #da4735;}

        svg {
          fill: white;

          position: absolute;
          top: 18px;
          left: 18px;

          width: 18px;
          height: 18px;
        }
      }
    }
  }
}

.subscription-name-container {
  width: 100%;
  font-family: "Fira GFW Sans", "Fira Sans";
}

.subscription-language-container {
  width: 100%;
}

.subscription-successful {
  width: 64px;
  height: 64px;
  background: image-url('subscriptions/success.svg');
}
