$letterW: 20px;
.tab-highresolution{
  .highresolution-content{
    padding: 15px;
    @media (min-width: 1500px){
      padding: 20px;
    }
    h2 {
      font-size: 21px;
      padding: 0 0 15px;
      text-align: center;
    }
    // Select box
    .select-box{
      .chzn-container-single{
        margin: 0 0 5px;
        &:last-child{
          margin: 0;
        }
      }
      .country-ul-mobile{
        margin: 0 -15px;
        >li{
          padding: 10px 20px;
          border-bottom: 1px solid $border;
          font-size: 14px;
          &:last-child{
            border-bottom: none;
          }
        }
      }
      .letters-ul-mobile-box{
        position: relative;
        margin: -15px -15px 0;
        border-bottom: 1px solid $border;
        &:before,&:after{
          content: "";
          position: absolute;
          top: 0;
          width: 15px;
          height: 100%;
        }
        &:before{
          left: 0;
          @include gradient(left,rgba(255,255,255,1),rgba(255,255,255,0));
        }
        &:after{
          right: 0;
          @include gradient(right,rgba(255,255,255,1),rgba(255,255,255,0));
        }
        .scroll-none{
          overflow: auto;
          padding: 15px 0 13px;
        }
        .letters-ul-mobile{
          width: 27.5 * $letterW;
          padding: 0px 15px;
          overflow: hidden;
          >li{
            float: left;
            color: $cGreen;
            width: $letterW;
            height: $letterW;
            line-height: $letterW;
            text-align: center;
            text-transform: uppercase;
            &.disabled{
              color: $dark;
              opacity: 0.75;
            }
            &.current{
              font-weight: 500;
            }
          }
        }
      }
    }
    > span {
      display: block;
      font-size: 11px;
      color: #999;
      text-transform: uppercase;
      padding: 7px 0;
    }
    .maptype,
    section {
      margin: 11px 0 0 0;
    }
    .onoffswitch {
      float: right;
      margin: 1px 0 0 6px;
      cursor: pointer;
    }
    .checked {
      background: #A0A0A0;
    }
  }
}
