$basemaps-class: grayscale, terrain, satellite, hybrid, treeheight, landsat;
$basemaps-img: default, terrain, satellite, roads, tree_height, landsat;

.tab-basemaps{
  >ul{
    >li{
      position: relative;
      padding: 0 0 0 80px;
      border-top: 1px solid $border;
      cursor: pointer;
      &:first-child{
        border-top: none;
      }
      &:hover{
        background: $light;
        .landsat-years{
          @include display-flex();
          min-width: 200px;
        }
      }
      &.selected{ background: $light;}
      @for $i from 1 through length($basemaps-img) {
        &.#{nth($basemaps-class, $i)} i {
          @include basemaps-sprite(nth($basemaps-img, $i));
        }
      }
      span{
        font-size: 12px;
        line-height: 70px;
        text-transform: uppercase;
      }
      i{
        width: 46px;
        height: 46px;
        position: absolute;
        top: 50%;
        left: 16px;
        @include transform(translate(0,-50%));
        background: #000;
        border-radius: 50%;
        border: 1px solid $border;

      }
      .source{
        @extend .info-icon;
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        @include transform(translate(0,-50%));
      }
      .landsat-years{
        display: none;
        position: absolute;
        top: 50%;
        right: 100%;
        @include transform(translate(0,-50%));
        background: $white;
        box-shadow: 0 2px 3px 1px rgba($dark, 0.25);
        padding: 10px;
        &:after{
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          @include transform(translate(50%,-50%) rotate(45deg));
          background: $white;
          width: 12px;
          height: 12px;
          box-shadow: 1px -1px 1px 0px rgba($dark, 0.25);
        }
        > div{
          width: 50%;
          > li {
            cursor: pointer;
            font-size: 12px;
            padding: 10px;
            white-space: nowrap;
            &:hover{ background: $light;}
            &.selected{ background: $light;}
          }
        }
      }
    }
  }
}
