$letterW: 20px;
.tab-highresolution {

  @media screen and ( max-height: 679px ) and ( min-width: $br-mobile){
    max-height: calc(100vh - 234px);
    overflow: auto;
    select {display: block!important; width: 100%;}
    .chosen-container {display: none;}
  }

  .highresolution-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
    background: rgba(#000, 0.7);
    box-shadow: $shadow1;
    padding: 20px;
    color: $white;
    font-size: 12px;
    text-align: center;
    line-height: 1.4;
    max-width: 240px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &.-active {
      opacity: 1;
      visibility: visible;
    }

    > * {
      margin-top: 15px;
      &:first-child {
        margin-top: 0;
      }
    }

  }

  .highresolution-content{
    padding: 15px;
    max-width: 360px;
    // max-height: 350px;
    // overflow-y: auto;
    @media (min-width: 1500px){
      padding: 20px;
      // max-height: 400px;
    }

    h2 {
      font-size: 21px;
      padding: 0 0 15px;
      @media (min-width: $br-mobile){
        text-align: center;
      }
    }

    // HRES SECTION
    section {
      margin: 11px 0 0 0;

      // TITLES
      h3 {
        display: block;
        font-size: 11px;
        color: #999;
        text-transform: uppercase;
        padding: 7px 0;
        position: relative;
        font-weight: 500;

        &.-title {
          font-size: 16px;
          text-transform: none;
          font-weight: 400;

          .source {
            margin: 0px 0 0 4px;
          }
        }

        .onoffswitch {
          position: absolute;
          top: 50%;
          transform: translate(0,-50%);
          cursor: pointer;
          right: 5px;
        }


        .source {
          @extend .info-icon;
          display: inline-block;
          position: absolute;
          top: 50%;
          transform: translate(0,-50%);
          margin: -2px 0 0 4px;
        }
      }

      // DISCLAIMER
      #disclaimer-zoom {
        display: none;
        margin: 15px 0;
        font-size: 13px;

        strong {
          color: darken($dark, 10%);
          font-weight: 500;
        }
      }

      // DATES
      .btn-box-dates {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .slash {
          margin: 0 5px;
          font-size: 13px;
        }
      }
    }

    // ADVANCED OPTIONS
    .advanced-controls {
      position: relative;
      top: 15px;
      cursor: pointer;
      display: none;
      text-transform: uppercase;
      margin: 0 -15px;
      font-weight: 500;

      padding: 14px 15px;
      text-align: center;
      font-size: 10px;
      background: #eeeeee;

      @media (min-width: $br-mobile){
        display: block;
      }

      @media (min-width: 1500px){
        top: 20px;
        margin: 0 -20px;
      }

      &:hover {
        background: darken(#eeeeee, 5%);
      }
    }
    .advanced-options {
      display: block;
      @media (min-width: $br-mobile){
        display: none;
        padding: 15px 0 5px;
      }
      @media (min-width: 1500px){
        padding: 20px 0 5px;
      }
    }


    .checked {
      background: #97bd3d;
    }
    .range-box{
      position: relative;
      height: 10px;
      width: 100%;
      margin: 0 auto;
      ul {
        display: flex;
        font-size: 10px;
        color: #97bd3d;
        font-weight: 500;
        justify-content: space-between;
        li {
            width: 15px;
            text-align: center;
        }
      }
      .dots{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translate(-50%,0);
        margin: 1px 0 0;
        z-index: 1;
        background: image-url('/assets/icons/point.png') repeat-x 1px center;
      }
      .progress{
        position: absolute;
        top: 50%;
        left: 0;
        width: 30%;
        height: 4px;
        margin: -1px 0 0;
        cursor: pointer;
        background: $cGreen;
        border-radius: 2px;
        z-index: 2;
      }
    }

    // RANGE INPUT
    input[type=range] {
      -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
      width: 100%; /* Specific width is required for Firefox. */
      margin: 0;
      z-index: 0;
      position: relative;
      z-index: 2;
      background: transparent;
    }

    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

    input[type=range]:focus {
      outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
    }

    input[type=range]::-ms-track {
      width: 100%;
      cursor: pointer;
      background: transparent; /* Hides the slider so custom styles can be added */
      border-color: transparent;
      color: transparent;
    }






    // THUMB
    /* Special styling for WebKit/Blink */
    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      position: relative;
      height: 12px;
      width: 12px;
      margin: -3px 0 0 0;
      border-radius: 2px;
      background: $white;
      cursor: pointer;
      box-shadow: $shadow1;
      &:after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 4px;
        height: 4px;
        background: $dark;
        border-radius: 50%;
      }
    }

    /* All the same stuff for Firefox */
    input[type=range]::-moz-range-thumb {
      position: relative;
      height: 12px;
      width: 12px;
      margin: -4px 0 0 0;
      border-radius: 2px;
      background: $white;
      cursor: pointer;
      box-shadow: $shadow1;
      &:after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 4px;
        height: 4px;
        background: $dark;
        border-radius: 50%;
      }
    }

    /* All the same stuff for IE */
    input[type=range]::-ms-thumb {
      position: relative;
      height: 12px;
      width: 12px;
      margin: -4px 0 0 0;
      border-radius: 2px;
      background: $white;
      cursor: pointer;
      box-shadow: $shadow1;
      &:after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 4px;
        height: 4px;
        background: $dark;
        border-radius: 50%;
      }
    }








    //TRACK
    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 10px;
      cursor: pointer;
      background: transparent;
      position: relative;
      z-index: 5;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
      background: transparent;
    }

    input[type=range]::-moz-range-track {
      width: 100%;
      height: 10px;
      cursor: pointer;
      background: transparent;
      position: relative;
      z-index: 5;
    }

    input[type=range]::-ms-track {
      width: 100%;
      height: 10px;
      cursor: pointer;
      background: transparent;
      position: relative;
      z-index: 5;
    }


    input[type=range]::-ms-fill-lower {
      background: #2a6495;
      border: 0.2px solid #010101;
      border-radius: 2.6px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }
    input[type=range]:focus::-ms-fill-lower {
      background: #3071a9;
    }

    input[type=range]::-ms-fill-upper {
      background: #3071a9;
      border: 0.2px solid #010101;
      border-radius: 2.6px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }
    input[type=range]:focus::-ms-fill-upper {
      background: #367ebd;
    }
  }
}
.tab-mobile-content .tab-highresolution .maptype {
   h3 {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
  }
  .info-mapsource {
    top: -20px;
  }
}
