.tab-analysis-mobile{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0px;
  color: $dark;
  font-size: 13px;
  max-height: 75%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px 0 56px;
  z-index: 22;
  background: $white;
  transition: all 0.25s $easeInOutSine;
  transform: translate(0,100%);

  &.active{
    transform: translate(0,0);
  }

  .close{
    position: absolute;
    width: 34px;
    height: 34px;
    padding: 8px;
    top: 0;
    right: 0;
    display: block;
    z-index: 5;
    svg{
      stroke: $dark;
    }
    @media (min-width: $br-mobileMap){
      display: none;
    }
  }
}

.tab-analysis {
  nav {
    display: block;

    ul {
      display: flex;

      li {
        position: relative;
        width: 100%;
        padding: 14px 4px;
        text-transform: uppercase;
        text-align: center;
        font-size: 12px;
        color: #7F7F7F;
        cursor: pointer;
        @media (min-width: $br-mobileMap){
          width: 33.333333%;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          height: 4px;
          background: $cGreen;
          transform: translate(-50%,0%);
          transition: all 0.125s $easeInOutSine;
        }

        &:hover {
          &:after {
            background: $dark;
            width: 50%;
          }
        }

        &.-active {
          &:after {
            background: $cGreen;
            width: 50%;
          }
        }

        &.-disabled {
          opacity: 0.5;
          // pointer-events: none;
          cursor: default;

          &:hover {
            &:after {
              width: 0%;
            }
          }
        }
      }
    }
  }


  .analysis-tab-content,{
    display: none;
    padding: 15px;
    @media (min-width: $br-mobileMap){
      padding: 15px;
    }
    @media (min-width: 1500px){
      padding: 20px;
    }

    &.-active {
      display: block;
    }

    &.-results {
      padding: 20px 20px 50px;

      @media (min-width: $br-mobileMap){
        padding: 15px 15px 0px;
      }

      @media (min-width: 1500px){
        padding: 20px 20px 0px;
      }
    }

    &.-hidden{
      display: none;
    }
  }
}
