.tab-analysis-mobile {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0px;
  color: $dark;
  font-size: 13px;
  max-height: 75%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 21;
  background: $white;
  transition: all 0.25s $easeInOutSine;
  transform: translate(0,100%);

  &.-active {
    transform: translate(0,-44px);
  }

  .close {
    position: absolute;
    width: 34px;
    height: 34px;
    padding: 8px;
    top: 0;
    right: 0;
    display: block;
    z-index: 5;
    @media (min-width: $br-mobileMap){
      display: none;
    }

    svg {
      stroke: $dark;
    }
  }
}

.tab-analysis {
  nav {
    display: block;

    ul {
      display: flex;
      align-items: flex-start;

      li {
        position: relative;
        width: 100%;
        padding: 14px 5px;
        text-transform: uppercase;
        text-align: center;
        font-size: 12px;
        color: #7F7F7F;
        cursor: pointer;
        @media (min-width: $br-mobileMap){
          width: 33.333333%;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          height: 4px;
          background: $cGreen;
          transform: translate(-50%,0%);
          transition: all 0.125s $easeInOutSine;
        }

        &:hover {
          &:after {
            background: $dark;
            width: 50%;
          }
        }

        &.-active {
          &:after {
            background: $cGreen;
            width: 50%;
          }
        }

        &.-disabled {
          opacity: 0.5;
          // pointer-events: none;
          cursor: default;

          &:hover {
            &:after {
              width: 0%;
            }
          }
        }

        > span {
          display: inline-block;
          margin: 0 auto;
          max-width: 90px;
        }
      }
    }
  }


  .analysis-tab-content{
    display: none;
    padding: 15px;
    @media (min-width: $br-mobileMap){
      padding: 15px;
    }
    @media (min-width: 1500px){
      padding: 20px;
    }

    &.-active {
      display: block;
    }

    &.-hidden{
      display: none;
    }

    &.-results {
      padding: 20px 15px 0px;

      @media (min-width: $br-mobileMap){
        padding: 15px 15px 0px;
      }

      @media (min-width: 1500px){
        padding: 20px 20px 0px;
      }
    }

    .select-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      select {
        min-height: 30px;
      }
    }
  }
}
