.widget-timeline .timeline-btn {
  >svg{
    width: auto;
  }
  .tick {
    rect {
      cursor: pointer;
      fill: #EEEEEE;
      stroke: #DDDDDD;
      // shape-rendering: crispEdges;
    }

    text {
      pointer-events: none;
      font-size: 11px;
      fill: $dark;
      text-transform: uppercase;
    }

    &.selected rect {
      fill: $cGreen1;
      stroke: #839C26;
    }

    &.selected text {
      fill: white;
      font-weight: 500;
    }
  }

  .tooltip {
    text-transform: uppercase;
  }
}
