.timeline-torque-monthly-picker {
  min-width: 320px;
  height: 50px;
  font-size: 11px;
  display: inline-flex;
  align-items: center;
  float: left;
  margin-right: 20px;
  justify-content: space-between;

  .list {
    width: 100px;
    max-height: 235px;
    background: $white;
    color: $dark;
    position: absolute;
    bottom: 58px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    display: none;

    &.-visible {
      display: flex;

      > .content {
        overflow: scroll;
        overflow-x: hidden;
        max-height: 220px;
        margin-bottom: 15px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      bottom: -14px;
      left: 50%;
      margin-left: -10px;
      box-sizing: border-box;
      border: 7px solid black;
      border-color: transparent transparent #FFFFFF #FFFFFF;
      transform-origin: 0 0;
      transform: rotate(-45deg);
      box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.05);
    }

    > .content {
      width: 100%;
      padding: 15px 15px 0 15px;

      > .item {
        width: 100%;
        height: 30px;
        text-align: center;
        cursor: pointer;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background: $cGreen;
          color: $white;
        }

        &.-active {
          background: $cGreen;
          color: $white;
        }

        &.-disabled {
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }
  }

  .monthly-picker {
    width: 96px;
    height: auto;
    border: 1px solid $cGreen;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: relative;
    color: $dark;

    &:after {
      content: '';
      width: 1px;
      height: 32px;
      background: $cGreen;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    .action {
      width: 50%;
      height: 32px;
      font-size: 13px;
      color: $cGreen;
      line-height: 32px;
      text-align: center;
      text-transform: uppercase;
      border: 0;
      padding: 0;
      cursor: pointer;
      user-select: none;
      background: transparent;
      appearance: none;
      margin: 0;
      border-radius: 0;

      &.-active {
        background: $cGreen;
        color: $white;

        &:hover {
          background: $cGreen;
        }
      }

      &:focus {
        outline: none;
      }

      &:hover {
        background: #f2f2f2;
      }

      &.-selector {
        font-size: 10px;
        color: $dark;
        margin-left: 15px;
        font-weight: 500;
        height: 25px;
        line-height: 24px;

        &.-right {
          margin-left: 5px;
        }

        &:hover {
          background: transparent;
        }
      }
    }
  }
}
