.widget-timeline .timeline-month {
  height: 100%;

  .tooltip {
    margin-left: 0;
    text-transform: uppercase;
    top: -16px;
  }

  // Play button
  .play {
    position: relative;
    float: left;
    width: 50px;
    height: 100%;
    cursor: pointer;
    padding: 20px;
    &:after{
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      @include transform(translate(0,-50%));
      width: 1px;
      height: 60%;
      background: $border;
    }

    &:hover {
      .play-icon, .stop-icon {
        opacity: 0.9;
      }
    }

    .play-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%,-50%));
      margin: 0 0 0 1px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 0 7px 10px;
      border-color: transparent transparent transparent $dark;
    }

    .stop-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%,-50%));
      display: none;
      width: 10px;
      height: 10px;
      background: $dark;
    }
  }

  .time {
    float: left;
    height: 100%;
    width: 945px;
    position: relative;
    svg{
      width: auto;
    }
  }

  .slider .handle {
    cursor: col-resize;
  }

  .domain {
    stroke: $cGreen1;
    stroke-width: 4;
    // shape-rendering: crispEdges;
  }

  .xaxis-years text {
    font-size: 11px;
    fill: $dark;
    font-weight: 500;
    &.active {
      fill: $cGreen1;
    }
  }

  .xaxis {
    position: absolute;
    top: 0;
    left: 0;

    .tick {
      text {
        pointer-events: none;
        font-size: 9px;
        fill: #bbb;
        text-transform: uppercase;
      }

      &.highlight text {
        fill: #111;
      }
    }
  }

}
