.picker {
  font-size: 16px;
  text-align: left;
  line-height: 1.2;
  color: #000000;
  position: absolute;
  z-index: 10000;
  user-select: none;

  &.-top {
    @media (min-width: $br-mobile){
      top: 0;
    }

    .picker__holder {
      @media (min-width: $br-mobile){
        left: auto;
      }
    }
  }
  &.-bottom { }
  &.-left {
    .picker__holder {
      margin: -140px 0 0 -140px;
      @media (min-width: $br-mobile){
        left: -160px;
        bottom: auto;
        margin: -150px 0 0 -150px;
      }
    }
  }
  &.-right {  }
}

input.picker__input[type="text"] {
  font-size: 13px;
  padding: 0;
  text-align: center;
  height: 32px;
  cursor: default;
  border-color: $cGreen1;
  border-radius: 20px;
  color: $dark;
  text-transform: uppercase;
}

input.picker__input[type="text"]:hover {
  cursor: pointer;
}

input.picker__input[type="text"]:hover,
input.picker__input[type="text"].picker__input--active {
  background-color: darken($white,5%);
}

.picker {
  width: 100%;
}

.picker__holder {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  outline: none;
  background: #ffffff;
  box-sizing: border-box;
  width: 280px;

  max-height: 0;
  opacity: 0;
  transform: translateY(-1em) perspective(600px) rotateX(10deg);
  transition: transform 0.15s ease-out, opacity 0.15s ease-out, max-height 0s 0.15s, border-width 0s 0.15s;

  @media (max-width: $br-mobile) {
    margin: -356px 0 0 -140px;
  }

  @media (min-width: $br-mobile) {
    position: absolute;
    top: auto;
    bottom: 5px;
    width: 300px;
  }
}

.picker--opened .picker__holder {
  max-height: 25em;
  opacity: 1;
  border-top-width: 1px;
  border-bottom-width: 1px;
  transform: translateY(0) perspective(600px) rotateX(0);
  transition: transform 0.15s ease-out, opacity 0.15s ease-out, max-height 0s, border-width 0s;
  box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12);
}

.picker__frame {
  padding: 1px;
}

.picker__wrap {
  margin: -1px;
}

/**
 * The picker box.
 */
.picker__box {
  padding: 0 1em;
}

/**
 * The header containing the month and year stuff.
 */
.picker__header {
  text-align: center;
  position: relative;
  margin-top: .75em;
}

/**
 * The month and year labels.
 */
.picker__month,
.picker__year {
  font-weight: 500;
  display: inline-block;
  margin-left: .25em;
  margin-right: .25em;
}

.picker__year {
  color: #999999;
  font-size: .8em;
  font-style: italic;
}

/**
 * The month and year selectors.
 */
.picker__select--month,
.picker__select--year {
  border: 1px solid #b7b7b7;
  height: 3em;
  padding: .5em;
  margin-left: .25em;
  margin-right: .25em;
}

.picker__select--month {
  width: 35%;
}

.picker__select--year {
  width: 22.5%;
}

.picker__select--month:focus,
.picker__select--year:focus {
  border-color: #0089ec;
}

/**
 * The month navigation buttons.
 */
.picker__nav--prev,
.picker__nav--next {
  position: absolute;
  padding: .5em 1.25em;
  width: 1em;
  height: 1em;
  box-sizing: content-box;
  top: -0.25em;
  color: #555;
}

.picker__nav--prev {
  left: -1em;
  padding-right: 1.25em;
}

.picker__nav--next {
  right: -1em;
  padding-left: 1.25em;
}

.picker__nav--prev:before,
.picker__nav--next:before {
  content: "\3031";
  display: block;
}

.picker__nav--next:before {
  transform: rotate(180deg);
  bottom: 3px;
  position: relative;
}

.picker__nav--prev:hover,
.picker__nav--next:hover {
  cursor: pointer;
}

.picker__nav--disabled,
.picker__nav--disabled:hover,
.picker__nav--disabled:before,
.picker__nav--disabled:before:hover {
  cursor: default;
  background: none;
}

.picker__table {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-size: inherit;
  width: 100%;
  margin-top: .75em;
}

.picker__table thead {
  border-bottom: 1px solid #e5e5df;
}

.picker__table tbody tr:first-of-type td {
  padding-top: 10px;
}

.picker__table tbody tr:last-of-type {
  border-bottom: 1px solid #e5e5df;
}

.picker__table tbody tr:last-of-type td {
  padding-bottom: 10px;
}

.picker__table td {
  margin: 0;
  padding: 0;
}

.picker__weekday {
  width: 14.285714286%;
  font-size: 11px;
  padding-bottom: .25em;
  color: #555;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.picker__day {
  color: $dark;
  padding: .3125em 0;
  font-size: 14px;
  font-weight: 200;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 400;
  position: relative;
}

.picker__day--outfocus {
  opacity: 0.5;
}

.picker__day.picker__has_data:after {
  content: '\25CF';
  font-size: 9px;
  position: absolute;
  bottom: -2px;
  right: 15px;
  color: $cGreen1;
}

.picker__day:hover {
  cursor: pointer;
  background: #eee;
}

.picker__day--selected {
  background: $cGreen1;
  color: $white;
  &:hover {
    background: $cGreen1;
  }
}

.picker__day--disabled,
.picker__day--disabled:hover,
.picker--focused .picker__day--disabled {
  background: none;
  cursor: default;
  color: #555;
  opacity: 0.5;
}

.picker__day.picker__day--disabled:after {
  content: '';
}


.picker__footer {
  text-align: center;
}

.picker__button--clear,
.picker__button--close {
  display: none;
}

.picker__button--today {
  border: 1px solid #ffffff;
  background: #ffffff;
  font-size: 12px;
  padding: 10px 0;
  width: 33%;
  display: inline-block;
  vertical-align: bottom;
  float: right;
  color: #aaa;
  text-align: right;
}

.picker__button--today:hover {
  cursor: pointer;
  color: $cGreen1;
}

.picker__button--today:focus {
  outline: none;
}

.picker__button--today[disabled],
.picker__button--today[disabled]:hover {
  color: #aaa;
}

.picker__legend--detection {
  position: relative;
  font-size: 12px;
  color: $cGreen1;
  float: left;
  padding: 13px 0 10px 10px;
}

.picker__legend--detection:before {
  content: '\25CF';
  font-size: 9px;
  position: absolute;
  left: 2px;
  top: 15px;
}
