.widget-timeline .timeline-year {
  height: 100%;

  // Play button
  .play {
    position: relative;
    float: left;
    width: 50px;
    height: 100%;
    cursor: pointer;
    padding: 20px;
    &:after{
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      @include transform(translate(0,-50%));
      width: 1px;
      height: 60%;
      background: $border;
    }

    &:hover {
      .play-icon, .stop-icon {
        opacity: 0.9;
      }
    }

    .play-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%,-50%));
      margin: 0 0 0 1px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 0 7px 10px;
      border-color: transparent transparent transparent $dark;
    }

    .stop-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%,-50%));
      display: none;
      width: 10px;
      height: 10px;
      background: $dark;
    }
  }

  .time {
    float: left;
    height: 100%;
    width: 945px;
    position: relative;
  }

  .xaxis text {
    font-size: 11px;
    fill: #999;

    &.selected {
      fill: $cGreen1;
    }
  }

  .xaxis .domain {
    stroke: $cGreen1;
    stroke-width: 8;
    shape-rendering: crispEdges;
  }

  .slider .handle {
    fill: $cGreen1;
    stroke: darken($cGreen1, 20);
    cursor: col-resize;
  }
}
