.widget-timeline {
  .widget-box {
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    width: 1000px;
    height: 50px;
  }

  .timeline-legend {
    height: 20px;
    width: 100%;
    position: absolute;
    top: -18px;
    color: #333;
    font-weight: 500;
    font-size: 12px;
    text-shadow: 0px 0px 3px #fff;

    span {
      font-weight: normal;
    }

    .timeline-name {
      margin-left: 10px;
      float: left;
    }

    .timeline-latlng {
      font-size: 11px;
      margin-right: 10px;
      float: right;
    }
  }

  .timeline-container {
    width: 100%;
    height: 100%;
  }

  .tooltip {
    position: absolute;
    top: -15px;
    left: 0;
    z-index: 2000;
    background: #333;
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 6px 8px;
    border-radius: 2px;
    min-width: 40px;
    margin-left: 2px; // trail and triangle aligned

    &:before {
      content:'';
      display:block;
      width:0;
      height:0;
      position:absolute;

      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #333;

      right: 0;
      left: 0;
      margin: auto;
      bottom: -5px;
    }
  }

  .tipsy {
    .trail {
      stroke: $cGreen1;
      stroke-width: 1;
      shape-rendering: crispEdges;
    }
  }

}
