.widget-timeline {
  .widget-box {
    bottom: 56px;
    left: 0;
    width: 100%;
    height: 44px;
    @media (min-width: $br-mobileMap){
      bottom: 50px;
      left: auto;
      right: 35px;
      width: auto;
      height: 50px;
    }

    @media (min-width: 1300px){
      bottom: 50px;
      left: 50%;
      right: auto;
      @include transform(translate(-50%,0));
    }
  }

  .timeline-legend {
    display: none;
    height: 20px;
    width: 100%;
    position: absolute;
    top: -18px;
    color: #333;
    font-weight: 500;
    font-size: 12px;
    text-shadow: 0px 0px 3px #fff;
    @media (min-width: $br-mobileMap){
      display: block;
    }

    span {
      font-weight: normal;
    }

    .timeline-name {
      margin-left: 10px;
      float: left;
    }

    .timeline-latlng {
      font-size: 11px;
      margin-right: 10px;
      float: right;
    }
  }

  .timeline-container {
    width: 100%;
    height: 100%;
  }

  .tooltip {
    position: absolute;
    top: -15px;
    left: 0;
    z-index: 2000;
    background: $white;
    color: $dark;
    text-align: center;
    font-size: 10px;
    padding: 6px 8px;
    border-radius: 2px;
    box-shadow: $shadow1;
    min-width: 40px;
    margin-left: 6px;
    // margin-left: 2px; // trail and triangle aligned

    &:before {
      content:'';
      display:block;
      width:0;
      height:0;
      position:absolute;
      background-color: $white;
      width: 8px;
      height: 8px;
      @include transform(rotate(45deg));

      box-shadow: 1px 1px 1px 0 rgba($dark,0.5);

      right: 0;
      left: 0;
      margin: auto;
      bottom: -4px;
    }
  }

  .tipsy {
    .trail {
      stroke: $cGreen1;
      stroke-width: 1;
      shape-rendering: crispEdges;
    }
  }

}
