.widget-togglewidgets {

    .widget-box {
    left: 21px;
    top: 90px;
    padding: 0;
    width: 25px;
    height: 25px;
    @include display-flex();
    @include justify-content(center);
    @include align-items(center);
    cursor: pointer;
    span {
      background: url(/assets/icons/legendtoggle_on.svg) no-repeat;
      width: 60%;
      height: 40%;
      &.visible {
        background: url(/assets/icons/legendtoggle_off.svg);
        height: 50%;
      }
    }
  }

}
