.widget-togglewidgets {

    .widget-box {
    right: 5px;
    top: 5px;
    padding: 0;
    width: 20px;
    @include display-flex();
    @include justify-content(center);
    @include align-items(center);
    cursor: pointer;
    span {
      background: lightpink;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      float: left;
      box-shadow: inset 0px 0px 4px gray;
      &.visible {
        background: lightgreen;
      }
    }
  }

}
