.widget-threshold {
  .widget-box {
    right: 240px;
    top: 78px;
    width: 440px;
    padding: 20px;
  }

  .widget-btn {
    right: 240px;
    top: 32px;
    border: 1px solid #666;
    box-shadow: 0px 0px 3px #666666;
    width: 50px;
    height: 40px;
    background: #fff no-repeat;
    background-image: url(home-icons/settings_refactored.png);
    background-position: 50% 50%, center;
    &:hover  {
      background-image:url(home-icons/settings_refactored_hover.png);
      box-shadow: 0px 0px 3px #777;
    }
     &.changed {
      background-image:url(home-icons/settings_refactored_changed.png);
    }
    &.disabled {
      opacity: 0.5;
      border-color: #E4E4E4;
    }
    &.disabled {
      opacity: 0.8;
    }
  }

  .widget-title {
    color: $cGreen1;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
  }

  .widget-description {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;

    span {
      display: block;
      font-size: 11px;
      margin-top: 5px;
      .source {
        display: block;
        position: absolute;
        top: 87px;
        right: 22px;
        width: 10px;
        height: 10px;
        @include home-icons-sprite(information);
      }

    }
  }

  .trees {
    width: 100%;
    margin-top: 20px;
    height: 60px;

    .tree-icon {
      width: 25px;
      height: 41px;
      margin-top: 19px;
      float: left;
      background: image-url('backgrounds/map_options_tree-1.png') no-repeat;
    }

    .forest-icon {
      float: right;
      width: 91px;
      height: 60px;
      background: image-url('backgrounds/map_options_tree-2.png') no-repeat;
    }
  }


  .slider-labels {
    margin-top: 8px;
    clear: both;

    li {
      cursor: pointer;
      width: 11.11%;
      color: $cGreen1;
      font-size: 10px;
      display: inline-block;
      float: left;

      &:first-child,
      &:last-child {
        color: #666;
      }
    }
  }

  .dots{
    width: 340px;
    height: 2px;
    background: image-url('/assets/icons/point.png') repeat-x 1px center;
    position: relative;
    margin-top: 0;
    float: left;
    top: 18px;
  }

  .slider-container {
    margin-top: 10px;
    position: relative;
    height: 20px;
    width: 340px;
    margin-left: 11.11%;
    display: inline-block;
    .slider {
      width: 305px;
      -webkit-appearance: none;
      background: transparent;
      cursor: pointer;
      position: absolute;
      z-index: 1;
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        /* IE10+ specific styles go here */
        top: -18px;
        background: none;
      }
      &:focus {
        outline: 0;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        @include home-icons-sprite(timeline_handler_white);
        background-color: $cGreen1;
        width: 14px;
        height: 14px;
        cursor: col-resize;
        border-radius: 3px;
      }

      &::-moz-range-thumb {
        background: image-url('home-icons/timeline_handler_white.png');
        background-color: $cGreen1;
        width: 14px;
        height: 14px;
        cursor: col-resize;
        border-radius: 3px;
      }

      &::-moz-range-track {
        display: none;
        background-color: transparent;
        z-index: 0;
        border: none;
      }

      &::-moz-focusring{
          outline: 1px solid white;
          outline-offset: -1px;
      }
      &::focus::-moz-range-track {
          outline: 0;
      }

      &::-ms-track {
          top: 4px;
          width: 300px;
          height: 16px;
          background: transparent;
          border: none;
          border-radius: 10px;

          /* remove default tick marks */
          color: transparent;
      }
      &::-ms-fill-lower {
          outline: none;
          background: transparent;
          border-radius: 10px 0 0 10px;
      }
      &::-ms-thumb {
        background: image-url('home-icons/timeline_handler_white.png');
        background-color: $cGreen1;
        width: 14px;
        height: 14px;
        cursor: col-resize;
        border-radius: 3px;
      }
      &:focus::-ms-track {
          background: transparent;
      }
      &:focus::-ms-fill-lower {
          background: transparent;
      }
    }

    .visible-range {
      position: absolute;
      right: 0;
      top: 4px;
      display: block;
      background: #A2BC28;
      width: 97%;
      height: 6px;
      pointer-events:none;
      min-width: 60px;
      box-shadow: 1px 0 3px #cccccc;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      max-width: 330px;
    }
  }

  .close {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
    color: #bbb;

    &:hover {
      color: #999;
    }
  }
}
