.widget-maptype {

  .widget-box {
    right: 35px;
    top: 82px;
    width: 150px;
    z-index: 21;
  }

  .widget-closed .maptype-list li {
    border: none;
  }

  .widget-opened .maptype-list {
    max-height: 1000px;
  }

  .maptype-list {
    max-height: 40px;
    overflow: hidden;

    > li {
      position: relative;
      width: 100%;
      height: 100%;
      font-size:13px;
      padding: 9px 10px;
      cursor: pointer;
      color: #666;
      border-bottom: 1px solid #ddd;
      @include box-sizing(border-box);

      &.grayscale         i { background: image-url('home-icons/map_grayscale.png') no-repeat center;}
      &.terrain           i { background: image-url('home-icons/map_terrain.png') no-repeat center;}
      &.satellite         i { background: image-url('home-icons/map_satellite.png') no-repeat center;}
      &.roads             i { background: image-url('home-icons/map_roads.png') no-repeat center;}
      &.hybrid            i { background: image-url('home-icons/map_roads.png') no-repeat center;}
      &.treeheight        i { background: image-url('home-icons/map_treeheight.png') no-repeat center;}
      &.landsat           i { background: image-url('home-icons/map_landsat.png') no-repeat center;}

      i {
        @include inline-block();
        width: 24px;
        height: 18px;
        border: 1px solid rgba(#333, .5);
        margin: 0 5px 0 0;
        background: #ddd;
      }

      &:last-child {
        border: none;
      }

      &:hover {
        color: #333;
      }

      .source {
        position: absolute;
        right: 12px;
        top: 14px;
        width: 10px;
        height: 10px;
        @include home-icons-sprite(information);
        background: image-url('home-icons/information.png');
        &.info2{
          @include home-icons-sprite(information2);
          background: image-url('home-icons/information2.png');          
        }
      }
    }
  }

  .landsat-years {
    position: absolute;
    background: white;
    padding: 5px;
    border: 1px solid #666;
    box-shadow: 0px 0px 3px #666666;
    border-radius: 4px;
    height: auto;
    width: 215px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
    line-height: 30px;
    right: 152px;
    top: 140px;

    li {
      text-align: center;
      font-size: 0.9rem;
      color: #666;
      cursor: pointer;
      display: -moz-box;
      &:hover {
        color: #333;
      }
    }
  }
}
