.widget-legend {
  .countries-link{
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    background: $light;
    color: #555;
    text-transform: uppercase;
    clear: both;
  }

  .widget-box {
    left: 60px;
    top: 32px;
  }

  .widget-content {
    font-size: 13px;
  }

  .widget-closed {
    padding: 14px 20px;
    font-weight: 500;
    font-size: 11px;
    color: #bbb;
    text-transform: uppercase;
  }

  // @li
  .category {
    padding: 15px 20px;
    border-bottom: 1px solid #E5E5E5;

    .category-name {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 11px;
      margin-bottom: 8px;
      display: block;
    }

    &:last-child {
      border-bottom: none;
    }
  }
  // @ul
  .layers {
  }

  // @li
  .layer {
    width: 100%;
    margin-bottom: 6px;
    &:last-child {
      margin-bottom: 0;
    }

    .layer-name {
      display: block;
      position: relative;
      padding-right: 17px;
    }
  }

  // @div
  .source {
    @extend .info-icon;
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 0;

    &.hidden {
      display: none;
    }

    &.text{
      position: static;
      width: auto;
      height: auto;
      background: none;
      border: none;
      border-radius: 0;
    }
  }

  .layer-sublayer {
    cursor: pointer;
    padding: 10px 5px 5px 14px;

    .onoffswitch {
      margin-top: 1px;
    }

    .sublayer-title {
      margin-left: 5px;
      color: #ccc;
      display: inline-block;
    }
  }

  .circle:before {
    content: ' \25CF';
    font-size: 16px;
    margin: 0 4px 0 -1px;
  }

  /*****************/
  /* Layer details */
  /*****************/
  .layer-details {
    margin: 8px 0 0 13px;

    .details-title {
      color: #999;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 500;
    }

    .layer-colors li {
      margin-bottom: 4px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    .canopy {
      width: 170px;
      font-size: 11px;
      line-height: 14px;
      span {
        font-weight: 500;
      }
    }

    sup {
      vertical-align: top;
      font-size: 0.8em;
    }
  }


  /*****************/
  /* Layer details */
  /*****************/
  .layer-details-loss {
    .canopy{
      margin: 7px 0 0;
      &:first-child{
        margin: 0;
      }
      a{
        color: #F69;
        &:hover{
          color: lighten(#F69, 10%);
        }
      }
    }
  }


  /***************************/
  /* Forest2000Layer details */
  /***************************/
  .layer-details-forest2000 {
    .quartiles {
      border: 1px solid #ccc;
      border-radius: 3px;
      margin: 7px 0 5px 0;
      width: 100%;
      height: 23px;
    }

    .quartile {
      background: #4EC54E;
      float: left;
      font-size: 10px;
      color: #fff;
      width: 33.3%;
      @include box-sizing(border-box);
      height: 100%;
      text-align: center;
      padding: 6px 0;
      text-shadow: 0px 0px 2px black;
      &:first-child {background: #9DD89D;}
      &:last-child {background: #00B300;}
    }
  }

  /****************************/
  /* PantropicalLayer details */
  /****************************/
  .layer-details-pantropical {
    .details-title .units {
      font-weight: normal;
      text-transform: normal;
    }

    .total-carbon-bar {
      margin-top: 4px;
    }

    .labels {
      display: block;
      width: 100%;
      height: 12px;
      font-size: 10px;
      li {display: inline-block;}
      li:first-child {float: left;}
      li:last-child {float: right;}
    }

    .quartile-bar {
      clear: both;
      height: 12px;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 3px;
      background: #FFFFD4;
      background: -moz-linear-gradient(left, #FFFFD4 0%, #dd8653 100%);
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,#FFFFD4), color-stop(100%,#dd8653));
      background: -webkit-linear-gradient(left, #FFFFD4 0%,#dd8653 100%);
      background: -o-linear-gradient(left, #FFFFD4 0%,#dd8653 100%);
      background: -ms-linear-gradient(left, #FFFFD4 0%,#dd8653 100%);
      background: linear-gradient(to right, #FFFFD4 0%,#dd8653 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFD4', endColorstr='#dd8653', GradientType=1);
      background-image: -ms-linear-gradient(left, #FFFFD4 0%,#dd8653 100%);
    }
  }

  /****************************/
  /* ImazonLayer details */
  /****************************/
  .layer-details-imazon {
    .layer-colors {
      .deforestation {color: #F13689;}
      .degradation {color: #FA98B9;}
    }
  }

  /****************************/
  /* intactForestLayer2013 details */
  /****************************/
  .layer-details-intact-2013 {
    .layer-colors {
      .intact {color: rgb(22, 133, 0);}
      .degraded {color: rgb(152, 155, 5);}
    }
  }

  /*********************************/
  /* IdnPrimaryLayer details */
  /*********************************/
  .layer-details-idn-primary {
    .layer-colors {
      .intact {color: #007A4D;}
      .degraded {color: #97BD3D;}
    }
  }

  /*********************************/
  /* UserStoriesLayer details */
  /*********************************/
  .layer-details-stories {
    .canopy{
      a{
        color: #f3830a;
        &:hover{
          color: lighten(#f3830a, 10%);
        }
      }
    }
  }

  /****************************/
  /* FiresLayer details */
  /****************************/
  .layer-details-fires {
    margin-left: 0;
    margin-top: 12px;
    text-align: center;

    .gfw-fires-link {
      padding: 10px 0;
      width: 100%;
      border: 1px solid #ec1d38;
      border-radius: 5px;
      font-size: 12px;
      text-transform: uppercase;
      display: block;
      color: #999;
      font-weight: 500;

      span {
        color: #ec1d38;
      }
    }
  }
}
