.widget-searchbox {

  .widget-box {
    right: 35px;
    top: 32px;
    width: 300px;
    padding: 10px 0;
  }

  input {
    width: 100%;
    padding: 0 20px 0 30px;
    border: none;
    font-size: 13px;
    margin: 2px 0 0;
    @include box-sizing(border-box);

    &:focus {
      outline: none;
    }
  }

  .search-icon {
    position: absolute;
    left: 8px;
    top: 50%;
    @include transform(translate(0,-50%));
    padding: 8px;
    width: 16px;
    height: 16px;
    margin: 0;
    cursor: pointer;
    opacity: 0.7;
    background: url('buttons/search.png') no-repeat center center;

    &:hover {
      opacity: 1;
    }
  }

}
