<section class="more-stories-section">
  <div class="inner">
    <h2 class="section-title">More crowdsourced stories</h2>
    <ul class='row'>
      <% @more_stories.each do |story| %>
        <li class='col'>
          <a href="<%= story_path(story['id']) %>">
            <div class="frame">
              <img src="<%= story_image_or_map(story['media'], "#{story['lat']}, #{story['lng']}") %>" alt="" />
            </div>
            <h3><%= story['title'] %></h3>
          </a>
        </li>
      <% end %>
      <li class="col">
        <a class="new-story" href="stories/new">
          <div class="frame">
          </div>
          <h3>New story</h3>
        </a>
      </li>
    </ul>
  </div>
</section>
