<% content_for :title do
  "Edit #{@story.title} story"
end %>


<% content_for :inner_header do
  link_to (content_tag :span, 'Delete story'), story_path(@story), :"data-id" => @story.cartodb_id, :class => "btn green dark_glow destroy_story"
end %>

<div class="story_form">

  <div class="inner">
    <%= render 'form' %>
  </div>
</div>

