<% content_for :title do
  "Edit #{@story.title} story"
end %>


<% content_for :inner_header do
  link_to (content_tag :span, 'Destroy'), story_path(@story), :class => "btn destroy", :method => :delete, :class => "btn destroy", :confirm => "Are you sure?"
end %>

<div class="story_form">

  <div class="inner">
    <%= render 'form' %>
  </div>
</div>
