<% content_for :header do %>
  <h1>
    <a href="/stories">
      Stories
      <span class="ribbon"><span>Stories</span></span>
    </a>
  </h1>
  <nav id="nav-mobile">
    <ul class="mobile-hide">
      <li>
        <a href="/stories/crowdsourcedstories" id="crowdsourcedStories">Crowdsourced stories</a>
      </li>
      <li>
        <a href="/stories/new" id="submitAStory">Submit a story</a>
      </li>
    </ul>
  </nav>
<% end %>

<div id="storiesSpinner" class="m-spinner -fixed -start">
  <div class="spinner-box">
    <div class="icon"></div>
  </div>    
</div>
