@import '~styles/settings.scss';

.c-header {
  position: relative;
  background-color: $slate-light;
  min-height: rem(350px);
  padding: 50px 0 30px;

  @media screen and(min-width: $screen-m) {
    padding: 70px 50px 80px 0;
  }

  @media screen and (min-width: $screen-l) {
    padding-left: calc(100% - (#{$max-width} * 0.7) - #{$desktop-gutter});
  }

  .c-loader {
    background: rgba($white, 0.2);
    z-index: 10;

    @media screen and (min-width: $screen-l) {
      padding-left: calc(100% - (#{$max-width} * 0.7));
    }
  }

  .select-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .description {
    color: rgba($white, 0.9);
    line-height: 1.6;
    margin-top: 10px;

    p {
      margin-bottom: 30px;
    }

    b {
      color: $green-gfw;
    }
  }
}
