@import '~styles/settings.scss';

.c-header {
  position: relative;
  background-color: $slate-light;
  min-height: rem(350px);
  padding: rem(50px) 0 rem(30px);

  @media screen and(min-width: $screen-l) {
    padding: rem(70px) rem(50px) rem(80px) 0;
  }

  @media screen and (min-width: $screen-xl) {
    padding-left: calc(100% - (#{$max-width} * 0.7));
  }

  .loader {
    z-index: 10;

    @media screen and (min-width: $screen-xl) {
      padding-left: calc(100% - (#{$max-width} * 0.7) + #{$desktop-gutter});
    }
  }

  .select-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: rem(30px);

    @media screen and (min-width: $screen-l) {
      margin-bottom: 0;
    }

    .select {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: rem(20px);

      .icon {
        min-width: rem(12px);
        width: rem(12px);
        height: rem(12px);
        margin-right: rem(16px);
        fill: $white;
      }
    }
  }

  .description {
    color: rgba($white, 0.9);
    line-height: 1.6;
    margin-top: rem(10px);

    p {
      margin-bottom: rem(15px);

      @media screen and (min-width: $screen-l) {
        margin-bottom: rem(30px);
      }
    }

    b {
      color: $green-gfw;
    }
  }
}
