@import '~styles/settings.scss';

$map-menu-items-size: rem(76px);

.c-map-menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 13;

  &__logo {
    position: relative;
    width: $map-menu-items-size;
    height: $map-menu-items-size;
    background-color: $white;
    z-index: 2;
  }

  &__buttons-group {
    position: relative;
    display: flex;
    flex-direction: column;
    width: $map-menu-items-size;
    height: calc(100% - #{$map-menu-items-size});
    background-color: $white;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: rem(1px);
      height: 100%;
      background-color: $white-calcium;
      z-index: 2;
    }

    &.--has-selection {
      background-color: $white-tree;
    }
  }

  &__item {
    position: relative;
    width: 100%;
    height: 12.5%;
    max-height: $map-menu-items-size;
    z-index: 1;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;

    &.--selected {
      background-color: $white;
      border-top-color: $white-calcium;
      border-bottom-color: $white-calcium;
      z-index: 3;
    }

    &:first-child {
      border-top-color: transparent;
    }

    &:last-child {
      border-bottom-color: transparent;
    }

    &:nth-child(6) {
      position: absolute;
      bottom: $map-menu-items-size;
    }

    &:nth-child(7) {
      position: absolute;
      bottom: 0;
    }
  }

  &__item-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 11px;
    line-height: 0.91;
    letter-spacing: -0.2px;
    color: $greyish-brown;
    cursor: pointer;

    .c-icon {
      width: rem(24px);
      height: rem(21px);
      fill: $ashes-grey;
      margin-bottom: rem(6px);
    }
  }

  &__item-badge {
    position: absolute;
    top: rem(13px);
    right: rem(21px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(14px);
    height: rem(14px);
    background-color: $green-gfw;
    border-radius: 100%;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: -0.3px;
    color: $white;
  }
}
