@import '~styles/settings.scss';

.c-topics-image {
  position: relative;

  img {
    width: 100%;
  }

  .image-info {
    position: absolute;
    z-index: 1;
    border: solid 15px rgba($white, 0.5);
    border-radius: 50%;
    cursor: pointer;
  }
}

.c-info-tooltip {
  padding: rem(20px);
  text-align: left;

  p {
    margin-bottom: rem(15px);
  }
}
