<div class="widget-toggle"></div>
<div class="analysis_info imazon" style="display: none;">
  <div class="info_title">User defined area</div>
  <div class="info_content">
    <div class="info">
      <div class="titles">
        <strong class="title">User defined area</strong>
        <span class="subtitle"></span>
      </div>
    </div>

    <div class="stats">
      <div class="spinner" style="display: none;"></div>
      <strong class="title" style="display: inline;">Total selected area</strong>
      <ul style="display: block;">
        <li class="ha">
          <p class="count"><strong></strong> Ha</p>
        </li>

        <li class="alert">
          <strong class="title" style="display: inline;">Deforestation alerts</strong>
          <p class="count forma">
            <strong>
              <span class="alerts-def">
                
              </span>
            </strong> Ha
          </p>
        </li>

        <li class="alert">
          <strong class="title" style="display: inline;">Degradation alerts</strong>
          <p class="count forma">
            <strong>
              <span class="alerts-deg">
                
              </span>
            </strong> Ha

            <a href="#" target="_blank" class="download">download</a>
          </p>
        </li>

      </ul>


      <div class="shadow"></div>
    </div>

    <div class="info_controls">
      <ul class="info_control_buttons">
        <li><a class="subscribe_control disabled" href="#" title="Subscribe to alerts"></a></li>
        <li><a class="reset_control" href="#" title="Delete analysis"></a></li>
      </ul>
    </div>
  </div>
	<div class='qtip-default downloads'>
		<div class="analysis_dropdown hidden qtip-content">
		  <ul>
		      <li><a href="" target="_blank" class="svg-download">SVG</a></li>
		      <li><a href="" target="_blank" class="geo-download">GeoJSON</a></li>
		      <li><a href="" target="_blank" class="shp-download">SHP</a></li>
		      <li><a href="" target="_blank" class="kml-download">KML</a></li>
		      <li><a href="" target="_blank" class="csv-download">CSV</a></li>
		  </ul>
		</div>
	</div>
</div>