<div class="widget-btn" id="analysis"><span class="tooltip1">Analyze</span></div>

<div class="widget-box">
  <div class="analysis-latlng" id="analysisLatlng"></div>
  <div class="widget-content">
    <span class="description">Draw in the map the area you want to analyze.</span>
    <div class="buttons">
      <button class="btn btn-sm disabled" id="done"><span class="text">Done</span></button>
      <button class="btn btn-default btn-sm" id="cancel">Cancel</button>
    </div>
  </div>
</div>
