<div class="widget-box">
  <div class="widget-toggle widget-toggle-grey"></div>
  <div class="widget-content">

    <div class="widget-closed">
      <span class="analysis-title">Not available</span>
    </div>

    <div class="widget-opened">
      <div class="analysis-info">
        <span class="analysis-title">Not available</span>
      </div>

      <div class="analysis-error">
        This analysis is not available. Coming soon.
      </div>

      <div class="analysis-footer">
        <ul class="analysis-control">
          <li class="analysis-control-subscribe disabled"><svg><use xlink:href="#shape-alerts"></use></svg>{{!-- <span class="tooltip1">Subscribe</span> --}}</li>
          <li class="analysis-control-delete">{{!-- <span class="tooltip1">Delete analysis</span> --}}</li>
        </ul>
        <ul class="analysis-control-names"><li><span class="disabled">subscribe</span></li><li><span>delete</span></li></ul>
      </div>

    </div>
  </div>
</div>
