<div class="widget-box">
  <div class="widget-toggle widget-toggle-grey"></div>
  <div class="widget-content">

    <div class="widget-closed">
      <span class="analysis-title">Error</span>
    </div>

    <div class="widget-opened">
      <div class="analysis-info">
        <span class="analysis-title">Error</span>
      </div>

      <div class="analysis-error">
        Couldn't fetch analysis data.
      </div>

      <div class="analysis-footer">
        <ul class="analysis-control">
          <li class="analysis-control-subscribe disabled"></li>
          <li class="analysis-control-delete"></li>
        </ul>
      </div>

    </div>
  </div>
</div>
