<div class="widget-box">
  <div class="widget-toggle widget-toggle-grey"></div>
  <div class="widget-content">

    <div class="widget-closed">
      <span class="analysis-title">Unsupported</span>
    </div>

    <div class="widget-opened">
      <div class="analysis-info">
        <span class="analysis-title">Unsupported</span>
      </div>

      <div class="analysis-error">
        This layer doesn't support analysis.
      </div>

      <div class="analysis-footer">
        <ul class="analysis-control">
          <li class="analysis-control-subscribe disabled"><span class="tooltip1">Subscribe</span></li>
          <li class="analysis-control-delete"><span class="tooltip1">Delete analysis</span></li>
        </ul>
      </div>

    </div>
  </div>
</div>
