<div class="widget-btn"></div>

<div class="widget-box">
  <div class="widget-content">
    <p>Draw in the map the area you want to analyze</p>
    <button id="done">Done</button>
    <button id="cancel">Cancel</button>
  </div>
</div>
