<div class="topMask mask js-skip-tour"></div>
<div class="bottomMask mask js-skip-tour"></div>
<div class="leftMask mask js-skip-tour"></div>
<div class="rightMask mask js-skip-tour"></div>
<div class="transparentMask mask -transparent"></div>

<div class="guideBubble"></div>