<div class="noselect">
  <ul class="categories-list">

    <li class="forest-change">
      <span class="category-name">FOREST CHANGE <i id="forest_clearing-category-num" class="category-num"></i></span>

      <div class="layers-nav">
        <div class="layers-nav-header">
          <div class="category-icon"><svg><use xlink:href="#icon-layer-forestchange"></use></svg></div>
          <span class="category-name">FOREST CHANGE</span>
        </div>
        <ul class="layers-list">
          <div id="umd-group" class="layer-group">
            <span class="group-name grouped-layers-trigger" data-color="#f69"><span class="onoffradio"><span></span></span>Tree cover change</span>
            <li class="layer" data-layer="loss">
              <span class="onoffswitch"><span></span></span>
              <span class="layer-title">Loss<a href='#' data-source='loss' class='source '><svg><use xlink:href="#shape-info"></use></svg></a></span>
              <span class="layer-info">(annual, 30m, Global) <em>(Hansen/UMD/Google/USGS/NASA)</em></span>
            </li>
            <li class="layer" data-layer="forestgain">
              <span class="onoffswitch"><span></span></span>
              <span class="layer-title">Gain<a href='#' data-source='forestgain' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
              <span class="layer-info">(12 years, 30m, Global) <em>(Hansen/UMD/Google/USGS/NASA)</em></span>
            </li>
{{!--             <li class="layer" data-layer="prodes">
              <span class="onoffswitch"><span></span></span>
              <span class="layer-title">Prodes<a href='#' data-source='prodes' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
              <span class="layer-info">(annual, 30m, Brazilian Amazon, INPE)</span>
            </li> --}}
          </div>
          <div class="layer-group">
            <span class="group-name">Tree cover loss alerts <em>(near real-time)</em></span>
            <li class="layer" data-layer="forma">
              <span class="onoffradio"><span></span></span>
              <span class="layer-title">FORMA<a href='#' data-source='forma' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
              <span class="layer-info">(monthly, 500m, humid tropics, WRI/CGD)</span>
            </li>
            <li class="layer" data-layer="terrailoss">
              <span class="onoffradio"><span></span></span>
              <span class="layer-title">Terra-i<a href='#' data-source='terrailoss' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
              <span class="layer-info">(monthly, 250m, Latin America, CIAT)</span>
            </li>
            <li class="layer" data-layer="imazon">
              <span class="onoffradio"><span></span></span>
              <span class="layer-title">SAD<a href='#' data-source='imazon' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
              <span class="layer-info">(monthly, 250m, Brazilian Amazon, Imazon)</span>
            </li>
            <li class="layer" data-layer="modis">
              <span class="onoffradio"><span></span></span>
              <span class="layer-title">QUICC<a href='#' data-source='modis' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
              <span class="layer-info">(quarterly, 5km, &lt;37 degrees north, NASA)</span>
            </li>
          </div>
          <div class="layer-group">
            <li class="layer" data-layer="fires">
              <span class="onoffradio"><span></span></span>
              <span class="layer-title">Active fires<a href='#' data-source='fires' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
              <span class="layer-info">(past 7 days, 1km, global, NASA)</span>
            </li>
          </div>
        </ul>
      </div>
    </li>

    <li class="forest-cover">
      <span class="category-name">FOREST COVER <i id="forest_cover-category-num" class="category-num"></i></span>

      <div class="layers-nav">
        <div class="layers-nav-header">
          <div class="category-icon"><svg><use xlink:href="#icon-layer-forestcover"></use></svg></div>
          <span class="category-name">FOREST COVER</span>
        </div>
        <ul class="layers-list">
          <li class="layer" data-layer="forest2000">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">Tree cover (2000)<a href='#' data-source='forest2000' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
          </li>
          <li class="layer" data-layer="ifl_2013_deg">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">Intact Forest Landscapes (2013)<a href='#' data-source='ifl_2013_deg' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
            {{!-- <span class="layer-info">
              <label data-layer="ifl_2000" class="layer wrapped">
                <span></span>
                <input type="radio" />2000
              </label>
              <label data-layer="ifl_2013_deg" class="layer wrapped">
                <span></span>
                <input type="radio" />2013
              </label>
            </span> --}}
          </li>
          <li class="layer" data-layer="pantropical">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">Tropical forest carbon stocks (2000)<a href='#' data-source='pantropical' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
          </li>
          <li class="layer" data-layer="mangrove">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">Mangrove forests<a href='#' data-source='mangrove' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
          </li>
          <li class="layer" data-layer="global_land_cover">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">GlobCover – Global landcover (2009)<a href='#' data-source='global_land_cover' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
          </li>
        </ul>
      </div>
    </li>

    <li class="forest-use">
      <span class="category-name">LAND USE <i id="forest_use-category-num" class="category-num"></i></span>
      <div class="layers-nav">
        <div class="layers-nav-header">
          <div class="category-icon"><svg><use xlink:href="#icon-layer-forestuse"></use></svg></div>
          <span class="category-name">LAND USE</span>
        </div>
        <ul class="layers-list">
          <div class="layer-group">
            <span class="group-name">Concessions</span>
            <li class="layer" data-layer="logging">
              <span class="onoffswitch"><span></span></span>
              <span class="layer-title">Managed forests (select countries)<a href='#' data-source='logging' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
            </li>
            <li class="layer" data-layer="mining">
              <span class="onoffswitch"><span></span></span>
              <span class="layer-title">Mining (select countries)<a href='#' data-source='mining' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
            </li>
            <div class="grouped-layer">
              <span class="layer-title grouped-layers-trigger" data-color="#c98e6c"><span class="onoffswitch"><span></span></span> <em>Tree plantations (select countries)</em><a href='#' data-source='oil_palm_wood_fiber' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
              <li class="layer" data-layer="oil_palm">
                <span class="onoffswitch"><span></span></span>
                <span class="layer-title">Oil palm</span>
              </li>
              <li class="layer" data-layer="wood_fiber_plantations">
                <span class="onoffswitch"><span></span></span>
                <span class="layer-title">Wood fiber</span>
              </li>
            </div>
          </div>
          <div class="layer-group">
            <span class="group-name">Infrastructure</span>
            <li class="layer" data-layer="dam_hotspots">
              <span class="onoffswitch"><span></span></span>
              <span class="layer-title">Major dams<a href='#' data-source='dam_hotspots' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
            </li>
          </div>
        </ul>
      </div>
    </li>

    <li class="conservation">
      <span class="category-name">CONSERVATION <i id="conservation-category-num" class="category-num"></i></span>

      <div class="layers-nav">
        <div class="layers-nav-header">
          <div class="category-icon"><svg><use xlink:href="#icon-layer-conservation"></use></svg></div>
          <span class="category-name">CONSERVATION</span>
        </div>
        <ul class="layers-list">
          <li class="layer" data-layer="protected_areasCDB">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">Protected areas<a href='#' data-source='protected_areas' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
          </li>
          <li class="layer" data-layer="biodiversity_hotspots">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">Biodiversity hotspots<a href='#' data-source='biodiversity_hotspots' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
          </li>
          <li class="layer" data-layer="wwf">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">WWF Terrestrial Ecoregions of the World<a href='#' data-source='wwf' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
          </li>
          <li class="layer" data-layer="birdlife">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">BirdLife Endemic Bird Areas<a href='#' data-source='birdlife' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
          </li>
          <li class="layer" data-layer="azepoly">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">Alliance for Zero Extinction sites<a href='#' data-source='azepoly' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
          </li>
          <li class="layer" data-layer="tigers">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">Tiger Conservation Landscapes<a href='#' data-source='tigers' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
          </li>
          <li class="layer" data-layer="verified_carbon">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">Verified Carbon Standard project boundaries<a href='#' data-source='verified_carbon' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
          </li>
        </ul>
      </div>
    </li>

    <li class="people">
      <span class="category-name">PEOPLE <i id="people-category-num" class="category-num"></i></span>

      <div class="layers-nav">
        <div class="layers-nav-header">
          <div class="category-icon"><svg><use xlink:href="#icon-layer-people"></use></svg></div>
          <span class="category-name">PEOPLE</span>
        </div>
        <ul class="layers-list">
          <li class="layer" data-layer="resource_rights">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">Resource rights (select countries)<a href='#' data-source='resource_rights' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
          </li>
          <li class="layer" data-layer="land_rights">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">Land rights (select countries)<a href='#' data-source='land_rights' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
          </li>
          <li class="layer" data-layer="grump2000">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">Population density (2000)<a href='#' data-source='grump2000' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
          </li>
        </ul>
      </div>
    </li>

    <li class="stories">
      <span class="category-name">STORIES <i id="stories-category-num" class="category-num"></i></span>

      <div class="layers-nav">
        <div class="layers-nav-header">
          <div class="category-icon"><svg><use xlink:href="#icon-layer-stories"></use></svg></div>
          <span class="category-name">STORIES</span>
        </div>
        <ul class="layers-list">
          <li class="layer" data-layer="user_stories">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">User stories<a href='#' data-source='user_stories' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
          </li>
          <li class="layer" data-layer="mongabay">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">Mongabay stories<a href='#' data-source='mongabay' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
          </li>
          <li class="layer" data-layer="infoamazonia">
            <span class="onoffswitch"><span></span></span>
            <span class="layer-title">Earth Journalism Network stories<a href='#' data-source='infoamazonia' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
          </li>
        </ul>
      </div>
    </li>

    <li id="country-layers" class="country-layers-nav country disabled">
      <span class="category-name">COUNTRY LAYERS <i id="forest_clearing-category-num" class="category-num"></i></span>
    </li>
    <li id="country-layers-reset" class="country-close disabled hidden">
      <button class="btn close"><span><svg><use xlink:href="#shape-close"></use></svg></span></button>
    </li>
  </ul>
</div>
