<div class="inner disable-selection">
  <ul class="categories-list">

    <li class="forest-change">
      <span class="category-name">FOREST CHANGE</span>

      <div class="layers-nav">
        <div class="layers-nav-header">
          <div class="category-icon"></div>
          <span class="category-name">FOREST CHANGE</span>
        </div>
        <ul class="layers-list">
          <li class="layer" data-layer="umd_tree_loss_gain">
            <span class="onoffradio"><i></i></span>
            <span class="layer-title">UMD tree cover loss</span>
          </li>
          <li class="layer" data-layer="forestgain">
            <span class="onoffradio"><i></i></span>
            <span class="layer-title">UMD tree cover gain</span>
          </li>
          <li class="layer" data-layer="forma">
            <span class="onoffradio"><i></i></span>
            <span class="layer-title">FORMA alerts</span>
            <span class="layer-info">(monthly, 500m, humid tropics)</span>
          </li>
          <li class="layer" data-layer="imazon">
            <span class="onoffradio"><i></i></span>
            <span class="layer-title">Imazon SAD alerts</span>
            <span class="layer-info">(monthly, 250m, Brazilian Amazon)</span>
          </li>
          <li class="layer" data-layer="modis">
            <span class="onoffradio"><i></i></span>
            <span class="layer-title">QUICC alerts</span>
            <span class="layer-info">(quarterly, 5km, &lt;37 degrees north)</span>
          </li>
          </li>
          <li class="layer" data-layer="fires">
            <span class="onoffradio"><i></i></span>
            <span class="layer-title">NASA active fires</span>
            <span class="layer-info">(past 7 days, 1km, global))</span>
          </li>
          <li class="layer" data-layer="none">
            <span class="onoffradio"><i></i></span>
            <span class="layer-title">None</span>
          </li>
        </ul>
      </div>
    </li>

    <li class="forest-cover">
      <span class="category-name">FOREST COVER</span>

      <div class="layers-nav">
        <div class="layers-nav-header">
          <div class="category-icon"></div>
          <span class="category-name">FOREST COVER</span>
        </div>
        <ul class="layers-list">
          <li class="layer" data-layer="forest2000">
            <span class="onoffswitch"><i></i></span>
            <span class="layer-title">Tree cover extent</span>
          </li>
          <li class="layer" data-layer="intact_forest">
            <span class="onoffswitch"><i></i></span>
            <span class="layer-title">Intact forest landscapes</span>
          </li>
          <li class="layer" data-layer="pantropical">
            <span class="onoffswitch"><i></i></span>
            <span class="layer-title">Tropical forest carbon stock</span>
          </li>
          </ul>
      </div>
    </li>

    <li class="forest-use">
      <span class="category-name">FOREST USE</span>

      <div class="layers-nav">
        <div class="layers-nav-header">
          <div class="category-icon"></div>
          <span class="category-name">FOREST USE</span>
        </div>
        <ul class="layers-list">
          <li class="layer" data-layer="logging">
            <span class="onoffswitch"><i></i></span>
            <span class="layer-title">Logging</span>
          </li>
          <li class="layer" data-layer="mining">
            <span class="onoffswitch"><i></i></span>
            <span class="layer-title">Mining</span>
          </li>
          <li class="layer" data-layer="oil_palm">
            <span class="onoffswitch"><i></i></span>
            <span class="layer-title">Oil palm</span>
          </li>
          <li class="layer" data-layer="wood_fiber_plantations">
            <span class="onoffswitch"><i></i></span>
            <span class="layer-title">Wood fiber plantations</span>
          </li>
        </ul>
      </div>
    </li>

    <li class="conservation">
      <span class="category-name">CONSERVATION</span>

      <div class="layers-nav">
        <div class="layers-nav-header">
          <div class="category-icon"></div>
          <span class="category-name">CONSERVATION</span>
        </div>
        <ul class="layers-list">
          <li class="layer" data-layer="protected_areas">
            <span class="onoffswitch"><i></i></span>
            <span class="layer-title">Protected areas</span>
          </li>
          <li class="layer" data-layer="biodiversity_hotspots">
            <span class="onoffswitch"><i></i></span>
            <span class="layer-title">Biodiversity hotspots</span>
          </li>
        </ul>
      </div>
    </li>

    <li class="people">
      <span class="category-name">PEOPLE</span>

      <div class="layers-nav">
        <div class="layers-nav-header">
          <div class="category-icon"></div>
          <span class="category-name">PEOPLE</span>
        </div>
        <ul class="layers-list">
          <li class="layer" data-layer="resource_rights">
            <span class="onoffswitch"><i></i></span>
            <span class="layer-title">Resource Rights</span>
          </li>
          <li class="layer" data-layer="">
            <span class="onoffswitch"><i></i></span>
            <span class="layer-title">Land Rights</span>
            <span class="layer-info">Coming soon…</span>
          </li>
        </ul>
      </div>
    </li>

    <li class="stories">
      <span class="category-name">STORIES</span>

      <div class="layers-nav">
        <div class="layers-nav-header">
          <div class="category-icon"></div>
          <span class="category-name">STORIES</span>
        </div>
        <ul class="layers-list">
          <li class="layer" data-layer="user_stories">
            <span class="onoffswitch"><i></i></span>
            <span class="layer-title">User stories</span>
          </li>
          <li class="layer" data-layer="mongabay">
            <span class="onoffswitch"><i></i></span>
            <span class="layer-title">Mongabay stories</span>
          </li>
        </ul>
      </div>
    </li>

  </ul>
</div>
