{{#if this.is_idn}}
  <a href="{{this.url}}" target="_blank" class="btn green uppercase little">WRI in Indonesia</a>
{{else}}
  <a href="{{this.url}}" target="_blank" class="btn green uppercase little">Visit Forest Atlas</a>
{{/if}}



