{{#if this.is_idn}}
  <a href="{{this.url}}" target="_blank" class="btn green uppercase little">WRI</a>
{{else}}
  <a href="{{this.url}}" target="_blank" class="btn green uppercase little">Atlas</a>
{{/if}}



