<ul>
  <li class="zoom-in"><span class="tooltipmap">Zoom in</span><svg class="icon"><use xlink:href="#shape-help"></use></svg></li>
  <li class="zoom-out"><span class="tooltipmap">Zoom out</span><svg class="icon"><use xlink:href="#shape-blog"></use></svg></li>
  <li class="toggle-widgets"><span class="tooltipmap">Toggle widgets</span><svg class="icon"><use xlink:href="#shape-fire"></use></svg></li>
  <li class="full-screen"><span class="tooltipmap">Full Screen</span><svg class="icon"><use xlink:href="#shape-download"></use></svg></li>
  <li class="reset-map"><span class="tooltipmap">Reset</span><svg class="icon"><use xlink:href="#shape-help"></use></svg></li>
  <li class="search"><span class="tooltipmap">search</span><svg class="icon"><use xlink:href="#shape-search"></use></svg></li>
</ul>
