<ul class="noselect">
  <li class="zoom-out"><span class="tooltipmap">Zoom out (-)</span><svg class="icon"><use xlink:href="#icon-control-minus"></use></svg></li>
  <li class="zoom-in"><span class="tooltipmap">Zoom in (+)</span><svg class="icon"><use xlink:href="#icon-control-plus"></use></svg></li>
  <li class="share-map"><span class="tooltipmap">Share (s)</span><svg class="icon"><use xlink:href="#icon-control-share"></use></svg></li>
  <li class="toggle-modules"><span class="tooltipmap">Hide windows (h)</span><svg class="icon toggle-on"><use xlink:href="#icon-control-legendtoggle"></use></svg><svg class="icon toggle-off"><use xlink:href="#icon-control-legendtoggle_off"></use></svg></li>
  <li class="reset-map"><span class="tooltipmap">Reset (alt+r)</span><svg class="icon"><use xlink:href="#icon-control-reset"></use></svg></li>
  <li class="search"><span class="tooltipmap">Search (f)</span><svg class="icon"><use xlink:href="#icon-control-search"></use></svg></li>
</ul>
