{{!-- <ul>
  <li class="zoom-in"><svg class="icon"><use xlink:href="#icon-control-plus"></use></svg></li>
  <li class="zoom-out"><svg class="icon"><use xlink:href="#icon-control-minus"></use></svg></li>
</ul>
 --}}
{{!-- <ul class="toggle-buttons">
  <li class="toggle-mapcontrols"><svg class="icon"><use xlink:href="#icon-control-more"></use></svg></li>
  <li class="reset-map toggle-button hidden"><svg class="icon"><use xlink:href="#icon-control-reset"></use></svg></li>
  <li class="search toggle-button hidden"><svg class="icon"><use xlink:href="#icon-control-search"></use></svg></li>
  <li class="locate toggle-button hidden"><svg class="icon"><use xlink:href="#icon-control-locate"></use></svg></li>
</ul>

 --}}
<ul>
  <li class="reset-map toggle-button"><svg class="icon"><use xlink:href="#icon-control-reset"></use></svg></li>
  <li class="search toggle-button"><svg class="icon"><use xlink:href="#icon-control-search"></use></svg></li>
  <li id="map-control-locate" class="locate toggle-button"><span class="handler"><svg class="icon"><use xlink:href="#icon-control-locate"></use></svg></span class="handler"></li>
</ul>
<ul>
  <li class="toggle-legend"><svg class="icon"><use xlink:href="#icon-control-legend"></use></svg></li>
</ul>
