<ul>
  <li class="zoom-out"><svg class="icon"><use xlink:href="#icon-control-minus"></use></svg></li>
  <li class="zoom-in"><svg class="icon"><use xlink:href="#icon-control-plus"></use></svg></li>
</ul>
<ul class="toggle-buttons">
  <li class="toggle-mapcontrols"><svg class="icon"><use xlink:href="#icon-control-more"></use></svg></li>
  <li class="share-map toggle-button hidden"><svg class="icon"><use xlink:href="#icon-control-share"></use></svg></li>
  <li class="toggle-modules toggle-button hidden"><svg class="icon toggle-on"><use xlink:href="#icon-control-legendtoggle"></use></svg><svg class="icon toggle-off"><use xlink:href="#icon-control-legendtoggle_off"></use></svg></li>
  <li class="reset-map toggle-button hidden"><svg class="icon"><use xlink:href="#icon-control-reset"></use></svg></li>
  <li class="search toggle-button hidden"><svg class="icon"><use xlink:href="#icon-control-search"></use></svg></li>
</ul>

