<ul>
  <li class="toggle-analysis"><svg class="icon"><use xlink:href="#icon-tab-analysis"></use></svg></li>
</ul>
<ul>
  <li class="toggle-legend"><svg class="icon"><use xlink:href="#icon-control-legend"></use></svg></li>
</ul>
