<ul>
  <li class="toggle-countries"><svg class="icon"><use xlink:href="#icon-tab-countries"></use></svg></li>
</ul>
<ul>
  <li class="toggle-legend"><svg class="icon"><use xlink:href="#icon-control-legend"></use></svg></li>
</ul>
