<div class="widget-box">
  <div class="widget-toggle"></div>
  <div class="widget-content">
    <div class="widget-closed">
      <ul class="maptype-list maptype-selected">
        <li class="grayscale" data-maptype="grayscale"><i></i>Default</li>
      </ul>
    </div>
    <div class="widget-opened">
      <ul class="maptype-list">
        <li class="maptype grayscale" data-maptype="grayscale"><i></i>Default <a href='#' data-source="grayscale" class='source source-shape-info'></a></li>
        <li class="maptype terrain" data-maptype="terrain"><i></i>Terrain <a href='#' data-source="terrain" class='source source-shape-info'></a></li>
        <li class="maptype satellite" data-maptype="satellite"><i></i>Satellite <a href='#' data-source="satellite" class='source source-shape-info'></a></li>
        <li class="maptype hybrid" data-maptype="hybrid"><i></i>Roads <a href='#' data-source="roads" class='source source-shape-info'></a></li>
        <li class="maptype treeheight" data-maptype="treeheight"><i></i>Tree height <a href='#' data-source="treeheight" class='source source-shape-info'></a></li>
        <li class="landsatSelector landsat"><i></i>Landsat <a href='#' data-source="landsat" class='source source-shape-info'></a></li>
        <ul class="landsat-years hidden">
          <li class="maptype landsat" data-maptype="landsat1999"><i></i>Landsat 1999</li>
          <li class="maptype landsat" data-maptype="landsat2000"><i></i>Landsat 2000</li>
          <li class="maptype landsat" data-maptype="landsat2001"><i></i>Landsat 2001</li>
          <li class="maptype landsat" data-maptype="landsat2002"><i></i>Landsat 2002</li>
          <li class="maptype landsat" data-maptype="landsat2003"><i></i>Landsat 2003</li>
          <li class="maptype landsat" data-maptype="landsat2004"><i></i>Landsat 2004</li>
          <li class="maptype landsat" data-maptype="landsat2005"><i></i>Landsat 2005</li>
          <li class="maptype landsat" data-maptype="landsat2006"><i></i>Landsat 2006</li>
          <li class="maptype landsat" data-maptype="landsat2007"><i></i>Landsat 2007</li>
          <li class="maptype landsat" data-maptype="landsat2008"><i></i>Landsat 2008</li>
          <li class="maptype landsat" data-maptype="landsat2009"><i></i>Landsat 2009</li>
          <li class="maptype landsat" data-maptype="landsat2010"><i></i>Landsat 2010</li>
          <li class="maptype landsat" data-maptype="landsat2011"><i></i>Landsat 2011</li>
          <li class="maptype landsat" data-maptype="landsat2012"><i></i>Landsat 2012</li>
          <li class="maptype landsat" data-maptype="landsat2013"><i></i>Landsat 2013</li>
          <li class="maptype landsat" data-maptype="landsat2014"><i></i>Landsat 2014</li>
          <li class="maptype landsat" data-maptype="landsat2015"><i></i>Landsat 2015</li>
          <li class="maptype landsat" data-maptype="landsat2016"><i></i>Landsat 2016</li>
          <li class="maptype landsat" data-maptype="landsat2017"><i></i>Landsat 2017</li>
        </ul>
      </ul>
    </div>
  </div>
</div>
