<div class="widget-toggle"></div>
<div class="widget-content">
  <div class="widget-closed">
    <ul class="maptype-list maptype-selected">
      <li class="grayscale" data-maptype="grayscale">Grayscale</li>      
    </ul>
  </div>
  <div class="widget-opened">
    <ul class="maptype-list">
      <li class="grayscale" data-maptype="grayscale">Grayscale</li>
      <li class="terrain" data-maptype="terrain">Terrain</li>
      <li class="satellite" data-maptype="satellite">Satellite</li>
      <li class="roads" data-maptype="roads">Roads</li>
      <li class="treeheight" data-maptype="treeheight">Treeheight</li>
      <li class="landsat" data-maptype="landsat">Landsat</li>
    </ul>
  </div>
</div>