<div class="widget-box">
  <div class="widget-toggle"></div>
  <div class="widget-content">
    <div class="widget-closed">
      <ul class="maptype-list maptype-selected">
        <li class="grayscale" data-maptype="grayscale"><i></i>Grayscale</li>
      </ul>
    </div>
    <div class="widget-opened">
      <ul class="maptype-list">
        <li class="grayscale" data-maptype="grayscale"><i></i>Grayscale</li>
        <li class="terrain" data-maptype="terrain"><i></i>Terrain</li>
        <li class="satellite" data-maptype="satellite"><i></i>Satellite</li>
        <li class="hybrid" data-maptype="hybrid"><i></i>Roads</li>
        <li class="treeheight" data-maptype="treeheight"><i></i>Treeheight</li>
        <li class="landsatSelector" data-maptype="landsat"><i></i>Landsat</li>
      </ul>
    </div>
  </div>
</div>
<ul class="landsat_years">
  <li class="landsat" data-maptype="landsat1999">Landsat 1999</li>
  <li class="landsat" data-maptype="landsat2000">Landsat 2000</li>
  <li class="landsat" data-maptype="landsat2001">Landsat 2001</li>
  <li class="landsat" data-maptype="landsat2002">Landsat 2002</li>
  <li class="landsat" data-maptype="landsat2003">Landsat 2003</li>
  <li class="landsat" data-maptype="landsat2004">Landsat 2004</li>
  <li class="landsat" data-maptype="landsat2005">Landsat 2005</li>
  <li class="landsat" data-maptype="landsat2006">Landsat 2006</li>
  <li class="landsat" data-maptype="landsat2007">Landsat 2007</li>
  <li class="landsat" data-maptype="landsat2008">Landsat 2008</li>
  <li class="landsat" data-maptype="landsat2009">Landsat 2009</li>
  <li class="landsat" data-maptype="landsat2010">Landsat 2010</li>
  <li class="landsat" data-maptype="landsat2011">Landsat 2011</li>
  <li class="landsat" data-maptype="landsat2012">Landsat 2012</li>
</ul>
