<div id="country-navmobile-btn" class="country-navmobile-btn">
  <span class="name">DEMOCRATIC REPUBLIC OF THE CONGO</span><span class="little">Layers</span>
</div>
<ul>
  <li id="layers-navmobile-btn" class="toggleMobileViews" data-tab="Layers"><button><div><svg class="icon"><use xlink:href="#icon-tab-basemap"></use></svg> <span>Layers</span></div></button></li>
  <li id="timeline-navmobile-btn" class="toggleMobileViews" data-tab="Timeline"><button><div><svg class="icon"><use xlink:href="#icon-timeline"></use></svg> <span>Timeline</span></div></button></li>
  <li id="analysis-navmobile-btn" class="toggleMobileViews" data-tab="Analysis"><button><div><svg class="icon"><use xlink:href="#icon-tab-analysis"></use></svg> <span>Analyze & subscribe</span></div></button></li>
</ul>
<div class="timeline-mobile-call-to-action">
  <a href="/map" target="_blank" class="btn white uppercase">explore gfw</a>
</div>