<a href="#close" class="close"></a>

<div class="outer_top">
  <div class="top">
    <div class="protected-header template_base"><a href="#" class="analyse"></div>
    <div class="infowindow_content">

      <strong>
        <a href="{{loc}}" target='_blank'>{{title}}</a>
      </strong>
      <span>by {{autor}} &middot;</span>
      <a href="{{loc}}" target='_blank'>read more</a>

    </div>
  </div>
</div>

<div class="shadow"></div>

<div class="bottom"></div>
