<header>
  <nav>
    <ul>
      <li><svg class="icon"><use xlink:href="#shape-world"></use></svg></li>
      <li><svg class="icon"><use xlink:href="#shape-fire"></use></svg></li>
      <li><svg class="icon"><use xlink:href="#shape-blog"></use></svg></li>
      <li><svg class="icon"><use xlink:href="#shape-country"></use></svg></li>
    </ul>
  </nav>
</header>
