<header>
  <nav class="noselect">
    <ul class="tab-list">
      {{!-- <li id="countries-tab-button" class="tab" data-tab="countries-tab"><span class="tooltipmap">View country data</span><svg class="icon"><use xlink:href="#icon-tab-countries"></use></svg></li> --}}
      <li id="analysis-tab-button" class="tab" data-tab="analysis-tab"><span class="tooltipmap">Analyze &amp; Subscribe</span><svg class="icon"><use xlink:href="#icon-tab-analysis"></use></svg></li>
      <li id="basemaps-tab-button" class="tab" data-tab="basemaps-tab"><span class="tooltipmap">Change base map</span><svg class="icon"><use xlink:href="#icon-tab-basemap"></use></svg></li>
    </ul>
  </nav>
</header>
<div class="content">
  <ul>
    <li id="analysis-tab" class="tab-content"></li>
    <li id="countries-tab" class="tab-content"></li>
    <li id="basemaps-tab" class="tab-content"></li>
    <li id="hd-tab" class="tab-content"></li>
  </ul>
</div>
