<header>
  <nav>
    <ul>
      <li id="analysis-tab-button" class="tab" data-tab="analysis-tab"><svg class="icon"><use xlink:href="#icon-tab-analysis"></use></svg></li>
      <li id="basemaps-tab-button" class="tab" data-tab="basemaps-tab"><svg class="icon"><use xlink:href="#icon-tab-basemap"></use></svg></li>
      <li id="threshold-tab-button" class="tab" data-tab="threshold-tab"><svg class="icon"><use xlink:href="#icon-tab-canopy"></use></svg></li>
      <li id="share-tab-button" class="tab" data-tab="share-tab"><svg class="icon"><use xlink:href="#icon-tab-share"></use></svg></li>
    </ul>
  </nav>
</header>
<div class="content">
  <div id="tab-spinner" class="spinner2-box"><div id="spinner2" class="spinner2"></div></div>
  <ul>
    <li id="analysis-tab" class="tab-content selected"></li>
    <li id="basemaps-tab" class="tab-content"></li>
    <li id="threshold-tab" class="tab-content"></li>
    <li id="share-tab" class="tab-content"></li>
  </ul>
</div>
