<div id="tab-spinner" class="spinner2-box"><div id="spinner2" class="spinner2"></div></div>

<div id="settings-tab-mobile" class="tab-mobile-content">
  <article>
    <header>
      <h2>Data layers</h2>
    </header>
    <ul class="tabs-mobile-ul">
      <li class="tab-mobile" data-tab="layers-tab-mobile"><span>Global data</span></li>
      <li id="country-tab-mobile-btn" class="tab-mobile" data-tab="country-tab-mobile"><span>Country data</span></li>
      <li class="tab-mobile" data-tab="basemaps-tab-mobile"><span>Basemaps</span></li>
    </ul>
    <footer>
      <ul class="button-container one fixed">
        <li><button class="btn gray uppercase tab-mobile-close">Back</button></li>
      </ul>
    </footer>
  </article>
</div>


<div id="country-tab-mobile" class="tab-mobile-content">
  <article>
    <header>
      <ul class="button-container fixed">
        <li>
          <button id="country-tab-mobile-btn-reset" class="btn gray uppercase tab-mobile-reset-country invisible">Change country</button>
          <button id="country-tab-mobile-btn-back" class="btn gray uppercase tab-mobile tab-mobile-back" data-tab="settings-tab-mobile">Back</button>
        </li>
        <li><button class="btn green uppercase tab-mobile-close">Go to map</button></li>
      </ul>
      <h2 id="countries-name">Country Data</h2>
    </header>
    <div id="countries-tab"></div>
  </article>
</div>


<div id="layers-tab-mobile" class="tab-mobile-content">
  <article>
    <header>
      <ul class="button-container fixed">
        <li><button class="btn gray uppercase tab-mobile tab-mobile-back" data-tab="settings-tab-mobile">Back</button></li>
        <li><button class="btn green uppercase tab-mobile-close">Go to map</button></li>
      </ul>
      <h2>Global data</h2>
    </header>
    <div id="layers-tab" class="layers-menu"></div>
  </article>
</div>


<div id="basemaps-tab-mobile" class="tab-mobile-content">
  <article>
    <header>
      <ul class="button-container fixed">
        <li><button class="btn gray uppercase tab-mobile tab-mobile-back" data-tab="settings-tab-mobile">Back</button></li>
        <li><button class="btn green uppercase tab-mobile-close">Go to map</button></li>
      </ul>
      <h2>Basemaps</h2>
    </header>
    <div id="basemaps-tab"></div>
  </article>
</div>

<div id="hres-tab-mobile" class="tab-mobile-content">
  <article>
    <header>
      <ul class="button-container fixed">
        <li><button class="btn gray uppercase tab-mobile tab-mobile-back" data-tab="settings-tab-mobile">Back</button></li>
        <li><button class="btn green uppercase tab-mobile-close">Go to map</button></li>
      </ul>
      <h2>High-Res Imagery</h2>
    </header>
    <div id="hd-tab"></div>
  </article>
</div>

<div id="analysis-tab" class="tab-analysis-mobile tabs-content"></div>
