<div class="widget-btn"></div>

<div class="widget-box">
  <div class="widget-content">
  <div class="slider-container">
    <input class="slider" type="range" min="10" max="75" value="10" step="10">
    </div>
    <span class="visible-range"></span>
  </div>
</div>
