<div class="widget-btn"></div>

<div class="widget-box">
  <div class="widget-content">
    <div class='close'>×</div>
    <h3 class="widget-title">Settings</h3>

    <div class="widget-description">
      UMD/Google tree cover loss & extent.
      <span>Change tree cover canopy density threshold <a href="#" data-source="canopy" class="source info"></a></span>
    </div>


    <div class="trees">
      <span class="tree-icon"></span>
      <span class="forest-icon"></span>
    </div>

    <ul class="slider-labels">
      <li data-slider-value="10">0%</li>
      {{#each valuesMap}}
        <li data-slider-value="{{@key}}">{{this}}%</li>
      {{/each}}
      <li data-slider-value="75">100%</li>
    </ul>
    <span class='dots'></span>
    <div class="slider-container">
      <input class="slider white" type="range" min="10" max="75" value="30" step="10">
      <span class="visible-range"></span>
    </div>
  </div>
</div>
