{{#if umd_as_it_happens}}
  <div class="widget-box">
{{else}}
  <div class="widget-box transform">
{{/if}}
  <div class="timeline-legend">
    <div class="timeline-name">
      {{layerTitle}}
      {{#if loss}}
        <span> (zoom in for most accurate viewing)</span>
      {{/if}}
    </div>
    <div class="timeline-latlng"></div>
  </div>
  <div class="timeline-container notranslate"></div>
</div>
<div class="timeline-mobile-call-to-action">
  <span>for more information on global forest watch</span>
  <a href="/map" target="_blank" class="btn white uppercase">explore gfw</a>
</div>
