<div class="widget-box">
  <div class="timeline-legend">
    <div class="timeline-name">{{layerTitle}} <span>(zoom in for most accurate viewing)</span></div>
    <div class="timeline-latlng">23.12.23</div>
  </div>
  <div class="timeline-container"></div>
</div>
