{{#if modis}}
  <div class="widget-box transform">
{{else}}
  {{#if fires}}
    <div class="widget-box transform">
  {{else}}
    <div class="widget-box">
  {{/if}}
{{/if}}
  <div class="timeline-legend">
    <div class="timeline-name">
      {{layerTitle}}
      {{#if loss}}
        <span> (zoom in for most accurate viewing)</span>
      {{/if}}
    </div>
    <div class="timeline-latlng"></div>
  </div>
  <div class="timeline-container notranslate"></div>
</div>
