@import '~styles/settings.scss';

.c-recent-imagery-thumbnail {
  position: relative;
  width: 100%;
  height: rem(100px);
  background-color: $border;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid transparent;
  }

  &:hover::before {
    border-color: $slate;
  }

  &--selected::before {
    border-color: $green-gfw !important;
  }
}
