<% content_for :title do
  t('.title')
end %>

<div class="inner">
  <section>
  <article>
  <h1>It's been a great year. But that’s not enough.</h1>
  <p>Global Forest Watch 2.0 is an initiative that unites technology, transparency, and human networks to mobilize faster, more effective forest conservation and reduced greenhouse gas emissions.
  It combines a novel near-real-time deforestation alert system, complementary satellite data and systems, WRI’s treasure trove of maps, mobile technology, and a networked world to create never-before-possible transparency.</p>

  <p>This transparency will empower NGOs, the media, and progressive public and private sector leaders to hold governments and companies publicly accountable for forest conservation at a pace that matches the modern world and the threats facing forests.</p>
  </article>

  <article>
  <h1>Why?</h1>
  <p>Global Forest Watch 2.0 is an initiative that unites technology, transparency, and human networks to mobilize faster, more effective forest conservation and reduced greenhouse gas emissions.
  It combines a novel near-real-time deforestation alert system, complementary satellite data and systems, WRI’s treasure trove of maps, mobile technology, and a networked world to create never-before-possible transparency.</p>

  <p>This transparency will empower NGOs, the media, and progressive public and private sector leaders to hold governments and companies publicly accountable for forest conservation at a pace that matches the modern world and the threats facing forests.</p>
  </article>

  <article>
  <h1>Logging concessions</h1>
  <p>Incatct forest landscapes, is an unbroken expanse of natural ecosystems within the zone of current forest extent, showing no signs of significant human activity, and large enough that all native biodiversity, including viable populations of wide-ranging species, could be maintained.</p>
  </article>

  </section>

  <aside class="categories">
  <ul>
    <li><a href="#" class="selected">The global forest watch initiative</a>  </li>
    <li><a href="#">The deforestation problem</a> </li>
    <li><a href="#">Current efforts</a></li>
    <li><a href="#">About the tools</a></li>
    <li><a href="#">Partners</a></li>
  </ul>
  </aside>
</div>
