<% content_for :js do %>
  <script>
    $(function() {
      setTimeout(function() {
        if (location.hash) {
          window.scrollTo(0, 0);
        }
      }, 1);

      var StaticRouter = Backbone.Router.extend({

        routes: {
          'users':      'change',
          'videos':     'change',
          'gfw':        'change',
          'partners':   'change'
        },

        initialize: function() {},

        change: function() {
          var tab = window.location.hash.replace('#','');

          window.static_about._onNavChange(tab);
        }
      });

      cdb.init(function() {
        window.static_about = new gfw.ui.view.Static();

        window.router = new StaticRouter();
        Backbone.history.start({ root: "/about/" });
      });
    });
  </script>
<% end %>

<div class='inner'>
  <div class='header_block header_block_howto'>
    <div class='header_block__body'>
      <h1 class='header_block__title'>About</h1>
      <p>Global Forest Watch (GFW) is an online mapping platform that provides the most current, reliable, and actionable information about what is happening in forests worldwide. GFW unites satellite technology, open data, and human networks to show where and how forests are changing, who is using them, and how we can sustain them for future generations. GFW is free and follows an open data approach in putting decision-relevant information in the hands of governments, companies, NGOs, and the public.</p>

      <p>GFW is supported by a diverse partnership of organizations that contribute data, technical capabilities, funding, and expertise. The partnership is convened by the World Resources Institute. See a full list of partners below.</p>

      <p class='header_block__description'>Learn how to use the Global Forest Watch website here with our video tutorials, FAQs, and other materials.</p>

      <iframe width='860' height='484' src='//www.youtube.com/embed/5HH1qaBAQRA' frameborder='0' allowfullscreen></iframe>
    </div>

    <ul class='header_block__footer'>
      <li class='header_block__link two'>
        <a href='#' class='site_overview selected'>GFW site overview<i class='play'></i></a>
      </li>

      <li class='header_block__link two last'>
        <a href='#' class='map_tutorial'>GFW map tutorial<i class='play'></i></a>
      </li>
    </ul>
  </div>
</div>

<div class='inner static-inner'>
  <div class='navigation_left'>
    <ul>
      <li class='item_title'><i class='caret_down'></i></li>
      <li><a href='#users' class='selected nav-item' data-slug='users'>Users</a></li>
      <li><a href='#videos' data-slug='videos' class='nav-item'>Videos</a></li>
      <li><a href='#gfw' data-slug='gfw' class='nav-item'>About GFW</a></li>
      <li><a href='#partners' data-slug='partners' class='nav-item'>Partners</a></li>
    </ul>
  </div>

  <div class='content_right'>
    <article id='users' class='selected'>
      <h2 class='source_category_title'>Users</h2>
      <p class='source_category_description'>GFW aims to radically improve the availability, quality, and accessibility of forest data for a diverse range of forest stakeholders. For example:</p>

      <div class='source_body'>
        <ul class='bullets'>
          <li><strong>Governments</strong> can use GFW to detect illegal forest clearing and target forest law enforcement efforts.</li>
          <li><strong>Companies</strong> can monitor the impacts of commodity supply chains on forests and demonstrate compliance with sustainability commitments and certifications.</li>
          <li><strong>NGOs</strong> can identify deforestation hotspots and bolster their investigations, advocacy, and campaigns.</li>
          <li><strong>Indigenous communities</strong> can monitor their territories and raise an alarm when their customary forests are threatened.</li>
          <li><strong>Media</strong> can gather evidence for reporting.</li>
          <li><strong>Researchers</strong> can analyze forest trends on a global scale.</li>
          <li><strong>Concerned citizens everywhere</strong> can learn more about the state of forests and participate in forest monitoring.</li>
        </ul>
      </div>
    </article>

    <article id='videos'>
      <h2 class='source_category_title'>Videos</h2>
      <p class='source_category_description'>Here’s a brief video introduction from the GFW team, presented in six of our key languages:</p>

      <div class='source_body videos_list'>
        <p><iframe width='280' height='158' src='//www.youtube.com/embed/BZx2edin9do' frameborder='0' allowfullscreen></iframe> <iframe width='280' height='158' src='//www.youtube.com/embed/L8jA8ush7d8' frameborder='0' allowfullscreen></iframe></p>
        <p><iframe width='280' height='158' src='//www.youtube.com/embed/d3xUkSjlNjQ' frameborder='0' allowfullscreen></iframe> <iframe width='280' height='158' src='//www.youtube.com/embed/0K684H-yKWQ' frameborder='0' allowfullscreen></iframe></p>
        <p><iframe width='280' height='158' src='//www.youtube.com/embed/metb4Cm9Zh0' frameborder='0' allowfullscreen></iframe> <iframe width='280' height='158' src='//www.youtube.com/embed/ayqMDX-672g' frameborder='0' allowfullscreen></iframe></p>
      </div>
    </article>

    <article id='gfw'>
      <h2 class='source_category_title'>About GFW</h2>

      <div class='source_body'>
        <h3 class='overview_title'>History</h3>
        <p>Global Forest Watch originally began in 1997 as an initiative to establish a global forest monitoring network around the world, convened by the World Resources Institute and partners. It began as part of WRI’s Forest Frontiers Initiative. The original GFW achieved many outcomes toward the conservation of large intact forest areas.</p>

        <p>WRI has <a href='http://www.wri.org/our-work/topics/forests' target='_blank'>continued</a> the work that Global Forest Watch started, working to improve <a href='http://www.wri.org/our-work/topics/forests' target='_blank'>forest information</a> by merging the latest technology with on-the-ground partnerships. In the  <a href='http://www.wri.org/our-work/project/congo-basin-forest-atlases' target='_blank'>Congo Basin</a> countries, WRI has published Forest Atlases that help decision makers achieve sustainable management of forest resources through strengthened land-use planning and monitoring.  These are now available for <a href='http://www.wri.org/our-work/project/congo-basin-forests/cameroon#project-tabs' target='_blank'>Cameroon</a>, <a href='http://www.wri.org/our-work/project/congo-basin-forests/central-african-republic#project-tabs' target='_blank'>Central African Republic</a>, <a href='http://www.wri.org/our-work/project/congo-basin-forests/congo#project-tabs' target='_blank'>Congo</a>, <a href='http://www.wri.org/our-work/project/congo-basin-forests/democratic-republic-congo#project-tabs' target='_blank'>Democratic Republic of Congo</a>, <a href='http://www.wri.org/our-work/project/congo-basin-forests/equatorial-guinea#project-tabs' target='_blank'>Equatorial Guinea</a>, and <a href='http://www.wri.org/our-work/project/congo-basin-forests/gabon#project-tabs' target='_blank'>Gabon</a>. The <a href='http://www.wri.org/our-work/project/forests-and-landscapes-indonesia' target='_blank'>Forest and Landscapes in Indonesia</a> project works to support government and civil society actions for effective and equitable land use in Indonesia. This work now continues as part of WRI’s work on forests and is integrated with Global Forest Watch. In addition to the countries listed above, GFW published state of the forest reports for <a href='http://www.wri.org/publication/canadas-large-intact-forest-landscapes-2006-update' target='_blank'>Canada</a>, <a href='http://www.wri.org/publication/chiles-frontier-forests' target='_blank'>Chile</a>, <a href='http://www.wri.org/publication/last-intact-forest-landscapes-northern-european-russia' target='_blank'>Russia</a>, and <a href='http://www.wri.org/publication/all-glitters-not-gold' target='_blank'>Venezuela</a> and related policy reports for <a href='http://www.wri.org/publication/profit-without-plunder' target='_blank'>Guyana</a> and <a href='http://www.wri.org/publication/backs-wall-suriname' target='_blank'>Suriname</a>.</p>

        <p>The GFW network also developed the methods for mapping <a href='http://www.intactforests.org' target='_blank'>Intact Forest Landscapes</a> by piloting this method in Russia and Canada and then expanding it to the global level for the year 2000. Monitoring of these areas continues, with an ongoing update for the year 2012 underway.</p>

        <p>Leveraging the advent of new technologies and increased global connectivity, work on the next generation Global Forest Watch began in 2011 with an expanded group of partners and powerful new monitoring capabilities. Help be part of GFW’s future by participating in and contributing to the GFW system.</p>

        <h3 class='overview_title'>Staff</h3>
        <p>View a <a href='http://www.wri.org/our-work/project/global-forest-watch' target='_blank'>list of staff</a> who work on Global Forest Watch. </p>

        <h3 class='overview_title'>Contact us</h3>
        <p><a href='mailto:gfw@wri.org'>gfw@wri.org</a></p>
      </div>
    </article>

    <article id='partners'>
      <h2 class='source_category_title'><%= t('static.about.partners')%></h2>

      <div class='source_body'>
        <ul class='logo_list'>
          <li><a target='_blank' href='http://www.wri.org' class='wri'></a></li>
          <li><a target='_blank' href='http://earthengine.google.org/' class='google'></a></li>
          <li><a target='_blank' href='http://www.esri.com/' class='esri'></a></li>
          <li><a target='_blank' href='http://www.geog.umd.edu/' class='universitymaryland'></a></li>
          <li><a target='_blank' href='http://www.unep.org/' class='unep'></a></li>
          <li><a target='_blank' href='http://www.imazon.org.br/pagina-inicial-en?set_language=en&cl=en' class='imazon'></a></li>
          <li><a target='_blank' href='http://www.cgdev.org/' class='centerglobaldevelopment'></a></li>
          <li><a target='_blank' href='http://osfac.net/index.php?lang=en' class='osfac'></a></li>
          <li><a target='_blank' href='http://globalforestwatch.ca/' class='gfwca'></a></li>
          <li><a target='_blank' href='http://www.scanex.ru/en/' class='scanex'></a></li>
          <li><a target='_blank' href='http://www.transparentworld.ru/ru' class='twrus'></a></li>
        </ul>

        <h3 class='overview_title'>Funders</h3>
        <ul class='logo_list'>
          <li><a target='_blank' href='http://www.regjeringen.no/en/dep/md.html?id=668' class='norwegian'></a></li>
          <li><a target='_blank' href='http://www.usaid.gov/' class='usaid'></a></li>
          <li><a target='_blank' href='http://www.thegef.org/gef/' class='gef'></a></li>
          <li><a target='_blank' href='https://www.gov.uk/government/organisations/department-for-international-development' class='ukaid'></a></li>
          <li><a target='_blank' href='http://tiliafund.org/' class='tilafund'></a></li>
          <li><a target='_blank' href='http://um.dk/en/danida-en/' class='danida'></a></li>
          <li><a target='_blank' href='http://www.minbuza.nl/en' class='dutchforeign'></a></li>
          <li><span class='bobolink'></span></li>
        </ul>

        <h3 class='overview_title'>Additional partners & collaborators</h3>
        <ul class='partners_list'>
          <li>Conservation International</li>
          <li>Food and Agriculture Organization of the United Nations</li>
          <li>Global Witness</li>
          <li>Jane Goodall Institute</li>
          <li>Mongabay</li>
          <li>NASA Ames Research Center</li>
          <li>UNEP-WCMC</li>
          <li>Winrock</li>
        </ul>

        <h3 class='overview_title'>Website designed by</h3>
        <ul class='logo_list'>
          <li><a target='_blank' href='http://www.vizzuality.com' class='vizzuality'></a></li>
        </ul>

        <p>We welcome others to join our growing GFW partnership. <a href='mailto:mailto:gfw@wri.org'>Email us</a>.</p>
      </div>
    </article>
  </div>
</div>
