<section class="header-static">
  <div class="inner">
    <header>
      <h2><%= @title %></h2>
      <h3>Global Forest Watch is more than just a website. It’s a platform that allows users to access, act upon, and build on accurate, timely, and high-resolution forest data. With a public API and open source code, GFW provides users with the tools and information needed to build applications that target critical issues related to forests. Access all applications and learn how to develop your own using the menu below.</h3>
      <h3>Want to be the first to hear about new applications?</h3>
      <ul class="row row3">
        <li><a href="http://www.wri.org/global-forest-watch-stay-informed" class="btn white uppercase">Sign up for newsletter</a></li>
      </ul>
    </header>
  </div>
</section>
<section class="applications-section">
  <div class="inner">
    <h2 class="section-title">Applications developed by GFW</h2>
    <div class="row">
<!--       <div class="col">
        <div class="card">
          <div class="ribbon">new</div>
          <header>
            <h2>Explore the map</h2>
            <div class="icon"><svg class="icon"><use xlink:href="#shape-world"></use></svg></div>
          </header>
          <div class="content">
            <p>View and analyze GFW data in an interactive map</p>
          </div>
          <footer>
            <a href="/map" class="btn green medium">Launch App</a>
          </footer>
        </div>
      </div>


      <div class="col">
        <div class="card">
          <header>
            <h2>Country profiles & rankings</h2>
            <div class="icon"><svg class="icon"><use xlink:href="#shape-country"></use></svg></div>
          </header>
          <div class="content">
            <p>View country data and rankings and analyze national and subnational forest statistics</p>
          </div>
          <footer>
            <a href="/countries" class="btn green medium">Launch App</a>
          </footer>
        </div>
      </div>
 -->

      <div class="col">
        <div class="card">
          <header>
            <h2>Fires</h2>
            <div class="icon"><svg class="icon"><use xlink:href="#shape-fire"></use></svg></div>
          </header>
          <div class="content">
            <p>Track forest fires and haze in the ASEAN region</p>
          </div>
          <footer>
            <a href="http://staging.blueraster.com/wri/gfw-fires/#v=home&x=&y=&l=&lyrs=&dirty=true" class="btn green medium">Launch App</a>
          </footer>
        </div>
      </div>


      <div class="col">
        <div class="card">
          <header>
            <h2>Commodities</h2>
            <div class="icon"><svg class="icon"><use xlink:href="#shape-commodities"></use></svg></div>
          </header>
          <div class="content">
            <p>Identify deforestation risk in commodity supply chains</p>
          </div>
          <footer>
            <a href="http://staging.blueraster.com/wri/gfw-commodities/#v=home" class="btn green medium">Launch App</a>
          </footer>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <header>
            <h2>Develop your own app</h2>
            <div class="icon"><svg class="icon"><use xlink:href="#shape-develop"></use></svg></div>
          </header>
          <div class="content">
            <p>Build your own application using GFW's API and open source code</p>
          </div>
          <footer>
            <a href="/getinvolved/develop-your-own-app" class="btn gray medium">More</a>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="applications-section" id="coming-soon">
  <div class="inner">
    <h2 class="section-title">Coming Soon</h2>
    <div class="row">
      <div class="col">
        <div class="card">
          <header>
            <h2>Climate</h2>
            <div class="icon"><svg class="icon"><use xlink:href="#shape-carbon"></use></svg></div>
          </header>
          <div class="content">
            <p>Track carbon emissions and removal from forest change</p>
          </div>
          <footer>
            <span class="btn soon">coming soon</span>
          </footer>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <header>
            <h2>Biodiversity</h2>
            <div class="icon"><svg class="icon"><use xlink:href="#shape-biodiversity"></use></svg></div>
          </header>
          <div class="content">
            <p>Monitor forest change in critical habitats and landscapes</p>
          </div>
          <footer>
            <span class="btn soon">coming soon</span>
          </footer>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <header>
            <h2>Landsat Imagery Validation Application</h2>
            <div class="icon"><svg class="icon"><use xlink:href="#shape-landsat"></use></svg></div>
          </header>
          <div class="content">
            <p>Help make GFW data more reliable by identifying tree cover change in Landsat imagery</p>
          </div>
          <footer>
            <span class="btn soon">coming soon</span>
          </footer>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <header>
            <h2>GFW Mobile Data Application </h2>
            <div class="icon"><svg class="icon"><use xlink:href="#shape-lorem"></use></svg></div>
          </header>
          <div class="content">
            <p>Identify forest clearing alerts in the field</p>
          </div>
          <footer>
            <span class="btn soon">coming soon</span>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="applications-section partners">
  <div class="inner">
    <h2 class="section-title">Applications developed by partners & collaborators</h2>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="ribbon official">new</div>
          <header>
            <h2>Global Forest Watch: Sumatra campaign on Tomnod</h2>
            <div class="icon"><svg class="icon"><use xlink:href="#shape-lorem"></use></svg></div>
          </header>
          <div class="content">
            <p>Wildfires caused by illegal burning are raging across peat lands and forests on the island of Sumatra, Indonesia. Noxious clouds of smoke drift throughout nearby Indonesia, Malaysia and Singapore, creating record levels of air pollution and health hazards for millions of people. Help Global Forest Watch Fires track the illegal fires and preserve the health of people and forests in the region.</p>
          </div>
          <footer>
            <a href="http://www.tomnod.com/" target="_blank" class="btn green medium">Launch App</a>
          </footer>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="ribbon official">new</div>
          <header>
            <h2>Open Landscape Partnership Platform</h2>
            <div class="icon"><svg class="icon"><use xlink:href="#shape-lorem"></use></svg></div>
          </header>
          <div class="content">
            <p>Very high-resolution satellite imagery available for free non-commercial uses</p>
          </div>
          <footer>
            <a href="http://www.openlandscape.info/" target="_blank" class="btn green medium">Launch App</a>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="interesting-section">
  <div class="inner">
    <h2 class="section-title">You may find this interesting</h2>
    <div class="row">
      <div class="col">
        <div class="card">
          <header>
            <h2>Explore the map</h2>
          </header>
          <div class="content">
            <p>View and analyze GFW data in an interactive map</p>
          </div>
          <footer>
            <a href="/map" class="btn dark medium">Read More</a>
          </footer>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <header>
            <h2>Not sure what you're looking for?</h2>
          </header>
          <div class="content">
            <p>Check out the How to page</p>
          </div>
          <footer>
            <a href="/howto" class="btn dark medium">Read More</a>
          </footer>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <header>
            <h2>Submit a story</h2>
          </header>
          <div class="content">
            <p>Add a story to the GFW interactive map</p>
          </div>
          <footer>
            <%= link_to 'Submit a story', new_story_path, :class => 'btn dark medium' %>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>
