<section class="header-static">
  <div class="inner">
    <header>
      <h2><%= @title %></h2>
      <h3>Global Forest Watch (GFW) is a dynamic online forest monitoring and alert system that empowers people everywhere to better manage forests. For the first time, Global Forest Watch unites satellite technology, open data, and crowdsourcing to guarantee access to timely and reliable information about forests. GFW is free and follows an open data approach in putting decision-relevant information in the hands of governments, companies, NGOs, and the public.</h3>
    </header>
  </div>
</section>
<section class="applications-section">
  <div class="inner">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="ribbon">Official</div>
          <header>
            <h2>Explore the map</h2>
            <div class="icon"><svg class="icon"><use xlink:href="#shape-world"></use></svg></div>
          </header>
          <div class="content">
            <p>Timely and reliable information about forests. GFW is free and follows an open data approach in putting decision-relevant information in the hands of governments, companies, NGOs, and the public</p>
          </div>
          <footer>
            <a href="/map" class="btn gray medium">Launch App</a>
          </footer>
        </div>
      </div>


      <div class="col">
        <div class="card">
          <div class="ribbon">Official</div>
          <header>
            <h2>Country profiles & rankings</h2>
            <div class="icon"><svg class="icon"><use xlink:href="#shape-country"></use></svg></div>
          </header>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <footer>
            <a href="/countries" class="btn gray medium">Launch App</a>
          </footer>
        </div>
      </div>


      <div class="col">
        <div class="card">
          <div class="ribbon">Official</div>
          <header>
            <h2>Fires</h2>
            <div class="icon"><svg class="icon"><use xlink:href="#shape-fire"></use></svg></div>
          </header>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <footer>
            <a href="http://staging.blueraster.com/wri/gfw-fires/#v=home&x=&y=&l=&lyrs=&dirty=true" class="btn gray medium">Launch App</a>
          </footer>
        </div>
      </div>


      <div class="col">
        <div class="card">
          <div class="ribbon non-official">Non Official</div>
          <header>
            <h2>Commodities</h2>
            <div class="icon"><svg class="icon"><use xlink:href="#shape-commodities"></use></svg></div>
          </header>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit o guarantee access to timely and reliable information about forests. GFW is free and follows an open data approach in putting decision.</p>
          </div>
          <footer>
            <a href="http://staging.blueraster.com/wri/gfw-commodities/#v=home" class="btn gray medium">Launch App</a>
          </footer>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="ribbon non-official">Coming soon</div>
          <header>
            <h2>Carbon</h2>
            <div class="icon"><svg class="icon"><use xlink:href="#shape-carbon"></use></svg></div>
          </header>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="ribbon non-official">Coming soon</div>
          <header>
            <h2>Biodiversity</h2>
            <div class="icon"><svg class="icon"><use xlink:href="#shape-biodiversity"></use></svg></div>
          </header>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <header>
            <h2>Develop your own app</h2>
            <div class="icon"><svg class="icon"><use xlink:href="#shape-develop"></use></svg></div>
          </header>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit o guarantee access to timely and reliable information about forests. GFW is free and follows an open data approach in putting decision.</p>
          </div>
          <footer>
            <a href="/getinvolved/develop-your-own-app" class="btn green medium">More</a>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="interesting-section">
  <div class="inner">
    <h2 class="section-title">You may find this interesting</h2>
    <div class="row">
      <div class="col">
        <div class="card">
          <header>
            <h2>Explore the map</h2>
          </header>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
          </div>
          <footer>
            <a href="/map" class="btn dark medium">Read More</a>
          </footer>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <header>
            <h2>Develop your own app</h2>
          </header>
          <div class="content">
            <p>Timely and reliable information about forests. GFW is free and follows an open data approach in putting decision-relevant information in the hands of governments, companies, NGOs, and the public</p>
          </div>
          <footer>
            <a href="/getinvolved/develop-your-own-app" class="btn dark medium">Read More</a>
          </footer>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <header>
            <h2>Submit a story</h2>
          </header>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess.</p>
          </div>
          <footer>
            <%= link_to 'Submit a story', new_story_path, :class => 'btn dark medium' %>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>
