<section class="header-static">
    <div class="inner">
      <header>
        <h2><%= @title %></h2>
        <h3>This website is optimized for these browsers. Please upgrade to a supported browser and try loading the website again.</h3>
      </header>
      <ul class="row row3">
        <li><a href="https://www.google.com/intl/en/chrome/browser/" class="btn white uppercase">Chrome 66</a></li>
        <li><a href="http://www.mozilla.org/en-US/firefox/all/" class="btn white uppercase">Firefox 60</a></li>
        <li><a href="http://www.apple.com/safari" class="btn white uppercase">Safari 10</a></li>
        <li><a href="http://www.opera.com/" class="btn white uppercase">Opera 51</a></li>
        <li><a href="http://windows.microsoft.com/en-us/internet-explorer/ie-11-worldwide-languages" class="btn white uppercase">Internet Explorer 15</a></li>
      </ul>
    </div>
</section>
