<section class="header-static">
    <div class="inner">
      <header>
        <h2><%= @title %></h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt officia minus dignissimos cum fuga nihil odit praesentium tempora molestiae, earum voluptatibus dolores omnis mollitia ex tempore, reiciendis vel expedita et.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste a tenetur delectus. Explicabo vitae, accusamus maxime cum tempore et corporis esse cupiditate architecto voluptates! Nam, possimus placeat blanditiis. Delectus, dignissimos?</p>
      </header>
      <ul class="row row3">
        <li><a href="http://blog.globalforestwatch.org/" target="_blank" class="btn dark uppercase">GFW Blog</a></li>
        <li><a href="https://groups.google.com/forum/#!forum/globalforestwatch" target="_blank" class="btn dark uppercase">Discussion Forum</a></li>
        <li><a href="#" class="btn dark uppercase">Sign up for newsletter</a></li>
      </ul>
    </div>
</section>