<section class="m-header-static">
  <div class="inner">
    <header>
      <h2>Contribute data to Global Forest Watch</h2>
      <h3>Would you like to publish your data to the <a href="/map">GFW Interactive Map</a>? Just complete this form!</h3>
      <p>NOTE: Although the GFW team will make every effort to add all data submitted via this form, there may be instances where GFW does not support the type or format of data. We will contact you if we are unable to add your data to GFW.</p>
    </header>
  </div>
</section>

<section class="m-section-static" id="contributeDataView">
  <div class="inner">
    <div class="m-new -no-aside">
      <!-- <aside class="m-aside">
        <h3>HOW TO CREATE YOUR SUBSCRIPTIONS</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus dolor a suscipit tincidunt. Ut sagittis porta nunc, nec pellentesque dolor ornare ut. Sed vitae.</p>

        <ul>
          <li>Country or Jurisdiction</li>
          <li>Draw or upload your area of interest</li>
        </ul>
      </aside> -->

      <div class="m-form">
        <form id="new-contribution">

          <!-- Tell us about your data -->
          <div class="field-fieldset">
            <div class="field-header">
              <h2>Tell us about your data</h2>
              <h3 for="data_format">What format are your data? *</h3>
            </div>
            <div class="field -no-padding">
              <p class="-hint">Note: We will do our best to accommodate all types of data, but in some cases we may be unable to add your data to the GFW Interactive map due to the type or format of the data</p>
              <div class="radio-box">
                <div class="custom-radio">
                  <input id="format_vector" type="radio" name="data_format" value="Vector">
                  <label for="format_vector"><span></span> Vector</label>
                </div>
                <div class="custom-radio">
                  <input id="format_raster" type="radio" name="data_format" value="Raster">
                  <label for="format_raster"><span></span> Raster</label>
                </div>
              </div>
            </div>
            <div class="field-header">
              <h3 for="data_show">What do your data show? *</h3>
            </div>
            <div class="field -no-padding">
              <p class="-hint">Note: We will do our best to accommodate all types of data, but in some cases we may be unable to add your data to the GFW Interactive map due to the type or format of the data</p>
              <div class="radio-box">
                <div class="custom-radio">
                  <input id="show_protected_areas" data-fieldset="protected_areas" type="radio" name="data_show" class="js-radio-fieldset" value="Protected areas">
                  <label for="show_protected_areas"><span></span> Protected areas</label>
                </div>
                <div class="custom-radio">
                  <input id="show_project_areas" data-fieldset="project_areas" type="radio" name="data_show" class="js-radio-fieldset" value="Project areas">
                  <label for="show_project_areas"><span></span> Project areas</label>
                </div>
                <div class="custom-radio">
                  <input id="show_indigenous_lands" data-fieldset="indigenous_lands" type="radio" name="data_show" class="js-radio-fieldset" value="Indigenous territories or community lands">
                  <label for="show_indigenous_lands"><span></span> Indigenous territories or community lands</label>
                </div>
                <div class="custom-radio">
                  <input id="show_managed_forest_concessions" data-fieldset="concessions" type="radio" name="data_show" class="js-radio-fieldset" value="Managed forest concessions">
                  <label for="show_managed_forest_concessions"><span></span> Managed forest concessions</label>
                </div>
                <div class="custom-radio">
                  <input id="show_mining_concessions" data-fieldset="concessions" type="radio" name="data_show" class="js-radio-fieldset" value="Mining concessions">
                  <label for="show_mining_concessions"><span></span> Mining concessions</label>
                </div>
                <div class="custom-radio">
                  <input id="show_oil_palm_concessions" data-fieldset="concessions" type="radio" name="data_show" class="js-radio-fieldset" value="Oil palm concessions">
                  <label for="show_oil_palm_concessions"><span></span> Oil palm concessions</label>
                </div>
                <div class="custom-radio">
                  <input id="show_wood_fiber_concessions" data-fieldset="concessions" type="radio" name="data_show" class="js-radio-fieldset" value="Wood fiber concessions">
                  <label for="show_wood_fiber_concessions"><span></span> Wood fiber concessions</label>
                </div>
                <div class="custom-radio">
                  <input id="show_other" data-fieldset="other" type="radio" name="data_show" class="js-radio-fieldset" value"other">
                  <label for="show_other"><span></span> Other</label>
                </div>
              </div>
            </div>
          </div>


          <!-- Protected areas -->
          <div id="fieldset-protected_areas" class="field-fieldset -js-fieldset">
            <div class="field-header -padding-bottom">
              <h2>Attribute fields (protected areas)</h2>
              <h3>Please enter the field name in the submitted data that corresponds to the following attributes (leave blank if no information):</h3>
            </div>
            <div class="field -default">
              <label for="pa_name">Protected area name</label>
              <input type="text" name="pa_name">
            </div>
            <div class="field -default">
              <label for="pa_legal_designation">Legal designation</label>
              <input type="text" name="pa_legal_designation">
              <p class="-hint">(e.g. National Park, Wildlife Refuge, etc)</p>
            </div>
            <div class="field -default">
              <label for="pa_iucn_category">IUCN category</label>
              <input type="text" name="pa_iucn_category">
            </div>
            <div class="field -default">
              <label for="pa_official_area">Official area (ha)</label>
              <input type="text" name="pa_official_area">
            </div>
            <div class="field -default">
              <label for="pa_date_of_creation">Date of creation</label>
              <input type="text" name="pa_date_of_creation">
            </div>
            <div class="field -default">
              <label for="pa_other">Other</label>
              <input type="text" name="pa_other">
              <p class="-hint">(please specify and describe what each field represents)</p>
            </div>
          </div>


          <!-- Project areas -->
          <div id="fieldset-project_areas" class="field-fieldset -js-fieldset">
            <div class="field-header -padding-bottom">
              <h2>Attribute fields (project areas)</h2>
              <h3>Please enter the field name in the submitted data that corresponds to the following attributes (leave blank if no information):</h3>
            </div>
            <div class="field -default">
              <label for="project_name">Project area name</label>
              <input type="text" name="project_name">
            </div>
            <div class="field -default">
              <label for="project_ornanization_name">Organization name</label>
              <input type="text" name="project_ornanization_name">
            </div>
            <div class="field -default">
              <label for="project_dates">Project dates</label>
              <input type="text" name="project_dates">
            </div>
            <div class="field -default">
              <label for="project_description">Project description</label>
              <textarea name="project_description"></textarea>
            </div>
            <div class="field -default">
              <label for="project_other">Other</label>
              <input type="text" name="project_other">
              <p class="-hint">(please specify and describe what each field represents)</p>
            </div>
          </div>


          <!-- Indigenous territories or community lands -->
          <div id="fieldset-indigenous_lands" class="field-fieldset -js-fieldset">
            <div class="field-header -padding-bottom">
              <h2>Attribute fields (indigenous territories or community lands)</h2>
              <h3>Please enter the field name in the submitted data that corresponds to the following attributes (leave blank if no information):</h3>
            </div>
            <div class="field -default">
              <label for="indigenous_name">Name</label>
              <input type="text" name="indigenous_name">
            </div>
            <div class="field -default">
              <label for="indigenous_land_category">Land category</label>
              <input type="text" name="indigenous_land_category">
              <p class="-hint">(Indigenous Reserve, Reservation, etc)</p>
            </div>
            <div class="field -default">
              <label for="indigenous_legal_recognition">Legal recognition</label>
              <input type="text" name="indigenous_legal_recognition">
              <p class="-hint">(Yes or No)</p>
            </div>
            <div class="field -default">
              <label for="indigenous_official_area">Official area (ha)</label>
              <input type="text" name="indigenous_official_area">
            </div>
            <div class="field -default">
              <label for="indigenous_date_of_creation">Date of creation</label>
              <input type="text" name="indigenous_date_of_creation">
            </div>
            <div class="field -default">
              <label for="indigenous_other">Other</label>
              <input type="text" name="indigenous_other">
              <p class="-hint">(please specify and describe what each field represents)</p>
            </div>
          </div>


          <!-- Concessions -->
          <div id="fieldset-concessions" class="field-fieldset -js-fieldset">
            <div class="field-header -padding-bottom">
              <h2>Attribute fields (concessions)</h2>
              <h3>Please enter the field name in the submitted data that corresponds to the following attributes (leave blank if no information):</h3>
            </div>
            <div class="field -default">
              <label for="concession_name">Concession name</label>
              <input type="text" name="concession_name">
            </div>
            <div class="field -default">
              <label for="concession_company">Company</label>
              <input type="text" name="concession_company">
            </div>
            <div class="field -default">
              <label for="concession_group_company">Group company</label>
              <input type="text" name="concession_group_company">
            </div>
            <div class="field -default">
              <label for="concession_official_area">Official area (ha)</label>
              <input type="text" name="concession_official_area">
            </div>
            <div class="field -default">
              <label for="concession_date_of_creation">Date of creation</label>
              <input type="text" name="concession_date_of_creation">
            </div>
            <div class="field -default">
              <label for="concession_duration">Concession duration</label>
              <input type="text" name="concession_duration">
            </div>
            <div class="field -default">
              <label for="concession_status">Status</label>
              <input type="text" name="concession_status">
            </div>
            <div class="field -default">
              <label for="concession_certification">Certification</label>
              <input type="text" name="concession_certification">
            </div>
            <div class="field -default">
              <label for="concession_type">Type</label>
              <input type="text" name="concession_type">
              <p class="-hint"> (mineral, crop, species, etc)</p>
            </div>
            <div class="field -default">
              <label for="concession_other">Other</label>
              <input type="text" name="concession_other">
              <p class="-hint">(please specify and describe what each field represents)</p>
            </div>
          </div>


          <!-- Other -->
          <div id="fieldset-other" class="field-fieldset -js-fieldset">
            <div class="field-header -padding-bottom">
              <h2>Other</h2>
              <h3>Please list all attribute field names to display on the website, along with a brief description of each.</h3>
            </div>
            <div class="field -no-padding">
              <textarea name="other_description"></textarea>
            </div>
          </div>


          <!-- Metadata -->
          <div class="field-fieldset">
            <div class="field-header">
              <h2>Metadata</h2>
            </div>
            <div class="field -default">
              <label for="metadata_title">Title *</label>
              <input type="text" name="metadata_title">
              <p class="-hint">Write a brief, descriptive title for the data. Include the geographic coverage and type of data (e.g., Amazonas Brazil mining concessions).</p>
            </div>
            <div class="field -default">
              <label for="metadata_function">Function *</label>
              <input type="text" name="metadata_function">
              <p class="-hint">Briefly explain what these data show.</p>
            </div>
            <div class="field -default">
              <label for="metadata_geographic_coverage">Geographic coverage *</label>
              <input type="text" name="metadata_geographic_coverage">
              <p class="-hint">e.g., Amazonas, Brazil; Brazil; Latin America; etc.</p>
            </div>
            <div class="field -default">
              <label for="metadata_source">Source *</label>
              <input type="text" name="metadata_source">
              <p class="-hint">e.g, University of Maryland</p>
            </div>
            <div class="field -default">
              <label for="metadata_date_of_content">Date of content *</label>
              <input type="text" name="metadata_date_of_content">
              <p class="-hint">e.g., March 2015</p>
            </div>
            <div class="field -default">
              <label for="metadata_cautions">Cautions *</label>
              <input type="text" name="metadata_cautions">
              <p class="-hint">Are there any known issues with the data? Anything users should beware of when using these data?</p>
            </div>
            <div class="field -default">
              <label for="metadata_citation">Citation</label>
              <input type="text" name="metadata_citation">
              <p class="-hint">Suggested format for citation: Organization. “Data set title.” Accessed through Global Forest Watch on [date]. www.globalforestwatch.org</p>
            </div>
          </div>

          <!-- Data sharing -->
          <div class="field-fieldset">
            <div class="field-header">
              <h2>Data sharing, terms of service, and follow up</h2>
            </div>
            <div class="field -default">
              <label for="data_agree">Data sharing *</label>
              <div class="checkbox-box">
                <div class="custom-checkbox">
                  <input type="checkbox" name="data_agree" id="data_agree_handler">
                  <label for="data_agree_handler"><span></span> I agree to make these data available under a Creative Commons CC BY 4.0</label>
                </div>
              </div>
              <!-- <p class="-hint">You must agree to share these data under a Creative Commons CC BY 4.0 data to contribute data to GFW.</p> -->
            </div>

            <div class="field -default">
              <label for="data_terms">Terms of service *</label>
              <div class="checkbox-box">
                <div class="custom-checkbox">
                  <input type="checkbox" name="data_terms" id="data_terms_handler">
                  <label for="data_terms_handler"><span></span> I agree to the Global Forest Watch Terms of Service</label>
                </div>
              </div>
              <!-- <p class="-hint">You must agree to the Global Forest Watch Terms of Service to contribute data to GFW.</p> -->
            </div>

            <div class="field -default">
              <label for="data_email">Email *</label>
              <input type="text" name="data_email">
              <div class="field-header -padding-top">
                <h3>Would you like your email address to be publicly available on the GFW website for other users to contact you with comments or questions regarding these data?</h3>
              </div>
              <div class="field -no-padding">
                <div class="radio-box">
                  <div class="custom-radio">
                    <input id="data_email_yes" type="radio" name="data_email_visibility" value="yes">
                    <label for="data_email_yes"><span></span> Yes, I would like my email address to be visible on the GFW website for other GFW users to contact me with comments or questions regarding these data</label>
                  </div>
                  <div class="custom-radio">
                    <input id="data_email_no" type="radio" name="data_email_visibility" checked value="no">
                    <label for="data_email_no"><span></span> No, I would like my email address to remain confidential.</label>
                  </div>
                </div>
                <p class="-hint">NOTE: In some areas, forest clearing information is considered to be highly sensitive—users are encouraged to be cautious when sharing their email address</p>
              </div>
            </div>


            <div class="field-header">
              <h3>Anything else you would like to tell us about these data?</h3>
            </div>
            <div class="field -no-padding">
              <textarea name="data_description_more"></textarea>
            </div>


            <div class="field-header">
              <h3 for="data_uploaded">Please upload your data *</h3>
              <p class="-hint">NOTE: Accepted file formats include shapefile, tiff, kml (with associated attribute table), file database, csv, etc. Please let us know if you have any questions on data format.</p>
            </div>
            <div class="field -no-padding">
              <div class="file-box">
                <div class="file-btn-container">
                  <p id="fileupload-name">No file chosen</p>
                  <button type="button" id="fileupload-btn" class="btn gray medium uppercase js-upload-file">
                    Upload file
                    <div class="m-spinner -little">
                      <div class="spinner-box">
                        <div class="icon"></div>
                      </div>
                    </div>
                  </button>
                </div>
                <input id="fileupload" type="file" name="data_upload">
                <input id="fileuploaded" type="hidden" name="data_uploaded">
              </div>
            </div>

            <div class="field -no-padding">
              <input type="submit" id="submit" name="submit" value="Submit data" class="btn green huge-padding uppercase">
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</section>
