<% content_for :js do %>
  <script>
    $(function() {
      setTimeout(function() {
        if (location.hash) {
          window.scrollTo(0, 0);
        }
      }, 1);

      var StaticRouter = Backbone.Router.extend({

        routes: {
          'forest_change':  'change',
          'forest_cover':   'change',
          'forest_use':     'change',
          'conservation':   'change',
          'people':         'change',
          'stories':        'change',
          'base_maps':      'change',
          'code':           'change',
          'earth_engine':   'change',
          'arcgis':         'change',
          'data_policy':    'change'
        },

        initialize: function() {},

        change: function() {
          var tab = window.location.hash.replace('#','');

          window.static_data._onNavChange(tab);
        }
      });

      cdb.init(function() {
        window.static_data = new gfw.ui.view.Static();

        window.router = new StaticRouter();
        Backbone.history.start({ root: "/sources/" });
      });
    });
  </script>
<% end %>

<div class='inner'>
  <div class='header_block'>
    <div class='header_block__body'>
      <h1 class='header_block__title'>Data sources</h1>
      <p class='header_block__description'>Global Forest Watch hosts a wealth of data relating to forests. Some data have been developed by WRI or by GFW partner organizations. Other data are in the public domain and have been developed by governments, NGOs, and companies. The data vary in accuracy, resolution, frequency of update, and geographic coverage. The summaries below include links to further information such as methods and technical documents.  Full download of the data sets is available for almost all sources.</p>
    </div>

    <ul class='header_block__footer'>
      <li class='header_block__tab three'>
        <%= link_to "Download by country #{content_tag(:i)}".html_safe, countries_path %>
      </li>

      <li class='header_block__tab three'>
        <a href='mailto:gfw@wri.com'>Missing a data set?<i></i></a>
      </li>

      <li class='header_block__tab three last'>
        <a href='https://groups.google.com/forum/#!forum/globalforestwatch' target='_blank'>Join the discussion<i></i></a>
      </li>
    </ul>
  </div>
</div>

<div class='inner'>
  <div class='static-inner'>
    <div class='navigation_left'>
      <ul>
        <li class='item_title'><i class='caret_down'></i></li>
        <li><a href='#forest_change' class='selected nav-item' data-slug='forest_change'>Forest Change</a></li>
        <li><a href='#forest_cover' data-slug='forest_cover' class='nav-item'>Forest cover</a></li>
        <li><a href='#forest_use' data-slug='forest_use' class='nav-item'>Forest use</a></li>
        <li><a href='#conservation' data-slug='conservation' class='nav-item'>Conservation</a></li>
        <li><a href='#people'  data-slug='people' class='nav-item'>People</a></li>
        <li><a href='#stories' data-slug='stories' class='nav-item'>Stories</a></li>
        <li><a href='#base_maps' data-slug='base_maps' class='nav-item'>Base maps</a></li>
        <li><a href='#code' data-slug='code' class='nav-item'>Code</a></li>
        <li><a href='#earth_engine' data-slug='earth_engine' class='nav-item'>GFW on Google Earth Engine</a></li>
        <li><a href='#arcgis' data-slug='arcgis' class='nav-item'>GFW on ArcGIS Online</a></li>
        <li><a href='#data_policy' data-slug='data_policy' class='nav-item'>Data policy</a></li>
      </ul>
    </div>

    <div class='content_right'>
      <%= render 'shared/sources' %>
    </div>
  </div>
</div>
