<%= render 'shared/svg_icons_applications' %>

<div id="wrap-applications">
  <section class="header-static">
    <div class="inner">
      <header>
        <h2><%= @title %></h2>
        <h3>Global Forest Watch is more than just a website. It is a platform from which you can explore many features that make decision-relevant information accessible to everyone. Explore global forest data on the GFW Interactive Map, where you can create custom visualizations and compelling analyses, access interactive national and regional forest statistics and infographics on the Country Profiles and Rankings page,or download GFW data. From this page, you can also browse the GFW “app” store, which contains tools designed to address specific forest issues. Scroll down to start exploring!</h3>
      </header>
    </div>
  </section>
  <nav id="applicationsNavView" class="aplications-fixed-nav">
    <div class="max-1600">
      <div class="inner">
        <ul>
          <li><a href="#maps-and-data">Maps + data</a></li>
          <li><a href="#applications">Applications</a></li>
          <li><a href="#coming-soon">Coming soon</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="clone-nav"></div>
  <section class="applications-section" id="maps-and-data">
    <div class="inner">
      <h2 class="section-title">Maps + data</h2>
      <div class="row">
        <div class="col">
          <div class="card">
            <header>
              <h2>GFW Interactive map</h2>
              <div class="icon"><svg><use xlink:href="#shape-map"></use></svg></div>
            </header>
            <div class="content">
              <p>View and analyze data on the GFW Interactive Map.</p>
            </div>
            <footer>
              <a href="/map" class="btn green medium">Open map</a>
            </footer>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <header>
              <h2>Country profiles & rankings</h2>
              <div class="icon"><svg><use xlink:href="#shape-country"></use></svg></div>
            </header>
            <div class="content">
              <p>View country-specific data, analyze forest change within a country or subnational jurisdiction, or view country rankings based on forest statistics.</p>
            </div>
            <footer>
              <a href="/countries" class="btn green medium">View countries</a>
            </footer>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <header>
              <h2>Download data</h2>
              <div class="icon"><svg><use xlink:href="#shape-download"></use></svg></div>
            </header>
            <div class="content">
              <p>Browse, learn more about, and download the data displayed on Global Forest Watch.</p>
            </div>
            <footer>
              <a href="/sources" class="btn green medium">Browse data</a>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="applications-section" id="applications">
    <div class="inner">
      <h2 class="section-title">Applications</h2>
      <div class="row">
        <div class="col">
          <div class="card">
            <header>
              <h2>Fires</h2>
              <div class="icon"><svg><use xlink:href="#shape-fire"></use></svg></div>
            </header>
            <div class="content">
              <p>Track forest fires and haze in the ASEAN region. </p>
            </div>
            <footer>
              <a href="http://fires.globalforestwatch.org/#v=map&x=115&y=0&l=5&lyrs=Active_Fires" class="btn green medium">Launch App</a>
              <small>Source: World Resources Institute</small>
            </footer>
          </div>
        </div>


        <div class="col">
          <div class="card">
            <header>
              <h2>Commodities</h2>
              <div class="icon"><svg><use xlink:href="#shape-commodities"></use></svg></div>
            </header>
            <div class="content">
              <p>Identify deforestation risk in commodity supply chains.</p>
            </div>
            <footer>
              <a href="http://commodities.globalforestwatch.org/#v=map&x=114&y=-2.58&l=5&lyrs=tcc%2Closs" class="btn green medium">Launch App</a>
              <small>Source: World Resources Institute</small>
            </footer>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <header>
              <h2>Global Forest Watch: Sumatra campaign on Tomnod</h2>
              <div class="icon"><svg><use xlink:href="#shape-tomnod"></use></svg></div>
            </header>
            <div class="content">
              <p>Help Global Forest Watch Fires track illegal fires and preserve the health of people and forests in Southeast Asia.</p>
            </div>
            <footer>
              <a href="http://www.tomnod.com/campaign/gfw2_2014/map/2qwx1oy6u" target="_blank" class="btn green medium">Launch App</a>
              <small>Source: Digital Globe</small>
            </footer>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <header>
              <h2>Open Landscape Partnership Platform</h2>
              <div class="icon"><svg><use xlink:href="#shape-landscape"></use></svg></div>
            </header>
            <div class="content">
              <p>View and analyze ultra-high-resolution satellite imagery (up to 50 centimeters) for select forest landscapes.</p>
            </div>
            <footer>
              <a href="http://www.openlandscape.info/" target="_blank" class="btn green medium">Launch App</a>
              <small>Source: Transparent World</small>
            </footer>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <header>
              <h2>Sustainable Palm Oil Transparency Toolkit (SPOTT)</h2>
              <div class="icon"><svg><use xlink:href="#shape-spott"></use></svg></div>
            </header>
            <div class="content">
              <p>Assess oil palm growers on the information that they make publicly available about the sustainability of their operations.</p>
            </div>
            <footer>
              <a href="http://www.sustainablepalmoil.org/spott/" target="_blank" class="btn green medium">Launch App</a>
              <small>Source: Zoological Society of London</small>
            </footer>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <header>
              <h2>Cameroon Forest</h2>
              <div class="icon"><svg><use xlink:href="#shape-cameroon"></use></svg></div>
            </header>
            <div class="content">
              <p>View an interactive map with land-use data for Cameroon.</p>
            </div>
            <footer>
              <a href="http://www.wri.org/explore/maps/forestatlas/cmr/index.htm#v=atlas&l=fr&init=y" target="_blank" class="btn green medium">Launch App</a>
              <small>Source: World Resources Institute and Ministry of Forest and Wildlife of Cameroon</small>
            </footer>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <header>
              <h2>Central African Republic Forest </h2>
              <div class="icon"><svg><use xlink:href="#shape-central-africa"></use></svg></div>
            </header>
            <div class="content">
              <p>View an interactive map with land-use data for the Central African Republic.</p>
            </div>
            <footer>
              <a href="http://www.wri.org/tools/atlas/map.php?maptheme=car" target="_blank" class="btn green medium">Launch App</a>
              <small>Source: World Resources Institute and Ministry of Water, Forests, Hunting, and Fishing of the Central African Republic</small>
            </footer>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <header>
              <h2>Republic of Congo Forest Atlas</h2>
              <div class="icon"><svg><use xlink:href="#shape-republic-congo"></use></svg></div>
            </header>
            <div class="content">
              <p>View an interactive map with land-use data for the Congo.</p>
            </div>
            <footer>
              <a href="http://www.wri.org/tools/atlas/map.php?maptheme=congoforest" target="_blank" class="btn green medium">Launch App</a>
              <small>Source: World Resources Institute and Ministry of Economy and Sustainable Forestry Development of the Congo</small>
            </footer>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <header>
              <h2>Democratic Republic of Congo Forest </h2>
              <div class="icon"><svg><use xlink:href="#shape-democratic-congo"></use></svg></div>
            </header>
            <div class="content">
              <p>View an interactive map with land-use data for the Democratic Republic of the Congo.</p>
            </div>
            <footer>
              <a href="http://www.wri.org/explore/maps/forestatlas/cod/index.htm#v=atlas&l=fr&init=y" target="_blank" class="btn green medium">Launch App</a>
              <small>Source: World Resources Institute and Ministry of Environment, Nature Conservation, and Tourism of the Democratic Republic of the Congo</small>
            </footer>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <header>
              <h2>Equatorial Guinea Forest</h2>
              <div class="icon"><svg><use xlink:href="#shape-guinea"></use></svg></div>
            </header>
            <div class="content">
              <p>View an interactive map with land-use data for Equatorial Guinea.</p>
            </div>
            <footer>
              <a href="http://www.wri.org/explore/maps/forestatlas/gnq/index.htm#v=atlas&l=es&init=y" target="_blank" class="btn green medium">Launch App</a>
              <small>Source: World Resources Institute and Ministry of Agriculture and Forestry of Equatorial Guinea</small>
            </footer>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <header>
              <h2>Gabon Forest Atlas</h2>
              <div class="icon"><svg><use xlink:href="#shape-gabon"></use></svg></div>
            </header>
            <div class="content">
              <p>View an interactive map with land-use data for Gabon.</p>
            </div>
            <footer>
              <a href="http://www.wri.org/explore/maps/forestatlas/gab/index.htm#v=atlas&l=fr" target="_blank" class="btn green medium">Launch App</a>
              <small>Source: World Resources Institute and Ministry of the Forest, Environment, and Protection of Natural Resources of Gabon</small>
            </footer>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <header>
              <h2>Develop your own app</h2>
              <div class="icon"><svg><use xlink:href="#shape-develop"></use></svg></div>
            </header>
            <div class="content">
              <p>Learn how to develop your own application with Global Forest Watch data.</p>
            </div>
            <footer>
              <a href="/getinvolved/develop-your-own-app" class="btn gray medium">Read more</a>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="applications-section" id="coming-soon">
    <div class="inner">
      <h2 class="section-title">Coming Soon</h2>
      <h3 class="subsection-title">Want to be the first to hear about new applications? <a href="http://www.wri.org/global-forest-watch-stay-informed" target="_blank" class="btn gray uppercase">Sign up for the GFW newsletter</a></h3>
      <div class="row">
        <div class="col">
          <div class="card">
            <header>
              <h2>Climate</h2>
              <div class="icon"><svg><use xlink:href="#shape-carbon"></use></svg></div>
            </header>
            <div class="content">
              <p>Track carbon emissions and removals in forest landscapes.</p>
            </div>
            <footer>
              <span class="btn soon">coming soon</span>
              <small>Source: World Resources Institute</small>
            </footer>
            <div class="description">
              <div class="additional-info">
                <h2>Climate</h2>
                <p>Global Forest Watch Climate is a forthcoming tool to track carbon emissions and removals from forest landscapes. With GFW Climate, users will be able to interactively visualize and analyze forest carbon data to generate customized maps and statistics. GFW Climate will provide timely and practical information and tools for those involved in designing forest policies for climate change mitigation.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <header>
              <h2>Biodiversity</h2>
              <div class="icon"><svg><use xlink:href="#shape-biodiversity"></use></svg></div>
            </header>
            <div class="content">
              <p>Monitor forest change in critical habitats for species conservation.</p>
            </div>
            <footer>
              <span class="btn soon">coming soon</span>
              <small>Source: World Resources Institute and RESOLVE</small>
            </footer>
            <div class="description">
              <div class="additional-info">
                <h2>Biodiversity</h2>
                <p>Global Forest Watch Biodiversity, an application under development through a partnership with <a target="_blank" href="http://www.resolv.org/">RESOLVE</a>, will unite the best available data for forests and biodiversity to monitor and manage critical habitats and species. With new biodiversity indicators, monitoring capabilities, and the longer-term build-out of interactive dashboards, GFW Biodiversity will supply the information needed to assess and help countries reach international binding biodiversity commitments.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <header>
              <h2>Landsat Imagery Validation Application</h2>
              <div class="icon"><svg><use xlink:href="#shape-landsat"></use></svg></div>
            </header>
            <div class="content">
              <p>Help corroborate GFW’s tree cover loss alerts by analyzing satellite images and telling the world what you see.</p>
            </div>
            <footer>
              <span class="btn soon">coming soon</span>
              <small>Source: World Resources Institute</small>
            </footer>
            <div class="description">
              <div class="additional-info">
                <h2>Deforestation Finder App</h2>
                <p>Sometimes the human eye is more powerful at spotting deforestation than computer algorithms. This simple app displays recent satellite images from areas with recent tree cover loss alerts and asks users to tell us what they see. User contributions can help us figure out which alerts are most concerning and require action on the ground.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <header>
              <h2>Forest Watcher Mobile App</h2>
              <div class="icon"><svg><use xlink:href="#shape-globe-mobile"></use></svg></div>
            </header>
            <div class="content">
              <p>Use your mobile device to access and collect data about what's happening to forests near you.</p>
            </div>
            <footer>
              <span class="btn soon">coming soon</span>
              <small>Source: Jane Goodall Institute, Google, TouchLab, and World Resources Institute</small>
            </footer>
            <div class="description">
              <div class="additional-info">
                <p>This easy-to-use app enables anyone with limited Internet connectivity to find GFW alerts in their forests and upload observations like photos and other data from the field.  The Jane Goodall Institute, in partnership with Global Forest Watch, Google, and TouchLab, is currently piloting this app in Uganda to improve local forest monitoring.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
<div id="cut"></div>

<!-- <section class="applications-section" id="develop-your-own-app">
  <div class="inner">
    <h2 class="section-title">Develop your own app</h2>
  </div>
</section>
 -->
<section class="interesting-section">
  <div class="inner">
    <h2 class="section-title">You may find this interesting</h2>
    <div class="row">
      <div class="col">
        <div class="card">
          <header>
            <h2>Join the discussion</h2>
          </header>
          <div class="content">
            <p>Join the GFW Discussion Forum</p>
          </div>
          <footer>
            <a href="https://groups.google.com/forum/#!forum/globalforestwatch" target"_blank" class="btn dark medium">Join now</a>
          </footer>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <header>
            <h2>Need help?</h2>
          </header>
          <div class="content">
            <p>Check out the How To page</p>
          </div>
          <footer>
            <a href="/howto" class="btn dark medium">Read More</a>
          </footer>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <header>
            <h2>Submit a story</h2>
          </header>
          <div class="content">
            <p>Add a story to the GFW Interactive Map</p>
          </div>
          <footer>
            <%= link_to 'Submit a story', new_story_path, :class => 'btn dark medium' %>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>

