<%= render 'shared/icons/svg_icons_applications' %>

<section class="header-static">
  <div class="inner">
    <header>
      <h2><%= @title %></h2>
      <h3>Global Forest Watch is more than just a website. It is an evolving platform that hosts decision-relevant information and tools that are accessible to everyone. Create custom visualizations and compelling analyses on the GFW Interactive Map, access interactive forest statistics and infographics on the Country Profiles & Rankings, or download GFW data. From this page, you can also browse the GFW “app store,” which contains tools designed to address specific forest issues. Scroll down to start exploring!</h3>
    </header>
  </div>
</section>

<div id="wrap-applications">
  <div id="cutTop"></div>
  <nav id="applicationsNavView" class="aplications-fixed-nav">
    <div class="max-1600">
      <div class="inner">
        <nav class="apps_types">
          <div class="inner">
            <span class="app-filter" data-filter="africa">Africa</span>
            <span class="app-filter" data-filter="asia">Asia</span>
            <span class="app-filter" data-filter="boreal-forests">Boreal forests</span>
            <span class="app-filter" data-filter="commodities">Commodities</span>
            <span class="app-filter" data-filter="crowdsourcing">Crowdsourcing</span>
            <span class="app-filter" data-filter="data">Data</span>
            <span class="app-filter" data-filter="fires">Fires</span>
            <span class="app-filter" data-filter="global-forest-watch">Global Forest Watch</span>
            <span class="app-filter" data-filter="latin-america">Latin America</span>
            <span class="app-filter" data-filter="maps">Maps</span>
            <span class="app-filter" data-filter="mining">Mining</span>
            <span class="app-filter" data-filter="mobile">Mobile</span>
            <span class="app-filter" data-filter="palm-oil">Palm oil</span>
            <span class="app-filter" data-filter="satellite-imagery">Satellite imagery</span>

          </div>
        </nav>
      </div>
    </div>
  </nav>
  <div id="clone-nav"></div>

  <section class="applications-section">
    <div class="inner">
      <h2 class="section-title">Applications</h2>
      <h3 class="subsection-title">Do you know of an app that should be listed here? <a href="mailto:gfw@wri.org" class="btn gray uppercase">Email us</a></h3>
      <div class="row" id="applicationsGridView"></div>
    </div>
  </section>

</div>
<div id="cutBottom"></div>

<section class="applications-section">
  <div class="inner">
    <div id="galleryView"></div>
  </div>
</section>


<section id="interestingView" class="interesting-section"></section>
