<%= render 'shared/svg_icons_applications' %>

<div id="wrap-applications">
  <section class="header-static">
    <div class="inner">
      <header>
        <h2><%= @title %></h2>
        <h3>Global Forest Watch is more than just a website. It is an evolving platform that hosts decision-relevant information and tools that are accessible to everyone. Create custom visualizations and compelling analyses on the GFW Interactive Map, access interactive forest statistics and infographics on the Country Profiles & Rankings, or download GFW data. From this page, you can also browse the GFW “app store,” which contains tools designed to address specific forest issues. Scroll down to start exploring!</h3>
      </header>
    </div>
  </section>
  <nav id="applicationsNavView" class="aplications-fixed-nav">
    <div class="max-1600">
      <div class="inner">
        <nav class="apps_types">
          <div class="inner">
            <span data-id="forests">Forests</span>
            <span data-id="commodities">Commodities</span>
            <span data-id="data">Data</span>
            <span data-id="deforestation">Deforestation</span>
            <span data-id="fires">Fires</span>
            <span data-id="indonesia">Indonesia forest fires</span>
            <span data-id="maps">Maps</span>
            <span data-id="palm">Palm oil</span>
            <span data-id="satellite">Satellite</span>
            <span data-id="partners">Partners</span>
          </div>
        </nav>
      </div>
    </div>
  </nav>
  <div id="clone-nav"></div>

  <section class="applications-section">
    <div class="inner">
      <h2 class="section-title">Applications</h2>
      <h3 class="subsection-title">Do you know of an app that should be listed here? <a href="mailto:gfw@wri.org" class="btn gray uppercase">Email us</a></h3>
      <div class="row" id="applicationsGridView"></div>
    </div>
    <div class="application-modal" id="applicationModalView"></div>
  </section>


<!--   <section class="applications-section" id="coming-soon">
    <div class="inner">
      <h2 class="section-title">Coming Soon</h2>
      <h3 class="subsection-title">Want to be the first to hear about new applications? <a href="http://www.wri.org/global-forest-watch-stay-informed" target="_blank" class="btn gray uppercase">Sign up for the GFW newsletter</a></h3>
      <div class="row">
        <div class="col">
          <div class="card">
            <header>
              <h2>Climate</h2>
              <div class="icon"><svg><use xlink:href="#shape-carbon"></use></svg></div>
            </header>
            <div class="content">
              <p>Track carbon emissions and removals in forest landscapes.</p>
            </div>
            <footer>
              <span class="btn soon">coming soon</span>
              <small>Source: World Resources Institute</small>
            </footer>
            <div class="description">
              <div class="additional-info">
                <h2>Climate</h2>
                <p>Global Forest Watch Climate is a forthcoming tool to track carbon emissions and removals from forest landscapes. With GFW Climate, users will be able to interactively visualize and analyze forest carbon data to generate customized maps and statistics. GFW Climate will provide timely and practical information and tools for those involved in designing forest policies for climate change mitigation.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <header>
              <h2>Biodiversity</h2>
              <div class="icon"><svg><use xlink:href="#shape-biodiversity"></use></svg></div>
            </header>
            <div class="content">
              <p>Monitor forest change in critical habitats for species conservation.</p>
            </div>
            <footer>
              <span class="btn soon">coming soon</span>
              <small>Source: World Resources Institute and RESOLVE</small>
            </footer>
            <div class="description">
              <div class="additional-info">
                <h2>Biodiversity</h2>
                <p>Global Forest Watch Biodiversity, an application under development through a partnership with <a target="_blank" href="http://www.resolv.org/">RESOLVE</a>, will unite the best available data for forests and biodiversity to monitor and manage critical habitats and species. With new biodiversity indicators, monitoring capabilities, and the longer-term build-out of interactive dashboards, GFW Biodiversity will supply the information needed to assess and help countries reach international binding biodiversity commitments.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <header>
              <h2>Deforestation Finder App</h2>
              <div class="icon"><svg><use xlink:href="#shape-landsat"></use></svg></div>
            </header>
            <div class="content">
              <p>Help make GFW’s tree cover loss alerts more reliable by analyzing satellite images and telling the world what you see.</p>
            </div>
            <footer>
              <span class="btn soon">coming soon</span>
              <small>Source: World Resources Institute</small>
            </footer>
            <div class="description">
              <div class="additional-info">
                <h2>Deforestation Finder App</h2>
                <p>Sometimes the human eye is more powerful at spotting deforestation than computer algorithms. This simple app displays recent satellite images from areas with recent tree cover loss alerts and asks users to tell us what they see. User contributions can help us figure out which alerts are most concerning and require action on the ground.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <header>
              <h2>Forest Watcher Mobile App</h2>
              <div class="icon"><svg><use xlink:href="#shape-globe-mobile"></use></svg></div>
            </header>
            <div class="content">
              <p>Use your mobile device to access and collect data about what's happening to forests near you.</p>
            </div>
            <footer>
              <span class="btn soon">coming soon</span>
              <small>Source: Jane Goodall Institute, Google, TouchLab, and World Resources Institute</small>
            </footer>
            <div class="description">
              <div class="additional-info">
                <h2>Forest Watcher Mobile App</h2>
                <p>This easy-to-use app enables anyone with limited Internet connectivity to find GFW alerts in their forests and upload observations like photos and other data from the field.  The Jane Goodall Institute, in partnership with Global Forest Watch, Google, and TouchLab, is currently piloting this app in Uganda to improve local forest monitoring.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 -->
</div>
<div id="cut"></div>
<section id="interestingView" class="interesting-section"></section>
