<div class='inner container-inner'>
  <div id="feedback-thanks">
    <h1>Feedback provided successfully</h1>
    <p><strong>Thank you</strong> for your feedback, we'll take into consideration your comment.</p>
    <p>We're taking you back to <strong>Get Involved</strong> now.</p>
  </div>
</div>
<script type="text/javascript">
  window.setTimeout(function(){
    window.location.href = "/getinvolved";
  }, 5000);
</script>
