<section class="header-static">
  <div class='inner'>
    <header id="feedback-thanks">
      <h2>Feedback provided successfully</h2>
      <p><strong>Thank you</strong> for your feedback! We'll take your comment into consideration.</p>
      <p>We're taking you back to <strong>Get Involved</strong> now.</p>
    </header>
  </div>
</section>

<script type="text/javascript">
  window.setTimeout(function(){
    window.location.href = "/getinvolved";
  }, 10000);
</script>
