<section class="header-static">
    <div class="inner">
      <header>
        <h2><%= @title %></h2>
        <h3>This website is optimized for these browsers. Please upgrade to a supported browser and try loading the website again.</h3>
      </header>
      <ul class="row row3">
        <li><a href="https://www.google.com/intl/en/chrome/browser/" class="btn with-icon white uppercase">Chrome 19 <svg class="icon-chrome"><use xlink:href="#icon-chrome"></use></svg></a></li>
        <li><a href="http://www.mozilla.org/en-US/firefox/all/" class="btn with-icon white uppercase">Firefox 12 <svg class="icon-firefox"><use xlink:href="#icon-firefox"></use></svg></a></li>
        <li><a href="http://www.apple.com/safari" class="btn with-icon white uppercase">Safari 5 <svg class="icon-safari"><use xlink:href="#icon-safari"></use></svg></a></li>
        <li><a href="http://www.opera.com/" class="btn with-icon white uppercase">Opera 11 <svg class="icon-opera"><use xlink:href="#icon-opera"></use></svg></a></li>
        <li><a href="http://windows.microsoft.com/en-us/internet-explorer/ie-10-worldwide-languages" class="btn with-icon white uppercase">Internet Explorer 10 <svg class="icon-IE"><use xlink:href="#icon-IE"></use></svg></a></li>
      </ul>
    </div>
</section>

<%= render 'shared/svg_supported_browsers' %>
