<% content_for :js do %>
  <script>
    $(function() {
      cdb.init(function() {
        window.accept_terms = new gfw.ui.view.Terms();
      });
    });
  </script>
<% end %>

<% content_for :title do %>
  <h1 class='header-title'>Oops, your browser isn't supported.</h1>
<% end %>

<div class='inner container-inner<%= action_name == "old" ? " not_supported" : "" %>'>

  <p>This website is optimized for <a href="https://www.google.com/intl/en/chrome/browser/">Chrome 19</a>, <a href="http://www.mozilla.org/en-US/firefox/all/">Firefox 12</a>, <a href="http://www.apple.com/safari">Safari 5</a>, <a href="http://www.opera.com/">Opera 11</a>, <a href="http://windows.microsoft.com/en-us/internet-explorer/ie-10-worldwide-languages">Internet Explorer 10</a> or newer.</p>

  <p>Please upgrade to a supported browser and try loading the website again.</p>

</div>
