<div class="message">
  <div class="content">
    <h1 class="title">Oops, your browser isn't supported.</h1>
    <p class="subtitle"><span>This website is optimized for <a href="https://www.google.com/intl/en/chrome/browser/">Chrome 19+</a>, <a href="http://www.getfirefox.com/">Firefox 12+</a>, <a href="http://www.apple.com/safari">Safari 5+</a>, <a href="http://www.opera.com/">Opera 11+</a>, <a href="http://windows.microsoft.com/en-us/internet-explorer/downloads/ie-9/worldwide-languages">Internet Explorer 9+</a> or newer.</p>
      <p>Please upgrade to a supported browser and try loading the website again.</span> </p>
  </div>
</div>
