<div class="narrow_column">
  <div class="header_block">
    <ul class="header_block-body">
      <h1 class="header_block-title">Data sources</h1>
      <p class="header_block-description">Global Forest Watch hosts a wealth of data relating to forests. Some data have been developed by WRI or by GFW partner organizations. Other data are in the public domain and have been developed by governments, NGOs, and companies. The data vary in accuracy, resolution, frequency of update, and geographic coverage. The summaries below include links to further information such as methods and technical documents.  Full download of the data sets is available for almost all sources.</p>
    </ul>

    <ul class="header_block-footer">
      <li>
        <%= link_to "Download by country #{content_tag(:i)}".html_safe, countries_path %>
      </li>

      <li>
        <a href="mailto:gfw@wri.com">Missing a data set?<i></i></a>
      </li>

      <li>
        <a href="https://groups.google.com/forum/#!forum/globalforestwatch" target="_blank">Join the discussion<i></i></a>
      </li>
    </ul>
  </div>
</div>

<%= render 'common/sources' %>
