<div class="narrow_column">
  <div class="header_block">
    <ul class="header_block-body">
      <h1 class="header_block-title">Data sources</h1>
      <p class="header_block-description">Global Forest Watch hosts a wealth of data relating to forests. Some data have been developed by us or partner organizations. Other data are in the public domain and have been developed by governments, NGOs, and companies. The data may come in a variety of forms and vary greatly in terms of accuracy, resolution, timeliness, and geographic extent. Use the summaries below to learn more and find links to methodologies, technical documents, and data downloads.</p>
    </ul>

    <ul class="header_block-footer">
      <li>
        <%= link_to "Download by country #{content_tag(:i)}".html_safe, countries_path %>
      </li>

      <li>
        <a href="mailto:gfw@wri.com">Missing a dataset?<i></i></a>
      </li>

      <li>
        <a href="mailto:gfw@wri.com">Questions?<i></i></a>
      </li>
    </ul>
    <a href="/#close" class="close">x</a>
  </div>
</div>

<%= render 'common/sources' %>
