<div class='terms-container'>
  <div class='terms-inner notranslate'>
  <header>
    <h2>
      <span>Global Forest Watch</span>
      <span>Terms of Service</span>
    </h2>
    <h3>
      <span>World Resources Institute</span>
      <span>10 G Street NE, Suite 800</span>
      <span>Washington, DC 20002</span>
    </h3>
  </header>

  <p>The World Resources Institute ("WRI") and its suppliers (together with WRI, sometimes referred to as "We" or "Us") make this Global Forest Watch site and the contents you and/or your company or organization (sometimes referred to as "You" or "Your") may access through it (the "Site") available to You under these Global Forest Watch Terms of Service (<strong>"Terms"</strong>).</p>

  <p>By using this Site, you agree to these Terms.</p>

  <ol class='-decimal'>
    <!-- USING GFW -->
    <li>
      <h3>Using GFW</h3>
      <ol class='-alphabetically'>
        <li>We provide You with access to the Site and its content in order to better manage forest usage and to access up-to-date information on the status of the world's forests. Your use of the Site does not give You any ownership rights in the intellectual property of the Site or in its contents.  You agree to use the Site and its contents only for lawful purposes and not to defame, harass or threaten any one or to make available any obscene, pornographic or offensive material. You agree that in using the Site You will not damage or impair the Site or anyone else's use of the Site.</li>

        <li>Except for items that are identified as being subject to additional restrictions, You may use the Site and its content, and copy, adapt and distribute the content to others under this <a href="http://creativecommons.org/licenses/by/4.0/legalcode" target="_blank">license</a>.</li>

        <li>You are solely responsible for Your use of the Site and all activity that occurs under Your account.  You agree to indemnify, hold harmless and, at our request, defend Us and our related persons from all liability arising from Your use of the Site, Your User Content (as defined below), or Your violation of these Terms.  We may suspend access to the Site if We suspect You or those using Your account are violating these Terms.</li>

        <li>You can stop using the Site and its contents at any time, and We can cease providing the Site and its contents at any time.</li>

        <li>We may change these Terms from time to time to reflect changes in the law and Site.  You should review these Terms regularly for any changes.  If You don't agree with a change in the Terms, You should stop accessing and using the Site.</li>
      </ol>
    </li>

    <li>
      <h3>Third Party Terms</h3>
      <p>The Site incorporates data and information from others, including You. While we may review any content, and remove it if we believe it violates the law, these Terms or our policies, We do not commit to review all content, and You should not rely on Us to do so.</p>
    </li>

    <li>
      <h3>Your Content</h3>
      <ol class='-alphabetically'>
        <li>You may submit data, material, ideas and other information to Us for posting on the Site (“<strong>User Content</strong>”).</li>
        <li>You retain ownership to all of Your User Content that You contribute to the Site, but by submitting Your User Content, You allow Us and all other users of the Site throughout the world to use, adapt and make Your User Content available to others, without any obligation to You, even if You stop using the Site.</li>
      </ol>
    </li>



    <li>
      <h3>Disclaimers and Limitations</h3>
      <ol class='-alphabetically'>
        <li>YOU AGREE THAT YOUR USE OF THE SITE AND ITS CONTENT IS AT YOUR SOLE RISK. WE MAKE NO PROMISES OR COMMITMENTS ABOUT THE SITE OR ITS CONTENT, AND THE SITE AND CONTENT ARE PROVIDED ON AN “AS IS” BASIS AND WITHOUT WARRANTIES OR REPRESENTATIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED.  TO THE FULLEST EXTENT PERMITTED BY LAW, WE DISCLAIM ALL WARRANTIES, STATUTORY, EXPRESS OR IMPLIED, INCLUDING IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT</li>

        <li>UNDER NO CIRCUMSTANCES WILL WE BE LIABLE FOR ANY SPECIAL, INDIRECT, INCIDENTAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES (INCLUDING WITHOUT LIMITATION, LOSS OF PROFITS, DATA, OR USE OR COST OF COVER) RESULTING FROM YOUR USE OR THE INABILITY TO USE THE SITE OR ITS CONTENTS, EVEN IF WE WERE AWARE OF THE POSSIBILITY OF SUCH DAMAGES.  IN NO EVENT WILL WE HAVE ANY LIABILITY TO YOU FOR ALL CLAIMS OR DAMAGES FOR ANY REASON IN EXCESS OF ONE HUNDRED DOLLARS ($100 USD). CERTAIN JURISDICTIONS DO NOT ALLOW EXCLUSIONS OR LIMITATIONS ON IMPLIED WARRANTIES OR LIMITATIONS ON LIABILITY, AND THEREFORE SOME OR ALL OF THE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS.</li>
      </ol>
    </li>

    <li>
      <h3>Copyright Protection</h3>
      <p>If You are a copyright owner or an agent thereof, and believe that any content on the Site infringes Your copyrights, You may send a notice in writing to World Resources Institute Tel: + 1 (202) 729-7600 E-mail: <a href="mailto:gfw@wri.org" target="_blank">gfw@wri.org</a> with the following information:</p>
      <ol class='-alphabetically'>
        <li>Your signature as a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;</li>
        <li>Identification of the exact location on the Site of copyrighted work claimed to have been infringed, or, if multiple copyrighted works on the Site are covered by a single notification, a representative list of such works as located on the Site;</li>
        <li>The address, telephone number, and e-mail address of the complaining party;</li>
        <li>A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and</li>
        <li>A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
      </ol>
    </li>

    <li>
      <h3>Additional Terms</h3>
      <ol class='-alphabetically'>
        <li>The laws of the State of New York, U.S.A., excluding New York's conflict of laws provisions, apply to any dispute about the Site, its content or these Terms. The U.N. Convention on Contracts for the International Sale of Goods doesn't apply. All claims arising out of or relating to these Terms will be litigated exclusively in the courts in and for New York City, New York, USA, and You consent to the personal jurisdiction of those courts.</li>

        <li>If we do not promptly enforce the Terms, We have not given up any other rights or the right to enforce them or other Terms in the future. </li>
        <li>If any particular provision of these Terms is not enforceable, that doesn't affect the enforceability of any other provision of the Terms. </li>
        <li>These Terms are between You and Us, and no one else can enforce them.</li>
        <li>These Terms are the entire statement of the agreement between You and Us regarding the Site and its contents.</li>
      </ol>
    </li>
  </ol>
</div>
</div>
