<% content_for :header do %>
  <h1>
    <a href="/">
      Global Forest Watch
      <span class="ribbon"><span>Beta</span></span>
    </a>
  </h1>
  <a class="javascript-back" href="javascript:history.back()">Close <svg><use xlink:href="#shape-close"></use></svg></a>
<% end %>

<div class='terms_file'>
  <%= render 'terms' %>
</div>
