<% content_for :header do %>
  <h1 class="header-title"><a href="/"><%= 'Terms of Service'.html_safe %></a></h1>
  <a class="terms-link-close" href="javascript:history.back()">Close <svg><use xlink:href="#shape-close"></use></svg></a>
<% end %>

<div class='terms-container'>
  <%= render 'terms' %>
</div>
