<% content_for :js do %>
  <script>
    $(function() {
      cdb.init(function() {
        window.accept_terms = new gfw.ui.view.Terms();
      });
    });
  </script>
<% end %>

<% content_for :title do %>
  <h1 class='header-title'>Terms of Service</h1>
<% end %>

<%= render 'shared/terms' %>