<% content_for :header do %>
  <h1 class="header-title"><%= 'Terms of Service'.html_safe %></h1>
  <nav id="nav-mobile">
    <form class="mobile-show" action="/search">
      <svg class="icon"><use xlink:href="#shape-search"></use></svg>
      <input type="text" name="query" id="search-input" placeholder="Search GFW website">
    </form>
    <div id="google_translate_element_box2"></div>
    <div id="mobileMenu"></div>
  </nav>
<% end %>

<div class='terms_file'>
  <%= render 'terms' %>
</div>
