@import '~styles/settings';
$subnav-height: rem(40px);

.theme-subnav-small-light {
  height: $subnav-height;

  .buttons {
    padding: 0;

    li {
      width: auto;
      max-width: none;
      border-left: 0 !important;
      border-right: 0 !important;

      > * {
        padding: 0 rem(26px);
        border-radius: 0;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;

        &.active {
          border-left: 1px solid rgba($slate, 0.2);
          border-right: 1px solid rgba($slate, 0.2);
        }
      }

      &:first-child > *.active {
        border-left: 1px solid transparent;
      }
    }
  }
}
