@import '~styles/settings';
$black-menu: #404040;
$subnav-height-dark: rem(40px);

.theme-subnav-dark {
  background-color: $black-menu;
  height: $subnav-height-dark;

  .buttons {
    height: $subnav-height-dark;

    li {
      border-right: 0;
      background-color: $white;
      max-width: 100%;
      width: auto;

      > a {
        background-color: $black-menu;
        color: #9f9f9f;
        text-transform: uppercase;
        font-size: rem(13px);
        border-radius: 0;
        padding: 0 rem(15px);

        &.active {
          background-color: $white;
        }
      }

      span {
        margin-top: 0;
      }

      &:first-child {
        border-left: 0;
      }
    }
  }
}
