body {
  padding: 0;
  margin: 0;
  font-family: $font-family-1;
  font-weight: normal;
  line-height: 1.5;
  color: $slate;
  background: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
