@import './settings.scss';

table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 1.563rem;
}

th,
td {
  padding: 0.5rem 0.5rem 0.5rem 0;
  margin: 0;
}

th {
  font-weight: 400;
  text-align: left;
  border-bottom: 1px solid #d8d8d8;
}

td {
  border-bottom: 1px solid #eaeaea;
}
