/* stylelint-disable */
@import '~styles/settings.scss';

@mixin tippy-arrow($color, $orientation) {
  border-top-color: $color;
  border-left-color: $color;
  border-right: none;
  transform-origin: 0 0;
  transform: rotate(-45deg);
  @if $orientation == 'top' {
    box-shadow: -2px 2px 2px 0 rgba($slate, 0.1);
  } @else if $orientation == 'bottom' {
    top: 0;
    box-shadow: 1px -2px 3px 0 rgba($slate, 0.1);
  }
}

body .tippy-popper[x-placement^=top] .tippy-tooltip.light-theme [x-arrow] {
  @include tippy-arrow($white, 'top');
}
body .tippy-popper[x-placement^=bottom] .tippy-tooltip.light-theme [x-arrow] {
  @include tippy-arrow($white, 'bottom');
}
body .tippy-popper[x-placement^=top] .tippy-tooltip.tip-theme [x-arrow] {
  @include tippy-arrow($tip, 'top');
}
body .tippy-popper[x-placement^=bottom] .tippy-tooltip.tip-theme [x-arrow] {
  @include tippy-arrow($tip, 'bottom');
}

.tippy-popper .tippy-tooltip {
  padding: 0;

  &.tip-theme {
    box-shadow: 0 1px 3px 0 rgba($slate, 0.25);
  }
}
