@import '~styles/settings';

.theme-search-light {
  .input {
    background-color: rgba($slate, 0.08);
    color: $slate;

    &::placeholder {
      color: rgba($slate, 0.5);
      text-transform: uppercase;
    }
  }

  .icon {
    fill: $slate;
  }
}
