@import '~styles/settings.scss';

.c-map-attributions {
  display: none;
  align-items: center;
  justify-content: flex-end;

  @media screen and (min-width: $screen-m) {
    display: flex;
  }

  > * {
    margin-left: rem(15px);
  }

  a,
  span {
    color: $map-grey;
    font-size: rem(10px);

    &:hover {
      color: $map-grey;
    }
  }

  .mapbox-logo {
    width: auto;
    height: rem(20px);
    display: inline-block;
    vertical-align: middle;
  }
}
