@import '~styles/settings.scss';

.c-widgets {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  padding: rem(20px) $mobile-gutter rem(30px) $mobile-gutter;
  min-width: 100%;

  @supports not (display: grid) {
    > div {
      width: 100%;
      margin-bottom: rem(30px);

      @media screen and (min-width: $screen-l) {
        width: calc(50% - 15px);
        margin-bottom: rem(30px);

        &.large {
          width: 100%;
        }
      }
    }
  }

  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    grid-auto-flow: dense;

    @media screen and (min-width: $screen-l) {
      grid-template-columns: 1fr 1fr;

      .large {
        grid-column-end: span 2;
      }
    }
  }

  @media screen and (min-width: $screen-m) {
    padding-left: $desktop-gutter;
    padding-right: $desktop-gutter;
  }

  @media screen and (min-width: $screen-l) {
    padding-top: rem(30px);
    padding-right: rem(30px);
  }

  .no-widgets-message {
    border: solid 1px rgba($medium-grey, 0.2);
    border-radius: 4px;
    position: relative;
    min-height: rem(460px);
  }

  .widgets-loader {
    position: relative;
    min-height: rem(460px);
  }

  &.simple {
    display: flex;
    padding: rem(15px) 0;
    border-top: solid 1px #e5e5df;

    > div {
      width: 100%;
      padding-bottom: rem(15px);
      margin-bottom: rem(15px);
      border-bottom: solid 1px $border;

      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }

  &.no-widgets {
    border-top: 0;
    padding: 0;
  }
}
