language: ruby

before_install:
  - gem update bundler

script: bundle exec rake travis

matrix:
  include:
    - rvm: 1.8.7
      gemfile: gemfiles/Gemfile.1.8.7
    - rvm: 1.9.2
      gemfile: gemfiles/Gemfile.1.9.2-
      env: COVERAGE=true
    - rvm: 1.9.3
      gemfile: gemfiles/Gemfile.1.9.2+
      env: COVERAGE=true
    - rvm: 2.0.0
      gemfile: Gemfile
      env: COVERAGE=true
    - rvm: 2.1.1
      gemfile: Gemfile
      env: COVERAGE=true
    - rvm: 2.2.0
      gemfile: Gemfile
      env: COVERAGE=true
    - rvm: 2.3.0
      gemfile: Gemfile
      env: COVERAGE=true
    - rvm: jruby
      gemfile: gemfiles/Gemfile.1.9.2+
      env: COVERAGE=true
