.reset-btn{
  -webkit-appearance: none;
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
  text-align: center;
  cursor: pointer;
}

// Btn
.btn {
  @extend .reset-btn;
  background: $border;
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 0px 12px;
  border-radius: 40px;
  font-size: 14px;
  text-decoration: none;
  height: 30px;
  line-height: 32px;
  text-align: center;
  font-family: $font-light;

  &:hover {
    background: $cGreen;
  }

  // Sizes
  &.medium{
    font-size: 18px;
    text-transform: uppercase;    
    padding: 0px 35px;
  }
  &.huge{
    font-size: 21px;
    text-transform: uppercase;
    height: 38px;
    line-height: 44px;
    padding: 0px 20px;
  }

  // Colors
  &.dark{
    color: $white;
    background: $dark;
    &:hover {
      background: darken($dark,5%);
    }
  }
  &.gray{
    color: $dark;
    background: #EEEEEE;
    &:hover {
      background: darken(#EEEEEE,5%);
    }
  }
  &.light{
    color: $white;
    background: #CBCCBF;
    &:hover {
      background: darken(#CBCCBF,5%);
    }
  }
}














// Btn arrow
.btn-arrow {
  -webkit-appearance: none;
  background: $border;
  border: none;
  outline: none;
  display: block;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 50%;
  @include transition(all .25s $easeInOutCubic);
  @include transform(translate(-50%,-50%));
  svg {
    fill: none;
    stroke: $white;
  }

  &:hover {
    background: $cGreen;
  }
}
