%reset-btn {
  -webkit-appearance: none;
  border: 1px solid transparent;
  background: none;
  outline: none;
  box-shadow: none;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-family: "Fira GFW Sans", "Fira Sans";
  font-feature-settings: "liga" 0;
}

// Btn
.btn {
  @extend %reset-btn;
  background: $border;
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 0px 12px;
  border-radius: 40px;
  font-size: 14px;
  text-decoration: none;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  transition: background .15s linear;

  &:hover {
    background: $cGreen;
    text-decoration: none !important;
  }

  &.lowercase { text-transform: lowercase;}
  &.uppercase { text-transform: uppercase;}

  // Sizes
  &.medium {
    // font-size: 18px;
    text-transform: uppercase;
    padding: 0px 35px;
  }

  &.huge {
    font-size: 18px;
    text-transform: uppercase;
    height: 38px;
    line-height: 40px;
    padding: 0px 20px;
    @media (min-width: $br-mobile) {
      font-size: 21px;
    }
  }

  &.huge-padding {
    height: 48px;
    line-height: 50px;
    padding: 0 50px;
  }

  &.little{
    font-size: 10px;
    text-transform: uppercase;
    height: 25px;
    line-height: 24px;
  }

  &.full-width{
    display: block;
    width: 100%;
  }

  &.lines{
    line-height: 1;
    white-space: normal;
    height: auto;
    line-height: 1;
    padding: 10px;
  }


  // Colors
  &.dark {
    color: $white;
    background: $dark;
    &:hover {
      background: darken($dark,25%);
    }
  }

  &.white {
    color: $dark;
    background: $white;
    &:hover {
      background: darken($white,10%);
    }
  }

  &.gray {
    color: $dark;
    background: $white;
    border-color: $cGreen;
    &:hover {
      background: darken($white,5%);
    }
  }

  &.green {
    color: $white;
    background: $cGreen;
    &:hover {
      background: darken($cGreen,10%);
    }
    &.disabled{
      &:hover {
        background: $cGreen;
      }
    }
  }

  &.red {
    color: $white;
    background: $red;
    &:hover {
      background: darken($red,10%);
    }
    &.disabled{
      &:hover {
        background: $red;
      }
    }
  }

  &.light {
    color: $white;
    background: #CBCCBF;
    &:hover {
      background: darken(#CBCCBF,5%);
    }
  }

  &.light2 {
    color: $dark;
    background: $border;
    font-weight: 400;
    &:hover {
      background: darken($border,5%);
    }
  }

  &.soon {
    color: #ccc;
    background: none;
    font-weight: 400;
    text-transform: uppercase;
    cursor: default;
  }

  &.disabled{
    opacity: 0.25;
    cursor: default;
  }

  &.invisible{
    display: none;
  }

  &.with-icon{
    min-width: 0;
    @media (min-width: $br-mobile) {
      padding-right: 36px;
    }
    svg {
      width: 26px;
      height: 26px;
      position: absolute;
      top: 50%;
      right: 5px;
      fill: $dark;
      transform: translate(0,-50%);
    }
  }

  &.with-inline-icon {
    svg {
      width: 16px;
      height: 16px;
      padding: 3px;
      position: relative;
      top: 3px;
      fill: $white;
      background: $cGreen;
      border-radius: 50%;
      margin: 0 0 0 5px;
    }
  }

  &.with-center-icon{
    min-width: 0;
    span{
      position: relative;
      padding-right: 25px;
    }
    svg{
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      right: 0;
      fill: $white;
      transform: translate(0px,-50%);
    }
  }
}





// Call to action buttons
.btn-cta {
  @extend %reset-btn;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 0;
  color: $white;
  background: $cGreen;
  cursor: pointer;

  span {
    display: block;
    font-size: 21px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  svg {
    display: block;
    width: 50px;
    height: 50px;
    padding: 8px;
    margin: 0 20px 0 0;
    border: 3px solid $white;
    border-radius: 50%;
    fill: $white;
  }

  &:hover {
    background: lighten($cGreen,5%);
  }
}





// Button containers
.m-btncontainer {
  display: flex;
  align-items: center;

  // Justify
  &.is-flex-start {
    justify-content: flex-start;
    > * {
      margin: 0 0 0 10px;

      &:first-child {
        margin: 0;
      }
    }
  }

  &.is-flex-end {
    justify-content: flex-end;
  }

  &.is-center {
    justify-content: center;

    > * {
      margin: 0 0 0 10px;

      &:first-child {
        margin: 0;
      }
    }
  }

  &.is-space-between {
    justify-content: space-between;
  }

  &.-fix-width-220 {
    > * {
      width: 220px;
    }
  }

  &.-mobile {
    @media (max-width: $br-mobile - 1) {
      flex-wrap: wrap;
      > * {
        width: 100%;
        margin: 15px 0 0;

        &:first-child {
          margin: 0;
        }
      }
    }
  }

  // Sizes
  &.-col50 {
    > * {
      width: 47.5%;
    }
  }

  &.-col100 {
    > * {
      width: 100%;
    }
  }

  // Steps
  &.is-steps {
    .btn {
      display: none;

      &.is-active {
        display: block;
      }
    }
  }
}
