.m-card {
	position: relative;
	width: 100%;
	background: $white;
	padding: 0px 15px 15px;
	border: 1px solid $border;
  @media (min-width: $br-mobile) {
		padding: 0px 30px 30px;
  }


	svg {
		width: 80px;
		height: 80px;
		margin: 0 0 20px;
	  @media (min-width: $br-mobile) {
			width: 100px;
			height: 100px;
			margin: 0 0 30px;
	  }
	}


	h3 {
		margin: 0 0 10px;
    white-space: normal;
    color: $cGreen;
    line-height: 1.25;
    text-transform: uppercase;

	  @media (min-width: $br-mobile) {
			margin: 0 0 18px;
			font-size: 21px;
	  }
	}

	p {
		&.-uppercase {
			text-transform: uppercase;
		}		
	}

	// Default
	&.-default {
		padding: 0;
		border: 0;
		margin: 30px 0 0;
		
		&:first-child {
			margin: 0;
		}

	  @media (min-width: $br-mobile-portrait) and (max-width: $br-mobile - 1){
			width: 50%;
			margin: 0;
			&:nth-child(n+3) {
				margin: 45px 0 0;
			}
	  }

	  @media (min-width: $br-mobile) {
			width: 25%;
			margin: 0;
	  }

		p {
			max-width: 80%;
		}
	}


	// Atlas
	&.-atlas {
		width: 100%;
		padding: 0px 15px 15px;
	  @media (min-width: $br-mobile) {
			width: calc(100% - 30px);
			margin: 0 auto; 
			padding: 0px 30px 30px;
	  }

		p {
			font-size: 14px;
			max-width: none;
			white-space: normal;
			line-height: 1.5;
		}

		.img {
			margin: 0 -15px 20px;
			padding-bottom: 50%;
			background: image-url('thumbnail-post.png');
			background-size: cover;
		  @media (min-width: $br-mobile) {
				margin: 0 -30px 30px;
		  }
		}		
	}

	// Gallery
	&.-gallery {
		margin: 15px 0 0;

	  @media (min-width: $br-mobile-portrait) and (max-width: $br-mobile - 1) {
			width: calc(50% - 20px);
			margin: 30px 0 0 30px;
			&:nth-child(2n+1) {
				margin: 30px 0 0;
			}
	  }


	  @media (min-width: $br-mobile) {
			width: calc(33.3333% - 30px);
			margin: 45px 0 0 45px;
			&:nth-child(3n+1) {
				margin: 45px 0 0;
			}
	  }


		p {
			font-size: 14px;
			max-width: none;
			white-space: normal;
			line-height: 1.5;
	    color: #9b9b9b;
	    font-weight: 500;			
		}

		.img {
			margin: 0 -15px 15px;
			padding-bottom: 50%;
			background: image-url('thumbnail-post.png');
			background-size: cover;
		  @media (min-width: $br-mobile) {
				margin: 0 -30px 30px;
		  }			
		}				
	}

	// Submit
	&.-submit {
		background: $cGreen;
		min-height: 250px;

		.-center {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}

		svg {
			display: block;
			width: 50px;
			height: 50px;
			margin: 0 auto 25px;
			fill: $white;
		}

		h3 {
			color: $white;
			text-align: center;
		}

	}
}