.circle {
  $width: 318px;
  position: absolute;
  top: -160px; left: 50%;
  width: 318px;
  height: 318px;
  margin-top: -1*$width/2;
  margin-left: -1*$width/2;
  @include opacity(0);
  @include home-icons-sprite(circle);
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.circle-inner {
  position: relative;
  top: 100px;
  width: 100%;
}

.circle-icon {
  position: absolute;
  z-index: 1000;
  top: 25px; right: 25px;
  height: 74px;
  width: 74px;
  background: image-url('home-icons/green_circle.png') no-repeat 50% 50%;
  @include background-size(10%);
  @include opacity(0);

  i {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
  }

  &.flag i {
    margin: -14px 0 0 -13px;
    width: 26px;
    height: 28px;
    @include home-icons-sprite(flag);
  }

  &.area i {
    margin: -17px 0 0 -18px;
    width: 36px;
    height: 34px;
    @include home-icons-sprite(area);
  }

  &.breaking i {
    margin: -17px 0 0 -26px;
    width: 52px;
    height: 34px;
    @include home-icons-sprite(breaking);
  }
}


.circle-title,
.circle-description {
  margin: 10px auto 0;
  width: 195px;
  font-size: 15px;
  line-height: 18px;

  color: #fff;
}

.circle-counter {
  text-align: center;
  font-weight: 300;
  font-size: 67px;
  @extend .serif;
  color: #97Bd3d;
}

.fake_title {
  display: table;
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;

  .circle-counter {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    padding: 0 50px;
    font-size: 27px;
    color: #fff;
  }
}

.circle-explore {
  position: relative;
  top: -58px;
  font-weight: 500;
  font-size: 13px;

  text-transform: uppercase;
  text-align: center;
  color: #fff;
  @include opacity(0);
  cursor: pointer;
}

.circle-background {
  position: absolute;
  top: -100px; left: 0;
  width: 250px;
  height: 250px;
  margin-top: 35px;
  margin-left: 35px;
  @include home-icons-sprite(four_arrows);
  @include opacity(0);
  cursor: pointer;
}

.draw {
  position: absolute;
  top: 20px; left: 70px;
  z-index: 100;
}
