/**
 * Dialog module.
 * @div
 */
.m-dialog {
  // display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000001;
  @include transition(opacity 1s ease);
}

/**
 * Dialog background.
 * @div
 */
.m-dialog-background {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000002;
  padding: 50px 10px;
  background: white;
  opacity: .8;

  * {
    box-sizing: border-box;
  }

  overflow-x: auto;
  overflow-y: scroll;
}

/**
 * Dialog wrapper. The visible box of the dialog.
 * @div
 */
.m-dialog-wrapper {
  @include transition(opacity 1s ease);
  position: absolute;
  z-index: 99999999;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 550px;
  padding: 30px 50px 40px 50px;
  color: #333;
  font-size: 14px;

  border: 1px solid #777;
  color: #999;
  background: #fff;

  @include border-radius(3px);
  @include box-shadow(0px 0px 3px #999);
  @include box-sizing(border-box);

  input {
    width: 100%;
    box-sizing: border-box;
  }
}

/**
 * Dialog header.
 * @div
 */
.m-dialog-header {
  display: block;
  margin-bottom: 20px;

  // @h2
  .title {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 32px;
    color: #333;
    font-weight: 400;
    text-align: center;
  }

  // span
  .close-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
    line-height: 1;
    color: #ccc;
    cursor: pointer;

    &:hover {
      color: #bbb;
    }
  }
}

/**
 * Dialog content.
 * @div
 */
.m-dialog-content {
  padding: 0 0 20px 0;
}

/**
 * Dialog footer.
 * @div
 */
.m-dialog-footer {
  text-align: right;
}
