.field {
  margin: 0 0 25px;
  position: relative;
  clear: both;
}

.field_with_errors {
  label {
    color: #C12000;
  }

  input[type="text"],
  input[type="email"] {
    border: 1px solid #C12000;
  }

  p {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 12px;
    color: #C12000;
    text-transform: uppercase;
  }
}

label {
  float: left;
  color: #333;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

input[type="password"],
input[type="text"],
input[type="date"],
input[type="email"],
textarea {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  margin: 5px 0;
  font-size: 14px;
  @include border-radius(3px);
  outline: none;
}

textarea {
  height: 182px;
}

.field {
  @include clearfix();
  width: 582px;

  &.short {
    width: 304px;

    input[type="text"],
    input[type="date"],
    input[type="email"] {
      width: 100%;
    }
  }

  &.required {
    span {
      float: right;
      font-size: 13px;
      color: #666;
    }
  }
}
