$label-width: 85px;


input[type="password"],
input[type="text"],
input[type="date"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  border: 1px solid $border;
  padding: 10px;
  margin: 0;
  font-size: 14px;
  border-radius: 4px;
  outline: none;
  &:focus {
    border-color: darken($border,10%);
  }
}

/**
 * Field
 */
.field {
  @include clearfix();
  position: relative;  
  width: 100%;
  margin: 0 0 25px;
  @media (min-width: $br-mobile) {
    padding: 0px 0px 0px $label-width;
  }

  label {
    padding: 0 15px 0 0;
    width: 100%;
    color: $dark;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    text-align: right;
    line-height: 1.5;
    @media (min-width: $br-mobile) {
      width: $label-width;
      position: absolute;
      left: 0;
      top: 12px;
    }

    &.-has-hint {
      top: 1px;
    }
  }

  textarea {
    height: 182px;
    max-width: 100%;
  }

  > p {
    color: $dark;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 15px;

    &.-terms {
      font-size: 10px;
      margin: 5px;
    }
  }

  // STATES
  &.-short {
    input[type="password"],
    input[type="text"],
    input[type="date"],
    input[type="email"],
    textarea {
      max-width: 400px;
    }
  }

  &.-with-errors {
    label {
      color: $red;
    }

    input[type="text"],
    input[type="email"] {
      border: 1px solid $red;
    }

    p {
      margin-bottom: 25px;
      font-weight: 500;
      font-size: 12px;
      color: $red;
      text-transform: uppercase;
    }    
  }
}


/**
 * Radio
 */
.radio-box {
  @include clearfix();
  @include display-flex();
  @include justify-content(center);
  padding: 15px 0;

  .custom-radio {
    margin: 0 0 0 20px;
    &:first-child {
      margin: 0;
    }
  }

  label {
    font-weight: 400;
    text-transform: none;
    position: relative;
    padding-left: 25px;
    line-height: 28px;
    cursor: pointer;

    span{
      position: absolute;
      top: 50%;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid $dark;
      border-radius: 50%;
      @include transform(translate(0,-50%));
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        height: 50%;
        border-radius: 50%;
        background: $cGreen;
        display: none;
        @include transform(translate(-50%,-50%));
      }
    }
  }

  input[type=radio] {
    display: none;
  }

  input[type=radio]:checked + label {
    span{
      &:after {
        display: block;
      }
    }
  }
}


/**
 * Checkbox
 */
.checkbox-box {
  @include clearfix();
  @include display-flex();
  @include justify-content(center);
  padding: 15px 0;

  .custom-radio {
    margin: 0 0 0 20px;
    &:first-child {
      margin: 0;
    }
  }

  label {
    font-weight: 400;
    text-transform: none;
    position: relative;
    padding-left: 25px;
    line-height: 28px;
    cursor: pointer;

    span{
      position: absolute;
      top: 50%;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid $dark;
      @include transform(translate(0,-50%));
      
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        height: 50%;
        background: $cGreen;
        display: none;
        @include transform(translate(-50%,-50%));
      }
    }
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked + label {
    span{
      &:after {
        display: block;
      }
    }
  }
}

