#guide-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;

  &.-active {
    opacity: 1;
    visibility: visible;
  }

  // Masks
  .mask {
    background-color: black;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.5;
    z-index: 2;

    &.-transparent {
      background-color: transparent;
      height: 100%;
      opacity: 0;
      z-index: 0;    
    }
  }
}


.guideBubble {
  position: absolute;
  width: 100%;
  max-width: 300px;
  background-color: $white;
  padding: 30px;
  box-shadow: $shadow1;
  z-index: 3;

  .guide-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 15px;

    .step {
      text-align: center;
      font-weight: 500;
      background-color: #d6d6d9;
      color: $white;
      width: 33px;
      height: 33px;
      line-height: 36px;
      border-radius: 50%;
    }

    .btn-group {
      > .btn {
        padding: 0 20px;
        margin: 0 0 0 5px;
        &:first-child {
          margin: 0;
        }
      }
    }

    .close {
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      width: 34px;
      height: 34px;
      z-index: 20;
      cursor: pointer;
      svg {
        fill: $dark;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 20px;
        margin: auto;
      }
    }
  }

  .intro {
    font-size: 14px;
    color: $dark;
    line-height: 1.4;
    
    ul {
      list-style-type: disc;
      color: $dark;
      margin: 10px 0 0;
      
      > li{
        padding: 10px 0 0;
        margin-left: 20px;
        
        &:first-child{
          padding: 0;
        }
      }
    }

    strong {
      font-weight: 500;
    }
  }
}

.guideBubble-arrow {
  border: 5px solid white;
  content:'';
  position: absolute;
  &.top {
    left: 50%;
    transform: translate(-50%,0);
    bottom: -10px;
    border-top-color:white;
    border-right-color:transparent;
    border-bottom-color:transparent;
    border-left-color:transparent;
  }
  &.right {
    left: -10px;
    top: 10px;
    border-top-color:transparent;
    border-right-color:white;
    border-bottom-color:transparent;
    border-left-color:transparent;
  }
  &.right-bottom {
    left: -10px;
    bottom: 10px;
    border-top-color:transparent;
    border-right-color:white;
    border-bottom-color:transparent;
    border-left-color:transparent;
  }
  &.bottom {
    left: 50%;
    transform: translate(-50%,0);
    top: -10px;
    border-top-color:transparent;
    border-right-color:transparent;
    border-bottom-color:white;
    border-left-color:transparent;
  }
  &.left {
    right: -10px;
    top: 10px;
    border-top-color:transparent;
    border-right-color:transparent;
    border-bottom-color:transparent;
    border-left-color:white;
  }
  &.center {
    display: none;
  }
}

.guideTourButton {
  display: none;
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 102;
  height: 32px;
  width: 32px;
  background: #FFD24D;
  transform: translate(0,-50%);
  transform-origin: 50% 0%;
  margin: 65px 0 0;
  padding: 2px;
  cursor: pointer;
  fill: $dark;
  cursor: pointer;

  @media (min-width: $br-mobileMap){
    display: block;
  }

  &:hover {
    background: darken(#FFD24D,5%);
    .tooltipmap {
      opacity: 1;
      visibility: visible;
    }
  }

  &.is-pulse {
    @include animation(pulse_animation2,0.75s,4,$easeInOutSine);
    .tooltipmap {
      opacity: 1;
      visibility: visible;
    }
  }
}
