.guideMaskTransparent {
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0;
}

.guideMask {
    background-color: black;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    opacity: 0;
}

.guideBubble {
  position: absolute;
  width: 100%;
  max-width: 300px;
  background-color: $white;
  padding: 30px;
  box-shadow: $shadow1;

  .guide-navigation {
    @include display-flex();
    @include justify-content(space-between);
    @include align-items(center);
    margin: 0 0 15px;

    .step {
      text-align: center;
      font-weight: 500;
      background-color: #d6d6d9;
      color: $white;
      width: 33px;
      height: 33px;
      line-height: 36px;
      border-radius: 50%;
    }

    .btn-group {
      > .btn {
        padding: 0 20px;
        margin: 0 0 0 5px;
        &:first-child {
          margin: 0;
        }
      }
    }
  }

  .intro {
    font-size: 14px;
    color: $dark;
    line-height: 1.4;
  }
}

.guideBubble-arrow {
  border: 5px solid white;
  content:'';
  position: absolute;
  &.top {
    left: 50%;
    @include transform(translate(-50%,0));
    bottom: -10px;
    border-top-color:white;
    border-right-color:transparent;
    border-bottom-color:transparent;
    border-left-color:transparent;
  }
  &.right {
    left: -10px;
    top: 10px;
    border-top-color:transparent;
    border-right-color:white;
    border-bottom-color:transparent;
    border-left-color:transparent;
  }
  &.right-bottom {
    left: -10px;
    bottom: 10px;
    border-top-color:transparent;
    border-right-color:white;
    border-bottom-color:transparent;
    border-left-color:transparent;
  }
  &.bottom {
    left: 50%;
    @include transform(translate(-50%,0));
    top: -10px;
    border-top-color:transparent;
    border-right-color:transparent;
    border-bottom-color:white;
    border-left-color:transparent;
  }
  &.left {
    right: -10px;
    top: 10px;
    border-top-color:transparent;
    border-right-color:transparent;
    border-bottom-color:transparent;
    border-left-color:white;
  }
  &.center {
    display: none;
  }
}
