// STATIC PAGE
// header
.m-header-static {
  background: #333;
  color: $white;
  padding: 50px 0 50px;
  z-index: 1;
  position: relative;
  @media (min-width: $br-mobile) {
    padding: 70px 0 50px;
  }
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  header {
    font-weight: 300;
  }

  h2,h3,p {
    max-width: 1024px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
  }

  h2 {
    font-size: 60px;
    padding: 0 0 15px;
    @media (min-width: $br-mobile) {
      font-size: 47px;
    }
  }

  h3 {
    font-size: 17px;
    line-height: 1.75;
    padding: 0 0 10px;
    @media (min-width: $br-mobile) {
      font-size: 19px;
    }
  }

  h4 {
    text-align: center;
    position: relative;
    @media (min-width: $br-mobile) {
      top: 30px;
    }
  }

  p {
    font-size: 14px;
    line-height: 1.5;
  }

  strong {
    font-weight: 500;
  }

  .inner {
    padding: 0 15px;
    @media (min-width: $br-mobile) {
      padding: 0;
    }
  }

  // this should be improved
  .row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px auto 0;
    @media (min-width: $br-mobile) {
      margin: 50px 0 0;
    }

    > * {
      margin: 5px 0px;
      width: 100%;
      @media (min-width: $br-mobile) {
        margin: 0 20px 0 0;
        width: auto;
        &:last-child {
          margin: 0;
        }
      }
    }

    a {
      width: 100%;
      margin: 0 auto;
      @media (max-width: $br-mobile-portrait - 1) {
        height: auto;
        line-height: 1;
        padding: 10px 12px 8px;
        white-space: normal;
      }

      @media (min-width: $br-mobile-portrait) {
        width: auto;
        text-align: left;
        padding: 0 15px;
        display: inline-block;
      }

      @media (min-width: $br-mobile) {
        min-width: 200px;
        text-align: center;
      }
    }
  }
}
