.mod-custom-infowindow,
.cartodb-popup {

  h2 {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 0 10px 0;
  }

  .cartodb-popup-header {
    margin-bottom: 10px;
  }

  .thumb-mask {
    position: relative;
    height: 122px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }

}
