$width: 750px;
$height: auto;

// Layout
.modal {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(17, 55, 80, 0.4);
  z-index: 10000;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(71, 44, 184, 0.1) 0px 5px 15px 0px;
  overflow: auto;
  padding: 0;
  visibility: hidden;

  @media (min-width: $br-mobile){
    padding: 40px 0px;
  }

  &.is-active {
    visibility: visible;
  }

  &.is-huge {
    .modal-window {
      max-width: 820px;
    }
  }

  &.is-mini {
    .modal-window {
      max-width: 300px;
    }
  }

  .is-italic {
    font-style: italic;
  }
}

.modal-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-window {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  border: none;
  background: $white;
  border-radius: 0px;
  outline: none;
  padding: 30px;
  margin: auto;
  max-width: 800px;

  @media (min-width: $br-mobile){
    padding: 40px 50px 30px 50px;
  }

  .modal-close {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    z-index: 20;

    svg{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 20px;
      margin: auto;
    }
  }
}

// MODAL WRAPPER
.modal-wrapper {
  &.-no-scroll {
    @media (min-width: $br-mobile){
      overflow-x: visible;
      overflow-y: visible;
      max-height: none;
    }
  }


  &.has-footer {
    border-bottom: 66px solid transparent;
  }

  .modal-content {
    font-size: 15px;
    color: $dark;

    &.-compact {
      padding: 15px 6px 15px 6px;
    }

    header {
      text-align: center;
      margin: 0 0 20px;

      h2 {
        font-size: 24px;
        max-width: 300px;
        margin: 0 auto;
        color: $dark;
      }
    }

    p {
      font-weight: 300;
    }

    .successful {
      width: 64px;
      height: 64px;
      margin: 10px auto;
      background: image-url('svg-icons/success.svg');
    }
  }
}


// MODAL HEADER
.modal-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  z-index: 2;
  padding: 20px;
  @include clearfix();

  // GRADIENTS
  .gradient {
    content: "";
    position: absolute;
    height: 15px;
    width: 100%;
    left: 0;
    top: 100%;
    @include gradient(top,rgba(255,255,255,1),rgba(255,255,255,0));
  }

  ul{
    margin: 15px 0;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    float: left;
    padding: 4px;
    display: flex;
    justify-content: center;
    border: 1px solid $cGreen;
    border-radius: 45px;

    li{
      font-size: 19px;
      padding: 10px 20px 7px;
      color: $dark;
      cursor: pointer;
      font-weight: 500;
      border-radius: 40px;

      &:hover {
        background: darken($white,1%);
        text-decoration: underline;
      }

      &.is-active {
        color: $white;
        background: $cGreen;
      }
    }
  }
}

// MODAL FOOTER
.modal-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $white;
  z-index: 2;
  padding: 15px 0;
  @include clearfix();
  border-top: 1px solid $border;

  // GRADIENTS
  .gradient {
    content: "";
    position: absolute;
    height: 15px;
    width: calc(100% - 10px);
    left: 0;
    bottom: 100%;
    border-bottom: 1px solid $border;
    @include gradient(top,rgba(255,255,255,0),rgba(255,255,255,1));
  }

}

// MODAL ARROWS
.modal-arrows {
  display: none;
  @media (min-width: $br-mobile) {
    display: block;
  }

  .btn-direction{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);

    &.is-left{
      right: 100%;
    }

    &.is-right{
      left: 100%;
    }

    .icon{
      padding: 10px;
      width: 60px;
      height: 60px;
      svg{
        stroke: $white;
      }
    }
  }
}

// MODAL CONTENT
.modal-content {
  font-size: 13px;

  br {
    display: none;
  }

  strong {
    font-weight: 500;
  }

  ul {
    list-style-type: disc;
    color: $dark;
    font-size: 13px;

    > li{
      list-style-type: disc;
      padding: 10px 0 0;
      margin-left: 20px;
      line-height: 1.25;

      > p {
        margin: 0;
      }

      &:first-child{
        padding: 0;
      }
    }
  }

  li { list-style: none;}

  p {
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: 10px;

    a:not(.btn){
      color: $cGreen;

      &:hover{
        color: darken($cGreen,5%);
      }
    }
  }
}

// Steps
.modal-steps {
  padding: 20px 20px 70px;
  > li {
    display: none;

    &.is-active {
      display: block;
    }

    .modal-step-content {
      padding: 20px 0 0;

      > * {
        margin: 15px 0 0;

        &:first-child {
          margin: 0;
        }
      }
    }
  }
}

// Source template
.modal-source {

  // Title
  .modal-title {
    display: block;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: $dark;
    padding-right: 30px;
    line-height: 1.25;
  }

  // Subtitle
  .modal-subtitle {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    line-height: 1.2;
    color: #999;
  }

  // Table
  .modal-table {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: 20px;
    border: 1px solid $border;

    @media (min-width: $br-mobile){
      margin-left: -50px;
      margin-right: -50px;
      border: none;
      border-top: 1px solid $border;
    }

    .modal-row {
      width: 100%;
      @media (min-width: $br-mobile){
        display: table;
        &:nth-child(even) {
          background: #F2F2F3;
        }
      }


      dt {
        padding: 10px;
        font-weight: 500;
        font-size: 11px;
        text-transform: uppercase;
        background: #F2F2F3;
        padding-left: 30px;

        @media (min-width: $br-mobile){
          display: table-cell;
          width: 140px;
          border-bottom: 1px solid $border;
          background: none;
          padding-left: 50px;
        }
      }

      dd {
        font-size: 13px;
        padding: 10px 30px;

        @media (min-width: $br-mobile){
          display: table-cell;
          border-left: 1px solid $border;
          border-bottom: 1px solid $border;
          padding: 10px 50px 10px 10px;
        }

        a {
          color: $cGreen;
          &:hover {
            color: darken($cGreen,5%);
          }
        }

        p {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }

          sup {
            position: relative;
            top: -3px;
            font-size: 80%;
          }
        }

        pre {
          white-space: normal;
        }
      }

      em {
        font-style: italic;
      }
    }
  }

  // Overview
  .modal-overview {
    color: $dark;
    margin: 20px 0 0;
    line-height: 1.25;

    &.is-center {
      text-align: center;
    }

    h3 {
      font-size: 16px;
      font-weight: 500;
    }

    p {
      font-size: 13px;
    }
  }

  // Credits
  .modal-credits {
    color: $dark;
    margin: 20px 0 0;

    h3 {
      font-size: 12px;
      font-weight: 500;
    }

    p {
      font-size: 12px;
      color: #aaa;
      margin-bottom: 10px;
      margin-top: 5px;
    }
  }
}










// OLD styles
.modal {
  .modal-content {
    // TABLE
    .sources_row {
      display: table;
      width: 100%;

      &.even {
        background: #F2F2F3;
      }

      dt {
        display: table-cell;
        width: 140px;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        font-weight: 500;
        font-size: 11px;

        text-transform: uppercase;
      }

      dd {
        display: table-cell;
        padding: 10px 10px 10px 15px;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        font-size: 13px;

        p {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }

        }
      }
      sup {
        position: relative;
        top: -3px;
        font-size: 80%;
      }
      sub {
        position: relative;
        top: 2px;
        font-size: 80%;
      }
      em {
        font-style: italic;
        font-size: 90%;
      }
    }

    // CONTENT
    .single-source-item {
      font-size: 15px;
      line-height: 1.4;
      color: #666;

      p {
        font-size: 13px;
        margin-bottom: 10px;
        margin-top: 10px;

        strong{
          font-weight: 500;
          color: #333;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &.credits {
          margin-bottom: 10px;
          font-size: 12px;
          color: #aaa;

          strong {
            display: block;
            font-weight: 500;
          }

          a {
            color: #aaa;
            text-decoration: underline;

            &:hover {
              color: #aaa;
            }
          }
        }
      }
    }

    .source_body,
    .source_coverage {
      @extend .single-source-item;

      .bullets  {
        list-style-type: disc;
        color: $dark;
        margin: 0 0 0 10px;
        > li{
          list-style-type: disc;
          padding: 10px 0 0;
          font-size: 13px;
          margin-left: 20px;
          line-height: 1.5;
          &:first-child{
            padding: 0;
          }
        }
      }
      strong {
        font-weight: 500;
      }

      .read_more {
        padding: 10px 0;
        font-size: 13px;
        text-align: center;
      }

      .hidden {
        display: none;
        &.read_more {
          display: block;
        }
      }
      .em {
        font-style: italic;
        font-size: 90%;
      }
      .source_summary{
        .img-max {
          max-width: 100%;
        }
      }
    }


    .source_category_description,
    .overview_title,
    .source_download,
    .source_extended,
    .source_coverage_header,
    .source_coverage,
    .download {
      display: none;
    }

    .source_description {
      display: block;
      margin-top: 5px;
      font-size: 13px;
      line-height: 1.2;

      color: #999;
    }

    .source_title,
    .source_category_title,
    .source_coverage_title {
      display: block;
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
      color: $dark;

      span {
        text-transform: none;
      }

      sub {
        position: relative;
        bottom: -3px;
        font-size: 80%;
      }
    }

    .source_header,
    .source_category_title,
    .source_coverage_header {
      padding: 0 0 5px;
    }

    .source_category_title {
      border-bottom: 2px solid #ccc;
      margin: 0 0 20px;
    }

    .source_table {
      border-top: 1px solid #ccc;
      margin-bottom: 20px;
    }

    .source_snippet {
      pre {
        border: 1px solid #cccccc;
        padding: 0;
        margin: 0;
        font-size: 14px;
      }
      .json-key {
        color: #D46C75;
      }
      .json-value {
        color: #C99C4A;
      }
      .json-string {
        color: #67995A;
      }
      .json-boolean {
        color: #89682D;
      }
    }

    .modal-table {
      border-collapse: collapse;
      font-size: 11px;
      // margin: 20px 0;

      th, .td-header {
        font-weight: 500;
        text-transform: uppercase;
      }

      td,th {
        border: 1px solid $border;
        padding: 10px;
        line-height: 1.125;

        &.no-border {
          border: none;
        }
      }
    }

    .forest_change .source_category_title {
      color: #F69;
      border-bottom-color: #F69;
    }

    .forest_cover .source_category_title {
      color: #B2D26E;
      border-bottom-color: #B2D26E;
    }

    .forest_use .source_category_title {
      color: #C98E6C;
      border-bottom-color: #C98E6C;
    }

    .conservation .source_category_title {
      color: #3182BD;
      border-bottom-color: #3182BD;
    }

    .people .source_category_title {
      color: #707D92;
      border-bottom-color: #707D92;
    }

    .stories .source_category_title {
      color: #F2B257;
      border-bottom-color: #F2B257;
    }

    .source_category_title {
      color: $cGreen;
      border-bottom-color: $cGreen;
    }

    .hidden {
      display: block;
    }

    .terms-modal{
      text-align: center;
      color: $dark;
      h2{
        display: block;
        font-weight: 500;
        font-size: 22px;
        text-transform: uppercase;
        color: $cGreen;
        text-align: center;
        margin: 30px 0 0;
      }
      p{
        font-size: 15px;
        margin: 20px 0;
      }
      .terms-form{
        margin: 15px 0 30px;
        .row{
          >*{
            width: 47.5%;
          }
        }
      }
    }

  }
}
