.onoffswitch {
  z-index: 999;
  display: inline-block;
  position: relative;
  float: left;
  width: 17px;
  height: 10px;
  background: #ddd;
  
  span {  
    @include transition-property(all);
    @include transition-duration(100ms);
    @include transition-timing-function(ease-in-out);
  }

  &.checked span {
    left: 9px;
  }

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.onoffswitch span {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 6px;
  height: 6px;
  background: #fff;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}