.maptype {
  /* height: 235px; */
  right: 55px;
  width: 150px;
  padding: 0;

  .widget-closed .maptype-list li {
    border: none;
  }

  .widget-opened .maptype-list {
    max-height: 1000px;
  }

  .maptype-list {
    max-height: 40px;
    overflow: hidden;

    li {
      width: 100%;
      height: 100%;
      font-size:13px;
      padding: 9px 10px;
      cursor: pointer;
      color: #666;
      border-bottom: 1px solid #ddd;
      @include box-sizing(border-box);

      &.grayscale   i { @include home-icons-sprite(map_grayscale); }
      &.terrain     i { @include home-icons-sprite(map_terrain); }
      &.satellite   i { @include home-icons-sprite(map_satellite); }
      &.roads       i { @include home-icons-sprite(map_roads); }
      &.treeheight  i { @include home-icons-sprite(map_treeheight); }
      &.landsat     i { @include home-icons-sprite(map_landsat); }

      i {
        @include inline-block();
        width: 24px;
        height: 18px;
        border: 1px solid rgba(#333, .5);
        margin: 0 5px 0 0;
        background: #ddd;
      }

      &:last-child {
        border: none;
      }

      &:hover {
        color: #333;
      }
    }
  }
}
