.widget-legend {
  .widget-box {
    left: 60px;
    top: 32px;
  }

  .widget-content {
    font-size: 13px;
  }

  .widget-closed {
    padding: 14px 20px;
    font-weight: bold;
    font-size: 11px;
    color: #bbb;
    text-transform: uppercase;
  }

  li.category {
    padding: 15px 20px;
    border-bottom: 1px solid #E5E5E5;
    &:last-child {
      border-bottom: none;
    }
  }

  .category-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
  }

  .layer-name,
  .layer-details {
    display: block;
    margin-top: 8px;
  }

  .circle:before {
    content: ' \25CF';
    font-size: 16px;
    margin-right: 2px;
  }

  .layer-details {
    margin-left: 14px;
  }
  .canopy{
    font-size: 0.85em;
    margin-top: 3px;
    width: 210px;
    span {
      font-weight: bold
    }
  }
}
