.map-container {
  position: absolute;
  top: 141px;
  bottom: -69px;
  left: 0;
  right: 0;
  border-top: 1px solid #717D80;
  border-bottom: 1px solid #717D80;
  box-sizing: border-box;
  background: $cGray6;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default;

  @include user-select(none);
  @include transition(opacity 1s ease);

  &.is-loaded {
    opacity: 1;
  }
}

#viewfinder {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  height: 17px;
  width: 19px;
  margin: -10px 0 0 -8px;
  pointer-events:none;

  @include home-icons-sprite(viewfinder);
}

#zoom_controls,
#zoom_controls_subscribe {

  $zoomWidth: 36px;
  $zoomHeight: 29px; // height of the top button + border line

  position: absolute;
  left: 15px;
  top:  30px;
  z-index: 2000;

  .zoom-in,
  .zoom-out {
    position:relative;
    width: $zoomWidth;
    height: $zoomHeight;
    cursor: pointer;
  }

  .zoom-in {
    background: transparent url(icons/map_zoom.png) no-repeat 0 0;
    &:hover {
      background-position: (-$zoomWidth) 0;
    }
    &:active {
      background-position: -(2*$zoomWidth) 0;
    }
  }

  .zoom-out {
    background: transparent url(icons/map_zoom.png) no-repeat 0 (-$zoomHeight);
    &:hover {
      background-position: (-$zoomWidth) (-$zoomHeight);
    }
    &:active {
      background-position: -(2*$zoomWidth) -$zoomHeight;
    }
  }
}

.umdoptions {
  display: none;
  z-index: 10;

  .umd_options_control {
    position: absolute;
    top: 168px;
    left: 15px;
    width: 37px;
    height: 37px;
    @include home-icons-sprite(icon_options);
    &:hover  { @include home-icons-sprite(icon_options_hover); }
    &:active { @include home-icons-sprite(icon_options_active); }
  }
}