#sources {
  display: none;
}

// Modal
.mod-modal-window, #source-window-modal {
  width: 100%;
  height: 100%;
  opacity: 0;
  display: block;
  visibility: hidden;
  position: fixed;
  z-index: 1002;
  overflow: auto;
  left: 0%;
  top: 0%;
  background: #fff;
  border: 1px solid #E5E5DF;
  box-shadow: 0px 0px 7px rgba(#555555,0.5);
  @include transition(all,0.5s,cubic-bezier(0.645, 0.045, 0.355, 1.000));
  @include transform(translate(0%,-10%));
  @media (min-width: 750px){
    left: 50%;
    top: 50%;
    width: 500px;
    height: auto;
    max-height: 75%;
    @include transform(translate(-50%,-60%));
  }

  &.active{
    opacity: 1;
    visibility: visible;
    @include transform(translate(0%,0%));
    @media (min-width: 750px){
      @include transform(translate(-50%,-50%));
    }
  }
  // Btn close
  .close {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    width: 16px;
    height: 16px;
  }
  // Content
  .content {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 15px;
    padding: 20px;
    color: #666;
    .center{
      text-align: center;
    }

    //Title
    .source_title{
      color: #97Bd3d;
      text-transform: uppercase;
      padding: 15px 0 20px;
      font-size: 24px;
    }

    //Body
    .source_body{
      >*{
        padding: 15px 0 0;
        &:first-child{
          padding: 0;
        }
      }
      p{
        color: #555555;
        font-size: 15px;
        line-height: 1.5;
      }
      form{
        .row{
          text-align: center;
          >*{
            @media (min-width: 750px){
              width: 47.5%;
            }

          }
        }
      }
    }
  }
}

.backdrop {
  display: none;
  position: fixed;
  z-index: 1001;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.9);
  &.active{
    display: block;
  }
}
