.widget {
  position: absolute;
  z-index: 1000;
  top: 38px;
  @include user-select(none);
}

/**
 * Widget button.
 */
.widget .widget-btn {
  color: #999;
  background-color: #fff;
  cursor: pointer;

  @include border-radius(3px);
  @include box-shadow(0px 0px 3px #666);
  @include box-sizing(border-box);

  width: 25px;
  height: 25px;
}

/**
 * Widget Modal.
 */
.widget .widget-box {
  position: absolute;

  width: 245px;
  min-height: 20px;
  @extend .sans-serif;

  @include transition-property(height);
  @include transition-duration(140ms);
  @include transition-timing-function(ease-in-out);

  // font-size: 11px;
  border: 1px solid #666;
  color: #999;
  background: #fff;

  @include border-radius(3px);
  @include box-shadow(0px 0px 3px #666);
  @include box-sizing(border-box);

  .widget-content {
    width: 100%;
  }

  &.closed {
    height: 40px;
  }

  &.closed .widget-toggle {
    @include home-icons-sprite(legend_toggle_open);
  }

  &.ui-draggable {
    cursor: move;
  }
}

/**
 * Widget toogle button
 */
.widget .widget-toggle {
  position: absolute;
  top: 2px; right: -25px;
  width: 25px;
  height: 38px;
  cursor: pointer;
  @include home-icons-sprite(legend_toggle_close);
}
