.header-nav {
  height: 64px;
  border-bottom: 1px solid #CFCFCF;
  width: 100%;

  .header-nav__inner {
  }

  .header-nav__logo {
    z-index: 1050;
    position: absolute;
    height: 100px;
    width: 207px;
    margin-left: -10px;
    @include logos-sprite(logo);
  }

  .nav {
    float: right;
    margin-top: 18px;

    .nav__list,
    #google_translate_element {
      float: right;
      margin-left: 10px;
    }

    .nav__list__item {
      float: left;
      margin-left: 5px;

      a {
        display: block;
        height: 26px;
        padding: 0 10px;
        font-weight: bold;
        font-size: 12px;
        line-height: 27px;
        text-transform: uppercase;
        color: #333;
        @include border-radius(3px);

        span { background:none; }

        &.selected {
          background: $cGreen;
          color: #fff;

          &:hover {
            background: $cGreen;
          }
        }

        &:hover {
          background: rgba($cGreen, .5);
        }
      }
    }
  }


}