.timeline {
  position: absolute;
  z-index: 1000;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;

  width: 1000px;
  height: 50px;

  color: #999;
  background: white;
  border: 1px solid #666;
  @include border-radius(3px);
  @include box-shadow(0px 0px 3px #666);

  .play {
    float: left;
    width: 50px;
    height: 100%;
    border-right: 1px solid #666;
    cursor: pointer;
    @include box-sizing(border-box);
    padding: 20px;

    &:hover {
      .play-icon, .stop-icon {
        opacity: 0.9;
      }
    }

    .play-icon {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6.5px 0 6.5px 10px;
      border-color: transparent transparent transparent #444;
    }

    .stop-icon {
      display: none;
      width: 9px;
      height: 9px;
      background: #444;
    }
  }

  .time {
    float: left;
    height: 100%;
    width: 949px;
    position: relative;
  }

  .xaxis text {
    font-size: 11px;
    fill: #999;

    &.selected {
      fill: $cGreen1;
    }
  }

  .tooltip {
    position: absolute;
    top: -15px;
    left: 0;
    z-index: 2000;
    background: #333;
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 6px 8px;
    border-radius: 2px;
    min-width: 40px;
    margin-left: 2px; // trail and triangle aligned

    &:before {
      content:'';
      display:block;
      width:0;
      height:0;
      position:absolute;
      
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #333;

      right: 0;
      left: 0;
      margin: auto;
      bottom: -5px;
    }
  }

  .xaxis .domain {
    stroke: $cGreen1;
    stroke-width: 8;
    shape-rendering: crispEdges;
  }

  .tipsy {
    .trail {
      stroke: $cGreen1;
      stroke-width: 1;
      shape-rendering: crispEdges;
    }
  }

  .slider .handle {
    fill: $cGreen1;
    stroke: darken($cGreen1, 20);
    cursor: col-resize;
  }  
}

.timeline-btn {
  .ticks > li {
    display: inline-block;
    vertical-align: top;
    width: 10px;
    background: pink;
  }
}