.mod-navbar {
  float: right;
  margin: 18px 0;
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  width: 700px;
  justify-content: space-between;

  #google_translate_element {
    float: left;
    margin-left: 10px;
    min-width: 155px;
    min-height: 24px;
    order: 2;
    position: absolute;
    right: 0px;
    top: 19px;

  }

  ul {
    float: left;
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    width: 100%;
    padding-right: 178px;
  }

  li {
    float: left;

    a {
      display: block;
      height: 26px;
      padding: 0 10px;
      font-weight: 500;
      font-size: 12px;
      line-height: 27px;
      text-transform: uppercase;
      color: #333;
      border-radius: 3px;

      span { background:none; }

      &.selected {
        background: $cGreen;
        color: #fff;

        &:hover {
          background: $cGreen;
        }
      }

      &:hover {
        background: rgba($cGreen, .5);
      }
    }
  }
}
