.simple-pagination{
  padding: 15px 0 0;
  @media (min-width: $br-mobile){
    padding: 50px 0 0;
  }
} 


.simple-pagination ul{
  position: relative;
  display: inline-flex;
  justify-content: center;
  left: 50%;
  transform: translate(-50%,0);
  
  li {
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;

    &:first-child {
      margin: 0;
    }
  }
} 


/*------------------------------------*\
  Light Theme Styles
\*------------------------------------*/

.simple-pagination.light-theme a, .simple-pagination.light-theme span{
  display: none;
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  font-size: 18px;
  line-height: 44px;
  text-align: center;
  cursor: pointer;
  color: $cGreen;
  border: 2px solid $cGreen;

  @media (min-width: $br-mobile){
    display: block;
  }

  @media (min-width: $br-mobile){
    &:hover {
      color: $white;
      background: $cGreen;
    }
  }

  &.ellipse {
    border-color: transparent;
    @media (min-width: $br-mobile){
      &:hover {
        background: none;
        color: $cGreen;
      }
    }
  }

  &.current {
    color: $white;
    border-color: $cGreen;
    background: $cGreen;

    cursor: default;
    pointer-events: none;
  }

  &.next, &.prev {
    display: block;
    border: none;
    background: none;
    

    svg {
      stroke: $cGreen;
      display: block;
      width: 28px;
      height: 28px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -14px 0 0 -14px;
    }

    &.current {
      opacity: 0.3;
    }

    @media (min-width: $br-mobile){
      &:hover {
        background: none;
        svg {
          stroke: $dark;
        }
      }
    }
  }
}