// Spinner
.spinner {
  position: absolute;
  top: 50%; 
  left: 50%;
  width: 30px;
  height: 30px;
  @include transform(translate(-50%,-50%));
  // @mixin animation($name,$duration,$count: 1,$function: linear,$direction: normal,$fill : none,$delay : 0s, $play: running)
  @include animation(loader,1s,infinite,$easeInOutCubic);
  visibility: hidden;
  opacity: 0;
  svg{
    fill: $cGreen;
  }
  &.start {
    visibility: visible;
    opacity: 1;
  }
}

.tooltip{
  position: absolute;
  background: rgba($white,1);
  box-shadow: 0 2px 5px rgba(#000,0.25);
  z-index: 1;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  text-transform: uppercase;
  position: absolute;
  top: 100%;
  left: 50%;  
  text-align: center;  
  padding: 10px;
  @include transform(translate(-50%,10px));
  &:after{
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: $white;
    z-index: 2;
    top: 0;
    left: 50%;
    @include transform(translate(-50%,-50%) rotate(45deg));
    border-top: 1px solid $border;
    border-left: 1px solid $border;
  }
}

.submenu-tooltip {
  position: absolute;
  min-width: 150px;
  background: rgba($white,1);
  box-shadow: 0 2px 5px rgba(#000,0.25);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  text-transform: none;
  -webkit-backface-visibility: hidden;
  &.top{
    top: 100%;
    left: 50%;    
    @include transform(translate(-50%,10px));
    &:after{
      top: 0;
      left: 50%;
      @include transform(translate(-50%,-50%) rotate(45deg));
      border-top: 1px solid $border;
      border-left: 1px solid $border;
    }
    li:first-child:hover{
      &:after{
        content: "";
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        background: darken($white,2%);
        z-index: 2;
        top: 0;
        left: 50%;
        @include transform(translate(-50%,-50%) rotate(45deg));
        border-top: 1px solid $border;
        border-left: 1px solid $border;        
      }
    }
  }
  &.bottom{
    bottom: 100%;
    left: 50%;
    @include transform(translate(-50%,-10px));
    &:after{
      bottom: 0;
      left: 50%;
      @include transform(translate(-50%,50%) rotate(45deg));
      border-bottom: 1px solid $border;
      border-right: 1px solid $border;
    }
    li:last-child:hover{
      &:after{
        content: "";
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        background: darken($white,2%);
        z-index: 2;
        bottom: 0;
        left: 50%;
        @include transform(translate(-50%,50%) rotate(45deg));
        border-bottom: 1px solid $border;
        border-right: 1px solid $border;
      }
    }    
  }

  @include transition(all 0.15s $easeInOutCubic);
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: $white;
    z-index: 2;
  }
  li {
    border-top: 1px solid #EAECEF;
    font-size: 15px;
    white-space: nowrap;
    position: relative;
    z-index: 3;
    &:first-child { border-top: none;}
    a,.link {
      color: #444;
      font-family: $font-light;
      padding: 14px 20px;
      text-decoration: none;
      text-align: center;
      display: block;
      &:hover {
        background: darken($white,2%);
      }
    }
  }
}
