.terms-container {
  margin: 70px 15px;
  max-width: 960px;
  height: auto;
  padding: 20px;
  background: #fff;
  outline: none;
  border-radius: 0;
  @media (min-width: $br-mobile) {
    margin: 70px auto;
  }

  // TERMS PAGE
  .terms-inner {
    font-size: 15px;
    line-height: 1.5;

    // HEADER
    header {
      text-align: center;
      margin: 30px 0;

      h2,h3 {
        span {
          display: block;
        }
      }

      h2 {
        font-size: 24px;
        font-weight: 500;
      }

      h3 {
        margin: 10px 0 0;
        font-size: 16px;
        font-weight: 500;
      }
    }

    h2 {
      font-size: 24px;
      font-weight: 500;
    }

    h3 {
      margin: 30px 0 10px;
      font-size: 16px;
      font-weight: 500;
    }


    // TEXT
    p {
      margin-bottom: 20px;
    }

    // LISTS
    ol,ul {
      list-style-position: outside;
      margin-left: 25px;
      margin-bottom: 30px;

      &.-alphabetically {
        list-style-type: lower-alpha;
      }

      &.-bullets {
        list-style-type: disc;
      }

      &.-decimal {
        list-style-type: decimal;
        > li {
          h3 {
            font-weight: 500;
            margin-bottom: 10px;
          }
        }
      }

      &.-romanic {
        list-style-type: lower-roman;
      }

      li {
        margin-bottom: 10px;
      }
    }

    strong {
      font-weight: 500;
    }
  }
}
