@import '~styles/settings.scss';

.l-embed {
  position: relative;
  width: 100%;
  min-height: rem(400px);

  @media screen and (min-width: $screen-m) {
    min-height: calc(100vh - 56px - 384px);
    margin-top: 0;
  }

  &.full-screen {
    position: fixed;
    min-height: calc(100% - 60px);

    .c-footer-embed {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}