<h2>Become a tester</h2>
<% if @email %>
  <p><%= @email %><% if @signup %> wants to become an official GFW tester <% else %> doesn't want to become a tester <% end %></p>
<% end %>



<h2>Feedback</h2>
<% if @feedback %>
  <p><%= @feedback %></p>
<% else %>
  <p>No feedback provided</p>
<% end %>
