@import '~styles/settings.scss';
$item-size: 55px;
$top-section-height: 125px;

.c-basemaps {
  width: 100%;
  background-color: $white;

  .basemaps-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 rem(15px);
  }

  .basemaps-actions {
    display: flex;

    .basemaps-action-button {
      cursor: pointer;
      margin-left: rem(8px);

      svg {
        height: 11px;
        width: 11px;
        fill: $warm-grey;
      }
    }
  }

  .basemaps-title {
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.62;
    color: $slate;
    text-transform: uppercase;
  }

  .basemaps-top-section {
    padding: 15px 0 25px;

    @media screen and (min-width: $screen-m) {
      padding: 15px 20px 25px;
    }
  }

  .basemaps-bottom-section {
    height: calc(100% - #{$top-section-height});
    padding: 25px 0 5px;
    border-top: 1px solid rgba($hot-grey, 0.3);

    @media screen and (min-width: $screen-m) {
      padding: 25px 20px;
    }
  }

  .basemaps-options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .basemaps-options-wrapper {
    height: rem(80px);
    width: 48%;
    z-index: 5;

    &:first-child {
      margin-right: rem(10px);
    }

    &:last-child {
      margin-left: rem(10px);
    }
  }

  .basemap-list-scroll-wrapper {
    height: 100%;
    overflow: hidden;
  }

  .basemaps-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .basemaps-list-item-image {
    width: $item-size;
    height: $item-size;
    border: 3px solid transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    // margin: auto;
  }

  .basemaps-list-item {
    display: inline-block;
    width: calc(100% / 3);
    margin-bottom: rem(15px);

    &:hover .basemaps-list-item-image,
    &.-active .basemaps-list-item-image {
      border: 3px solid $green-gfw;
    }
  }

  .basemaps-list-item-button {
    cursor: pointer;
    width: 100%;
  }

  .basemaps-list-item-name {
    display: inline-block;
    text-align: center;
    font-size: rem(10px);
    text-transform: uppercase;
    color: $slate-light;
    margin: rem(6px) 0 0;
    // text-align: left;
    // width: 100%;
    // margin-left: 3px;
  }

  .landsat-selector {
    margin-top: rem(3px);
    width: rem(30px);
  }
}
