@import '~styles/settings.scss';
$item-size: 55px;
$item-size-small: 45px;
$top-section-height: 125px;

.c-basemaps {
  width: 100%;
  background-color: $white;

  .basemaps-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 rem(15px);
  }

  .basemaps-actions {
    display: flex;

    .basemaps-action-button {
      cursor: pointer;
      margin-left: rem(8px);

      svg {
        height: 11px;
        width: 11px;
        fill: $warm-grey;
      }
    }
  }

  .basemaps-title {
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.62;
    color: #aaa;
    text-transform: uppercase;

    @media screen and (min-width: $screen-m) {
      color: $slate;
    }
  }

  .basemaps-top-section {
    padding: rem(20px) rem(20px) 0;

    @media screen and (min-width: $screen-m) {
      padding: rem(15px) rem(20px) rem(25px);
    }
  }

  .basemaps-bottom-section {
    position: relative;
    height: calc(100% - #{$top-section-height});
    padding: rem(25px) 0 rem(5px);
    border-top: 1px solid rgba($hot-grey, 0.3);
    border-bottom: 1px solid rgba($hot-grey, 0.3);
    background: $white-tree;

    @media screen and (min-width: $screen-m) {
      padding: rem(15px) rem(20px) rem(10px);
      background: #fff;
    }

    .menu-arrow {
      position: absolute;
      width: 0;
      height: 0;
      margin: 0 9px;
      border-bottom: 7px solid $white-tree;
      border-left: 7px solid transparent;
      border-left-color: $white-tree;
      border-right: none;
      transform-origin: 0 0;
      transform: rotate(-45deg);
      top: 0;
      left: calc(15% - #{rem(5px)});
      border-bottom-color: $white-tree;
      box-shadow: 1px -2px 3px 0 rgba(85, 85, 85, 0.1);
      z-index: 3;
    }
  }

  .basemaps-options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .basemaps-options-wrapper {
    height: calc(#{$item-size} + #{rem(40px)});
    width: 48%;
    z-index: 5;

    &:first-child {
      margin-right: rem(10px);
    }

    &:last-child {
      margin-left: rem(10px);
    }
  }

  .basemap-list-scroll-wrapper {
    height: 100%;
    overflow: hidden;
  }

  .basemaps-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .basemaps-list-item-image {
    width: $item-size-small;
    height: $item-size-small;
    border: 3px solid $white-tree;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;

    @media screen and (min-width: $screen-m) {
      width: $item-size;
      height: $item-size;
      margin: initial;
      border: 3px solid transparent;
      border-radius: 0;
    }
  }

  .basemaps-list-item {
    display: inline-block;
    width: calc(100% / 3);
    margin-bottom: rem(15px);

    &:hover .basemaps-list-item-image,
    &.-active .basemaps-list-item-image {
      border: 3px solid $green-gfw;
    }
  }

  .basemaps-list-item-button {
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .basemaps-list-item-name {
    display: inline-block;
    text-align: center;
    font-size: rem(10px);
    text-transform: uppercase;
    color: $slate-light;
    margin: rem(6px) 0 0;

    @media screen and (min-width: $screen-m) {
      text-align: center;
      width: $item-size;
      padding-left: rem(3px);
    }
  }

  .landsat-selector {
    margin: rem(3px) auto 0;
    width: rem(30px);
  }
}
