<div class="modal is-active">
  <div class="modal-backdrop"></div>
  <div class="modal-window">
    <a href="#" class="modal-close">
      <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-close"></use></svg>
    </a>
    <div class="modal-wrapper">
      <header>
        <h2>Edit data sets</h2>
        <h3>Select the data sets that you want to subscribe to</h3>
      </header>

      <div class="modal-content">
        <div class="checkbox-box">
          <div class="custom-checkbox">
            <input class="dataset-checkbox" type="checkbox" name="datasets" id="umd-loss-gain">
            <label for="umd-loss-gain"><span></span> Tree cover loss </label>
          </div>
          <div class="custom-checkbox">
            <input class="dataset-checkbox" type="checkbox" name="datasets" id="guira-loss">
            <label for="guira-loss"><span></span> Gran Chaco deforestation</label>
          </div>
          <div class="custom-checkbox">
            <input class="dataset-checkbox" type="checkbox" name="datasets" id="prodes-loss">
            <label for="prodes-loss"><span></span> PRODES deforestation</label>
          </div>
          <div class="custom-checkbox">
            <input class="dataset-checkbox" type="checkbox" name="datasets" id="glad-alerts">
            <label for="glad-alerts"><span></span> GLAD alerts</label>
          </div>
          <div class="custom-checkbox">
            <input class="dataset-checkbox" type="checkbox" name="datasets" id="terrai-alerts">
            <label for="terrai-alerts"><span></span> Terra-i alerts</label>
          </div>
          <div class="custom-checkbox">
            <input class="dataset-checkbox" type="checkbox" name="datasets" id="imazon-alerts">
            <label for="imazon-alerts"><span></span> SAD alerts</label>
          </div>
          <div class="custom-checkbox">
            <input class="dataset-checkbox" type="checkbox" name="datasets" id="viirs-active-fires">
            <label for="viirs-active-fires"><span></span> VIIRS active fires</label>
          </div>
        </div>

        <div class="delete-button-container">
          <a href="#" class="btn gray uppercase" id="cancel-delete">Cancel</a>
          <a href="#" class="btn green uppercase" id="confirm-delete">Save</a>
        </div>
      </div>
    </div>
  </div>
</div>