<td>
  <h4>{{title}}</h4>

  <ul>
    <li>Date created: {{createdAt}} UTC</li>
  </ul>
</td>

<td>
  <svg class="icon"><use xlink:href="#icon-h-map"></use></svg>
  <span><a href="/stories/{{id}}" class="view-on-map">View</a></span>
</td>

<td>
  <svg class="icon -edit"><use xlink:href="#icon-edit"></use></svg>
  <span><a href="/stories/edit/{{id}}" class="view-on-map">Edit</a></span>
</td>

<td>
  <svg class="icon"><use xlink:href="#icon-analysis-remove"></use></svg>
  <a href="#" class="story-delete-item">Delete</a>
</td>
