<div class="tabs">
  <h3 class="current">GFW</h3>
  <h3>Fires</h3>
  <h3>Commodities</h3>
</div>

<div class="content-form user-subscriptions">
  <table>
    <tbody id="user-subscriptions-table-body">
    </tbody>
  </table>
</div>
