<div class="tabs">
  <h3 class="current">GFW</h3>
  <h3>Fires</h3>
  <h3>Commodities</h3>
</div>

<div class="content-form user-subscriptions" id="current-tab">
  <table>
    <tbody>
    {{#each subscriptions}}
      <tr>
        <td class="-s-info">
          {{name}}<br>
          <span class="-s-date">{{created}}</span>
        </td>

        <td>
          <svg><use xlink:href="#icon-h-map"></use></svg>
          <span><a href="/map/3/15.00/27.00/ALL/grayscale/loss,forestgain?geojson={{params.geom}}">View on Map</a></span>
        </td>

        <td>
          <svg><use xlink:href="#icon-analysis-remove"></use></svg>
          <span>Delete</span>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
