<h2>GFW</h2>
<ul id="subscriptionList">
  <li>
    <div class="-s-info">
      <span class="-s-name">name</span>
      <span class="-s-date">Created: date / Last update: date</span>
    </div>
    <div class="-s-actions">
      <span><svg><use xlink:href="#icon-h-map"></use></svg><span>view on map</span></span>
      <span><svg><use xlink:href="#shape-share"></use></svg><span>share</span></span>
      <span><svg><use xlink:href="#icon-analysis-remove"></use></svg><span>delete</span></span>
    </div>
  </li>
</ul>
