<div class="modal is-active">
	<div class="modal-backdrop"></div>
	<div class="modal-window">
		<a href="#" class="modal-close">
			<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-close"></use></svg>
		</a>
		<div class="modal-wrapper">
			<div class="modal-content">
        <a href="#" id="cancel-delete">Cancel</a>
        <a href="#" id="confirm-delete">Confirm</a>
			</div>
		</div>
	</div>
</div>
