<section class="m-header-static">
  <div class="inner">
    <header>
      <h2>My Subscriptions</h2>
      <h3>
        View, manage, and delete your subscriptions. You will receive an
        email notification when new deforestation alerts are available for
        your area of interest. Take a look at our
        <a target="_blank" href="/howto/categories/subscribe-to-alerts/">How To guide</a>
        for more information.
      </h3>
      <a class="btn green uppercase" href="./subscriptions/new">Create new subscription</a>
    </header>
  </div>
</section>

<section class='section'>
  <div class="my-gfw-subscription-container">
    <div class="content-form my-gfw-subscriptions-list-container inner">
      {{#if showSpinner}}
        <div id="subscriptionSpinner" class="m-spinner -fixed">
          <div class="spinner-box">
            <div class="icon"></div>
          </div>
        </div>
      {{else}}
        {{#if subscriptions.length}}

          <ul id="subscriptions-list" class="c-subscriptions">
          </ul>

          <table class="my-gfw-subscriptions-list">
            <tbody id="my-gfw-subscriptions-table-body">
            </tbody>
          </table>

          <div id="my-gfw-subscriptions-pagination"></div>
        {{else}}
          <div class="my-gfw-subscriptions-empty">
            <h4>You don't have any subscriptions yet</h4>
            <h5>
              Subscribe to receive forest loss alerts for an area of interest
            </h5>

            <p>
              <a href="./subscriptions/new" class="btn green uppercase">Subscribe</a>
            </p>
          </div>
        {{/if}}
      {{/if}}
    </div>
  </div>
</section>
