<ul id="subscriptionList">
  {{#each subscriptions}}
    <li>
      <div class="-s-info">
        <span class="-s-date">{{created}}</span>
      </div>
      <div class="-s-actions">
        <span>
          <svg><use xlink:href="#icon-h-map"></use></svg>
          <span><a href="/map/3/15.00/27.00/ALL/grayscale/loss,forestgain?geojson={{params.geom}}">view on map</a></span>
        </span>
        <span><svg><use xlink:href="#shape-share"></use></svg><span>share</span></span>
        <span><svg><use xlink:href="#icon-analysis-remove"></use></svg><span>delete</span></span>
      </div>
    </li>
  {{/each}}
</ul>
