<div class="field -required">
  <label for="aoi-type">AOI 2 *</label>
  <div class="m-select">
    <select id="aoi-type" data-placeholder="Select your area of interest (country or upload your own shapefile)">
      <option value="aoi-draw" selected>Draw</option>
      <option value="aoi-upload">Upload your area of interest</option>
    </select>
  </div>
</div>

<div class="field -required">
  <div class="m-map">
    <div>
      <div id="map" class="map"></div>
      <div id="map-controls" class="map-controls">
        <div class="map-controls-box -top -left">
          <div class="control-zoom">
            <button type="button" class="map-control-btn js-map-controls-zoom-in"><svg><use xlink:href="#icon-control-plus"></use></svg></button>
            <button type="button" class="map-control-btn js-map-controls-zoom-out"><svg><use xlink:href="#icon-control-minus"></use></svg></button>
          </div>
        </div>
        <div class="map-controls-box -top -right">
          <div class="control-search">
            <input class="map-search-input" id="map-controls-search" type="text" placeholder="Search..."/>
          </div>
          <div>
            <button id="map-controls-autolocate" class="map-control-btn js-map-controls-autolocate" type="button"><svg><use xlink:href="#icon-control-locate"></use></svg></button>
          </div>
          <div>
            <button id="map-controls-drawing" class="map-control-btn js-map-controls-drawing" type="button">
              <svg><use xlink:href="#icon-analysis-draw"></use></svg>
              <svg class="-inactive"><use xlink:href="#shape-close"></use></svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field">
  <label>Data set</label>
  <div class="checkbox-box">
    <div class="custom-checkbox">
      <input class="dataset-checkbox" type="checkbox" name="datasets" id="umd-loss-gain">
      <label for="umd-loss-gain"><span></span> Tree cover loss </label>
    </div>
    <div class="custom-checkbox">
      <input class="dataset-checkbox" type="checkbox" name="datasets" id="guira-loss">
      <label for="guira-loss"><span></span> Gran Chaco deforestation</label>
    </div>
    <div class="custom-checkbox">
      <input class="dataset-checkbox" type="checkbox" name="datasets" id="prodes-loss">
      <label for="prodes-loss"><span></span> PRODES deforestation</label>
    </div>
    <div class="custom-checkbox">
      <input class="dataset-checkbox" type="checkbox" name="datasets" id="glad-alerts">
      <label for="glad-alerts"><span></span> GLAD Tree Cover Loss Alerts</label>
    </div>
    <div class="custom-checkbox">
      <input class="dataset-checkbox" type="checkbox" name="datasets" id="terrai-alerts">
      <label for="terrai-alerts"><span></span> Terra-i Alerts</label>
    </div>
    <div class="custom-checkbox">
      <input class="dataset-checkbox" type="checkbox" name="datasets" id="imazon-alerts">
      <label for="imazon-alerts"><span></span> SAD Alerts</label>
    </div>
    <div class="custom-checkbox">
      <input class="dataset-checkbox" type="checkbox" name="datasets" id="viirs-active-fires">
      <label for="viirs-active-fires"><span></span> VIIRS Active fires</label>
    </div>
  </div>
</div>

<div class="field">
  <input type="submit" id="submit" name="submit" value="Subscribe" class="btn green medium">
</div>
