<span class="m-select my-gfw-subscription-select">
  <select multiple class="datasets chosen-select default">
    <option value="umd-loss-gain">Tree cover loss</option>
    <option value="guira-loss">Gran Chaco deforestation</option>
    <option value="prodes-loss">PRODES deforestation</option>
    <option value="glad-alerts">GLAD alerts</option>
    <option value="terrai-alerts">Terra-i alerts</option>
    <option value="imazon-alerts">SAD alerts</option>
    <option value="quicc-alerts">QUICC alerts</option>
    <option value="viirs-active-fires">VIIRS active fires</option>
  </select>
</span>
