<div class="modal is-active">
  <div class="modal-backdrop"></div>
  <div class="modal-window">
    <a href="#" class="modal-close">
      <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-close"></use></svg>
    </a>
    <div class="modal-wrapper">
      <header>
        <h2>Subscription saved</h2>
      </header>

      <div class="modal-content">
        <p>
          This subscription has been added to your profile. <strong>Please
          check your email and click on the link to confirm your
          subscription.</strong>
        </p>

        <div class="m-btncontainer is-center">
          <a href="#" class="btn medium gray uppercase" id="go-to-open-data">Add this data to the map</a>
          <a href="#" class="btn medium green uppercase" id="go-to-subscriptions">Return to subscriptions</a>
        </div>
      </div>
    </div>
  </div>
</div>
