<section class="m-header-static">
  <div class="inner">
    <header>
      <h2>Subscriptions</h2>
      <h3>Create your own subscription, you can do it by Area of Interest, by layers or you can upload your own shapefile and create a subscription.</h3>
    </header>
  </div>
</section>

<section class="m-section-static">
  <div class="inner">
    <div class="m-new">
      <aside class="m-aside">
        <h3>HOW TO CREATE YOUR SUBSCRIPTIONS</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus dolor a suscipit tincidunt. Ut sagittis porta nunc, nec pellentesque dolor ornare ut. Sed vitae.</p>

        <ul>
          <li>Country or Jurisdiction</li>
          <li>Draw or upload your area of interest</li>
        </ul>
      </aside>

      <div class="m-form">
        <form id="new-subscription">
          <div class="field -default -medium">
            <label for="name">Name *</label>
            <input type="text" name="name" placeholder="Enter the name of your subscription">
          </div>

          <div class="field -default -medium">
            <label for="aoi">AOI *</label>
            <div class="m-select">
              <select id="aoi" class="chosen-select default" data-placeholder="Select your area of interest">
                <option value=""></option>
                <option value="draw">Draw or upload your area of interest</option>
                <option value="data">GFW data</option>
                <option value="country">Country or region</option>
              </select>
            </div>
          </div>

          <div id="new-subscription-content">

          </div>
        </form>
      </div>
    </div>
  </div>
</section>
