<div class="modal is-active">
  <div class="modal-backdrop"></div>
  <div class="modal-window">
    <a href="#" class="modal-close">
      <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-close"></use></svg>
    </a>
    <div class="modal-wrapper">
      <header>
        <h2>Delete this subscription</h2>
        <h3>{{#if name}}{{name}},{{/if}} {{created}}</h3>
      </header>

      <div class="modal-content">
        <h3>
          This will delete the subscription from your profile. Are you
          sure?
        </h3>

        <div class="delete-button-container">
          <a href="#" class="btn green uppercase" id="cancel-delete">Cancel</a>
          <a href="#" class="btn red uppercase" id="confirm-delete">Confirm</a>
        </div>
      </div>
    </div>
  </div>
</div>
