<section class="header-static">
  <div class="inner">
    <header>
      <h2>My Subscriptions</h2>
    </header>
  </div>
</section>

<section class='section'>
  <div class="user-profile inner">
    <div class="tabs">
      <h3 class="current">GFW</h3>
      <h3>GFW Fires</h3>
      <h3>Commodities</h3>
    </div>

    <div class="content-form user-subscriptions">
      <table>
        <tbody id="user-subscriptions-table-body">
        </tbody>
      </table>
    </div>
  </div>
</section>
