<section class="header-static">
  <div class="inner">
    <header>
      <h2>My Subscriptions</h2>
    </header>
  </div>
</section>

<section class='section'>
  <div class="my-gfw-subscription-container">
    <div class="tabs">
      <div class="inner">
        <h3 class="current">GFW</h3>
        <h3>
          GFW Fires
          <span class="tooltipmap bottom">Coming Soon</span>
        </h3>
        <h3>
          Commodities
          <span class="tooltipmap bottom">Coming Soon</span>
        </h3>
      </div>
    </div>

    <div class="content-form my-gfw-subscriptions-list-container inner">
      {{#if showSpinner}}
        <div class="spinner3">
          <svg width="50" height="50">
            <g>
              <path class="background" d="M0,25A25,25 0 1,1 0,-25A25,25 0 1,1 0,25M0,20A20,20 0 1,0 0,-20A20,20 0 1,0 0,20Z"></path>
              <path class="foreground" d="M1.5308084989341915e-15,-25A25,25 0 0,1 25,0L20,0A20,20 0 0,0 1.2246467991473533e-15,-20Z"></path>
            </g>
          </svg>
        </div>
      {{else}}
        {{#if subscriptions.length}}
          <table class="my-gfw-subscriptions-list">
            <tbody id="my-gfw-subscriptions-table-body">
            </tbody>
          </table>
        {{else}}
          <div class="my-gfw-subscriptions-empty">
            <h4>You don't have any subscriptions yet</h4>
            <h5>
              Visit the map to subscribe to forest change alerts for your
              area of interest.
            </h5>

            <div class="my-gfw-subscriptions-how-to-subscribe"></div>

            <p>
              <a href="/map" class="btn green uppercase">Go to the map</a>
            </p>
          </div>
        {{/if}}
      {{/if}}
    </div>
  </div>
</section>
