<div class="profile-modal-backdrop"></div>
<div class="profile-modal-window">
  <a href="#" class="profile-modal-close">
    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-close"></use></svg>
  </a>

  <header>
    <h2>Fill in your profile</h2>
  </header>

  <div class="profile-modal-content">
  </div>
</div>
