<h2>your profile information</h2>
<p>This information is optional but it will help us learning how you use Global Forest Watch and how to improve it.</p>
<form>
  <label>name</label>
  <input type="text" placeholder="Your name">
  <label>organization / profession / job title</label>
  <input type="text" placeholder="Your organization / profession / job title">
  <label>other data</label>
  <input type="text" placeholder="Add info">
</form>
