@import '~styles/settings.scss';

.l-section-history {
  padding: rem(30px) 0 rem(30px);
  background-color: $grey-light;
  border-bottom: solid 1px $border;

  @media screen and (min-width: $screen-l) {
    padding: rem(60px) 0;
  }

  h3 {
    font-family: $font-family-1;
    font-size: rem(18px);
    text-transform: uppercase;
    opacity: 0.5;
  }

  .year-card {
    .image {
      border-radius: 50%;
    }

    .description {
      margin-top: rem(30px);

      @media screen and (min-width: $screen-l) {
        margin-top: calc(50% - 15px);
      }

      h4 {
        font-size: rem(30px);
        margin-bottom: rem(10px);
      }
    }
  }
}
