/* FONTS */
@import 'https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i';
$font-family-1: 'Fira Sans', sans-serif;

/* SCREENS */
$screen-xs: 320px;
$screen-s: 540px;
$screen-m: 768px;
$screen-l: 1024px;
$screen-xl: 1280px;
$screen-xxl: 2000px;

/* COLORS */
$white: #ffffff;
$black: #000000;
$green-gfw: #97be32;
$grey-light: #f7f7f7;
$grey-dark: #d6d6d9;
$slate: #555555;
$slate-dark: #444444;
$warm-grey: #999999;
$dark: #555555;
$light: #F7F7F7;
$cGreen: #97Bd3d;
$cGreen1: #A1BA42;
$red: #ed1846;
$pink: #ff6699;

/* FONT COLORS */
$font-color-1: $white;
$font-color-2: $slate;
$font-color-3: $slate-dark;
$font-color-4: $green-gfw;
$font-color-5: $warm-grey;

/* BORDERS */
$border: #E5E5DF;

/* BREAKPOINTS */
$br-mobile-portrait: 600px;
$br-mobile: 850px;
$br-tablet: 1050px;
$br-mobileMap: 1000px;

/* ANIMATIONS */
// Cubic
$easeInCubic:  cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeOutCubic:  cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeInOutCubic:  cubic-bezier(0.645, 0.045, 0.355, 1.000);
// Sine
$easeInSine:  cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeOutSine:  cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeInOutSine:  cubic-bezier(0.445, 0.050, 0.550, 0.950);
