@import '~styles/settings.scss';

.c-popup {
  padding: 5px;
  font-family: $font-family-1;

  .popup-title {
    font-size: rem(16px);
    margin-bottom: rem(15px);
    color: $slate;
    font-weight: 400;
  }

  .layer-selector {
    margin-bottom: 20px;
  }

  .values {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
  }

  .label {
    width: 40%;
    font-weight: 400;
    margin-right: 15px;
  }

  .nav-footer {
    margin-top: rem(10px);
  }
}

.leaflet-popup-content-wrapper {
  border-radius: 2px;
}

.leaflet-container a.leaflet-popup-close-button {
  top: 5px;
  right: 5px;
}
