.m-widget-annual-tree-cover-loss {

  .annual-tree-cover-loss-row {
    flex-direction: column;

    @media (min-width: $br-mobile){
      flex-direction: column;
    }

    .annual-tree-cover-loss-container {
      max-width: none;
      padding-left: 0;
      padding-right: 0;

      @media (min-width: $br-mobile){
        max-width: 100%;
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
      }

      .area-info-total-loss {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.08;
        color: #ff6599;
      }
    }

    .container-annual-graph {
      position: relative;
      max-width: 100%;
      margin-bottom: 15px;
      top: 0;

      @media (min-width: $br-mobile){
        margin-bottom: 0;
        top: -100px;
        max-width: inherit;
      }
    }

    .container-annual-data {
      border-top: solid 1px #e7e7e9;
      max-width: 100%;

      @media (min-width: $br-mobile){
        max-width: inherit;
      }
    }

    .container-data-graph {
      flex-direction: column-reverse;

      @media (min-width: $br-mobile){
        flex-direction: row;
      }
    }
  }

  .filter-list {
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;

    &.-desktop {
      display: none;
      @media (min-width: $br-mobile){
        display: flex;
      }
    }

    &.-mobile {
      display: block;
      @media (min-width: $br-mobile){
        display: none;
      }
    }

    .list-mobile {
      li {
        font-size: 12px;
        line-height: 1.42;
        color: #555555;

        .data {
          pointer-events: all;
          color: #97Bd3d;
        }
      }
    }

    .filter {
      margin-right: 35px;

      &:last-child {
        margin-right: 0;
      }

      .label {
        font-size: 12px;
        font-weight: 400;
        color: $dark;
        margin-bottom: 8px;
        text-transform: none;

        &.-separation-bottom {
          position: relative;
          bottom: 8px;
        }
      }

      &.-time-range-container {
        display: flex;
        align-items: flex-end;

        .select-container {
          min-width: 70px;
        }

        .text-container {
          margin-left: 10px;
          margin-right: 10px;
          padding-bottom: 4px;
        }
      }
    }
  }

  .total-loss {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: -20px;
    margin-top: 20px;

    @media (min-width: $br-mobile){
      margin-top: auto;
      margin-bottom: 10px;
    }

    .name {
      font-size: 12px;
      color: $dark;
      margin-bottom: 10px;
    }

    .value {
      font-size: 36px;
      color: #ff6599;
      font-weight: 500;
      margin-bottom: 14px;

      .unit {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  .datasets {
    margin-top: 25px;

    .name {
      font-size: 12px;
      color: $dark;
      font-weight: 500;
      margin-bottom: 5px;
    }

    .radio-group {
      @include clearfix();
      padding: 6px 0;
      font-size: 12px;

      .custom-radio {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 8px;

        &.-with-input {
          flex-wrap: wrap;

          label {
            width: 100%;
          }

          input[type=text] {
            max-width: 250px;
            margin: 0 0 0 25px;
          }
        }
      }

      label {
        width: 100%;
        padding: 8px 0;
        font-weight: 400;
        text-transform: none;
        position: relative;
        padding-left: 25px;
        line-height: 1;
        cursor: pointer;
        top: 0;
        left: 0;
        transform: none;
        text-align: left;
        color: $dark;

        .icon {
          position: absolute;
          top: 50%;
          left: 0;
          width: 12px;
          height: 12px;
          border: 1px solid #cccccc;
          border-radius: 50%;
          transform: translate(0,-50%);

          &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            background: #2681bf;
            border-radius: 50%;
            display: none;
            transform: translate(-50%,-50%);
          }
        }
      }

      .value {
        font-size: 36px;
        color: #2681bf;
        font-weight: 500;
        padding-left: 25px;
        margin-bottom: 5px;
        display: none;

        .unit {
          font-size: 16px;
          font-weight: 400;
        }

        .percentage {
          font-size: 12px;
          line-height: 1.08;
          color: #555;
        }
      }

      input[type=radio] {
        display: none;
      }

      input[type=radio]:checked + label {
        .icon {
          border: 0;
          &:after {
            display: block;
          }
        }
      }

      input[type=radio]:checked + label + .value {
        display: block;
      }
    }


  }

  .chart {
    height: 280px;
  }
}
