.m-widget-near-real-time-alerts {
  margin-top: 25px;

  .list {
    display: flex;
    margin-bottom: 5px;

    .item {
      // display: flex;
      // flex-direction: column;
      max-width: 110px;
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }

      .number {
        font-size: 36px;
        font-weight: 500;
        color: $pink;
        position: relative;
        display: inline-block;

        &.-red {
          color: $red;

          &:after {
            border-top-color: $red;
          }
        }
      }

      .text {
        font-size: 12px;
        font-weight: 400;
        color: $dark;
      }
    }
  }

  .btn {
    &.-transparent-background {
      margin-top: 15px;
      background-color: transparent;
    }
  }
}
