.m-widget-tree-cover {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;

  .graph {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 30px;

    .legend {
      .summary {
        .heading {
          font-size: 12px;
          font-weight: 400;
          color: $dark;
          margin-bottom: 10px;
        }
        .value {
          font-size: 70px;
          font-weight: 500;
          color: $font-color-4;

          .unit {
            font-size: 13px;
            font-weight: 400;
          }
        }
        .label {
          font-size: 12px;
          font-weight: 500;
          color: $font-color-4;
        }
      }
    }
  }

  .ranking {
    width: 100%;
    border: solid 1px #e7e7e9;
    padding: 30px 40px;

    .list {
      .heading {
        font-size: 12px;
        font-weight: 500;
        color: $dark;
        margin-bottom: 15px;
      }
      .item {
        display: flex;
        margin: 12px 0;
        font-size: 12px;
        font-weight: 400;
        align-items: center;

        .number {
          width: 10%;
        }

        .name {
          width: 35%;
        }

        .value {
          font-weight: 500;
          color: $font-color-4;

          .unit {
            font-weight: 400;
          }

          &.-selected {
            font-size: 36px;

            .unit {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
