.m-widget-tree-cover {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;

  .graph {
    width: 100%;
    display: flex;
    margin-top: 25px;
    margin-bottom: 5px;

    .legend {
      .summary {
        .heading {
          font-size: 12px;
          font-weight: 400;
          color: $dark;
          margin-bottom: 10px;
        }
        .value {
          font-size: 70px;
          font-weight: 500;
          color: $font-color-4;

          .unit {
            font-size: 13px;
            font-weight: 400;
          }
        }
        .label {
          font-size: 12px;
          font-weight: 500;
          color: $font-color-4;
          text-transform: none;

          @media (min-width: $br-mobile){
            text-transform: uppercase;
          }
        }
      }

      .list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 26px;

        .item {
          width: 100%;
          display: flex;
          margin-bottom: 10px;

          .icon {
            width: 12px;
            height: 12px;
            border-radius: 12px;
          }

          .name {
            font-size: 12px;
            font-weight: 400;
            color: $dark;
            margin-left: 8px;
          }
        }
      }
    }
  }
}
