$card-text-color: #555555;
$card-highlight-color: #ff6699;
$card-ranking-color: #b6b6ba;

.m-widget-tree-cover-loss-alerts-card {
  min-height: 120px;

  > .card-content {
    display: flex;
    align-items: center;
    min-height: 100px;

    > .ranking {
      min-width: 40px;
      height: 40px;
      display: flex;
      flex-shrink: 0;
      margin-right: 10px;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      border: 1px solid rgba($card-text-color, 0.3);

      > span {
        font-size: 20px;
        color: $card-ranking-color;

        @media (min-width: $br-mobile){
          font-size: 24px;
        }
      }

      @media (min-width: $br-mobile){
        min-width: 60px;
        height: 60px;
      }
    }

    > .card-data {
      .name {
        display: block;
        font-size: 12px;
        line-height: 1.0;
        letter-spacing: 0.1px;
        color: $card-text-color;
        margin-bottom: 10px;
      }
      .alerts {
        position: relative;
        padding-right: 15px;
        > .value {
          font-size: 24px;
          font-weight: 500;
          line-height: 1.0;
          color: $card-highlight-color;

          @media (min-width: $br-mobile){
            font-size: 32px;
          }
        }
        > .status {
          width: 0;
          height: 0;
          border-color: $card-highlight-color transparent;
          border-style: solid;
          border-width: 0 5px 6px 5px;
          position: absolute;
          top: 0;
          right: 0;

          &.worst {
            top: auto;
            bottom: 11px;
            border-width: 6px 5px 0px 5px;
          }
        }
      }
    }

  }
  > .card-chart {
    width: 100%;
    height: 80px;
  }
  > .card-actions {
    display: flex;
    justify-content: space-between;
    padding: 0 14px;
    margin-top: -20px;
    margin-bottom: 20px;

    > .link {
      font-size: 12px;
      font-weight: 500;
      line-height: 1.08;
    }
  }
}
