@import '~styles/settings.scss';

.c-topics-intro {
  position: relative;

  .titleBg {
    margin-top: 70px;
    background-color: #e5e5df;
  }

  .tigerImg {
    // max-width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
    height: 100%;
    align-content: center;
    align-items: center;

    // max-width: 100%;
    padding-left: 1.25rem;
    width: 286px;
    position: absolute;
    top: 56px;
  }

  .intro-title {
    font-size: 48px;
    font-weight: 300;
    color: black;
  }

  .intro-text {
    color: $slate-light;
    font-size: 16px;
    font-weight: 300;
    margin-top: 18px;
  }
}
