@import '~styles/settings.scss';

.c-topics-intro {
  position: relative;

  .titleBg {
    margin-top: 70px;
    background-color: #e5e5df;
  }

  .tiger-wrapper {
    position: relative;

    .tiger-img {
      width: 100%;
      margin: 0 auto;
      display: none;

      @media screen and (min-width: $screen-m) {
        position: absolute;
        top: 0;
        display: initial;
      }

      img {
        // height: 286px;
        max-width: 397px;
        width: 100%;
      }
    }
  }

  .intro-title {
    font-size: 48px;
    font-weight: 300;
    color: black;
  }

  .intro-text {
    color: $slate-light;
    font-size: 16px;
    font-weight: 300;
    margin-top: 18px;
    max-width: 400px;
  }

  .scrollToDiscover {
    margin: 80px 0 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .c-button {
      height: 46px;
      width: 46px;
      border-radius: 50px;
    }

    p {
      font-size: 14px;
      color: #555;
    }
  }
}
