@import '~styles/settings.scss';

.c-topics-intro {
  position: relative;

  .titleRow {
    padding-top: 30px;
    // padding: 0 $mobile-gutter;

    @media screen and (min-width: $screen-m) {
      margin-top: 70px;
      padding: 0 $desktop-gutter;
    }
  }

  .titleCol {
    @media screen and (min-width: $screen-m) {
      background-color: #e5e5df;
    }
  }

  .intro-img-wrapper {
    position: relative;

    .intro-img {
      width: 100%;
      margin: 0 auto;
      display: none;

      @media screen and (min-width: $screen-m) {
        position: absolute;
        // top: 56px;
        top: 45px;
        left: 43px;
        display: initial;
      }

      img {
        // height: 286px;
        // max-width: 397px;
        max-width: 400px;
        width: 100%;
      }
    }
  }

  .intro-title {
    font-size: 36px;
    font-weight: 300;
    line-height: 40px;
    color: $slate-light;
    max-width: 400px;

    @media screen and (min-width: $screen-m) {
      font-size: 48px;
      line-height: 54px;
      padding: rem(10px) 0;
    }
  }

  .intro-text {
    color: $slate-light;
    font-size: 16px;
    font-weight: 300;
    margin-top: 18px;
    max-width: 400px;
  }
}
