@import '~styles/settings.scss';

.c-widget-tree-located {
  .loader-offset {
    top: rem(50px);
    height: calc(100% - 50px);
  }

  .locations-list {
    padding: 0 rem(10px);

    @media screen and (min-width: $screen-m) {
      padding: 0 rem(20px);
    }
  }
}
