@import '~styles/settings.scss';

.c-form-input {
  border-radius: 4px;
  background-color: transparent;
  border: solid 1px $border;
  outline: none;
  color: $slate;
  height: rem(40px);
  padding: 0 rem(12px);
  width: 100%;

  &::placeholder {
    color: #a8a8a8;
  }

  &.textarea {
    height: rem(110px);
    padding: rem(12px);
    line-height: 1.5;
    resize: none;
  }
}
