@import '~styles/settings.scss';

.c-timeline {
  display: flex;
  flex-direction: column;

  .date-pickers {
    display: flex;
    margin: rem(5px) 0 rem(10px);
    align-items: center;
    justify-content: flex-end;

    .datepicker {
      margin: 0 rem(5px);
      width: rem(90px);
    }
  }

  .range-slider {
    margin-bottom: rem(15px);
  }
}

