@import '~styles/settings.scss';

$map-menu-items-size: rem(76px);

.c-map-menu-search {
  padding: rem(30px) rem(20px);

  h3 {
    text-transform: uppercase;
    color: $slate;
    font-size: rem(14px);
    font-weight: 500;
  }

  .side-menu-search {
    margin-bottom: rem(30px);
  }

  .search-type {
    display: inline-block;
    font-size: rem(12px);
    margin-bottom: rem(20px);
  }

  .search-type-select {
    width: rem(130px);
    display: inline-block;
    margin-left: rem(5px);
  }

  .search-results {
    position: relative;
    min-height: rem(300px);
  }

  .datasets-search {
    margin-bottom: rem(20px);

    > div {
      margin-bottom: rem(15px);
    }

    &.show-border {
      padding-bottom: rem(20px);
      border-bottom: solid 1px $border;
    }
  }

  .locations-search {
    position: relative;

    .location {
      font-size: rem(14px);
      color: $slate;
      margin-bottom: rem(15px);
      cursor: pointer;
      display: flex;
      flex-direction: row;
      text-align: left;
      line-height: 1.4;

      &:hover {
        p {
          color: darken($slate, 20%);
        }
      }

      &.active {
        p {
          color: $green-gfw;
        }
      }
    }

    .location-icon {
      fill: $green-gfw;
      height: rem(20px);
      width: rem(20px);
      min-height: rem(20px);
      min-width: rem(20px);
      margin-right: rem(5px);
    }
  }

  h5 {
    margin-bottom: rem(15px);
    font-size: rem(12px);
    color: $medium-grey;
    font-weight: 500;
    text-transform: uppercase;
  }

  .empty-search {
    position: relative;
    min-height: rem(120px);
  }

  .decimal-search {
    span {
      font-size: rem(12px);
      width: rem(40px);
      margin-right: rem(5px);
    }

    input {
      border: 0;
      border-bottom: solid 1px $border;
      width: calc(100% - 40px);
      margin-bottom: rem(10px);

      &.error {
        color: $error;
      }

      &:focus {
        outline: none;
      }
    }

    .error-message {
      text-align: center;
      font-size: rem(11px);
      margin-top: rem(5px);
    }
  }
}
