@import '~styles/settings.scss';

.c-map-menu-search {
  padding: rem(30px) rem(20px);

  h3 {
    text-transform: uppercase;
    color: $slate;
    font-size: rem(14px);
    font-weight: 500;
  }

  .side-menu-search {
    margin-bottom: rem(30px);
  }

  .search-type {
    display: inline-block;
    font-size: rem(12px);
    margin-bottom: rem(20px);
  }

  .search-type-select {
    width: rem(130px);
    display: inline-block;
    margin-left: rem(5px);
  }

  .empty-search {
    position: relative;
    min-height: rem(120px);
  }

  .label {
    font-size: rem(12px);
    width: rem(60px);
    margin-right: rem(5px);
  }

  .coord-input {
    border: 0;
    border-bottom: solid 1px $border;
    width: calc(100% - 51px);
    margin-bottom: rem(10px);

    &.error {
      color: $error;
    }

    &:focus {
      outline: none;
    }
  }

  .error-message {
    text-align: center;
    font-size: rem(11px);
    margin-top: rem(5px);
  }
}
