@import '~styles/settings.scss';

.c-data-table {
  font-size: rem(14px);

  .table {
    margin-bottom: 20px;

    .wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 10px;

      .value {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }

      .table-link {
        color: $green-gfw;
      }

      .label {
        width: 40%;
        min-width: 40%;
        font-weight: 500;
        margin-right: 15px;
        text-transform: uppercase;
        word-break: break-all;
      }
    }
  }
}
