@import '~styles/settings.scss';

.c-data-table {
  font-size: rem(14px);

  .wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;

    .values {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    .label {
      width: 40%;
      min-width: 40%;
      font-weight: 500;
      margin-right: 15px;
      text-transform: uppercase;
      word-break: break-all;
    }
  }
}
