@import '~styles/settings.scss';
$mobile-padding: rem(20px);
$desktop-padding: rem(40px);

.c-modal-welcome {
  max-width: rem(600px);

  .modal-welcome-content {
    p {
      font-size: rem(16px);
    }

    a {
      color: $green-gfw;
    }

    b {
      font-weight: 500;
    }

    .intro {
      margin-bottom: rem(20px);
    }

    .btn-intro {
      margin-bottom: rem(10px);
    }

    .guide-btn {
      text-align: left;
      margin-bottom: rem(15px);
      height: auto;

      .guide-btn-icon {
        width: rem(40px);
        min-width: rem(40px);
        height: rem(40px);
        min-height: rem(40px);
        margin-right: rem(15px);
        fill: $green-gfw;
      }

      p {
        font-size: rem(14px);
      }
    }
  }
}
