@import '~styles/settings.scss';

.c-dashboard-map {
  height: 100%;

  .map-controls {
    display: none;
    position: absolute;
    top: rem(15px);
    right: rem(15px);
    z-index: 999;

    @media screen and (min-width: $screen-m) {
      display: block;
    }
  }

  .mini-legend {
    position: absolute;
    left: rem(10px);
    right: rem(10px);
    bottom: rem(40px);
  }
}
