@import '~styles/settings.scss';

.c-recent-imagery-settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: rem(290px);
  background-color: $white;

  .top-section {
    padding: rem(20px) rem(20px) rem(30px);

    .recent-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: rem(15px);

      .icon-close {
        width: rem(9px);
        height: rem(10px);
        cursor: pointer;
        fill: $slate;
      }

      .title {
        font-size: 13px;
        font-weight: 500;
        line-height: 21px;
        color: $slate;
        text-transform: uppercase;
      }
    }

    .dates {
      position: relative;
      width: 100%;
      z-index: 4;
      margin-bottom: rem(20px);

      .title {
        margin-bottom: rem(10px);
        text-align: left;
      }

      .title,
      .before {
        font-size: 11px;
        font-weight: 500;
        color: $warm-grey;
      }

      .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .c-dropdown {
          margin: rem(1px) rem(15px) 0 0;
        }

        .c-datepicker {
          margin: 0 0 0 rem(15px);
        }
      }
    }

    .clouds {
      width: 100%;

      .title {
        text-align: left;
        font-size: 11px;
        font-weight: 500;
        color: $warm-grey;
        margin-bottom: rem(10px);
      }

      .c-slider {
        padding: 0 rem(5px);
      }
    }
  }

  .thumbnails {
    position: relative;
    width: 100%;
    min-height: rem(146px);
    padding-top: rem(14px);
    border-top: 1px solid rgba(#9e9e9e, 0.3);
    z-index: 1;
    padding: rem(20px) 0 rem(30px);

    .header {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: rem(20px);
      z-index: 2;
      padding: 0 rem(20px);

      .description {
        text-align: left;
        line-height: 1.6;
        min-width: 48%;
        margin-right: 4%;
      }

      .band-selector {
        min-width: 48%;
      }
    }

    .description {
      font-size: 12px;
      font-weight: 500;
      line-height: 13px;
      color: $slate;
    }

    .c-carousel {
      height: rem(100px);
      position: relative;
      margin: 0;
      z-index: 1;

      .slick-prev {
        left: rem(20px);
        top: calc(50% - 20px);
      }

      .slick-next {
        right: rem(20px);
        top: calc(50% - 20px);
      }
    }
  }

  .empty-thumbnails {
    padding-top: rem(11px);
  }
}
