@import '~styles/settings.scss';

.c-widget-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: rem(20px);

  .title {
    width: 100%;
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.54;
    color: $slate;
    text-transform: uppercase;
    padding-right: rem(20px);
  }

  .options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .map-button {
      position: relative;

      &.-active {
        cursor: default;

        &:hover {
          background-color: $green-gfw;
        }
      }

      .map-icon {
        width: rem(20px);
        height: rem(20px);
        margin-top: rem(1px);
      }
    }

    .small-options {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    .separator {
      position: relative;
      top: rem(3px);
      border-right: solid 1px $border;
      height: rem(15px);
      margin-left: rem(5px);
    }
  }

  .settings-icon {
    width: rem(12px);
    height: rem(12px);
  }

  .download-icon {
    width: rem(12px);
    height: rem(12px);
  }

  button,
  a {
    margin-left: rem(5px);
  }

  &.simple {
    padding-bottom: rem(10px);
  }
}
