// ROTATE
@keyframes rotate {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}

@keyframes rotateCenter {
  from { transform: translate(-50%,-50%) rotate(0deg);}
  to { transform: translate(-50%,-50%) rotate(360deg);}
}

// LOADER
@keyframes loader {
  from { transform: translate(-50%,-50%) rotate(0deg);}
  to { transform: translate(-50%,-50%) rotate(360deg);}
}

// LOADER
@keyframes loader2 {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}


// UPDOWN
@keyframes updown {
  0%{ transform: translate(0%,0%);}
  25%{ transform: translate(0%,-50%);}
  50%{ transform: translate(0%,0%);}
  75%{ transform: translate(0%,50%);}
  100%{ transform: translate(0%,0%);}
}

// PULSE
@keyframes pulse_animation {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}

// PULSE
@keyframes pulse_animation2 {
  0% { transform: scale(1, 1) translate(0,-50%);}
  50% { transform: scale(1.2, 1.2) translate(0,-50%);}
  100% { transform: scale(1, 1) translate(0,-50%);}
}
