// ROTATE
@include keyframes(rotate) {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}

@include keyframes(rotateCenter) {
  from { transform: translate(-50%,-50%) rotate(0deg);}
  to { transform: translate(-50%,-50%) rotate(360deg);}
}




// LOADER
@-webkit-keyframes loader {
  from { transform: translate(-50%,-50%) rotate(0deg);}
  to { transform: translate(-50%,-50%) rotate(360deg);}
}
@-moz-keyframes loader {
  from { transform: translate(-50%,-50%) rotate(0deg);}
  to { transform: translate(-50%,-50%) rotate(360deg);}
}
@-ms-keyframes loader {
  from { transform: translate(-50%,-50%) rotate(0deg);}
  to { transform: translate(-50%,-50%) rotate(360deg);}
}
@keyframes loader {
  from { transform: translate(-50%,-50%) rotate(0deg);}
  to { transform: translate(-50%,-50%) rotate(360deg);}
}

// LOADER
@-webkit-keyframes loader2 {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}
@-moz-keyframes loader2 {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}
@-ms-keyframes loader2 {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}
@keyframes loader2 {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}


// UPDOWN
@-webkit-keyframes updown {
  0%{ transform: translate(0%,0%);}
  25%{ transform: translate(0%,-50%);}
  50%{ transform: translate(0%,0%);}
  75%{ transform: translate(0%,50%);}
  100%{ transform: translate(0%,0%);}
}
@-moz-keyframes updown {
  0%{ transform: translate(0%,0%);}
  25%{ transform: translate(0%,-50%);}
  50%{ transform: translate(0%,0%);}
  75%{ transform: translate(0%,50%);}
  100%{ transform: translate(0%,0%);}
}
@-ms-keyframes updown {
  0%{ transform: translate(0%,0%);}
  25%{ transform: translate(0%,-50%);}
  50%{ transform: translate(0%,0%);}
  75%{ transform: translate(0%,50%);}
  100%{ transform: translate(0%,0%);}
}
@keyframes updown {
  0%{ transform: translate(0%,0%);}
  25%{ transform: translate(0%,-50%);}
  50%{ transform: translate(0%,0%);}
  75%{ transform: translate(0%,50%);}
  100%{ transform: translate(0%,0%);}
}



// PULSE
@-webkit-keyframes pulse_animation {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}
@-moz-keyframes pulse_animation {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}
@-ms-keyframes pulse_animation {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}
@keyframes pulse_animation {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}

// PULSE
@-webkit-keyframes pulse_animation2 {
  0% { transform: scale(1, 1) translate(0,-50%);}
  50% {transform: scale(1.2, 1.2) translate(0,-50%);}
  100% { transform: scale(1, 1) translate(0,-50%);}
}
@-moz-keyframes pulse_animation2 {
  0% { transform: scale(1, 1) translate(0,-50%);}
  50% {transform: scale(1.2, 1.2) translate(0,-50%);}
  100% { transform: scale(1, 1) translate(0,-50%);}
}
@-ms-keyframes pulse_animation2 {
  0% { transform: scale(1, 1) translate(0,-50%);}
  50% {transform: scale(1.2, 1.2) translate(0,-50%);}
  100% { transform: scale(1, 1) translate(0,-50%);}
}
@keyframes pulse_animation2 {
  0% { transform: scale(1, 1) translate(0,-50%);}
  50% { transform: scale(1.2, 1.2) translate(0,-50%);}
  100% { transform: scale(1, 1) translate(0,-50%);}
}
