*, *:after, *:before{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,body {
  &.active{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

body {
  font-family: "Fira GFW Sans", "Fira Sans", Georgia, serif;
  // This fixes the ligatures issue in Chrome and Safari > 9.0
  -webkit-font-feature-settings: "liga" 0;
  font-feature-settings: "liga" 0;
  // This fixes the ligatures issue in Safari
  -webkit-font-variant-ligatures: no-common-ligatures;
  // background: #EEE;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.is-map-page {
    background-color: #fff;

    .layout-content {
      margin-top: 45px;
      height: calc(100% - 45px);

      @media (min-width:$br-mobile){
        margin-top: 36px;
        height: calc(100% - 36px);
        top: 0;
      }
    }
  }
}

svg {
  width: 100%;
  height: 100%;
  transition: all .15s $easeInOutSine;
}

a{
  text-decoration: none;
  color: $cGreen;
}

h1,h2 {
  font-weight: 300;
}

.mobile-hide{
  @media (min-width: $br-mobile){
    display: block;
  }
  display: none;
}

.mobile-show{
  @media (min-width: $br-mobile){
    display: none;
  }
  display: block;
}

.hidden{
  display: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#react-header {
  height: 55px;
}
