// Clearfix
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
    visibility: hidden;
    font-size: 0;
    height: 0;
  }
  &:after {
    clear: both;
  }
}


// Retina
@mixin retina-image($file-1x, $file-2x) {
  background-image: image-url($file-1x);
  background-size: contain;
  @media
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (   min--moz-device-pixel-ratio: 1.5),
  only screen and (     -o-min-device-pixel-ratio: 1.5),
  only screen and (        min-device-pixel-ratio: 1.5),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: image-url($file-2x);
  }
}

// Loader spinner
@mixin spinner(){
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $dark;
  @include animation(rotate,1s,infinite,$easeInOutCubic);
}

// Animation
@mixin animation($name,$duration,$count: 1,$function: linear,$direction: normal,$fill : none,$delay : 0s, $play: running){
  -webkit-animation-name: $name;
  -webkit-animation-duration: $duration;
  -webkit-animation-iteration-count: $count;
  -webkit-animation-timing-function: $function;
  -webkit-animation-direction: $direction;
  -webkit-animation-fill-mode:$fill;
  -webkit-animation-delay:$delay;
  -webkit-animation-play-state: $play;
  -moz-animation-name: $name;
  -moz-animation-duration: $duration;
  -moz-animation-iteration-count: $count;
  -moz-animation-timing-function: $function;
  -moz-animation-direction: $direction;
  -moz-animation-fill-mode:$fill;
  -moz-animation-delay:$delay;
  -moz-animation-play-state: $play;
  -ms-animation-name: $name;
  -ms-animation-duration: $duration;
  -ms-animation-iteration-count: $count;
  -ms-animation-timing-function: $function;
  -ms-animation-direction: $direction;
  -ms-animation-fill-mode:$fill;
  -ms-animation-delay:$delay;
  -ms-animation-play-state: $play;
  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: $count;
  animation-timing-function: $function;
  animation-direction: $direction;
  animation-fill-mode:$fill;
  animation-delay:$delay;
  animation-play-state: $play;
}


// Degradado
@mixin gradient($origin: left, $start: #ffffff, $stop: #000000) {
    // background-color: $start;
    background-image: -webkit-linear-gradient($origin, $start, $stop);
    background-image: -moz-linear-gradient($origin, $start, $stop);
    background-image: -o-linear-gradient($origin, $start, $stop);
    background-image: -ms-linear-gradient($origin, $start, $stop);
    background-image: linear-gradient($origin, $start, $stop);
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}
