.text {
  font-family: $font-family-1;

  &.-color-1 {
    color: $font-color-1;
  }

  &.-color-2 {
    color: $font-color-2;
  }

  &.-color-3 {
    color: $font-color-3;
  }

  &.-color-4 {
    color: $font-color-4;
  }

  &.-light {
    font-weight: 300;
  }

  &.-bold {
    font-weight: 500;
  }

  &.-italic {
    font-style: italic;
  }

  &.-title-biggest {
    font-size: 30px;
    line-height: 1.33;

    @media screen and (min-width: $screen-m) {
      font-size: 59px;
      line-height: 1.02;
    }
  }

  &.-title-big {
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.2px;

    @media screen and (min-width: $screen-m) {
      font-size: 35px;
      line-height: 1.14;
    }
  }

  &.-title {
    font-size: 24px;
    line-height: 1.33;

    @media screen and (min-width: $screen-m) {
      font-size: 30px;
      line-height: 1.34;
    }
  }

  &.-title-small {
    font-size: 16px;
    line-height: 1.5;

    @media screen and (min-width: $screen-m) {
      font-size: 18px;
      line-height: 2.22;
    }
  }

  &.-paragraph {
    font-size: 16px;
    line-height: 1.5;

    @media screen and (min-width: $screen-m) {
      font-size: 18px;
      line-height: 1.67;
    }
  }

  &.-paragraph-big {
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: -0.5px;

    @media screen and (min-width: $screen-m) {
      font-size: 30px;
      letter-spacing: -1px;
    }
  }

  &.-paragraph-2 {
    font-size: 16px;
    line-height: 1.31;

    @media screen and (min-width: $screen-m) {
      font-size: 18px;
      line-height: 1.17;
    }
  }
}
