@import '~styles/settings.scss';

.l-home-page {
  overflow: hidden;

  .section-title {
    position: absolute;
    top: rem(50px);
    z-index: 1;
    left: $mobile-gutter;
    color: rgba($slate, 0.5);
    text-transform: uppercase;

    @media screen and (min-width: $screen-m) {
      left: $desktop-gutter;
    }

    @media screen and (min-width: $screen-xl) {
      left: calc(((100% - #{$screen-xl}) / 2) + #{$desktop-gutter});
    }
  }

  .section-apps {
    position: relative;

    .apps {
      height: 100%;
    }

    .section-title {
      color: $white;
    }

    .apps-carousel {
      margin: 0;
      width: 100%;

      .slick-slide {
        padding: 0;
        opacity: 1;

        a {
          height: 100%;
        }
      }

      .slick-arrow {
        background-color: rgba($white, 0.5);
      }

      .slick-next {
        right: rem(5px);

        @media screen and (min-width: $screen-m) {
          right: $desktop-gutter;
        }

        @media screen and (min-width: $screen-xl) {
          right: calc(((100% - #{$screen-xl}) / 2) + #{$desktop-gutter});
        }
      }

      .slick-prev {
        left: rem(5px);

        @media screen and (min-width: $screen-m) {
          left: $desktop-gutter;
        }

        @media screen and (min-width: $screen-xl) {
          left: calc(((100% - #{$screen-xl}) / 2) + #{$desktop-gutter});
        }
      }
    }

    .app-slide {
      cursor: pointer;
      display: block;
      padding: rem(150px) 0 0;
      text-align: center;
      color: $white;
      height: 100%;

      h4 {
        font-size: rem(35px);
        font-weight: 300;
        margin-bottom: rem(10px);
      }

      p {
        color: $white;
        margin: auto;
        margin-bottom: rem(350px);
        font-size: rem(18px);
        max-width: rem(700px);
      }

      .app-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 100%;
      }

      .app-image {
        width: 100%;
        max-width: rem(800px);
        margin: auto;
        height: rem(350px);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .app-icon {
        height: rem(40px);
        width: auto;

        &.pro {
          width: rem(75px);
          height: rem(75px);
        }
      }
    }
  }

  .section-news {
    min-height: rem(400px);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    padding: rem(40px) 0 rem(40px);

    .news-card {
      color: $slate;
      height: 100%;
    }

    .news-title {
      font-size: rem(35px);
      font-weight: 300;
      color: $white;
      text-align: center;
      margin-bottom: rem(20px);
    }

    .my-gfw-btn {
      min-width: rem(120px);
      margin: auto;
    }

    .news-carousel {
      min-height: rem(300px);
    }

    .no-news p {
      color: $white;
      font-size: rem(18px);
    }
  }
}
