<header>
  <div class="c-default-header">
    <div class="row">
      <div class="small-12 columns">
        <div class="c-default-header__content">
          <h1><a href="/">Global Forest Watch</a></h1>
          <ul class="c-default-header-navigation">
            <li>MAP</li>
            <li>COUNTRIES</li>
            <li>LEARN</li>
            <li>GET INVOLVED</li>
            <li>ABOUT</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
