@import '~styles/settings.scss';

$summary-color: #aaa;

.c-card {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $grey-light;
  border: solid 1px $border;

  .image {
    height: rem(220px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 2;
    width: calc(100% + 2px);
    margin-left: -1px;
  }

  &.active {
    border-color: $green-gfw;
    box-shadow: 0 0 0 1px $green-gfw;

    .image {
      margin-left: 0;
      width: 100%;
    }
  }

  .body {
    padding: rem(15px);
    border-top: 0;
    z-index: 2;

    @media screen and (min-width: $screen-m) {
      padding: rem(25px);
    }

    span {
      font-size: 12px;
      margin-bottom: rem(10px);
      color: $summary-color;
      display: block;
    }

    .title {
      margin-bottom: rem(15px);
      font-size: rem(28px);
      line-height: 1.25;
      letter-spacing: -0.4px;
      font-weight: 300;
    }

    .summary {
      font-size: rem(16px);
      margin-bottom: rem(20px);
      line-height: 1.9;
      height: rem(80px);
      overflow: hidden;
    }

    .meta {
      margin-bottom: rem(10px);
      font-size: rem(14px);
      opacity: 0.5;
      text-transform: uppercase;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
    }

    .read-more {
      max-width: rem(150px);
      margin-top: rem(30px);
    }
  }
}
