@import '~styles/settings';

.c-polygon-analysis {
  padding: 0 rem(20px);

  &__chooser {
    padding: rem(20px) 0;
  }

  &__chooser-title {
    font-size: 21px;
    text-align: center;
    margin-bottom: rem(10px);
  }

  &__chooser-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem(10px);
    height: rem(40px);
    border: 1px dashed $green-gfw;
    border-radius: 40px;
    font-size: 13px;
    cursor: pointer;
  }

  &__chooser-separator {
    padding: rem(10px) 0;
    text-align: center;
  }
}
