@import '~styles/settings.scss';

.c-widgets {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  padding: rem(20px) $mobile-gutter rem(30px) $mobile-gutter;
  min-width: 100%;

  @supports not (display: grid) {
    > div {
      width: 100%;
      margin-bottom: rem(30px);

      @media screen and (min-width: $screen-l) {
        width: calc(50% - 15px);
        margin-bottom: rem(30px);

        &.large {
          width: 100%;
        }
      }
    }
  }

  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    grid-auto-flow: dense;

    @media screen and (min-width: $screen-l) {
      grid-template-columns: 1fr 1fr;

      .large {
        grid-column-end: span 2;
      }
    }
  }

  @media screen and (min-width: $screen-m) {
    padding-left: $desktop-gutter;
    padding-right: $desktop-gutter;
  }

  @media screen and (min-width: $screen-l) {
    padding-top: rem(30px);
    padding-right: rem(30px);
  }

  @media screen and (min-width: $screen-xl) {
    padding-left: calc(100% - (#{$max-width} * 0.7) + #{$desktop-gutter});
  }

  .no-widgets-message {
    border: solid 1px rgba($medium-grey, 0.2);
    border-radius: 4px;
    position: relative;
    min-height: rem(460px);
  }

  .widgets-loader {
    position: relative;
    min-height: rem(460px);
  }
}
