@import '~styles/settings.scss';

.m-card {
  position: relative;
  padding: 40px;
  background: $white;
  border: 1px solid $border;
  min-height: 340px;

  &.-big-padding {
    padding-bottom: 85px;
  }

  .card-title {
    font-size: 21px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    color: $font-color-2;
    text-transform: uppercase;
  }

  .card-title-subtitle {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 13px;
  }

  .card-description {
    font-size: 14px;
    line-height: 1.9;
    color: $font-color-2;
  }
}

.tippy-tooltip {
  max-width: 220px;
  background-color: $yellow;
  color: $font-color-2;
  box-shadow: 0 2px 4px 0 rgba($black, 0.5);
}

.tippy-popper[x-placement^=top] [x-arrow] {
  border-top-color: $yellow;
  border-left-color: $yellow;
  border-right: none;
  transform-origin: 0 0;
  transform: rotate(-45deg);
  box-shadow: -2px 2px 2px 0 rgba($black, 0.5);
}
