@import '~styles/settings.scss';

.c-widget-primary-tree-cover {
  .cover-legend {
    min-width: 50%;
  }

  .pie-chart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: rem(30px);
  }
}
