@import '~styles/settings.scss';

.l-root {
  .page-logo {
    position: absolute;
    top: 0;
    left: rem(15px);
    z-index: 2;
    display: none;
    width: rem(76px);
  }

  .page {
    position: relative;
    min-height: calc(100vh - 56px - 583px);
    z-index: 0;

    @media screen and (min-width: $screen-m) {
      min-height: calc(100vh - 56px - 384px);
    }

    .page-loader {
      position: relative;
      z-index: 1;
      min-height: 60vh;
    }

    &.mobile {
      margin-top: rem(56px);
    }
  }

  &.-full-screen {
    .page {
      margin-top: 0;
      height: calc(100% - 50px);
      min-height: calc(100% - 50px);
      position: fixed;
      width: 100%;
      background-color: $ocean;
      top: 0;

      @media screen and (min-width: $screen-m) {
        right: 0;
        min-height: 100%;
      }
    }

    .page-loader {
      background-color: rgba($slate, 0.2);

      .spinner {
        border-top-color: $white;
      }
    }

    .page-logo {
      display: block;
    }
  }
}
