@import '~styles/settings.scss';

.l-root {
  .logo {
    width: rem(76px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
  }

  .page {
    position: relative;
    z-index: 0;
    min-height: calc(100vh - 60px);

    .page-loader {
      z-index: 0;
    }
  }

  &.-map {
    .page {
      min-height: 100vh;
      width: calc(100% - 76px);
      position: absolute;
      right: 0;
      background-color: $ocean;
    }

    .page-loader {
      background-color: rgba($slate, 0.2);

      .spinner {
        border-top-color: $white;
      }
    }

    .logo {
      display: block;
    }
  }

  &.-embed {
    .page {
      position: relative;
      width: 100%;
      min-height: rem(400px);
    }

    &.-map {
      .page {
        min-height: calc(100vh - 60px);
      }
    }
  }

  .embed-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: rem(60px);
    background: $white;
    border-top: solid 1px $border;

    p {
      opacity: 0.7;
    }
  }

  .embed-btn {
    width: rem(160px);
    margin-left: rem(10px);
    margin-right: rem(10px);
  }
}

