@import '~styles/settings.scss';
$black-tabs: #404040;

.c-tabs {
  height: rem(40px);
  background-color: $black-tabs;

  @media screen and (min-width: $screen-l) {
    padding-left: calc(100% - (#{$max-width} * 0.7));
  }

  .tabs-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    li {
      cursor: pointer;
      height: rem(40px);
      font-size: 13px;
      color: #9f9f9f;
      text-transform: uppercase;
      letter-spacing: 0.1px;
      padding: 0 rem(14px);
      display: flex;
      align-items: center;
      justify-content: center;

      &.-selected {
        background-color: $white;
      }
    }
  }
}
