@import '~styles/settings.scss';

.c-form-select {
  border-radius: 4px;
  background-color: transparent;
  border: solid 1px $border;
  outline: none;
  color: $slate;
  width: 100%;
  height: rem(40px);
  padding: 0 rem(12px);
  cursor: pointer;

  &.multiple {
    height: rem(100px);
    padding: 0;

    option {
      padding: 5px 12px;
    }
  }
}

.select-input {
  margin-top: rem(5px);
  margin-left: rem(25px);
  width: calc(100% - #{rem(25px)});
  max-width: rem(325px);
}
