@import '~styles/settings.scss';

.l-main {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px $grey-dark;
}

.l-section {
  position: relative;
  padding: 50px 0;

  &.-large-p {
    padding: 150px 0;
  }

  .section-header {
    padding-bottom: 10px;

    > h2 {
      padding-bottom: 35px;
    }

    > p {
      padding-bottom: 40px;
    }
  }

  .section-separator {
    height: 1px;
    border: 1px solid rgba($grey-dark, 0.6);
    margin: 30px 0;
  }

  .card-list {
    > li {
      margin-bottom: 30px;
    }
  }

  .section-footer {
    margin-top: 12px;
  }
}
