<script id='window-template' type='text/x-underscore-template'>
  <a href='#' class='close'><svg><use xlink:href='#shape-close'></use></svg></a>
  <div class='content'></div>
</script>
<script id='share-template' type='text/x-underscore-template'>
  <a href='#' id='share_control' title=" {{ tooltip }} " class='share_control' data-tip='Share'></a>
</script>
<script id='share-country-template' type='text/x-underscore-template'>
    <a href="#" id="share_control" title="Share this graphic " class="share_control" data-tip="Share">
      Share
    <span class="sidenav-icon">
      <svg class="share">
        <use xlink:href="#shape-share"></use>
      </svg>
    </span>
    </a>
</script>
<script id='share-country-entry-template' type='text/x-underscore-template'>
  <a href="#" class="icon circle">
      <svg class="icon-share">
        <use xlink:href="#shape-share"></use>
      </svg>
  </a>
</script>
<script id='share_dialog-template' type='text/x-underscore-template'>
  <a href='#' class='close'><svg><use xlink:href='#shape-close'></use></svg></a>
  <h1 class='title'>{{ title }}</h1>

  <div class='form'>
    <p class='help'><span>{{ help }}</span></p>

    <div class='input-field huge'>
      <div class="share_loading"></div>
      <input class='field' type='text' id='share_field' readonly />
      <ul class="mode_menu">
        <li class="selected first"><a href="#url" data-embed="url">link</a></li>
        <li class="last"><a href="#embed" data-embed="embed">embed</a></li>
      </ul>
    </div>

    <ul class="share_buttons">
      <li><a href="https://twitter.com/share?url=" target="_blank" class="twitter"><span>twitter</span></a></li>
      <li><a href="http://www.facebook.com/sharer.php?u=" target="_blank" class="facebook"><span>facebook</span></a></li>
      <li><a href="https://plus.google.com/share?url=" target="_blank" class="google_plus"><span>google+</span></a></li>
    </ul>
  </div>
</script>
