<article id='state_of_the_forest' class='state_of_the_forest'>
  <h2 class='source_category_title'>State of the forest</h2>

  <ul class='sources'>
    <li id='extent'>
      <div class='source_body'>
        <p><strong class='source_title'>Forest extent</strong></p>
        <p>This number represents the extent of tree cover in 2012 according to an analysis using global tree cover and loss data from the University of Maryland.</p>

        <p>The map on the left shows the distribution of forest cover in this country, based on 2009 <a href='http://due.esrin.esa.int/globcover/' target='_blank'>GlobCover</a> satellite imagery. The data have been downsampled to show only areas of high forest density.</p>

        <p class='credits'><strong>Citation (number):</strong> <%= link_to 'UMD 2013', sources_path %></p>

        <p class='credits'><strong>Citation (map):</strong> <a href='http://due.esrin.esa.int/globcover/' target='_blank'>GlobCover 2009</a></p>
      </div>
    </li>

    <li id='forest_type'>
      <div class='source_body'>
        <p>This figure represents the percentage of primary, regenerated, and planted forest, according to the FAO.</p>

        <p><strong class='source_title'>Primary</strong></p>
        <p>No clearly visible indications of human activity or significant ecological disturbance.</p>

        <p><strong class='source_title'>Regenerated</strong></p>
        <p>Naturally regenerated forest of native species with clear indications of human activities.</p>

        <p><strong class='source_title'>Planted</strong></p>
        <p>Forest established through planting and/or deliberate seeding.</p>

        <p class='credits'><strong>Citation:</strong> <a href='http://www.fao.org/forestry/fra/fra2010/en/' target='_blank'>FAO, 2010</a></p>
      </div>
    </li>

    <li id='forest_map'>
      <div class='source_body'>
        <p><strong class='source_title'>Map</strong></p>

        <p>Use this icon to navigate to the GFW map.</p>
      </div>
    </li>
  </ul>
</article>

<article id='country_people' class='country_people'>
  <h2 class='source_category_title'>People & economy</h2>

  <ul class='sources'>
    <li id='gross_value'>
      <div class='source_body'>
        <p><strong class='source_title'>Gross economic value</strong></p>
        <p>Measures the contribution of the forestry sector to the country’s gross domestic product (GDP) at 2011 prices and exchange rates.</p>

        <p><strong class='source_title'>Gross value percent</strong></p>
        <p>Represents the percentage of GDP comprised of the forestry sector. Calculated by dividing economic value of the forestry sector by the country’s Total Gross Value Added (GVA) for 2011.</p>

        <p class='credits'><strong>Citation:</strong> <a href='http://www.fao.org/3/a-i3710e.pdf' target='_blank'>FAO, 2011</a></p>
      </div>
    </li>

    <li id='employment'>
      <div class='source_body'>
        <p><strong class='source_title'>Employment</strong></p>
        <p>This figure represents 2011 reported, formal employment in the forestry sector, converted to full-time equivalents (a common unit for measuring employment across various sectors). This figure does not include unreported, informal, and indirect employment. According to the FAO, it is likely an underestimate.</p>

        <p class='credits'><strong>Citation:</strong> <a href=' http://www.fao.org/3/a-i3710e.pdf' target='_blank'>FAO, 2011</a></p>
      </div>
    </li>
  </ul>
</article>

<article id='tenure_laws' class='tenure_laws'>
  <h2 class='source_category_title'>Tenure & laws</h2>

  <ul class='sources'>
    <li id='forest_tenure'>
      <div class='source_body'>
        <p>Forest tenure is a term that includes ownership, tenancy, and other claims over forests. It defines who can use forest resources and the time period and condition of use.</p>

        <p><strong class='source_title'>Public Lands Administered by the Government</strong></p>
        <p>All forests in the national forest estate (forest area managed under private or state ownership rights) that are owned and administered exclusively by the government, including some protected areas and forest lands awarded as concessions. These forests are not designated for use by communities or indigenous people.</p>

        <p><strong class='source_title'>Public Lands Reserved for Communities and Indigenous Groups</strong></p>
        <p>Public forests set aside on a semipermanent but conditional basis for community and indigenous use. Although the distribution of rights between governments and communities varies in every country, governments typically maintain authority to extract and manage the area’s resources (forests, minerals, etc.).</p>

        <p><strong class='source_title'>Private Lands Owned by Communities and Indigenous Groups</strong></p>
        <p>For these forests, rights cannot be unilaterally terminated by a government without due process and compensation.</p>

        <p><strong class='source_title'>Private Lands Owned by Firms and Individuals</strong></p>
        <p>For these forests, rights cannot be unilaterally terminated by a government without due process and compensation.</p>

        <p class='credits'><strong>Citation (data):</strong> <a href='http://www.rightsandresources.org/documents/country_data.php' target='_blank'>Rights and Resources Initiative 2012 </a></p>
        <p class='credits'><strong>Citation (definitions):</strong> <a href='http://www.rightsandresources.org/documents/files/doc_2251.pdf' target='_blank'>Rights and Resources Initiative 2011 </a></p>
      </div>
    </li>

    <li id='forest_legislation'>
      <div class='source_body'>
        <p><strong class='source_title'>Forest legislation</strong></p>
        <p>Use the links below to view this country’s national forest policy. As defined by the FAO, a forest policy is “a set of orientations and principles of actions adopted by public authorities... to guide future decisions in relation to the management, use and conservation of forest and tree resources for the benefit of society.”</p>

        <p class='credits'><strong>Citation:</strong> <a href='http://www.fao.org/forestry/fra/fra2010/en/'>FAO, 2010</a></p>
      </div>
    </li>
  </ul>
</article>

<article id='climate_change' class='climate_change'>
  <h2 class='source_category_title'>Climate change</h2>

  <ul class='sources'>
    <li id='carbon_stocks'>
      <div class='source_body'>
        <p><strong class='source_title'>Carbon stocks</strong></p>
        <p>The total amount of carbon stored in living forest biomass.</p>

        <p class='credits'><strong>Citation:</strong> <a href='http://www.fao.org/forestry/fra2010' target='_blank'>FAO, 2010 </a></p>
      </div>
    </li>

    <li id='emissions'>
      <div class='source_body'>
        <p><strong class='source_title'>GHG Emissions <span>(MtC0<sub>2</sub>e)</span></strong></p>
        <p>The percentage of a country’s greenhouse gas emissions resulting from changes in land use and forestry in 2011, as defined by the FAO.</p>

        <p><strong class='source_title'>GHG Sequestration <span>(MtC0<sub>2</sub>e)</span></strong></p>
        <p>The percentage of a country’s greenhouse gas emissions sequestered from changes in land use and forestry in 2011, as defined by the FAO.</p>

        <p><strong>Note:</strong> Land-use change and forestry emissions data often have much higher uncertainties than data from other emissions sources (e.g., data from energy emissions). The FAO emission data are estimates by the FAO and do not coincide with GHG data reported by member countries to the UNFCCC.</p>

        <p class='credits'><strong>Citation:</strong> <a href='http://faostat3.fao.org/faostat-gateway/go/to/download/G2/*/E' target='_blank'>FAOSTAT, 2011</a>. Accessed through <a href='http://cait2.wri.org/' target='_blank'>CAIT 2.0.</a></p>
      </div>
    </li>
  </ul>
</article>

<article id='climate_change' class='conventions'>
  <h2 class='source_category_title'>Conventions change</h2>

  <ul class='sources'>
    <li id='conventions'>
      <div class='source_body'>
        <p><strong class='source_title'>Convention on Biological Diversity (CBD)</strong></p>
        <p>The Convention on Biological Diversity was launched on 29 December 1993. Its three main objectives are to conserve biological diversity, sustainably use the components of biological diversity, and fairly and equitably share the benefits resulting from the use of genetic resources.</p>

        <p><strong>Terms</strong><br />All terms—“ratification,” “accession,” “approval,” and “acceptance”—signify a state’s consent to be bound by a treaty. The legal incidents and implications of ratification, accession, approval, and acceptance are the same. The treaty becomes legally binding on the state or the regional economic integration organization. Countries that have not ratified the treaty are identified as “Non Parties.”</p>

        <p><strong>Ratification and Accession</strong><br />Ratification and accession have the same legal effect. The main distinction concerns when a state accepts the offer or the opportunity to become a party to a treaty. Only states that have signed a treaty, while it was open for signature, can proceed to ratify it. The signature does not establish consent to be bound, hence the need for ratification. Accession is the act whereby a state becomes a party to a treaty that has already been negotiated and signed by other states.</p>

        <p><strong>Acceptance and Approval</strong><br />The terms “acceptance” and “approval” originated more recently and apply under the same conditions as those for ratification. The legal effect is the same as ratification. The use of one term or the other results from differences in legal systems. Certain countries, especially some East European states, use the terms “acceptance” or “approval” for participation in treaties. The terms are also used when organizations (e.g., the EU) rather than states become parties to an international treaty.</p>

        <p><strong>Succession</strong><br />Succession occurs when one state replaces another in the responsibility for the international relations of a territory. Generally, a newly independent state that issues a notification of succession is considered a party to a treaty from the date of the succession of states or from the date of entry into force of the treaty, whichever is later.</p>

        <p class='credits'><strong>Citation:</strong> <a href='http://www.cbd.int' target='_blank'>CBD, 2013</a></p>

        <p><strong class='source_title'>United Nations Framework Convention on Climate Change (UNFCCC)</strong></p>
        <p>The United Nations Framework Convention on Climate Change was negotiated at the Earth Summit in Rio de Janeiro from 3 to 14 June 1992 and entered into force on 21 March 1993. The treaty’s main goal is the “stabilization of greenhouse gas concentrations in the atmosphere at a level that would prevent dangerous anthropogenic interference with the climate system.”</p>

        <p><strong>Terms</strong><br />The convention divides countries into three main groups based on their commitments.</p>
        <p><strong>Annex 1 Parties</strong><br /> Industrialized countries that were members of the Organisation for Economic Co-operation and Development (OECD) in 1992 and countries with economies in transition (EIT Parties), such as the Russian Federation, the Baltic states, and several Central and Eastern European states.</p>

        <p><strong>Annex II Parties</strong><br /> OECD members of Annex I but not the EIT Parties. Annex II Parties are required to provide financial resources to enable developing countries to undertake emissions reduction activities under the convention and to help them adapt to effects of climate change.</p>

        <p><strong>Non–Annex I Parties</strong><br /> Mostly developing countries that are recognized by the convention as being particularly vulnerable to the adverse impacts of climate change and/or the potential economic impacts of climate change response measures.</p>

        <p class='credits'><strong>Citation:</strong> <a href='http://unfccc.int/essential_background/convention/items/6036.php' target='_blank'>UNFCCC, 2013</a></p>

        <p><strong class='source_title'>Kyoto Protocol</strong></p>
        <p>The Kyoto Protocol was adopted on 11 December 1997 and entered into force on 16 February 2005. It is an international agreement linked to the United Nations Framework Convention on Climate Change that sets internationally binding emission reduction targets for its parties.</p>

        <p><strong>Terms</strong></p>
        <p><strong>Ratification and Accession</strong><br />Ratification and accession have the same legal effect. The main distinction concerns when a state accepts the offer or the opportunity to become a party to a treaty. Only states that have signed a treaty, while it was open for signature, can proceed to ratify it. The signature does not establish consent to be bound, hence the need for ratification. Accession is the act whereby a state becomes a party to a treaty that has already been negotiated and signed by other states.</p>

        <p class='credits'><strong>Citation:</strong> <a href='http://unfccc.int/kyoto_protocol/items/2830.php' target='_blank'>UNFCCC, 2013</a></p>

        <p><strong class='source_title'>United Nations Convention to Combat Desertification (UNCCD)</strong></p>
        <p>The United Nations Convention to Combat Desertification was adopted on 17 June 1994 and entered into force in December 1996. The Convention aims to combat desertification and to mitigate the effects of drought.</p>

        <p><strong>Terms</strong></p>
        <p><strong>Ratification and Accession</strong><br /> Ratification and accession have the same legal effect. The main distinction concerns when a state accepts the offer or the opportunity to become a party to a treaty. Only states that have signed a treaty, while it was open for signature, can proceed to ratify it. The signature does not establish consent to be bound, hence the need for ratification. Accession is the act whereby a state becomes a party to a treaty that has already been negotiated and signed by other states.</p>

        <p class='credits'><strong>Citation:</strong> <a href='http://www.unccd.int/en/Pages/default.aspx' target='_blank'>UNCCD, 2012</a></p>

        <p><strong class='source_title'>International Tropical Timber Agreement (ITTA)</strong></p>
        <p>The International Tropical Timber Agreement entered into force on 7 December 2011. The agreement aims “to promote the expansion and diversification of international trade in tropical timber from sustainably managed and legally harvested forests and to promote the sustainable management of tropical timber producing forests.”</p>

        <p><strong>Terms</strong><br />Members of the ITTA have consented to be bound by this agreement. Producer members are those situated between the Tropic of Cancer and the Tropic of Capricorn with tropical forest resources and/or a net export of tropical timber. Consumer members are those that import tropical timber.</p>

        <p class='credits'><strong>Citation:</strong> <a href='http://www.itto.int/itta' target='_blank'>ITTO, 2011</a></p>

        <p><strong class='source_title'>Convention on International Trade in Endangered Species of Wild Fauna and Flora (CITES)</strong></p>
        <p>The Convention on International Trade in Endangered Species of Wild Fauna and Flora is an international agreement that aims to ensure that international trade of wild plants and animals does not threaten their survival.</p>

        <p><strong>Terms</strong><br />All terms—“ratification,” “accession,” “approval,” and “acceptance”—signify a state’s consent to be bound by a treaty. The legal incidents and implications of ratification, accession, approval, and acceptance are the same. The treaty becomes legally binding on the state or the regional economic integration organization. Countries that have not ratified the treaty are identified as “Non Parties.”</p>

        <p><strong>Ratification and Accession</strong><br />Ratification and accession have the same legal effect. The main distinction concerns when a state accepts the offer or the opportunity to become a party to a treaty. Only states that have signed a treaty, while it was open for signature, can proceed to ratify it. The signature does not establish consent to be bound, hence the need for ratification. Accession is the act whereby a state becomes a party to a treaty that has already been negotiated and signed by other states.</p>

        <p><strong>Acceptance and Approval</strong><br />The terms “acceptance” and “approval” originated more recently and apply under the same conditions as those for ratification. The legal effect is the same as ratification. The use of one term or the other results from differences in legal systems.</p>

        <p>Certain countries, especially some East European states, use the terms “acceptance” or “approval” for participation in treaties. The terms are also used when organizations rather than states become parties to an international treaty (for example, the EU).</p>

        <p><strong>Succession</strong><br />Succession occurs when one state replaces another in the responsibility for the international relations of a territory. Generally, a newly independent state which makes a notification of succession is considered a party to a treaty from the date of the succession of states or from the date of entry into force of the treaty, whichever is later.</p>

        <p class='credits'><strong>Citation:</strong> <a href='http://www.cites.org' target='_blank'>CITES, 2013</a></p>

        <p><strong class='source_title'>The Ramsar Convention on Wetlands (Ramsar)</strong></p>
        <p>The Ramsar Convention, known as the Convention on Wetlands of International Importance, is an “intergovernmental treaty that provides the framework for national action and international cooperation for the conservation and wise use of wetlands and their resources.” The treaty entered into force on 21 December 1971.</p>

        <p><strong>Terms</strong><br />Contracting parties have "signaled a commitment on the part of the national government to work actively to support the ‘three pillars’ of the Convention: 1) ensuring the conservation and wise use of wetlands it has designated as Wetlands of International Importance, 2) including as far as possible the wise use of all wetlands in national environmental planning, and 3) consulting with other Parties about implementation of the Convention, especially in regard to transboundary wetlands, shared water systems, and shared species."</p>

        <p class='credits'><strong>Citation:</strong> <a href="http://www.ramsar.org" target="_blank">www.ramsar.org</a></p>

        <p><strong class='source_title'>World Heritage Convention</strong></p>
        <p>Created in 1972, the World Heritage Convention aims to identify and preserve the world’s cultural and natural heritage. The convention lays out the responsibilities of a state’s parties in identifying potential sites of outstanding universal value and the parties’ role in protecting and preserving these sites.</p>

        <p><strong>Terms</strong><br />All terms—“ratification,” “accession,” “approval,” and “acceptance”—signify a state’s consent to be bound by a treaty. The legal incidents and implications of ratification, accession, approval, and acceptance are the same. The treaty becomes legally binding on the state or the regional economic integration organization. Countries that have not ratified the treaty are identified as “Non Parties.”</p>

        <p><strong>Ratification and Accession</strong><br />Ratification and accession have the same legal effect. The main distinction concerns when a state accepts the offer or the opportunity to become a party to a treaty. Only states that have signed a treaty, while it was open for signature, can proceed to ratify it. The signature does not establish consent to be bound, hence the need for ratification. Accession is the act whereby a state becomes a party to a treaty that has already been negotiated and signed by other states</p>

        <p><strong>Acceptance and Approval</strong><br />The terms “acceptance” and “approval” originated more recently and apply under the same conditions as those for ratification. The legal effect is the same as ratification. The use of one term or the other results from differences in legal systems.</p>

        <p>Certain countries, especially some East European states, use the terms “acceptance” or “approval” for participation in treaties. The terms are also used when organizations rather than states become parties to an international treaty (for example, the EU).</p>

        <p><strong>Succession</strong><br />Succession occurs when one state replaces another in the responsibility for the international relations of a territory. Generally, a newly independent state which makes a notification of succession is considered a party to a treaty from the date of the succession of states or from the date of entry into force of the treaty, whichever is later.</p>

        <p class='credits'><strong>Citation:</strong> <a href='http://whc.unesco.org/en/convention' target='_blank'>UNESCO, 2013</a></p>

        <p><strong class='source_title'>Non-Legally Binding Instrument</strong></p>
        <p>The Non–Legally Binding Instrument (NLBI) on All Types of Forests was adopted on 17 December 2007. The main purposes of this instrument are to (1) strengthen political commitment and action at all levels to implement sustainable management of all forest types and to achieve shared global objectives on forests; (2) enhance the contribution of forests to the achievement of international development goals; and (3) provide a framework for national action and international cooperation.</p>

        <p>The NLBI includes all UN member states. It is not legally binding and does not require ratification.</p>

        <p class='credits'><strong>Citation:</strong> <a href='http://www.un.org/esa/forests/pdf/session_documents/unff7/UNFF7_NLBI_draft.pdf' target='_blank'>UNFF, 2013</a></p>

        <p><strong class='source_title'>ILO 169</strong></p>
        <p>Convention No. 169 of the International Labour Organization is a legally binding international instrument dealing with the rights of indigenous and tribal peoples. The convention entered into force on 5 September 1991 and is open for ratification.</p>

        <p class='credits'><strong>Citation:</strong> <a href='http://www.ilo.org/indigenous/Conventions/no169/lang--en/index.htm' target='_blank'>ILO, 2013</a></p>
      </div>
    </li>
  </ul>
</article>
