<h1>
  <a href="/countries">
    Countries
    <span class="ribbon"><span>Countries</span></span>
  </a>
</h1>
<nav id="nav-mobile">
  <!-- <form class="mobile-show" action="/search">
    <svg class="icon"><use xlink:href="#shape-search"></use></svg>
    <input type="text" name="query" id="search-input" placeholder="Search GFW website">
  </form> -->
  <div id="mobileMenu"></div>
  <ul class="mobile-hide">
    <li>
      <a <% if controller?("countries") && action?("show") %>class="current"<% end %> href="/countries">Country Profiles</a>
    </li>
    <li>
      <a <% if controller?("countries") && action?("overview") %>class="current"<% end %> href="/countries/overview">Country Rankings</a>
    </li>
  </ul>
</nav>
