<a href="#" class="icon circle share-link" data-share-embed-url="<%= embed_country_box_url(id: iso, box: box) %>" data-share-embed-width="<%= width %>" data-share-embed-height="<%= height %>">
  <svg class="icon-share">
    <use xlink:href="#shape-share"></use>
  </svg>
</a>
