<div class="js-country-embed-widget widget-placeholder -loading">
  <div id="widget-tree-cover"></div>
  <div id="widget-tree-cover-loss-ranking"></div>
  <div id="widget-tree-cover-loss"></div>
  <div id="widget-near-real-time-alerts"></div>
  <div id="widget-annual-tree-cover-loss"></div>
  <div id="widget-tree-cover-gain"></div>
  <div id="widget-tree-cover-reforestation"></div>
  <div id="widget-tree-cover-loss-alerts"></div>
  <div id="widget-fire-alerts"></div>
</div>
