<% content_for :title do %>
  <% t('.title') %>
<% end %>

<% content_for :js do %>
  <script>
    $(function() {
      cdb.init(function() {
        window.countries_index = new gfw.ui.view.CountriesIndex();
      });
    });
  </script>
<% end %>

<ul class="countries inner">
  <% @countries.each do |c| %>
    <% if c['enabled'] %>
      <li id="<%= c['iso'] %>" class="country">
        <a href="<%= country_path(id: c['iso']) %>">
          <span class="country-content">
            <h3 class="<%= c['name'].length > 14 ? ' small' : '' %>"><%= c['name'] %></h3>
          </span>
        </a>
      </li>
    <% end %>
  <% end %>
</ul>
