<%
  embed_url = "/embed/country_widget/summary/#{@country_iso}"
%>

<% content_for :header do %>
  <%= render "header" %>
<% end %>

<section id="countryShowView" class="-loading">
  <div class="overview_button_group">
    <div class="inner">
      <div class="share mobile-hide js-share-link item" data-share-embed-url="<%= embed_url %>" data-share-embed-width="600" data-share-embed-height="420">
        <svg class="icon icon-share-icon"><use xlink:href="#icon-share-icon"></use></svg>
        Share
      </div>
      <div class="download-spatial">
        <a href="#" data-source="umd_tree_loss_gain_infographics" class="info source">
          Info
          <span class="sidenav-icon circle">
            <svg class="icon icon-info-green"><use xlink:href="#icon-info-green"></use></svg>
          </span>
        </a>
      </div>
    </div>
  </div>

  <div id="country-header" class="m-sub-header"></div>

  <div id="countryDashboard" class="dashboard widget-placeholder -loading"></div>
</section>

<div class="call-actions-wrapper">
  <div class="inner">
    <div class="row small-collapse">
      <div class="column">
        <div class="call-action">
          <span>ALERTS AND DATA BULLETIN</span>
          <a class="btn green">SUSCRIBE</a>
        </div>
      </div>
      <div class="column">
        <div class="call-action">
          <span>COUNTRY DATA</span>
          <a class="btn green">BROWSE</a>
        </div>
      </div>
      <div class="column">
        <div class="call-action">
          <span>TREE COVER STATS</span>
          <a class="btn green">DOWNLOAD</a>
        </div>
      </div>
      <div class="column">
        <div class="call-action">
          <span>COUNTRY ON MAP</span>
          <a class="btn green">ANALIZE</a>
        </div>
      </div>
      <div class="column">
        <div class="call-action">
          <span>DATA ON MAP</span>
          <a class="btn green">VIEW</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="background-modal -hidden"></div>
