<% content_for :header do %>
  <%= render "header" %>
<% end %>

<section id="countryShowView">
  <div class="overview_button_group">
    <div class="inner">
      <div class="share mobile-hide share-link item" data-share-embed-url="" data-share-embed-width="600" data-share-embed-height="420">
        <svg>
          <use xlink:href="#shape-share"></use>
        </svg>Share
      </div>
      <div class="download-spatial">
        <a href="#" data-source="umd_tree_loss_gain_infographics" class="info source">
          Info
          <span class="sidenav-icon circle">
            <svg>
              <use xlink:href="#shape-info"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="m-sub-header">
    <div class="row">
      <div class="small-7 columns">
        <h1 class="title">Country</title>
      </div>
      <div class="small-3 columns">Selector</div>
      <div class="small-2 columns">Download data</div>
    </div>
  </div>
</div>
