<% content_for :header do %>
  <%= render "header" %>
<% end %>

<section id="countryShowView">
  <div class="overview_button_group">
    <div class="inner">
      <div class="share mobile-hide share-link item" data-share-embed-url="" data-share-embed-width="600" data-share-embed-height="420">
        <svg>
          <use xlink:href="#shape-share"></use>
        </svg>Share
      </div>
      <div class="download-spatial">
        <a href="#" data-source="umd_tree_loss_gain_infographics" class="info source">
          Info
          <span class="sidenav-icon circle">
            <svg>
              <use xlink:href="#shape-info"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="m-sub-header">
    <div class="inner">
      <div class="row small-collapse">
        <div class="small-7 columns">
          <h1 class="title">Country</title>
        </div>
        <div class="small-3 columns">
          <div class="country-selector">
            <select id="areaSelector">
              <option class="dark" value="default">Select jurisdiction</option>
            </select>
            <div class="selector-remove" style="display: none;">✕</div>
            <div class="selector-arrow"></div>
          </div>
        </div>
        <div class="small-2 columns"><a class="btn green uppercase" href="">Download data</a></div>
      </div>
    </div>
  </div>

  <div class="dashboard">
    <div class="map"></div>
    <div class="widgets">

      <div class="content -dark">
        <h3 class="title">Snapshot</title>
        <div class="row">
          <div class="small-6">
            <div id="widget-tree-cover"></div>
          </div>
          <div class="small-6">
            <div id="widget-tree-cover-loss"></div>
            <div id="widget-near-real-time-alerts"></div>
          </div>
        </div>
      </div>

      <div class="content">
        <h3 class="title">Tree cover gain</title>
        <div class="row">
          <div class="small-12">
            <div class="widget">
              <h4 class="title">Tree cover loss</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <h3 class="title">Tree cover loss alerts</title>
        <div class="widget">
          <div class="row">
            <div class="small-12">
              <h4 class="title">Annual tree cover loss</h4>
            </div>
            <div class="small-4">
              <div class="c-switch">
                <span class="label">Data source</span>
                <ul class="options">
                  <li class="active">GLAD</li>
                  <li class="disabled">Terra-i</li>
                  <li class="disabled">SAD</li>
                </ul>
              </div>
            </div>
            <div class="small-4">
              <div class="c-select">
                <span class="label">Data shown</span>
                <div class="wrapper">
                  <select id="data-shown-select">
                    <option value="monthly">By year</option>
                  </select>
                  <div class="select-clear" style="display: none;">✕</div>
                  <div class="select-arrow"></div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
