@import '~styles/settings.scss';

.l-home-page {
  overflow: hidden;

  .scroll-to-btn {
    position: absolute;
    bottom: rem(-20px);
    left: calc(50% - 20px);
  }

  .summary-card {
    background-color: $grey-light;
    border: 0;
  }

  .section-summary {
    padding: rem(40px) 0 rem(20px);
  }

  .section-uses {
    background-color: $grey-light;

    .uses-carousel {
      margin: 0;
      width: 100%;
    }

    .uses {
      display: flex !important;
      height: 100%;
    }

    .use-image {
      display: none;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      background-size: cover;
      height: 100%;
      width: calc(100% + #{$desktop-gutter * 2});
      margin-left: -$desktop-gutter;

      .use-credit {
        position: absolute;
        bottom: 0;
        right: 0;
        color: $white;
        background-color: rgba(0, 0, 0, 0.2);
        padding: rem(2px) rem(5px);
        font-size: rem(10px);
      }
    }

    .use-example {
      font-size: rem(18px);
      font-style: italic;
      font-weight: 300;
      line-height: 1.7;
      padding: rem(40px) 0 rem(20px);

      @media screen and (min-width: $screen-m) {
        padding: rem(100px) 0 rem(200px);
        padding-left: calc(100% - (#{$screen-xl} / 2) + (#{$desktop-gutter} * 2));
      }

      span {
        font-size: rem(36px);
        color: $green-gfw;
        font-weight: 500;
        line-height: 0;

        &:last-child {
          position: relative;
          top: rem(8px);
          left: rem(3px);
        }
      }
    }

    .use-user {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: rem(14px);
      width: rem(70px);

      .icon-user {
        width: rem(50px);
        height: rem(50px);
        margin-bottom: rem(10px);
      }
    }

    .slick-slide {
      padding: 0;
    }

    .slick-dots {
      align-items: flex-start;
      margin: rem(20px) 0;
      overflow-x: auto;
      padding-bottom: rem(40px);
      justify-content: flex-start;

      @media screen and (min-width: 460px) {
        justify-content: space-around;
      }

      @media screen and (min-width: $screen-m) {
        position: absolute;
        width: calc(50% - #{$desktop-gutter * 2});
        left: $desktop-gutter;
        bottom: rem(40px);
        padding-bottom: 0;
      }

      @media screen and (min-width: $screen-xl) {
        left: calc((100% - #{$screen-xl}) / 2);
        width: calc(50% - ((100% - #{$screen-xl}) / 2));
      }

      li {
        .icon-user {
          fill: $grey-dark;
        }

        &.slick-active {
          .icon-user {
            fill: $green-gfw;
          }
        }
      }
    }

    .slick-active {
      .use-card {
        opacity: 1;
      }

      .use-image {
        @media screen and (min-width: $screen-m) {
          display: block;
        }
      }
    }
  }

  .section-apps {
    position: relative;

    h3 {
      position: absolute;
      top: rem(50px);
      z-index: 1;
      left: $mobile-gutter;
      color: $white;

      @media screen and (min-width: $screen-m) {
        left: $desktop-gutter;
      }

      @media screen and (min-width: $screen-xl) {
        left: calc(((100% - #{$screen-xl}) / 2) + #{$desktop-gutter});
      }
    }

    .apps-carousel {
      margin: 0;
      width: 100%;

      .slick-slide {
        padding: 0;
        opacity: 1;
      }

      .slick-arrow {
        background-color: rgba($white, 0.5);
      }

      .slick-next {
        right: rem(5px);

        @media screen and (min-width: $screen-m) {
          right: $desktop-gutter;
        }
      }

      .slick-prev {
        left: rem(5px);

        @media screen and (min-width: $screen-m) {
          left: $desktop-gutter;
        }
      }
    }

    .app-slide {
      cursor: pointer;
      display: block;
      padding: rem(150px) 0 0;
      text-align: center;
      color: $white;

      h4 {
        font-size: rem(35px);
        font-weight: 300;
        margin-bottom: rem(10px);
      }

      p {
        color: $white;
        margin: auto;
        font-size: rem(18px);
        max-width: rem(700px);
      }

      .app-image {
        width: 100%;
        max-width: rem(900px);
        margin: auto;
        height: rem(350px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}
