@import '~styles/settings.scss';

.c-section-about-card {
  position: relative;
  width: 100%;
  background: $white;
  border: 1px solid $border;
  padding: rem(20px);
  min-height: rem(250px);

  @media screen and (min-width: $screen-m) {
    padding: rem(40px);
    min-height: rem(340px);
  }

  .card-title {
    font-size: rem(21px);
    line-height: 1.4;
    letter-spacing: 0.1px;
    color: $font-color-2;
    text-transform: uppercase;
  }

  .card-title-subtitle {
    display: inline-block;
    margin-bottom: rem(10px);
    font-size: rem(13px);
  }

  .card-description {
    font-size: rem(14px);
    line-height: 1.9;
    color: $font-color-2;
    list-style-type: disc;
    margin-top: rem(20px);

    > li {
      display: flex;
      align-items: center;
    }
  }

  .tooltip {
    display: inline-flex !important;
    margin-left: 4px;
    cursor: pointer;
  }
}

.tippy-tooltip {
  max-width: rem(220px);
  background-color: $yellow;
  color: $font-color-2;
  box-shadow: 0 2px 4px 0 rgba($black, 0.5);
}

.tippy-popper[x-placement^=top] [x-arrow] {
  border-top-color: $yellow;
  border-left-color: $yellow;
  border-right: none;
  transform-origin: 0 0;
  transform: rotate(-45deg);
  box-shadow: -2px 2px 2px 0 rgba($black, 0.5);
}
