<% content_for :title do %>
  <a href="#" class="selected">Blog stories</a>
<% end %>

<% content_for :download do %>
<div class="download">
  <div class="inner">
      <%= content_tag :h1, (raw t('layouts.application.footer.download.title2', :url => "/sources")) %></div></div>
</div>
<% end %>

<div class="inner">
  <section>
      
      <article>
      <h1><a href="/posts/show?post=3">Global Forest Watch 2.0 at Rio+20</a></h1>
      <ul class="meta">
        <li class="date">Nov 23rd, 2012</li>
        <li class="tags"><a href="#">RIO+20</a>, <a href="#">GFW</a></li>
        <!--li class="comments"><a href="#">2 comments</a></li -->
      </ul>

      <a href="#"><%= image_tag 'blog/rioplus20logo.png' %></a>
      <p class="MsoNormal">In June 2012, the United Nations&rsquo; is hosting a global sustainable development summit in Rio de Janeiro, 20 years after the <a href="http://www.un.org/geninfo/bp/enviro.html">first Earth Summit</a> . The official themes of Rio+20 are: &ldquo;<a href="http://www.uncsd2012.org/rio20/greeneconomy.html">a green economy in the context of sustainable development poverty eradication</a>&rdquo;; and the &ldquo;<a href="http://www.uncsd2012.org/rio20/isfd.html">institutional framework for sustainable development</a>.&rdquo;</p>
      <p class="MsoNormal">The Global Forest Watch 2.0 project will be providing a preview of our forest monitoring system that will unite technology, transparency, and human networks to mobilize faster, credible, more effective forest conservation and sustainable forest management.</p>

      <a href="/posts/show?post=3" class="more">Read more</a>

      </article>
      
    <article>
    <h1><a href="/posts/show?post=1">New Study Highlights Opportunities and Challenges for Indonesia Forest Moratorium</a></h1>
    <ul class="meta">
      <li class="date">Nov 23rd, 2012</li>
      <li class="tags"><a href="#">STUDIES</a>, <a href="#">Indonisia</a></li>
      <!--li class="comments"><a href="#">2 comments</a></li -->
    </ul>

    <!--a href="#"><%= image_tag 'tmp/post_image.png' %></a -->
    <img align="right" alt="Aerial photo in Indonesia" height="214" src="http://insights.wri.org/files/insights/imagecache/story-feature/features/indonesia_birdseye_0.jpg" width="285" />

    <p>Today WRI releases a <a href="http://www.wri.org/publication/indonesia-moratorium-on-new-forest-concessions">working paper</a> that provides new information about Indonesia’s moratorium on new forest concessions. Our analysis concludes that the moratorium alone does not significantly contribute to Indonesia’s greenhouse gas emission reduction goal of 26 percent by 2020. However, the moratorium does support these goals in the long-term by “pausing” business-as-usual patterns to allow time for needed governance reforms.</p>

    <a href="/posts/show?post=1" class="more">Read more</a>

    </article>

    <article>
    <h1><a href="/posts/show?post=2">Forest land allocation in Cameroon</a></h1>
    <ul class="meta">
      <li class="date">Nov 23rd, 2012</li>
      <li class="tags"><a href="#">CAMEROON</a>, <a href="#">FOREST</a></li>
      <!--li class="comments"><a href="#">2 comments</a></li -->
    </ul>

    <p>With its Sahelian north and dense tropical rainforest south, Cameroon is a land of diversity and transition.  A combination of either dense or mosaic forest landscapes covers about 60% of the nearly 47 million hectare country.  These productive forest ecosystems provide services and sustenance either directly or indirectly to millions of people.  Interactions between these forests and the atmosphere contribute to stabilizing climate patterns both within the Congo Basin and worldwide.  Extraction of both timber and non-timber forest products contributes significantly to the national and local economy.  </p>

    <a href="/posts/show?post=2" class="more">Read more</a>
    

    </article>

    <a href="#" class="btn hollow"><span>Previous posts</span></a>
    <a href="#" class="btn hollow pull-right"><span>Nexts posts</span></a>
  </section>

</div>
