<% content_for :title do %>
  <a href="/posts" class="selected">Blog Stories</a> > <a href="#">Post</a>
<% end %>

<% content_for :download do %>
<div class="download">
  <div class="inner">
      <%= content_tag :h1, (raw t('layouts.application.footer.download.title2', :url => "/sources")) %></div>
</div>
<% end %>

<div class="inner">
  <section>
    <article>
    <h1>New Study Highlights Opportunities and Challenges for Indonesia Forest Moratorium</h1>
    <ul class="meta">
      <li class="date">Nov 23rd, 2012</li>
      <li class="tags"><a href="#">POLITICS</a>, <a href="#">CONGO</a></li>
    </ul>

    <p>Today WRI releases a <a href="http://www.wri.org/publication/indonesia-moratorium-on-new-forest-concessions">working paper</a> that provides new information about Indonesia&rsquo;s moratorium on new forest concessions. Our analysis concludes that the moratorium alone does not significantly contribute to Indonesia&rsquo;s greenhouse gas emission reduction goal of 26 percent by 2020. However, the moratorium does support these goals in the long-term by &ldquo;pausing&rdquo; business-as-usual patterns to allow time for needed governance reforms.<img align="right" alt="Aerial photo in Indonesia" height="214" src="http://insights.wri.org/files/insights/imagecache/story-feature/features/indonesia_birdseye_0.jpg" width="285" /></p>
    <p>In May, 2011, Indonesia put into effect a <a href="http://www.wri.org/stories/2011/06/indonesias-ambitious-forest-moratorium-moves-forward">two-year moratorium</a> on the award of new concessions for exploitation of natural forests and peat lands. This moratorium is designed to allow time for the government&mdash;with participation from industry and civil society&mdash;to make changes to forest management governance that will contribute to the country&rsquo;s greenhouse gas emission reduction goals. Indonesia is currently the fourth largest greenhouse gas emitter worldwide, mostly due to emissions from forest loss.</p>
    <p>However, it has been challenging to calculate exactly what is and is not covered by the moratorium. Of particular interest is the amount of primary forest and peat land included, because of the large carbon stocks stored in these forest types. To try to answer some of these questions, the new paper examines the moratorium&rsquo;s coverage, exemptions, encroachments, and additionality (i.e. whether the moratorium extends protection to new land not already protected). Key findings are as follows:</p>
    <ul>
    <li>
    <p><strong>Coverage:</strong> There are 43.3 million hectares (ha) of primary forest and peat land included in the moratorium. These forests store an estimated total of 25.3 gigatons (1 billion metric tons- Gt) of carbon.</p>
    </li>
    <li>
    <p><strong>Exemptions:</strong> Exceptions for existing concessions mean that 3.5 million ha of primary and peat forests inside the moratorium boundaries are not protected. This results in 4.0 Gt of carbon, or 14.6 Gt CO2, at risk of emission.</p>
    </li>
    <li>
    <p><strong>Additionality:</strong> Once existing mechanisms for protecting forests are taken into account, this study found that the moratorium protects an additional 11.3 million ha of primary and peat forests. Thus, just 26 percent of the total area inside the moratorium boundaries is provided with legal protection it did not previously have.</p>
    </li>
    <li>
    <p><strong>Exclusions:</strong> 15.6 million ha of secondary forests are included inside the moratorium. However, these secondary forests have unclear status because the presidential instruction to set up the moratorium did not explicitly include secondary forests.</p>
    </li>
    <li>
    <p><strong>Encroachments:</strong> <a href="http://www.cgdev.org/content/article/detail/1423248/">Recent research</a> finds that there have been 103 clearings in forests included in the moratorium zone (and not in existing concessions) in the first three months since the moratorium was established in May 2011.</p>
    </li>
    </ul>
    <p>Based on these findings, the protection provided by the moratorium will not contribute to the country&rsquo;s greenhouse gas emission reduction goal. However the moratorium does provide an opportunity to strengthen the governance of forests and embark on a low carbon development pathway. WRI and our partners in Indonesia discussed these opportunities with stakeholders during a workshop in December, 2011, on the governance reforms that could results from the moratorium. Key conclusions from this workshop include:</p>
    <ul>
    <li>
    <p><strong>Data transparency</strong> - Although the government released a publically available map of the moratorium coverage, more transparency is needed in order to better track and manage the moratorium. Technically sound, legally accurate, and up-to-date spatial data, including license and permit data, should be made available. Additionally, improved transparency should be linked to capacity building for spatial analysis.</p>
    </li>
    <li>
    <p><strong>Governance reforms</strong> - The moratorium decree includes instructions to agencies for improving governance, including improving the process of issuing permits for conversion of forests and accelerating the spatial plan revision process. Whether the moratorium has long-term positive impacts depends on whether and how the Government implements these instructions.</p>
    </li>
    <li>
    <p><strong>Enforcement</strong> - Although rare, deforestation within the moratorium area is still being observed by remote sensing and has been verified on the ground. Monitoring and enforcement, in particular at the local level, will need to improve if the potential benefits of the moratorium are to be realized.</p>
    </li>
    <li>
    <p><strong>Boundary revisions</strong> - The original map of the moratorium boundaries was published in May 2011 and an updated version was published in November 2011. Although it is important to improve the moratorium as better data become available, it is necessary to define a stable moratorium boundary against which progress can be tracked.</p>
    </li>
    <li>
    <p><strong>Metrics of success</strong> - Many of the goals of the moratorium, including improved processes for land-use planning and permitting and strengthened data collection and information systems, cannot be tracked via spatial analysis. A clear definition of success, including interim progress indicators, should be <a href="http://www.wri.org/project/governance-of-forests-initiative">defined by the government and tracked over time</a>.</p>
    </li>
    <li>
    <p><strong>Coordination</strong> - Government ministries and agencies have worked together on the development of the moratorium, requiring data sharing and improved coordination. An important step toward forest management and climate-compatible development goals will be continued coordination across agencies and between national and sub-national government.</p>
    </li>
    <li>
    <p><strong>Climate-compatible development</strong> - The moratorium creates incentives for increased productivity and the use of low carbon degraded land, rather than forests or peat lands, as a viable alternative for agricultural and forest plantation expansion. Any agricultural expansion should be confined to those deforested, non-peat lands and implemented in a manner that fully respects the rights of indigenous peoples and local communities.</p>
    </li>
    </ul>
    <p>The fate of Indonesia&rsquo;s forests is incredibly important, both for the country&rsquo;s overall greenhouse gas emissions and for the global climate on the whole. Though the current moratorium is not a silver bullet, it does support greenhouse gas emission reduction goals by allowing time for needed forest governance reforms. Making these improvements now can result in better forest policy in the future, when the two-year moratorium is lifted.</p>

    </article>
  </section>

  <aside class="posts">
  <h3>Related posts</h3>
  <ul>
    <li><div class="date">12 June 2012</div> <a href="/posts/show?post=2">Forest land allocation in Cameroon</a> </li>
    <li><div class="date">12 June 2012</div> <a href="/posts/show?post=3">Global Forest Watch 2.0 at Rio+20</a> </li>

  </ul>
  </aside>

</div>

<div class="comments">
  <!--div class="inner">
    <h4>2 COMMENTS</h4>

    <ul>
      <li>
      <div class="info"><a href="#">Juan García</a> <span class="date">said 3 months ago:</span></div>
      <p>I’m not sure if I agree with these data. I have other sources, and the number of deforestater Ha in Congo are much lower than what you are saying in this post.</p>
      <p>Please contact me if you need my numbers.</p>
      </li>
      <li>
      <div class="info"><a href="#">Jane Woodsist</a> <span class="date">said 12 days ago:</span></div>
      <p>I’m not sure if I agree with these data. I have other sources, and the number of deforestater Ha in Congo are much lower than what you are saying in this post.</p>
      <p>Please contact me if you need my numbers.</p>
      </li>
    </ul>

    <form action="#">

      <div class="item">
        <label for="comment">Your comment</label>
        <div class="textarea">
          <textarea id="" name="comment" rows="10" cols="30"></textarea>
        </div>
      </div>


      <div class="item">
        <label for="comment">Your name</label>
        <div class="input-field">
          <input type="text" name="name" />
        </div>
      </div>


      <div class="item">
        <label for="website">Your website <span class="mandatory">optional</span></label>
        <div class="input-field">
          <input type="text" name="website" />
        </div>
      </div>

      <a href="#" class="btn">
        <span>Post comment</span>
      </a>

    </form>
  </div -->
</div>
