<% content_for :title do %>
  <a href="#" class="selected">Blog Stories</a> > <a href="#">Post</a>
<% end %>

<% content_for :download do %>
<div class="download">
  <div class="inner">
  <%= content_tag :h1, t('layouts.application.footer.download.title') %>
  <%= content_tag :p, t('layouts.application.footer.download.data_html') %>
</div>
</div>
<% end %>

<div class="inner">
  <section>
    <article>
    <h1>It’s been a great year. But that’s not enough.</h1>
    <ul class="meta">
      <li class="date">Nov 23rd, 2012</li>
      <li class="tags"><a href="#">POLITICS</a>, <a href="#">CONGO</a></li>
    </ul>

    <a href="#"><%= image_tag 'tmp/post_image.png' %></a>

    <p>The Central African Republic (CAR) (French: République centrafricaine) is a landlocked country in Central Africa. It borders Chad in the north, Sudan in the northeast, South Sudan in the east, the Democratic Republic of the Congo and Congo in the south, and Cameroon in the west. The CAR covers a land area of about 240,000 square miles (620,000 km2), and has an estimated population of about 4.4 million as of 2008.  </p>
    <p>Due to the effects of global warming and deforestation, more than half of the Amazon rainforest may be destroyed or severely damaged by the year 2030, according to a report released by the World Wildlife Fund (WWF).  </p>
    <p>The report, “Amazon’s Vicious Cycles: Drought and Fire,” concludes that 55 percent of the world’s largest rainforest stands to be severely damaged from agriculture, drought, fire, logging and livestock ranching in the next 22 years. Another 4 percent may be damaged by reduced rainfall caused by global warming. This is anticipated to destroy up to 80 percent of wildlife habitat in the region.  </p>
    <p>By 2100, the report adds, global warming may cause rainfall in the Amazon to drop by 20 percent and temperatures to increase by 2 degrees Celsius (3.6 degrees Fahrenheit). This combination will increase the occurrence of forest fires, further accelerating the pace of deforestation.  </p>
    <p>The Amazon contains more than half of the planet’s surviving rainforest and is a key stabilizer of global climate. The report notes that losing 60 percent of it would accelerate the pace of global warming, affecting rainfall as far away as India.  </p>
    <p>WWF warned that the “point of no return” for the Amazon rainforest, from which ecological recovery will be impossible, is only 15-25 years in the future, much sooner than has previously been supposed.  </p>

    </article>
  </section>

  <aside class="posts">
  <h3>Related posts</h3>
  <ul>
    <li><div class="date">Nov 23rd, 2012</div> <a href="#">U.N. Says Congo Rebels Killed in ambush were planning to burn the Kapisk jungle</a> </li>
    <li><div class="date">Nov 23rd, 2012</div> <a href="#">U.N. Says Congo Rebels Killed in ambush were planning to burn the Kapisk jungle</a> </li>
    <li><div class="date">Nov 23rd, 2012</div> <a href="#">U.N. Says Congo Rebels Killed in ambush were planning to burn the Kapisk jungle</a> </li>
  </ul>
  </aside>

</div>

<div class="comments">
  <div class="inner">
    <h4>2 COMMENTS</h4>

    <ul>
      <li>
      <div class="info"><a href="#">Juan García</a> <span class="date">said 3 months ago:</span></div>
      <p>I’m not sure if I agree with these data. I have other sources, and the number of deforestater Ha in Congo are much lower than what you are saying in this post.</p>
      <p>Please contact me if you need my numbers.</p>
      </li>
      <li>
      <div class="info"><a href="#">Jane Woodsist</a> <span class="date">said 12 days ago:</span></div>
      <p>I’m not sure if I agree with these data. I have other sources, and the number of deforestater Ha in Congo are much lower than what you are saying in this post.</p>
      <p>Please contact me if you need my numbers.</p>
      </li>
    </ul>

    <form action="#">

      <div class="item">
        <label for="comment">Your comment</label>
        <div class="textarea">
          <textarea id="" name="comment" rows="10" cols="30"></textarea>
        </div>
      </div>


      <div class="item">
        <label for="comment">Your name</label>
        <div class="input-field">
          <input type="text" name="name" />
        </div>
      </div>


      <div class="item">
        <label for="website">Your website <span class="mandatory">optional</span></label>
        <div class="input-field">
          <input type="text" name="website" />
        </div>
      </div>

      <a href="#" class="btn">
        <span>Post comment</span>
      </a>

    </form>
  </div>
</div>
