$header-height: rem(58px);
$logo-size: rem(88px);
$green-separator: rem(5px);

body > header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 251;
}

.c-default-header {
  position: relative;
  width: 100%;

  .c-default-header__content {
    position: relative;
    width: 100%;
    height: $header-height;
    display: none;
  }

  h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: $logo-size;
    height: $logo-size;
    text-indent: -9999px;
    background-image: image-url("logo-new@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: $screen-m) {
    background-color: rgba($white, 0.9);
  }
}

.c-default-header-navigation {
  display: none;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: calc(100% - #{$logo-size});
  margin-left: $logo-size;
  cursor: default;

  > li {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 rem(20px);
    color: rgba(51, 51, 51, 0.8);
    font-size: 14px;
    z-index: 1;

    &:first-of-type {
      margin-left: rem(20px);
    }

    &:last-of-type {
      padding-right: 0;
    }

    a {
      color: rgba(51, 51, 51, 0.8);
      text-decoration: none;
    }

    span {
      position: relative;
      z-index: 2;
    }

    &:hover {
      z-index: 2;

      .c-default-header-dropdown {
        display: block;

        &:before {
          content: "";
          position: absolute;
          top: $header-height - $green-separator;
          left: 0;
          width: 100%;
          height: $green-separator;
          background-color: $green-gfw;
        }
      }
    }
  }

  @media screen and (min-width: $screen-m) {
    display: flex;
  }
}

.c-default-header-dropdown {
  position: absolute;
  top: 0;
  left: 50%;
  width: rem(175px);
  padding-top: $header-height;
  box-shadow: 0 1px 3px rgba($black, 0.25);
  background-color: rgba($white, 0.95);
  transform: translate(-50%, 0);
  z-index: 1;
  display: none;

  > li {
    border-top: 1px solid rgba($black, 0.07);
    cursor: pointer;

    a {
      display: flex;
      align-items: center;
      width: 100%;
      padding: rem(10px) rem(14px);
    }

    &:hover {
      background-color: #fafafa;
    }
  }
}
