$item-height: rem(272px);
$item-height-screen-m: rem(391px);
$item-padding-screen-m: rem(40px);

.c-home-news {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/assets/home/news_background.jpg');

  .c-home-news__title {
    text-align: center;
  }

  .slider {
    position: relative;
  }

  .frame {
    position: relative;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
  }

  .slides {
    display: inline-block;
    width: 100%;
  }

  .slide {
    position: relative;
    display: inline-block;
    white-space: normal;
  }

  .c-home-news__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .c-home-news__arrow-button {
    position: absolute;

    .icon {
      width: 20px;
      height: 20px;
      fill: $white;

      &.-right {
      }
    }
  }

  @media screen and (min-width: $screen-m) {
    padding: rem(57px) 0 rem(40px) 0;

    .slider {
      margin-top: rem(34px);
    }

    .slide {
      width: calc(33.33333% + #{$item-padding-screen-m / 3});
      padding-right: $item-padding-screen-m;
    }

    .c-home-news__button {
      margin-top: rem(40px);
    }
  }
}

.c-home-news-item {
  width: 100%;
  min-height: $item-height;
  background-color: $white;

  .c-home-news-item__description {

  }

  @media screen and (min-width: $screen-m) {
    min-height: $item-height-screen-m;
    padding: rem(122px) rem(38px) rem(30px) rem(38px);

    .c-home-news-item__description {
      margin-top: rem(20px);
    }
  }
}
