.c-slider-dots {
  font-size: 0;

  .c-slider-dots__item {
    position: relative;
    display: inline-block;
    width: rem(13px);
    height: rem(13px);
    border-radius: 100%;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-right: rem(27px);
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: rem(9px);
      height: rem(9px);
      border-radius: 100%;
      transition: all 0.1s ease-out;
    }

    &.-selected {

      &:before {
        width: rem(13px);
        height: rem(13px);
      }
    }
  }

  &.-green {

    .c-slider-dots__item {

      &:before {
        background-color: #e0e0e4;
      }

      &.-selected {

        &:before {
          background-color: $green-gfw;
        }
      }
    }
  }

  &.-white {

    .c-slider-dots__item {

      &:before {
        background-color: rgba($white, 0.5);
      }

      &.-selected {

        &:before {
          background-color: $white;
        }
      }
    }
  }
}
