<div class="m-modal-country -snapshot-tree-cover-modal -hidden">
  <div class="content-modal">
    <svg class="icon icon-cross js-icon-cross-close"><use xlink:href="#icon-cross"></use></svg>
    <span class="title">Annual snapshot tree cover loss settings</span>
    <div class="form-filters">
      <label class="label">Data source</label>
      <div class="c-switch -modal">
        <ul class="options">
          <li class="active js-switch-option">GFW</li>
          <li class="js-switch-option">FAO</li>
        </ul>
      </div>
    </div>
    <span class="btn green uppercase -big-width done-btn" href="">Done</span>
  </div>
</div>
