@import '~styles/settings';

.c-layer-toggle {
  display: flex;

  &:last-child {
    margin-bottom: 0;
  }

  .content {
    flex: 1;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .name {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: -0.3px;
    color: $slate;
    margin-top: -2px;
    padding-left: rem(6px);
    cursor: pointer;
  }

  .subtitle {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: $hot-grey;
    margin-top: rem(3px);
    max-width: calc(100% - 20px);
    padding-left: rem(6px);
    word-break: break-word;
  }

  .info-button {
    margin-left: rem(5px);

    &.-help {
      cursor: help;
    }
  }

  /* small theme */
  &.-small {
    .content {
      margin-top: rem(-1px);
    }

    .name {
      font-size: rem(12px);
      margin-top: -2px;
    }
  }
}
