@import '~styles/settings.scss';

.l-page {
  position: relative;

  .content-wrapper {
    position: relative;
    min-height: calc(100vh - 56px - 200px);
    margin-top: rem(56px);

    @media screen and (min-width: $screen-m) {
      min-height: calc(100vh - 56px - 200px);
      margin-top: 0;
    }

    &.-error {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 80px 0;
    }
  }
}
