@import '~styles/settings.scss';

.c-dashboards-header {
  position: relative;
  background-color: $slate-light;
  padding: rem(50px) 0;
  width: 100%;

  @media screen and(min-width: $screen-l) {
    padding: rem(70px) rem(30px) rem(50px) 0;
    min-height: rem(350px);
  }

  .share-buttons {
    position: absolute;
    right: rem(20px);
    top: rem(20px);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;

    > * {
      margin-left: rem(5px);

      svg {
        fill: $white;
        margin-top: rem(-5px);
        width: rem(15px);
        height: rem(15px);

        &:hover {
          fill: darken($white, 20%);
        }
      }
    }
  }

  .loader {
    z-index: 10;
    width: 100%;
    right: 0;
    left: auto;

    @media screen and (min-width: $screen-xl) {
      width: calc((#{$max-width} * 0.7) - #{$desktop-gutter});
    }
  }

  .select-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: rem(20px);

    &:last-child {
      margin-bottom: 0;
    }

    h1 {
      color: $white;
      font-weight: 300;
    }

    h3 {
      font-size: 42px;
      font-weight: 300;
      color: $white;
      text-transform: capitalize;

      &.global {
        margin-left: 30px;
      }
    }

    > div {
      margin-bottom: rem(5px);
    }
  }

  .metadata {
    display: flex;
    margin-bottom: rem(25px);
    margin-left: rem(30px);

    .tags,
    .subscribed {
      margin-right: rem(20px);
      display: flex;
      align-items: center;

      p {
        font-size: rem(12px);
        color: $grey;
        line-height: rem(16px);
        padding: rem(2.5px) 0;
        max-width: rem(250px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      svg {
        margin-right: rem(4px);
      }
    }
  }

  .sentence {
    color: rgba($white, 0.9);
    font-size: rem(18px);
    font-weight: 400;
    margin-top: rem(10px);
    margin-bottom: rem(20px);
    min-height: rem(90px);

    b {
      color: $green-gfw;
    }
  }

  .forest-atlas-btn {
    margin-bottom: rem(20px);
    max-width: rem(200px);
  }
}
