@import '~styles/settings.scss';

%modalContent {
  margin: 0 auto;
  max-width: rem(590px);
}

.c-projects-modal {
  .header {
    @extend %modalContent;

    padding: rem(50px) 0 rem(40px);

    > h1 {
      margin-bottom: 5px;
    }
  }

  .image {
    width: 100%;
    position: relative;

    > img {
      width: 100%;
    }

    > span {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }

  .content {
    @extend %modalContent;

    padding: rem(20px) 0;
  }

  .footer {
    @extend %modalContent;

    padding: rem(20px) 0 rem(40px);
  }
}
