@import '~styles/settings.scss';

.l-section-about {
  .intro {
    .logo {
      margin-top: 30px;

      @media screen and (min-width: $screen-m) {
        margin-top: 0;
        float: right;
      }
    }
  }

  section {
    color: $slate;
    font-weight: 300;
    font-size: rem(18px);
    line-height: 1.67;
    margin-bottom: rem(30px);

    @media screen and (min-width: $screen-m) {
      margin-bottom: rem(60px);
    }
  }

  .section-title {
    margin-bottom: rem(10px);
    font-size: rem(35px);
  }

  .list {
    margin-bottom: rem(20px);
  }

  .icon-list {
    text-align: center;
    margin-bottom: rem(80px);
  }
}

