@import '~styles/settings.scss';

.c-widget-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: rem(10px);

  .title {
    width: 100%;
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.54;
    color: $slate;
    text-transform: uppercase;
    padding-right: rem(20px);

    @media screen and (min-width: $screen-s) {
      width: 50%;
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .small-options {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-bottom: rem(20px);

      button {
        margin-left: rem(5px);
      }
    }

    &.size-12 {
      flex-direction: row-reverse;

      .small-options {
        border-left: solid 1px $border;
        margin-left: rem(10px);
        padding-left: rem(5px);
      }
    }
  }
}
