@import '~styles/settings.scss';

.c-widget-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: rem(5px);

  .title {
    width: 100%;
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.54;
    color: $slate;
    text-transform: uppercase;
    padding-right: rem(20px);
  }

  .options {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .small-options {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-bottom: rem(20px);

      button {
        margin-left: rem(5px);
      }
    }
  }

  .settings-icon {
    width: rem(12px);
    height: rem(12px);
  }
}
