@import '~styles/settings.scss';

.c-widget-header {
  position: relative;
  height: rem(78px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  .title {
    width: 100%;
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.54;
    color: $slate;
    text-transform: uppercase;

    @media screen and (min-width: $screen-s) {
      width: 50%;
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .small-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: rem(20px);

    button {
      margin-left: 5px;
    }
  }
}
