<div class="download_dialog">
  <h1 class="title">Send yourself a download link</h1>

  <form id="download_email_form">
    <p>
      <span>
        Enter your email to get a download link sent to your inbox
      </span>
    </p>

    <div class="input-field huge">
      <input class="field" type="text" name="email_address" placeholder="your@email.com">
    </div>

    <a class="btn-rdn btn-rdn-primary submit">Submit</a>

    <p class="error">
    </p>
  </form>
</div>
