<h1 class="title">Email yourself a download link</h1>

<form id="download_email_form">
  <p>
    <span>
      Enter your email to get a download link sent to your inbox
    </span>
  </p>

  <div class="input-field huge">
    <input class="field" type="text" name="email_address">
    <input type="submit">
  </div>
</div>
