<div class="overlay"></div>
<div class="content-login mini-modal-content">
  <a href="#" class="close"><svg><use xlink:href="#shape-close"></use></svg></a>
  <header>
    <h2>log in</h2>
  </header>
  <div class="login-sozial">
    <ul>
      <li><a href="{{apiurl}}/auth/twitter"><svg class="icon"><use xlink:href="#icon-twitter"></use></svg></a></li>
    </ul>
  </div>
</div>
