{{title}} from

{{#if isMobile}}

{{else}}
  <div class="monthly-picker">
    <input class="action js-month" data-value="AUG" value="AUG" id="" class="" type="text" readonly="" />
    <input class="action js-year" data-value="2008" value="2008" id="" class="" type="text" readonly="" />
  </div>
  <span>to</span>
  <div class="monthly-picker">
    <input class="action js-month" data-value="AUG" value="AUG" id="" class="" type="text" readonly="" />
    <input class="action js-year" data-value="2008" value="2008" id="" class="" type="text" readonly="" />
  </div>
{{/if}}
