{{title}} from

{{#if isMobile}}

{{else}}
  <div class="list js-list-selector">
    <div class="content">
    </div>
  </div>

  <div class="monthly-picker">
    <input class="action js-start-month" data-selector="startDate" data-type="month" data-value="" value="" id="" class="" type="text" readonly="" />
    <input class="action js-start-year" data-selector="startDate" data-type="year"  data-value="" value="" id="" class="" type="text" readonly="" />
  </div>
  <span>to</span>
  <div class="monthly-picker">
    <input class="action js-end-month" data-selector="endDate" data-type="month"  data-value="" value="" id="" class="" type="text" readonly="" />
    <input class="action js-end-year"  data-selector="endDate" data-type="year" data-value="" value="" id="" class="" type="text" readonly="" />
  </div>
{{/if}}
