<a href="#" class="close">
  <svg>
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-close"></use>
  </svg>
</a>

<div class="content-wrapper scroll-dark">
  <div class="content" tabindex="0">
    <article id="preview-iframe-container">
      <div class="object-box">
        <iframe id="preview-iframe" width="{{width}}" height="{{height}}" src="{{src}}"></iframe>
      </div>
    </article>
  </div>
</div>
