<article id="mobile_friendly">
  <div class="terms-modal">
    <h2>Warning</h2>
    <div class='source_body'>
      <p class="notranslate">{{texts.title}}</p>
      <div class="terms-form">
        <div class="row">
          <button class="btn gray uppercase close">Cancel</button>
          <a href="{{url}}" id="set-link" class="btn green uppercase" {{#if target}}target="{{target}}"{{/if}}>Continue</a>
        </div>
      </div>
    </div>
  </div>
</article>
