<article id="mobile_friendly">
  <div class="terms-modal">
    <h2>Auto-locate</h2>
    <div class='source_body'>
      <p class="notranslate">{{texts.title}}</p>
      <div class="terms-form">
        <div class="row">
          <button class="btn gray uppercase close">Cancel</button>
          <button class="btn green uppercase continue">Ok</button>
        </div>
      </div>
    </div>
  </div>
</article>
