<div class="time">
  <div class="select-timeline-container">
    <div class="select-timeline-box">
      <span>{{name}}</span>
      <div class="select-box">
        <div class="month-box">
          <button id="from-timeline-month-button" class="btn gray little medium uppercase">JAN</button>
          <select id="from-timeline-month" class="select-date select-date-month">
            <option value="JAN">January</option>
            <option value="FEB">February</option>
            <option value="MAR">March</option>
            <option value="APR">April</option>
            <option value="MAY">May</option>
            <option value="JUN">June</option>
            <option value="JUL">July</option>
            <option value="AUG">August</option>
            <option value="SEP">September</option>
            <option value="OCT">October</option>
            <option value="NOV">November</option>
            <option value="DEC">December</option>
          </select>
        </div>
        <div class="year-box">
          <button id="from-timeline-year-button" class="btn gray little medium uppercase">2001</button>
          <select id="from-timeline-year" data-compare="#to-timeline-year" data-direction="1" class="select-date select-date-year"></select>
        </div>
      </div>
    </div>
    <div class="select-timeline-box">
      <span>to</span>
      <div class="select-box">
        <div class="month-box">
          <button id="to-timeline-month-button" class="btn gray little medium uppercase">JAN</button>
          <select id="to-timeline-month" class="select-date select-date-month">
            <option value="JAN">January</option>
            <option value="FEB">February</option>
            <option value="MAR">March</option>
            <option value="APR">April</option>
            <option value="MAY">May</option>
            <option value="JUN">June</option>
            <option value="JUL">July</option>
            <option value="AUG">August</option>
            <option value="SEP">September</option>
            <option value="OCT">October</option>
            <option value="NOV">November</option>
            <option value="DEC">December</option>
          </select>
        </div>
        <div class="year-box">
          <button id="to-timeline-year-button" class="btn gray little medium uppercase">2014</button>
          <select id="to-timeline-year" data-compare="#from-timeline-year" data-direction="0" class="select-date select-date-year"></select>
        </div>
      </div>
    </div>
  </div>
</div>
