<div class="time">
  <div class="select-timeline-container">
    <div class="select-timeline-box">
      <span>{{name}}</span>
      <button id="from-timeline-year-button" class="btn gray little medium uppercase">2001</button>
      <select id="from-timeline-year" data-compare="#to-timeline-year" data-direction="1" class="select-date"></select>
    </div>
    <div class="select-timeline-box">
      <span>to</span>
      <button id="to-timeline-year-button" class="btn gray little medium uppercase">2014</button>
      <select id="to-timeline-year" data-compare="#from-timeline-year" data-direction="0" class="select-date"></select>
    </div>
  </div>
</div>
