<div class="time">
  <div class="select-timeline-container">
    <div class="select-timeline-box">
      <span>FROM</span>
      <select id="from-timeline-year"></select>
    </div>
    <div class="select-timeline-box">
      <span>TO</span>
      <select id="to-timeline-year"></select>
    </div>
  </div>
</div>
