<div class="time">
  <div class="select-timeline-container">
    <div class="select-timeline-box">
      <span>{{name}}</span>
      <button id="from-timeline-button" class="btn gray little medium uppercase">2001</button>
      <select id="from-timeline" class="select-date"></select>
    </div>
  </div>
</div>
