<div class="play disable-selection">
  {{#if isRunning}}
    <div class="stop-icon"></div>
  {{else}}
    <div class="play-icon"></div>
  {{/if}}
</div>

<div class="time timeline-slider">
  <div class="timeline-date">
    {{currentDate}}
  </div>
</div>
