<div class="c-about-anchors">
  <div class="row">
    <div class="small-12 columns">
      <ul class="c-about-anchors__buttons">
        <li class="text -paragraph-5 -color-8">GFW in Action</li>
        <li class="text -paragraph-5 -color-8">Outcomes</li>
        <li class="text -paragraph-5 -color-8">History</li>
        <li class="text -paragraph-5 -color-8">Partnership</li>
      </ul>
    </div>
  </div>
</div>
