<div class="c-about-cover">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-about-cover-texts">
        <h1 class="text -title-biggest -color-1"><%= title %></h1>
        <p class="c-about-cover__description text -paragraph -color-1"><%= description %></p>
        <div class="c-about-cover__play-button">
          <%= render 'shared/buttons/play' %>
          <span class="text -paragraph-4 -italic -color-6">GFW in 2’</span>
        </div>
      </div>
    </div>
  </div>
</div>
