<%
  years = [
    {
      "img" => "",
      "title" => "2001",
      "paragraph" => "WRI continued working to improve forest information by merging the latest technology with on-the-ground partnerships. Forest Atlases are now available for Cameroon, Central African Republic, Republic of the Congo, Democratic Republic of the Congo, Equatorial Guinea, and Gabon."
    },
    {
      "img" => "",
      "title" => "2002",
      "paragraph" => "WRI continued working to improve forest information by merging the latest technology with on-the-ground partnerships. Forest Atlases are now available for Cameroon, Central African Republic, Republic of the Congo, Democratic Republic of the Congo, Equatorial Guinea, and Gabon."
    },
    {
      "img" => "",
      "title" => "2003",
      "paragraph" => "WRI continued working to improve forest information by merging the latest technology with on-the-ground partnerships. Forest Atlases are now available for Cameroon, Central African Republic, Republic of the Congo, Democratic Republic of the Congo, Equatorial Guinea, and Gabon."
    },
    {
      "img" => "",
      "title" => "2004",
      "paragraph" => "WRI continued working to improve forest information by merging the latest technology with on-the-ground partnerships. Forest Atlases are now available for Cameroon, Central African Republic, Republic of the Congo, Democratic Republic of the Congo, Equatorial Guinea, and Gabon."
    }
  ]
%>

<div class="c-about-history">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-home-use-examples__content">
        <div class="c-about-history__title text -title-xs -color-3">HISTORY</div>
        <div class="c-about-history__list slider js_slider">
          <div class="frame js_frame">
            <ul class="slides js_slides">
              <% years.each_with_index do |year, i| %>
                <li class="slide js_slide <% if i == 0 %>active<% end %>">
                  <div class="c-about-history-item">
                    <div class="c-about-history-item__image">
                      <img src="http://bomanite.com/wp-content/uploads/2015/02/512x512-PNG-Landscape-Texture-Sunrise-Lake.jpg" />
                    </div>
                    <div class="c-about-history-item__texts">
                      <div class="c-about-history-item__title text -title -light -color-2"><%= year['title'] %></div>
                      <div class="c-about-history-item__paragraph text -paragraph -color-2"><%= year['paragraph'] %></div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
            <div class="c-about-history__arrow-button -left -hidden js_slide_prev">
              <%= render 'shared/buttons/arrow', orientation: 'left' %>
            </div>
            <div class="c-about-history__arrow-button -right js_slide_next">
              <%= render 'shared/buttons/arrow', orientation: 'right' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
