<div class="c-about-modal-world">
  <div class="c-about-modal-world__image"></div>
  <div class="c-about-modal-world__text">
    <svg class="icon-close"><use xlink:href="#icon-close"></use></svg>
    <div>
      <h2 class="text -title -color-2">Democratic Republic of Congo's Ministry of Environment and Sustainable Development</h2>
      <p class="text -title-xs -color-2">Democratic Republic of Congo's Ministry of Environment and Sustainable Development is using GFW data to calculate deforestation taxes due by companies, clearing forests for mining, logging and agriculture.</p>
    </div>
    <div class="contain-buttons">
      <a href="#" class="c-regular-button -green ">LEARN MORE</a>
      <a href="#" class="text -color-2 button-round">$</a>
    </div>
  </div>
</div>
