@import '~styles/settings.scss';
$mobile-padding: rem(30px);
$desktop-padding: rem(50px);

.c-modal-sources {
  max-width: rem(800px);

  h3 {
    margin-bottom: rem(20px);
  }

  p {
    margin-bottom: rem(20px);
    font-size: rem(16px);
    line-height: rem(30px);
  }

  strong {
    font-weight: 500;
  }

  ul {
    list-style: none;
    font-size: rem(16px);

    li {
      margin-bottom: rem(5px);
    }
  }

  a {
    color: $green-gfw;
  }
}
