html {
  @extend .sans-serif;
}

body {
  min-width: 980px;
  border-top: 5px solid #222;
  background: image-url('backgrounds/bkg_header.png') repeat-x top center;

  h1 {
    margin: .7em auto .5em auto;

    font-family:  "fira_sans_otregular", Georgia, serif;
    font-size: 51px;
    line-height: 1.1;
    color: #333;
  }

  &.is-embed-action,
  &.embed {
    max-width: 640px;
    background: none;
    #tpglt-nav-wrapper,
    .skiptranslate {
      display: none
    }
    .header-inner {
      height: 0;
    }
    h1 {
      font-size: 32px;
      display: inline-block;
      font-family: "fira_sans_otregular", Georgia, sans-serif;
      width: 100%;
      max-width: 100%;
      margin: 0;
    }
    min-width: 0;
    #analysis_control{
      display: none;
    }
    .analysis_info{
      display: block;
      .info_controls{
        display: none;
      }
      .spinner{
        display: none;
      }
    }
    .share {
      display: none;
    }
    .widget-searchbox,
    .widget-maptype{
      display: none;
      visibility: hidden;
    }
  }
  &.in-iframe {
    min-width: 640px;

    .layout-header-top,
    footer,
    .mod-notice,
    .header-description {
      display: none;
    }
    .layout-header-bottom {
      padding: 0;
    }
    .row {
      min-width: 640px;
      width: 640px;
    }
    .inner {
      width: 640px;
      padding: 0;
      margin: 0;
    }
    .layout-header .header-title {
      margin: 0.5em auto 0.51em;
    }
  }
}

a {
  text-decoration: none;
  color: $cGreen;

  &:hover {
    color: darken($cGreen, 5%);
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}


input {
    -webkit-appearance: none;
    border-radius: 0;
}
