*, *:after, *:before{  
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  
}

body {
  font-family: "fira_sans_otregular", Georgia, serif;
  background: #EEE;
  // -webkit-font-smoothing: antialiased;
}

svg { 
  width: 100%; 
  height: 100%; 
  @include transition(all .25s $easeInOutCubic);
}
