.layout-footer {
	background: #EDEDE8;
    .apps-footer {
    	padding: 20px 0;
    	border-bottom: 1px solid #E5E5DF;
    	ul {
    		@include row(space-between);	
    		li {
    			width: 16.666666%;
    			a {
    				display: block;
    				padding: 20px;
    				text-decoration: none;
	    			svg {
	    				display: block;
	    				height: 30px;
	    				width: 30px; 
	    				margin: 0 auto;
	    				fill: #555555;
	    			}
	    			h3 {
	    				text-transform: uppercase;
	    				text-align: center;
	    				font-size: 12px;
	    				padding: 5px 0 0;
	    				color: #555555;
                        @include transition(all .25s $easeInOutCubic);
	    			} 
	    			&:hover {
	    				svg { 
                            fill: $cGreen;
                            &.fire{ fill: $red; }
                            &.commodities{ fill: $orange; }
                        }
	    				h3 { 
                            color: $cGreen;
                            &.fire{ color: $red; }
                            &.commodities{ color: $orange; }
                        }
	    			}   				
    			}
    		}
    	}
    }
    .site-map {
    	padding: 0 0 40px;    	
    	.row {
    		@include row(space-between);
    		padding: 40px 0;
    		border-bottom: 1px solid #E5E5DF;
    		.col {
    			width: 25%;
    			a {
    				text-decoration: none;
    				color: #555555;
    				&:hover{
    					text-decoration: underline;
    				}
    			}
    			h3 {
    				font-size: 14px;
    				color: #555555;
    				text-transform: uppercase;
    				padding: 0 0 15px;
    				font-family: $font-medium;
    			}
    			ul {
    				margin: -10px 0 0;
    				li {
    					font-size: 13px;
    					padding: 5px 0;
    				}
    			}
    		}
    	}
    }
    .partner-box{
    	padding: 0 0 40px;
    	h4{ 
    		font-size: 14px;
    		color: #555555;
    		padding: 0 0 15px;
    	}
    	.row{
    		@include row(space-between,flex-start);
	    	.wri-logo{
	    		width: 200px;
	    		height: 70px;
	    		@include logos-sprite(wri-logo);
	    	}
	    	.adress{
	    		text-align: right;
	    		font-size: 14px;
	    		font-family: $font-light;
	    		strong,span{ display: block;}
	    		strong {
	    			font-family: $font-regular;
	    		}
	    	}
    	}
    }
    .footer-logos{
		a{
		    display: block;
		    margin: 0 auto;
		    width: 88px;

		    &.wri { height: 31px; width: 269px; @include logos-sprite(wri); }
		    &.google { height: 52px; @include logos-sprite(google); }
		    &.esri { height: 28px; @include logos-sprite(esri); }
		    &.universitymaryland { height: 52px; @include logos-sprite(universitymaryland); }
		    &.unep { height: 52px; @include logos-sprite(unep); }
		    &.imazon { height: 52px; @include logos-sprite(imazon); }
		    &.cfgd { height: 52px; @include logos-sprite(cfgd); }
		    &.osfac { height: 57px; @include logos-sprite(osfac); }
		    &.gfwca { height: 44px; @include logos-sprite(gfwca); }
		    &.scanex { height: 16px; @include logos-sprite(scannex); }
		    &.twrus { height: 36px; width: 147px; @include logos-sprite(twrus); }
		    &.norwegian { height: 55px; @include logos-sprite(norwegian); }
		    &.usaid { height: 64px; @include logos-sprite(usaid); }
		    &.gef { height: 59px; @include logos-sprite(gef); }
		    &.ukaid { height: 52px; @include logos-sprite(ukaid); }
		    &.tilia { height: 38px; @include logos-sprite(tilia); }
		    &.goodall { height: 36px; width: 147px; @include logos-sprite(goodall); }
		    &.cartodb { height: 45px; @include logos-sprite(cartodb); }
		    &.vizzuality { height: 51px; @include logos-sprite(vizzuality); }
		    &.blueraster { height: 51px; width: 97px; @include logos-sprite(blueraster); }
		}
    }
}