// HEADER
.layout-header {
  position: fixed;
  z-index: 100;
  overflow: auto;
  width: 100%;
  height: auto;
  z-index: 1000;
  top: 0;
  left: 0;
  &.active{
    height: 100%;
  }
  @media (min-width: $br-mobile){
    position: relative;
    overflow: visible;
    height: auto;
  }
}
// top HEADER
.layout-header-top {
  background: #F7F7F7;
  padding: 10px;
  border-bottom: 2px solid $border;
  position: relative;
  z-index: 10;
  @include clearfix();
  nav {
    >ul {
      >li {
        height: 25px;
        width: 25px;
        float: left;
        margin: 0 0 0 20px;
        &:first-child {
          margin: 0;
        }
        >a,.link {
          cursor: pointer;
          display: inline-block;
          width: 100%;
          height: 100%;
          position: relative;
          text-decoration: none;
          text-transform: uppercase;
          @include transition(all 0.15s $easeInOutCubic);
          >span {
            font-size: 12px;
            color: #000;
            line-height: 28px;
            margin: 0 0 0 5px;
          }
          .tooltip{
            margin: 0;
            line-height: normal;
          }

          form{
            >input {
              border: none;
              border-bottom: 2px solid #B6B6BA;
              background: none;
              box-shadow: none;
              height: 25px;
              outline: none;
              margin: 0;
              padding: 0 5px;
            }
          }
          svg {
            fill: #B6B6BA;
          }

          &:hover  {
            .shape-house { fill: $cGreen; }
            .shape-world { fill: $cGreen; }
            .shape-country { fill: $cGreen; }
            .shape-fire { fill: $red; }
            .shape-commodities { fill: $orange; }
            .shape-blog { fill: $cGreen; }
            svg {
              fill: $cGreen;
            }
          }

        }
      }
    }
    &.first-nav {
      float: left;
      >ul {
        >li {
          >a,.link {
            &:hover  {
              .tooltip{
                visibility: visible;
                opacity: 1;
              }
              // @include transform(scale(1.25));
            }
          }
        }
      }
    }
    &.second-nav {
      float: right;
      >ul  {
        >li  {
          height: 25px;
          width: auto;
          position: relative;
          >a,
          .link {
            text-indent: 0;
            width: auto;
            >span {
              display: none;
              @media (min-width: $br-tablet){
                display: inline-block;
              }
            }
            svg {
              float: left;
              display: inline-block;
            }
          }
          .home_data {
            font-size: 12px;
            border: 0;
            text-decoration: none;
            span {
              line-height: 28px;
            }
            &:visited {
              color: #000;
            }
          }
          &:hover {
            .submenu-tooltip {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
// Bottom HEADER
.layout-header-bottom {
	position: relative;
  background: #F2F2F3;
  border-bottom: 2px solid $border;
  @include clearfix();
  @media (min-width: $br-mobile){
    background: rgba(#FFF,0.8);
    border-bottom: 1px solid $border;
  }
	// Logo
	h1 {
    width: 60px;
    height: 60px;
    float: left;
		text-indent: -9999px;
		overflow: hidden;
    z-index: 2;
    margin: 0 0 0 15px;
    @include retina-image('logo-new.png','logo-new@2x.png');
    @media (min-width: $br-mobile){
      width: 90px;
      height: 90px;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      float: none;
    }
		a {
			display: block;
			height: 100%;
			width: 100%;
		}
	}

  // Btn-menu
  .btn-menu{
    @extend .reset-btn;
    width: 60px;
    height: 60px;
    float: right;
    display: block;
    position: relative;
    z-index: 2;
    @media (min-width: $br-mobile){
      display: none;
    }
    .icon{
      margin: 0 auto;
      &.hamburguer{
        display: block;
      }
      &.close {
        display: none;
      }
    }
    &.active{
      background: $white;
      border-left: 1px solid #CCC;
      box-shadow: 0 1px 0 $white;
      .icon{
        margin: 0 auto;
        &.hamburguer{
          display: none;
        }
        &.close {
          display: block;
        }
      }
    }
  }

  // Search Widget mobile
  form{
    padding: 17px 60px 17px 15px;
    border-top: 1px solid #CCC;
    >input {
      border: none;
      border-bottom: 2px solid #B6B6BA;
      background: none;
      box-shadow: none;
      width: calc(100% - 25px);
      height: 25px;
      outline: none;
      margin: 0;
      padding: 0 5px;
    }
    svg {
      float: left;
      fill: #B6B6BA;
    }
  }


	// Nav-right
	nav {
		border-bottom: 1px solid #EAECEF;
    clear: both;
    background: $white;
    display: none;
    position: relative;
    &.active{
      display: block;
    }
    @media (min-width: $br-mobile){
      display: block !important;
      clear: none;
      background: none;
      border-bottom: none;
    }

		@include clearfix();
		>ul {
      clear: both;
      @media (min-width: $br-mobile){
        clear: none;
        float: right;
        padding-right: 5px;
      }
			>li {
        position: relative;
        border-top: 1px solid darken($border,10%);
        @media (min-width: $br-mobile){
          float: left;
          border-top: none;
          &:hover {
            z-index: 5;
            ul {
              background: rgba(#fff,0.95);
              visibility: visible;
              opacity: 1;
              @include transform(translate(-50%,0px));
              &:before {
                width: 100%;
              }
            }
          }
        }
        @media (min-width: $br-tablet){
          margin: 0 0 0 10px;
          &:first-child { margin: 0;}
        }

				>a {
					display: block;
					text-transform: uppercase;
					text-decoration: none;
					color: #474747;
					padding: 20px;
					position: relative;
					z-index: 2;
          text-align: center;
          background: #F2F2F3;
          @media (min-width: $br-mobile){
            background: none;
          }
          @media (min-width: $br-tablet){
            padding: 20px 40px;
          }
				}
				//submenu
				ul {
					width: 100%;
          z-index: 1;
          position: relative;
          @media (min-width: $br-mobile){
            position: absolute;
            top: 0;
            left: 50%;
            min-width: 150px;
            padding: 56px 0 0;
            box-shadow: 0 1px 3px rgba(#000,0.25);
            visibility: hidden;
            opacity: 0;
            @include transform(translate(-50%,10px));
            @include transition(all 0.15s $easeInOutCubic);
            &:before {
              content: "";
              display: block;
              width: 0%;
              height: 5px;
              background: rgba($cGreen,0.5);
              position: absolute;
              top: 52px; //padding-UL - height:before
              left: 0;
              @include transition(all 0.15s $easeInOutCubic 0.1s);
            }
          }
          @media (min-width: $br-tablet){
            min-width: 0;
          }


					li {
            @media (min-width: $br-mobile){
              border-top: 1px solid #EAECEF;
            }

						a {
							color: #444;
							font-family: "fira_sans_otregular", Georgia, serif;
							padding: 10px;
							font-size: 15px;
							text-decoration: none;
							text-align: center;
							display: block;
							&:hover {
								background: darken(#FFF,2%);
							}
						}
					}
        }
      }
    }
  }
}



// Google Translate
#google_translate_element_box2{
  padding: 0 15px 10px;
  @media (min-width: $br-mobile){
    display: none;
  }
}

#google_translate_element {
  .goog-te-gadget {
    font-family: inherit;
    .goog-te-gadget-simple {
      border: none;
      background: none;
      .goog-te-menu-value  {
        color: #000;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 28px;
        position: relative;
        padding-right: 16px;
        span {
          &:last-child {
            visibility: hidden;
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            height: 16px;
            width: 16px;
            @include transform(translate(0,-55%));
            &:before {
              content: "";
              visibility: visible;
              display: block;
              height: 100%;
              width: 100%;
              background: image-url('svg-icons/arrow-down.svg') no-repeat center;
              background-size: contain;
            }
          }
        }
      }
    }
  }
}
