// HEADER
.layout-header {
  position: relative;
  z-index: 1000;
}
// top HEADER
.layout-header-top {
  background: #F7F7F7;
  padding: 10px;
  border-bottom: 2px solid #E5E5DF;
  position: relative;
  z-index: 10;
  @include clearfix();
  nav {
    >ul {
      >li {
        height: 25px;
        width: 25px;
        float: left;
        margin: 0 0 0 20px;
        &:first-child {
          margin: 0;
        }
        >a,.link {
          cursor: pointer;
          display: inline-block;
          width: 100%;
          height: 100%;
          overflow: hidden;
          text-decoration: none;
          text-transform: uppercase;
          @include transition(all 0.15s $easeInOutCubic);
          >span {
            font-size: 12px;
            color: #000;
            line-height: 28px;
            margin: 0 0 0 5px;
          }
          >input {
            border: none;
            border-bottom: 2px solid #B6B6BA;
            background: none;
            box-shadow: none;
            height: 25px;
            outline: none;
            margin: 0;
            padding: 0 5px;
          }
          >svg {
            fill: #B6B6BA;
          }
          &:hover  {
            .shape-house { fill: $cGreen; }
            .shape-world { fill: $cGreen; }
            .shape-country { fill: $cGreen; }
            .shape-fire { fill: #ED1846; }
            .shape-commodities { fill: #E98300; }
            .shape-blog { fill: $cGreen; }
            svg {
              fill: $cGreen;
            }
          }

        }
      }
    }
    &.first-nav {
      float: left;
      >ul {
        >li {
          >a,.link {
            >span { display: none;}
            &:hover  {
              @include transform(scale(1.25));
            }
          }
        }
      }
    }
    &.second-nav {
      float: right;
      >ul  {
        >li  {
          height: 25px;
          width: auto;
          position: relative;
          >a,.link {
            text-indent: 0;
            width: auto;
            >span { display: inline-block;}
            svg {
              float: left;
              display: inline-block;
            }
          }
          &:hover {
            .submenu-tooltip {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
// Bottom HEADER
.layout-header-bottom {
	position: relative;
	background: rgba(#FFF,0.8);
	// Logo
	h1 {
		width: 90px;
		height: 90px;
		position: absolute;
		top: 0;
		left: 0;
		@include retina-image('logo-new.png','logo-new@2x.png');
		text-indent: -9999px;
		overflow: hidden;
		a {
			display: block;
			height: 100%;
			width: 100%;
		}
	}
	// Nav-right
	nav {
		border-bottom: 1px solid #EAECEF;
		@include clearfix();
		>ul {
			float: right;
			padding-right: 5px;
			>li {
				float: left;
				margin: 0 0 0 10px;
				position: relative;
				&:first-child { margin: 0;}
				&:hover {
					ul {
        		background: rgba(#fff,0.95);
						visibility: visible;
						opacity: 1;
						@include transform(translate(-50%,0px));
						&:before {
							width: 100%;
						}
					}
				}
				>a {
					display: block;
					text-transform: uppercase;
					text-decoration: none;
					color: #474747;
					padding: 20px 40px;
					position: relative;
					z-index: 2;
				}
				//submenu
				ul {
					position: absolute;
					top: 0;
					left: 50%;
					padding: 56px 0 0;
					width: 100%;
					// min-width: 150px;
					box-shadow: 0 1px 3px rgba(#000,0.25);
					z-index: 1;
					visibility: hidden;
					opacity: 0;
					@include transform(translate(-50%,10px));
					@include transition(all 0.15s $easeInOutCubic);
					&:before {
						content: "";
						display: block;
						width: 0%;
						height: 4px;
						background: #97BD3D;
						position: absolute;
						top: 52px; //padding-UL - height:before
						left: 0;
						@include transition(all 0.15s $easeInOutCubic 0.1s);
					}

					li {
						border-top: 1px solid #EAECEF;
						a {
							color: #444;
							font-family: "fira_sans_otregular", Georgia, serif;
							padding: 10px;
							font-size: 15px;
							text-decoration: none;
							text-align: center;
							display: block;
							&:hover {
								background: darken(#FFF,2%);
							}
						}
					}
        }
      }
    }    
  }
}



// Google Translate
#google_translate_element {
  .goog-te-gadget {
    font-family: inherit;
    .goog-te-gadget-simple {
      border: none;
      background: none;
      .goog-te-menu-value  {
        color: #000;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 28px;
        position: relative;
        padding-right: 16px;
        span {
          &:last-child {
            visibility: hidden;
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            height: 16px;
            width: 16px;
            @include transform(translate(0,-55%));
            &:before {
              content: "";
              visibility: visible;
              display: block;
              height: 100%;
              width: 100%;
              background: image-url('svg-icons/arrow-down.svg') no-repeat center;
              background-size: contain;
            }
          }
        }
      }
    }
  }
}
