@mixin clearfix {
  &:after,
  &:before {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin grid($column) {
  width: 100%/$grid-columns*$column - (2*$grid-gutter-width);
}

@mixin pointer-events($type: none) {
  $type: unquote($type);
  @include experimental(pointer-events, $type,
    -moz, -webkit, not -o, not -ms, -khtml, official
  );
}



/**********/
/* Colors */
/**********/
$cBackground:            #222222;
$cDarkGreen:             #264C59;
$cLink:                  #A1BA42;
$cGreen2:                #9FB840;
$cGreen1:                #A1BA42;
$cGreen:                 #97bd3d;
$cGold:                  #F2B257;
$cLime:                  #A1BA42;
$cDarkGold:              #D69E4D;

$cWhite:                 #FFFFFF;
$cGray8:                 #393939;
$cGray7:                 #444444;
$cGray6:                 #797979;
$cGray5:                 #222222;
$cGray4:                 #CCCCCC;
$cGray3:                 #999999;
$cGray2:                 #666666;
$cGray1:                 #333333;
$cGray0:                 #000000;

$cSeparator:             #E5E5E5;

$cStories:               $cGold;
$cStoriesHover:          $cDarkGold;

$cForestUse:             #CC4C02;
$cForestUseHover:        darken(#CC4C02, 15%);

$cForestClearing:        #F69;
$cForestClearingHover:   darken(#F69, 15%);

$cConservation:          #00CED0; // blue
$cConservationHover:     #00B9B9;

$cOtherLayers:           #00CED0; // blue
$cOtherLayersHover:      #00B9B9;

$cMining:                $cGray4;
$cMiningHover:           $cGray3;

$cForest:                #707D92;
$cForestHover:           #707D92;

$cSpecialProjects:       #594694;
$cSpecialProjectsHover:  #594694;

$cRegrowth:              #B2D26E; // green
$cRegrowthHover:         #9EBB62; // dark green

$cFire:                  #E95850; // red
$cFireHover:             #CA4C45;

$cDeforestation:         #FF6699; // red
$cDeforestationHover:    #C04B73;

$cTop:                   #222222;
$cPostTitle:             #73ACB3; // green
$cPostBody:              #666666;

// This is only used in the demo page
.cforest     { background-color: $cForest; }
.cBackground { background-color: $cBackground; }
.cDarkGreen  { background-color: $cDarkGreen; }
.cLink       { background-color: $cLink; }
.cGreen      { background-color: $cGreen; }
.cWhite      { background-color: $cWhite; }
.cGray4      { background-color: $cGray4; }
.cGray3      { background-color: $cGray3; }
.cGray2      { background-color: $cGray2; }
.cGray1      { background-color: $cGray1; }
.cGray0      { background-color: $cGray0; }
.cGold       { background-color: $cGold; }

.cStories      { background-color: $cStories; }
.cStoriesHover { background-color: $cStoriesHover; }

.cForestUse        { background-color: $cForestUse; }
.cForestUseHover   { background-color: $cForestUseHover; }

.cConservation     { background-color: $cConservation; }
.cMining           { background-color: $cMining; }

.cForest           { background-color: $cForest; }
.cForestHover      { background-color: $cForestHover; }

.cFire { background-color: $cFire; }

.cTop { background-color: $cTop; }
.cPostTitle { background-color: $cPostTitle; }
.cPostBody { background-color: $cPostBody; }

// SPRITES
$icons-community-spacing:90px;
$icons-analysis-spacing:90px;
$icons-updates-spacing:90px;

$icons-checkbox-spacing:20px;
$icons-checkbox_checked-spacing:20px;
$icons-checkbox_hover-spacing:20px;

$icons-input_error-spacing:20px;

$icons-download_arrow-spacing:20px;
$icons-download_arrow_hover-spacing:20px;
$icons-bars-spacing:20px;

$icons-forest_use-spacing:20px;
$icons-conservation-spacing: 20px;
$icons-mining-spacing: 20px;
$icons-fire-spacing: 20px;

// Radio buttons & checkboxes
$icons-radio-spacing: 41px;
$icons-radio_fire-spacing: 44px;
$icons-checkboxes-spacing: 40px;
$icons-checkboxes_mining-spacing: 40px;
$icons-checkboxes_regrowth-spacing: 40px;
$icons-checkboxes_forest_use-spacing: 40px;
$icons-checkboxes_forest-spacing: 40px;
$icons-checkboxes_mining-spacing: 40px;
$icons-checkboxes_other_layers-spacing: 40px;

$icons-bullet_square-spacing: 40px;

// Country
$icons-country_bolivia_disabled-spacing: 20px;

@import "icons/*.png"; /**/
@import "logos/*.png"; /**/

@import "mixins/*.png"; /**/

$countries-spacing: 20px;

strong { font-weight: 500; } // This is sad, I know.

.hidden { display:none; }

.classic-hover {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.pull-right {
  float:right;
}

.opacity-transition {
  @include transition-property(opacity);
  @include transition-duration(250ms);
  @include transition-timing-function(ease-in);
}

.position-transition {
  @include transition-property(position);
  @include transition-duration(250ms);
  @include transition-timing-function(ease-in);
}

.shadow-transition {
  -webkit-transition: -webkit-box-shadow 0.3s ease-out;
  -moz-transition: -moz-box-shadow 0.3s ease-out;
  -o-transition: box-shadow 0.3s ease-out;
}

.no-glow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@mixin dark-glow($opacity) {
  -moz-box-shadow:0px 0px 3px 5px rgba(0, 0, 0, $opacity); /* Firefox v3.5+ */
  -webkit-box-shadow:0px 0px 3px 5px rgba(0,0,0, $opacity); /* Safari v3.0+ and by Chrome v0.2+ */
  box-shadow:0px 0px 3px 1px rgba(0,0,0, $opacity); /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+  and by Opera v10.5+ */
  -ms-filter:"progid:DXImageTransform.Microsoft.Glow(Color = #33000000 ,Strength = $opacity * 10)";
  filter:progid:DXImageTransform.Microsoft.Glow(Color = #33000000 ,Strength = $opacity * 10);
}
@mixin darker-glow($opacity) {
  -moz-box-shadow:0px 0px 6px 1px rgba(0, 0, 0, $opacity); /* Firefox v3.5+ */
  -webkit-box-shadow:0px 0px 6px 1px rgba(0, 0, 0, $opacity); /* Safari v3.0+ and by Chrome v0.2+ */
  box-shadow:0px 0px 6px 1px rgba(0, 0, 0, $opacity); /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+  and by Opera v10.5+ */
  -ms-filter:"progid:DXImageTransform.Microsoft.Glow(Color = #33000000 ,Strength = $opacity * 10)";
  filter:progid:DXImageTransform.Microsoft.Glow(Color = #33000000 ,Strength = $opacity * 10);
}

@mixin button($url, $height, $mL, $pT, $pR, $pB, $pL, $offset-y) {
  @include inline-block();

  position:relative;

  height:$height;
  background: url($url) no-repeat left -1*($offset-y + $height);
  color:#fff;
  text-decoration:none;
  text-transform: uppercase;

  @extend .shadow-transition;

  & > span {
    @include inline-block();
    height: $height - $pT - $pB;
    margin-left: $mL;
    padding: $pT $pR $pB $pL;
    background: url($url) repeat-x right -1*$offset-y;
    white-space:nowrap;
  }
}

@mixin size($width, $height:$width) {

  @if $width  != false { width:  $width; }
  @if $height != false { height: $height; }

}

@mixin position($top, $right, $bottom, $left) {

  position: absolute;

  @if $top    != false { top:    $top; }
  @if $right  != false { right:  $right; }
  @if $bottom != false { bottom: $bottom; }
  @if $left   != false { left:   $left; }

}

@mixin absolute-portrait-center($height) {
  position:absolute;
  top:50%;
  height: $height;
  margin-top: -1*$height/2;
}

@mixin absolute-landscape-center($width) {
  @include absolute-left-center($width);
}

@mixin absolute-left-center($width) {
  position:absolute;
  left:50%;
  width: $width;
  margin-left: -1*$width/2;
}

@mixin absolute-center($width, $height:$width) {

  position:absolute;
  left:50%;
  top: 50%;

  margin-left: -1*$width/2;
  margin-top:  -1*$height/2;

  @if $width  != false { width:  $width; }
  @if $height != false { height: $height; }

}

@mixin clearfix() {
  & { *zoom: 1; }
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}

.disable-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin disabled($url) {
  @include inline-block();
  @include icons-sprite(disabled);
  padding-left: 22px;
  text-decoration:none;
}

// Fonts

.font-big {
  @extend .serif;
  font-size: 37px;
  color: $cWhite;
}


.font-regular {
  @extend .sans-serif;
  font-size: 15px;
  color: $cWhite;
}

.font-golden {
  @extend .sans-serif;
  font-size: 12px;
  font-weight:bold;
  color: $cLime;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: $cGray2;
  }
}

@mixin pointer-events($type: none) {
  $type: unquote($type);
  @include experimental(pointer-events, $type,
    -moz, -webkit, not -o, not -ms, -khtml, official
  );
}
