// Grid
@mixin rowContainer(){
    padding: 0 20px;
    max-width: 1300px;
    margin: 0 auto;
}
@mixin row($content:space-between,$items:stretch) {
    @include clearfix();
    @include display-flex();
    @include justify-content($content);
    @include align-items($items);
}
@mixin col ($per) {
    display: block;
    width: percentage($per/100);
    min-height: 1px;
}


// Clearfix
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
    visibility: hidden;
    font-size: 0;
    height: 0;
  }
  &:after {
    clear: both;
  }
}

// Retina
@mixin retina-image($file-1x, $file-2x) {
  background-image: image-url($file-1x); 
  background-size: contain;
  @media
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (   min--moz-device-pixel-ratio: 1.5),
  only screen and (     -o-min-device-pixel-ratio: 1.5),
  only screen and (        min-device-pixel-ratio: 1.5),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: image-url($file-2x);
  }
}
