// Grid
@mixin row($content:space-between,$items:stretch) {
    @include display-flex();
    @include justify-content($content);
    @include align-items($items);
}
@mixin col ($per) {
    display: block;
    width: percentage($per/100);
    min-height: 1px;
}


// Clearfix
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
    visibility: hidden;
    font-size: 0;
    height: 0;
  }
  &:after {
    clear: both;
  }
}

// Retina
@mixin retina-image($file-1x, $file-2x) {
  background-image: image-url($file-1x); 
  background-size: contain;
  @media
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (   min--moz-device-pixel-ratio: 1.5),
  only screen and (     -o-min-device-pixel-ratio: 1.5),
  only screen and (        min-device-pixel-ratio: 1.5),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: image-url($file-2x);
  }
}

// Animation
@mixin animation($name,$duration,$count: 1,$function: linear,$direction: normal,$fill : none,$delay : 0s, $play: running){
  -webkit-animation-name: $name;
  -webkit-animation-duration: $duration;
  -webkit-animation-iteration-count: $count;
  -webkit-animation-timing-function: $function;
  -webkit-animation-direction: $direction;
  -webkit-animation-fill-mode:$fill;
  -webkit-animation-delay:$delay;
  -webkit-animation-play-state: $play;
  -moz-animation-name: $name;
  -moz-animation-duration: $duration;
  -moz-animation-iteration-count: $count;
  -moz-animation-timing-function: $function;
  -moz-animation-direction: $direction;
  -moz-animation-fill-mode:$fill;
  -moz-animation-delay:$delay;
  -moz-animation-play-state: $play;  
  -ms-animation-name: $name;
  -ms-animation-duration: $duration;
  -ms-animation-iteration-count: $count;
  -ms-animation-timing-function: $function;
  -ms-animation-direction: $direction;
  -ms-animation-fill-mode:$fill;
  -ms-animation-delay:$delay;
  -ms-animation-play-state: $play;
  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: $count;
  animation-timing-function: $function;                                
  animation-direction: $direction;
  animation-fill-mode:$fill;
  animation-delay:$delay;
  animation-play-state: $play;
}
