@font-face {
  font-family: 'fira_sans_otregular';
  src: font_url('firasansot-regular-webfont.eot');
  src: font_url('firasansot-regular-webfont.eot?#iefix') format('embedded-opentype'),
       font_url('firasansot-regular-webfont.woff') format('woff'),
       font_url('firasansot-regular-webfont.ttf') format('truetype'),
       font_url('firasansot-regular-webfont.svg#fira_sans_otregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sans_otmedium';
  src: font_url('firasansot-medium-webfont.eot');
  src: font_url('firasansot-medium-webfont.eot?#iefix') format('embedded-opentype'),
       font_url('firasansot-medium-webfont.woff') format('woff'),
       font_url('firasansot-medium-webfont.ttf') format('truetype'),
       font_url('firasansot-medium-webfont.svg#fira_sans_otmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sans_otlight';
  src: font_url('firasansot-light-webfont.eot');
  src: font_url('firasansot-light-webfont.eot?#iefix') format('embedded-opentype'),
       font_url('firasansot-light-webfont.woff') format('woff'),
       font_url('firasansot-light-webfont.ttf') format('truetype'),
       font_url('firasansot-light-webfont.svg#fira_sans_otmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}


// Grid
$max-container-width: 980px;
$min-container-width: 980px;
$grid-columns: 12;
$grid-gutter-width: 1%;

$primary-color: #9FBA2B;
$default-color: #463F52;

$cGreen: #97Bd3d;

$font-light: "fira_sans_otlight", Georgia, sans-serif;
$font-medium: "fira_sans_otmedium", Georgia, sans-serif;
$font-regular: "fira_sans_otregular", Georgia, sans-serif;


/* =Fonts
----------------------------------------------- */
.serif {
  font-family: "Georgia", serif;
}
.fira_light {
  font-family: "fira_sans_otlight", "Helvetica Neue", "Trebuchet MS", sans-serif;
}
.fira_medium {
  font-family: "fira_sans_otmedium", "Helvetica Neue", "Trebuchet MS", sans-serif;
}
.fira_regular {
  font-family: "fira_sans_otregular", "Helvetica Neue", "Trebuchet MS", sans-serif;
}
.sans-serif {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.futura {
  font-family: "Futura", sans-serif;
}
