// Grid
$max-container-width: 1600px;
$min-container-width: 960px;

$br-mobile: 800px;
$br-tablet: 1000px;

//Colors
$cGreen: #97Bd3d;
$cGreen1: #A1BA42;
$white: #FFF;
$dark: #555555;
$light: #F7F7F7;
$red: #ED1846;
$orange: #E98300;
$border: #E5E5DF;

//Animations
// Cubic
$easeInCubic:  cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeOutCubic:  cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeInOutCubic :  cubic-bezier(0.645, 0.045, 0.355, 1.000);
// Sine
$easeInSine:  cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeOutSine:  cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeInOutSine:  cubic-bezier(0.445, 0.050, 0.550, 0.950);
