// Compass
@import "compass/reset";
@import "compass/css3";

// Settings
@import "settings/settings";
@import "global/utils";
@import "global/common";
@import "global/texts";

// Layouts
@import "layouts/foundation-grid";
@import "layouts/about";

// Components
@import "components/buttons/c-arrow-button";
@import "components/buttons/c-play-button";
@import "components/buttons/c-regular-button";
@import "components/c-slider-dots";
@import "components/c-social";
@import "components/c-default-header";
@import "components/about/c-about-body";
@import "components/about/c-about-cover";
@import "components/about/c-about-anchors";
@import "components/about/c-about-users";
@import "components/about/c-about-how";
@import "components/about/c-about-impacts";
@import "components/about/c-about-awards";
@import "components/about/c-about-history";
@import "components/about/c-about-contactus";
@import "components/about/c-about-modal-subscribe";
@import "components/about/c-about-modal-world";
@import "components/about/c-about-footer-logos";
