
@import "compass";
@import "compass/reset";
@import "helpers";

#analysis_control {
  /*display:none;*/

  z-index: 1000;
  @include size(38px, 38px);
  @include position(76px, false, false, 15px);
  @include icons-sprite(analysis_button);

  &:hover { @include icons-sprite(analysis_button_hover); }
  &:active { @include icons-sprite(analysis_button_active); }

  &.disabled {
    cursor: default;
    @include icons-sprite(analysis_button_disabled);
  }
}

.analysis_subscribe {

  $width: 523px - 60;
  $height: 170px;

  height: $height;

  @include absolute-center($width, $height);
  margin-top: -150px;

  display:none;
  padding: 30px;

  @include box-shadow(0px 0px 7px $cGray2);
  @include border-radius(3px);

  background:#fff;
  border: 1px solid #757573;
  text-align:center;

  z-index: 2000;

  .form {
    border-top: 1px solid #f1f1f1;
    position:absolute;
    padding: 28px 10px 30px 10px;
    @include position(false, false, 0, 0);
    width: 518px - 20;

    .btn { width: 120px; padding: 14px 0px; }

    .input-field {
      position:relative;
      width: 300px;
      margin: 0 30px 0px 0;

      .holder {
        position: absolute;
        left: 12px;
        top: 14px;
        color: #ddd;
        font-size:15px;
        @extend .sans-serif;
      }

    }

    .error_input_label {
      position:absolute;
      display:none;
      right: -92px;
      bottom: 37px;

      width: 190px;
      height: 39px - 9px;
      padding: 9px 0 0 0;

      @include icons-sprite(error_input_label);

      color: #fff;
      font-size:15px;
      @extend .sans-serif;
      text-align: center;
    }

    .input-field .icon.error {
      width: 21px;
      height: 22px;
      position:absolute;
      right: -7px;
      top: 10px;
      @include icons-sprite(input_error);
      display:none;
    }

    .input-field.error input { color: red;}

  }

  .subtitle { margin: 0 0 20px 0; }
  .subtitle a { color: #A1BB27; text-decoration: underline; }

  .close {
    display:block;
    @include position(15px, 15px, false, false);
    @include icons-sprite(infowindow_close);
    @include size(6px);
  }

  h1 {
    font-size: 35px;
    margin: 10px 0 5px 0;
    font-family: "Georgia", "Times New Roman", serif;
  }

  p {
    color: #999999;
    font-family: "Helvetica Neue",Arial;
    font-size: 15px;
  }

  p.help { display:none; margin: 0 0 20px 0; }

}

