//= require_self
//= require fonts
//= require_tree .

@import "compass";
@import "compass/reset";
@import "helpers";
@import "forms";

body {
  background: $cBackground;
}

small { font-size: 15px!important; }
sup { font-size:10px!important; vertical-align: top; position: relative; top: -0.5em;  }

a.icon {
  &.download {
    padding: 0 0 0 15px;
    @include icons-sprite(download_arrow, $offset-y:4px);
    &:hover { @include icons-sprite(download_arrow_hover, $offset-y:4px); }
  }
}

header {
  background:url(backgrounds/bkg_header.png) repeat-x top center;
  height:226px;

  a.logo {
    position:absolute;
    display: inline-block;
    background:url(logos/logo.png) no-repeat center center;
    width: 108px;
    height: 100px;
    left: -7px;
    text-indent: -99999px;
    z-index: 1000;
  }

  span.header_separator {
    position:absolute;
    top: 67px;
    left: 0;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #CFCFCF;
  }

  #other_sites_ribbon {
    position: absolute;
    right: 0;
    width: 22px;
    height: 21px;
    padding: 25px 0 0px 0;
    background-color: #222222;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
  }

  #other_wri_sites {
    display:none;
    width: 195px;
    position:absolute;
    right: -14px;
    top: 10px;

    background: #fff;

    @include dark-glow(0.2);

    z-index: 10000;

    & > a  {
      display:block;
      border-bottom: 1px solid #ccc;
      padding: 10px 15px;
      text-align: right;

      color: #75ADB5;
      font-weight:bold;
      font-size: 11px;
      @extend .sans-serif;
      text-transform: uppercase;
      text-decoration: none;
    }

    ul {
      padding: 15px;

      li {

        @include icons-sprite(bullet_square, $offset-y: 7px);
        padding: 0 0 0 7px;
        margin: 0 0 3px 0;

        a {
          color: #999;
          text-decoration: none;
          font-size: 13px;
          @extend .sans-serif;
          &:hover {
            color: #73ACB3;
          }
        }

      }
    }

  }

  hgroup {
    position:relative;
    top: 74px;
    width:465px;

    h1 {
      @extend .font-big;
      color:$cGray1;
      top: 29px;
      position:relative;

      a {
        text-decoration:none;
        color: $cGray3;

        &.selected {
          color: $cGray1;
        }
      }
    }

    h2 {
      margin: 0 0 2px 0;

      a {
        @extend .font-golden;
        color: $cLink;
      }
    }
  }

  ul.big_numbers {

    position: absolute;
    top: 95px;
    right: -40px;

    li {
      @include inline-block();
      width: 120px;
      padding: 0 20px 0 20px;
      border-right: 1px solid $cGray4;

      &.last {
        border: 0;
        padding-right:0;
      }

      span {
        @include inline-block();
        margin: 0 0 10px 0;
        @extend .serif;
        color: $cLime;
        font-size: 42px;
      }

      p {
        @extend .sans-serif;
        color: $cGray3;
        font-size: 12px;
        line-height: 130%;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  .inner { position:relative; width: 927px; margin: auto; }

  & > .top {

    position: relative;

    .top_bar {
      height: 5px;
      z-index: 100000;
      background: $cTop;
    }

    .inner > ul {

      position:absolute;
      top: 15px;
      right: 0;

      li {
        margin: 0 0 0 30px;
        @include inline-block();

        a {
          @extend .sans-serif;
          font-size: 11px;
          font-weight:bold;
          text-transform: uppercase;
          text-decoration:none;
          color: $cWhite;
        }

      } // li
    } // ul
  } // top
} // header

nav {
  position:absolute;
  top: 18px;
  right: 40px;

  & > ul {

    li {

      @include inline-block();

      a {

        $height:26px; $mL: 5px; $pT: 7px; $pR: 10px; $pB: 5px; $pL: 5px;

        @include button('buttons/bkg_nav_button.png', $height, $mL, $pT, $pR, $pB, $pL, 0);
        background:none;
        span { background:none; }

        @extend .sans-serif;
        font-size:12px;
        font-weight:bold;
        color: #333333;

        &.selected {
          @include button('buttons/bkg_nav_button.png', $height, $mL, $pT, $pR, $pB, $pL, 0);
        }

        &:hover {
          @include button('buttons/bkg_nav_button_hover.png', $height, $mL, $pT, $pR, $pB, $pL, 0);
          color: $cBackground;
        }
      } // a

      &.lang_selector {
        border-left: 1px solid $cGray4;
        margin-left: 10px;
        padding-left: 10px;

        a {
          @include inline-block();
          background: url('backgrounds/triangle.png') no-repeat 32px 10px;
        }
      }
    } // li
  } // ul
} // nav

.actions {
  padding: 51px 0 59px 0;
  background: $cBackground;

  .inner { position:relative; width: 950px; margin: auto; }

  ul {
    width:960px;
    margin:auto;
    word-spacing:-1em;

    li {
      @include inline-block();
      width:280px;
      font-weight:400;
      word-spacing:normal;

      margin: 0 50px 0 0;
      text-align:center;

      h2 {
        margin: 0 0 12px 0;
        @extend .serif;
        font-size:29px;
        color: $cWhite;
      }

      p {
        height:50px;
        margin: 18px 0 18px 0;

        @extend .sans-serif;
        font-size: 15px;
        font-weight:400;
        line-height: 17px;

        color: $cGray3;
        opacity:0.5;
      }

      .icon {
        margin:auto;
        height:92px;
      }

      &.community { width:270px; }
      &.analysis { width:270px; }
      &.keep_updated { width:270px; margin: 0; }

      &.community .icon {
        top: 0px;
        position:relative;
        width:134px;
        @include icons-sprite(community);
      }

      &.analysis .icon {
        width:150px;
        @include icons-sprite(analysis);
      }

      &.keep_updated .icon {
        width:122px;
        @include icons-sprite(updates);
      }
    }
  }
}


.home-stories {

  padding: 45px 0 59px 0;
  background:url(backgrounds/bkg_header.png) repeat-x top center #FFFFFF;
  height: 400px;

  h3 {
    @extend .serif;
    text-align: center;
    margin: 0 0 8px 0;
    font-size: 36px;
    color: #222222;
  }

  p {
    text-align: center;
    @extend .sans-serif;
    font-size: 15px;
    font-weight:400;
    line-height: 17px;
    color: $cGray2;

    a {
      color: $cLime;
      text-decoration: none;
      font-weight: bold;
    }
  }

  ul {
    width:960px;
    margin: 50px auto 40px auto;

    li {
      position: relative;
      @include inline-block();
      width:266px;
      height: 266px;
      font-weight:400;
      margin: 0 22px 0 22px;
      text-align:center;

      img {
        position: absolute;
        left: 0;
        top: 0;
        -webkit-border-radius: 133px;
        -webkit-border-radius: 133px;
        -moz-border-radius: 133px;
        -moz-border-radius: 133px;
        border-radius: 133px;
        border-radius: 133px;
      }

      div.gradient {
        background-image:url(backgrounds/bkg_circles_gradient.png);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 266px;
        -webkit-border-radius: 133px;
        -webkit-border-radius: 133px;
        -moz-border-radius: 133px;
        -moz-border-radius: 133px;
        border-radius: 133px;
        border-radius: 133px;
      }

      div.title {
        position: absolute;
        left: 0;
        top: 0;
        margin: 100px 0;
        width: 100%;
        text-align: center;

        span {
          @extend .serif;
          @include inline-block();
          width: 100%;
          margin: 0 0 30px 0;
          color: #FFFFFF;
          font-size: 21px;
          z-index: 1000;
        }

        a {
          @extend .sans-serif;
          font-size: 12px;
          font-weight: bold;
          text-transform: uppercase;
          color: $cLime;
          text-decoration: none;
          z-index: 1000;

        }
      }
    }
  }

}

.blog-links {
  @extend .actions;

  margin: 50px 0 0 0;

  h3 {
    text-align: center;
    margin: 0 0 30px 0;
    font-size: 36px;
    color: $cLime;
  }

  ul {
    width: 917px;
    word-spacing: -1em;

    li {
      margin: 0 30px 0 0;
      text-align: left;
      word-spacing: 0;
      &:last-child { margin: 0; }

      h2 {
        color: $cWhite;
        line-height:30px;
      }

      h2 a {
        color: $cWhite;
        line-height:30px;
        @extend .classic-hover;
      }

      p {
        height: auto;
        margin: 0;
        padding: 0;

        @extend .sans-serif;
        font-size:15px;
        font-weight:400;
        line-height:20px;

        color: $cGray2;

        opacity: 1;

        a {
          color: $cLime;
          @extend .classic-hover;
        }
      }
    }
  }
}

ul.logo_list {
  @include clearfix();

  li {
    float: left;

    a {
      display: inline-block;
      width: 110px;
      height: 80px;
      background-position:left 0;
      &:hover {
        background-position:left -80px;
      }
    }

    a#centerglobaldevelopment {
      background-image:url(logos/centerglobaldevelopment.png);
    }

    a#imazon {
      background-image:url(logos/imazon.png);
    }
    a#universitymaryland {
      background-image:url(logos/universitymaryland.png);
    }
    a#carpe {
      background-image:url(logos/carpe.png);
    }
    a#sekala {
      background-image:url(logos/sekala.png);
    }
    a#google {
      background-image:url(logos/google.png);
    }
    a#googleearthengine {
      background-image:url(logos/googleearthengine.png);
    }
    a#esri {
      background-image:url(logos/esri.png);
    }
    a#unep {
      background-image:url(logos/unep.png);
    }
    a#nasa {
      background-image:url(logos/nasa.png);
    }
    a#tilafund {
      background-image:url(logos/tilafund.png);
    }
    a#dutchforeign {
      background-image:url(logos/dutchforeign.png);
    }
    a#danida {
      background-image:url(logos/danida.png);
    }
    span#bobolink {
      text-indent: -99999px;
      display: inline-block;
      width: 120px;
      height: 80px;
      background-image:url(logos/bobolink.png);
    }
    a#usaid {
      background-image:url(logos/usaid.png);
    }
    a#wri {
      background-image:url(logos/wri.png);
    }
    a#vizzuality {
      background-image:url(logos/vizzuality.png);
    }
  }
}

article.contact {
  span.subtitle {
    font-size: 13px;
    color: #999;
    line-height: 16px;

    a {
      text-decoration: none;
      color: $cLime;
    }


  }
}

body.countries {
  header {
    border-bottom: 1px solid #ccc;
  }

  #country {
    background: $cWhite;
  }
}

a.close_icon {
  width: 8px;
  height: 8px;
  display: inline-block;
  background-image:url(icons/close_icon.png);
}

#analysis {
  position:absolute;
  display:none;
  width: 719px;
  height: 450px;
  z-index: 1050;
  background-image:url(backgrounds/bkg_analysis.png);

  h2{
    @extend .serif;
    font-size: 35px;
    color: $cGray2;
    width: 100%;
    margin: 50px 0 0 50px;
    text-align: left;
  }

  p {
    @extend .sans-serif;
    font-size:15px;
    font-weight:300;
    color: $cGray2;
    line-height:20px;
    width: 170px;
    margin: 30px 0 0 510px;
    text-align: left;
  }

  a.close_icon {
    position: absolute;
    top: 25px;
    right: 25px;
  }

}

#crowdsourcing {
  position:absolute;
  display:none;
  width: 719px;
  height: 493px;
  z-index: 1050;
  background-image:url(backgrounds/bkg_crowdsourcing.png);

  h2{
    @extend .serif;
    font-size: 35px;
    color: $cGray2;
    width: 100%;
    margin: 50px 0 0 50px;
    text-align: left;
  }

  p {
    @extend .sans-serif;
    font-size:15px;
    font-weight:300;
    color: $cGray2;
    line-height:20px;
    width: 240px;
    margin: 30px 0 0 430px;
    text-align: left;
  }

  a.close_icon {
    position: absolute;
    top: 25px;
    right: 25px;
  }

}

#share {
  position:absolute;
  display:none;
  width: 415px;
  height: 258px;
  z-index: 1050;
  background-image:url(backgrounds/bkg_share.png);

  h2{
    @extend .serif;
    font-size: 35px;
    color: $cGray2;
    width: 100%;
    margin: 60px 0 0 0;
    text-align: center;
  }

  p {
    @extend .sans-serif;
    font-size:15px;
    font-weight:300;
    color: $cGray2;
    line-height:20px;
    width: 100%;
    margin: 5px 0 0 0;
    text-align: center;
  }

  a.close_icon {
    position: absolute;
    top: 25px;
    right: 25px;
  }

  .share_buttons {
    border-top: 1px solid $cGray4;
    width: 386px;
    margin: 35px 14px 0 14px;
    padding: 30px 0 0 0;
    text-align: center;

    .share_button {
      vertical-align:top;
      width: 85px;
      text-align: center;
      display: inline-block;
    }

  }
}

#subscribe {

  $height: 559px;
  $width: 767px;

  position:fixed;

  display:none;
  width: $width;
  height: $height;
  background-image:url(backgrounds/bg_subscribe.png);

  top: 50%;
  left: 50%;
  margin-left: -$width/2;
  margin-top: -$height/2;

  z-index: 1050;

  &.show { display: block; }

  .header, .footer {
    @include absolute-left-center($width);
  }

  .header .inner { padding: 40px 45px; }

  .remove {
    display:none;

    position:absolute;
    padding: 7px 6px;
    top: 146px;
    right: 15px;

    background: #fff;

    border: 1px solid #333;
    text-transform: uppercase;
    color: #999999;
    font-size: 11px;
    font-weight:bold;
    text-decoration: none;
    @extend .sans-serif;

    z-index:1000;
  }

  a.close_icon {
    width: 8px;
    height: 8px;
    position:absolute;
    right: 20px;
    top: 15px;
    background-image:url(icons/close_icon.png);
  }

  .header {
    height: 132px;
    top: 9px;

    .inner {
      h3 {
        margin: 0 0 5px 0;
        font-size: 35px;
        @extend .serif;
        color: #666666;
      }

      p {
        margin: 0;
        padding: 0;
        @extend .sans-serif;
        color: #999999;
        font-size:15px;
      }
    }
  } // header

  .map {
    position: absolute;
    top: 141px;
    height:291px;
    width: 747px;
    left: 10px;

    .error_box {
      position:absolute;
      display:none;

      $width: 242px - 9*2;
      $height: 66px - 14*2;

      width: $width;
      height: $height;
      left: 50%;
      top: 50%;
      margin-top: -1*$height/2;
      margin-left: -1*$width/2;

      padding: 14px 9px;

      @include icons-sprite(error_input_box);

      color: #fff;
      font-size:15px;
      @extend .sans-serif;
      text-align: center;

      z-index:1000;
    }


    #subscribe_map {
      height:291px;
      width: 747px;
    }

  }

  .footer {
    bottom: 10px;
    height: 120px;
    .inner {
      border-top: 1px solid #5E8A91;
      height: 118px;
      width: 749px;
      margin-left: 9px;
      margin-top: 3px;
      background: #222222;
    }

    .error_input_label {
      position:absolute;
      display:none;
      right: -92px;
      bottom: 40px;

      width: 190px;
      height: 39px - 9px;
      padding: 9px 0 0 0;

      @include icons-sprite(error_input_label);

      color: #fff;
      font-size:15px;
      @extend .sans-serif;
      text-align: center;
    }

    .input-field .icon.error {
      width: 21px;
      height: 22px;
      position:absolute;
      right: -7px;
      top: 7px;
      @include icons-sprite(input_error);
      display:none;
    }

    .input-field.error input { color: red;}
    .input-field { position:absolute; width: 420px; top: 43px; left: 50px; }
    .btn { position:absolute; top: 43px; right: 50px; }
    .btn span { padding: 14px 32px 5px 27px; }
    .btn.new { display: none; }
    .ok { display:none; position:absolute; top: 54px; left: 50px; font-weight:normal; font-size: 21px; color: #fff; @extend .serif; }
  }
}

.details {

  .inner { position:relative; width: 917px; margin: 0 auto 49px auto; }
  .inner > div { @include inline-block(); vertical-align: top; }

  h4 {
    height: 30px;

    @extend .sans-serif;
    font-size:13px;
    font-weight:bold;
    text-transform: uppercase;
    color:$cGray1;

    border-bottom: 1px solid #f1f1f1;
  }

  .alerts {
    width:597px;
    margin: 0 26px 0 0;

    .btn { float:right; }

    ul {
      margin: 0 0 20px 0;
      height: 220px;

      li {
        padding:19px 0;

        border-bottom: 1px solid #f1f1f1;

        @extend .sans-serif;
        font-size:15px;
        font-weight:200;
        color: $cGray2;

        .count {
          float:right;
          padding-left: 15px;

          @extend .sans-serif;
          font-size:13px;
          font-weight:200;
          color: #858585;

          @include icons-sprite(bars, $offset-y: 4px);
        }
      }
    } // ul
  } // alerts

  .description {
    width:285px;

    p {
      height: 220px;
      margin: 0 0 4px 0;

      @extend .sans-serif;
      font-size:15px;
      font-weight:300;
      color: $cGray2;

      line-height:20px;
    }

    h4 {
      margin: 0 0 15px 0;
      font-size:12px;
    }
  }
}

/*
 * BUTTONS
 **/

.btn {

  /* button ($url, $height, $mL, $pT, $pR, $pB, $pL) */
  @include button('buttons/bkg_button.png', 42px, 5px, 14px, 27px, 5px, 22px, 0);
  @extend .sans-serif;
  font-size:11px;
  font-weight:600;

  &:hover {
    @include glow(0.5);
  }

}

.btn.hollow {

  @include button('buttons/bkg_button_hollow.png', 38px, 5px, 11px, 27px, 5px, 22px, 0);
  @extend .sans-serif;
  text-transform: uppercase;
  color: $cLink;

  &:hover {
    @extend .no-glow;
    @include button('buttons/bkg_button_hollow.png', 38px, 4px, 11px, 27px, 5px, 22px, 76px);
    color: $cWhite;
  }

}

.btn.disabled {

  @include button('buttons/bkg_button_disabled.png', 40px, 5px, 13px, 27px, 5px, 22px, 0);
  color:rgba(255, 255, 255, .3);

  &:hover {
    @extend .no-glow;
  }

}

.btn.with-icon {
  span {
    padding-right: 45px;
    padding-left: 10px;
  }

  &:hover {
    @include button('buttons/bkg_button_hollow_hover.png', 38px, 5px, 11px, 27px, 5px, 22px, 0);
    color: $cWhite;

    span {
      padding-right: 45px;
      padding-left: 10px;
    }

    .icon {
    }
  }

  .icon {
  }
}


.radio {
  @include radio(radio);

  &.forest_clearing    { @include radio(radio_fire); }
  &.fire             { @include radio(radio_fire); }
}

.checkbox {
  @include checkboxes(checkboxes);

  &.disabled { color: $cGray4!important; @include checkboxes(checkboxes); }

  &.concessions     { @include checkboxes(checkboxes_concessions); }
  &.regrowth        { @include checkboxes(checkboxes_forest); }
  &.mining          { @include checkboxes(checkboxes_mining); }
  &.other_layers    { @include checkboxes(checkboxes_other_layers); }
  &.regrowth        { @include checkboxes(checkboxes_regrowth); }

  &.disabled.concessions,
  &.disabled.regrowth,
  &.disabled.mining,
  &.disabled.other_layers,
  &.disabled.regrowth { @include checkboxes(checkboxes); }
}

footer {

  .inner { position:relative; width: 920px; margin: auto; }

  .links {
    height:246px;
    background-color: #DFDFDC;
    border-top: 1px solid #C8C8C6;

    @extend .sans-serif;
    font-size:13px;

    color: $cGray3;

    p {font-size: 13px;}

    a {display: block; color: $cGray3; margin: 0 20px 0 0; @include inline-block(); }

    div.partners {
      float: left;
      width: 550px;
      margin: 50px 0 0 0;

      a {
        margin: 10px 20px 0 0;

        &.wri { width: 92px; height: 31px; @include icons-sprite(logo_wri_black); }
        &.google { width: 90px; height: 52px; @include icons-sprite(logo_google); }
        &.cfgd { width: 72px; height: 52px; @include icons-sprite(logo_cgd); }
        &.university_maryland { width: 77px; height: 52px; @include icons-sprite(logo_maryland); }
        &.imazon { width: 74px; height: 52px; @include icons-sprite(logo_imazon); }
        &.esri { width: 76px; height: 28px; @include icons-sprite(logo_esri); }
        &.unep { width: 39px; height: 45px; @include icons-sprite(logo_unep); }
      }


    }

    div.wri {
      float: right;
      margin: 50px 20px 0 0;

      & > .wri { width:92px; height: 31px; margin: 20px 0 20px 0; @include icons-sprite(logo_wri_black); }

      address { width:266px; color: $cGray3; font-size:13px; line-height:120%; }
    }
  }
}

footer > .download {
  padding: 48px 0 50px 0;
  text-align:center;
  background: $cDarkGreen;

  h1 {
    @extend .serif;
    font-size: 33px;
    color: $cWhite;
    margin: 0 0 10px 0;
  }

  p {
    @extend .font-regular;
    a { text-decoration: none; }
  }

  a { color: $cLink; }
  a:hover { color: $cDarkGreen; }
}


.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background:rgba(255,255,255, .9);

  display:none;
  &.show { display: block; }
}

#countries {
  position:absolute;
  width:1008px;
  margin-left:-504px;
  top: 50px;
  left: 50%;
  z-index: 10000;

  @include clearfix();

  $selectHeight: 300px;
  $countryHeight: 250px;

  .select {
    display:none;
    position:absolute;
    top:0; left:0;
    width: 270px;
    height: $selectHeight;

    border: 1px solid #CCCCCC;
    background:#fff;
  }

  h1 {
    margin: 0 0 50px 0;

    text-align: center;

    @extend .serif;
    font-size:35px;
    color: $cGray2;
  }

  .country {
    position:relative;
    margin:0;
    float:left;
    width: 250px;
    height: $countryHeight;

    &.disabled {
      .content {
        color: #DCDCDD;
        a { color: #DCDCDD; }
        h4 { color: #DCDCDD; }
      }
    }
  }

  .select {

    .icon { position:relative; top: 30px; margin: auto; }
    .content { top: 180px!important; }

    &.malaysia a .icon {
      top: 70px;
      @include countries-sprite(country_malaysia_selected);
    }

    &.india a .icon {
      @include countries-sprite(country_india_selected);
    }

    &.cameroon a .icon {
      @include countries-sprite(country_cameroon_selected);
    }

    &.indonesia a .icon {
      top: 70px;
      @include countries-sprite(country_indonesia_selected);
    }

    &.brazil a .icon {
      @include countries-sprite(country_brazil_selected);
    }
  }

  .country  {
    .icon { position:relative; top: 10px; margin: auto; }
  }

  .country, .select {

    @extend .sans-serif;
    color: #999999;
    font-size:15px;
    border: 1px solid $cSeparator;
    line-height: 18px;

    .content {
      $width: 230px;
      position:absolute;
      top: 160px;
      left: 50%;
      width: $width;
      margin-left: -1*$width/2;
      text-align:center;
    }

    &.bolivia .icon {
      @include countries-sprite(country_bolivia_disabled);
      width: 127px; height: 136px;
    }

    &.congo .icon {
      @include countries-sprite(country_congo_disabled);
      width: 127px; height: 136px;
    }

    &.guyana .icon {
      @include countries-sprite(country_guyana_disabled);
      width: 127px; height: 136px;
    }

    &.cameroon .icon {
      @include countries-sprite(country_cameroon);
      width: 127px; height: 136px;
    }

    &.angola .icon {
      @include countries-sprite(country_angola_disabled);
      width: 127px; height: 136px;
    }

    &.india .icon {
      @include countries-sprite(country_india);
      width: 127px; height: 136px;
    }

    &.indonesia .icon {
      top: 50px;
      @include countries-sprite(country_indonesia);
      width: 184px; height: 69px;
    }

    &.brazil .icon {
      @include countries-sprite(country_brazil);
      width: 126px; height: 131px;
    }

    &.venezuela .icon {
      @include countries-sprite(country_venezuela_disabled);
      width: 127px; height: 136px;
    }

    &.peru .icon {
      @include countries-sprite(country_peru_disabled);
      width: 127px; height: 136px;
    }

    &.vietnam .icon {
      @include countries-sprite(country_vietnam_disabled);
      width: 126px; height: 131px;
    }

    &.malaysia .icon {
      top: 50px; left: 10px;
      @include countries-sprite(country_malaysia);
      width: 184px; height: 69px;
    }

    &.paraguay .icon {
      @include countries-sprite(country_paraguay_disabled);
      width: 127px; height: 136px;
    }

    &.nepal .icon {
      @include countries-sprite(country_nepal_disabled);
      width: 127px; height: 136px;
    }

    &.laos .icon {
      @include countries-sprite(country_laos_disabled);
      width: 127px; height: 136px;
    }

    &.kenya .icon {
      @include countries-sprite(country_kenya_disabled);
      width: 127px; height: 136px;
    }

    &.ivory_coast .icon {
      @include countries-sprite(country_ivory_coast_disabled);
      width: 127px; height: 136px;
    }

    h4 {
      color: #666666;
      font-size:29px;
      margin: 0 0 12px 0;
      @extend .serif;
    }

    a { color: #999999; text-decoration: none;}

  }
}

.graphs {
  margin: 40px 0 40px -10px;
  height: 300px;
  width:100%;
  word-spacing:-1em;

  .country, .chart {
    @include inline-block();
    word-spacing:normal;
  }
  .country {
    width: 309px;
    height: 299px;

    &.brazil    { background:url(countries/map_brazil.png) no-repeat -5px -9px; }
    &.cameroon  { background:url(countries/map_cameroon.png) no-repeat -5px -9px; }
    &.malaysia  { background:url(countries/map_malaysia.png) no-repeat -5px -9px; }
    &.indonesia { background:url(countries/map_indonesia.png) no-repeat -5px -9px; }

  }
}

.charts { position:relative; padding: 10px; }
.chart rect {
  fill: #333333;
  stroke: white;
}

.lines {

  circle {
    fill: transparent;
    fill-opacity:0;
    stroke: #A1BA42;
    stroke-width: 10px;
  }

  circle#marker {
    fill: #A1BA42;
    fill-opacity:1;
    stroke: white;
    stroke-width: 1px;
  }

  line {
    shape-rendering: crispEdges;
  }

  path {
    stroke: #A1BA42;
    stroke-width: 4px;
    fill-opacity:0;
    fill: transparent;
  }

  .amount { font-size:24px; color:#A1BA42; text-align:center; }
  .amount .text { margin: auto; padding: 0 5px; @include inline-block(); }

  .title { color: #A1BA42; font-size: 18px; text-align:center; @extend .serif; }

  .subtitle { margin:auto; text-align:center; font-size:13px; color:#666; @extend .serif; }
  .subtitle .text { margin: auto; @include inline-block(); padding: 0 5px; text-decoration:underline; }

  .graph_legend { margin:auto; text-align:center; font-size:13px; color:#666; @extend .serif; }
  .graph_legend .text { margin: auto; width: 140px; }
}

.bars {

  rect {
    fill: #333333;
    stroke: white;
    shape-rendering: crispEdges;
    /*cursor:pointer;*/
  }

  circle {
    fill: transparent;
    fill-opacity:0;
    stroke: #333333;
    stroke-width: 10px;
  }

  line {
    shape-rendering: crispEdges;
  }

  path {
    stroke: #333333;
    stroke-width: 4px;
    fill-opacity:0;
    fill: transparent;
  }

  .amount { font-size:20px; color:#333333; text-align:center; @extend .serif;}
  .amount .text { margin: auto; padding: 0 5px; @include inline-block(); }

  .title { color: #333333; font-size: 18px; text-align:center; @extend .serif; }

  .subtitle { margin:auto; text-align:center; font-size:13px; color:#666; @extend .serif; }
  .subtitle .text { margin: auto; @include inline-block(); padding: 0 5px; text-decoration:underline; @extend .serif;}

  .graph_legend { margin:auto; text-align:center; font-size:13px; color:#666; @extend .serif; }
  .graph_legend .text { margin: auto; width: 140px; @extend .serif;}
}
