//= require tipsy
//= require jquery.qtip.min
//= require fonts
//= require_self
//= require_tree .

@import "compass";
@import "compass/reset";
@import "helpers";
@import "forms";

body {
  background: $cBackground;
  position: relative !important;
}


#tpglt-nav-wrapper {
  padding-top: 15px;
  margin-top: 5px;
  a { color: #333; }
}
#content {
  position: relative;
  z-index: 100;
}

small { font-size: 15px!important; }
sup { font-size:10px!important; vertical-align: top; position: relative; top: -0.5em;  }

a.icon {
  &.download {
    padding: 0 0 0 15px;
    @include icons-sprite(download_arrow, $offset-y:4px);
    &:hover { @include icons-sprite(download_arrow_hover, $offset-y:4px); }
  }
}

header {
  background:url(backgrounds/bkg_header.png) repeat-x top center;
  height:226px;
  position:relative;
  z-index: 1000;

  a.logo {
    position:absolute;
    z-index: 1000;
    display: inline-block;
    background:url(logos/logo.png) no-repeat center center;
    width: 108px;
    height: 100px;
    left: 50%;
    margin-left: -470px;
    text-indent: -99999px;
  }

  a#feedback {
    @include inline-block();
    position:absolute;
    top:375px;
    right:0px;
    width:30px;
    height:80px;
    z-index: 9999;
    background:url(buttons/feedback_button.png) no-repeat center center;
    text-indent: -10000px;
  }

  span.header_separator {
    position:absolute;
    top: 67px;
    left: 0;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #CFCFCF;
  }

  #other_sites_ribbon {
    position: absolute;
    right: 0;
    @include size(22px, 21px);
    padding: 25px 0 0px 0;
    background-color: $cGray5;
    text-align: center;

    a {
      color: #FFFFFF;
      text-align: center;
      font-weight: bold;
      text-decoration:none;
      &:hover {
        @include text-shadow(0 0 1px rgba(255,255,255, .5));

      }
    }
  }

  #other_wri_sites {
    display:none;
    width: 195px;
    position:absolute;
    right: -14px;
    top: 10px;

    background: #fff;

    @include dark-glow(0.2);

    z-index: 10000;

    & > a  {
      display:block;
      border-bottom: 1px solid #ccc;
      padding: 10px 15px;
      text-align: right;

      color: #75ADB5;
      font-weight:bold;
      font-size: 11px;
      @extend .sans-serif;
      text-transform: uppercase;
      text-decoration: none;
    }

    ul {
      padding: 15px;

      li {

        @include icons-sprite(bullet_square, $offset-y: 7px);
        padding: 0 0 0 7px;
        margin: 0 0 3px 0;

        a {
          color: #999;
          text-decoration: none;
          font-size: 13px;
          @extend .sans-serif;
          &:hover {
            color: #73ACB3;
          }
        }

      }
    }

  }

  hgroup {
    position:relative;
    top: 74px;
    width:465px;

    h1 {
      @extend .font-big;
      color:$cGray1;
      top: 29px;
      position:relative;

      a {
        text-decoration:none;
        color: $cGray3;

        &.selected {
          color: $cGray1;
        }
      }
    }

    h2 {
      margin: 0 0 2px 0;

      a {
        @extend .font-golden;
        color: $cLink;
      }
    }

    .splash_title {
      width: 927px;
      text-align: center;
      display: none;

      span { color: #A0B941; }
    }
  }

  ul.big_numbers {

    position: absolute;
    top: 95px;
    right: -40px;

    li {
      @include inline-block();
      width: 140px;
      padding: 0 20px 0 20px;
      border-right: 1px solid $cGray4;

      &.last {
        width: 100px;
        border: 0;
        padding-right:0;
      }

      span {
        @include inline-block();
        width: 100px;
        margin: 0 0 10px 0;
        @extend .serif;
        color: $cLime;
        font-size: 42px;
      }

      p {
        @extend .sans-serif;

        color: $cGray3;
        font-size: 12px;
        line-height: 130%;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  .inner { position:relative; width: 927px; margin: auto; }

  & > .top {

    position: relative;

    .top_bar {
      height: 0px;
      z-index: 100000;
      background: $cTop;
    }

    .inner > ul {

      position:absolute;
      top: 15px;
      right: 0;

      li {
        margin: 0 0 0 30px;
        @include inline-block();

        a {
          @extend .sans-serif;
          font-size: 11px;
          font-weight:bold;
          text-transform: uppercase;
          text-decoration:none;
          color: $cWhite;
        }

      } // li
    } // ul
  } // top
} // header

#google_translate_element {
  position: absolute;
  right: 0;
  top: 18px;
}

nav {
  position:absolute;
  top: 18px;
  right: 174px;

  & > ul {

    li {

      @include inline-block();

      a {

        $height:26px; $mL: 5px; $pT: 7px; $pR: 10px; $pB: 5px; $pL: 5px;

        @include button('buttons/bkg_nav_button.png', $height, $mL, $pT, $pR, $pB, $pL, 0);
        background:none;
        span { background:none; }

        @extend .sans-serif;
        font-size:12px;
        font-weight:bold;
        color: #333333;

        &.selected {
          @include button('buttons/bkg_nav_button.png', $height, $mL, $pT, $pR, $pB, $pL, 0);
        }

        &:hover {
          @include button('buttons/bkg_nav_button_hover.png', $height, $mL, $pT, $pR, $pB, $pL, 0);
          color: $cBackground;
        }
      } // a

      &.lang_selector {
        border-left: 1px solid $cGray4;
        margin-left: 10px;
        padding-left: 10px;

        a {
          @include inline-block();
          background: url('backgrounds/triangle.png') no-repeat 67px 10px;
          color: $cGray3;

          &:hover span {
            background: transparent;
          }
        }
      }
    } // li
  } // ul

  &.signin { display: none; }

} // nav

.actions {
  padding: 51px 0 59px 0;
  background: $cBackground;

  .inner { position:relative; width: 950px; margin: auto; }

  ul {
    width:960px;
    margin:auto;
    word-spacing:-1em;
    overflow: hidden;

    li {
      float: left;
      width:266px;
      margin: 0 27px 0 27px;
      font-weight:400;
      word-spacing:normal;
      text-align:center;

      h2 {
        margin: 0 0 12px 0;
        @extend .serif;
        font-size:29px;
        color: $cWhite;
      }

      p {
        height:50px;
        margin: 18px 0 18px 0;

        @extend .sans-serif;
        font-size: 15px;
        font-weight:400;
        line-height: 17px;

        color: $cGray3;
        opacity:0.5;
      }

      .icon {
        margin:auto;
        height:92px;
      }

      &.community .icon {
        top: 0px;
        position:relative;
        width:134px;
        @include icons-sprite(community);
      }

      &.analysis_tool .icon {
        width:150px;
        @include icons-sprite(analysis);
      }

      &.submit_story .icon {
        width:122px;
        @include icons-sprite(submit_story);
      }
    }
  }
}


.home-stories {

  padding: 45px 0 59px 0;
  background:url(backgrounds/bkg_header.png) repeat-x top center #FFFFFF;
  height: 520px;

  h3 {
    @extend .serif;
    text-align: center;
    margin: 0 0 8px 0;
    font-size: 36px;
    color: #222222;
  }

  p {
    text-align: center;
    @extend .sans-serif;
    font-size: 15px;
    font-weight:400;
    line-height: 17px;
    color: $cGray2;

    a {
      color: $cLime;
      text-decoration: none;
      font-weight: bold;

      &.green {
        margin: 15px 0 0 0;
        color: #FFFFFF;
        &:hover { @include dark-glow(0.2); }
      }
    }
  }

  ul {
    width:960px;
    margin: 50px auto 40px auto;
    padding: 5px 0;
    overflow: hidden;

    li {
      position: relative;
      float: left;
      width:266px;
      height: 266px;
      font-weight:400;
      margin: 0 27px 0 27px;
      text-align:center;

      .frame {
        display:block;
        position:absolute;
        top: -5px;
        left: -5px;
        width: 276px;
        height: 276px;
        -webkit-border-radius: 163px;
        -moz-border-radius: 163px;
        border-radius: 163px;
        background:#CCCCCC;
        z-index: 10;
      }

      img {
        position: absolute;
        left: 0;
        top: 0;
        -webkit-border-radius: 133px;
        -moz-border-radius: 133px;
        border-radius: 133px;
        z-index: 20;
        width: 100%;
        height: 100%;
      }

      a {
        display:block;
        width: 266px;
        height: 266px;
      }

      div.gradient {
        background-image:url(backgrounds/bkg_circles_gradient.png);
        position: absolute;
        left: 0px;
        top: 0px;
        width: 266px;
        height: 266px;
        -webkit-border-radius: 133px;
        -moz-border-radius: 133px;
        border-radius: 133px;
        z-index: 30;
      }

      div.title {
        position: absolute;
        left: 0;
        top: 0;
        margin: 100px 0;
        width: 100%;
        text-align: center;
        z-index: 1000;

        span {
          @extend .serif;
          @include inline-block();
          width: 100%;
          margin: 0 0 30px 0;
          color: #FFFFFF;
          font-size: 21px;
          z-index: 1000;
        }

        strong {
          @extend .sans-serif;
          font-size: 12px;
          font-weight: bold;
          text-transform: uppercase;
          color: $cLime;
          text-decoration: none;
          z-index: 1000;

        }
      }
    }
  }

  div.submit_story {
    width: 900px;
    margin: 30px auto 0 auto;
    padding: 40px 0 40px 0;
    border-top: 1px solid $cGray4;

  }
}

.blog-links {
  @extend .actions;

  margin: 50px 0 0 0;

  h3 {
    @extend .serif;
    text-align: center;
    margin: 0 0 30px 0;
    font-size: 36px;
    color: $cLime;
  }

  ul {
    width: 917px;
    word-spacing: -1em;

    li {
      margin: 0 30px 0 0;
      text-align: left;
      word-spacing: 0;
      &:last-child { margin: 0; }

      h2 {
        color: $cWhite;
        line-height:30px;
      }

      h2 a {
        color: $cWhite;
        line-height:30px;
        @extend .classic-hover;
      }

      p {
        height: auto;
        margin: 0;
        padding: 0;

        @extend .sans-serif;
        font-size:15px;
        font-weight:400;
        line-height:20px;

        color: $cGray2;

        opacity: 1;

        a {
          color: $cLime;
          @extend .classic-hover;
        }
      }
    }
  }
}

article.contact {
  span.subtitle {
    font-size: 13px;
    color: #999;
    line-height: 16px;

    a {
      text-decoration: none;
      color: $cLime;
    }
  }
}

#countries { display: none; }

.wall {

  $width: 523px - 60;
  $height: 180px;

  height: $height;

  @include absolute-landscape-center($width);
  top: 220px;
  /*margin-top: -150px;*/

  display:none;
  padding: 30px;

  @include box-shadow(0px 0px 7px $cGray2);
  @include border-radius(3px);

  background:#fff;
  border: 1px solid #757573;
  text-align:center;

  z-index: 2000;

  .form {
    border-top: 1px solid #f1f1f1;
    position:absolute;
    padding: 28px 10px 30px 10px;
    @include position(false, false, 0, 0);
    width: 518px - 20;

    .btn { width: 120px; padding: 14px 0px; }

    .input-field {
      position:relative;
      width: 300px;
      margin: 0 30px 0px 0;

      .holder {
        position: absolute;
        left: 12px;
        top: 14px;
        color: #ddd;
        font-size:15px;
        @extend .sans-serif;
      }

    }

    .error_input_label {
      position:absolute;
      display:none;
      right: -92px;
      bottom: 37px;

      width: 190px;
      height: 39px - 9px;
      padding: 9px 0 0 0;

      @include icons-sprite(error_input_label);

      color: #fff;
      font-size:15px;
      @extend .sans-serif;
      text-align: center;
    }

    .input-field .icon.error {
      width: 21px;
      height: 22px;
      position:absolute;
      right: -7px;
      top: 10px;
      @include icons-sprite(input_error);
      display:none;
    }

    .input-field.error input { color: red;}

  }

  .subtitle a { color: #A1BB27; text-decoration: underline; }

  h1 {
    font-size: 35px;
    margin: 10px 0 15px 0;
    font-family: "Georgia", "Times New Roman", serif;
  }

  p {
    color: #999999;
    font-family: "Helvetica Neue",Arial;
    font-size: 15px;
  }

  p.help { display:none; margin: 0 0 20px 0; }

}

#subscribe {

  overflow:hidden;

  $subscribe_height: 519px;
  $subscribe_width: 765px;

  @include absolute-center($subscribe_width, $subscribe_height);
  position:fixed;

  display:none;
  background-image:url(backgrounds/bg_subscribe.png);

  z-index: 2000;

  &.show { display: block; }

  .header, .footer {
    @include absolute-left-center($subscribe_width);
  }

  .header .inner { padding: 40px 45px; }

  .remove {
    display:none;

    position:absolute;
    padding: 7px 6px;
    top: 170px;
    right: 30px;

    background: #fff;

    border: 1px solid #666;
    text-transform: uppercase;
    color: #999999;
    font-size: 11px;
    font-weight:bold;
    text-decoration: none;
    @extend .sans-serif;

    z-index:1000;
  }

  a.close_icon {
    width: 8px;
    height: 8px;
    position:absolute;
    right: 20px;
    top: 15px;
    background-image:url(icons/close_icon.png);
  }

  .header {
    height: 94px;
    top: 9px;

    .inner {
      padding-top:25px;
      padding-bottom:4px;

      h3 {
        margin: 0 0 5px 0;
        font-size: 35px;
        @extend .serif;
        color: #666666;
        text-align: center;
      }

      p {
        margin: 0;
        padding: 0;
        @extend .sans-serif;
        color: #999999;
        font-size:15px;
      }
    }
  } // header

  ul.tabs {
    position:absolute;
    display:block;
    top:94px;
    left:8px;
    right:9px;
    height:52px;
    margin:0;
    padding:0;
    overflow:hidden;
    background:rgba(white,0.8);
    border:none;
    border-top:1px solid rgba(black,.1);
    border-bottom:1px solid rgba(black,.1);
    letter-spacing: -4px;
    word-spacing: -4px;
    z-index:10;
    @include box-shadow(rgba(black,0.2) 0 2px 2px 0);

    li {
      @include inline-block();
      width: (($subscribe_width - 18)/3) - 1;
      letter-spacing: 0;
      word-spacing: 0;
      text-align: center;
      line-height: 52px;
      border-right:1px solid rgba(black,0.2);
      &:last-child {border:none;}

      a {
        font-size:12px;
        font-weight:bold;
        font-family: "Helvetica Neue",Arial;
        text-transform: uppercase;
        text-decoration:none;
        color:#CCCCCC;

        &:hover {
          color:#666666;
        }

        &.selected {
          color:#98B13A;

          &:hover {cursor:default; color:#98B13A;}
        }
      }
    }
  } // tabs

  .map {
    position: absolute;
    top: 95px;
    height:334px;
    width: $subscribe_width - 18;
    left: 9px;
    z-index:0;

    .error_box {
      position:absolute;
      display:none;

      $width: 242px - 9*2;
      $height: 66px - 14*2;

      width: $width;
      height: $height;
      left: 50%;
      top: 50%;
      margin-top: -1*$height/2;
      margin-left: -1*$width/2;

      padding: 14px 9px;

      @include icons-sprite(error_input_box);

      color: #fff;
      font-size:15px;
      @extend .sans-serif;
      text-align: center;

      z-index:1000;

    }


    #subscribe_map {
      position:relative;
      top:0;
      left:0;
      right:0;
      bottom:0;
      width: 100%;
      height:100%;
      padding:0;
      margin:0;
      div.gmnoprint:last-child {top:71px!important; right:19px!important;}
    }

    #zoom_controls_subscribe {
      top:71px;
    }

    #loader_subscribe {
      position:absolute;
      display:none;
      z-index:2;
      top:130px;
      left:12px;
      width:42px;
      height:41px;
      padding:0;
      margin:0;
      @include background(image-url('backgrounds/loader_bkg.png') no-repeat center center);

      span.loader {
        position:relative;
        float:left;
        width:100%;
        height:100%;
        @include background(image-url('backgrounds/ajax-loader.gif') no-repeat center center);
      }
    }

  }

  .footer {
    bottom: 30px;
    height: 85px;

    .inner {
      height: 80px;
      width: $subscribe_width;
      margin-left: 9px;
      margin-top: 3px;
    }

    .error_input_label {
      position:absolute;
      display:none;
      right: -92px;
      bottom: 40px;

      width: 190px;
      height: 39px - 9px;
      padding: 9px 0 0 0;

      @include icons-sprite(error_input_label);

      color: #fff;
      font-size:15px;
      @extend .sans-serif;
      text-align: center;
    }

    .input-field .icon.error {
      width: 21px;
      height: 22px;
      position:absolute;
      right: -7px;
      top: 7px;
      @include icons-sprite(input_error);
      display:none;
    }

    .input-field.error input { color: red;}
    .input-field { position:absolute; width: 420px; top: 43px; left: 50px; }
    .btn { position:absolute; top: 43px; right: 50px; }
    .btn.new { display: none; }
    .ok { display:none; position:absolute; top: 54px; left: 50px; font-weight:normal; font-size: 21px; color: #fff; @extend .serif; }
  }
}

.details {

  .inner { position:relative; width: 917px; margin: 0 auto 49px auto; }
  .inner > div { @include inline-block(); vertical-align: top; }

  h4 {
    height: 30px;

    @extend .sans-serif;
    font-size:13px;
    font-weight:bold;
    text-transform: uppercase;
    color:$cGray1;

    border-bottom: 1px solid #f1f1f1;
  }

  .alerts {
    width:597px;
    margin: 0 26px 0 0;

    .btn {}

    ul {
      margin: 0 0 20px 0;


      li {
        padding:19px 0;

        border-bottom: 1px solid #f1f1f1;

        @extend .sans-serif;
        font-size:15px;
        font-weight:200;
        color: $cGray2;

        a {
          font-weight: normal;
          color: $cGray2;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        .count {
          float:right;
          padding-left: 15px;

          @extend .sans-serif;
          font-size:13px;
          font-weight:200;
          color: #858585;

          @include icons-sprite(bars, $offset-y: 4px);
        }

        .date {
          float:right;

          @extend .sans-serif;
          font-size:13px;
          font-weight:200;
          color: #858585;
        }
      }
    } // ul
  } // alerts

  .description {
    width:285px;

    p {
      height: 220px;
      margin: 0 0 20px 0;

      @extend .sans-serif;
      font-size:16px;
      line-height:20px;
      color: $cGray2;
    }

    h4 {
      margin: 0 0 15px 0;
      font-size:12px;
    }
  }
}

/*
 * BUTTONS
 **/

.btn {
  @include inline-block();
  position:relative;

  padding: 14px 34px;

  color: $cWhite;
  text-decoration:none;
  text-transform: uppercase;

  &.yellow {
    background: #E4A74E;
    border-color: #C89203;
  }
  &.red {
    background: #AC2E25;
    border-color: #8B1F16;
  }
  &.green {
    background: #9bb251;
  }

  @extend .sans-serif;
  font-size:11px;
  font-weight:600;

  @include border-radius(2px);
  border: 1px solid #839C26;

  &.dark_glow:hover {
    @include dark-glow(1);
  }

  &.darker_glow:hover {
    @include darker-glow(0.7);
  }

  & > span {
    @include inline-block();
    white-space:nowrap;
  }

}

.btn.hollow {

  border: 1px solid #9bb251;
  color: #9bb251;

  &:hover {
    background: #9bb251;
    color: $cWhite;
  }
}

.btn.disabled {

  border:none!important;
  color: #333!important;
  background:#90a1a7;
  opacity: .5;

  &.dark_glow:hover, &.darker_glow:hover, &:hover {
    @extend .no-glow;
  }

}

.btn.destroy_story,
.btn.destroy {
  background:#ae3531;
  border:1px solid #333;
  color: #fff;
  line-height: 18px;

  &:hover span {
    text-decoration: underline;
  }

}

.btn.with-icon {
  span {
    padding-right: 45px;
    padding-left: 10px;
  }

  &:hover {
    @include button('buttons/bkg_button_hollow_hover.png', 38px, 5px, 11px, 27px, 5px, 22px, 0);
    color: $cWhite;

    span {
      padding-right: 45px;
      padding-left: 10px;
    }

  }

}


#filters #layer ul li .radio {
  @include radio(radio);

  &.forest_change    {
    @include radio(radio_fire);

    &.semi_monthly { width: 100px; }
  }

  &.fire { @include radio(radio_fire); }
}

.checkbox {

  clear:both;
  overflow:hidden;

  text-decoration:none;

  &.disabled, &.disabled.checked {
    i {
      span { left: 2px; }
      background: #ddd!Important;
    }
  }

  &.checked {

    i span { left: 9px; }

    &.special_projects  i { background: $cSpecialProjects; }
    &.forest_cover      i { background: $cForest; }
    &.conservation      i { background: $cConservation; }
    &.forest_use        i { background: $cForestUse; }
    &.stories           i { background: $cStories; }
    &.mining            i { background: $cMining; }
    &.other_layers      i { background: $cGray2; }
    &.regrowth          i { background: $cRegrowth; }

  }

  i {
    float:left;
    position:relative;
    @include inline-block();
    width: 17px;
    height: 10px;
    background:#ddd;
    margin: 4px 3px 0 0;
    @include border-radius(5px);

    span {
      background:#ddd;
      position:absolute;
      @include size(6px);
      @include border-radius(23px);
      left: 2px; top: 2px;
      background:#fff;
      @extend .position-transition;
    }

  }

  span.name {
    display:block;
    float:left;
    width: 120px;
  }

  @include inline-block();

}

footer {

  .inner { position:relative; width: 920px; margin: auto; }


  .links {
    height:346px;
    background-color: #DFDFDC;
    border-top: 1px solid #C8C8C6;

    @extend .sans-serif;
    font-size:13px;

    color: $cGray3;

    p {font-size: 13px;}

    div.global_share {

      border-bottom: 1px solid $cGray4;

      p {
        @include inline-block();
        width: 600px;
        padding: 30px 0 22px 0;
        @extend .serif;
        text-align: left;
        margin: 0 0 8px 0;
        font-size: 21px;
        font-weight: normal;
        color: $cGray3;

        strong {
          font-weight: normal;
          color: $cGray2;
        }
      }

      a {
        float: right;
        margin: 25px 0 0 10px;
      }

      .share_buttons {
        @include inline-block();
        position: absolute;
        top: 34px;
        right: -35px;

        iframe.twitter-share-button { @include inline-block(); vertical-align:top;  }
        div.fb-like { margin: 0 3px 0 0; @include inline-block(); vertical-align:top; }

      }

    }

    div.partners {

      float: left;
      width: 550px;
      margin: 50px 0 0 0;

      a {
        display: block;
        color: $cGray3;
        @include inline-block();

        margin: 10px 15px 0 0;
        width: 88px;

        &.wri { height: 31px; @include icons-sprite(logo_wri_black); }
        &.google { height: 52px; @include icons-sprite(logo_google); }
        &.cfgd { height: 52px; @include icons-sprite(logo_cgd); }
        &.university_maryland { height: 52px; @include icons-sprite(logo_maryland); }
        &.imazon { height: 52px; @include icons-sprite(logo_imazon); }
        &.esri { height: 28px; @include icons-sprite(logo_esri, $offset-x: 3px); }
        &.unep { height: 52px; @include icons-sprite(logo_unep, $offset-x: 20px); }
      }


    }

    div.wri {
      float: right;
      margin: 50px 20px 0 0;

      & > .wri { display:block; width:92px; height: 31px; margin: 20px 0 20px 0; @include icons-sprite(logo_wri_black); }

      address {
        width:266px; color: $cGray3; font-size:13px; line-height:120%;

        a {
          color: #666;
          text-decoration: underline;
        }
      }
    }
  }
}

footer > .download {
  padding: 48px 0 50px 0;
  text-align:center;
  background: $cDarkGreen;

  h1 {
    @extend .serif;
    font-size: 33px;
    color: $cWhite;
    margin: 0 0 10px 0;
  }

  p {
    @extend .font-regular;
    a { text-decoration: none; }
  }

  a { color: $cLink; }
  a:hover { color: $cDarkGreen; }
}


.countries_backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background:#fff;

  display:none;
  &.show { display: block; }
}

#gallery {
  @include position(0, false, false, 0);
  @include size(100%, 295px);
  display:none;

  background: $cGray5;
  z-index: 0;

  .gallery {
    @include position(40px, false, false, false);
    @include absolute-landscape-center(940px);

    .inner {
      overflow:hidden;
      clear:both;
    }

    .left, .right {
      display:block;
      @include size(45px, 46px);
    }

    .left {
      display:none;
      @include icons-sprite(gallery_btn_left);
      @include position(70px, false, false, -20px);
    }

    .right {
      @include icons-sprite(gallery_btn_right);
      @include position(70px, -20px, false, false);
    }

    h3 {
      @extend .sans-serif;
      font-size:13px;
      text-transform: uppercase;
      color: $cWhite;
      margin: 0 0 20px 0;
      font-weight: bold;
    }

    ul {

      width: 5000px;

      li {

        border:none;

        @extend .opacity-transition;

        opacity: .3;
        @include inline-block();
        vertical-align: top;
        margin: 0 20px 0 0;

        &:hover {
          opacity: .9;

          img {
            @include box-shadow(0 0 10px $cGray0);

          }
        }

        a {
          display:block;
          text-decoration:none;
          border:none;
        }

        .thumb {
          @include size(213px, 120px);
          margin: 0 0 23px 0;
          border: 1px solid #000;
        }

        strong {
          display:block;
          margin: 0 0 5px 0;

          font-size: 18px;
          font-family: "Georgia", "Times New Roman", serif;
          font-weight: normal;
          color: $cWhite;
        }

        p {
          width: 200px;

          line-height:normal;

          @extend .sans-serif;
          font-size: 13px;
          color: $cWhite;
        }
      }
    }
  }
}

.dialog {

  @include absolute-center(400px, 230px);

  background:$cWhite;
  display:none;

  @include border-radius(3px);
  @include box-shadow(0px 0px 3px $cGray2);

  background:#fff;
  border: 1px solid #666;

  z-index: 10000;

  h1 {
    margin: 40px 0 0 0;

    font-size: 35px;
    color: #333333;
    text-align: center;
  }

  .buttons {
    width: 400px;
    @include position(false, false, 10px, 0);
    border-top: 1px solid #CCCCCC;
    padding: 40px 0px;

    text-align: center;

  }

}

body.static.old {
  position:relative;

  @include background(image-url('backgrounds/old.png') center top no-repeat);

  .message {

    .content { padding: 30px; }

    text-align: left;
    @include background(image-url('backgrounds/dialog.png') no-repeat);
    $width: 529px;
    height: 153px;

    @include absolute-landscape-center($width);
    top: 300px;

    h1 {
      @extend .serif;
      text-align: center;
      margin: 0 0 8px 0;
      font-size: 24px;
      color: #222222;
    }

    p { margin-bottom: 10px;}
    p a { color: #9bb251; }

  }

}



// splash

.splash,
.backdrop {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 1040;
  display: none;
  background: rgba(255,255,255, .9);

  &.show { display: block; }
}

.backdrop {
  background: #fff;
  @include opacity(.9);

  &.white_backdrop {
    position: fixed;
  }
}

.splash .inner {
  position: relative;
  width: 927px;
  margin: auto;
  padding-top: 50px;
  @extend .serif;
  line-height: 1.4;
  color: #444;

  p {
    margin-bottom: 20px;
    font-size: 17px;
  }

  a { color: #444; }
}
