//= require jquery.qtip.min
//= require jquery.jscrollpane

@import 'compass/reset';
@import 'compass/css3/border-radius';
@import 'compass/css3/box-shadow';
@import 'compass/css3/opacity';
@import 'compass/css3/user-interface';

@import 'fonts';
@import 'sprites';
@import 'helpers';


/* =Globals
----------------------------------------------- */

html {
  min-width: 980px;
  @extend .sans-serif;
}

body {
  border-top: 5px solid #222;
}

a {
  text-decoration: none;
  color: #A1BA42;

  &:hover {
    color: darken(#A1BA42, 5%);
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.inner {
  margin: 0 auto;
  width: 960px;
  padding: 0 10px;
}

.share_buttons {
  float: right;
}

.dropcap {
  float: left;
  font-size: 400%;
  @extend .serif;
  margin: 20px 10px 16px 0;
}


/* =Buttons
----------------------------------------------- */

.btn {
  display: inline-block;
  border: 1px solid #839C26;
  padding: 14px 34px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  @extend .sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  background: #9bb251;
  @include border-radius(2px);
  cursor: pointer;

  &.red {
    background: #AC2E25;
    border-color: #8B1F16;
  }

  &:hover {
   color: #fff;
  }

  &.dark_glow:hover {
    @include box-shadow(0 0 6px 1px rgba(#000, .4));
  }

  &.darker_glow:hover {
    @include box-shadow(0 0 6px 1px rgba(#000, .8));
  }
}

.accept_btn {
  margin: 0;
  width: 180px;
}

a.accept_btn {
  padding: 13px 0;
  margin-left: 20px;
}


/* =Sources
----------------------------------------------- */

.sources_row {
  display: table;
  width: 100%;

  &.even {
    background: #F2F2F3;
  }

  a {
    color: #98BD17;
  }

  dt {
    display: table-cell;
    width: 120px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: 500;
    font-size: 11px;
    @extend .sans-serif;
    text-transform: uppercase;
  }

  dd {
    display: table-cell;
    padding: 10px 10px 10px 15px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 13px;
    @extend .sans-serif;

    p {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      sup {
        position: relative;
        top: -3px;
        font-size: 80%;
      }
    }
  }
}

.single-source-item {
  font-size: 15px;
  line-height: 1.4;
  color: #666;

  p {
    margin-bottom: 10px;
  }
}

.source_body,
.source_coverage {
  @extend .single-source-item;

  p {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &.credits {
      font-size: 12px;
      color: #ccc;

      strong {
        display: block;
        font-weight: bold;
      }

      a {
        color: #ccc;
        text-decoration: underline;

        &:hover {
          color: #ccc;
        }
      }
    }
  }

  .bullets li {
    margin: 0 0 10px 20px;
    padding: 0 0 0 20px;
    background: image-url('icons/bullet.png') no-repeat 0 8px;
  }

  .read_more {
    padding: 10px 0;
    font-size: 14px;
    text-align: center;

    &.hidden {
      display: none;
    }
  }
}

.backdrop {
  display: none;
  position: fixed;
  z-index: 1050;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  @include opacity(.9);
}

.source_window {
  $width: 497px;
  $height: 300px;

  display: none;
  position: fixed;
  z-index: 1060;
  left: 50%; top: 50%;
  margin-left: -1*$width/2;
  margin-top: -1*$height/2;
  width: $width;
  height: $height;
  padding: 20px 15px 20px 20px;
  background: #fff;
  border: 1px solid #757573;
  @include box-shadow(0px 0px 7px #666);
  @include border-radius(3px);

  .close {
    display: block;
    position: absolute;
    top: 10px; right: 15px;
    width: 6px;
    height: 6px;
    @include icons-sprite(infowindow_close);
  }

  .content {
    height: $height;
    width: 100%;
    overflow: auto;
    outline: none;
    font-size: 15px;
    @extend .sans-serif;
    color: #666;
  }

  .source_category_description,
  .overview_title,
  .source_download,
  .source_extended,
  .source_coverage_header,
  .source_coverage,
  .download {
    display: none;
  }

  .source_description {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    line-height: 1.2;
    @extend .sans-serif;
    color: #999;
  }

  .source_title,
  .source_category_title,
  .source_coverage_title {
    display: block;
    font-weight: bold;
    font-size: 13px;
    @extend .sans-serif;
    text-transform: uppercase;
    color: #ccc;

    span {
      text-transform: none;
    }

    sub {
      position: relative;
      bottom: -3px;
      font-size: 80%;
    }
  }

  .source_header,
  .source_category_title,
  .source_coverage_header {
    padding: 0 0 20px;
  }

  .source_category_title {
    border-bottom: 2px solid #ccc;
    margin: 0 0 20px;
  }

  .source_table {
    border-top: 1px solid #ccc;
    margin-bottom: 20px;
  }

  .forest_change .source_category_title {
    color: #F69;
    border-bottom-color: #F69;
  }

  .forest_cover .source_category_title {
    color: #B2D26E;
    border-bottom-color: #B2D26E;
  }

  .forest_use .source_category_title {
    color: #C98E6C;
    border-bottom-color: #C98E6C;
  }

  .conservation .source_category_title {
    color: #3182BD;
    border-bottom-color: #3182BD;
  }

  .people .source_category_title {
    color: #707D92;
    border-bottom-color: #707D92;
  }

  .stories .source_category_title {
    color: #F2B257;
    border-bottom-color: #F2B257;
  }

  .source_category_title {
    color: #AAC600;
    border-bottom-color: #AAC600;
  }

  .read_more.hidden {
    display: block;
  }
}

.jspDrag {
  background: #EDEDED;
  @include border-radius(3px);
}

.jspHover,
.jspActive {
  background: #ccc;
}

.jspTrack,
.jspVerticalBar {
  background: transparent;
}

.jspTrack {
  float: right;
  width: 5px;
}


/* =Header
----------------------------------------------- */

#tpglt-nav-wrapper {
  padding-top: 15px;

  a { color: #333; }
}

.header {
  overflow: hidden;
  height: 226px;
  background: image-url('backgrounds/bkg_header.png') repeat-x top center;
}

.header-inner {
  @extend .clearfix;
  height: 100px;
}

.feedback-link {
  position: absolute;
  top: 375px;
  right: 0px;
  width: 30px;
  height: 80px;
  z-index: 9999;
  background: image-url('buttons/feedback_button.png') repeat-x top center;
  text-indent: -10000px;
}

.header_separator {
  display: inline-block;
  position: absolute;
  top: 106px; left: 0;
  width: 100%;
  border-bottom: 1px solid #CFCFCF;
}

.header-logo {
  display: inline-block;
  position: relative;
  z-index: 1050;
  @include logos-sprite(logo);
  width: 108px;
  height: 100px;
  text-indent: -99999px;
}

.navbar {
  float: right;
  margin-top: 18px;

  ul,
  #google_translate_element {
    float: right;
    margin-left: 10px;
  }

  li {
    float: left;
    margin-left: 5px;

    a {
      display: block;
      height: 26px;
      padding: 0 10px;
      font-size: 12px;
      line-height: 27px;
      font-weight: bold;
      text-transform: uppercase;
      color: #333;
      @include border-radius(3px);

      span { background:none; }

      &.selected {
        background: #a1ba42;
        color: #fff;

        &:hover {
          background: #a1ba42;
        }
      }

      &:hover {
        background: rgba(#a1ba42, .5);
      }
    }
  }
}

.header-title {
  font-size: 37px;
  line-height: 1.1;
  @extend .serif;
  text-align: center;
  color: #333;

  &.big {
    font-size: 51px;
  }

  a {
    text-decoration: none;
  }

  span {
    color: #A1BA42;
  }
}


/* =Map
----------------------------------------------- */

.map-container {
  position: relative;
  width: 100%;
}

#map {
  position: relative;
  width: 100%;
  height: 400px;
  border-top: 1px solid #717D80;
  border-bottom: 1px solid #717D80;
  @include user-select(none);
}


/* =Content
----------------------------------------------- */

.content {
  @extend .clearfix;
}

.section {
  padding: 40px 0;
  text-align: center;

  &.section_dark {
    background: #222;

    .section-title {
      color: #fff;
    }

    .section-footer {
      border-top: 1px solid #333;
      padding-top: 40px;
    }
  }

  p {
    font-size: 15px;
    line-height: 1.2;
    color: #666;

    a {
      font-weight: bold;
    }
  }
}

.section-title {
  margin: 0 0 8px;
  font-size: 37px;
  @extend .serif;
  color: #222;
}

.columns {
  @extend .clearfix;
  padding: 40px 0;
}

.column {
  position: relative;

  &.three {
    float: left;
    display: table;
    width: 266px;
    margin: 0 27px;
  }

  &.five {
    display: inline-block;
    height: 117px;
    width: 117px;
    margin: 0 27px;
  }

  &.round {
    height: 266px;

    img {
      position: absolute;
      z-index: 20;
      top: 5px; left: 5px;
      width: 256px;
      height: 256px;
      @include border-radius(129px);
    }

    a {
      display: table;
      height: 100%;
      width: 100%;
    }

    .frame {
      position: absolute;
      top: 0; left: 0;
      height: 100%;
      width: 100%;
      @include border-radius(134px);
      background: #ccc;
    }

    .gradient {
      position: absolute;
      top: 5px; left: 5px;
      z-index: 50;
      height: 256px;
      width: 256px;
      background-image: image-url('backgrounds/bkg_circles_gradient.png');
      @include border-radius(129px);
    }

    .title {
      display: table-cell;
      position: relative;
      z-index: 100;
      vertical-align: middle;

      strong {
        display: block;
        margin: 0 30px 30px;
        font-size: 21px;
        @extend .serif;
        color: #fff;
      }

      span {
        display: block;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        color: #A1BA42;
      }
    }
  }
}

.section-footer {
  border-top: 1px solid #ccc;

  p + p {
    margin-top: 15px;
  }
}


/* =Footer
----------------------------------------------- */

.site-footer {
  background-color: #464352;
}

.site-info {
  @extend .clearfix;
  font-size: 13px;
  color: #b1afb6;

  a {
    color: #eee;
    text-decoration: underline;

    &:hover {
      color: #fff;
    }
  }
}

.footer-share {
  display: block;
  margin-bottom: 50px;
  border-bottom: 1px solid #625f6d;
  height: 45px;
  padding: 16px 0;
  font-size: 17px;
  font-family: "fira_sans_otregular";
  color: #fff;

  p {
    float: left;
    line-height: 45px;

    strong {
      font-family: "fira_sans_otmedium";
    }
  }
}

.share_buttons {
  height: 27px;
  padding: 12px 20px 6px;
  background: #fff;
  @include border-radius(23px);
}

.footer-logos {
  float: left;
  width: 490px;
}

.footer-logos p { margin-bottom: 10px; }

.footer-address {
  float: left;
  width: 470px;
  @extend .sans-serif;

  p,
  .footer-logo {
    margin-bottom: 20px;
  }

  address {
    line-height: 1.1;
  }
}

.footer-logo {
  display: inline-block;
  vertical-align: middle;
  margin: 0 30px 30px 0;
  width: 88px;

  &.wri { height: 31px; width: 269px; @include logos-sprite(wri); }
  &.google { height: 52px; @include logos-sprite(google); }
  &.esri { height: 28px; @include logos-sprite(esri); }
  &.universitymaryland { height: 52px; @include logos-sprite(universitymaryland); }
  &.unep { height: 52px; @include logos-sprite(unep); }
  &.imazon { height: 52px; @include logos-sprite(imazon); }
  &.cfgd { height: 52px; @include logos-sprite(cfgd); }
  &.osfac { height: 57px; @include logos-sprite(osfac); }
  &.gfwca { height: 44px; @include logos-sprite(gfwca); }
  &.scanex { height: 16px; @include logos-sprite(scannex); }
  &.twrus { height: 62px; @include logos-sprite(twrus); }
  &.norwegian { height: 55px; @include logos-sprite(norwegian); }
  &.usaid { height: 64px; @include logos-sprite(usaid); }
  &.gef { height: 42px; @include logos-sprite(gef); }
  &.ukaid { height: 52px; @include logos-sprite(ukaid); }
  &.tilia { height: 38px; @include logos-sprite(tilia); }
  &.goodall { height: 51px; width: 206px; @include logos-sprite(goodall); }

}
