// Compass
@import "compass/reset";
@import "compass/css3";

// Images
@import "logos/*.png";
@import "icons/*.png";
@import "home-icons/*.png";

// Global
// This will load all common settings, mixins and styles needed
@import "global/global";

// Layouts
// This will load all common layouts styles
@import "layouts/layouts";


// Modules
@import "modules/modal";
@import "modules/modal_new";
@import "modules/form";
@import "modules/shared";
@import "modules/buttons";
@import "modules/icons";
@import "modules/slick";
@import "modules/carrousel";
@import "modules/pagination";
@import "layouts/static";
@import "modules/select";
@import "modules/notifications";
@import "modules/map/country-select";

@import "modules/connect/shared";
@import "modules/connect/profile-modal";
@import "modules/connect/user-form";
@import "modules/connect/login";
@import "modules/connect/subscriptions";
@import "modules/connect/stories";
