@import "compass";
@import "compass/reset";
@import "helpers";

body.countries {

  &.index {

    background: $cWhite;

    #countries {
      display:block;
      padding-bottom: 50px;
    }
  }

  #country {
    background: $cWhite;
  }

  .blog-links {
    margin-top: 0;

    ul {
      width:960px;
      margin:auto;
      word-spacing:-1em;
      overflow: hidden;
      padding: 5px 0;

      li {
        position: relative;
        float: left;
        width:266px;
        min-height: 266px;
        margin: 0 27px 0 27px;
        font-weight:400;
        word-spacing:normal;
        text-align:center;

        &.first {
          text-align: left;
        }

        &.last {
          text-align: right;
        }

        &.story {
          .frame {
            display:block;
            position:absolute;
            top: -5px;
            left: -5px;
            width: 276px;
            height: 276px;
            -webkit-border-radius: 163px;
            -moz-border-radius: 163px;
            border-radius: 163px;
            background:#CCCCCC;
            z-index: 10;
          }

          img {
            position: absolute;
            left: 0;
            top: 0;
            -webkit-border-radius: 133px;
            -moz-border-radius: 133px;
            border-radius: 133px;
            z-index: 20;
            width: 100%;
            height: 100%;
          }

          a {
            display:block;
            width: 266px;
            height: 266px;

            &.nostory {
              .frame {
                background:#111;
              }
              div.gradient {
                background-image:url(backgrounds/bkg_circles_gradient_nostory.png);
              }

              div.title {
                span {
                  font-size: 15px;
                  color: #555;
                  margin-bottom: 5px;
                  width: 60%;
                }

                strong {
                  display: block;
                  @extend .serif;
                  font-weight: normal;
                  font-size: 15px;
                  text-transform: none;
                  text-decoration: underline;
                }
              }
            }
          }

          div.gradient {
            background-image:url(backgrounds/bkg_circles_gradient.png);
            position: absolute;
            left: 0px;
            top: 0px;
            width: 266px;
            height: 266px;
            -webkit-border-radius: 133px;
            -moz-border-radius: 133px;
            border-radius: 133px;
            z-index: 30;
          }

          div.title {
            position: absolute;
            left: 0;
            top: 0;
            margin: 100px 0;
            width: 100%;
            text-align: center;
            z-index: 1000;

            span {
              @extend .serif;
              @include inline-block();
              width: 100%;
              margin: 0 0 30px 0;
              color: #FFFFFF;
              font-size: 21px;
              z-index: 1000;
            }

            strong {
              @extend .sans-serif;
              font-size: 12px;
              font-weight: bold;
              text-transform: uppercase;
              color: $cLime;
              text-decoration: none;
              z-index: 1000;

            }
          }
        }

        h4 {
          margin: 10px 0 20px;

          a {
            @extend .serif;
            font-size:27px;
            font-weight: normal;
            color: $cWhite;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .subtitle {
          display: block;
          color: #444;
          text-transform: uppercase;
          font: bold 13px "Helvetica Neue", Arial;
          margin-top: 0;
        }

        p {
          margin: 18px 0 18px 0;

          @extend .sans-serif;
          font-size: 15px;
          font-weight:400;
          line-height: 17px;
          color: #777;

          a {
            color: #777;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

a.close_icon {
  width: 8px;
  height: 8px;
  display: inline-block;
  background-image:url(icons/close_icon.png);
}

#analysis {
  $width: 719px;
  $height: 450px;
  display:none;

  @include absolute-center($width, $height);
  position:fixed;

  background-image:url(backgrounds/bkg_analysis.png);

  z-index: 2000;

  h2{
    @extend .serif;
    font-size: 35px;
    color: $cGray2;
    width: 100%;
    margin: 50px 0 0 50px;
    text-align: left;
  }

  p {
    @extend .sans-serif;
    font-size:15px;
    font-weight:300;
    color: $cGray2;
    line-height:20px;
    width: 170px;
    margin: 30px 0 0 510px;
    text-align: left;
  }

  a.close_icon {
    position: absolute;
    top: 25px;
    right: 25px;
  }

}

#crowdsourcing {
  position:absolute;
  display:none;
  width: 719px;
  height: 493px;
  z-index: 2000;
  background-image:url(backgrounds/bkg_crowdsourcing.png);

  h2{
    @extend .serif;
    font-size: 35px;
    color: $cGray2;
    width: 100%;
    margin: 50px 0 0 50px;
    text-align: left;
  }

  p {
    @extend .sans-serif;
    font-size:15px;
    font-weight:300;
    color: $cGray2;
    line-height:20px;
    width: 240px;
    margin: 30px 0 0 430px;
    text-align: left;
  }

  a.close_icon {
    position: absolute;
    top: 25px;
    right: 25px;
  }

}

#share {
  position:absolute;
  display:none;
  width: 415px;
  height: 258px;
  z-index: 2000;
  background-image:url(backgrounds/bkg_share.png);

  h2{
    @extend .serif;
    font-size: 35px;
    color: $cGray2;
    width: 100%;
    margin: 60px 0 0 0;
    text-align: center;
  }

  p {
    @extend .sans-serif;
    font-size:15px;
    font-weight:300;
    color: $cGray2;
    line-height:20px;
    width: 100%;
    margin: 5px 0 0 0;
    text-align: center;
  }

  a.close_icon {
    position: absolute;
    top: 25px;
    right: 25px;
  }

  .share_buttons {
    border-top: 1px solid $cGray4;
    width: 386px;
    margin: 35px 14px 0 14px;
    padding: 30px 0 0 0;
    text-align: center;

    .share_button {
      vertical-align:top;
      width: 85px;
      text-align: center;
      display: inline-block;
    }

  }
}

  #countries {
    margin: 0 auto;
    width:1008px;

    @include clearfix();

    $selectHeight: 300px;
    $countryHeight: 250px;

    .select {
      display:none;
      position:absolute;
      top:0; left:0;
      width: 270px;
      height: $selectHeight;

      border: 1px solid #CCCCCC;
      background:#fff;
    }

    h1 {
      margin: 0 0 50px 0;

      text-align: center;

      @extend .serif;
      font-size:35px;
      color: $cGray2;
    }

    .country {
      position:relative;
      margin:0;
      float:left;
      width: 250px;
      height: $countryHeight;

      &.disabled {
        .content {
          color: #DCDCDD;
          a { color: #DCDCDD; }
          h4 { color: #DCDCDD; }
        }
      }
    }

    .select {

      .icon {
        position:relative; top: 30px; margin: auto;
        text-align: center;
      }
      .content { top: 180px!important; }

      &.malaysia a .icon {
        top: 70px;
        @include countries-sprite(country_malaysia_selected);
      }

      &.india a .icon {
        @include countries-sprite(country_india_selected);
      }

      &.cameroon a .icon {
        @include countries-sprite(country_cameroon_selected);
      }

      &.indonesia a .icon {
        top: 70px;
        @include countries-sprite(country_indonesia_selected);
      }

      &.brazil a .icon {
        @include countries-sprite(country_brazil_selected);
      }
    }

    .country  {
      .icon {
        position:relative; top: 20px; margin: auto;
        text-align: center;
      }
    }

    .country, .select {

      @extend .sans-serif;
      color: #999999;
      font-size:15px;
      border: 1px solid $cSeparator;
      line-height: 18px;

      .content {
        $width: 230px;
        position:absolute;
        top: 160px;
        left: 50%;
        width: $width;
        margin-left: -1*$width/2;
        text-align:center;
      }

      h4 {
        color: #666666;
        font-size:29px;
        margin: 0 0 11px 0;
        line-height:normal;
        @extend .serif;

        &.small { font-size: 20px; }
      }


      a { color: #999999; text-decoration: none;}

      path { fill:rgb(100,100,100); }

      &.disabled path,
      &.disabled:hover path { fill: rgb(220, 220, 220); }

      &:hover path {
        fill:rgb(150,150,150);
      }

    }
  }

  .details {
    section {
      position: relative;
      background-color: #f5f5f5;
      background-repeat: no-repeat;
      border-bottom: 1px solid #ddd;

      &.state {
        padding-top: 48px;
        background-image: url(backgrounds/bkg_country.png);

        .inner {
          padding-left: 300px;
          width: 617px;
        }
      }

      &.people {
        .inner {
          padding-right: 273px;
          width: 644px;
          background-position: right bottom;
        }

        background-image: url(backgrounds/bkg_country.png);
        background-position: right 0;
      }

      &.laws {
        background-image: url(backgrounds/bkg_country.png);
      }

      &.climate {
        overflow: hidden;

        .inner {
          padding: 0;
          margin: 0 auto;
        }

        ul {
          margin-right: -50px;
        }

        li {
          float: left;
          width: 422px;
          padding: 50px 35px 50px 0;

          &.last {
            background: #444;
            text-align: right;
            padding: 50px 50px 50px 35px;

            h2 { color: #fff; }
          }
        }

        h2 {
          margin: 0;
        }
      }

      &.conventions {
        background-image: url(backgrounds/bkg_country.png);
        background-position: right 0;

        h3 { margin-bottom: 20px; }

        ul {
          overflow: hidden;
          margin-right: -8px;
        }

        li {
          position: relative;
          display: block;
          float: left;
          margin: 0 8px 8px 0;
          width: 120px;
          height: 67px;
          border: 2px solid #ccc;
          @include border-radius(2px);
          text-align: center;
          padding-top: 25px;
          @extend .sans-serif;
          font-size: 12px;
          font-weight: bold;
          color: #aaa;

          span {
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            bottom: 0;
            line-height: 12px;
            padding: 5px 0;
            font-weight: normal;
            font-style: italic;
            text-transform: uppercase;
            border-top: 1px solid #D9D9D9;
          }
        }
      }

      &.external-links {
        @extend .sans-serif;
        font-size: 13px;
        color: #ddd;

        li {
          display: inline-block;
          line-height: 14px;
          border-left: 1px solid #ddd;
          padding-left: 8px;
          margin-left: 5px;

          &:first-child {
            border: 0;
            margin: 0;
            padding: 0;
          }
        }

        a {
          color: #A1BA42;

          &:hover {
            color: darken(#A1BA42, 5%);
          }
        }
      }

      &.download-links {
        border-bottom: 0;
        text-align: center;
        background: #E9EAE0;

        li {
          @extend .sans-serif;
          display: inline-block;
          margin-left: 7px;

          a,
          span {
            @include inline-block();
            text-decoration: none;
            border: 2px solid rgba(#ACCD00, .5);
            @include border-radius(25px);
            line-height: 30px;
            padding: 0 20px;
            margin-top: 10px;
            color: #333;
            font-weight: bold;
            font-size: 13px;
            line-height: 44px;
            text-transform: uppercase;
          }

          a:hover {
            border: 2px solid #ACCD00;
          }

          span { @include opacity(.4); }
        }
      }

      .inner {
        margin-bottom: 0;
        padding: 50px 0;
      }
    }

    h2 {
      @extend .serif;
      font-size: 45px;
      line-height: 1.1;
      color: #444;
      margin-bottom: 40px;

      .info i { top: -12px; }

      span {
        color: #AAC600;
      }
    }

    h3 {
      @extend .serif;
      margin-bottom: 10px;
      font-size: 17px;
      color: #888;
    }

    .block {
      margin-bottom: 30px;
      width: 100%;


      &.last {
        margin-bottom: 0;
      }

      &.employment {
        overflow: hidden;

        h2 {
          float: left;
          margin-bottom: 10px;

          span {
            @extend .sans-serif;
            font-size: 11px;
            text-transform: uppercase;
            color: #444;
          }
        }
      }
    }
  }

  .graphs {
    margin: 0 0 40px -10px;
    height: 300px;
    width:100%;
    word-spacing:-1em;

    .country, .chart {
      width: 310px;
      /*@include inline-block();*/
      float:left;
      word-spacing:normal;
    }

    .chart { position: relative; }

    .chart .info {
      position: absolute;
      top: 2px;
      left: 50%;
      margin-left: -12px;
      width: 24px;
      color: #fff;
      font-size: 14px;
      line-height: 24px;
      text-align:center;
      background: #FF4D4D;
      border: 2px solid #fff;
      text-decoration: none;
      @extend .serif;
      @include border-radius(14px);
    }

    .forest_loss .info { background: #FFC926; }

    .circle .action {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -20px;
      width: 36px;
      height: 36px;
      background: #fff;
      border: 2px solid #FF4D4D;
      @include border-radius(20px);
      background: #fff url(icons/chart_action.png) no-repeat center;
    }

    .forest_loss .action {
      bottom: -14px;
      border: 2px solid #FFC926; 
      background-image: url(icons/chart_forest_action.png);
    }

    .country .action {
      margin-left: -15px;
      bottom: -14px;
      border: 2px solid #444;
      background-image: url(icons/chart_country_action.png);
    }

    .country .info {
      background: #444;
    }

    .chart .title {
      position: absolute;
      top: 47px;
      left: 0;
      width: 100%;
      color: #FF4D4D;
      font-size: 18px;
      text-align:center;
      @extend .serif;
    }

    .chart .subtitle {
      position: absolute;
      top: 67px;
      left: 0;
      width: 100%;
      @include inline-block();

      text-align:center;
      font-size:13px;
      color:#666;
      @extend .serif;
      text-decoration:underline;

      span {
        line-height: 1.4;
        background: #fff;
        padding: 0 5px;
      }
    }

    .chart  .amount {
      position: absolute;
      width: 100%;
      color: #FFC926;
      text-align: center;
      bottom: 110px;
      left: 0;
      font-size: 97px;
      z-index: 100;
      @extend .serif;

      span {
        background: rgba(#fff, .8);
        padding: 0 5px;

        span {
          font-size: 41px;
        }
      }
    }
    .chart  .date {
      position: absolute;
      text-align: center;
      bottom:53px;
      left: 0;
      width: 100%;
      color: #333;
      font-size: 14px;
      z-index: 100;
    }


    .chart { width: 310px; }

    .forest_loss .title { color: #FFC926 }

    .forest_loss .date { bottom: 39px; }

    .country {
      width: 295px;
      height: 299px;
      position: relative;

      a.mask {
        display: block;
        width: 100%;
        height: 299px;
        background:url(backgrounds/gfw_country_map_mask.png) no-repeat;
      }
    }
  }

  .charts { position:relative; padding: 10px; }
  .chart rect {
    fill: #333333;
    stroke: white;
  }

  .lines {

    circle {
      position: relative;
      top: -4px;
      fill: transparent;
      fill-opacity:0;
      stroke: #FF4D4D;
      stroke-width: 8px;
    }

    circle#marker {
      fill: #FF4D4D;
      fill-opacity:1;
      stroke: white;
      stroke-width: 1px;
    }

    line {
      shape-rendering: crispEdges;
    }

    path {
      stroke: #FF4D4D;
      stroke-width: 4px;
      fill-opacity:0;
      fill: transparent;
    }

    .amount { font-size:24px; color:#A1BA42; text-align:center; }
    .amount .text { margin: auto; padding: 0 5px; @include inline-block(); }

    .title { color: #A1BA42; font-size: 18px; text-align:center; @extend .serif; }

    .subtitle { margin:auto; text-align:center; font-size:13px; color:#666; @extend .serif; }
    .subtitle .text { margin: auto; @include inline-block(); padding: 0 5px; text-decoration:underline; }

    .graph_legend { margin:auto; text-align:center; font-size:13px; color:#666; @extend .serif; }
    .graph_legend .text { margin: auto; width: 140px; }
  }

  .bars {

    rect {
      fill: #333333;
      stroke: white;
      shape-rendering: crispEdges;
      /*cursor:pointer;*/
    }

    circle {
      fill: transparent;
      fill-opacity:0;
      stroke: #333333;
      stroke-width: 10px;
    }

    line {
      shape-rendering: crispEdges;
    }

    path {
      stroke: #333333;
      stroke-width: 4px;
      fill-opacity:0;
      fill: transparent;
    }

    .amount { font-size:20px; color:#333333; text-align:center; @extend .serif;}
    .amount .text { margin: auto; padding: 0 5px; @include inline-block(); }

    .title { color: #333333; font-size: 18px; text-align:center; @extend .serif; }

    .subtitle { margin:auto; text-align:center; font-size:13px; color:#666; @extend .serif; }
    .subtitle .text { margin: auto; @include inline-block(); padding: 0 5px; text-decoration:underline; @extend .serif;}

    .graph_legend { margin:auto; text-align:center; font-size:13px; color:#666; @extend .serif; }
    .graph_legend .text { margin: auto; width: 140px; @extend .serif;}
  }

  .forest_loss {
    width: 342px;
    height: 299px;
    background:url(backgrounds/forest_loss.png) no-repeat center 5px;
    vertical-align: middle;

    &.ghost {
      background-image: url(backgrounds/forest_loss_ghost.png);
      text-align: center;

      .ghost {
        @include opacity(.3);
      }

      p {
        @extend .sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        color: #444;
        font-size: 17px;
        display: inline-block;
        margin-top: 146px;
      }
    }
  }

  .country-menu {
    background: #242424;
    height: 48px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 10;

    li {
      float: left;
      width: 182px;
      text-align: center;
      border-left: 1px solid #4E4E4E;

      &:last-child {
        border-right: 1px solid #4E4E4E;
      }

      &.selected {
        background:url(icons/selected_country_menu.png) no-repeat center bottom;

        a { color: #fff; }
      }
    }

    a {
      @extend .serif;
      display: block;
      color: #BEBEBE;
      font-size: 17px;
      line-height: 48px;
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
  }

  .country-menu-inner {
    position: relative;
    width: 917px;
    margin: 0 auto 49px auto;
  }

  .country-path {
    float: left;
    margin: 0 0 0 -300px;

    path {
      fill: #444;
    }
  }

  .legislation {
    margin-left: 50px;
    width: 303px;

    li {
      list-style: none;
      padding-left: 10px;
      @include icons-sprite(bullet_country);
    }


    a {
      color: #555;
      font-size: 15px;
      line-height: 1.6;
      @extend .sans-serif;

      &:hover {
        color: #333;
      }
    }

    .people-link {
      @include inline-block();
      text-decoration: none;
      border: 2px solid rgba(#ACCD00, .5);
      @include border-radius(18px);
      line-height: 30px;
      padding: 0 15px;
      margin-top: 10px;

      &:hover {
        border: 2px solid #ACCD00;
      }
    }
  }

  .man-list {
    width: 100%;
    overflow: hidden;
  }

  .man {
    display: block;
    float: left;
    margin-right: 3px;
  }

  .info i {
    position: relative;
    top: 3px;
    margin-left: 3px;
    display: inline-block;
    height: 16px;
    width: 16px;
    @include icons-sprite(country_info);

    &.dark { @include icons-sprite(country_info_dark); }
  }

  .line-graph {
    circle {
      stroke-width: 2px;
      stroke: #f5f5f5;
    }

    text {
      font-family: sans-serif;
      font-size: 11px;
    }

    .one {
      fill: #75B22E;
    }

    .two {
      fill: #AAC700;
    }

    .three {
      fill: #AC0;
    }

    .four {
      fill: #FFD24D;
    }
  }

  .legend-graph {
     p {
      font-family: sans-serif;
      font-size: 11px;
      text-transform: uppercase;
      margin-bottom: 3px;
    }

    .one {
      color: #75B22E;
    }

    .two {
      color: #AAC700;
    }

    .three {
      color: #AC0;
    }

    .four {
      color: #FFD24D;
    }
  }

  .comments {
    padding: 50px 0 30px;
    border-top: 1px solid #d9d9d9;

    .inner {
      position: relative;
      width: 917px;
      margin: 0 auto;      
    }
  }
