@import "compass";
@import "compass/reset";
@import "helpers";

body.countries {

  &.index {

    background: $cWhite;

    header, footer { display: none; }

    #countries {
      padding-bottom: 50px;
    }
  }

  header {
    border-bottom: 1px solid #ccc;
  }

  #country {
    background: $cWhite;
  }
}

a.close_icon {
  width: 8px;
  height: 8px;
  display: inline-block;
  background-image:url(icons/close_icon.png);
}

#analysis {
  position:fixed;
  display:none;
  width: 719px;
  height: 450px;
  background-image:url(backgrounds/bkg_analysis.png);

  z-index: 2000;

  h2{
    @extend .serif;
    font-size: 35px;
    color: $cGray2;
    width: 100%;
    margin: 50px 0 0 50px;
    text-align: left;
  }

  p {
    @extend .sans-serif;
    font-size:15px;
    font-weight:300;
    color: $cGray2;
    line-height:20px;
    width: 170px;
    margin: 30px 0 0 510px;
    text-align: left;
  }

  a.close_icon {
    position: absolute;
    top: 25px;
    right: 25px;
  }

}

#crowdsourcing {
  position:absolute;
  display:none;
  width: 719px;
  height: 493px;
  z-index: 2000;
  background-image:url(backgrounds/bkg_crowdsourcing.png);

  h2{
    @extend .serif;
    font-size: 35px;
    color: $cGray2;
    width: 100%;
    margin: 50px 0 0 50px;
    text-align: left;
  }

  p {
    @extend .sans-serif;
    font-size:15px;
    font-weight:300;
    color: $cGray2;
    line-height:20px;
    width: 240px;
    margin: 30px 0 0 430px;
    text-align: left;
  }

  a.close_icon {
    position: absolute;
    top: 25px;
    right: 25px;
  }

}

#share {
  position:absolute;
  display:none;
  width: 415px;
  height: 258px;
  z-index: 2000;
  background-image:url(backgrounds/bkg_share.png);

  h2{
    @extend .serif;
    font-size: 35px;
    color: $cGray2;
    width: 100%;
    margin: 60px 0 0 0;
    text-align: center;
  }

  p {
    @extend .sans-serif;
    font-size:15px;
    font-weight:300;
    color: $cGray2;
    line-height:20px;
    width: 100%;
    margin: 5px 0 0 0;
    text-align: center;
  }

  a.close_icon {
    position: absolute;
    top: 25px;
    right: 25px;
  }

  .share_buttons {
    border-top: 1px solid $cGray4;
    width: 386px;
    margin: 35px 14px 0 14px;
    padding: 30px 0 0 0;
    text-align: center;

    .share_button {
      vertical-align:top;
      width: 85px;
      text-align: center;
      display: inline-block;
    }

  }
}

  #countries {
    position:absolute;
    width:1008px;
    margin-left:-504px;
    top: 50px;
    left: 50%;
    z-index: 10000;

    @include clearfix();

    $selectHeight: 300px;
    $countryHeight: 250px;

    .select {
      display:none;
      position:absolute;
      top:0; left:0;
      width: 270px;
      height: $selectHeight;

      border: 1px solid #CCCCCC;
      background:#fff;
    }

    h1 {
      margin: 0 0 50px 0;

      text-align: center;

      @extend .serif;
      font-size:35px;
      color: $cGray2;
    }

    .country {
      position:relative;
      margin:0;
      float:left;
      width: 250px;
      height: $countryHeight;

      &.disabled {
        .content {
          color: #DCDCDD;
          a { color: #DCDCDD; }
          h4 { color: #DCDCDD; }
        }
      }
    }

    .select {

      .icon { position:relative; top: 30px; margin: auto; }
      .content { top: 180px!important; }

      &.malaysia a .icon {
        top: 70px;
        @include countries-sprite(country_malaysia_selected);
      }

      &.india a .icon {
        @include countries-sprite(country_india_selected);
      }

      &.cameroon a .icon {
        @include countries-sprite(country_cameroon_selected);
      }

      &.indonesia a .icon {
        top: 70px;
        @include countries-sprite(country_indonesia_selected);
      }

      &.brazil a .icon {
        @include countries-sprite(country_brazil_selected);
      }
    }

    .country  {
      .icon { position:relative; top: 10px; margin: auto; }
    }

    .country, .select {

      @extend .sans-serif;
      color: #999999;
      font-size:15px;
      border: 1px solid $cSeparator;
      line-height: 18px;

      .content {
        $width: 230px;
        position:absolute;
        top: 160px;
        left: 50%;
        width: $width;
        margin-left: -1*$width/2;
        text-align:center;
      }

      &.bolivia .icon {
        @include countries-sprite(country_bolivia_disabled);
        width: 127px; height: 136px;
      }

      &.congo .icon {
        @include countries-sprite(country_congo_disabled);
        width: 127px; height: 136px;
      }

      &.guyana .icon {
        @include countries-sprite(country_guyana_disabled);
        width: 127px; height: 136px;
      }

      &.cameroon .icon {
        @include countries-sprite(country_cameroon);
        width: 127px; height: 136px;
      }

      &.angola .icon {
        @include countries-sprite(country_angola_disabled);
        width: 127px; height: 136px;
      }

      &.india .icon {
        @include countries-sprite(country_india);
        width: 127px; height: 136px;
      }

      &.indonesia .icon {
        top: 50px;
        @include countries-sprite(country_indonesia);
        width: 184px; height: 69px;
      }

      &.brazil .icon {
        @include countries-sprite(country_brazil);
        width: 126px; height: 131px;
      }

      &.venezuela .icon {
        @include countries-sprite(country_venezuela_disabled);
        width: 127px; height: 136px;
      }

      &.peru .icon {
        @include countries-sprite(country_peru_disabled);
        width: 127px; height: 136px;
      }

      &.vietnam .icon {
        @include countries-sprite(country_vietnam_disabled);
        width: 126px; height: 131px;
      }

      &.malaysia .icon {
        top: 50px; left: 10px;
        @include countries-sprite(country_malaysia);
        width: 184px; height: 69px;
      }

      &.paraguay .icon {
        @include countries-sprite(country_paraguay_disabled);
        width: 127px; height: 136px;
      }

      &.nepal .icon {
        @include countries-sprite(country_nepal_disabled);
        width: 127px; height: 136px;
      }

      &.laos .icon {
        @include countries-sprite(country_laos_disabled);
        width: 127px; height: 136px;
      }

      &.kenya .icon {
        @include countries-sprite(country_kenya_disabled);
        width: 127px; height: 136px;
      }

      &.ivory_coast .icon {
        @include countries-sprite(country_ivory_coast_disabled);
        width: 127px; height: 136px;
      }

      h4 {
        color: #666666;
        font-size:29px;
        margin: 0 0 12px 0;
        @extend .serif;
      }

      a { color: #999999; text-decoration: none;}

    }
  }

  .graphs {
    margin: 40px 0 40px -10px;
    height: 300px;
    width:100%;
    word-spacing:-1em;

    .country, .chart {
      @include inline-block();
      word-spacing:normal;
    }
    .country {
      width: 309px;
      height: 299px;

      &.brazil    { background:url(http://maps.google.com/maps/api/staticmap?center=brazil&zoom=3&size=299x299&maptype=terrain&sensor=false) no-repeat    }
      &.cameroon  { background:url(http://maps.google.com/maps/api/staticmap?center=cameroon&zoom=4&size=299x299&maptype=terrain&sensor=false) no-repeat  }
      &.malaysia  { background:url(http://maps.google.com/maps/api/staticmap?center=malaysia&zoom=3&size=299x299&maptype=terrain&sensor=false) no-repeat  }
      &.indonesia { background:url(http://maps.google.com/maps/api/staticmap?center=indonesia&zoom=3&size=299x299&maptype=terrain&sensor=false) no-repeat }

      a {
        display: block;
        width: 309px;
        height: 299px;
        background:url(backgrounds/gfw_country_map_mask.png) no-repeat;
      }

    }
  }

  .charts { position:relative; padding: 10px; }
  .chart rect {
    fill: #333333;
    stroke: white;
  }

  .lines {

    circle {
      fill: transparent;
      fill-opacity:0;
      stroke: #A1BA42;
      stroke-width: 10px;
    }

    circle#marker {
      fill: #A1BA42;
      fill-opacity:1;
      stroke: white;
      stroke-width: 1px;
    }

    line {
      shape-rendering: crispEdges;
    }

    path {
      stroke: #A1BA42;
      stroke-width: 4px;
      fill-opacity:0;
      fill: transparent;
    }

    .amount { font-size:24px; color:#A1BA42; text-align:center; }
    .amount .text { margin: auto; padding: 0 5px; @include inline-block(); }

    .title { color: #A1BA42; font-size: 18px; text-align:center; @extend .serif; }

    .subtitle { margin:auto; text-align:center; font-size:13px; color:#666; @extend .serif; }
    .subtitle .text { margin: auto; @include inline-block(); padding: 0 5px; text-decoration:underline; }

    .graph_legend { margin:auto; text-align:center; font-size:13px; color:#666; @extend .serif; }
    .graph_legend .text { margin: auto; width: 140px; }
  }

  .bars {

    rect {
      fill: #333333;
      stroke: white;
      shape-rendering: crispEdges;
      /*cursor:pointer;*/
    }

    circle {
      fill: transparent;
      fill-opacity:0;
      stroke: #333333;
      stroke-width: 10px;
    }

    line {
      shape-rendering: crispEdges;
    }

    path {
      stroke: #333333;
      stroke-width: 4px;
      fill-opacity:0;
      fill: transparent;
    }

    .amount { font-size:20px; color:#333333; text-align:center; @extend .serif;}
    .amount .text { margin: auto; padding: 0 5px; @include inline-block(); }

    .title { color: #333333; font-size: 18px; text-align:center; @extend .serif; }

    .subtitle { margin:auto; text-align:center; font-size:13px; color:#666; @extend .serif; }
    .subtitle .text { margin: auto; @include inline-block(); padding: 0 5px; text-decoration:underline; @extend .serif;}

    .graph_legend { margin:auto; text-align:center; font-size:13px; color:#666; @extend .serif; }
    .graph_legend .text { margin: auto; width: 140px; @extend .serif;}
  }


