//= require prettify

@import "compass";
@import "compass/reset";
@import "helpers";

body.demo {

  background:#f1f1f1;

  .square {
    width: 20px;
    height:20px;
    @include inline-block();
  }

  ul.colors { margin: 0 0 20px 0; }
  ul.colors li {
    margin: 0 0 1px 0;
  }

  ul.colors li, code, pre, tt {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
    color: #333;
  }

  #content {

    width:900px;
    margin:40px auto;
    padding-bottom: 30px;

    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottom: 4px;
    -moz-border-radius-bottom: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    background:$cWhite;

    h3 {
      @extend .font-golden;
      margin: 0 0 10px 20px;
    }

    h4 {
      @extend .font-golden;
      color:#333;
      text-transform: none;
      margin: 0 0 5px 0;
    }

    .explanation {
      padding: 40px 20px;

      background: #DEE;
      font: 14px "Helvetica Neue", sans-serif;
      color:#333;

      -webkit-border-top-left-radius: 4px;
      -webkit-border-top-right-radius: 4px;
      -moz-border-radius-topleft: 4px;
      -moz-border-radius-topright: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    .demo {
      padding-top: 20px;

      p {
        padding: 0 0 10px 20px;
        font: normal 12px "Helvetica Neue", sans-serif;
        color:#333;
      }

      &.dark, &.dark .snippet { background: #DEE; }
      &.dark .snippet { border-bottom: 1px solid #fff; }
      &:last-child > .snippet:last-child { border:none; }

      .btn { margin: 0 0 20px 0; }
      .checkbox { display: block; margin: 0 0 20px 0; }
      .legend { display: block; opacity: 1; position:relative; top: 0; left: 0; }

      .snippet {
        @include clearfix();
        padding: 30px 30px 30px 30px;
        border-bottom: 1px solid #ddd;

        .comment {
          width:270px;
          margin: 10px 0 0 10px;
          font-family: Monaco, Consolas, "Lucida Console", monospace;
          font-size: 12px;
          line-height: 18px;
          font-style: normal;
          color: #ccc;
          strong { border-bottom: 1px solid #ccc;  }

        }
        .example {
          float:left;
          width:450px;
          margin: 0 50px 0 0;

          textarea { width: 500px; }
          .infowindow { position:relative; top: auto; left: auto; }
        }

        .code {
          float:right;
          vertical-align: top;
        }
      }
    }
  }
}

.charts { padding: 10px; }
.chart rect {
  fill: #75ADB5;
  stroke: white;
}

.circle {

  rect {
    fill: #75ADB5;
    stroke: white;
    shape-rendering: crispEdges;
    /*cursor:pointer;*/
  }

  circle {
    fill: transparent;
    fill-opacity:0;
    stroke: #F2B357;
    stroke-width: 10px;
  }

  line {
    shape-rendering: crispEdges;
  }

  path {
    stroke: #F2B357;
    stroke-width: 4px;
    fill-opacity:0;
    fill: transparent;
  }

  .amount { font-size:20px; color:#75ADB5; text-align:center; }
  .amount .text { margin: auto; padding: 0 5px; @include inline-block(); background:#fff; }

  .title { color: #75ADB5; font-size: 18px; text-align:center; @extend .serif; }

  .subtitle { margin:auto; text-align:center; font-size:13px; color:#666; @extend .serif; }
  .subtitle .text { margin: auto; @include inline-block(); padding: 0 5px; text-decoration:underline; background:#fff; }

  .legend { margin:auto; text-align:center; font-size:13px; color:#666; @extend .serif; }
  .legend .text { margin: auto; width: 140px; background:#fff; }
}
