@import "compass";
@import "compass/reset";
@import "helpers";

label {
  display: block;
  @extend .sans-serif;
  color: #333333;
  font-weight:bold;
  font-size:12px;
  text-decoration:none;
  text-transform:uppercase;
}

.field a.checkbox {

  @include size(17px, 14px);
  @include inline-block();
  padding: 0 0 0 20px;

  @include icons-sprite(checkbox, $offset-y: 2px);

  font-size: 15px;
  color: #666666;
  font-weight:normal;
  display: inline;

  text-transform: none;

  @extend .sans-serif;

  &.hover {
    @include icons-sprite(checkbox_hover, $offset-y: 2px);
  }

  &.checked {
    @include icons-sprite(checkbox_checked, $offset-y: 2px);
  }

}

.input_title {

  &.short { width: 285px; }

  &.error label, .field_with_errors  label { color: #C12000; }

  width: 590px;
  clear:both;
  overflow:hidden;

  @extend .sans-serif;
  color: #C12000;
  font-size:13px;

  /*background:blue;*/

  label { float: left; }

  .error-message {
    display:block;
    float: right;
  }
}

.input-field {

  @include inline-block();
  height:36px;
  width: 416px;

  background: url(backgrounds/bkg_form_input.png) no-repeat left 0;

  input[type="text"], input[type="password"] {
    width:100%;
    height:37px;
    margin: 0 0 0 7px;
    padding: 0 7px 0 5px;

    font-size: 14px;

    background:url(backgrounds/bkg_form_input.png) repeat-x right -36px;
    border:none;
    outline:none;
  }

  &.short {
    width: 267px;
    height: 42px;
    background:url(backgrounds/bkg_form_input_big.png) no-repeat left 0;

    input[type="text"] {
      height:43px;
      background:url(backgrounds/bkg_form_input_big.png) repeat-x right -42px;
    }

    &.error {
      background-position: left -84px;
      input[type="text"] { background-position: right -126px; }
    }
  }

  &.big {
    height: 42px;
    background:url(backgrounds/bkg_form_input_big.png) no-repeat left 0;

    input[type="text"] {
      height:43px;
      background:url(backgrounds/bkg_form_input_big.png) repeat-x right -42px;
    }
  }

  &.huge {
    width: 570px;
    height: 42px;
    background:url(backgrounds/bkg_form_input_big.png) no-repeat left 0;

    input[type="password"], input[type="text"] {
      height:43px;
      background:url(backgrounds/bkg_form_input_big.png) repeat-x right -42px;
    }

    &.error {
      background-position: left -84px;
      input[type="text"], input[type="password"] { background-position: right -126px; }
    }

  }

  &.textarea {

    $width: 573px;
    $height: 196px;

    @include inline-block();
    @include size($width, $height);

    background:url(backgrounds/bkg_form_textarea.png) no-repeat left 0;

    textarea {
      @include size(100%, $height - 7*2);
      margin: 0 0 0 5px;
      padding: 7px 5px;

      font-size: 14px;
      background:url(backgrounds/bkg_form_textarea.png) repeat-x right -1*$height;

      border:none;
      outline:none;
      resize: none;
    }
  }

}

