@import "sprites";

/* Colors */
$cBackground:       #75ADB5;
$cDarkGreen:        #264C59;
$cLink:             #F7BD63; // pastel yellow
$cGreen:            #74ACB4;
$cGold:             #F2B257; // gold
$cDarkGold:         #D69E4D;

$cWhite:            #FFFFFF;
$cGray4:            #CCCCCC;
$cGray3:            #999999;
$cGray2:            #666666;
$cGray1:            #333333;
$cGray0:            #000000;

$cConcessions:      #FF6699; // pink
$cConcessionsHover: #C04B73; // dark pink
$cProtectedAreas:   #00CED0; // blue
$cMining:           $cGold;
$cForest:           #B2D26E; // green
$cFire:             #E95850; // red

$cTop:              rgba(117, 173, 181, 0.8);
$cPostTitle:        #73ACB3; // green
$cPostBody:         #444444;

// This is only used in the demo page
.cforest { background-color: $cForest; }
.cBackground { background-color: $cBackground; }
.cDarkGreen { background-color: $cDarkGreen; }
.cLink { background-color: $cLink; }
.cGreen { background-color: $cGreen; }
.cWhite { background-color: $cWhite; }
.cGray4 { background-color: $cGray4; }
.cGray3 { background-color: $cGray3; }
.cGray2 { background-color: $cGray2; }
.cGray1 { background-color: $cGray1; }
.cGray0 { background-color: $cGray0; }
.cGold { background-color: $cGold; }

.cConcessions { background-color: $cConcessions; }
.cConcessionsHover { background-color: $cConcessionsHover; }
.cProtectedAreas { background-color: $cProtectedAreas; }
.cMining { background-color: $cMining; }
.cForest { background-color: $cForest; }
.cFire { background-color: $cFire; }

.cTop { background-color: $cTop; }
.cPostTitle { background-color: $cPostTitle; }
.cPostBody { background-color: $cPostBody; }

strong { font-weight: bold; } // This is sad, I know.

.hidden { display:none; }

.classic-hover {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.pull-right {
  float:right;
}

.shadow-transition {
  -webkit-transition: -webkit-box-shadow 0.3s ease-out;
  -moz-transition: -moz-box-shadow 0.3s ease-out;
  -o-transition: box-shadow 0.3s ease-out;
}

.no-glow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.glow {
  /* Firefox v3.5+ */
  -moz-box-shadow:0px 0px 6px 1px rgba(255,255,255,0.5);
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-box-shadow:0px 0px 6px 1px rgba(255,255,255,0.5);
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+  and by Opera v10.5+ */
  box-shadow:0px 0px 6px 1px rgba(255,255,255,0.5);
  -ms-filter:"progid:DXImageTransform.Microsoft.Glow(Color = #33ffffff ,Strength = 5)";
  filter:progid:DXImageTransform.Microsoft.Glow(Color = #33ffffff ,Strength = 5);
}

@mixin button($url, $height, $mL, $pT, $pR, $pB, $pL, $offset-y) {
  @include inline-block();

  position:relative;

  height:$height;
  background: url($url) no-repeat left -1*($offset-y + $height);
  color:#fff;
  text-decoration:none;
  text-transform: uppercase;

  @extend .shadow-transition;

  & > span {
    @include inline-block();
    height: $height - $pT - $pB;
    margin-left: $mL;
    padding: $pT $pR $pB $pL;
    background: url($url) repeat-x right -1*$offset-y;
    white-space:nowrap;
  }
}

@mixin absolute-left-center($width) {
  position:absolute;
  left:50%;
  width: $width;
  margin-left: -1*$width / 2;
}

@mixin absolute-center($width, $height) {
  position:absolute;
  left:50%;
  top: 50%;
  margin-left: -1*$width / 2;
  margin-top:  -1*$height / 2;
  width: $width;
  height: $height;
}

@mixin clearfix() {
  & { *zoom: 1; }
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}

.disable-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


// Different filter elements
.filter-links {
  &.concessions     a { color: $cConcessions; }
  &.protected-areas a { color: $cProtectedAreas; }
  &.intact-forest   a { color: $cForest; }
  &.mining          a { color: $cMining; }
  &.forest-cover    a { color: $cForest; }
  &.forest          a { color: $cGray4; }
  &.fire            a { color: $cFire; }
  &.carbon          a { color: $cGray4;}
  &.biodiversity    a { color: $cGray4; }
}

.filter-icons {
  &.concessions     .icon  { @include icons-sprite(concessions); }
  &.protected-areas .icon  { @include icons-sprite(protected_areas); }
  &.intact-forest   .icon  { @include icons-sprite(concessions); }
  &.mining          .icon  { @include icons-sprite(mining); }
  &.forest-cover    .icon  { @include icons-sprite(forest_cover); }
  &.forest          .icon  { @include icons-sprite(forest_cover); }
  &.fire            .icon  { @include icons-sprite(fire); }
  &.carbon          .icon  { @include icons-sprite(concessions); }
  &.biodiversity    .icon  { @include icons-sprite(concessions); }
}

.filter-lines {
  &.concessions      .line { background-color: $cConcessions; }
  &.protected-areas  .line { background-color: $cProtectedAreas; }
  &.intact-forest    .line { background-color: $cForest; }
  &.mining           .line { background-color: $cMining; }
  &.forest-cover     .line { background-color: $cForest; }
  &.forest           .line { background-color: $cForest; }
  &.fire             .line { background-color: $cFire; }
  &.carbon           .line { background-color: $cGray4;}
  &.biodiversity     .line { background-color: $cGray4; }
}


// Fonts
.serif {
  font-family: "Georgia", serif;
}
.sans-serif {
  font-family: "Helvetica Neue", sans-serif;
}

.font-big {
  @extend .serif;
  font-size: 37px;
  color: $cWhite;
}

.font-regular {
  @extend .sans-serif;
  font-size: 15px;
  color: $cWhite;
}

.font-golden {
  @extend .sans-serif;
  font-size: 12px;
  font-weight:bold;
  color: $cGold;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: $cGray2;
  }
}
