@import "compass/css3";


/* Colors */
$cBackground:            #222222;
$cDarkGreen:             #264C59;
$cLink:                  #A1BA42;
$cGreen2:                #9FB840;
$cGreen1:                #A1BA42;
$cGreen:                 #74ACB4;
$cGold:                  #F2B257;
$cLime:                  #A1BA42;
$cDarkGold:              #D69E4D;

$cWhite:                 #FFFFFF;
$cGray8:                 #393939;
$cGray7:                 #444444;
$cGray6:                 #797979;
$cGray5:                 #222222;
$cGray4:                 #CCCCCC;
$cGray3:                 #999999;
$cGray2:                 #666666;
$cGray1:                 #333333;
$cGray0:                 #000000;

$cSeparator:             #E5E5E5;

$cStories:               $cGold;
$cStoriesHover:          $cDarkGold;

$cForestUse:             #CC4C02;
$cForestUseHover:        darken(#CC4C02, 15%);

$cForestClearing:        #F69;
$cForestClearingHover:   darken(#F69, 15%);

$cConservation:          #00CED0; // blue
$cConservationHover:     #00B9B9;

$cOtherLayers:           #00CED0; // blue
$cOtherLayersHover:      #00B9B9;

$cMining:                $cGray4;
$cMiningHover:           $cGray3;

$cForest:                #707D92;
$cForestHover:           #707D92;

$cSpecialProjects:       #594694;
$cSpecialProjectsHover:  #594694;

$cRegrowth:              #B2D26E; // green
$cRegrowthHover:         #9EBB62; // dark green

$cFire:                  #E95850; // red
$cFireHover:             #CA4C45;

$cDeforestation:         #FF6699; // red
$cDeforestationHover:    #C04B73;

$cTop:                   #222222;
$cPostTitle:             #73ACB3; // green
$cPostBody:              #666666;

// This is only used in the demo page
.cforest     { background-color: $cForest; }
.cBackground { background-color: $cBackground; }
.cDarkGreen  { background-color: $cDarkGreen; }
.cLink       { background-color: $cLink; }
.cGreen      { background-color: $cGreen; }
.cWhite      { background-color: $cWhite; }
.cGray4      { background-color: $cGray4; }
.cGray3      { background-color: $cGray3; }
.cGray2      { background-color: $cGray2; }
.cGray1      { background-color: $cGray1; }
.cGray0      { background-color: $cGray0; }
.cGold       { background-color: $cGold; }

.cStories      { background-color: $cStories; }
.cStoriesHover { background-color: $cStoriesHover; }

.cForestUse        { background-color: $cForestUse; }
.cForestUseHover   { background-color: $cForestUseHover; }

.cConservation     { background-color: $cConservation; }
.cMining           { background-color: $cMining; }

.cForest           { background-color: $cForest; }
.cForestHover      { background-color: $cForestHover; }

.cFire { background-color: $cFire; }

.cTop { background-color: $cTop; }
.cPostTitle { background-color: $cPostTitle; }
.cPostBody { background-color: $cPostBody; }

// SPRITES
$icons-community-spacing:90px;
$icons-analysis-spacing:90px;
$icons-updates-spacing:90px;

$icons-checkbox-spacing:20px;
$icons-checkbox_checked-spacing:20px;
$icons-checkbox_hover-spacing:20px;

$icons-input_error-spacing:20px;

$icons-download_arrow-spacing:20px;
$icons-download_arrow_hover-spacing:20px;
$icons-bars-spacing:20px;

$icons-forest_use-spacing:20px;
$icons-conservation-spacing: 20px;
$icons-mining-spacing: 20px;
$icons-fire-spacing: 20px;

// Radio buttons & checkboxes
$icons-radio-spacing: 41px;
$icons-radio_fire-spacing: 44px;
$icons-checkboxes-spacing: 40px;
$icons-checkboxes_mining-spacing: 40px;
$icons-checkboxes_regrowth-spacing: 40px;
$icons-checkboxes_forest_use-spacing: 40px;
$icons-checkboxes_forest-spacing: 40px;
$icons-checkboxes_mining-spacing: 40px;
$icons-checkboxes_other_layers-spacing: 40px;

$icons-bullet_square-spacing: 40px;

// Country
$icons-country_bolivia_disabled-spacing: 20px;

@import "icons/*.png"; /**/
@import "logos/*.png"; /**/

$countries-spacing: 20px;
@import "countries/*.png"; /**/

strong { font-weight: bold; } // This is sad, I know.

.hidden { display:none; }

.classic-hover {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.pull-right {
  float:right;
}

.opacity-transition {
  @include transition-property(opacity);
  @include transition-duration(250ms);
  @include transition-timing-function(ease-in);
}

.position-transition {
  @include transition-property(position);
  @include transition-duration(250ms);
  @include transition-timing-function(ease-in);
}

.shadow-transition {
  -webkit-transition: -webkit-box-shadow 0.3s ease-out;
  -moz-transition: -moz-box-shadow 0.3s ease-out;
  -o-transition: box-shadow 0.3s ease-out;
}

.no-glow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@mixin dark-glow($opacity) {
  -moz-box-shadow:0px 0px 3px 5px rgba(0, 0, 0, $opacity); /* Firefox v3.5+ */
  -webkit-box-shadow:0px 0px 3px 5px rgba(0,0,0, $opacity); /* Safari v3.0+ and by Chrome v0.2+ */
  box-shadow:0px 0px 3px 1px rgba(0,0,0, $opacity); /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+  and by Opera v10.5+ */
  -ms-filter:"progid:DXImageTransform.Microsoft.Glow(Color = #33000000 ,Strength = $opacity * 10)";
  filter:progid:DXImageTransform.Microsoft.Glow(Color = #33000000 ,Strength = $opacity * 10);
}
@mixin darker-glow($opacity) {
  -moz-box-shadow:0px 0px 6px 1px rgba(0, 0, 0, $opacity); /* Firefox v3.5+ */
  -webkit-box-shadow:0px 0px 6px 1px rgba(0, 0, 0, $opacity); /* Safari v3.0+ and by Chrome v0.2+ */
  box-shadow:0px 0px 6px 1px rgba(0, 0, 0, $opacity); /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+  and by Opera v10.5+ */
  -ms-filter:"progid:DXImageTransform.Microsoft.Glow(Color = #33000000 ,Strength = $opacity * 10)";
  filter:progid:DXImageTransform.Microsoft.Glow(Color = #33000000 ,Strength = $opacity * 10);
}

@mixin button($url, $height, $mL, $pT, $pR, $pB, $pL, $offset-y) {
  @include inline-block();

  position:relative;

  height:$height;
  background: url($url) no-repeat left -1*($offset-y + $height);
  color:#fff;
  text-decoration:none;
  text-transform: uppercase;

  @extend .shadow-transition;

  & > span {
    @include inline-block();
    height: $height - $pT - $pB;
    margin-left: $mL;
    padding: $pT $pR $pB $pL;
    background: url($url) repeat-x right -1*$offset-y;
    white-space:nowrap;
  }
}

@mixin size($width, $height:$width) {

  @if $width  != false { width:  $width; }
  @if $height != false { height: $height; }

}

@mixin position($top, $right, $bottom, $left) {

  position: absolute;

  @if $top    != false { top:    $top; }
  @if $right  != false { right:  $right; }
  @if $bottom != false { bottom: $bottom; }
  @if $left   != false { left:   $left; }

}

@mixin absolute-portrait-center($height) {
  position:absolute;
  top:50%;
  height: $height;
  margin-top: -1*$height/2;
}

@mixin absolute-landscape-center($width) {
  @include absolute-left-center($width);
}

@mixin absolute-left-center($width) {
  position:absolute;
  left:50%;
  width: $width;
  margin-left: -1*$width/2;
}

@mixin absolute-center($width, $height:$width) {

  position:absolute;
  left:50%;
  top: 50%;

  margin-left: -1*$width/2;
  margin-top:  -1*$height/2;

  @if $width  != false { width:  $width; }
  @if $height != false { height: $height; }

}

@mixin clearfix() {
  & { *zoom: 1; }
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}

.disable-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Different filter elements
.filter-links {

  & > a         { color: $cGray4; }
  a             { color: $cGray4; }
  a.checked     { color: $cGray4; }
  a.title       { color: $cGray4; }
  a.title:hover { color: $cGray4; }
  a:hover       { color: $cGray3; }

}

.filter-icons {
  &.forest_use      .icon  { @include icons-sprite(icon_forest_use); }
  &.conservation    .icon  { @include icons-sprite(icon_conservation); }
  &.mining          .icon  { @include icons-sprite(icon_mining); }
  &.fire            .icon  { @include icons-sprite(icon_fire); }
  &.stories         .icon  { @include icons-sprite(icon_stories); }
  &.forest_change   .icon  { @include icons-sprite(icon_forest_clearing); }
  &.forest_cover 		.icon  { @include icons-sprite(icon_forest_cover); }
  &.carbon          .icon  { @include icons-sprite(icon_concessions); }
  &.biodiversity    .icon  { @include icons-sprite(icon_concessions); }
  &.other_layers    .icon  { @include icons-sprite(icon_other); }
  &.people          .icon  { @include icons-sprite(icon_regrowth); }
}

.filter-bullets {
  $left: left;
  $top: 3px;

  background:url(icons/bullet_other.png) no-repeat;
  background-position: $left $top;

  &.conservation    { background:url(icons/bullet_conservation.png) no-repeat $left $top; }
  &.forest_change   { background:url(icons/bullet_deforestation.png) no-repeat $left $top; }
  &.forest_use      { background:url(icons/bullet_concessions.png) no-repeat $left $top; }
  &.mining          { background:url(icons/bullet_mining.png) no-repeat $left $top; }
  &.people          { background:url(icons/bullet_regrowth.png) no-repeat $left $top; }
}

@mixin radio($url) {
  @include inline-block();
  @include icons-sprite(radio, $offset-y: -67px);

  padding-left: 17px;

  color: #ccc;
  text-decoration:none;

  &:hover          { @include icons-sprite($url, $offset-y:-207px); }

  &:active         { @include icons-sprite($url, $offset-y:-207px); }
  &:active:hover   { @include icons-sprite($url, $offset-y:-277px); }

  &.checked        { color:$cForestClearing;      @include icons-sprite($url, $offset-y:-137px); }
  &.checked:hover  { color:$cForestClearingHover; @include icons-sprite($url, $offset-y:-277px); }

  &.disabled       { color: $cGray4; @include icons-sprite($url, $offset-y:5px); }
  &.disabled:hover { @include icons-sprite($url, $offset-y:5px); }
}

@mixin checkboxes($url) {
  @include inline-block();
  @include icons-sprite(checkboxes, $offset-y: -66px);

  padding-left: 17px;

  color:#333;
  text-decoration:none;

  &:hover          { @include icons-sprite($url, $offset-y:-206px); }

  &:active         { @include icons-sprite($url, $offset-y:-206px); }
  &:active:hover   { @include icons-sprite($url, $offset-y:-276px); }

  &.checked        { @include icons-sprite($url, $offset-y:-136px); }
  &.checked:hover  { @include icons-sprite($url, $offset-y:-276px); }

  &.disabled       { color: $cGray4; @include icons-sprite($url, $offset-y:5px); }
  &.disabled:hover { @include icons-sprite($url, $offset-y:5px); }
}

@mixin disabled($url) {
  @include inline-block();
  @include icons-sprite(disabled);

  padding-left: 22px;

  text-decoration:none;
}

// Fonts
.serif {
  font-family: "Georgia", serif;
}
.sans-serif {
  font-family: Helvetica, Arial, sans-serif;
}

.font-big {
  @extend .serif;
  font-size: 37px;
  color: $cWhite;
}

.font-regular {
  @extend .sans-serif;
  font-size: 15px;
  color: $cWhite;
}

.font-golden {
  @extend .sans-serif;
  font-size: 12px;
  font-weight:bold;
  color: $cLime;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: $cGray2;
  }
}

.flag-icon {
  strong { padding: 0 0 0 23px; }

  // http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2

  &.cm strong { background:url(flags/cm.png) no-repeat; }
  &.cd strong { background:url(flags/cd.png) no-repeat; }
  &.cf strong { background:url(flags/cf.png) no-repeat; }
  &.cg strong { background:url(flags/cg.png) no-repeat; }
  &.ga strong { background:url(flags/ga.png) no-repeat; }
  &.id strong { background:url(flags/id.png) no-repeat; }

  /* More flags: */

  /*
  &.ad strong { background:url(flags/ad.png) no-repeat; }
  &.ae strong { background:url(flags/ae.png) no-repeat; }
  &.af strong { background:url(flags/af.png) no-repeat; }
  &.ag strong { background:url(flags/ag.png) no-repeat; }
  &.ai strong { background:url(flags/ai.png) no-repeat; }
  &.al strong { background:url(flags/al.png) no-repeat; }
  &.am strong { background:url(flags/am.png) no-repeat; }
  &.an strong { background:url(flags/an.png) no-repeat; }
  &.ao strong { background:url(flags/ao.png) no-repeat; }
  &.ar strong { background:url(flags/ar.png) no-repeat; }
  &.as strong { background:url(flags/as.png) no-repeat; }
  &.at strong { background:url(flags/at.png) no-repeat; }
  &.au strong { background:url(flags/au.png) no-repeat; }
  &.aw strong { background:url(flags/aw.png) no-repeat; }
  &.ax strong { background:url(flags/ax.png) no-repeat; }
  &.az strong { background:url(flags/az.png) no-repeat; }
  &.ba strong { background:url(flags/ba.png) no-repeat; }
  &.bb strong { background:url(flags/bb.png) no-repeat; }
  &.bd strong { background:url(flags/bd.png) no-repeat; }
  &.be strong { background:url(flags/be.png) no-repeat; }
  &.bf strong { background:url(flags/bf.png) no-repeat; }
  &.bg strong { background:url(flags/bg.png) no-repeat; }
  &.bh strong { background:url(flags/bh.png) no-repeat; }
  &.bi strong { background:url(flags/bi.png) no-repeat; }
  &.bj strong { background:url(flags/bj.png) no-repeat; }
  &.bm strong { background:url(flags/bm.png) no-repeat; }
  &.bn strong { background:url(flags/bn.png) no-repeat; }
  &.bo strong { background:url(flags/bo.png) no-repeat; }
  &.br strong { background:url(flags/br.png) no-repeat; }
  &.bs strong { background:url(flags/bs.png) no-repeat; }
  &.bt strong { background:url(flags/bt.png) no-repeat; }
  &.bv strong { background:url(flags/bv.png) no-repeat; }
  &.bw strong { background:url(flags/bw.png) no-repeat; }
  &.by strong { background:url(flags/by.png) no-repeat; }
  &.bz strong { background:url(flags/bz.png) no-repeat; }
  &.ca strong { background:url(flags/ca.png) no-repeat; }
  &.cc strong { background:url(flags/cc.png) no-repeat; }
  &.ch strong { background:url(flags/ch.png) no-repeat; }
  &.ci strong { background:url(flags/ci.png) no-repeat; }
  &.ck strong { background:url(flags/ck.png) no-repeat; }
  &.cl strong { background:url(flags/cl.png) no-repeat; }
  &.cn strong { background:url(flags/cn.png) no-repeat; }
  &.co strong { background:url(flags/co.png) no-repeat; }
  &.cr strong { background:url(flags/cr.png) no-repeat; }
  &.cs strong { background:url(flags/cs.png) no-repeat; }
  &.cu strong { background:url(flags/cu.png) no-repeat; }
  &.cv strong { background:url(flags/cv.png) no-repeat; }
  &.cx strong { background:url(flags/cx.png) no-repeat; }
  &.cy strong { background:url(flags/cy.png) no-repeat; }
  &.cz strong { background:url(flags/cz.png) no-repeat; }
  &.de strong { background:url(flags/de.png) no-repeat; }
  &.dj strong { background:url(flags/dj.png) no-repeat; }
  &.dk strong { background:url(flags/dk.png) no-repeat; }
  &.dm strong { background:url(flags/dm.png) no-repeat; }
  &.do strong { background:url(flags/do.png) no-repeat; }
  &.dz strong { background:url(flags/dz.png) no-repeat; }
  &.ec strong { background:url(flags/ec.png) no-repeat; }
  &.ee strong { background:url(flags/ee.png) no-repeat; }
  &.eg strong { background:url(flags/eg.png) no-repeat; }
  &.eh strong { background:url(flags/eh.png) no-repeat; }
  &.er strong { background:url(flags/er.png) no-repeat; }
  &.es strong { background:url(flags/es.png) no-repeat; }
  &.et strong { background:url(flags/et.png) no-repeat; }
  &.fi strong { background:url(flags/fi.png) no-repeat; }
  &.fj strong { background:url(flags/fj.png) no-repeat; }
  &.fk strong { background:url(flags/fk.png) no-repeat; }
  &.fm strong { background:url(flags/fm.png) no-repeat; }
  &.fo strong { background:url(flags/fo.png) no-repeat; }
  &.fr strong { background:url(flags/fr.png) no-repeat; }
  &.gb strong { background:url(flags/gb.png) no-repeat; }
  &.gd strong { background:url(flags/gd.png) no-repeat; }
  &.ge strong { background:url(flags/ge.png) no-repeat; }
  &.gf strong { background:url(flags/gf.png) no-repeat; }
  &.gh strong { background:url(flags/gh.png) no-repeat; }
  &.gi strong { background:url(flags/gi.png) no-repeat; }
  &.gl strong { background:url(flags/gl.png) no-repeat; }
  &.gm strong { background:url(flags/gm.png) no-repeat; }
  &.gn strong { background:url(flags/gn.png) no-repeat; }
  &.gp strong { background:url(flags/gp.png) no-repeat; }
  &.gq strong { background:url(flags/gq.png) no-repeat; }
  &.gr strong { background:url(flags/gr.png) no-repeat; }
  &.gs strong { background:url(flags/gs.png) no-repeat; }
  &.gt strong { background:url(flags/gt.png) no-repeat; }
  &.gu strong { background:url(flags/gu.png) no-repeat; }
  &.gw strong { background:url(flags/gw.png) no-repeat; }
  &.gy strong { background:url(flags/gy.png) no-repeat; }
  &.hk strong { background:url(flags/hk.png) no-repeat; }
  &.hm strong { background:url(flags/hm.png) no-repeat; }
  &.hn strong { background:url(flags/hn.png) no-repeat; }
  &.hr strong { background:url(flags/hr.png) no-repeat; }
  &.ht strong { background:url(flags/ht.png) no-repeat; }
  &.hu strong { background:url(flags/hu.png) no-repeat; }
  &.ie strong { background:url(flags/ie.png) no-repeat; }
  &.il strong { background:url(flags/il.png) no-repeat; }
  &.in strong { background:url(flags/in.png) no-repeat; }
  &.io strong { background:url(flags/io.png) no-repeat; }
  &.iq strong { background:url(flags/iq.png) no-repeat; }
  &.ir strong { background:url(flags/ir.png) no-repeat; }
  &.is strong { background:url(flags/is.png) no-repeat; }
  &.it strong { background:url(flags/it.png) no-repeat; }
  &.jm strong { background:url(flags/jm.png) no-repeat; }
  &.jo strong { background:url(flags/jo.png) no-repeat; }
  &.jp strong { background:url(flags/jp.png) no-repeat; }
  &.ke strong { background:url(flags/ke.png) no-repeat; }
  &.kg strong { background:url(flags/kg.png) no-repeat; }
  &.kh strong { background:url(flags/kh.png) no-repeat; }
  &.ki strong { background:url(flags/ki.png) no-repeat; }
  &.km strong { background:url(flags/km.png) no-repeat; }
  &.kn strong { background:url(flags/kn.png) no-repeat; }
  &.kp strong { background:url(flags/kp.png) no-repeat; }
  &.kr strong { background:url(flags/kr.png) no-repeat; }
  &.kw strong { background:url(flags/kw.png) no-repeat; }
  &.ky strong { background:url(flags/ky.png) no-repeat; }
  &.kz strong { background:url(flags/kz.png) no-repeat; }
  &.la strong { background:url(flags/la.png) no-repeat; }
  &.lb strong { background:url(flags/lb.png) no-repeat; }
  &.lc strong { background:url(flags/lc.png) no-repeat; }
  &.li strong { background:url(flags/li.png) no-repeat; }
  &.lk strong { background:url(flags/lk.png) no-repeat; }
  &.lr strong { background:url(flags/lr.png) no-repeat; }
  &.ls strong { background:url(flags/ls.png) no-repeat; }
  &.lt strong { background:url(flags/lt.png) no-repeat; }
  &.lu strong { background:url(flags/lu.png) no-repeat; }
  &.lv strong { background:url(flags/lv.png) no-repeat; }
  &.ly strong { background:url(flags/ly.png) no-repeat; }
  &.ma strong { background:url(flags/ma.png) no-repeat; }
  &.mc strong { background:url(flags/mc.png) no-repeat; }
  &.md strong { background:url(flags/md.png) no-repeat; }
  &.me strong { background:url(flags/me.png) no-repeat; }
  &.mg strong { background:url(flags/mg.png) no-repeat; }
  &.mh strong { background:url(flags/mh.png) no-repeat; }
  &.mk strong { background:url(flags/mk.png) no-repeat; }
  &.ml strong { background:url(flags/ml.png) no-repeat; }
  &.mm strong { background:url(flags/mm.png) no-repeat; }
  &.mn strong { background:url(flags/mn.png) no-repeat; }
  &.mo strong { background:url(flags/mo.png) no-repeat; }
  &.mp strong { background:url(flags/mp.png) no-repeat; }
  &.mq strong { background:url(flags/mq.png) no-repeat; }
  &.mr strong { background:url(flags/mr.png) no-repeat; }
  &.ms strong { background:url(flags/ms.png) no-repeat; }
  &.mt strong { background:url(flags/mt.png) no-repeat; }
  &.mu strong { background:url(flags/mu.png) no-repeat; }
  &.mv strong { background:url(flags/mv.png) no-repeat; }
  &.mw strong { background:url(flags/mw.png) no-repeat; }
  &.mx strong { background:url(flags/mx.png) no-repeat; }
  &.my strong { background:url(flags/my.png) no-repeat; }
  &.mz strong { background:url(flags/mz.png) no-repeat; }
  &.na strong { background:url(flags/na.png) no-repeat; }
  &.nc strong { background:url(flags/nc.png) no-repeat; }
  &.ne strong { background:url(flags/ne.png) no-repeat; }
  &.nf strong { background:url(flags/nf.png) no-repeat; }
  &.ng strong { background:url(flags/ng.png) no-repeat; }
  &.ni strong { background:url(flags/ni.png) no-repeat; }
  &.nl strong { background:url(flags/nl.png) no-repeat; }
  &.no strong { background:url(flags/no.png) no-repeat; }
  &.np strong { background:url(flags/np.png) no-repeat; }
  &.nr strong { background:url(flags/nr.png) no-repeat; }
  &.nu strong { background:url(flags/nu.png) no-repeat; }
  &.nz strong { background:url(flags/nz.png) no-repeat; }
  &.om strong { background:url(flags/om.png) no-repeat; }
  &.pa strong { background:url(flags/pa.png) no-repeat; }
  &.pe strong { background:url(flags/pe.png) no-repeat; }
  &.pf strong { background:url(flags/pf.png) no-repeat; }
  &.pg strong { background:url(flags/pg.png) no-repeat; }
  &.ph strong { background:url(flags/ph.png) no-repeat; }
  &.pk strong { background:url(flags/pk.png) no-repeat; }
  &.pl strong { background:url(flags/pl.png) no-repeat; }
  &.pm strong { background:url(flags/pm.png) no-repeat; }
  &.pn strong { background:url(flags/pn.png) no-repeat; }
  &.pr strong { background:url(flags/pr.png) no-repeat; }
  &.ps strong { background:url(flags/ps.png) no-repeat; }
  &.pt strong { background:url(flags/pt.png) no-repeat; }
  &.pw strong { background:url(flags/pw.png) no-repeat; }
  &.py strong { background:url(flags/py.png) no-repeat; }
  &.qa strong { background:url(flags/qa.png) no-repeat; }
  &.re strong { background:url(flags/re.png) no-repeat; }
  &.ro strong { background:url(flags/ro.png) no-repeat; }
  &.rs strong { background:url(flags/rs.png) no-repeat; }
  &.ru strong { background:url(flags/ru.png) no-repeat; }
  &.rw strong { background:url(flags/rw.png) no-repeat; }
  &.sa strong { background:url(flags/sa.png) no-repeat; }
  &.sb strong { background:url(flags/sb.png) no-repeat; }
  &.sc strong { background:url(flags/sc.png) no-repeat; }
  &.sd strong { background:url(flags/sd.png) no-repeat; }
  &.se strong { background:url(flags/se.png) no-repeat; }
  &.sg strong { background:url(flags/sg.png) no-repeat; }
  &.sh strong { background:url(flags/sh.png) no-repeat; }
  &.si strong { background:url(flags/si.png) no-repeat; }
  &.sj strong { background:url(flags/sj.png) no-repeat; }
  &.sk strong { background:url(flags/sk.png) no-repeat; }
  &.sl strong { background:url(flags/sl.png) no-repeat; }
  &.sm strong { background:url(flags/sm.png) no-repeat; }
  &.sn strong { background:url(flags/sn.png) no-repeat; }
  &.so strong { background:url(flags/so.png) no-repeat; }
  &.sr strong { background:url(flags/sr.png) no-repeat; }
  &.st strong { background:url(flags/st.png) no-repeat; }
  &.sv strong { background:url(flags/sv.png) no-repeat; }
  &.sy strong { background:url(flags/sy.png) no-repeat; }
  &.sz strong { background:url(flags/sz.png) no-repeat; }
  &.tc strong { background:url(flags/tc.png) no-repeat; }
  &.td strong { background:url(flags/td.png) no-repeat; }
  &.tf strong { background:url(flags/tf.png) no-repeat; }
  &.tg strong { background:url(flags/tg.png) no-repeat; }
  &.th strong { background:url(flags/th.png) no-repeat; }
  &.tj strong { background:url(flags/tj.png) no-repeat; }
  &.tk strong { background:url(flags/tk.png) no-repeat; }
  &.tl strong { background:url(flags/tl.png) no-repeat; }
  &.tm strong { background:url(flags/tm.png) no-repeat; }
  &.tn strong { background:url(flags/tn.png) no-repeat; }
  &.to strong { background:url(flags/to.png) no-repeat; }
  &.tr strong { background:url(flags/tr.png) no-repeat; }
  &.tt strong { background:url(flags/tt.png) no-repeat; }
  &.tv strong { background:url(flags/tv.png) no-repeat; }
  &.tw strong { background:url(flags/tw.png) no-repeat; }
  &.tz strong { background:url(flags/tz.png) no-repeat; }
  &.ua strong { background:url(flags/ua.png) no-repeat; }
  &.ug strong { background:url(flags/ug.png) no-repeat; }
  &.um strong { background:url(flags/um.png) no-repeat; }
  &.us strong { background:url(flags/us.png) no-repeat; }
  &.uy strong { background:url(flags/uy.png) no-repeat; }
  &.uz strong { background:url(flags/uz.png) no-repeat; }
  &.va strong { background:url(flags/va.png) no-repeat; }
  &.vc strong { background:url(flags/vc.png) no-repeat; }
  &.ve strong { background:url(flags/ve.png) no-repeat; }
  &.vg strong { background:url(flags/vg.png) no-repeat; }
  &.vi strong { background:url(flags/vi.png) no-repeat; }
  &.vn strong { background:url(flags/vn.png) no-repeat; }
  &.vu strong { background:url(flags/vu.png) no-repeat; }
  &.wf strong { background:url(flags/wf.png) no-repeat; }
  &.ws strong { background:url(flags/ws.png) no-repeat; }
  &.ye strong { background:url(flags/ye.png) no-repeat; }
  &.yt strong { background:url(flags/yt.png) no-repeat; }
  &.za strong { background:url(flags/za.png) no-repeat; }
  &.zm strong { background:url(flags/zm.png) no-repeat; }
  &.zw strong { background:url(flags/zw.png) no-repeat; }
  &.catalonia strong { background:url(flags/catalonia.png) no-repeat; }
  &.fam strong { background:url(flags/fam.png) no-repeat; }
  &.scotland strong { background:url(flags/scotland.png) no-repeat; }
  &.england strong { background:url(flags/england.png) no-repeat; }
  &.europeanunion strong { background:url(flags/europeanunion.png) no-repeat; }
  &.wales strong { background:url(flags/wales.png) no-repeat; }
  */

  }
