$cGreen: #97Bd3d;

.clearfix {
  zoom:1;

  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }

  &:after {
    clear: both;
  }
}

@mixin pointer-events($type: none) {
  $type: unquote($type);

  @include experimental(pointer-events, $type,
    -moz, -webkit, not -o, not -ms, -khtml, official
  );
}
