@import "sprites";

/* Colors */
$cBackground:       #75ADB5;
$cDarkGreen:        #264C59;
$cLink:             #F7BD63; // pastel yellow
$cGreen:            #74ACB4;
$cGold:             #F2B257; // gold
$cDarkGold:         #D69E4D;

$cWhite:            #FFFFFF;
$cGray4:            #CCCCCC;
$cGray3:            #999999;
$cGray2:            #666666;
$cGray1:            #333333;
$cGray0:            #000000;

$cSeparator:        #E5E5E5;

$cConcessions:      #FF6699; // pink
$cConcessionsHover: #C04B73; // dark pink
$cProtectedAreas:   #00CED0; // blue
$cMining:           $cGold;
$cForest:           #B2D26E; // green
$cFire:             #E95850; // red

$cTop:              rgba(117, 173, 181, 0.8);
$cPostTitle:        #73ACB3; // green
$cPostBody:         #444444;

// This is only used in the demo page
.cforest { background-color: $cForest; }
.cBackground { background-color: $cBackground; }
.cDarkGreen { background-color: $cDarkGreen; }
.cLink { background-color: $cLink; }
.cGreen { background-color: $cGreen; }
.cWhite { background-color: $cWhite; }
.cGray4 { background-color: $cGray4; }
.cGray3 { background-color: $cGray3; }
.cGray2 { background-color: $cGray2; }
.cGray1 { background-color: $cGray1; }
.cGray0 { background-color: $cGray0; }
.cGold { background-color: $cGold; }

.cConcessions { background-color: $cConcessions; }
.cConcessionsHover { background-color: $cConcessionsHover; }
.cProtectedAreas { background-color: $cProtectedAreas; }
.cMining { background-color: $cMining; }
.cForest { background-color: $cForest; }
.cFire { background-color: $cFire; }

.cTop { background-color: $cTop; }
.cPostTitle { background-color: $cPostTitle; }
.cPostBody { background-color: $cPostBody; }

strong { font-weight: bold; } // This is sad, I know.

.hidden { display:none; }

.classic-hover {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.pull-right {
  float:right;
}

.shadow-transition {
  -webkit-transition: -webkit-box-shadow 0.3s ease-out;
  -moz-transition: -moz-box-shadow 0.3s ease-out;
  -o-transition: box-shadow 0.3s ease-out;
}

.no-glow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.glow {
  /* Firefox v3.5+ */
  -moz-box-shadow:0px 0px 6px 1px rgba(255,255,255,0.5);
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-box-shadow:0px 0px 6px 1px rgba(255,255,255,0.5);
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+  and by Opera v10.5+ */
  box-shadow:0px 0px 6px 1px rgba(255,255,255,0.5);
  -ms-filter:"progid:DXImageTransform.Microsoft.Glow(Color = #33ffffff ,Strength = 5)";
  filter:progid:DXImageTransform.Microsoft.Glow(Color = #33ffffff ,Strength = 5);
}

@mixin button($url, $height, $mL, $pT, $pR, $pB, $pL, $offset-y) {
  @include inline-block();

  position:relative;

  height:$height;
  background: url($url) no-repeat left -1*($offset-y + $height);
  color:#fff;
  text-decoration:none;
  text-transform: uppercase;

  @extend .shadow-transition;

  & > span {
    @include inline-block();
    height: $height - $pT - $pB;
    margin-left: $mL;
    padding: $pT $pR $pB $pL;
    background: url($url) repeat-x right -1*$offset-y;
    white-space:nowrap;
  }
}

@mixin absolute-left-center($width) {
  position:absolute;
  left:50%;
  width: $width;
  margin-left: -1*$width / 2;
}

@mixin absolute-center($width, $height) {
  position:absolute;
  left:50%;
  top: 50%;
  margin-left: -1*$width / 2;
  margin-top:  -1*$height / 2;
  width: $width;
  height: $height;
}

@mixin clearfix() {
  & { *zoom: 1; }
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}

.disable-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


// Different filter elements
.filter-links {
  &.concessions     a { color: $cConcessions; }
  &.protected-areas a { color: $cProtectedAreas; }
  &.intact-forest   a { color: $cForest; }
  &.mining          a { color: $cMining; }
  &.forest-cover    a { color: $cForest; }
  &.forest          a { color: $cGray4; }
  &.fire            a { color: $cFire; }
  &.carbon          a { color: $cGray4;}
  &.biodiversity    a { color: $cGray4; }
}

.filter-icons {
  &.concessions     .icon  { @include icons-sprite(concessions); }
  &.protected-areas .icon  { @include icons-sprite(protected_areas); }
  &.intact-forest   .icon  { @include icons-sprite(concessions); }
  &.mining          .icon  { @include icons-sprite(mining); }
  &.forest-cover    .icon  { @include icons-sprite(forest_cover); }
  &.forest          .icon  { @include icons-sprite(forest_cover); }
  &.fire            .icon  { @include icons-sprite(fire); }
  &.carbon          .icon  { @include icons-sprite(concessions); }
  &.biodiversity    .icon  { @include icons-sprite(concessions); }
}

.filter-lines {
  &.concessions      .line { background-color: $cConcessions; }
  &.protected-areas  .line { background-color: $cProtectedAreas; }
  &.intact-forest    .line { background-color: $cForest; }
  &.mining           .line { background-color: $cMining; }
  &.forest-cover     .line { background-color: $cForest; }
  &.forest           .line { background-color: $cForest; }
  &.fire             .line { background-color: $cFire; }
  &.carbon           .line { background-color: $cGray4;}
  &.biodiversity     .line { background-color: $cGray4; }
}


// Fonts
.serif {
  font-family: "Georgia", serif;
}
.sans-serif {
  font-family: "Helvetica Neue", sans-serif;
}

.font-big {
  @extend .serif;
  font-size: 37px;
  color: $cWhite;
}

.font-regular {
  @extend .sans-serif;
  font-size: 15px;
  color: $cWhite;
}

.font-golden {
  @extend .sans-serif;
  font-size: 12px;
  font-weight:bold;
  color: $cGold;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: $cGray2;
  }
}

  .flag-icon {
    strong { padding: 0 0 0 23px; }

    // http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2

    &.it strong { @include flags-sprite(it); }
    &.ad strong { @include flags-sprite(ad); } 
    &.ae strong { @include flags-sprite(ae); }
    &.af strong { @include flags-sprite(af); }
    &.ag strong { @include flags-sprite(ag); }
    &.ai strong { @include flags-sprite(ai); }
    &.al strong { @include flags-sprite(al); }
    &.am strong { @include flags-sprite(am); }
    &.an strong { @include flags-sprite(an); }
    &.ao strong { @include flags-sprite(ao); }
    &.ar strong { @include flags-sprite(ar); }
    &.as strong { @include flags-sprite(as); }
    &.at strong { @include flags-sprite(at); }
    &.au strong { @include flags-sprite(au); }
    &.aw strong { @include flags-sprite(aw); }
    &.ax strong { @include flags-sprite(ax); }
    &.az strong { @include flags-sprite(az); }
    &.ba strong { @include flags-sprite(ba); }
    &.bb strong { @include flags-sprite(bb); }
    &.bd strong { @include flags-sprite(bd); }
    &.be strong { @include flags-sprite(be); }
    &.bf strong { @include flags-sprite(bf); }
    &.bg strong { @include flags-sprite(bg); }
    &.bh strong { @include flags-sprite(bh); }
    &.bi strong { @include flags-sprite(bi); }
    &.bj strong { @include flags-sprite(bj); }
    &.bm strong { @include flags-sprite(bm); }
    &.bn strong { @include flags-sprite(bn); }
    &.bo strong { @include flags-sprite(bo); }
    &.br strong { @include flags-sprite(br); }
    &.bs strong { @include flags-sprite(bs); }
    &.bt strong { @include flags-sprite(bt); }
    &.bv strong { @include flags-sprite(bv); }
    &.bw strong { @include flags-sprite(bw); }
    &.by strong { @include flags-sprite(by); }
    &.bz strong { @include flags-sprite(bz); }
    &.ca strong { @include flags-sprite(ca); }
    &.cc strong { @include flags-sprite(cc); }
    &.cd strong { @include flags-sprite(cd); }
    &.cf strong { @include flags-sprite(cf); }
    &.cg strong { @include flags-sprite(cg); }
    &.ch strong { @include flags-sprite(ch); }
    &.ci strong { @include flags-sprite(ci); }
    &.ck strong { @include flags-sprite(ck); }
    &.cl strong { @include flags-sprite(cl); }
    &.cm strong { @include flags-sprite(cm); }
    &.cn strong { @include flags-sprite(cn); }
    &.co strong { @include flags-sprite(co); }
    &.cr strong { @include flags-sprite(cr); }
    &.cs strong { @include flags-sprite(cs); }
    &.cu strong { @include flags-sprite(cu); }
    &.cv strong { @include flags-sprite(cv); }
    &.cx strong { @include flags-sprite(cx); }
    &.cy strong { @include flags-sprite(cy); }
    &.cz strong { @include flags-sprite(cz); }
    &.de strong { @include flags-sprite(de); }
    &.dj strong { @include flags-sprite(dj); }
    &.dk strong { @include flags-sprite(dk); }
    &.dm strong { @include flags-sprite(dm); }
    &.do strong { @include flags-sprite(do); }
    &.dz strong { @include flags-sprite(dz); }
    &.ec strong { @include flags-sprite(ec); }
    &.ee strong { @include flags-sprite(ee); }
    &.eg strong { @include flags-sprite(eg); }
    &.eh strong { @include flags-sprite(eh); }
    &.er strong { @include flags-sprite(er); }
    &.es strong { @include flags-sprite(es); }
    &.et strong { @include flags-sprite(et); }
    &.fi strong { @include flags-sprite(fi); }
    &.fj strong { @include flags-sprite(fj); }
    &.fk strong { @include flags-sprite(fk); }
    &.fm strong { @include flags-sprite(fm); }
    &.fo strong { @include flags-sprite(fo); }
    &.fr strong { @include flags-sprite(fr); }
    &.ga strong { @include flags-sprite(ga); }
    &.gb strong { @include flags-sprite(gb); }
    &.gd strong { @include flags-sprite(gd); }
    &.ge strong { @include flags-sprite(ge); }
    &.gf strong { @include flags-sprite(gf); }
    &.gh strong { @include flags-sprite(gh); }
    &.gi strong { @include flags-sprite(gi); }
    &.gl strong { @include flags-sprite(gl); }
    &.gm strong { @include flags-sprite(gm); }
    &.gn strong { @include flags-sprite(gn); }
    &.gp strong { @include flags-sprite(gp); }
    &.gq strong { @include flags-sprite(gq); }
    &.gr strong { @include flags-sprite(gr); }
    &.gs strong { @include flags-sprite(gs); }
    &.gt strong { @include flags-sprite(gt); }
    &.gu strong { @include flags-sprite(gu); }
    &.gw strong { @include flags-sprite(gw); }
    &.gy strong { @include flags-sprite(gy); }
    &.hk strong { @include flags-sprite(hk); }
    &.hm strong { @include flags-sprite(hm); }
    &.hn strong { @include flags-sprite(hn); }
    &.hr strong { @include flags-sprite(hr); }
    &.ht strong { @include flags-sprite(ht); }
    &.hu strong { @include flags-sprite(hu); }
    &.id strong { @include flags-sprite(id); }
    &.ie strong { @include flags-sprite(ie); }
    &.il strong { @include flags-sprite(il); }
    &.in strong { @include flags-sprite(in); }
    &.io strong { @include flags-sprite(io); }
    &.iq strong { @include flags-sprite(iq); }
    &.ir strong { @include flags-sprite(ir); }
    &.is strong { @include flags-sprite(is); }
    &.it strong { @include flags-sprite(it); }
    &.jm strong { @include flags-sprite(jm); }
    &.jo strong { @include flags-sprite(jo); }
    &.jp strong { @include flags-sprite(jp); }
    &.ke strong { @include flags-sprite(ke); }
    &.kg strong { @include flags-sprite(kg); }
    &.kh strong { @include flags-sprite(kh); }
    &.ki strong { @include flags-sprite(ki); }
    &.km strong { @include flags-sprite(km); }
    &.kn strong { @include flags-sprite(kn); }
    &.kp strong { @include flags-sprite(kp); }
    &.kr strong { @include flags-sprite(kr); }
    &.kw strong { @include flags-sprite(kw); }
    &.ky strong { @include flags-sprite(ky); }
    &.kz strong { @include flags-sprite(kz); }
    &.la strong { @include flags-sprite(la); }
    &.lb strong { @include flags-sprite(lb); }
    &.lc strong { @include flags-sprite(lc); }
    &.li strong { @include flags-sprite(li); }
    &.lk strong { @include flags-sprite(lk); }
    &.lr strong { @include flags-sprite(lr); }
    &.ls strong { @include flags-sprite(ls); }
    &.lt strong { @include flags-sprite(lt); }
    &.lu strong { @include flags-sprite(lu); }
    &.lv strong { @include flags-sprite(lv); }
    &.ly strong { @include flags-sprite(ly); }
    &.ma strong { @include flags-sprite(ma); }
    &.mc strong { @include flags-sprite(mc); }
    &.md strong { @include flags-sprite(md); }
    &.me strong { @include flags-sprite(me); }
    &.mg strong { @include flags-sprite(mg); }
    &.mh strong { @include flags-sprite(mh); }
    &.mk strong { @include flags-sprite(mk); }
    &.ml strong { @include flags-sprite(ml); }
    &.mm strong { @include flags-sprite(mm); }
    &.mn strong { @include flags-sprite(mn); }
    &.mo strong { @include flags-sprite(mo); }
    &.mp strong { @include flags-sprite(mp); }
    &.mq strong { @include flags-sprite(mq); }
    &.mr strong { @include flags-sprite(mr); }
    &.ms strong { @include flags-sprite(ms); }
    &.mt strong { @include flags-sprite(mt); }
    &.mu strong { @include flags-sprite(mu); }
    &.mv strong { @include flags-sprite(mv); }
    &.mw strong { @include flags-sprite(mw); }
    &.mx strong { @include flags-sprite(mx); }
    &.my strong { @include flags-sprite(my); }
    &.mz strong { @include flags-sprite(mz); }
    &.na strong { @include flags-sprite(na); }
    &.nc strong { @include flags-sprite(nc); }
    &.ne strong { @include flags-sprite(ne); }
    &.nf strong { @include flags-sprite(nf); }
    &.ng strong { @include flags-sprite(ng); }
    &.ni strong { @include flags-sprite(ni); }
    &.nl strong { @include flags-sprite(nl); }
    &.no strong { @include flags-sprite(no); }
    &.np strong { @include flags-sprite(np); }
    &.nr strong { @include flags-sprite(nr); }
    &.nu strong { @include flags-sprite(nu); }
    &.nz strong { @include flags-sprite(nz); }
    &.om strong { @include flags-sprite(om); }
    &.pa strong { @include flags-sprite(pa); }
    &.pe strong { @include flags-sprite(pe); }
    &.pf strong { @include flags-sprite(pf); }
    &.pg strong { @include flags-sprite(pg); }
    &.ph strong { @include flags-sprite(ph); }
    &.pk strong { @include flags-sprite(pk); }
    &.pl strong { @include flags-sprite(pl); }
    &.pm strong { @include flags-sprite(pm); }
    &.pn strong { @include flags-sprite(pn); }
    &.pr strong { @include flags-sprite(pr); }
    &.ps strong { @include flags-sprite(ps); }
    &.pt strong { @include flags-sprite(pt); }
    &.pw strong { @include flags-sprite(pw); }
    &.py strong { @include flags-sprite(py); }
    &.qa strong { @include flags-sprite(qa); }
    &.re strong { @include flags-sprite(re); }
    &.ro strong { @include flags-sprite(ro); }
    &.rs strong { @include flags-sprite(rs); }
    &.ru strong { @include flags-sprite(ru); }
    &.rw strong { @include flags-sprite(rw); }
    &.sa strong { @include flags-sprite(sa); }
    &.sb strong { @include flags-sprite(sb); }
    &.sc strong { @include flags-sprite(sc); }
    &.sd strong { @include flags-sprite(sd); }
    &.se strong { @include flags-sprite(se); }
    &.sg strong { @include flags-sprite(sg); }
    &.sh strong { @include flags-sprite(sh); }
    &.si strong { @include flags-sprite(si); }
    &.sj strong { @include flags-sprite(sj); }
    &.sk strong { @include flags-sprite(sk); }
    &.sl strong { @include flags-sprite(sl); }
    &.sm strong { @include flags-sprite(sm); }
    &.sn strong { @include flags-sprite(sn); }
    &.so strong { @include flags-sprite(so); }
    &.sr strong { @include flags-sprite(sr); }
    &.st strong { @include flags-sprite(st); }
    &.sv strong { @include flags-sprite(sv); }
    &.sy strong { @include flags-sprite(sy); }
    &.sz strong { @include flags-sprite(sz); }
    &.tc strong { @include flags-sprite(tc); }
    &.td strong { @include flags-sprite(td); }
    &.tf strong { @include flags-sprite(tf); }
    &.tg strong { @include flags-sprite(tg); }
    &.th strong { @include flags-sprite(th); }
    &.tj strong { @include flags-sprite(tj); }
    &.tk strong { @include flags-sprite(tk); }
    &.tl strong { @include flags-sprite(tl); }
    &.tm strong { @include flags-sprite(tm); }
    &.tn strong { @include flags-sprite(tn); }
    &.to strong { @include flags-sprite(to); }
    &.tr strong { @include flags-sprite(tr); }
    &.tt strong { @include flags-sprite(tt); }
    &.tv strong { @include flags-sprite(tv); }
    &.tw strong { @include flags-sprite(tw); }
    &.tz strong { @include flags-sprite(tz); }
    &.ua strong { @include flags-sprite(ua); }
    &.ug strong { @include flags-sprite(ug); }
    &.um strong { @include flags-sprite(um); }
    &.us strong { @include flags-sprite(us); }
    &.uy strong { @include flags-sprite(uy); }
    &.uz strong { @include flags-sprite(uz); }
    &.va strong { @include flags-sprite(va); }
    &.vc strong { @include flags-sprite(vc); }
    &.ve strong { @include flags-sprite(ve); }
    &.vg strong { @include flags-sprite(vg); }
    &.vi strong { @include flags-sprite(vi); }
    &.vn strong { @include flags-sprite(vn); }
    &.vu strong { @include flags-sprite(vu); }
    &.wf strong { @include flags-sprite(wf); }
    &.ws strong { @include flags-sprite(ws); }
    &.ye strong { @include flags-sprite(ye); }
    &.yt strong { @include flags-sprite(yt); }
    &.za strong { @include flags-sprite(za); }
    &.zm strong { @include flags-sprite(zm); }
    &.zw strong { @include flags-sprite(zw); }
    &.catalonia strong { @include flags-sprite(catalonia); }
    &.fam strong { @include flags-sprite(fam); }
    &.scotland strong { @include flags-sprite(scotland); }
    &.england strong { @include flags-sprite(england); }
    &.europeanunion strong { @include flags-sprite(europeanunion); }
    &.wales strong { @include flags-sprite(wales); }
  }
