//= require tipsy

//= require mixins
//= require map

@import 'compass/css3/border-radius';
@import 'compass/css3/box-shadow';
@import 'compass/css3/transition';
@import 'compass/css3/user-interface';
@import 'compass/css3/background-size';
@import 'compass/css3/opacity';
@import 'compass/css3/inline-block';
@import 'compass/css3/transition';
@import 'compass/css3/text-shadow';

@import 'fonts';
@import 'helpers';

@import 'icons/*.png';


/* =Header
----------------------------------------------- */

.home {
  .header-inner {
    overflow: hidden;
  }

  .header-logo {
    position: absolute;
    top: 44px;
  }

  .header-title {
    position: absolute;
    top: 144px;
    float: left;
    width: 465px;
    font-size: 36px;
    text-align: left;
  }

  .sources {
    display: none;
  }
}

.big_numbers {
  margin-top: 57px;
  float: right;

  li {
    display: inline-block;
    width: 140px;
    padding: 0 20px;
    border-right: 1px solid #ccc;

    &.last {
      width: 100px;
      border: 0;
      padding-right: 0;
    }

    span {
      display: inline-block;
      width: 100px;
      margin: 0 0 10px;
      @extend .serif;
      color: #A1BA42;
      font-size: 41px;
    }

    p {
      color: #999;
      font-size: 12px;
      line-height: 1.3;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}


/* =Map
----------------------------------------------- */

.map-container {
  position: relative;
}

#map {
  position: relative;
  width: 100%;
  height: 400px;
  border-top: 1px solid #717D80;
  border-bottom: 1px solid #717D80;
  @include user-select(none);

  a {
    @include transition(none);
  }
}

.analysis-link {
  margin: 5px;
  z-index: 10;
  position: absolute;
  top: 0px; left: 0px;
  background-color: #fff;
  padding: 4px;
  @include border-right-radius(2px);
  border: 1px solid rgba(#000, 0.14902);
  @include box-shadow(rgba(#000, 0.298039) 0px 1px 4px -1px);
  font: 400 11px Roboto, Arial, sans-serif;
  color: rgb(86, 86, 86);
  text-decoration: none;

  &:hover {
    background-color: rgb(235, 235, 235);
    color: #000;
  }
}

.analysis-bar {
  display: none;
  margin: 0 0 5px -238px;
  z-index: 10;
  position: absolute;
  bottom: 0px; left: 50%;
  width: 476px;
  background-color: #fff;
  padding: 4px;
  @include border-right-radius(2px);
  border: 1px solid rgba(#000, 0.14902);
  @include box-shadow(rgba(#000, 0.298039) 0px 1px 4px -1px);
  text-decoration: none;

  &:hover {
    background-color: rgb(235, 235, 235);
    color: #000;
  }
}


/* =Circle
----------------------------------------------- */

.circle {
  $width: 318px;
  position: absolute;
  top: 50%; left: 50%;
  width: 318px;
  height: 318px;
  margin-left: -1*$width/2;
  @include opacity(0);
  @include icons-sprite(circle);
  text-align: center;

  &:hover {
    cursor: pointer;
  }

  .circle-inner {
    position: relative;
    top: 100px;
    width: 100%;
  }

  .icon {
    position: absolute;
    z-index: 1000;
    top: 25px; right: 25px;
    height: 74px;
    width: 74px;
    background: image-url('icons/green_circle.png') no-repeat 50% 50%;
    @include background-size(10%);
    @include opacity(0);

    &.flag i {
      position: absolute;
      top: 50%; left: 50%;
      margin: -14px 0 0 -13px;
      width: 26px;
      height: 28px;
      @include icons-sprite(flag);
    }

    &.area i {
      position: absolute;
      top: 50%; left: 50%;
      margin: -17px 0 0 -18px;
      width: 36px;
      height: 34px;
      @include icons-sprite(area);
    }

    i { display: block; }
  }
}

.circle-title {
  margin: 10px auto 0;
  width:175px;
  font-size: 15px;
  line-height: 18px;
  @extend .sans-serif;
  color: #fff;
  // @include opacity(0);
}

.circle-counter {
  text-align: center;
  font-weight: 300;
  font-size: 67px;
  @extend .serif;
  color: #A1BA42;
  // @include opacity(0);
}

.circle-explore {
  position: relative;
  top: -56px;
  font-weight: bold;
  font-size: 13px;
  @extend .sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  @include opacity(0);
  cursor: pointer;
}

.circle-background {
  position: absolute;
  top: -100px; left: 0;
  width: 250px;
  height: 250px;
  margin-top: 35px;
  margin-left: 35px;
  @include icons-sprite(four_arrows);
  // @include opacity(0);
  cursor: pointer;
}

.draw {
  position: absolute;
  top: 20px; left: 70px;
  z-index: 100;
}


/* =Filters
----------------------------------------------- */

#filters {
  position: absolute;
  z-index: 1000;
  top: 180px;
  width: 100%;
  height: 10px;

  .inner { position: relative; }
}

.filters {
  display: none;
  position: absolute;
  z-index: 1000;
  overflow: hidden;
  top: -60px; left: 0;
  width: 980px;
  height: 20px;
  padding: 40px 0 0;
}

.filters-list {
  float: right;
}

.filter {
  float: left;
  margin: -30px 0 0 1px;
  padding: 30px 0 0;
  text-align: center;
  @include opacity(0);

  a {
    position: relative;
    top: 0;
    padding: 0 14px;
    margin: 0 0 18px 0;
    font-weight: bold;
    font-size: 12px;
    @extend .sans-serif;
    text-transform: uppercase;
    text-decoration: none;
  }

  .filter-line {
    position: relative;
    bottom: 0px; left: 0;
    width: auto;
    height: 4px;
  }
}

.source {
  display: block;
  position: absolute;
  top: 13px;
  right: 10px;
  width: 10px;
  height: 10px;
  @include icons-sprite(information);

  &.hidden {
    display: none;
  }
}

#layer {
  position: absolute;
  z-index: 1000;
  top: -77px; left: -9999px;
  width: 170px;
  height: 90px;
  background-color: #fff;
  @include opacity(0);
  @include box-shadow(0px 0px 5px 1px rgba(#000, .15));

  &.forest_change .filter-icon  { @include icons-sprite(icon_forest_clearing); }
  &.forest_cover  .filter-icon  { @include icons-sprite(icon_forest_cover); }
  &.forest_use    .filter-icon  { @include icons-sprite(icon_forest_use); }
  &.conservation  .filter-icon  { @include icons-sprite(icon_conservation); }
  &.people        .filter-icon  { @include icons-sprite(icon_regrowth); }
  &.stories       .filter-icon  { @include icons-sprite(icon_stories); }

  .filter-line {
    position: relative;
    top: 61px; left: 0;
    height: 4px;
    width: auto;
  }
}

.filter-title {
  display: block;
  position: absolute;
  top: 46px;
  position: relative;
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 12px;
  @extend .sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  @include transition(none);
}

.filter-scroll {
  overflow: hidden;
  overflow-x: none;
  position: absolute;
  top: 87px;
  width: 170px;
  height: 200px;
  background: #fff;
  @include box-shadow(0px 0px 5px 1px rgba(#000, .15));
}

.filter-links {
  > li {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
    padding: 9px 10px 10px;
    width: 150px;
    list-style: none;
    font-size: 13px;
    line-height: 17px;
    @extend .sans-serif;

    &.last { border:none; }
  }

  .subtitle {
    margin-left: 17px;
    font-size: 11px;
    @extend .sans-serif;
    color: #ccc;
  }

  .radio,
  .checkbox {
    display: block;
    position: relative;
    width: 120px;
    color: #ccc;
    @include transition(none);

    .name { width: 95px; }
  }

  .radio {
    @include inline-block();
    padding-left: 17px;
    @include radio(radio);
  }

  .checkbox {
    @extend .check_icon;

    &.checked {
      &.forest_change { background: #F69; }
      &.forest_cover  { background: #B2D26E; }
      &.forest_use    { background: #c98e6c; }
      &.conservation  { background: #3182BD; }
      &.people        { background: #707D92; }
      &.stories       { background: #F2B257; }
    }
  }

  .name {
    display: block;
    float: left;
  }

  .checked {
    &.forest_change { color: #F69; }
    &.forest_cover  { color: #B2D26E; }
    &.forest_use    { color: #c98e6c; }
    &.conservation  { color: #3182BD; }
    &.people        { color: #707D92; }
    &.stories       { color: #F2B257; }
  }

  .disabled {
    background: #F5F5F5 image-url('icons/disabled.png') no-repeat 10px 50%;
    color: #ccc;

    strong {
      display: block;
      font-size: 12px;
    }

    .name { margin-left: 27px; }
  }

  .extra {
    margin: 10px 0 0 17px;

    .subtitle { margin-left: 0; }
  }
}

.filter-icon {
  position: absolute;
  top: 30px; left: 50%;
  width: 16px;
  height:16px;
  margin: -8px;
}


/* =Legend
----------------------------------------------- */

.legend {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 35px; left: 60px;
  width: 245px;
  min-height: 20px;
  border: 1px solid #666;
  padding: 10px 0;
  font-size: 11px;
  @extend .sans-serif;
  color: #999;
  background: #fff;
  @include border-radius(3px);
  @include box-shadow(0px 0px 3px #666);
  cursor: move;

  .toggle {
    position: absolute;
    top: 2px; right: -25px;
    width: 25px;
    height: 38px;
    @include icons-sprite(legend_toggle_close);
    @include transition(none);
  }

  &.closed .toggle { @include icons-sprite(legend_toggle_open); }

  .shadow {
    display: none;
    position: absolute;
    z-index: 100;
    bottom: 1px;
    width: 100%;
    height: 20px;
    background: image-url('backgrounds/white_shadow.png') repeat-x;
  }

  .jspPane {
    width: 245px;
  }

  .jspVerticalBar {
    margin-right: 10px;
  }

  .content {
    width: 245px;
    max-height: 400px;
    height: 20px;
    overflow: auto;
    outline: none;
  }

  .checkbox {
    display: block;
    float: left;
    position: relative;
    width: auto;
    font-size: 13px;
    line-height: 17px;
    @extend .sans-serif;

    @extend .check_icon;

    .name {
      color: #ccc;
      width: auto;
    }
  }

  .info {
    margin: 9px 0 0;
    font-size: 11px;

    strong {
      display: block;
      margin: 0 0 7px;
      font-size: 10px;
    }

    p { font-size: 11px; }

    .units {
      font-weight: normal;
      font-size: 10px;
    }

    &.tree {
      &.pink { display: none; }

      .colors {
        border: 1px solid #ccc;

        div {
          width: 33%;

          &:last-child { width: 34%; }

          text-align: center;
          padding: 6px 0;
          font-size: 10px;
          line-height: 100%;
          color: #fff;
          @include text-shadow(0px 0px 2px #000);
        }
      }
    }

    .data .min { width: auto; float: left; }
    .data .max { width: auto; float: right; }

    .colors {
      display: table-row;
      margin: 3px 0 5px 0;
      border: 1px solid #FED98E;
      @include border-radius(3px 3px 3px 3px);

      div {
        width: 25%;
        height: 10px;
        display: table-cell;

        &:first-child {
          @include border-radius(3px 0 0 3px);
        }

        &:last-child {
          @include border-radius(0 3px 3px 0px);
        }
      }
    }
  }

  ul {
    border-top: 1px solid #E5E5E5;
    padding: 15px;

    &:first-child { border-top: none; }

    > ul {
      padding: 0 0 0 10px;
      border: none;

      li {
        margin: 0 0 5px;

        div { width: 184px; }
      }
    }

    &.double li {
      display: block;
    }

    &.sublayer {
      min-height: 73px;
    }

    li {
      display: none;
      clear: both;
      position: relative;
      overflow: hidden;
      font-size: 13px;
      margin: 0 0 10px;
      padding: 1px 0;
      line-height: normal;

      &:last-child { margin: 0; }

      i {
        @include inline-block();
        float: left;
        margin: 3px 5px 0 0;
        width: 7px;
        height: 7px;
        background:#ccc;
        @include border-radius(100px);
      }

      div {
        float: left;
        width: 194px;
      }

      strong {
        font-weight: bold;
        font-size: 11px;
        text-transform: uppercase;
      }
    }
  }

  .source {
    top: 3px; right: 0;
  }
}

.coverage_category {
  margin: 10px 0 0 10px;
  position: relative;
  overflow: hidden;
}

.layer_count {
  display: none;
  height: 20px;
  line-height: 20px;
  padding: 0 15px;
  font-weight: bold;
  font-size: 11px;
  color: #bbb;
  text-transform: uppercase;
}


/* =Content
----------------------------------------------- */

.home_actions {
  padding: 0;

  h3 {
    margin: 0 0 20px;
    @extend .serif;
    font-size: 29px;
    color: #fff;
  }

  p {
    height: 90px;
    margin: 0 0 20px;
  }

  i {
    display: block;
    margin: 0 auto;
    height: 92px;
  }

  .community i {
    position: relative;
    top: 0px;
    width: 134px;
    @include icons-sprite(community);
  }

  .analysis_tool i {
    width: 150px;
    @include icons-sprite(analysis);
  }

  .submit_story i {
    width: 122px;
    @include icons-sprite(submit_story);
  }
}

.home_stories {
  padding-bottom: 0;
  background: #fff image-url('backgrounds/bkg_header.png') repeat-x top center;
}


.story_infowindow {
  $pR: 18px;
  $pL: 10px;
  $w: 215px;

  display: block;
  position: absolute;
  width: $w;
  padding: 0 0 6px;
  visibility: hidden;
  text-align: center;

  .infowindow_content a { color: #A1BA42; }

  .outer_top {
    width:$w - $pL - $pR;
    padding: 10px $pR  5px $pL;
    background: image-url('icons/bkg_infowindow_story.png') no-repeat;
  }

  .bottom {
    position: absolute;
    bottom: -8px;
    width: $w;
    height: 14px;
    background: image-url('icons/bkg_infowindow_story.png') no-repeat right top;
  }

  .top {
    width: 174px;
    max-height: 190px;
    margin: 0 auto;
    text-align: left;

    strong a {
      display: block;
      margin: 0 0 5px;
      width: 180px;
      color: #F3F2F0;
      font-size: 17px;
      @extend .serif;
      text-decoration :none;

      &:hover { text-decoration: underline; }
    }

    color: #999;
    font-size: 12px;
    @extend .sans-serif;
  }
}

.cartodb_infowindow {
  $width: 268px;

  position:absolute;
  display:block;
  width:$width;
  max-height: 250px;
  padding:0 0 6px;
  visibility:hidden;
  text-align:center;


  a.close {
    position: absolute;
    top: 20px;
    right: 5px;
    width: 6px;
    height: 6px;
    @include icons-sprite(infowindow_close);
  }

  $pR: 25px;
  $pL: 17px;

  .outer_top {
    width:$width - $pL - $pR;
    padding:25px $pR  5px $pL;
    background:url('icons/bkg_infowindow.png') no-repeat left top;
  }

  .bottom {
    position: absolute;
    bottom: -6px;
    left: -1px;
    width:$width;
    height:20px;
    background:url('icons/bkg_infowindow.png') no-repeat right top;
  }

  .shadow {
    position: absolute;
    bottom: 13pc;
    left: 6px;
    width: 6px;
    height: 6px;
    background:url(backgrounds/white_shadow.png) repeat-x;

    z-index: 100;
  }

  .top {
    width:245px;
    max-height:200px;
    margin:auto;
    overflow-y:auto;
    overflow-x:hidden;

    text-align: left;

    .jspTrack {background: none;}
    .jspDrag {background: #EDEDED;}
    .jspHover, .jspActive {background:#666666}
    .jspVerticalBar {
      margin-right: 3px;
    }

    label {
      display:block;
      width:auto; padding:0 0 0 5px;
      @extend .sans-serif;
      font-size:11px;
      color:#CCCCCC;
      text-shadow:0 1px white;
    }

    .infowindow_content {
      width:100%;
      padding: 0 0 10px 0;

      /*margin: 0 0 0 5px;*/
    }

    p {
      display:block;
      width:220px;
      max-height:20px;
      padding:2px 4px;
      margin:2px 0 10px 0;
      @extend .sans-serif;
      font-weight:normal;
      font-size:13px;
      color:#666666;
      border:none;
      background:none;
      text-shadow:0 1px white;
      text-overflow:ellipsis;
      overflow:hidden;
      white-space:nowrap;

      &.empty {font-weight:normal; font-style:italic; color:#b7b7b7;}
    }


    .title {

      padding:2px 0 20px 0px;
      margin:2px 0 10px 5px;
      border-bottom: 3px solid #ccc;

      strong {
        text-overflow:ellipsis;
        display:block;
        @extend .sans-serif;
        font-weight:bold;
        font-size:12px;
        text-transform: uppercase;
      }
    }

  }
}
.map_coordinates {
  position: absolute;
  z-index: 10;
  bottom: 20px; right: 10px;
  font-weight: bold;
  font-size: 11px;
  @extend .sans-serif;
  text-align: right;
  color: #fff;
  @include text-shadow(0px 0px 3px #222);
  @include user-select(text);
}

#viewfinder {
  display: none;
  position: absolute;
  z-index: 10;
  top: 50%; left: 50%;
  height: 19px;
  width: 19px;
  @include icons-sprite(viewfinder);
}

.marker {
  position: absolute;
  height: 36px;
  width: 36px;

  img {
    display: block;
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;

    &.rounded {
      z-index: 100;
      width: 50px;
      height: 50px;
      @include border-radius(26px);
    }
  }

  &:hover { cursor: pointer!important; }

  .mask {
    position: absolute;
    top: -9px; left: -9px;
    width: 67px;
    height: 66px;
    @include icons-sprite(marker_hollow);
    z-index: 100;
  }
}
