//= require tipsy

@import 'compass/css3/border-radius';
@import 'compass/css3/box-shadow';
@import 'compass/css3/transition';
@import 'compass/css3/user-interface';
@import 'compass/css3/background-size';
@import 'compass/css3/opacity';

@import 'fonts';

@import "icons/*.png";


/* =Header
----------------------------------------------- */

.home {
  .header-title {
    float: left;
    width: 465px;
    font-size: 36px;
    text-align: left;
  }

  .sources {
    display: none;
  }
}

.big_numbers {
  float: right;

  li {
    display: inline-block;
    width: 140px;
    padding: 0 20px;
    border-right: 1px solid #ccc;

    &.last {
      width: 100px;
      border: 0;
      padding-right: 0;
    }

    span {
      display: inline-block;
      width: 100px;
      margin: 0 0 10px;
      @extend .serif;
      color: #A1BA42;
      font-size: 41px;
    }

    p {
      color: #999;
      font-size: 12px;
      line-height: 1.3;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}


/* =Map
----------------------------------------------- */

.map-container {
  position: relative;
}

#map {
  width: 100%;
  height: 400px;
  border-top: 1px solid #717D80;
  border-bottom: 1px solid #717D80;
  @include user-select(none);
}

// mock map
.analysis {
  display: none;
}

.analysis-link {
  margin: 5px;
  z-index: 10;
  position: absolute;
  top: 0px; left: 0px;
  background-color: #fff;
  padding: 4px;
  @include border-right-radius(2px);
  border: 1px solid rgba(#000, 0.14902);
  @include box-shadow(rgba(#000, 0.298039) 0px 1px 4px -1px);
  font: 400 11px Roboto, Arial, sans-serif;
  color: rgb(86, 86, 86);
  text-decoration: none;

  &:hover {
    background-color: rgb(235, 235, 235);
    color: #000;
  }
}

.analysis-bar {
  display: none;
  margin: 0 0 5px -238px;
  z-index: 10;
  position: absolute;
  bottom: 0px; left: 50%;
  width: 476px;
  background-color: #fff;
  padding: 4px;
  @include border-right-radius(2px);
  border: 1px solid rgba(#000, 0.14902);
  @include box-shadow(rgba(#000, 0.298039) 0px 1px 4px -1px);
  text-decoration: none;

  &:hover {
    background-color: rgb(235, 235, 235);
    color: #000;
  }
}

.circle {
  $width: 318px;
  position: absolute;
  top: 41px; left: 50%;
  width: 318px;
  height: 318px;
  margin-left: -1*$width/2;
  @include opacity(0);
  @include icons-sprite(circle);
  text-align: center;

  &:hover {
    cursor: pointer;

  }

  .circle-inner {
    position: relative;
    top: 100px;
    width: 100%;
  }

  .icon {
    position: absolute;
    z-index: 1000;
    top: 25px; right: 25px;
    height: 74px;
    width: 74px;
    background: image-url('icons/green_circle.png') no-repeat 50% 50%;
    @include background-size(10%);
    @include opacity(0);

    &.flag i {
      position: absolute;
      top: 23px; left: 50%;
      margin-left: -13px;
      width: 26px;
      height: 28px;
      @include icons-sprite(flag);
    }

    &.area i {
      position: absolute;
      top: 20px; left: 50%;
      margin-left: -18px;
      width: 36px;
      height: 34px;
      @include icons-sprite(area);
    }

    i { display: block; }
  }
}

.circle-title {
  margin: 10px auto 0;
  width:175px;
  font-size: 15px;
  line-height: 18px;
  @extend .sans-serif;
  color: #fff;
  // @include opacity(0);
}

.circle-counter {
  text-align: center;
  font-weight: 300;
  font-size: 67px;
  @extend .serif;
  color: #A1BA42;
  // @include opacity(0);
}

.circle-explore {
  position: relative;
  top: -56px;
  font-weight: bold;
  font-size: 13px;
  @extend .sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  @include opacity(0);
  cursor: pointer;
}

.circle-background {
  position: absolute;
  top: -100px; left: 0;
  width: 250px;
  height: 250px;
  margin-top: 35px;
  margin-left: 35px;
  @include icons-sprite(four_arrows);
  // @include opacity(0);
  cursor: pointer;
}

.draw {
  position: absolute;
  top: 20px; left: 70px;
  z-index: 100;
}


/* =Filters
----------------------------------------------- */

#filters {
  position: absolute;
  z-index: 1000;
  width: 100%;
  top: 119px; left: 0;

  .inner { position: relative; }

  .filters {
    display: none;
    position: relative;
    width: 960px;
    height: 20px;
    padding: 40px 0 0;
    overflow: hidden;
    z-index: 1000;

    ul { float:right; }

    li {
      position: relative;
      float: left;
      top: -30px;
      margin: 0 0 0 1px;
      padding: 30px 0 0;
      text-align: center;
      opacity: 0;

      .icon  {
        position: absolute;
        top: -20px; left:50%;
        margin: -8px;
        width:16px;
        height:16px;
      }

      .line {
        position: relative;
        bottom: 0px; left:0;
        height: 4px;
        width: auto;
      }

      a {
        position: relative;
        top: 0;
        padding: 0 14px;
        margin: 0 0 18px;
        font-weight: bold;
        font-size:12px;
        @extend .sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        cursor: default;
      }
    }
  }
}

#layer {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: -9999px;
  width: 170px;
  height: 90px;
  opacity:0;

  &.forest_change .icon  { @include icons-sprite(icon_forest_clearing); }
  &.forest_cover  .icon  { @include icons-sprite(icon_forest_cover); }
  &.forest_use    .icon  { @include icons-sprite(icon_forest_use); }
  &.conservation  .icon  { @include icons-sprite(icon_conservation); }
  &.people        .icon  { @include icons-sprite(icon_regrowth); }
  &.stories       .icon  { @include icons-sprite(icon_stories); }

  .scroll {
    background: #fff;
    position: absolute;
    top: 87px;
    overflow: hidden;
    width: 170px;
    height: 200px;
    @include box-shadow(0px 0px 5px 1px rgba(#000 ,.15));
  }

  .links {
    li {
      position: relative;
      list-style: none;
      border-bottom: 1px solid #e5e5e5;
      padding: 9px 10px 10px;
      &.last { border: none; }

      &.disabled {
        background: #F5F5F5;
        color: #ccc;

        strong { font-size: 12px; }
      }
    }

    .radio,
    .checkbox,
    .disabled {
      position: relative;
      display: block;
      width: 130px;
      font-size: 13px;
      line-height:17px;
      @extend .sans-serif;

      .name { width :100px; }
    }

    .disabled strong { display: block; }
  }

  .source {
    display: block;
    position: absolute;
    top: 13px; right: 10px;
    width: 10px;
    height: 10px;
    @include icons-sprite(information);
  }

  > a {
    display: block;
    position: relative;
    top: 46px;
    margin: 0 0 10px;
    text-align:center;
    font-weight: bold;
    font-size: 12px;
    @extend .sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    cursor: default;
    @include transition(none);
  }

  .line {
    position: relative;
    top: 61px;
    left: 0;
    height: 4px;
    width: auto;
  }

  .icon  {
    position: absolute;
    top: 30px; left:50%;
    margin: -8px;
    width: 16px;
    height: 16px;
  }

  background-color: #fff;
  @include box-shadow(0px 0px 5px 1px rgba(#000, .15));
}


/* =Content
----------------------------------------------- */

.home_actions {
  padding: 0;

  h3 {
    margin: 0 0 20px;
    @extend .serif;
    font-size: 29px;
    color: #fff;
  }

  p {
    height: 50px;
    margin: 0 0 20px;
  }

  i {
    display: block;
    margin: 0 auto;
    height: 92px;
  }

  .community i {
    position:relative;
    top: 0px;
    width: 134px;
    @include icons-sprite(community);
  }

  .analysis_tool i {
    width: 150px;
    @include icons-sprite(analysis);
  }

  .submit_story i {
    width: 122px;
    @include icons-sprite(submit_story);
  }
}

.home_stories {
  padding-bottom: 0;
  background: #fff image-url('backgrounds/bkg_header.png') repeat-x top center;
}
