// Compass
@import "compass/reset";
@import "compass/css3";

// Settings
@import "settings/settings";
@import "global/utils";
@import "global/common";
@import "global/texts";

// Layouts
@import "layouts/foundation-grid";
@import "layouts/landing";

// Components
@import "components/buttons/c-arrow-button";
@import "components/buttons/c-regular-button";
@import "components/c-slider-dots";
@import "components/c-social";
@import "components/c-default-header";
@import "components/home/c-home-cover";
@import "components/home/c-home-summary";
@import "components/home/c-home-use-examples";
@import "components/home/c-home-applications";
@import "components/home/c-home-news";
