// Compass
@import "compass/reset";
@import "compass/css3";

// Images
@import "logos/*.png",
        "getting-started/*.png",
        "blog-categories/*.png";

// Global
// This will load all common settings, mixins and styles needed
@import "global/global";

// Layouts
// This will load all common layouts styles
@import "layouts/layouts";

// // Modules
@import "modules/modal";
@import "modules/modal_new";
@import "modules/form";
@import "modules/shared";
@import "modules/buttons";
@import "modules/icons";
@import "modules/slick";
@import "layouts/landing";
@import "modules/notifications";

@import "modules/connect/user-form";
