@import "compass";
@import "compass/reset";
@import "helpers";
@import "compass/css3/user-interface";

  /* Tiles loader control */

  div.cartodb-tiles-loader {
    position:relative;
    float:left;
    display:block;
    left:0;
    top:0;
  }

  div.cartodb-tiles-loader div.loader {
    position:absolute;
    display:block;
    top:57px;
    left:20px;
    margin:20px 0 0 0;
    height:24px;
    width: 24px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    z-index: 5;
    @include background(image-url('icons/loader.gif') no-repeat center center);
    background-color:#fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #999999;
  }



#credit-control {
  a { color: #444; }
  display:none;
  font-size: 11px;
  font-family: Arial, sans-serif;
  margin: 0;
  color: #444;
  z-index: 0;
  position: absolute;
  right: 113px;
  bottom: 0px;
  height: 19px;
  line-height: 19px;
  padding-right: 20px;
  padding-left: 50px;
  margin-right: -40px;
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.498039) 50px);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.498039) 50px);
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.498039) 50px);
  direction: ltr;
  text-align: right;
  background-position: initial initial;
  background-repeat: initial initial;
}

#filters {
  @include size(100%, 10px);
  @include position(135px, false, false, 0);

  z-index: 1000;

  #layer {
    position:absolute;
    top: 0;
    left:-9999px;
    @include size(170px, 90px);

    z-index:1000;
    opacity:0;

    @extend .filter-links;
    @extend .filter-icons;

    .scroll {
      background:#fff;
      position:absolute;
      top: 87px;
      overflow:hidden;
      overflow-x: none;
      outline:none;

      @include size(170px, 200px);
      -moz-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.15);
      -webkit-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.15);
      box-shadow:0px 0px 5px 1px rgba(0,0,0,0.15);

      .jspContainer {
        overflow: visible;
      }
    }

    .links {

      li {
        position:relative;
        list-style: none;
        border-bottom: 1px solid $cSeparator;
        padding: 9px 10px 10px 10px;
        &.last { border:none; }

        &.disabled {
          background: #F5F5F5;
          color: $cGray4;
          strong {font-size: 12px;}
        }
      }

      a.radio, a.checkbox, span.disabled {
        position: relative;
        @extend .sans-serif;
        display:block;
        width: 130px;
        font-size:13px;
        line-height:17px;

        .name { width :100px; }
      }

      span.disabled {
        @include disabled(disabled);

        strong { display: block; }
      }
    }

    .source {
      /*@include inline-block();*/
      @include size(10px);
      @include icons-sprite(information);

      @include absolute-portrait-center(10px);
      right: 10px;

      &:hover {
        @include icons-sprite(information);
      }
    }

    & > a {
      display:block;
      position:absolute;
      top: 46px;
      position:relative;
      margin: 0 0 10px 0;

      text-align:center;

      @extend .sans-serif;
      font-size: 12px;
      font-weight:bold;
      text-transform: uppercase;
      text-decoration: none;

    }

    .line {
      position:relative;
      top:61px;
      left:0;
      height: 4px;
      width:auto;
    }

    .icon  { position:absolute; top: 30px; left:50%; margin: -8px; width:16px; height:16px; }

    @extend .filter-links;
    @extend .filter-icons;

    background-color:rgb(255,255,255);
    -moz-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.15);
    box-shadow:0px 0px 5px 1px rgba(0,0,0,0.15);
  }


  .filters {
    height: 20px;
    position:absolute;
    right:50%;
    width: 832px;
    margin-right: -462px;
    @include clearfix();

    top: -60px;
    overflow:hidden;

    display:none;

    padding: 40px 0 0 0;

    /*border-top: 1px solid $cGray4;*/
    z-index:1000;
  }

  .filters .advance {
    display:block;
    position:absolute;
    right: 10px;
    top: 80px;
    width:20px;
    height:20px;
    @include icons-sprite(arrow_right);
    z-index:20;

    &:hover {
      @include icons-sprite(arrow_right_hover);
    }

    &:active {
      @include icons-sprite(arrow_right_active);
    }
  }

  .filters .white-shadow {
    width:117px;
    height:51px;
    top: 9px;
    right: -30px;
    position:absolute;
    background:url(backgrounds/bkg_filter_gradient.png) no-repeat;
    z-index:10;
    display:none;
  }

  .filters .inner { position:relative; }
  .filters .inner > ul { float:right; }
  .filters .inner > ul  > li {
    position:relative;
    float:left;
    margin: 0 0 0 1px;
    top: -30px;
    padding: 30px 0 0 0;

    opacity:0;

    text-align: center;

    @extend .filter-links;
    @extend .filter-icons;

    .icon  { position:absolute; top: -20px; left:50%; margin: -8px; width:16px; height:16px; }

    .line {
      position:relative;
      bottom:0px;
      left:0;
      height: 4px;
      width:auto;
    }

    & > a {
      position:relative;
      top: 0;
      padding: 0 14px;
      margin: 0 0 18px 0;

      @extend .sans-serif;
      font-size:12px;
      font-weight:bold;
      text-transform: uppercase;
      text-decoration: none;
    }
  }


}

#viewfinder {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  height: 19px;
  width: 19px;
  display: block;
  @include icons-sprite(viewfinder);
}

.map_coordinates {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  right: 10px;
  text-align: right;
  color:#fff;
  font-weight:bold;
  @extend .sans-serif;
  font-size:11px;
  text-shadow: 0px 0px 3px #222;
  @include user-select(text);
}

#map-container {
  position:relative;
  z-index: 110;

  &.error {
    border: 1px solid #C12000;
    clear: both;
    overflow: hidden;
    .map { border:none; }
  }

  .map {
    width:100%;
    height:400px;
    margin:auto;
    border-top: 1px solid #717D80;
    border-bottom: 1px solid #717D80;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  // Markers
  #map .marker {
    position:absolute;
    @include size(36px);

    &.with_picture { @include size(67px); }

    img {
      @include size(100%);
      position:relative;
      display:block;
      z-index: 10;
    }

    &:hover { cursor:pointer!important; }

    .mask {
      @include position(-9px, false, false, -9px);
      @include size(67px, 66px);
      @include icons-sprite(marker_hollow);
      z-index: 100;
    }

    img.rounded {
      @include position(0, false, false, 0);
      @include size(50px);
      display:block;
      @include border-radius(200px);
      z-index: 100;
    }

  }

  .circle {

    $width: 318px;

    @include size($width);
    @include position(-100px, false, false, 50%);

    margin-left: -1*$width/2;
    margin-top: -1*$width/2;

    opacity:0;

    @include icons-sprite(circle);

    text-align:center;

    .inner {
      position:relative;
      top:100px;
    }

    .icon {
      background: url(icons/green_circle.png) no-repeat;
      background-position: 50% 50%;
      background-size: 10%;

      @include size(74px);
      @include position(25px, 25px, false, false);

      opacity: 0;

      z-index: 1000;

      &.flag i {
        @include absolute-center(26px, 28px);
        @include icons-sprite(flag);
        width: 26px;
        height: 28px;
      }

      &.area i {
        @include absolute-center(36px, 34px);
        @include icons-sprite(area);
        width: 36px;
        height: 34px;
      }

      i { display: block; }

    }

    .inner > .title {
      margin: 10px auto 0 auto;
      width:175px;

      @extend .sans-serif;
      font-size:15px;

      line-height:18px;

      font-weight:400;
      color:$cWhite;
      opacity: 0;
    }

    .inner > .counter {
      text-align:center;
      @extend .serif;
      font-size:67px;
      font-weight:200;
      color: $cLink;
      opacity: 0;
    }

    .inner > .explore {
      position:relative;
      top: -56px;

      text-align:center;
      @extend .sans-serif;
      font-size:13px;
      font-weight:bold;
      text-transform: uppercase;
      color: $cWhite;
      opacity:0;
      cursor: pointer;
    }

    .inner > .background {
      @include absolute-center(251px, 250px);
      @include icons-sprite(four_arrows);
      opacity: 0;
      cursor: pointer;
    }
  }

  .draw { position:absolute; top: 20px; left: 70px; z-index:100; }


}



.landsat_layers,
.layer_selector {

  width:155px;
  min-height: 40px;

  @include position(35px, 65px, false, false);
  @include border-radius(3px);
  @include box-shadow(0px 0px 3px $cGray2);

  background:$cWhite;
  border: 1px solid $cGray2;

  display:none;
  cursor: move;

  z-index: 1000;

  .toggle {
    @include position(2px, -25px, false, false);
    @include size(25px, 38px);
    @include icons-sprite(layer_arrow_down);
  }

  &.closed .toggle { @include icons-sprite(layer_arrow_up); }

  .layers {
    @include size(100%, 0);
    opacity: 0;

    li {
      border-bottom: 1px solid #ddd;

      &:last-child { border:none; }
    }
  }

  .layers li, .selected_layer li, li {

    padding: 10px;
    position: relative;

    a {
      display:block;
      @extend .sans-serif;
      font-size:13px;
      color: $cGray2;
      text-decoration:none;

      &:hover { color: $cGray1; }

      &.source {
        @include size(10px);
        @include icons-sprite(information);

        @include absolute-portrait-center(10px);
        right: 10px;

        &:hover {
          @include icons-sprite(information);
        }
      }
    }

    &.satellite      i { @include icons-sprite(map_satellite); }
    &.terrain        i { @include icons-sprite(map_terrain_bn); }
    &.classic        i { @include icons-sprite(map_terrain); }
    &.tree_height    i { @include icons-sprite(map_tree_height); }
    &.landsat,
    &.landsat1999,
    &.landsat2000,
    &.landsat2001,
    &.landsat2002,
    &.landsat2003,
    &.landsat2004,
    &.landsat2005,
    &.landsat2006,
    &.landsat2007,
    &.landsat2008,
    &.landsat2009,
    &.landsat2010,
    &.landsat2011,
    &.landsat2012 {
      i { @include icons-sprite(map_landsat); }
    }

    i {
      @include inline-block();
      @include size(27px, 22px);
      margin: 0 5px 0 0;
      background:#ddd;
    }

  }

  .selected_layer {
    height: 40px;
  }
}

.landsat_layers {
  width:200px;
  z-index: 10000;

  li {
    width:80px;
    float: left;

    i,
    .source { display: none; }
  }

  .tip {
    @include size(8px, 11px);
    @include absolute-portrait-center(13px);
    @include icons-sprite(landsat_selector_tip);
    right: -8px;
  }
}

.legend {
  width:211px;
  min-height: 40px;

  @include position(35px, false, false, 60px);
  @include border-radius(3px);
  @include box-shadow(0px 0px 3px $cGray2);

  background:#fff;
  border: 1px solid #666;

  @extend .sans-serif;
  font-size:11px;
  color: $cGray3;

  display:none;

  cursor: move;

  .toggle {
    @include position(2px, -25px, false, false);
    @include size(25px, 38px);
    @include icons-sprite(legend_toggle_close);
  }

  &.closed .toggle { @include icons-sprite(legend_toggle_open); }

  .shadow {
    display:none;

    @include position(false, false, 1px, 0);
    @include size(100%, 20px);
    background:url(backgrounds/white_shadow.png) repeat-x;

    z-index: 100;
  }

  .layer_count {

    height: 20px;
    line-height: 40px;
    padding: 0 15px;

    font-size: 11px;
    color: #bbb;
    text-transform: uppercase;
    font-weight: bold;

    display:none;
  }

  .jspPane { width: 211px!important; }

  .content {

    max-height: 200px;
    height: 40px;

    width: 100%;
    width: 211px;
    overflow: auto;

    ul {
      &:first-child { border-top: none; }

      border-top: 1px solid #E5E5E5;
      padding: 15px;

      &.double li div { float:none; clear:both; margin: 0 0 7px 0; }

      li {

        font-size: 13px;
        display:none;
        margin: 0 0 10px 0;
        padding: 1px 0;
        line-height: normal;

        clear:both;
        overflow:hidden;

        .source.user_stories {
          display:none;
        }

        &:last-child { margin: 0; }

        i {
          float:left;
          margin: 3px 5px 0 0;
          @include inline-block();
          @include size(7px);
          @include border-radius(100px);

          background:#ccc;
        }

        a.source {
          @include inline-block();
          @include size(10px);
          @include icons-sprite(information);

          &:hover {
            @include icons-sprite(information);
          }

          &.special_projects { display: none; }
        }

        div {
          float:left;
          width: 150px;
        }

        strong {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 11px;
        }

      }

    }

  }

  z-index:1000;
}

.searchbox {
  display: none;
  width: 195px;
  position: absolute;
  height: 20px;
  top: 35px;
  right: 237px;
  @include border-radius(3px);
  @include box-shadow(0px 0px 3px #666);
  background: #FFF;
  border: 1px solid #666;
  cursor: move;
  z-index: 1000;
  padding: 10px;

  strong {
    font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    color: #ccc;
    float: left;
    margin-right: 10px;
    line-height: 22px;
  }

  input {
    float: left;
    border: none;
    font-size: 12px;
    margin: 3px 0 0;
    padding: 0;
    width: 122px;

    &:focus {
      outline: none;
    }
  }

  button {
    float: left;
    height: 16px;
    width: 16px;
    background: url('buttons/search.png') no-repeat center center;
    border: 0;
  }
}

/*
 * TIMELINE
 */

.timeline {
  position:absolute;
  bottom: 40px;
  z-index: 1000;

  background-color: $cWhite;
  border-color:rgb(102,102,102);
  border-width:1px;
  -moz-border-radius:5px; // Firefox v1.0+
  -webkit-border-radius:5px; // Safari v3.0+ and by Chrome v0.2+
  border-radius:5px; // Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+
  border-style:solid;
  -moz-box-shadow:0px 0px 6px 1px rgba(0,0,0,0.15);    // Firefox v3.5+
  -webkit-box-shadow:0px 0px 6px 1px rgba(0,0,0,0.15); // Safari v3.0+ and by Chrome v0.2+
  box-shadow:0px 0px 6px 1px rgba(0,0,0,0.15);         // Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+

  display:none;

  &.timeline_notplayer .time .line {
    left: 23px;
    z-index: 220px;

    .tipsy {
      width: 100px;
      left: -50px;

      .arrow {
        left: 50%;
        margin-left: -11px;
      }
    }
  }

  .inner { clear:both; position:relative; }

  .timeline_legend {
    position:absolute;
    top: -20px;
    left: 13px;
    text-align: left;

    color:#fff;
    font-weight:bold;
    @extend .sans-serif;
    font-size:12px;
    text-shadow: 0px 0px 3px #222;
  }

  .coordinates {
    position:absolute;
    top: -20px;
    right: 5px;
    text-align: right;
    color:#fff;
    font-weight:bold;
    @extend .sans-serif;
    font-size:11px;
    text-shadow: 0px 0px 3px #222;
    @include user-select(text);
  }

  $handleWidth: 14px;

  &.pause .action a {
    background: url(icons/timeline_pause.png) no-repeat 0 0;
  }

  .action {
    position:relative;
    float:left;
    width: 52px;
    height: 50px;
    border-right: 1px solid #333;

    a {
      @include absolute-center(13px);
      display:block;
      background: url(icons/timeline_play.png) no-repeat 0 0;

      &.pause { display:none; background: url(icons/timeline_pause.png) no-repeat 0 0; }

    }

  }

  .time {
    float:left;
    position:relative;
    margin: 15px 0 0 13px;

    .line {

      .tipsy { display:block; bottom: 43px; left:-36px; }

      display:none;
      position:absolute;
      top: -15px;
      left: 95px;
      border-left: 1px solid #A2BE00;
      height: 50px;
      width: 1px;

      z-index: 210;
    }

  }

  .range {
    display:none;
    position:absolute;
    top: 7px; left: 10px;
    background:#A2BC28;
    height: 6px;
    width: 200px;
    @include box-shadow(1px 0 3px #ccc);
    z-index: 10;
  }

  .tipsy {
    position:absolute;
    display:none;
    width: 70px;
    bottom: 25px; left: -29px;
    padding: 7px 0;

    background:#333;

    @include border-radius(2px);

    font-weight:normal;
    font-size:11px;
    text-transform: uppercase;
    text-align: center;
    color:#fff;
    font: normal 10px "Futura", sans-serif;

    .arrow {
      position:absolute;
      @include size(0);
      @include position(20px, false, false, 25px);
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      border-top: 12px solid #333;
    }

  }

  .visible_months {
    position:absolute;
    top: 0;
    z-index: 1;

    li {

      @include inline-block();
      width: 9px*12 + 9px*4;

      .year {
        @include inline-block();
        width: 9px*3;

      }

      .month {
        @include inline-block();
        @include size(9px, $handleWidth);

        background: url(icons/point.png) no-repeat 6px center;

        z-index: 100;
      }

    }
  }

  .visible_quarters {
    position:absolute;
    top: 0;
    z-index: 1;

    li {

      @include inline-block();
      width: 87px;

      .year {
        @include inline-block();
        width: 51px;

      }

      .interval {
        @include inline-block();
        @include size(9px, $handleWidth);

        background: url(icons/interval.png) no-repeat center;

        z-index: 100;
        margin-left: 57px;
        width: 30px;
      }
    }
  }

  .years,
  .quarters {
    position:relative;
    z-index: 220;

    li {

      &:last-child {
        width: 9px*4;
        span { width: 27px; }
      }

      @include inline-block();
      width: 9px*12 + 9px*4;

      .year {
        @include inline-block();
        width: 33px;
        font-size: 11px;
        text-align:center;
        width: 9px*3;
        font: normal 10px "Futura", sans-serif;
        color: #666;
        text-decoration:none;
        background:#fff;

        &.active { color: #A2BE00; }
      }

      .month {
        @include inline-block();
        @include size(9px, $handleWidth);

        z-index: 100;
      }

    }

  }

  .quarters li {
    width: 9px*4 + 51px;

    &:last-child {
      width: 51px;
      span { width: 27px; }
    }

    .year {
      width: 51px;
      padding: 3px;

      &.active {
        border: 1px solid #999;
        padding: 2px;
        @include border-radius(3px);
        color: #666;

        &.selected {
          background: #A1BA42;
          border: 1px solid #839C26;
          color: #fff;
          @include box-shadow(0 0 5px rgba(#000, 0.15));
        }
      }
    }
  }

  .trail {
    position:absolute;
    top: 0px; left: 0px;
    width: 100%;
    height: $handleWidth;

    .ui-slider-handle.ui-state-default.ui-corner-all {
      position:absolute;
      top: 3px; left: 0;
      z-index: 200;
      @include size(14px);
      background: url(icons/timeline_handler.png) no-repeat 0 0;
      cursor:col-resize;
      @extend .disable-selection;
      outline:none;
    }

    .handle {
      position:absolute;
      top: 3px; left: 27px;
      z-index: 300;
      @include size(14px);
      background: url(icons/timeline_handler.png) no-repeat 0 0;
      cursor:col-resize;
      @extend .disable-selection;

      &.right { left: 846px; }
    }
  }
}

/*
 * TIMELINE LOSS
 */

.timeline.loss {
  position:absolute;
  bottom: 40px;
  z-index: 1000;

  background-color: $cWhite;
  border-color:rgb(102,102,102);
  border-width:1px;
  -moz-border-radius:5px; // Firefox v1.0+
  -webkit-border-radius:5px; // Safari v3.0+ and by Chrome v0.2+
  border-radius:5px; // Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+
  border-style:solid;
  -moz-box-shadow:0px 0px 6px 1px rgba(0,0,0,0.15);    // Firefox v3.5+
  -webkit-box-shadow:0px 0px 6px 1px rgba(0,0,0,0.15); // Safari v3.0+ and by Chrome v0.2+
  box-shadow:0px 0px 6px 1px rgba(0,0,0,0.15);         // Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+

  display:none;

  &.timeline_notplayer .time .line {
    left: 23px;
    z-index: 220px;

    .tipsy {
      width: 100px;
      left: -50px;

      .arrow {
        left: 50%;
        margin-left: -11px;
      }
    }
  }

  .inner { clear:both; position:relative; }

  .timeline_legend {
    position:absolute;
    top: -20px;
    left: 13px;
    text-align: left;

    color:#fff;
    font-weight:bold;
    @extend .sans-serif;
    font-size:12px;
    text-shadow: 0px 0px 3px #222;
  }

  .coordinates {
    position:absolute;
    top: -20px;
    right: 5px;
    text-align: right;
    color:#fff;
    font-weight:bold;
    @extend .sans-serif;
    font-size:11px;
    text-shadow: 0px 0px 3px #222;
    @include user-select(text);
  }

  $handleWidth: 14px;

  &.pause .action a {
    background: url(icons/timeline_pause.png) no-repeat 0 0;
  }

  .action {
    position:relative;
    float:left;
    width: 52px;
    height: 50px;
    border-right: 1px solid #333;

    a {
      @include absolute-center(13px);
      display:block;
      background: url(icons/timeline_play.png) no-repeat 0 0;

      &.pause { display:none; background: url(icons/timeline_pause.png) no-repeat 0 0; }

    }

  }

  .time {
    float:left;
    position:relative;
    margin: 15px 0 0 13px;

    .line {

      .tipsy { display:block; bottom: 43px; left:-36px; }

      display:none;
      position:absolute;
      top: -15px;
      left: 95px;
      border-left: 1px solid #A2BE00;
      height: 50px;
      width: 1px;

      z-index: 210;
    }

  }

  .range {
    display:none;
    position:absolute;
    top: 7px; left: 10px;
    background:#A2BC28;
    height: 6px;
    width: 200px;
    @include box-shadow(1px 0 3px #ccc);
    z-index: 10;
  }

  .tipsy {
    position:absolute;
    display:none;
    width: 70px;
    bottom: 25px; left: -29px;
    padding: 7px 0;

    background:#333;

    @include border-radius(2px);

    font-weight:normal;
    font-size:11px;
    text-transform: uppercase;
    text-align: center;
    color:#fff;
    font: normal 10px "Futura", sans-serif;

    .arrow {
      position:absolute;
      @include size(0);
      @include position(20px, false, false, 25px);
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      border-top: 12px solid #333;
    }

  }

  .visible_months {
    position:absolute;
    top: 0;
    z-index: 1;

    li {

      @include inline-block();
      width: 5px*12 + 5px*4;

      .year {
        @include inline-block();
        width: 5px*3;

      }

      .month {
        @include inline-block();
        @include size(5px, $handleWidth);

        background: url(icons/point_small.png) no-repeat 4px center;

        z-index: 100;
      }

    }
  }

  .visible_quarters {
    position:absolute;
    top: 0;
    z-index: 1;

    li {

      @include inline-block();
      width: 87px;

      .year {
        @include inline-block();
        width: 51px;

      }

      .interval {
        @include inline-block();
        @include size(5px, $handleWidth);

        background: url(icons/interval.png) no-repeat center;

        z-index: 100;
        margin-left: 57px;
        width: 30px;
      }
    }
  }

  .years,
  .quarters {
    position:relative;
    z-index: 220;

    li {

      &:last-child {
        width: 5px*4;
        height:30px;
        margin-left: 10px;
        span { width: 27px; }
      }

      @include inline-block();
      width: 5px*12 + 5px*4;

      .year {
        @include inline-block();
        width: 33px;
        font-size: 11px;
        text-align:center;
        width: 30px;
        font: normal 10px "Futura", sans-serif;
        color: #666;
        text-decoration:none;
        background:#fff;

        &.active { color: #A2BE00; }
      }

      .month {
        @include inline-block();
        @include size(5px, $handleWidth);

        z-index: 100;
      }

    }

  }

  .quarters li {
    width: 5px*4 + 51px;

    &:last-child {
      width: 51px;
      span { width: 27px; }
    }

    .year {
      width: 51px;
      padding: 3px;

      &.active {
        border: 1px solid #999;
        padding: 2px;
        @include border-radius(3px);
        color: #666;

        &.selected {
          background: #A1BA42;
          border: 1px solid #839C26;
          color: #fff;
          @include box-shadow(0 0 5px rgba(#000, 0.15));
        }
      }
    }
  }

  .trail {
    position:absolute;
    top: 0px; left: 0px;
    width: 100%;
    height: $handleWidth;

    .ui-slider-handle.ui-state-default.ui-corner-all {
      position:absolute;
      top: 3px; left: 0;
      z-index: 200;
      @include size(14px);
      background: url(icons/timeline_handler.png) no-repeat 0 0;
      cursor:col-resize;
      @extend .disable-selection;
      outline:none;
    }

    .handle {
      position:absolute;
      top: 3px; left: 27px;
      z-index: 300;
      @include size(14px);
      background: url(icons/timeline_handler.png) no-repeat 0 0;
      cursor:col-resize;
      @extend .disable-selection;

      &.right { left: 846px; }
    }
  }

  &.loss .handle {
    left: 30px;
  }
}

#zoom_controls,
#zoom_controls_subscribe {

  $zoomWidth: 36px;
  $zoomHeight: 29px; // height of the top button + border line

  position:absolute;

  left: 15px;
  top:  30px;

  z-index: 1000;

  .zoom_in, .zoom_out { position:relative; width: $zoomWidth; height: $zoomHeight; cursor: pointer; }

  .zoom_in {
    background: transparent url(icons/map_zoom.png) no-repeat 0 0;
    &:hover { background: transparent url(icons/map_zoom.png) no-repeat -1*$zoomWidth 0; }
    &:active { background: transparent url(icons/map_zoom.png) no-repeat -2*$zoomWidth 0; }
  }

  .zoom_out {
    background: transparent url(icons/map_zoom.png) no-repeat 0 -1*$zoomHeight;
    &:hover { background: transparent url(icons/map_zoom.png) no-repeat -1*$zoomWidth -1*$zoomHeight; }
    &:active { background: transparent url(icons/map_zoom.png) no-repeat -2*$zoomWidth -1*$zoomHeight; }
  }
}

#zoom_controls,
#viewfinder,
.map_coordinates {
  display: none;
}

#sources {
  display: none;
}

.source_window {

  $width: 497px;
  $height: 300px;

  height: $height;

  @include absolute-center($width, $height);
  position: fixed;

  display:none;
  padding: 20px;
  padding-right: 5px;

  @include box-shadow(0px 0px 7px $cGray2);
  @include border-radius(3px);

  background:#fff;
  border: 1px solid #757573;

  z-index: 1050;

  .close {
    display:block;
    @include position(15px, 15px, false, false);
    @include icons-sprite(infowindow_close);
    @include size(6px);
  }

  .content {
    height: $height;
    width: 100%;
    overflow: auto;

    @extend .sans-serif;
    color: #666666;
    font-size:15px;

    .download { display: none; }

    h1 {
      display:block;
      font-size:13px;
      font-weight:bold;
      margin: 0 0 20px 0;
      padding: 0 0 20px 0;
      border-bottom: 2px solid $cGray4;

      text-transform: uppercase;
      /*@extend .filter-colors;*/
      /*@extend .filter-border-colors;*/

      a {
        text-decoration:none;
        text-transform: uppercase;
      }
    }

    .navigation { display: none; }

    ul li {
      margin: 0 0 20px 0;

      p { width: 475px; }

      /*border-bottom: 1px solid #E5E5E5;*/
      /*margin: 0 0 13px 0;*/
      /*padding: 0 0 5px 0;*/

      &:last-child { border:none; }

      a { color: #666666; }

      p {
        margin: 0 0 7px 0;
        line-height:normal;

        span { font-weight: bold; }
      }
      p.credits {
        margin: 7px 0 0 0;
        font-size:13px;
        color:$cGray4;
        line-height:16px;

        a {
          font-size:13px;
          color:$cGray4;
        }
      }

      > strong {
        display:block;
        margin: 0 0 7px 0;

        text-transform: uppercase;

        @extend .sans-serif;
        font-weight:bold;
        color: #CCCCCC;
        font-size: 11px;
      }
    }
  }
}

/*Marker infowindow*/

.story_infowindow {
  $width: 215px;

  position:absolute;
  display:block;
  width:$width;
  padding: 0 0 6px;
  visibility:hidden;
  text-align:center;

  $pR: 18px;
  $pL: 10px;

  a.link { display: block!important; background:red!important; }
  .infowindow_content a { color: $cLime; }

  .outer_top {
    width:$width - $pL - $pR;
    padding:10px $pR  5px $pL;
    background:url('icons/bkg_infowindow_story.png') no-repeat left top;
  }

  .bottom {
    @include position(false, false, -8px, 0);
    width:$width;
    height:14px;
    background:url('icons/bkg_infowindow_story.png') no-repeat right top;
  }

  .top {
    width:174px;
    max-height:190px;
    margin:auto;

    text-align: left;

    strong a {
      display:block;
      margin: 0 0 5px 0;
      width: 180px;

      color: #F3F2F0;
      font-family: Georgia, serif;
      font-size: 17px;
      font-weight:normal;
      line-height:normal;

      text-decoration :none;

      &:hover { text-decoration: underline; }
    }

    color: #999999;
    font-size: 12px;
    @extend .sans-serif;
  }
}

.cartodb_infowindow.with_image_2 {
  .cover {
    width:215px;
    margin: 10px 0;
  }

  h1 {
    font-weight:bold;
    font-size: 12px;
    color: #FF5292;
    line-height:normal;
    text-transform: uppercase;
    @extend .sans-serif;

    @include inline-block();
    white-space: nowrap;
    width: 215px;
    text-overflow: ellipsis;
    overflow: hidden;

  }

  .top .infowindow_content label { padding-left: 0; }

  .top p {
    display:block;
    width:215px;
    max-height:none;
    padding:2px 0px;
    margin: 2px 0 10px 0;
    text-overflow:inherit;
    overflow:auto;
    white-space:normal;

  }

}

.cartodb_infowindow.with_image {
  $width: 295px + 13;

  position:absolute;
  display:block;
  width:$width;
  max-height: 312px;
  padding:0 0 6px;
  visibility:hidden;
  text-align:center;

  a.close {
    @include position(27px, 5px, false, false);
    @include size(6px);
    @include icons-sprite(infowindow_close);
  }

  $pR: 25px;
  $pL: 17px;

  .outer_top {
    width:$width;
    padding:25px 0 5px 0;
    background:url('icons/bkg_image_infowindow.png') no-repeat left top;
  }

  .header {
    margin: 0 0 10px 6px;
    width: 295px;
    text-align: left;

    .analyse {
      @include position(65px, 5px, false, false);
      @include size(41px, 42px);
      @include icons-sprite(graph);
    }

    .cover {
      width:295px;
      height: 120px;
      overflow:hidden;
      clear:both;

      border-top: 1px solid rgba(#000, .2);
      border-bottom: 1px solid rgba(#000, .2);

    }

    h1 {
      padding: 0 15px;
      margin: 0 0 17px 0;
      font-weight:bold;
      font-size: 12px;
      color: #FF5292;
      line-height:normal;
      text-transform: uppercase;
      @extend .sans-serif;

      @include inline-block();
      white-space: nowrap;
      width: 235px;
      text-overflow: ellipsis;
      overflow: hidden;

    }
  }

  .bottom {
    @include position(false, false, -6px, -1px);
    width:$width;
    height:20px;
    background:url('icons/bkg_image_infowindow.png') no-repeat right top;
  }

  .shadow {
    @include position(false, false, 6px, 6px);
    @include size(294px, 24px);
    background:url(backgrounds/white_shadow.png) repeat-x;

    z-index: 100;
  }

  .top {
    width:275px;
    margin:auto;

    text-align: left;

    .jspTrack {background: none;}
    .jspDrag {background: #EDEDED;}
    .jspHover, .jspActive {background:#666666}
    .jspVerticalBar {
      margin-right: 3px;
    }

    label {
      display:block;
      width:auto; padding:0 0 0 5px;
      @extend .sans-serif;
      font-size:11px;
      color:#CCCCCC;
      text-shadow:0 1px white;
    }

    .infowindow_content {
      width:100%;
      padding: 0 0 10px 0;
      max-height:113px;
      overflow-y:auto;
      overflow-x:hidden;

      /*margin: 0 0 0 5px;*/
    }

    p {
      display:block;
      width:255px;
      max-height:20px;
      padding:2px 0px;
      margin:2px 0 10px 5px;
      @extend .sans-serif;
      font-weight:normal;
      font-size:13px;
      color:#666666;
      border:none;
      background:none;
      text-shadow:0 1px white;
      text-overflow:ellipsis;
      overflow:hidden;
      white-space:nowrap;

      &.empty {font-weight:normal; font-style:italic; color:#b7b7b7;}
    }


    .title {

      padding:2px 0 20px 0px;
      margin:2px 0 10px 5px;
      border-bottom: 3px solid #ccc;

      strong {
        text-overflow:ellipsis;
        display:block;
        @extend .sans-serif;
        font-weight:bold;
        font-size:12px;
        text-transform: uppercase;
      }
    }

  }
}
.cartodb_infowindow {
  $width: 268px;

  position:absolute;
  display:block;
  width:$width;
  max-height: 250px;
  padding:0 0 6px;
  visibility:hidden;
  text-align:center;


  a.close {
    @include position(20px, 5px, false, false);
    @include size(6px);
    @include icons-sprite(infowindow_close);
  }

  $pR: 25px;
  $pL: 17px;

  .outer_top {
    width:$width - $pL - $pR;
    padding:25px $pR  5px $pL;
    background:url('icons/bkg_infowindow.png') no-repeat left top;
  }

  .bottom {
    @include position(false, false, -6px, -1px);
    width:$width;
    height:20px;
    background:url('icons/bkg_infowindow.png') no-repeat right top;
  }

  .shadow {
    @include position(false, false, 13px, 6px);
    @include size(254px, 24px);
    background:url(backgrounds/white_shadow.png) repeat-x;

    z-index: 100;
  }

  .top {
    width:235px;
    max-height:200px;
    margin:auto;
    overflow-y:auto;
    overflow-x:hidden;

    text-align: left;

    .jspTrack {background: none;}
    .jspDrag {background: #EDEDED;}
    .jspHover, .jspActive {background:#666666}
    .jspVerticalBar {
      margin-right: 3px;
    }

    label {
      display:block;
      width:auto; padding:0 0 0 5px;
      @extend .sans-serif;
      font-size:11px;
      color:#CCCCCC;
      text-shadow:0 1px white;
    }

    .infowindow_content {
      width:100%;
      padding: 0 0 10px 0;

      /*margin: 0 0 0 5px;*/
    }

    p {
      display:block;
      width:220px;
      max-height:20px;
      padding:2px 4px;
      margin:2px 0 10px 0;
      @extend .sans-serif;
      font-weight:normal;
      font-size:13px;
      color:#666666;
      border:none;
      background:none;
      text-shadow:0 1px white;
      text-overflow:ellipsis;
      overflow:hidden;
      white-space:nowrap;

      &.empty {font-weight:normal; font-style:italic; color:#b7b7b7;}
    }


    .title {

      padding:2px 0 20px 0px;
      margin:2px 0 10px 5px;
      border-bottom: 3px solid #ccc;

      strong {
        text-overflow:ellipsis;
        display:block;
        @extend .sans-serif;
        font-weight:bold;
        font-size:12px;
        text-transform: uppercase;
      }
    }

  }
}

.jspContainer {
  overflow: hidden;
  position: relative;
  padding: 0; margin: 0;
  outline:none;
}

.jspPane {
  position: absolute;
  width: 100%;
  padding: 0; margin: 0;
}

.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  margin-right: 10px;
  height: 100%;
  background: none;
}

.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: none;
}

.jspVerticalBar *, .jspHorizontalBar * {
  margin: 0;
  padding: 0;
}

.jspCap {
  display: none;
}

.jspHorizontalBar .jspCap {
  float: left;
}

.jspTrack {
  background: none;
  position: relative;
}

.jspDrag {
  @include border-radius(3px);
  background: #ddd;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.jspHorizontalBar {
  .jspTrack, .jspDrag {
    float: left;
    height: 100%;
  }
}

.jspArrow {
  background: none;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  &.jspDisabled {
    cursor: default;
    background: none;
  }
}

.jspVerticalBar .jspArrow {
  height: 16px;
}

.jspHorizontalBar .jspArrow {
  width: 4px;
  float: left;
  height: 100%;
}

.jspVerticalBar .jspArrow:focus {
  outline: none;
}

.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */

* html .jspCorner {
  margin: 0 -3px 0 0;
}


/* basic scrollbar styling */
/* vertical scrollbar */
.mCSB_container {
  width: auto;
  margin-right: 30px;
  overflow: hidden;
}

.mCSB_container.mCS_no_scrollbar {
  margin-right: 0;
}

.mCustomScrollBox .mCSB_scrollTools {
  width: 16px;
  height: 100%;
  top: 0;
  right: 10px;
}

.mCSB_scrollTools .mCSB_draggerContainer {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mCSB_scrollTools .mCSB_buttonUp + .mCSB_draggerContainer {
  padding-bottom: 40px;
}

.mCSB_scrollTools .mCSB_draggerRail {
  width: 2px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.mCSB_scrollTools .mCSB_dragger {
  cursor: pointer;
  width: 100%;
  height: 30px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 10px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
  height: 20px;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}

.mCSB_scrollTools .mCSB_buttonDown {
  bottom: 0;
  margin-top: -40px;
}

/* horizontal scrollbar */
.mCSB_horizontal .mCSB_container {
  height: auto;
  margin-right: 0;
  margin-bottom: 30px;
  overflow: hidden;
}

.mCSB_horizontal .mCSB_container.mCS_no_scrollbar {
  margin-bottom: 0;
}

.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools {
  width: 100%;
  height: 16px;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerContainer {
  height: 100%;
  width: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft + .mCSB_draggerContainer {
  padding-bottom: 0;
  padding-right: 20px;
}

.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail {
  width: 100%;
  height: 2px;
  margin: 7px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger {
  width: 30px;
  height: 100%;
}

.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 10px;
  margin: 6px auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight {
  width: 20px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
  float: left;
}

.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight {
  right: 0;
  bottom: auto;
  margin-left: -40px;
  margin-top: -16px;
  float: right;
}

/* default scrollbar colors and backgrounds */
.mCustomScrollBox .mCSB_scrollTools {
  opacity: 0.75;
}

.mCustomScrollBox:hover .mCSB_scrollTools {
  opacity: 1;
}

.mCSB_scrollTools .mCSB_draggerRail {
  background: #000;
  /* rgba fallback */
  background: rgba(0, 0, 0, 0.4);
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
  /* old ie */
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #fff;
  /* rgba fallback */
  background: rgba(255, 255, 255, 0.75);
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
  /* old ie */
}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: rgba(255, 255, 255, 0.85);
  filter: "alpha(opacity=85)";
  -ms-filter: "alpha(opacity=85)";
  /* old ie */
}

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: rgba(255, 255, 255, 0.9);
  filter: "alpha(opacity=90)";
  -ms-filter: "alpha(opacity=90)";
  /* old ie */
}

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight {
  background-image: url(mCSB_buttons.png);
  background-repeat: no-repeat;
  opacity: 0.4;
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
  /* old ie */
}

.mCSB_scrollTools .mCSB_buttonUp {
  background-position: 0 0;
  /*
  sprites locations are 0 0/-16px 0/-32px 0/-48px 0 (light) and -80px 0/-96px 0/-112px 0/-128px 0 (dark)
   */
}

.mCSB_scrollTools .mCSB_buttonDown {
  background-position: 0 -20px;
  /*
  sprites locations are 0 -20px/-16px -20px/-32px -20px/-48px -20px (light) and -80px -20px/-96px -20px/-112px -20px/-128px -20px (dark)
   */
}

.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: 0 -40px;
  /*
  sprites locations are 0 -40px/-20px -40px/-40px -40px/-60px -40px (light) and -80px -40px/-100px -40px/-120px -40px/-140px -40px (dark)
   */
}

.mCSB_scrollTools .mCSB_buttonRight {
  background-position: 0 -56px;
  /*
  sprites locations are 0 -56px/-20px -56px/-40px -56px/-60px -56px (light) and -80px -56px/-100px -56px/-120px -56px/-140px -56px (dark)
   */
}

.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover {
  opacity: 0.75;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
  /* old ie */
}

.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active {
  opacity: 0.9;
  filter: "alpha(opacity=90)";
  -ms-filter: "alpha(opacity=90)";
  /* old ie */
}

.tipsy { font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif; }
