// Compass
@import "compass/reset";
@import "compass/css3";
@import 'flexbox';

  // Images
@import
  "icons/*.png",
  "logos/*.png",
  "basemaps/*.png",
  "home-icons/*.png",
  "static-icons/*.png",
  "static-logos/*.png",
  "country-icons/*.png",
  "stories-icons/*.png";

// General
@import "settings1600";
@import "fonts1600";
@import "mixins1600";
@import "animations1600";
@import "base1600";


// Layout
@import "header1600";
@import "footer1600";
@import "layouts/grid1600";

//modules
@import "modules/shared1600";
@import "modules/buttons1600";
@import "modules/icons1600";
@import "modules/slick1600";
@import "modules/notifications";


@import

  // Layouts

  "layouts/map",
  "layouts/embed-map",

  // Modules
  "modules/notice",
  "modules/navbar",
  "modules/feedback",
  "modules/form",
  "modules/modal",
  "modules/dialog",

  "modules/map/layer-nav",
  "modules/map/mode",
  "modules/map/country-select",

  // Real Modules
  "modules/map/module",
  // legend
  "modules/map/module-legend",
  // controls
  "modules/map/module-mapcontrols",
  "modules/map/control-searchbox",
  "modules/map/control-share",
  // tabs
  "modules/map/module-tabs",
  "modules/map/tab-analysis",
  "modules/map/tab-basemaps",
  "modules/map/tab-threshold",



  "modules/map/widget",
  "modules/map/widget-legend",
  "modules/map/widget-searchbox",
  "modules/map/widget-threshold",
  "modules/map/analysis-tool",
  "modules/map/analysis-results",
  "modules/map/timeline",
  "modules/map/timeline-btn",
  "modules/map/timeline-year",
  "modules/map/timeline-month",
  "modules/map/onoffswitch",
  "modules/map/onoffradio",
  "modules/map/infowindow",
  "modules/map/widget-togglewidget",
  "modules/map/widget-share";

@import "states";
