@import "compass";
@import "compass/reset";
@import "helpers";

#map-container {
  position:relative;

  .map {
    width:100%;
    height:400px;
    margin:auto;
    border-top: 1px solid #717D80;
    border-bottom: 1px solid #717D80;
  }

  .circle {
    $width: 318px;

    top: -100px;
    left: 50%;

    position:absolute;
    margin-left: -1*$width/2;
    margin-top: -1*$width/2;

    opacity:0;

    width: $width;
    height: $width;
    @include icons-sprite(circle);

    text-align:center;

    .inner {
      position:relative;
      top:100px;
    }

    .inner > .title {
      margin: 10px auto 0 auto;
      width:175px;

      @extend .sans-serif;
      font-size:15px;

      line-height:18px;

      font-weight:400;
      color:$cWhite;
      opacity: 0;
    }

    .inner > .counter {
      text-align:center;
      @extend .serif;
      font-size:67px;
      font-weight:200;
      color: $cLink;
      opacity: 0;
    }

    .inner > .explore {
      position:relative;
      top: -56px;

      text-align:center;
      @extend .sans-serif;
      font-size:13px;
      font-weight:bold;
      text-transform: uppercase;
      color: $cWhite;
      opacity:0;
      cursor: pointer;
    }

    .inner > .background {
      @include absolute-center(251px, 250px);
      @include icons-sprite(four_arrows);
      opacity: 0;
      cursor: pointer;
    }
  }

  .draw { position:absolute; top: 20px; left: 70px; z-index:100; }

  #layer {
    position:absolute;
    top: 0;
    left:-9999px;
    width:159px;
    height:250px;
    z-index:1000;
    opacity:0;

    @extend .filter-links;
    @extend .filter-lines;
    @extend .filter-icons;

    .links {
      position:absolute;
      top: 90px;

      li {
        list-style: none;
        border-bottom: 1px solid $cSeparator;
        padding: 9px 10px 10px 10px;
        &.last { border:none; }
      }

      a {
          @extend .sans-serif;
          font-size:13px;
          line-height:17px;
      }
    }

    & > a {
      display:block;
      position:absolute;
      top: 46px;
      position:relative;
      margin: 0 0 10px 0;

      text-align:center;

      @extend .sans-serif;
      font-size: 12px;
      font-weight:bold;
      text-transform: uppercase;
      text-decoration: none;
    }

    .line {
      position:relative;
      top:61px;
      left:0;
      height: 4px;
      width:auto;
    }

    .icon  { position:absolute; top: 30px; left:50%; margin: -8px; width:16px; height:16px; }

    @extend .filter-links;
    @extend .filter-lines;
    @extend .filter-icons;

    background-color:rgb(255,255,255);
    -moz-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.15);
    box-shadow:0px 0px 5px 1px rgba(0,0,0,0.15);
  }

  .filters {
    height: 20px;
    @include absolute-left-center(924px);
    @include clearfix();

    top: -61px;
    overflow:hidden;

    display:none;

    padding: 40px 0 0 0;

    border-top: 1px solid $cGray4;
    z-index:1000;
  }

  .filters .advance {
    display:block;
    position:absolute;
    right: 10px;
    top: 80px;
    width:20px;
    height:20px;
    @include icons-sprite(arrow_right);
    z-index:20;

    &:hover {
      @include icons-sprite(arrow_right_hover);
    }

    &:active {
      @include icons-sprite(arrow_right_active);
    }
  }

  .filters .white-shadow {
    width:117px;
    height:51px;
    top: 9px;
    right: -30px;
    position:absolute;
    background:url(backgrounds/bkg_filter_gradient.png) no-repeat;
    z-index:10;
    display:none;
  }

  .filters .inner { position:relative; }
  .filters .inner > ul { width:3000px; }
  .filters .inner > ul  > li {
    position:relative;
    float:left;
    margin: 0 1px 0 0;
    top: -30px;
    padding: 30px 0 0 0;

    opacity:0;

    text-align: center;

    @extend .filter-links;
    @extend .filter-lines;
    @extend .filter-icons;

    .icon  { position:absolute; top: -20px; left:50%; margin: -8px; width:16px; height:16px; }

    .line {
      position:relative;
      bottom:0px;
      left:0;
      height: 4px;
      width:auto;
    }

    & > a {
      position:relative;
      top: 0;
      padding: 0 14px;
      margin: 0 0 18px 0;

      @extend .sans-serif;
      font-size:12px;
      font-weight:bold;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}

.legend {
  position:absolute;

  top: 400px;
  left: 100px;
  width:211px;

  @extend .sans-serif;
  font-size:11px;
  color: $cGray3;

  display:none;
  opacity: 0;

  z-index:100;

  & > .header {
    position:relative;
    height:45px - 34;
    padding: 18px 23px 17px 23px;

    cursor: move;

    background:url(backgrounds/bkg_legend.png) no-repeat 0 0;
    text-transform:uppercase;

    .close  { position:absolute; right: 15px; top: 22px; width: 6px; height:6px; @include icons-sprite(legend_close); }
    .handle { position:absolute; left: 15px;  top: 22px; width: 3px; height:5px; @include icons-sprite(legend_handle); }
  }

  & > .content {
    padding: 15px 12px 7px 15px;
    background:url(backgrounds/bkg_legend.png) repeat-y right 0;

    ul {
      border-bottom: 1px solid $cSeparator;
      padding: 0 0 10px 0;
      margin: 0 0 13px 0;

      &:last-child { border:none; margin: 0; padding: 0; }

      li {

        position:relative;
        margin: 0 3px 5px 0;
        padding-left: 13px;

        vertical-align: top;

        .icon {
          position:absolute;
          top: 3px;
          left: 0px;
          width: 9px; height: 9px;
          @include inline-block();
        }

        line-height:16px;

        color: $cGray3;
        font-size:12px;

        a { text-decoration:none; color: $cGray3; cursor: default; }

      }
    }
  } // content

  & > .b {
    height:14px;
    background:url(backgrounds/bkg_legend.png) no-repeat left -45px;
  }
}

/*
* TIMELINE
*/

$timelineWidth: 947px;

.timeline  {
  position:absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -1*$timelineWidth / 2;
  width: $timelineWidth;
  height: 52px;
  z-index: 1000;

  opacity: 0;

  background-color: $cWhite;
  border-color:rgb(102,102,102);
  border-width:1px;
  -moz-border-radius:5px; // Firefox v1.0+
  -webkit-border-radius:5px; // Safari v3.0+ and by Chrome v0.2+
  border-radius:5px; // Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+
  border-style:solid;
  -moz-box-shadow:0px 0px 6px 1px rgba(0,0,0,0.15);    // Firefox v3.5+
  -webkit-box-shadow:0px 0px 6px 1px rgba(0,0,0,0.15); // Safari v3.0+ and by Chrome v0.2+
  box-shadow:0px 0px 6px 1px rgba(0,0,0,0.15);         // Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+
}

.timeline .handle {
  position:absolute;
  top: -29px;
  left: 0px;
  width: 112px;
  height: 61px;
  @include icons-sprite(timeline_handle_with_play);
  @extend .disable-selection;
  cursor:col-resize;
  z-index:1001;

  & > .play {
    position:absolute;
    display:block;
    width:19px;
    height:17px;
    top: 13px;
    left:11px;
    @include icons-sprite(timeline_handle_play);

    &.playing { // stop icon
      @include icons-sprite(timeline_handle_stop, $offset-x:-1px);
    }
  }

  & > div {
    position:absolute;
    top: 15px;
    left: 32px;
    width: 86px - 10;
    padding: 5;

    font: normal 12px "Futura", sans-serif;
    text-align:center;
    text-transform: uppercase;
    color: $cGray1;
  }

  &.hidden {
    display:block;
    @include icons-sprite(timeline_handle_hidden);
  }
}

.timeline .years {
  position:absolute;
  top: 17px;

  z-index:100;

  li {

    @include inline-block();
    height: 20px;
    margin: 0 120px 0 0;

    &:nth-child(1) { margin-left: 10px; margin-right: 122px; }
    &:nth-child(2) { margin-right: 122px; }
    &:nth-child(3) { margin-right: 122px; }
    &:nth-child(4) { margin-right: 123px; }
    &:nth-child(5) { margin-right: 120px; }
    &:nth-child(6) { margin-left: 3px; margin-right: 121px; }

    a {
      font: normal 10px "Futura", sans-serif;
      color: #000;
      text-decoration:none;
    }

    &:last-child { width:auto; margin: 0; }
  }
}

.timeline .constraint_handler {
  position:absolute;
  height:52px;
  top: 0;
  left:-13px;
  width: $timelineWidth + 30;
}

.timeline .inner {
  position:absolute;
  width:$timelineWidth + 2px;
  height:52px;
  background:url(backgrounds/bkg_timeline_dots_full.png) no-repeat 41px 24px;
  @extend .disable-selection;
}

#zoom_controls {

  $zoomWidth: 36px;
  $zoomHeight: 29px; // height of the top button + border line

  position:absolute;

  top:  15px;
  left: 15px;

  z-index: 1000;

  .zoom_in, .zoom_out { position:relative; width: $zoomWidth; height: $zoomHeight; cursor: pointer; }

  .zoom_in {
    background: transparent url(icons/map_zoom.png) no-repeat 0 0;
    &:hover { background: transparent url(icons/map_zoom.png) no-repeat -1*$zoomWidth 0; }
    &:active { background: transparent url(icons/map_zoom.png) no-repeat -2*$zoomWidth 0; }
  }

  .zoom_out {
    background: transparent url(icons/map_zoom.png) no-repeat 0 -1*$zoomHeight;
    &:hover { background: transparent url(icons/map_zoom.png) no-repeat -1*$zoomWidth -1*$zoomHeight; }
    &:active { background: transparent url(icons/map_zoom.png) no-repeat -2*$zoomWidth -1*$zoomHeight; }
  }
}

/*Marker infowindow*/
div.cartodb_infowindow {position:absolute; display:block; width:214px; padding:0 0 6px; visibility:hidden;}
div.cartodb_infowindow a.close {position:absolute; right:3px; top:3px; width:22px; height:15px; padding:4px 0 3px 0; text-align:center; font:bold 15px "Helvetica",Arial; color:#666666; text-decoration:none; line-height:15px}
div.cartodb_infowindow a.close:hover {color:#333333}
div.cartodb_infowindow div.outer_top {width:186px; padding:25px 18px 5px 10px; background:url('icons/sprite.png') 0 top;}
div.cartodb_infowindow div.top {width:186px; max-height:200px; overflow-y:auto; overflow-x:hidden}
div.cartodb_infowindow div.top .jspTrack {background: #dddddd;}
div.cartodb_infowindow div.top .jspDrag {background: #999999;}
div.cartodb_infowindow div.top .jspHover, div.cartodb_infowindow div.top .jspActive {background:#666666}
div.cartodb_infowindow div.top label {display:block; width:auto; padding:0 0 0 5px; font:normal 11px Arial; color:#B3B3B3; text-shadow:0 1px white}
div.cartodb_infowindow div.top p {display:block; width:170px; max-height:20px; padding:2px 4px; margin:2px 0 7px; font:bold 11px 'Helvetica',Arial; color:#666666; border:none; background:none; text-shadow:0 1px white;
  text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
div.cartodb_infowindow div.top p.empty {font-weight:normal; font-style:italic; color:#b7b7b7;}
div.cartodb_infowindow div.bottom {width:206px; height:15px; background:url('icons/sprite.png') no-repeat right -41px;}

