@import "compass";
@import "compass/reset";
@import "helpers";

#filters {
  @include size(100%, 10px);
  @include position(150px, false, false, 0);

  z-index: 1000;

  #layer {
    position:absolute;
    top: 0;
    left:-9999px;
    @include size(170px, 90px);

    z-index:1000;
    opacity:0;

    @extend .filter-links;
    @extend .filter-lines;
    @extend .filter-icons;

    .scroll {
      background:#fff;
      position:absolute;
      top: 90px;
      overflow:hidden;
      overflow-x: none;
      outline:none;

      @include size(170px, 200px);
      -moz-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.15);
      -webkit-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.15);
      box-shadow:0px 0px 5px 1px rgba(0,0,0,0.15);
    }

    .links {

      li {
        position:relative;
        list-style: none;
        border-bottom: 1px solid $cSeparator;
        padding: 9px 10px 10px 10px;
        &.last { border:none; }
      }

      a {
          @extend .sans-serif;
          display:block;
          width: 140px;
          font-size:13px;
          line-height:17px;
      }

      a.source {
        position:absolute;
        top: 13px;
        right: 10px;
        width: 11px;
        height: 11px;
        background:url(icons/help.png) no-repeat left top;

        &:hover {
          background:url(icons/help.png) no-repeat left bottom;
        }
      }
    }

    & > a {
      display:block;
      position:absolute;
      top: 46px;
      position:relative;
      margin: 0 0 10px 0;

      text-align:center;

      @extend .sans-serif;
      font-size: 12px;
      font-weight:bold;
      text-transform: uppercase;
      text-decoration: none;

    }

    .line {
      position:relative;
      top:61px;
      left:0;
      height: 4px;
      width:auto;
    }

    .icon  { position:absolute; top: 30px; left:50%; margin: -8px; width:16px; height:16px; }

    @extend .filter-links;
    @extend .filter-lines;
    @extend .filter-icons;

    background-color:rgb(255,255,255);
    -moz-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.15);
    box-shadow:0px 0px 5px 1px rgba(0,0,0,0.15);
  }


  .filters {
    height: 20px;
    @include absolute-left-center(924px);
    @include clearfix();

    top: -60px;
    overflow:hidden;

    display:none;

    padding: 40px 0 0 0;

    /*border-top: 1px solid $cGray4;*/
    z-index:1000;
  }

  .filters .advance {
    display:block;
    position:absolute;
    right: 10px;
    top: 80px;
    width:20px;
    height:20px;
    @include icons-sprite(arrow_right);
    z-index:20;

    &:hover {
      @include icons-sprite(arrow_right_hover);
    }

    &:active {
      @include icons-sprite(arrow_right_active);
    }
  }

  .filters .white-shadow {
    width:117px;
    height:51px;
    top: 9px;
    right: -30px;
    position:absolute;
    background:url(backgrounds/bkg_filter_gradient.png) no-repeat;
    z-index:10;
    display:none;
  }

  .filters .inner { position:relative; }
  .filters .inner > ul { width:3000px; }
  .filters .inner > ul  > li {
    position:relative;
    float:left;
    margin: 0 1px 0 0;
    top: -30px;
    padding: 30px 0 0 0;

    opacity:0;

    text-align: center;

    @extend .filter-links;
    @extend .filter-lines;
    @extend .filter-icons;

    .icon  { position:absolute; top: -20px; left:50%; margin: -8px; width:16px; height:16px; }

    .line {
      position:relative;
      bottom:0px;
      left:0;
      height: 4px;
      width:auto;
    }

    & > a {
      position:relative;
      top: 0;
      padding: 0 14px;
      margin: 0 0 18px 0;

      @extend .sans-serif;
      font-size:12px;
      font-weight:bold;
      text-transform: uppercase;
      text-decoration: none;
    }
  }


}

#map-container {
  position:relative;
  z-index: 110;

  &.error {
    border: 1px solid #C12000;
    clear: both;
    overflow: hidden;
    .map { border:none; }
  }

  .map {
    width:100%;
    height:400px;
    margin:auto;
    border-top: 1px solid #717D80;
    border-bottom: 1px solid #717D80;
  }

  // Markers
  #map .marker {
    position:absolute;
    @include size(36px);

    &.with_picture { @include size(67px); }

    img {
      @include size(100%);
      position:relative;
      display:block;
    }

    &:hover { cursor:pointer!important; }

    .mask {
      @include position(-9px, false, false, -9px);
      position:absolute;
      @include size(67px);
      @include icons-sprite(marker_hollow);
      z-index: 100;
    }

    img.rounded {
      @include position(0, false, false, 0);
      @include size(50px);
      display:block;
      @include border-radius(200px);
      z-index: 10;
    }


  }

  .circle {

    $width: 318px;

    @include size($width);
    @include position(-100px, false, false, 50%);

    margin-left: -1*$width/2;
    margin-top: -1*$width/2;

    opacity:0;

    @include icons-sprite(circle);

    text-align:center;

    .inner {
      position:relative;
      top:100px;
    }

    .icon {
      background: url(icons/green_circle.png) no-repeat;
      background-position: 50% 50%;
      background-size: 10%;

      @include size(74px);
      @include position(25px, 25px, false, false);

      opacity: 0;

      z-index: 1000;

      &.flag i {
        @include absolute-center(26px, 28px);
        @include icons-sprite(flag);
        width: 26px;
        height: 28px;
      }

      &.area i {
        @include absolute-center(36px, 34px);
        @include icons-sprite(area);
        width: 36px;
        height: 34px;
      }

      i { display: block; }

    }

    .inner > .title {
      margin: 10px auto 0 auto;
      width:175px;

      @extend .sans-serif;
      font-size:15px;

      line-height:18px;

      font-weight:400;
      color:$cWhite;
      opacity: 0;
    }

    .inner > .counter {
      text-align:center;
      @extend .serif;
      font-size:67px;
      font-weight:200;
      color: $cLink;
      opacity: 0;
    }

    .inner > .explore {
      position:relative;
      top: -56px;

      text-align:center;
      @extend .sans-serif;
      font-size:13px;
      font-weight:bold;
      text-transform: uppercase;
      color: $cWhite;
      opacity:0;
      cursor: pointer;
    }

    .inner > .background {
      @include absolute-center(251px, 250px);
      @include icons-sprite(four_arrows);
      opacity: 0;
      cursor: pointer;
    }
  }

  .draw { position:absolute; top: 20px; left: 70px; z-index:100; }


}



.layer_selector {

  width:140px;
  min-height: 40px;

  @include position(15px, 30px, false, false);
  @include border-radius(3px);
  @include box-shadow(0px 0px 3px $cGray2);

  background:$cWhite;
  border: 1px solid $cGray2;

  display:none;
  cursor: move;

  z-index: 1000;

  .toggle {
    @include position(2px, -25px, false, false);
    @include size(25px, 38px);
    @include icons-sprite(layer_arrow_down);
  }

  &.closed .toggle { @include icons-sprite(layer_arrow_up); }

  .layers {
    @include size(100%, 0);
    opacity: 0;

    li {
      border-bottom: 1px solid #ddd;

      &:last-child { border:none; }
    }
  }

  .layers li, .selected_layer li {

    padding: 10px;

    a {
      display:block;
      @extend .sans-serif;
      font-size:13px;
      color: $cGray2;
      text-decoration:none;

      &:hover { color: $cGray1; }
    }

    &.satellite      i { @include icons-sprite(map_satellite); }
    &.terrain        i { @include icons-sprite(map_terrain_bn); }
    &.classic        i { @include icons-sprite(map_terrain); }
    &.tree_height    i { @include icons-sprite(map_terrain); }

    i {
      @include inline-block();
      @include size(27px, 22px);
      margin: 0 5px 0 0;
      background:#ddd;
    }

  }

  .selected_layer {
    height: 40px;
  }
}

.legend {

  width:211px;
  min-height: 40px;

  @include position(80px, false, false, 20px);
  @include border-radius(3px);
  @include box-shadow(0px 0px 3px $cGray2);

  background:#fff;
  border: 1px solid #666;

  @extend .sans-serif;
  font-size:11px;
  color: $cGray3;

  display:none;
  /*opacity: 0;*/

  cursor: move;

  .toggle {
    @include position(2px, -25px, false, false);
    @include size(25px, 38px);
    @include icons-sprite(legend_toggle_close);
  }

  &.closed .toggle { @include icons-sprite(legend_toggle_open); }

  .shadow {
    display:none;

    @include position(false, false, 0, 0);
    @include size(100%, 24px);
    background:url(backgrounds/white_shadow.png) repeat-x;

    z-index: 100;
  }

  .layer_count {

    height: 20px;
    line-height: 40px;
    padding: 0 15px;

    font-size: 11px;
    color: #bbb;
    text-transform: uppercase;
    font-weight: bold;

    display:none;
  }

  .jspPane { width: 211px!important; }

  .content {

    max-height: 200px;
    height: 40px;

    width: 100%;
    width: 211px;
    overflow: auto;

    ul {
      &:first-child { border-top: none; }

      border-top: 1px solid #E5E5E5;
      padding: 15px;

      li {

        font-size: 13px;
        display:none;
        margin: 0 0 10px 0;

        &:last-child { margin: 0; }

        i {
          @include inline-block();
          @include size(7px);
          @include border-radius(100px);
          background:#ccc;

        }

        strong {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 11px;
        }

      }

    }

  }

  z-index:1000;
}


/*
* TIMELINE
*/

$timelineWidth: 940px;

.timeline  {
  position:absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -1*$timelineWidth / 2;
  width: $timelineWidth;
  height: 52px;
  z-index: 1000;

  opacity: 0;

  background-color: $cWhite;
  border-color:rgb(102,102,102);
  border-width:1px;
  -moz-border-radius:5px; // Firefox v1.0+
  -webkit-border-radius:5px; // Safari v3.0+ and by Chrome v0.2+
  border-radius:5px; // Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+
  border-style:solid;
  -moz-box-shadow:0px 0px 6px 1px rgba(0,0,0,0.15);    // Firefox v3.5+
  -webkit-box-shadow:0px 0px 6px 1px rgba(0,0,0,0.15); // Safari v3.0+ and by Chrome v0.2+
  box-shadow:0px 0px 6px 1px rgba(0,0,0,0.15);         // Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+
}

.coordinates {
  position:absolute;
  top: -20px;
  right: 5px;
  text-align: right;

  color:#fff;
  font-weight:bold;
  @extend .sans-serif;
  font-size:11px;
  text-shadow: 0px 0px 3px #222;
}

.timeline .handle {
  position:absolute;
  top: -29px;
  left: 0px;
  width: 112px;
  height: 61px;
  @include icons-sprite(timeline_handle_with_play);
  @extend .disable-selection;
  cursor:col-resize;
  z-index:1001;

  & > .play {
    position:absolute;
    display:block;
    width:19px;
    height:17px;
    top: 13px;
    left:11px;
    @include icons-sprite(timeline_handle_play);

    &.playing { // stop icon
      @include icons-sprite(timeline_handle_stop, $offset-x:-1px);
    }
  }

  & > div {
    position:absolute;
    top: 15px;
    left: 32px;
    width: 86px - 10;
    padding: 5;

    font: normal 12px "Futura", sans-serif;
    text-align:center;
    text-transform: uppercase;
    color: $cGray1;
  }

  &.hidden {
    display:block;
    @include icons-sprite(timeline_handle_hidden);
  }
}

.timeline .years {
  position:absolute;
  top: 17px;

  z-index:100;

  li {

    &.disabled a {color: #ccc; }

    @include inline-block();
    height: 20px;
    margin: 0 120px 0 0;

    &:nth-child(1) { margin-left: 10px; margin-right: 100px; }
    &:nth-child(2) { margin-right: 99px; }
    &:nth-child(3) { margin-right: 101px; }
    &:nth-child(4) { margin-right: 100px; }
    &:nth-child(5) { margin-right: 101px; }
    &:nth-child(6) { margin-right: 97px; }
    &:nth-child(7) { margin-left: 3px; margin-right: 98px; }

    a {
      font: normal 10px "Futura", sans-serif;
      color: #000;
      text-decoration:none;
    }

    &:last-child { width:auto; margin: 0; }
  }
}

.timeline .constraint_handler {
  position:absolute;
  height:52px;
  top: 0;
  left:-13px;
  width: $timelineWidth + 30;
}

.timeline .inner {
  position:absolute;
  width:$timelineWidth + 2px;
  height:52px;
  background:url(backgrounds/bkg_timeline_dots.png) no-repeat 41px 24px;
  @extend .disable-selection;
}

#zoom_controls,
#zoom_controls_subscribe {

  $zoomWidth: 36px;
  $zoomHeight: 29px; // height of the top button + border line

  position:absolute;

  top:  15px;
  left: 15px;

  z-index: 1000;

  .zoom_in, .zoom_out { position:relative; width: $zoomWidth; height: $zoomHeight; cursor: pointer; }

  .zoom_in {
    background: transparent url(icons/map_zoom.png) no-repeat 0 0;
    &:hover { background: transparent url(icons/map_zoom.png) no-repeat -1*$zoomWidth 0; }
    &:active { background: transparent url(icons/map_zoom.png) no-repeat -2*$zoomWidth 0; }
  }

  .zoom_out {
    background: transparent url(icons/map_zoom.png) no-repeat 0 -1*$zoomHeight;
    &:hover { background: transparent url(icons/map_zoom.png) no-repeat -1*$zoomWidth -1*$zoomHeight; }
    &:active { background: transparent url(icons/map_zoom.png) no-repeat -2*$zoomWidth -1*$zoomHeight; }
  }
}

/*Marker infowindow*/

.story_infowindow {
  $width: 175px;

  position:absolute;
  display:block;
  width:$width;
  padding:0 0 6px;
  visibility:hidden;
  text-align:center;

  $pR: 18px;
  $pL: 10px;

  .outer_top {
    width:$width - $pL - $pR;
    padding:15px $pR  5px $pL;
    background:url('icons/bkg_infowindow_story.png') no-repeat left top;
  }

  .bottom {
    @include position(false, false, -8px, 0);
    width:$width;
    height:14px;
    background:url('icons/bkg_infowindow_story.png') no-repeat right top;
  }

  .top {
    width:174px;
    max-height:190px;
    margin:auto;

    text-align: left;

    strong a {
      display:block;
      margin: 0 0 5px 0;
      width: 140px;

      color: #F3F2F0;
      font-family: Georgia, serif;
      font-size: 17px;
      font-weight:normal;
      line-height:normal;

      text-decoration :none;

      &:hover { text-decoration: underline; }
    }

    color: #999999;
    font-size: 12px;
    @extend .sans-serif;
  }
}

.cartodb_infowindow {
  $width: 227px;

  position:absolute;
  display:block;
  width:$width;
  max-height: 232px;
  padding:0 0 6px;
  visibility:hidden;
  text-align:center;

  a.close {
    @include position(20px, 6px, false, false);
    @include size(6px);
    @include icons-sprite(infowindow_close);
  }

  $pR: 18px;
  $pL: 10px;

  .outer_top {
    width:$width - $pL - $pR;
    /*height: 180px;*/
    padding:25px $pR  5px $pL;
    background:url('icons/bkg_infowindow.png') no-repeat left top;
  }

  .bottom {
    @include position(false, false, 0, 0);
    width:$width;
    height:20px;
    background:url('icons/bkg_infowindow.png') no-repeat right top;
  }

  .shadow {

    @include position(false, false, 13px, 6px);
    @include size(100%, 24px);
    background:url(backgrounds/white_shadow.png) repeat-x;

    z-index: 100;
  }

  .top {
    width:200px;
    max-height:190px;
    margin:auto;
    overflow-y:auto;
    overflow-x:hidden;

    text-align: left;

    .jspTrack {background: none;}
    .jspDrag {background: #EDEDED;}
    .jspHover, .jspActive {background:#666666}
    .jspVerticalBar {
      margin-right: 3px;
    }

    label {
      display:block;
      width:auto; padding:0 0 0 5px;
      @extend .sans-serif;
      font-size:11px;
      color:#CCCCCC;
      text-shadow:0 1px white;
    }

    .infowindow_content {
      width:190px;
      margin: 0 0 0 5px;
    }

    p {
      display:block;
      width:170px;
      max-height:20px;
      padding:2px 4px;
      margin:2px 0 10px 0;
      @extend .sans-serif;
      font-weight:normal;
      font-size:13px;
      color:#666666;
      border:none;
      background:none;
      text-shadow:0 1px white;
      text-overflow:ellipsis;
      overflow:hidden;
      white-space:nowrap;

      &.empty {font-weight:normal; font-style:italic; color:#b7b7b7;}
    }


    .title {

      padding:2px 0 20px 0px;
      margin:2px 0 10px 5px;
      border-bottom: 3px solid #ccc;

      strong {
      text-overflow:ellipsis;
        display:block;
        @extend .sans-serif;
        font-weight:bold;
        font-size:12px;
        text-transform: uppercase;
      }
    }

  }
}

.jspContainer {
  overflow: hidden;
  position: relative;
  padding: 0; margin: 0;
}

.jspPane {
  position: absolute;
  width: 100%;
  padding: 0; margin: 0;
}

.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  margin-right: 10px;
  height: 100%;
  background: none;
}

.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: none;
}

.jspVerticalBar *, .jspHorizontalBar * {
  margin: 0;
  padding: 0;
}

.jspCap {
  display: none;
}

.jspHorizontalBar .jspCap {
  float: left;
}

.jspTrack {
  background: none;
  position: relative;
}

.jspDrag {
  @include border-radius(3px);
  background: #ddd;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.jspHorizontalBar {
  .jspTrack, .jspDrag {
    float: left;
    height: 100%;
  }
}

.jspArrow {
  background: none;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  &.jspDisabled {
    cursor: default;
    background: none;
  }
}

.jspVerticalBar .jspArrow {
  height: 16px;
}

.jspHorizontalBar .jspArrow {
  width: 4px;
  float: left;
  height: 100%;
}

.jspVerticalBar .jspArrow:focus {
  outline: none;
}

.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */

* html .jspCorner {
  margin: 0 -3px 0 0;
}
