@import "compass";
@import "compass/reset";
@import "helpers";

body.posts,
body.static,
body.sources,
 {

  header {
    border-bottom: 1px solid #ccc;
    height: 235px;
  }

  #content { padding: 40px 0 0 0; background: $cWhite; }
  #content .inner { position:relative; width: 927px; margin: auto; }

  section, aside { @include inline-block(); }

  aside {
    width:280px;
    margin: 0 0 0 40px;
    vertical-align: top;

    h3 {
      margin: 0 0 20px 0;
      padding: 0 0 20px 0;

      border-bottom: 1px solid $cSeparator;

      @extend .sans-serif;
      font-size:13px;
      font-weight:bold;
      text-transform: uppercase;

      color: $cGray1;
    }

    &.posts ul {

      li {
        .date {
          margin: 0 0 5px 0;

          color: $cGray3;
          @extend .sans-serif;
          font-size:13px;
        }

        a {
          display:block;

          text-transform: none;

          @extend .serif;
          font-size:18px;
          font-weight:normal;
          color: $cGreen;

          line-height: 23px;

          &:hover { color: $cDarkGreen; }
        }
      }
    }

    ul {

      margin: 0 0 60px 0;

      li {

        margin: 0 0 20px 0;
        padding: 0 0 20px 0;

        border-bottom: 1px solid $cSeparator;

        a { @extend .font-golden; }
        a.selected { color: $cGray2; }

        .count {
          float:right;
          color: #858585;
          @extend .sans-serif;
          font-size:13px;
        }
      }
    }
  }

  section {

    width: 600px;
    padding: 0 0 40px 0;

    article {
      margin: 0 0 47px 0;
      padding: 0 0 48px 0;
      border-bottom: 1px solid $cSeparator;

      &:last-child { border: none; }

      h1 {
        margin: 0 0 15px 0;
        font-size:29px;
        color: $cGray1;

        a {
          @extend .serif;
          font-size:29px;
          color: $cPostTitle;
          text-decoration:none;
          &:hover { color: $cDarkGreen; }
        }
      } // h1

      img { margin: 0 0 32px 0; }

      p {

        &:last-child { margin: 0; }

        margin: 0 0 20px 0;

        color: $cPostBody;

        @extend .sans-serif;
        font-size:17px;
        font-weight:300;
        line-height:22px;
      }

        a {
          color: $cPostBody;
          text-decoration:underline;
          &:hover { color: $cDarkGold; }
        }


      .meta {
        margin: 0 0 39px 0;

        li {
          @include inline-block();
          @extend .sans-serif;
          font-size:13px;

          font-weight:300;
          color: $cGray3;

          padding-right: 7px;
          background:url(icons/square.png) no-repeat right 7px;

          &:last-child { background:none; padding: 0; }

          &.tags a {
            @extend .font-golden;
          }

          &.comments a {
            @extend .sans-serif;
            font-size:13px;
            font-weight:300;
            color: $cGray3;
          }
        }
      } // meta

      .read_more, .more {
        @extend .font-golden;
      }
    }
  } // .posts

  div.comments {
    background:$cBackground;
    border: 1px solid #46686D;
    padding: 49px 0 0 0;

    h4 {
      padding: 0 0 20px 0;
      margin: 0 0 30px 0;
      width:594px;

      border-bottom: 1px solid #60939C;

      @extend .sans-serif;
      font-weight:bold;
      font-size:13px;
      text-transform: uppercase;
      color:#3A6470;
    }

    .inner > ul {
      width:594px;
      margin: 0 0 60px 0;

      li {
        padding: 0 0 10px 0;
        margin: 0 0 20px 0;

        @extend .sans-serif;
        color:$cDarkGreen;
        font-size:15px;

        border-bottom: 1px solid #60939C;

        .info {
          margin: 0 0 14px 0;

          a {
            font-weight:bold;
            color:$cWhite;
          }
          .date { opacity:0.4;}

        }
        p { margin: 0 0 20px 0; }
      }
    } // ul

    .inner > form {
      margin: 0 0 40px 0;

      .item {
        margin: 0 0 19px 0;
      }

      label {
        display:block;
        margin: 0 0 6px 0;

        @extend .sans-serif;
        font-size:13px;
        font-weight:bold;
        text-transform: uppercase;
        color:#3A6470;

        .mandatory {
          margin: 0 0 0 5px;

          color: $cDarkGreen;
          font-size:15px;
          font-weight:normal;

          text-transform: none;

          opacity:0.4;
        }
      }
    }
  }
}

body.static {

  header {
    hgroup {
      width: 500px;
      h1 { font-size:41px; }
    }
  }

  section {
    article {

      margin: 0 0 33px 0;
      padding: 0 0 33px 0;

      h1 a {
          font-size:29px;
      }
    } // article
  } // section

  aside {

    ul {
      padding: 20px 0 0 0;
      border-top: 1px solid $cSeparator;
    }

  }

  footer { border-top: 1px solid $cSeparator; }

} // body.static

body.sources {

  section {
    article {

      margin: 0 0 35px 0;
      padding: 0 0 18px 0;

      h1 a {
        font-size:29px;
        color:$cGray1;
      }

      .footer {
        font-size:13px;
        color:$cGray3;
        @extend .sans-serif;
      }

      p { color: $cGray2; }

      ul.sources li {

        &.flag {
          @extend .flag-icon;
        }

        margin: 0 0 20px 0;

        @extend .sans-serif;

        strong {
          color: $cGray3;
          font-size:12px;
          font-weight:bold;
          text-transform: uppercase;
        }

        a {
          @extend .font-golden;
          padding-left: 7px;
          background:url(icons/square.png) no-repeat left 6px;
        }

        p {
          margin: 7px 0 0 0;
          font-size:13px;
          color:$cGray3;
          line-height:16px;
        }
      }
    } // article
  } // section
} // body.sources
