@import "compass";
@import "compass/reset";
@import "sprites";
@import "helpers";

// Blog

body.posts {

  header {
    border-bottom: 1px solid #ccc;
    height: 235px;

    hgroup h1 {
      margin: 29px 0 0 0;
    }
  }

  #content { padding: 40px 0 0 0; background: $cWhite; }
  #content .inner { position:relative; width: 927px; margin: auto; }

  div.posts, aside { @include inline-block(); }

  aside {
    width:280px;
    margin: 0 0 0 40px;
    vertical-align: top;

    h3 {
      margin: 0 0 20px 0;
      padding: 0 0 20px 0;

      border-bottom: 1px solid #E5E5E5;

      @extend .sans-serif;
      font-size:13px;
      font-weight:bold;
      text-transform: uppercase;
      color: $cGray1;
    }

    &.posts > ul {
      li {
        .date {
          margin: 0 0 5px 0;

          color: $cGray3;
          @extend .sans-serif;
          font-size:13px;
        }

        a {
          display:block;

          text-transform: none;

          @extend .serif;
          font-size:18px;
          font-weight:normal;
          color: $cGreen;

          &:hover { color: $cDarkGreen; }
        }
      }
    }

    & > ul {

      margin: 0 0 30px 0;

      li {

        margin: 0 0 20px 0;
        padding: 0 0 20px 0;

        border-bottom: 1px solid #E5E5E5;

        a { @extend .font-golden; }

        .count {
          float:right;
          color: #858585;
          @extend .sans-serif;
          font-size:13px;
        }
      }
    }
  }

  div.posts {

    width: 600px;
    padding: 0 0 50px 0;

    article {
      margin: 0 0 44px 0;
      padding: 0 0 40px 0;
      border-bottom: 1px solid #f1f1f1;

      &:last-child { border: none; }

      h1 {
        margin: 0 0 10px 0;

        a {
          @extend .serif;
          font-size:29px;
          color: $cPostTitle;
          text-decoration:none;
          &:hover { color: $cDarkGreen; }
        }
      } // h1

      img {
        margin: 0 0 27px 0;
      }

      p {
        margin: 0 0 20px 0;

        color: $cPostBody;

        @extend .sans-serif;
        font-size:17px;
        font-weight:200;
        line-height:21px;
      }

      .meta {
        margin: 0 0 20px 0;

        li {
          @include inline-block();
          @extend .sans-serif;
          font-size:13px;

          font-weight:200;
          color: $cGray3;

          padding-right: 7px;
          background:url(icons/square.png) no-repeat right 7px;

          &:last-child { background:none; padding: 0; }

          &.tags a {
            @extend .font-golden;
          }

          &.comments a {
            @extend .sans-serif;
            font-size:13px;
            font-weight:200;
            color: $cGray3;
          }
        }
      } // meta

      .more {
        @extend .font-golden;
      }
    }
  } // .posts

  div.comments {
    background:$cBackground;
    border: 1px solid #46686D;
    padding: 49px 0 0 0;

    h4 {
      padding: 0 0 20px 0;
      margin: 0 0 30px 0;
      width:594px;

      border-bottom: 1px solid #60939C;

      @extend .sans-serif;
      font-weight:bold;
      font-size:13px;
      text-transform: uppercase;
      color:#3A6470;
    }

    .inner > ul {
      width:594px;
      margin: 0 0 60px 0;

      li {
        padding: 0 0 10px 0;
        margin: 0 0 20px 0;

        @extend .sans-serif;
        color:$cDarkGreen;
        font-size:15px;

        border-bottom: 1px solid #60939C;

        .info {
          margin: 0 0 14px 0;

          a {
            font-weight:bold;
            color:$cWhite;
          }
          .date { opacity:0.4;}

        }
        p { margin: 0 0 20px 0; }
      }
    } // ul
    .inner > form {
      margin: 0 0 40px 0;

      .item {
        margin: 0 0 19px 0;
      }

      label {
        display:block;
        margin: 0 0 6px 0;

        @extend .sans-serif;
        font-size:13px;
        font-weight:bold;
        text-transform: uppercase;
        color:#3A6470;

        .mandatory {
          margin: 0 0 0 5px;

          color: $cDarkGreen;
          font-size:15px;
          font-weight:normal;

          text-transform: none;

          opacity:0.4;
        }
      }

    }
  }
}

