@import "compass";
@import "compass/reset";
@import "helpers";


body.posts      article img { display: none; }
body.posts.show article img { display: block; }

body.posts {

  &.show {

    #content .inner {
      text-align:center;
      margin: 0 auto;
      width: 927px;
    }

    section { width: 100%; }
    .navigation { display: none; }

    .the-watcher-logo {
      @include logos-sprite(watcher_small);
      width:56px;
      height:56px;
    }

    header { height: 180px!important; }
    hgroup h1, hgroup h2 { font-size: 31px; }

    article h1 {

      text-align: center;
      font-size: 51px;
      a { font-size: 51px; }

    }

    article a.author { display: none; }

    article .columns  {
      -moz-column-count: 2;
      -moz-column-gap: 20px;
      -o-column-count: 2;
      -o-column-gap: 20px;
      -webkit-column-count: 2;
      -webkit-column-gap: 20px;
      column-count: 2;
      column-gap: 20px;
    }

    article .columns li {
      margin: 0 0 10px 0;
      font-size:    16px;
      line-height:  20px;
      color: #666;
      font-family: Helvetica, Arial, sans-serif;
    }

    ul.meta { text-align: center; }
    ul.meta li { font-size:15px; }
    ul.meta li.author { background:none; }
    ul.meta li.author a { display:block; background:none; }
    ul.meta li a { font-size:15px; }

  }

  ul.meta li:last-child { background:none; }

  header {
    height: 267px!important;
    background: #fff url(backgrounds/bkg_header.png) repeat-x top center;
  }

  hgroup {
    $left: 40px;
    width: 927px - $left;
    top: 95px;
    left: $left;
    text-align: center;

    h1 {
      @include inline-block();
      font-size: 36px;
      position:static;
      margin: 0 10px 0 0;
    }

    h2 {
      @include inline-block();
      font-size: 36px;
      margin: 0 0 0 10px;

      color:$cGray3;
      position:static;
    }

    .the-watcher-logo {
      @include inline-block();
      @include logos-sprite(watcher);
      width: 126px;
      height: 126px;
    }
  }

  #content .inner {
    text-align:center;
    margin: 0 auto;
    width: 590px;
  }

  #content .inner section {
    margin:auto;
    text-align: left;
  }

  #content .inner section article h1 a {
    color: #333;
  }

  #content .inner section article p {
    font-size: 16px;
  }

}

body.posts,
body.static {

  header {
    border-bottom: 1px solid #ccc;
    height: 195px;
  }

  .navigation {
    position:relative;

    padding: 25px;
    text-align: center;

    border-bottom: 1px solid #CCC;
    background:#fff;

    ul {

      li {
        @include inline-block();
        margin: 0 12px 0 12px;

        a {
          text-decoration: none;
          font-size:13px;
          font-weight:bold;
          color: #A1BA42;
          @extend .sans-serif;
          text-transform: uppercase;

          &:hover {
            color: #666;
          }

          &.selected {
            color: #666666;
          }

        }

      }
    }
  }

  #content {
    padding: 0;
    background: $cWhite;
  }

  section, aside { @include inline-block(); }

  section .navigation {
    border:none;
    text-align: center;
    padding: 0;
    background: none;

    .btn.hollow {
      margin: 0 2px 0 0;

      &.last { margin: 0 0 0 2px; }

      width: 180px;

      line-height: 16px;

      background:none;
      border: 1px solid #A1BA42;

      @include border-radius(3px);

      &:hover { background: #A1BA42; }

      span { background:none; }
    }
  }

  section {

    width: 600px;
    padding: 0 0 40px 0;

    article {
      margin: 0 0 47px 0;
      padding: 0 0 48px 0;
      border-bottom: 1px solid $cSeparator;

      &:last-child { border: none; }

      h1 {
        margin: 0 0 15px 0;
        font-size:29px;
        color: $cGray1;

        a {
          @extend .serif;
          font-size:29px;
          color: $cPostTitle;
          text-decoration:none;
          &:hover { color: $cDarkGreen; }
        }
      } // h1

      img { margin: 0 0 32px 0; }

      p {

        &:last-child { margin: 0; }
        margin: 0 0 20px 0;
        color: $cPostBody;
        @extend .sans-serif;
        font-size:    16px;
        line-height:  20px;

      }

      a {
        color: $cLime;
        text-decoration:none;
        font-weight: bold;
        &:hover {text-decoration: underline;}
      }


      .meta {
        margin: 0 0 39px 0;

        li {
          @include inline-block();
          @extend .sans-serif;
          font-size:13px;

          font-weight:300;
          color: $cGray3;

          padding-right: 7px;
          background:url(icons/square.png) no-repeat right 7px;

          &:last-child { background:none; padding: 0; }

          &.tags a {
            @extend .font-golden;
          }

          &.comments a {
            @extend .sans-serif;
            font-size:13px;
            font-weight:300;
            color: $cGray3;
          }
        }
      } // meta

      .read_more, .more {
        @extend .font-golden;
      }
    }
  } // .posts

  div.comments {
    background:$cWhite;
    /*border: 1px solid #46686D;*/
    padding: 49px 0 0 0;

    h4 {
      padding: 0 0 20px 0;
      margin: 0 0 30px 0;
      width:594px;

      border-bottom: 1px solid #60939C;

      @extend .sans-serif;
      font-weight:bold;
      font-size:13px;
      text-transform: uppercase;
      color:#3A6470;
    }

    .inner > ul {
      width:594px;
      margin: 0 0 60px 0;

      li {
        padding: 0 0 10px 0;
        margin: 0 0 20px 0;

        @extend .sans-serif;
        color:$cDarkGreen;
        font-size:15px;

        border-bottom: 1px solid #60939C;

        .info {
          margin: 0 0 14px 0;

          a {
            font-weight:bold;
            color:$cWhite;
          }
          .date { opacity:0.4;}

        }
        p { margin: 0 0 20px 0; }
      }
    } // ul

    .inner > form {
      margin: 0 0 40px 0;

      .item {
        margin: 0 0 19px 0;
      }

      label {
        display:block;
        margin: 0 0 6px 0;

        @extend .sans-serif;
        font-size:13px;
        font-weight:bold;
        text-transform: uppercase;
        color:#3A6470;

        .mandatory {
          margin: 0 0 0 5px;

          color: $cDarkGreen;
          font-size:15px;
          font-weight:normal;

          text-transform: none;

          opacity:0.4;
        }
      }
    }
  }
}

body.posts {
  #content {
    padding: 40px 0 0 0;
  }
}

body.static {

  header {

    z-index: 1000;

    hgroup {
      width: 100%;
      h1 {
        @extend .serif;
        font-size:51px;
        text-align: center;
      }
    }
  }

  .narrow_column {
    margin: 40px auto 0 auto;
    width: 590px;
  }

  section {
    article {

      margin: 0 0 33px 0;
      padding: 0 0 33px 0;

      &.last {
        margin: 0;
      }

      h1 {
        @extend .serif;
        text-align: center;

        a {
          font-size:29px;
        }
      }

      p {

        a {
          font-size: 16px;
          font-weight: normal;
          text-decoration: underline;
          color: $cGray2;

          &:hover {
            color: $cLime;            
          }
        }

      }

      ul.logo_list {
        @include clearfix();
        margin: 20px auto 0 auto;
        padding: 0;

        li {
          float: left;
          margin: 0 45px 0 45px;

          a {
            display: inline-block;
            width: 110px;
            height: 80px;
            background-repeat: repeat-none;
            background-position:left 0;
            &:hover {
              background-position:left -80px;
            }
          }

          a#centerglobaldevelopment {
            background-image:url(logos/centerglobaldevelopment.png);
          }

          a#imazon {
            background-image:url(logos/imazon.png);
          }
          a#universitymaryland {
            background-image:url(logos/universitymaryland.png);
          }
          a#carpe {
            background-image:url(logos/carpe.png);
          }
          a#sekala {
            background-image:url(logos/sekala.png);
          }
          a#google {
            background-image:url(logos/google.png);
          }
          a#googleearthengine {
            background-image:url(logos/googleearthengine.png);
          }
          a#esri {
            background-image:url(logos/esri.png);
          }
          a#unep {
            background-image:url(logos/unep.png);
          }
          a#nasa {
            background-image:url(logos/nasa.png);
          }
          a#tilafund {
            background-image:url(logos/tilafund.png);
          }
          a#dutchforeign {
            background-image:url(logos/dutchforeign.png);
          }
          a#danida {
            background-image:url(logos/danida.png);
          }
          span#bobolink {
            text-indent: -99999px;
            display: inline-block;
            width: 110px;
            height: 80px;
            background-image:url(logos/bobolink.png);
          }
          a#usaid {
            background-image:url(logos/usaid.png);
          }
          a#wri {
            background-image:url(logos/wri.png);
          }
          a#vizzuality {
            background-image:url(logos/vizzuality.png);
          }
          a#norwegian {
            background-image:url(logos/norwegian.png);
          }
        }
      }

    } // article
  } // section

  #contact {

    background-color: $cGray5;
    padding: 45px 0;
    text-align: center;

    .inner {

      margin: 0 auto;
      width: 590px;

      h1 {
        margin: 0 0 12px 0;
        @extend .serif;
        font-size: 36px;
        color: white;
      }

      p {
        @extend .sans-serif;
        font-size: 15px;
        font-weight:400;
        line-height: 1.2em;
        color: $cGray6;

        span.highlight {
          color: white;
        }
      }

      a {
        margin: 40px 0 0 0;
      }
    }
  }

  footer { border-top: 1px solid $cSeparator; }

} // body.static

body.sources {

  header {
    border-bottom: 0;
    z-index: 10;

    hgroup {
      width: 100%;
      h1 {
        @extend .serif;
        font-size:51px;
        text-align: center;
      }
    }
  }

  #content {
    padding-bottom: 40px;
  }

  .narrow_column {
    margin: 0 auto;
    width: 940px;
  }

  .narrow_column {
    padding-top: 10px;

    + .narrow_column {
      overflow: hidden;
      padding-top: 0;
      border-top: 1px solid #ccc;
    }
  }

  article {
    display: none;

    &.selected { display: block; }
  }

  section {
    article {

      margin: 0 0 35px 0;
      padding: 0 0 18px 0;

      h1 {
        margin: 0 0 30px 0;
        @extend .serif;
        text-align: center;
        a {
          font-size:29px;
          color:$cGray1;
        }
      }

      .footer {
        font-size:13px;
        color:$cGray3;
        @extend .sans-serif;
      }

      p { color: $cGray2; }

      ul.sources li {

        &.flag {
          @extend .flag-icon;
        }

        margin: 0 0 20px 0;

        @extend .sans-serif;

        strong {
          color: $cGray2;
          font-size:12px;
          font-weight:bold;
          text-transform: uppercase;
        }

        a {
          font-size: 16px;
          font-weight: normal;
          text-decoration: underline;
          color: $cGray2;

          &:hover {
            color: $cLime;            
          }

        }

        a.download {
          @extend .font-golden;
          padding-left: 7px;
          background:url(icons/square.png) no-repeat left 6px;
        }

        p {
          margin: 7px 0 0 0;
          font-size:16px;
          color:$cGray2;
          line-height:20px;
        }

        p.credits {
          margin: 7px 0 0 0;
          font-size:13px;
          color:$cGray4;
          line-height:16px;

          a {
            font-size:13px;
            color:$cGray4;
            line-height:16px;
          }
        }


      }
    } // article
  } // section
} // body.sources

body.countries {
  .narrow_column {
    padding-top: 10px;
  }

  header {
    z-index: 10;

    hgroup {
      width: 100%;
      h1 {
        font-size:51px;
        text-align: center;
      }

    }
  }
}

.header_block {
  position: relative;
  margin: -75px auto 40px;
  background: image-url('backgrounds/header_block.jpg');

  .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 49px;
    line-height: 46px;
    @extend .sans-serif;
    color: rgba(#fff, .3);
    background: rgba(#000, .2);
    text-align: center;
    text-decoration: none;
  }
}

.header_block-body {
  padding: 40px 40px 30px;

  p {
    font-size: 17px;
    line-height: 1.2;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(#fff, .7);
  }
}

.header_block-title {
  margin-bottom: 20px;
  font-size: 47px;
  font-family: "fira_sans_otligh";
  color: #fff;
}

.header_block-footer {
  border-top: 1px solid rgba(#fff, .15);
  height: 98px;

  li {
    float: left;
    width: 312px;
    border-left: 1px solid rgba(#fff, .15);

    &.last {
      border: 0;
    }
  }

  a {
    display: block;
    width: 212px;
    border: 2px solid rgba(#fff, .25);
    margin: 30px auto;
    padding-left: 20px;
    font-size: 14px;
    line-height: 38px;
    font-family: 'fira_sans_otmedium';
    color: rgba(#fff, .65);
    text-transform: uppercase;
    text-decoration: none;
    @include border-radius(22px);

    i {
      float: right;
      display: block;
      height: 38px;
      width: 38px;
      @include icons-sprite(hader_block-link);
    }
  }
}

.navigation_left {
  float: left;
  width: 313px;
  padding-bottom: 9999px;
  margin-bottom: -9999px;
  background: #F2F2F3;

  a {
    display: block;
    line-height: 55px;
    padding-left: 45px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    font-family: "fira_sans_otmedium";
    text-transform: uppercase;
    text-decoration: none;
    color: #464052;

    &:hover {
      background: darken(#F2F2F3, 5%);
    }

    &.selected {
      position: relative;
      width: 269px;
      color: #999;
      background: #FFF;
    }
  }
}

.content_right {
  float: left;
  width: 586px;
  border-left: 1px solid #ccc;
  padding: 40px 0 40px 40px;
  min-height: 378px;
}

.item_title {
  border-bottom: 1px solid #ccc;
  line-height: 55px;
  padding-left: 45px;
}

.caret_down {
  display: inline-block;
  height: 10px;
  width: 8px;
  @include icons-sprite(caret_down);
}

.sources > li {
  &.first {
    margin-top: 20px;
  }

  &.last {
    border-bottom: 1px solid #ccc;

    &.expanded {
      border-bottom: 0;
    }
  }

  &:hover {
    .source_header strong {
      color: #98BD17;
    }
  }

  &.expanded {
    + li {
      margin-top: 40px;
    }

    .source_header {
      border-bottom: 1px solid #ccc;

      strong {
        color: #98BD17;
      }
    }

    .expand_arrow {
      @include icons-sprite(expand_arrow_up);
    }

    .source_body {
      display: block;
    }
  }
}

.source_title {
  margin-bottom: 10px;
  font-size: 37px;
  font-family: "fira_sans_otregular";
  color: #464052;
}

.description {
  font: 13px/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #999;
}

.source_header {
  overflow: hidden;
  border-top: 1px solid #ccc;
  cursor: pointer;

  strong {
    font: bold 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 60px;
    text-transform: uppercase;
    color: #464052;
  }

  em {
    float: right;
    color: #999;
    font: italic 13px/60px "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.expand_arrow {
  display: block;
  float: right;
  height: 60px;
  width: 34px;
  margin-left: 15px;
  @include icons-sprite(expand_arrow_down);
}

.source_body {
  display: none;
}

.source_download {
  text-align: right;
  background: #F0F5DC;
  border-bottom: 1px solid #ccc;

  a,
  span {
    display: inline-block;
    margin: 20px;
    padding: 0 15px;
    font: 14px/30px "fira_sans_otmedium";
    text-decoration: none;
    color: #fff;
    background: #A5B81A;
    @include border-radius(16px);
  }

  a {
    display: inline-block;
    margin: 20px;
    padding: 0 15px;
    font: 14px/30px "fira_sans_otmedium";
    text-decoration: none;
    color: #fff;
    background: #A5B81A;
    @include border-radius(16px);

    &.disabled {
      @include opacity(.5);
      cursor: default;
    }
  }
}

.arrow_down {
  display: inline-block;
  height: 10px;
  width: 8px;
  margin-left: 15px;
  @include icons-sprite(arrow_down);
}

.sources_row {
  display: table;
  width: 100%;
  color: #666;

  &.even {
    background: #F2F2F3;
  }

  a {
    color: #98BD17;
  }

  dt {
    display: table-cell;
    width: 120px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font: 500 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
  }

  dd {
    display: table-cell;
    padding: 10px 10px 10px 15px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.source_summary .credits { display: none; }

.source_description,
.source_summary {
  padding-top: 10px;

  h3 {
    margin: 30px 0 10px;
    font-size: 21px;
    font-family: "fira_sans_otmedium";
    color: #463F52;
  }

  ul,
  p {
    font: 15px/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
    color: #666;

    a {
      color: #98BD17;
    }
  }

  ul li {
    list-style: square;
    margin: 0 0 0 20px;

    + li {
      margin-top: 10px;
    }
  }

  strong {
    font: bold 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 60px;
    text-transform: uppercase;
    color: #463F52;
  }
}
