// Icons
$icons-crowdsourcing-spacing:90px;
$icons-analysis-spacing:90px;
$icons-updates-spacing:90px;
$icons-bars-spacing:20px;
$icons-concessions-spacing:20px;
$icons-protected_areas-spacing: 20px;
$icons-mining-spacing: 20px;
$icons-forest_cover-spacing: 20px;
$icons-fire-spacing: 20px;
$icons-checkboxes-spacing: 20px;

@import "icons/*.png";
