@import "compass";
@import "compass/reset";
@import "helpers";
@import "forms";


#fileupload { display: none; }

body.stories {

  header {
    height: 205px;
    border-bottom: 1px solid $cGray4;
    z-index: 1000;
  }

  .btn.edit {
    position:absolute;
    right:0;
    top: 95px;
  }

  .btn.destroy_story,
  .btn.destroy {
    position:absolute;
    right:0;
    top: 95px;
  }

  &.index {
    hgroup { width: 927px; text-align: center; }

    header {
      height: 199px;
    }

    hgroup h1 { top: 27px; }

    hgroup h1 {
      font-size:51px;
      font-family: Georgia;
    }

  }

  &.show {
    hgroup { width: 927px; text-align: center; }

    header {
      height: 169px;
    }

    hgroup h1 { top: 20px; }

    hgroup h1 a {
      color: #A0B941;
      font-size:31px;
      font-family: Georgia;
    }

  }

  #content {

    background: $cWhite;

    .inner {
      position:relative;
      width: 927px;
      margin: auto;
    }
  }

  .featured {
    padding: 60px;

    li {
      margin-bottom: 20px;
      word-spacing: -1em;
      position:relative;
      height: 174px;
      padding: 50px 0;

      img {
        position:absolute;

        top: 5px;
        left: 5px;

        width: 276px;
        height: 276px;
        @include border-radius(300px);
      }

      &.left  .frame { left: 0px; }
      &.right .frame { right: 0px; }

      .frame {

        display:block;
        position:absolute;
        top: 0px;
        width: 286px;
        height: 286px;
        @include border-radius(300px);
        background:#EBEBEB;
        z-index: 10;
        word-spacing: normal;

        .coords {
          @include absolute-center(175px, 83px);
          background: url(backgrounds/bkg_tooltip.png) no-repeat;
          text-align: center;
          z-index: 100;

          strong {
            position:relative;
            top: 30px;
            color: #9EB741;
            font-size: 12px;
            @extend .sans-serif;
          }
        }
      }

      .content {
        @include inline-block();
        width: 600px;
        word-spacing: normal;

        h2 a {
          margin: 0 0 12px 0;
          @extend .serif;
          font-size:29px;
          text-transform: none;
          font-weight: normal;
          line-height:normal;
          color: #333333;

          &:hover {
            text-decoration: underline;
          }
        }

        p {
          @extend .sans-serif;
          font-size: 16px;
          line-height: 20px;
          color: $cGray2;
        }

        a {
          display: block;
          margin: 10px 0;
          @extend .sans-serif;
          font-size: 12px;
          font-weight: bold;
          color: $cGreen1;
          text-transform: uppercase;
          text-decoration: none;
        }
      }

      img, div { vertical-align: middle; }

    }

    .right {
      text-align: left;
      .content { text-align: right; }

    }

    .left {
      text-align: right;
      .content { text-align:left; }
    }

    .pagination {
      margin: 60px 0 0 0;
      padding: 30px 0 0 0;
      border-top: 1px solid #E5E5E5;
      text-align: center;
    }
  }

  .more_stories {

    background-color: $cGray5;
    padding: 45px 0;
    text-align: center;

    .inner {

      h1 {
        margin: 0 0 12px 0;
        @extend .serif;
        font-size: 36px;
        color: white;
      }

      p {
        @extend .sans-serif;
        font-size: 15px;
        font-weight:400;
        line-height: 1.2em;

        color: $cGray6;

        a {
          font-weight: bold;
          text-decoration: none;
          color: $cLime;
        }
      }

      ul {
        padding: 40px;

        li {
          @include inline-block();
          @include size(117px);

          position:relative;
          margin: 0 20px;

          .infowindow {
            display:none;
            padding: 12px;
            @include position(false, false, 90px, -30px);
            width: 156px;
            background:red;
            @include border-radius(3px);

            background:#111;

            z-index: 1000;

            color: #999999;
            font-size: 12px;

            @extend .sans-serif;

            text-align: left;

            .tip {
              @include size(13px, 6px);
              @include absolute-landscape-center(13px);
              @include icons-sprite(infowindow_tip);
              bottom: -6px;
            }

            strong a {

              display:block;
              margin: 0 0 5px 0;
              width: 140px;
              text-align: left;

              color: #F3F2F0;
              font-family: Georgia, serif;
              font-size: 17px;
              font-weight:normal;
              line-height:normal;

              text-decoration :none;

              &:hover { text-decoration: underline; }
            }

          }

          .frame {
            @include position(0, false, false, 0);
            @include size(100%);
            @include border-radius(300px);

            background:#656565;
            z-index: 10;
          }

          img {
            @include absolute-center(105px);
            @include border-radius(120px);
          }

          .exclamation {
            @include absolute-center(105px);
            @include icons-sprite(gfw_default_story_map_icon);
            z-index: 10;
          }
        }
      }

      hr {
        border: none;
        width: 909px;
        height: 1px;
        margin: 0 0 40px 0;
        background-color: $cGray8;
      }

      .submit {
        @include inline-block();
        margin-top: 45px;
        padding: 10px 20px;
        background-color: $cGreen1;
        @extend .sans-serif;
        font-size: 11px;
        font-weight: bold;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
      }

    }

  }

  .story_form {

    .inner {
      position: relative;
      padding: 50px 0;
    }

    .title {
      padding: 50px 0;
      border-bottom: 1px solid #CCCCCC;

      h2 {
        @extend .inner;
        @extend .font-big;
        padding: 0;
        font-size: 49px;
        color: black;
        text-align: left;
      }
    }

    .input-field {
      margin: 5px 0;
      vertical-align: top;
    }

    .field {
      margin: 0 0 25px;

      /*.field_title {
      clear:both;
      overflow:hidden;
      background:red;
      color: red;
      label {
      float:left;

      }

      .field_with_errors {
      @include inline-block();
      }


      .error-message {
      float:right;
      }


      }*/

&.media {
  clear:both;
  overflow:hidden;

  .inner_media {
    @include inline-block();
    width: 588px ;
    margin: 5px 0;
  }

  li {
    @include inline-block();
  }

  .upload_picture {
    float:left;

    @include inline-block();
    @include size(132px, 78px);
    margin: 0 10px 10px 0;
    background: transparent url('buttons/bkg_button_add_media.png') no-repeat center center;

    &:hover { background: transparent url('buttons/bkg_button_add_media_hover.png') no-repeat center center; }

  }

  .thumbnails {

    float:left;
    width: 585px;

    .destroy {
      @include size(18px);
      @include position(-9px, -9px, false, false);
      @include icons-sprite(btn_remove);
    }

    .thumbnail {
      position:relative;
      @include inline-block();
      @include size(132px, 76px);
      margin: 0 7px 10px 0;
      border: 2px solid $cWhite;
      background:#fff;
      cursor: move;

      .inner_box {
        @include size(132px, 76px);
        clear:both;
        overflow: hidden;
      }

      &:hover { border: 2px solid #9EB741; }

      &.preview {
        cursor: default;
        border: 1px solid #9EB741;

        &:hover { border: 1px solid #9EB741; }

      }

      img {
        width:100%;
      }

      .filename {
        text-align: center;
        width: 100%;
        @include position(false, false, 12px, 0);
        @extend .sans-serif;
        font-size: 13px;
        color: $cGray2;
      }
      .spinner  { @include position(30px, false, false, 65px); }

    }

  }

  .hint {
    margin-left: 50px;
  }
}

&.affected-area {

  label, .map-help {
    @include inline-block();
    margin: 0 0 7px 0;
  }

  .map-help {
    @extend .sans-serif;
    font-size: 13px;
    color: $cGray2;
    margin-left: 5px;
  }

}

#map-container {
  @include size(588px, 293px);
  position:relative;
  background-color:black;

  .remove {
    display:none;
    @include position(5px, 5px, false, false);
    padding: 7px 6px;

    background: #fff;

    border: 1px solid #333;
    text-transform: uppercase;
    color: #999999;
    font-size: 11px;
    font-weight:bold;
    text-decoration: none;
    @extend .sans-serif;

    z-index:1000;
  }

  .map {
    height: 293px;
  }
}


.hint {
  @include inline-block();
  width: 284px;
  margin-left: 372px;
  @extend .sans-serif;
  font-size: 15px;
  color: $cGray2;
  line-height: 1.2em;
  vertical-align: top;
}

.optional {
  width: 588px;

  label, span { @include inline-block(); }

  span {
    float: right;
    @extend .sans-serif;
    font-size: 13px;
    color: $cGray2;
  }

}

input[type=submit] {
  display:block;
  background: transparent url('buttons/bkg_button_save_story.png') no-repeat center center;
  border: 0 none;
  width: 156px;
  height: 40px;
  @extend .sans-serif;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  &:hover { @include dark-glow(0.2); }

  &.disabled { background:#ccc; }
}

}

aside {
  position: absolute;
  right: 0;
  top: 0;
  width: 285px;
  margin-top: 50px;

  h3 {
    padding: 0 0 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $cGray4;
    @extend .sans-serif;
    font-weight: bold;
    font-size:13px;
    color: $cGray1;
    text-transform: uppercase;
  }


  p {
    @extend .sans-serif;
    font-size: 15px;
    color: $cGray2;
    line-height: 1.2em;
    padding-bottom: 20px;
  }


}


    }

    .story {

      .title {
        background:transparent;
        border-bottom: 1px solid $cGray4;
        margin-top: -168px;

        h2.compact {
          padding: 17px 0 34px 0;

          a {
            @extend .inner;
            @extend .serif;
            padding: 0;
            color: $cGreen1;
            font-size: 31px;
            text-align:center;
            text-decoration: none;
          }
        }

      }

      .inner {
        padding: 50px 0;

        .header {
          background:transparent;
          h1 {
            @extend .serif;
            font-size: 51px;
            text-align: center;
          }

          .when-and-who {
            @extend .sans-serif;
            font-size: 15px;
            color: $cGray3;
            text-align:center;
            margin-top: 10px;
            margin-bottom: 40px;
          }
        }

        .carrousel {
          position: relative;
          margin: 0 0 40px 0;

          $width: 918px;
          $height: 362px;

          @include size($width, $height);

          .frame {

            display:block;
            position:absolute;
            bottom: 35px;
            right: 35px;
            width: 286px;
            height: 286px;
            @include border-radius(300px);
            background:#333;
            background:rgba(#000, .5);
            z-index: 100;
            word-spacing: normal;

            img {
              position:absolute;

              top: 5px;
              left: 5px;

              width: 276px;
              height: 276px;
              @include border-radius(300px);
            }


            .coords {
              @include absolute-center(175px, 83px);
              background: url(backgrounds/bkg_tooltip.png) no-repeat;
              text-align: center;
              z-index: 100;

              strong {
                position:relative;
                top: 30px;
                color: #9EB741;
                font-size: 12px;
                @extend .sans-serif;
              }
            }
          }



          .previous, .next {
            position:absolute;
            display:block;
            width:68px;
            height:68px;
          }

          .previous {
            top: 30px;
            left: -34px;
            @include icons-sprite(button_story_gallery_left);
            z-index: 100;
          }

          .next {
            bottom: 30px;
            right: -25px;
            @include icons-sprite(button_story_gallery_right);
            z-index: 100;
          }

          li {
            display:none;
            @include position(0, false, false, 0);
            z-index: 10;

            &, img {
              @include size($width, $height);
            }

          }

        }

        .details {
          p {
            @extend .sans-serif;
            font-size: 16px;
            line-height: 20px;
            color: $cGray2;
            margin-bottom: 10px;

            -moz-column-count: 2;
            -moz-column-gap: 20px;
            -o-column-count: 2;
            -o-column-gap: 20px;
            -webkit-column-count: 2;
            -webkit-column-gap: 20px;
            column-count: 2;
            column-gap: 20px;

            .dropcap{
              @extend .serif;
              float:left;
              font-size:400%;
              margin-top: 16px;
              margin-right: 10px;
              margin-bottom: 20px;
            }

          }

        }

        .share_buttons {
          margin: 15px 0 0 0;

          iframe.twitter-share-button {        
            @include inline-block();
          }

          div.fb-like {
            @include inline-block();
            margin: 0 10px 0 0; 
          }

        }

      }

    }

  }
