// Compass
@import "compass/reset";
@import "compass/css3";

// Images
@import "logos/*.png";
@import "icons/*.png";

// Global
// This will load all common settings, mixins and styles needed
@import "global/global";
@import "settings/settings";

// Layouts
// This will load all common layouts styles
@import "layouts/layouts";
@import "layouts/foundation-grid";

// Modules
@import "modules/modal";
@import "modules/modal_new";
@import "modules/form";
@import "modules/buttons";
@import "modules/icons";
@import "modules/shared";
@import "modules/slick";
@import "modules/pagination";
@import "modules/notifications";
@import "modules/header-static";
@import "modules/section-static";
@import "modules/section-new";

// Static Modules
@import "modules/static/spinner-static";
@import "modules/static/cover-static";
@import "modules/static/interesting-static";

// Stories Modules
@import "modules/static/list-stories";
@import "modules/static/latest-stories";
@import "modules/static/spinner";

@import "modules/connect/login";
@import "modules/connect/user-form";

@import "layouts/stories";
