// STORY GRID
.m-list-stories {
  > ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > li {
      position: relative;
      width: 100%;
      padding: 0 0 40px;
      @media (min-width: $br-mobile-portrait) {
        width: 47.5%;
      }  
      @media (min-width: $br-mobile) {
        width: 100%;
        padding: 40px 0;
        border-top: 1px solid $border;
        
        &:first-child { 
          border-top: none;
          padding-top: 0;
        }
      }          
    }
  }
}

// STORY ELEMENT
.m-list-story {
  > a {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (min-width: $br-mobile) {
      min-height: 150px;
    }
  }

  // Img
  .img {
    width: 100%;
    margin: 0 0 20px -15px;
    @media (min-width: $br-mobile-portrait) {
      overflow: hidden;
      margin: 0 0 20px;
    }
    @media (min-width: $br-mobile) {
      width: 150px;
      position: absolute;
      top: 0;
      right: 40px;
    }

    > div {
      background-position: center;
      background-size: cover;
      padding-bottom: 40%;
      width: calc(100% + 30px);
      margin: 0 auto;
      @media (min-width: $br-mobile) {
        width: 100%;
        padding-bottom: 100%;
        border-radius: 50%;
      }
    }
  }
  
  .info {
    width: 100%;
    font-size: 14px;
    @media (min-width: $br-mobile) {
      width: calc(100% - 250px);
    }

    h4 {
      color: $cGreen;
      font-size: 21px;
      line-height: 1.25;
      padding: 0 0 20px;
    }

    p {
      color: $dark;
      font-weight: 400;
      line-height: 2;
    }

    .btn {
      margin: 25px 0 0;
    }
  }  
}
