.m-section-static {
  position: relative;
  padding: 70px 0;
  
  &.-no-padding {
    padding: 0;
  }

  // HEADER
  header {
    color: $dark;
    padding: 0px 0 40px;
    max-width: 900px;
    &.-no-padding {
      padding: 0;
    }

    h2 {
      color: $dark;
      font-size: 35px;
      @media only screen and (min-width: 480px) {
        padding: 0 210px 0 0;
      }

      &.-main-title {
        font-size: 35px;
        font-weight: 400;
        @media only screen and (min-width: $br-mobile) {
          font-size: 47px;
        }
      }
    }

    h3 {
      font-size: 21px;
      line-height: 1.25;
      padding: 15px 0 0;
    }

    p {
      font-size: 14px;
      line-height: 1.5;
      padding: 35px 0 0;
      font-weight: 300;
      @media only screen and (min-width: $br-mobile) {
        font-size: 19px;
      }

      a {
        color: $cGreen;
        font-weight: 500;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .btn {
      margin: 15px auto 0;
      width: 100%;
      @media (min-width: $br-mobile-portrait) {
        width: auto;
      }
    }
  }

  .inner {
    padding: 0 15px;
    @media (min-width: $br-mobile) {
      padding: 0;
    }
  }
}
