@import '~styles/settings.scss';

.c-topics-text {
  & > * {
    @media screen and (min-width: $screen-m) {
      opacity: 0;
      transform: translateY(-20px);
      transition:
        transform 0.7s ease-in-out,
        opacity 0.7s ease-in-out;
    }
  }

  span {
    font-weight: 500;
    font-size: 14px;
    color: $slate-light;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  h4 {
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    color: $slate-light;
    margin-bottom: 15px;
  }

  p {
    font-weight: 300;
    font-size: 16px;
    color: $slate-light;
    line-height: 24px;
    margin: 0;
  }
}

.section.active {
  .c-topics-text > * {
    transform: translateY(0);
    opacity: 1;
    transition:
      transform 0.7s ease-in-out,
      opacity 0.7s ease-in-out;
  }
}

.section.leaving {
  .c-topics-text > * {
    transform: translateY(20px);
    opacity: 0.5;
    transition:
      transform 0.7s ease-in-out,
      opacity 0.7s ease-in-out;
  }
}
