@import '~styles/settings.scss';

.c-topics-text {
  h3 {
    font-weight: 500;
    font-size: 14px;
    color: $slate-light;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  h1 {
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    color: $slate-light;
    margin: 0 0 14px;
  }

  p {
    font-weight: 300;
    font-size: 16px;
    color: $slate-light;
    line-height: 24px;
    margin: 0;
    max-width: 80%;
  }
}
