@import '~styles/settings.scss';

.c-dynamic-sentence {
  font-weight: 300;
  line-height: 1.58;
  letter-spacing: 0.1px;
  font-size: 20px;
  color: $slate;

  strong,
  b,
  span {
    font-weight: 500;
  }
}
