@import '~styles/settings.scss';

.c-dynamic-sentence {
  font-weight: 300;
  line-height: 1.58;
  letter-spacing: 0.1px;
  font-size: 20px;
  color: $slate;

  strong,
  b,
  span {
    font-weight: 500;
  }

  a {
    color: $green-gfw;
  }

  .c-widgets.minimalist & {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: -0.3px;
    color: $hot-grey;

    b {
      color: $greyish-brown;
    }
  }

  .hover-text {
    border-bottom: dashed 1px $warm-grey;
    padding-bottom: 1px;
    cursor: help;
  }

  .hover-text-fine {
    border-bottom: dashed 1px $warm-grey;
    font-weight: 300;
    padding-bottom: 1px;
    cursor: help;
  }
}
