@import '~styles/settings.scss';

.c-dynamic-sentence {
  font-weight: 300;
  line-height: 1.58;
  letter-spacing: 0.1px;
  font-size: 20px;
  color: $slate;

  strong,
  b,
  span {
    font-weight: 500;
  }

  .hover-text {
    border-bottom: dashed 1px $warm-grey;
    padding-bottom: 1px;
    cursor: help;
  }
}
