@import '~styles/settings.scss';

.theme-select-light {
  .dd__wrapper {
    .dd__selectControl {
      border: solid 1px #e5e5df;
      border-radius: 0;

      .icon-arrow-down {
        width: rem(11px);
        height: rem(11px);
      }
    }

    &.dd__opened {
      .dd__selectControl {
        .icon-arrow-down {
          transform: rotate(180deg);
        }
      }
    }
  }

  .dd__list {
    padding: rem(5px) 0;
  }

  .dd__openTobottom {
    margin-top: 0;
    border-top: 0;
  }

  .dd__openTotop {
    margin-bottom: 0;
    border-bottom: 0;
  }

  .dd__selectControl,
  .dd__option {
    padding: rem(7px) rem(12px);
    background-color: transparent;
  }

  .dd__selectedItem,
  .dd__option {
    font-size: 13px;
    letter-spacing: 0.1px;
  }

  .dd__disabled {
    opacity: 0.7;
    background-color: $grey-light;
  }
}
