@import '~styles/settings.scss';

.c-my-gfw {
  background-color: $white;
  width: rem(320px);
  padding: rem(25px) rem(30px) rem(30px);
  border: solid 1px $border;

  &.-plain {
    border: 0;
    width: 100%;
    padding: 0;
  }

  p {
    font-size: rem(14px);
    margin-bottom: rem(20px);
  }

  a {
    color: $green-gfw;
  }

  .social-btn {
    border-radius: 0;
    height: rem(40px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    text-transform: uppercase;
    font-size: rem(12px);
    font-weight: 500;

    &.-twitter {
      background-color: $twitter;
      margin-bottom: rem(10px);

      &:hover {
        background-color: darken($twitter, 10%);
      }
    }

    &.-facebook {
      background-color: $facebook;
      margin-bottom: rem(10px);

      &:hover {
        background-color: darken($facebook, 10%);
      }
    }

    &.-google {
      background-color: $googleplus;

      &:hover {
        background-color: darken($googleplus, 10%);
      }
    }
  }
}
