@import '~styles/settings.scss';

.c-topics-intro {
  position: relative;

  .titleRow {
    padding-top: 30px;

    @media screen and (min-width: $screen-m) {
      margin-top: 70px;
      padding: 0 $desktop-gutter;
    }
  }

  .titleCol {
    position: relative;

    @media screen and (min-width: $screen-m) {
      background-color: #e5e5df;
    }
  }

  .intro-img {
    width: 100%;
    margin: rem(10px) 0;
    padding: rem(15px);

    @media screen and (min-width: $screen-m) {
      position: absolute;
      left: rem(40px);
      padding-right: rem(80px);
      display: initial;
      margin: rem(30px) 0 rem(50px);
    }
  }

  &.water {
    @media screen and (min-width: $screen-m) {
      .intro-img {
        left: 100px;
        width: 65%;
        padding-right: 0;
      }
    }
  }

  .intro-title {
    font-size: 36px;
    font-weight: 300;
    line-height: 40px;
    color: $slate-light;
    max-width: 400px;

    @media screen and (min-width: $screen-m) {
      font-size: 36px;
      padding: rem(30px) 0;
    }
  }

  .intro-text {
    color: $slate-light;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    max-width: 400px;
    margin-bottom: 30px;
  }
}
