@import '~styles/settings.scss';
$mobile-padding: rem(30px);
$desktop-padding: rem(50px);

.c-modal-meta {
  padding: $mobile-padding $mobile-padding;
  min-width: rem(320px);
  min-height: rem(320px);
  width: 100%;
  max-width: rem(800px);
  color: $slate;
  word-break: break-word;

  @media screen and (min-width: $screen-m) {
    padding: $desktop-padding $desktop-padding;
    padding-top: rem(40px);
  }

  .title {
    font-weight: 500;
    font-size: rem(16px);
    text-transform: uppercase;
    color: $slate;
    line-height: 1.25;
  }

  .subtitle {
    margin-top: rem(5px);
    font-size: rem(13px);
    line-height: 1.2;
    color: $warm-grey;
    margin-bottom: rem(30px);
  }

  .meta-table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-top: solid 1px $border;
    margin: 0 rem(-30px);
    width: auto;
    margin-bottom: rem(30px);

    @media screen and (min-width: $screen-m) {
      margin: 0 rem(-50px);
      margin-bottom: rem(30px);
    }
  }

  .table-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: solid 1px $border;
    width: 100%;

    @media screen and (min-width: $screen-m) {
      flex-direction: row;
    }

    &:nth-child(even) {
      background-color: $grey-light;
    }

    .title-column {
      font-weight: 500;
      font-size: rem(11px);
      text-transform: uppercase;
      padding: rem(15px) rem(5px) rem(2px) $mobile-padding;
      color: $slate;
      width: rem(150px);

      @media screen and (min-width: $screen-m) {
        padding: rem(15px) $desktop-padding;
        padding-right: rem(5px);
      }
    }

    .description-column {
      font-weight: 300;
      font-size: rem(13px);
      line-height: 1.5;
      color: $slate;
      width: calc(100% - 100px);
      width: 100%;
      padding: 0 $mobile-padding rem(15px) $mobile-padding;

      @media screen and (min-width: $screen-m) {
        padding: rem(13px) $desktop-padding;
      }

      p {
        margin-bottom: rem(10px);
      }
    }
  }

  .overview {
    margin-bottom: rem(30px);

    h4 {
      font-size: rem(16px);
      font-weight: 500;
    }

    .body {
      font-size: rem(13px);
      font-weight: 300;
    }
  }

  .citation {
    h5 {
      font-size: rem(12px);
      font-weight: 500;
    }

    .body {
      font-size: rem(12px);
      color: #aaa;
      font-weight: 300;
    }
  }

  a {
    color: $green-gfw;

    &:hover {
      color: darken($green-gfw, 10%);
    }
  }

  ul,
  ol {
    list-style: disc;
    margin-left: rem(15px);
  }
}
