<div class="layer-details layer-details-select">
  <span class="container-select-option">
    Display biodiversity
    <div class="select-container">
      <select class="select-option js-biodiversity-layer">
        <option value="Completeness"selected>Significance</option>
        <option value="Intactness">Intactness</option>
      </select>
    </div>
  </span>
</div>
<div class="layer-details layer-details-biodiversity-layers">
  <div class="total-carbon-bar">
    <ul class="labels">
      <li>Low</li>
      <li>High</li>
    </ul>
    <div class="quartile-bar-biomass"></div>
  </div>
</div>
