<div class="layer-details layer-details-bol_user_fire_frequency">
  <ul class="layer-colors">
    <div class="gradient-bar" style="background: linear-gradient(-90deg,#ba0040 0%,#cb4532 12.5%,#e38405 25%,#ea9e07 37.5%,#d4af21 50%,#2e9f5f 62.5%,#216d92 75%,#5b3f95 87%);">
					<span class="-left"><div> </div> 1 year</span>
					<span class="-right"><div> </div>15 years</span>
				</div>
    <p><font size="1.5">Frequency of fires - how many years between 2000 and 2015 it was burned.</font></p>
  </ul>
</div>