<div class="layer-details layer-details-bol_user_fire_frequency">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#5b3f95;'></i>1 year</li>
    <li><i class="circle" style='background:#445796;'></i>2 years</li>
    <li><i class="circle" style='background:#216d92;'></i>3 years</li>
    <li><i class="circle" style='background:#278878;'></i>4 years</li>
    <li><i class="circle" style='background:#2e9f5f;'></i>5 years</li>
    <li><i class="circle" style='background:#5fa951;'></i>6 years</li>
    <li><i class="circle" style='background:#94b03e;'></i>7 years</li>
    <li><i class="circle" style='background:#d4af21;'></i>8 years</li>
    <li><i class="circle" style='background:#ea9e07;'></i>9 years</li>
    <li><i class="circle" style='background:#e38405;'></i>10 years</li>
    <li><i class="circle" style='background:#d86621;'></i>11 years</li>
    <li><i class="circle" style='background:#cb4532;'></i>12 years</li>
    <li><i class="circle" style='background:#c22c3a;'></i>13 years</li>
    <li><i class="circle" style='background:#ba0040;'></i>14 years</li>
  </ul>
</div>