<div class="layer-details layer-details-tigers">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#C3B42F;'></i>Floresta: Forest</li>
    <li><i class="circle" style='background:#CCDC94;'></i>Vegetacao secundaria: Secondary vegetation</li>
    <li><i class="circle" style='background:#97A470;'></i>Nao floresta: Non-forest</li>
    <li><i class="circle" style='background:#989b05;'></i>Deflorestamento 2014: Deforestation 2014</li>
    <li><i class="circle" style='background:#157764;'></i>Reflorestamento: Reforestation </li>
    <li><i class="circle" style='background:#3ccb49;'></i>Agricultura anual: Annual agriculture</li>
    <li><i class="circle" style='background:#69e459;'></i>Pasto limpo: “Clean” pasture </li>
    <li><i class="circle" style='background:#77c86c;'></i>Pasto sujo: “Dirty” pasture</li>
    <li><i class="circle" style='background:#91dd86;'></i>Regeneracao com pasto: Pasture regeneration</li>
    <li><i class="circle" style='background:#d0dd86;'></i>Pasto com solo esposto: Pasture with exposed soil</li>
    <li><i class="circle" style='background:#F41E65;'></i>Area urbana: Urban area</li>
    <li><i class="circle" style='background:#fbb685;'></i>Mineracao: Mining</li>
    <li><i class="circle" style='background:#7DBCE7;'></i>Hidrografia: Water</li>
    <li><i class="circle" style='background:#dd86d8;'></i>Mosaico de observacoes: Mixed observations</li>
    <li><i class="circle" style='background:#b8d1ba;'></i><i>Outros</i> Other</li>
  </ul>
</div>