<div class="layer-details layer-details-select layer-details-bra_map_biomas">
  <span class="container-select-option">
    Select year
    <div class="select-container">
      <select class="select-option js-map-biomas-year">
        <option value="2000">2000</option>
        <option value="2001">2001</option>
        <option value="2002">2002</option>
        <option value="2003">2003</option>
        <option value="2004">2004</option>
        <option value="2005">2005</option>
        <option value="2006">2006</option>
        <option value="2007">2007</option>
        <option value="2008">2008</option>
        <option value="2009">2009</option>
        <option value="2010">2010</option>
        <option value="2011">2011</option>
        <option value="2012">2012</option>
        <option value="2013">2013</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016" selected>2016</option>
      </select>
    </div>
  </span>
  <ul class="layer-colors">
    <li><i class="circle" style='background:#006400;'></i>Forest formations</li>
    <li><i class="circle" style='background:#8D9023;'></i>Savannah formations</li>
    <li><i class="circle" style='background:#8AA81D;'></i>Mangroves</li>
    <li><i class="circle" style='background:#E8A3E5;'></i>Planted forest</li>
    <li><i class="circle" style='background:#2789D4;'></i>Non-forest wetlands</li>
    <li><i class="circle" style='background:#CCDB98;'></i>Grassland</li>
    <li><i class="circle" style='background:#8AB84A;'></i>Other non-forest vegetation</li>
    <li><i class="circle" style='background:#FFB87E;'></i>Pasture</li>
    <li><i class="circle" style='background:#D2A965;'></i>Agriculture</li>
    <li><i class="circle" style='background:#E8B071;'></i>Pasture or agriculture</li>
    <li><i class="circle" style='background:#DD7E6B;'></i>Beaches and dunes</li>
    <li><i class="circle" style='background:#E9462B;'></i>Urban infrastructure</li>
    <li><i class="circle" style='background:#F6F0EA;'></i>Non-vegetated areas</li>
    <li><i class="circle" style='background:#A3DCFE;'></i>Water bodies</li>
    <li><i class="circle" style='border: 1px solid #EBECEC; background: transparent;'></i>Unobserved</li>
  </ul>
</div>
