<div class="layer-details layer-details-bra-rtrs">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#D46369;'></i>No expansion allowed</li>
    <li><i class="circle" style='background:#D0E291;'></i>Expansion potentially allowed after HCVA assessment</li>
    <li><i class="circle" style='background:#FDFDCE;'></i>Responsible expansion as per legislation</li>
    <li><i class="circle" style='background:#A4C38B;'></i>No land available for expansion</li>
    <li><i class="circle" style='background:#B796F6;'></i>Areas deforested after 2009</li>
  </ul>
</div>
