<div class="layer-details layer-details-bra_biomes">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#136400;'></i>Amazônia</li>
    <li><i class="circle" style='background:#49CC4C;'></i>Caatinga</li>
    <li><i class="circle" style='background:#9ECC49;'></i>Cerrado</li>
    <li><i class="circle" style='background:#5CA2D1;'></i>Mata Atlântica</li>
    <li><i class="circle" style='background:#63802E;'></i>Pampa</li>
    <li><i class="circle" style='background:#0F3B82;'></i>Pantanal</li>
  </ul>
</div>
