<div class="layer-details layer-details-bra_map_biomas">
  <span class="container-select-option">
    Year
    <div class="select-container">
      <select class="select-option js-map-biomas-year">
        <option value="2000" selected>2000</option>
        <option value="2007">2007</option>
      </select>
    </div>
  </span>
  <ul class="layer-colors">
    <li><i class="circle" style='background:#16633D;'></i>Natural forest</li>
    <li><i class="circle" style='background:#DB84D7;'></i>Planted forest</li>
    <li><i class="circle" style='background:#29D2AB;'></i>Non-forest wetlands</li>
    <li><i class="circle" style='background:#C3ED61;'></i>Grassland</li>
    <li><i class="circle" style='background:#6EA224;'></i>Other non-forest vegetation</li>
    <li><i class="circle" style='background:#CD7D28;'></i>Pasture</li>
    <li><i class="circle" style='background:#FBF0AB;'></i>Agriculture</li>
    <li><i class="circle" style='background:#F4D634;'></i>Pasture or agriculture</li>
    <li><i class="circle" style='background:#D1D3D3;'></i>Non-vegetated areas</li>
    <li><i class="circle" style='background:#2784BC;'></i>Water bodies</li>
    <li><i class="circle" style='background:#5C6060;'></i>Unobserved</li>
  </ul>
</div>
