<div class="layer-details layer-details-tigers">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#0A633C;'></i>Floresta <i>Forest</i></li>
    <li><i class="circle" style='background:#149C61;'></i>Vegetacao secundaria <i>Secondary vegetation</i></li>
    <li><i class="circle" style='background:#6DA217;'></i>Nao floresta <i>Non-forest</i></li>
    <li><i class="circle" style='background:#DD86D8;'></i>Deflorestamento 2014 <i>Deforestation 2014</i></li>
    <li><i class="circle" style='background:#B1E61E;'></i>Reflorestamento <i>Reforestation </i></li>
    <li><i class="circle" style='background:#FCF0A8;'></i>Agricultura anual <i>Annual agriculture</i></li>
    <li><i class="circle" style='background:#F6D61C;'></i>Pasto limpo <i>“Clean” pasture </i></li>
    <li><i class="circle" style='background:#F4B225;'></i>Pasto sujo <i>“Dirty” pasture</i></li>
    <li><i class="circle" style='background:#D07E1B;'></i>Regeneracao com pasto <i>Pasture regeneration</i></li>
    <li><i class="circle" style='background:#8F5003;'></i>Pasto com solo esposto <i>Pasture with exposed soil</i></li>
    <li><i class="circle" style='background:#9A180F;'></i>Area urbana <i>Urban area</i></li>
    <li><i class="circle" style='background:#FF3728;'></i>Mineracao <i>Mining</i></li>
    <li><i class="circle" style='background:#8050DD;'></i>Mosaico de observacoes <i>Mixed observations</i></li>
    <li><i class="circle" style='background:#1284BE;'></i>Hidrografia <i>Water</i></li>
    <li><i class="circle" style='background:#D1D3D3;'></i>Outros <i>Other</i></li>
    <li><i class="circle" style='background:#CCDC94;'></i>Área não observada <i>Not observed</i></li>  
  </ul>
</div>
