<div class="layer-details layer-details-colombia-forest-change">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#1f7511;'></i>Stable forest</li>
    <li><i class="circle" style='background:#ff0000;'></i>Deforestation</li>
    <li><i class="circle" style='background:#f0f3d8;'></i>No stable forest</li>
    <li><i class="circle" style='background:#293fe2;'></i>Regeneration</li>
    <li><i class="circle" style='background:#ebc277;'></i>No information</li>
  </ul>
</div>
