<div class="layer-details layer-details-concesiones-forestales">
  <ul class="layer-colors">
    <li><i class="circle" style="color:#1F78B4"></i>Supervised concessions</li>
    <li><i class="circle" style="color:#A6CEE3"></i>Unsupervised concessions</li>
  </ul>
</div>
