<div class="layer-details layer-details-concesiones-forestales">
  <ul class="layer-colors">
    <li><span style="background:rgb(250,225,250)"></span>Inactive concessions</li>
    <li><span style="background:rgb(199,250,175)"></span>Supervised concessions</li>
    <li><span style="background:rgb(250,250,175)"></span>Not Supervised concessions</li>
  </ul>
</div>
<style type="text/css">
  .layer-details-concesiones-forestales {
    display: block;
    position: relative;
    height: 35px;
  }
  .layer-details-concesiones-forestales ul {
    margin: 6px 0 0 0;
    padding: 0;
    float: left;
    list-style: none;
    }
  .layer-details-concesiones-forestales ul li {
    display: block;
    float: left;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
    margin-left: 4px;
    padding-top: 3px;
    }
  .layer-details-concesiones-forestales ul li span {
      float: left;
      height: 15px;
      width: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-bottom: 3px;
      margin-right: 5px;
      position: relative;
      top: -3px;
    }
</style>
