<div class="layer-details layer-details-select">
  <span class="container-select-option">
    Display concessions
    <div class="select-container">
      <select class="select-option js-toggle-concessions">
        <option value="concesiones_forestales">by Supervision status</option>
        <option value="concesiones_forestalesNS" selected>by Concession type</option>
      </select>
    </div>
  </span>
  <ul class="layer-colors">
    <li><i class="circle" style="background:#1F78B4"></i>Timber <i>Madera</i></li>
    <li><i class="circle" style="background:#F9FF00"></i>Reforestation <i>Forestación y reforestación</i></li>
    <li><i class="circle" style="background:#33A02C"></i>Conservation <i>Conservación</i></li>
    <li><i class="circle" style="background:#FB9A99"></i>Ecotourism  <i>Ecoturismo</i></li>
    <li><i class="circle" style="background:#E31A1C"></i>Non-timber forest products <i>Productos forestales no maderables</i></li>
    <li><i class="circle" style="background:#FDBF6F"></i>Wildlife <i>Fauna</i></li>
  </ul>
</div>
