<div class="layer-details layer-details-select">
  <span class="container-select-option">
    Display concessions
    <div class="select-container">
      <select class="select-option js-toggle-concessions">
        <option value="concesiones_forestales" selected>by Supervision status</option>
        <option value="concesiones_forestalesNS">by Concession type</option>
      </select>
    </div>
  </span>
  <ul class="layer-colors">
    <li><i class="circle" style="background:#1F78B4"></i>Supervised concessions <i>Supervisado por OSINFOR</i></li>
    <li><i class="circle" style="background:#A6CEE3"></i>Unsupervised concessions <i>No supervisado</i></li>
  </ul>
</div>
