<div class="layer-details layer-details-concesiones-forestales">
  <ul class="layer-colors">
    <li><span style="background:#A6CEE3"></span>Nontimber forest nuts</li>
    <li><span style="background:#1F78B4"></span>Timber concession</li>
    <li><span style="background:##60A6E7"></span>Reforestation</li>
    <li><span style="background:#33A02C"></span>Conservation</li>
    <li><span style="background:#FB9A99"></span>Ecoturism</li>
    <li><span style="background:#E31A1C"></span>Nontimber forests shiringa</li>
    <li><span style="background:#FDBF6F"></span>Wildlife</li>
  </ul>
</div>
<style type="text/css">
  .layer-details-concesiones-forestales {
    display: block;
    position: relative;
    height: 35px;
  }
  .layer-details-concesiones-forestales ul {
    margin: 6px 0 0 0;
    padding: 0;
    float: left;
    list-style: none;
    }
  .layer-details-concesiones-forestales ul li {
    display: block;
    float: left;
    margin-bottom: 6px;
    font-size: 80%;
    list-style: none;
    margin-left: 4px;
    padding-top: 3px;
    width: 100%;
    }
  .layer-details-concesiones-forestales ul li span {
      float: left;
      height: 15px;
      width: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-bottom: 3px;
      margin-right: 5px;
      position: relative;
      top: -3px;
    }
</style>
