<div class="layer-details layer-details-concesiones-forestales">
  <ul class="layer-colors">
    <li><i class="circle" style="color:#1F78B4"></i>Timber concession</li>
    <li><i class="circle" style="color:#F9FF00"></i>Reforestation</li>
    <li><i class="circle" style="color:#33A02C"></i>Conservation</li>
    <li><i class="circle" style="color:#FB9A99"></i>Ecotourism</li>
    <li><i class="circle" style="color:#E31A1C"></i>Non-timber forests product</li>
    <li><i class="circle" style="color:#FDBF6F"></i>Wildlife</li>
  </ul>
</div>
