<div class="layer-details layer-details-dam_hotspots">
  <ul class="layer-colors">
    <li><i class="circle" style='color:#A53ED5;'></i>Operational</li>
    <li><i class="circle" style='color:#FB9A99;'></i>Under construcction</li>
    <li><i class="circle" style='color:#1F78B4;'></i>Planned</li>
    <li><i class="circle" style='color:#B2DF8A;'></i>Inventoried</li>
    <li><i class="circle" style='color:#E31A1C;'></i>Suspended</li>
    <li><i class="circle" style='color:#ada5a5;'></i>Unknown</li>
  </ul>
</div>
