<div class="layer-details layer-details-dam_hotspots">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#F78300;'></i>Operational</li>
    <li><i class="circle" style='background:#D5CB12;'></i>Under construction</li>
    <li><i class="circle" style='background:#1F78B4;'></i>Planned</li>
    <li><i class="circle" style='background:#85AB63;'></i>Inventoried</li>
    <li><i class="circle" style='background:#E31A1C;'></i>Suspended</li>
    <li><i class="circle" style='background:#746969;'></i>Unknown</li>
  </ul>
</div>
