<div class="layer-details layer-details-fires">
  <p class="canopy">For more information about this layer</p>
  <p class="canopy"><a href="http://fires.globalforestwatch.org/" target="_blank">Check out GFW Fires &#10148;</a></p>
  {{!-- <a href="http://fires.globalforestwatch.org/" target="_blank" class="gfw-fires-link">Check out <span>GFW FIRES</span></a> --}}
</div>
