<div class="layer-details layer-details-fires">
  <p class="canopy">For more information about this layer</p>
  <p class="canopy"><a href="http://fires.globalforestwatch.org/" target="_blank">Check out GFW Fires &#10148;</a></p>
</div>
