<div class="layer-details layer-details-select">
  <span class="container-select-option">
    Display tree cover for
    <div class="select-container">
      <select class="select-option js-tree-cover-year">
        <option value="forest2000" selected>2000</option>
        <option value="forest2010">2010</option>
      </select>
    </div>
  </span>
  <ul class="layer-details layer-details-forest2000">
  {{#if threshold}}
    <p class="canopy">Displaying tree cover with <span class="canopy-button js-toggle-threshold"> > {{threshold}} %</span> canopy density.</p>
  {{/if}}
  </ul>
</div>
