<div class="layer-details layer-details-forest2000">
  {{#if threshold}}
    <p class="canopy">Displaying with <span class="canopy-button"> > {{threshold}} %</span> canopy density.</p>
  {{/if}}
</div>
