<div class="layer-details layer-details-forest2000">
{{!--   <div class="details-title">Percent tree cover</div>

  <div class="quartiles">
    <div class="quartile">25-50%</div>
    <div class="quartile">50-75%</div>
    <div class="quartile">75-100%</div>
  </div> --}}

  {{#if threshold}}
    <p class="canopy" title="Click the gear icon to change the tree cover canopy density">Displaying extent with <span class="canopy-button"> > {{threshold}} %</span> canopy density.</p>
  {{/if}}
</div>
