<div class="layer-details">
    <div class="radioswitch js-select-layer {{#ifCond layerSlug "===" 'forma_month_1'}}selected{{/ifCond}}" data-layer="forma_month_1">
        <span></span>Forma Month 1
    </div>

    <div class="radioswitch js-select-layer {{#ifCond layerSlug "===" 'forma_month_3'}}selected{{/ifCond}}" data-layer="forma_month_3">
        <span></span>Forma Month 3
    </div>
</div>
