<div class="layer-sublayer layer-option js-toggle-sublayer" data-parent="forma_month_3" data-sublayer="forma_activity">
  <span class="onoffswitch"><span></span></span>
  <div class="sublayer-title">
    Activity alerts
		<a href="#" data-source="forma_activity" class="source"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-info"></use></svg></a>
  </div>
</div>
