<div class="layer-details">
  <ul class='legend-labels'>
    <li><span style='background:gold;'></span>Recent alerts</li>
  </ul>
</div>

<style type="text/css">
  ul.legend-labels li {
    display: block;
    line-height: 25px;
  }
  ul.legend-labels li span {
    display: block;
    float: left;
    height: 12px;
    width: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    top: 6px;
    position: relative;
}
</style>
