<div class="layer-details layer-details-gfw-plantations-by-species">
  <ul class="layer-colors">

    <li><span class="circle" style="color: #49CC4C;"></span> Oil palm </li>
    <li><span class="circle" style="color: #9ECC49;"></span> Other </li>
    <li><span class="circle" style="color: #5CA2D1;"></span> Fruit mix </li>
    <li><span class="circle" style="color: #63802E;"></span> Hevea (rubber) mix </li>
    <li><span class="circle" style="color: #0F3B82;"></span> Wood fiber / timber </li>
    <li><span class="circle" style="color: #FFF;"></span> Wood fiber / timber mix </li>
    <li><span class="circle" style="color: #F00;"></span> Other mix </li>
    <li><span class="circle" style="color: #0f0;"></span> Oil palm mix </li>
    <li><span class="circle" style="color: #00F;"></span> Unknown </li>
    <li><span class="circle" style="color: #FF0;"></span> Fruit </li>
    <li><span class="circle" style="color: #0FF;"></span> Hevea (rubber) </li>

  </ul>
</div>
