<div class="layer-details layer-details-gfw-plantations-by-type">
  <ul class="layer-colors">
    <li><span class="circle" style="color:#F00;"></span> Industrial plantation</li>
    <li><span class="circle" style="color:#49CC4C;"></span> Mosaic of medium-sized plantations</li>
    <li><span class="circle" style="color:#9ECC49;"></span> Mosaic of small-sized plantations</li>
    <li><span class="circle" style="color:#5CA2D1;"></span> Clearning/ very young plantation</li>
    <li><span class="circle" style="color:#63802E;"></span> Clearing/ very young plantation</li>
    <li><span class="circle" style="color:#0F3B82;"></span> Plantation established in grassland</li>
  </ul>
</div>
