<div class="layer-details">
  <ul class='layer-colors'>
    <li><i class="circle" style='background:rgb(233, 189, 21);'></i></span>Recent alerts</li>
  </ul>
</div>

<div class="layer-sublayer layer-option js-toggle-layer-option" data-option="gladConfirmOnly">
  <span class="onoffswitch"><span></span></span>
  <div class="sublayer-title">
    Show only confirmed alerts
		<a href="#" data-source="umd_as_it_happens_show_only_confirmed_alerts" class="source source-shape-info">
      <svg class="icon-info-green"><use xlink:href="#shape-info"></use></svg>
    </a>
  </div>
</div>
