<div class="layer-details">
  <ul class='layer-colors'>
    <li><i class="circle" style='color:rgb(233, 189, 21);'></i></span>Recent alerts</li>
  </ul>
</div>

<div class="layer-sublayer layer-option js-toggle-layer-option" data-option="glad_confirmed_only">
  <span class="onoffswitch"><span></span></span>
  <div class="sublayer-title">
    Hide unconfirmed alerts
  </div>
</div>
