<div class="layer-details layer-details-global_land_cover">
  <ul class="layer-colors">
    <li><i class="circle" style='color:#46EECC;'></i>Irrigated croplands</li>
    <li><i class="circle" style='color:#FFFD70;'></i>Rainfed croplands</li>
    <li><i class="circle" style='color:#B4EB02;'></i>Cropland forest mosaic</li>
    <li><i class="circle" style='color:#91bb6d;'></i>Broadleaved evergreen or semi-deciduous forest</li>
    <li><i class="circle" style='color:#b4c323;'></i>Broadleaved deciduous forest</li>
    <li><i class="circle" style='color:#1C6E3D;'></i>Needleleaved evergreen or deciduous forest</li>
    <li><i class="circle" style='color:#39c36b;'></i>Mixed broadleaved and needleleaved forest</li>
    <li><i class="circle" style='color:#B5EC03;'></i>Mosaic of forest, shrubland and grassland</li>
    <li><i class="circle" style='color:#9C8954;'></i>Shrubland</li>
    <li><i class="circle" style='color:#D5B64E;'></i>Grassland</li>
    <li><i class="circle" style='color:#45EECC;'></i>Sparse vegetation</li>
    <li><i class="circle" style='color:#8CFFD9;'></i>Flooded broadleaved forest</li>
    <li><i class="circle" style='color:#BCF18F;'></i>Flooded vegetation</li>
    <li><i class="circle" style='color:#FF0000;'></i>Artificial areas</li>
    <li><i class="circle" style='color:#dacbbd;'></i>Bare areas</li>
    <li><i class="circle" style='color:#fff;'></i>Permanent snow and ice</li>
  </ul>
</div>