<div class="layer-details layer-details-global_land_cover">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#D2A965;'></i>Agriculture</li>
    <li><i class="circle" style='background:#157764;'></i>Forest</li>
    <li><i class="circle" style='background:#CCDB98;'></i>Grassland</li>
    <li><i class="circle" style='background:#596B2C;'></i>Shrubland</li>
    <li><i class="circle" style='background:#D5C998;'></i>Sparse vegetation</li>
    <li><i class="circle" style='background:#2789D4;'></i>Wetland</li>
    <li><i class="circle" style='background:#E9462B;'></i>Settlement</li>
    <li><i class="circle" style='background:#F6F0EA;'></i>Bare</li>
    <li><i class="circle" style='background:#A3DCFF;'></i>Water</li>
    <li><i class="circle" style='background:#FFFFFF;border:1px solid #000000;'></i>Permanent snow and ice</li>
  </ul>
</div>
