<div class="layer-details layer-details-global_land_cover">
  <ul class="layer-colors">
    <li><i class="circle" style='color:#ff9333;'></i>Agriculture</li>
    <li><i class="circle" style='color:#a7680f;'></i>Mixed agriculture and forest</li>
    <li><i class="circle" style='color:#56753b;'></i>Primary forest</li>
    <li><i class="circle" style='color:#91bb6d;'></i>Secondary forest</li>
    <li><i class="circle" style='color:#b4c323;'></i>Mixed forest and grasslands</li>
    <li><i class="circle" style='color:#d7d575;'></i>Grassland / Shrub</li>
    <li><i class="circle" style='color:#39c36b;'></i>Marshlands</li>
    <li><i class="circle" style='color:#351313;'></i>Settlements</li>
    <li><i class="circle" style='color:#dacbbd;'></i>Bared land</li>
    <li><i class="circle" style='color:#fff;'></i>Snow/ice</li>
  </ul>
</div>