<div class="layer-details layer-details-global_land_cover">
  <ul class="layer-colors">
    <li><i class="circle" style='color:#845F25;'></i>Irrigated croplands</li>
    <li><i class="circle" style='color:#D2A965;'></i>Rainfed croplands</li>
    <li><i class="circle" style='color:#D5C998;'></i>Cropland forest mosaic</li>
    <li><i class="circle" style='color:#157764;'></i>Broadleaved evergreen or semi-deciduous forest</li>
    <li><i class="circle" style='color:#CC7B28;'></i>Broadleaved deciduous forest</li>
    <li><i class="circle" style='color:#6DAE97;'></i>Needleleaved evergreen or deciduous forest</li>
    <li><i class="circle" style='color:#988834;'></i>Mixed broadleaved and needleleaved forest</li>
    <li><i class="circle" style='color:#C3B42F;'></i>Mosaic of forest, shrubland and grassland</li>
    <li><i class="circle" style='color:#6F7A53;'></i>Shrubland</li>
    <li><i class="circle" style='color:#97A470;'></i>Grassland</li>
    <li><i class="circle" style='color:#CCDC94;'></i>Sparse vegetation</li>
    <li><i class="circle" style='color:#7DBCE7;'></i>Flooded broadleaved forest</li>
    <li><i class="circle" style='color:#0D63A0;'></i>Flooded vegetation</li>
    <li><i class="circle" style='color:#F41E65;'></i>Artificial areas</li>
    <li><i class="circle" style='color:#F6F0EA;'></i>Bare areas</li>
    <li><i class="circle" style='color:#ddd;'></i>Permanent snow and ice</li>
  </ul>
</div>