<div class="layer-details layer-details-grump">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#ECE1C6;'></i>0 - 5</li>
    <li><i class="circle" style='background:#DCCCA6;'></i>5 - 25</li>
    <li><i class="circle" style='background:#BEAD83;'></i>25 - 250</li>
    <li><i class="circle" style='background:#AF985F;'></i>250 - 1000</li>
    <li><i class="circle" style='background:#9C813F;'></i>> 1000</li>
  </ul>
  <p class="canopy">Per square km</p>
</div>

<div class='my-legend'>
  <div class='legend-scale'>
    <ul class='legend-labels'>
    </ul>
  </div>
</div>
