<div class='my-legend'>
  <div class='legend-scale'>
    <ul class='legend-labels'>
      <li><span style='background:#ECE1C6;'></span>0 - 5</li>
      <li><span style='background:#DCCCA6;'></span>25</li>
      <li><span style='background:#BEAD83;'></span>250</li>
      <li><span style='background:#AF985F;'></span>1000</li>
      <li><span style='background:#9C813F;'></span>> 1000</li>
    </ul>
  </div>
  <p class="canopy">Per square km</p>
</div>

<style type='text/css'>
  .my-legend .legend-scale {
    display: block;
    position: relative;
    height: 35px;
  }
  .my-legend .legend-scale ul {
    margin: 6px 0 0 0;
    padding: 0;
    float: left;
    list-style: none;
    }
  .my-legend .legend-scale ul li {
    display: block;
    float: left;
    width: 36px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
    margin-left: 4px;
    }
  .my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 36px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 3px;
    }
  .my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
  .my-legend a {
    color: #777;
    }
</style>
