<div class='my-legend'>
  <div class='legend-scale'>
    <ul class='legend-labels'>
      <li><span style='background:#FFCFA3;'></span>0 - 5</li>
      <li><span style='background:#F5B173;'></span>25</li>
      <li><span style='background:#D38A46;'></span>253</li>
      <li><span style='background:#B56B26;'></span>1000</li>
      <li><span style='background:#8F4B0D;'></span>> 1000</li>
    </ul>
  </div>
</div>

<style type='text/css'>
  .my-legend .legend-scale ul {
    margin: 6px 0 0 0;
    padding: 0;
    float: left;
    list-style: none;
    }
  .my-legend .legend-scale ul li {
    display: block;
    float: left;
    width: 36px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
    margin-left: 4px;
    }
  .my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 36px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 3px;
    }
  .my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
  .my-legend a {
    color: #777;
    }
</style>
