<div class="layer-details layer-details-gtm_forest_cover">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#6e8e39;'></i>Bosque de Coníferas</li>
    <li><i class="circle" style='background:#456e21;'></i>Bosque de Latifoliado</li>
    <li><i class="circle" style='background:#94e334;'></i>Bosque Mixto</li>
    <li><i class="circle" style='background:#e2a83c;'></i>Bosque Seco</li>
    <li><i class="circle" style='background:#2473ff;'></i>Humedales</li>
    <li><i class="circle" style='background:#e59898;'></i>Hule</li>
    <li><i class="circle" style='background:#ebd7c0;'></i>No Bosque</li>
    <li><i class="circle" style='background:#f6e003;'></i>Árboles Dispersos</li>
    <li><i class="circle" style='background:#822323;'></i>Plantaciones Forestales</li>
    <li><i class="circle" style='background:#f6e003;'></i>Bosque de Galería de Coníferas</li>
    <li><i class="circle" style='background:#9322a3;'></i>Bosque de Galería de Latifoliado</li>
    <li><i class="circle" style='background:#ec8ff6;'></i>Bosque de Galería Mixto</li>
    <li><i class="circle" style='background:#A1E3FE;'></i>Cuerpos de Agua</li>
    <li><i class="circle" style='background:#cc34c4;'></i>Nubes</li>
    <li><i class="circle" style='background:#c9c9c9;'></i>Bosque de Mangle Blanco</li>
    <li><i class="circle" style='background:#c77373;'></i>Bosque de Mangle Rojo</li>
    <li><i class="circle" style='background:#e50a0a;'></i>Bosque de Mangle Negro</li>
    <li><i class="circle" style='background:#ac2e2e;'></i>Bosque de Mangle Botoncillo</li>
    <li><i class="circle" style='background:#f41818;'></i>Humedal con Bosque</li>
  </ul>
</div>