<div class="layer-details layer-details-gtm_forest_chage">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#669c57;'></i>Áreas de bosque</li>
    <li><i class="circle" style='background:rgba(255,222,173,0.2);'></i>Áreas sin bosque</li>
    <li><i class="circle" style='background:rgba(145,230,255,0.5);'></i>Agua</li>
    <li><i class="circle is-border" style='color:#ffffff;'></i>Nubes</li>
    <li><i class="circle" style='background:#EC9BFF;'></i>Pérdida de bosque</li>
    <li><i class="circle" style='background:#5C3CFF;'></i>Ganancia de boque</li>
    
</div>