<div class="layer-details layer-details-gtm_forest_chage">
  <ul class="layer-colors">
    <li><i class="circle" style='color:#669c57;'></i>Áreas de bosque</li>
    <li><i class="circle" style='color:rgba(255,222,173,0.2);'></i>Áreas sin bosque</li>
    <li><i class="circle" style='color:rgba(145,230,255,0.5);'></i>Agua</li>
    <li><i class="circle" style='color:#EC9BFF;'></i>Nubes</li>
    <li><i class="circle" style='color:#5C3CFF;'></i>Ganancia de boque</li>
    <li><i class="circle" style='color:#ffffff;'></i>Pérdida de bosque</li>
</div>