<div class="layer-details layer-details-gtm_forest_density">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#788e31;'></i>Bosque Conífero Denso</li>
    <li><i class="circle" style='background:#c98b17;'></i>Bosque Conífero Ralo</li>
    <li><i class="circle" style='background:#306e1f;'></i>Bosque Latifoliado Denso</li>
    <li><i class="circle" style='background:#97f03c;'></i>Bosque Latifoliado Ralo</li>
    <li><i class="circle" style='background:#885a2b;'></i>Bosque Mixto Denso</li>
    <li><i class="circle" style='background:#e6c335;'></i>Bosque Mixto Ralo</li>
    <li><i class="circle" style='background:#b01a1a;'></i>Mangle Blanco Denso</li>
    <li><i class="circle" style='background:#710a0a;'></i>Mangle Rojo Denso</li>
    <li><i class="circle" style='background:#d82203;'></i>Mangle Negro Denso</li>
    <li><i class="circle" style='background:#a1274a;'></i>Mangle Botoncillo Denso</li>
    <li><i class="circle" style='background:#f4aaaa;'></i>Mangle Blanco Ralo</li>
    <li><i class="circle" style='background:#f98080;'></i>Mangle Rojo Ralo</li>
    <li><i class="circle" style='background:#ff576f;'></i>Mangle Negro Ralo</li>
    <li><i class="circle" style='background:#eff76f;'></i>Mangle Botoncillo Ralo</li>
  </ul>
</div>