<div class="layer-details layer-details-honduras-forest">
  <ul class="layer-colors">
    <li><div class="bullet" style="background:#ffff99"></div>Agropascicultures zones</li>
	  <li><div class="bullet" style="background:#ccff33"></div>Secondary Vegetation</li>
	  <li><div class="bullet" style="background:#006b24"></div>coniferous forest/li>
	  <li><div class="bullet" style="background:#8ab800"></div>Moist Broadleaf Forest</li>
	  <li><div class="bullet" style="background:#75a319"></div>Mixed Forest</li>
	  <li><div class="bullet" style="background:#6b8f00"></div>Dry Broadleaf Forest</li>
	  <li><div class="bullet" style="background:#ff5050"></div>Coffee</li>
	  <li><div class="bullet" style="background:#009999"></div>Mangroves</li>
	  <li><div class="bullet" style="background:#d11975"></div>Oil Palm</li>
	  <li><div class="bullet" style="background:#ff7f00"></div>Plantations</li>
  </ul>
</div>
