<div class="layer-details layer-details-honduras-forest">
  <ul class="layer-colors">
    <li><i class="circle" style='color:#A6CEE3;'></i>Pastos y Cultivos</li>
    <li><i class="circle" style='color:#1F78B4;'></i>Vegetación Secundaria Húmeda</li>
    <li><i class="circle" style='color:#B2DF8A;'></i>Bosque Latifoliado Húmedo</li>
    <li><i class="circle" style='color:#33A02C;'></i>Pino Denso</li>
    <li><i class="circle" style='color:#FB9A99;'></i>Vegetación Secuandaria Seca</li>
    <li><i class="circle" style='color:#E31A1C;'></i>Pino Ralo</li>
    <li><i class="circle" style='color:#FDBF6F;'></i>Árboles Dispersos</li>
    <li><i class="circle" style='color:#FF7F00;'></i>Bosque Latifoliado Seco</li>
    <li><i class="circle" style='color:#CAB2D6;'></i>Bosque Mixto</li>
    <li><i class="circle" style='color:#6A3D9A;'></i>Café</li>
  </ul>
</div>
