<div class="layer-details layer-details-honduras-forest">
  <ul class="layer-colors">
    <li><span class="circle" style="background:#FF66FF"></span> Agricultura Técnificada <i>Mechanized Agriculture</i></li>
    <li><span class="circle" style="background:#003300"></span> Árboles Dispersos Fuera de Bosque <i>Disperse Trees</i></li>
    <li><span class="circle" style="background:#00FFFF"></span> Área Húmeda Continental <i>Continental Humid Area</i></li>
    <li><span class="circle is-border" style="color:#FFFFFF"></span> Arenales de Playa <i>Sandy Beach</i></li>
    <li><span class="circle" style="background:#003300"></span> Bosque de Conífera Denso <i>Dense Coniferous Forest</i></li>
    <li><span class="circle" style="background:#009900"></span> Bosque de Conífera Ralo <i>Sparse Coniferous Forest</i></li>
    <li><span class="circle" style="background:#9900FF"></span> Bosque de Mangle Alto <i>Tall Mangrove Forest</i></li>
    <li><span class="circle" style="background:#CC00FF"></span> Bosque de Mangle Bajo <i>Short Mangrove Forest</i></li>
    <li><span class="circle" style="background:#666633"></span> Bosque Latifoliado Deciduo <i>Deciduous Broadleaf Forest</i></li>
    <li><span class="circle" style="background:#006600"></span> Bosque Latifoliado Húmedo <i>Moist Broadleaf Forest</i></li>
    <li><span class="circle" style="background:#BD4C43"></span> Bosque Latifoliado Húmedo Inundable <i>Flooded Broadleaf Forest</i></li>
    <li><span class="circle" style="background:#808000"></span> Bosque Mixto <i>Mixed Forest</i></li>
    <li><span class="circle" style="background:#CC6600"></span> Cafetales <i>Coffee Plantations</i></li>
    <li><span class="circle" style="background:#000066"></span> Camaroneras/ Salineras <i>Shrimp Farm/ Salt Mine</i></li>
    <li><span class="circle" style="background:#00CCFF"></span> Cuerpo de Agua Artificial <i>Artificial Water Bodies</i></li>
    <li><span class="circle" style="background:#0000CC"></span> Lagos y Lagunas Naturales <i>Natural Lakes</i></li>
    <li><span class="circle" style="background:#33669B"></span> Otras Superficies de Agua <i>Other Surface Water</i></li>
    <li><span class="circle" style="background:#009999"></span> Palma Africana <i>Oil Palm</i></li>
    <li><span class="circle" style="background:#FFFF00"></span> Pastos/ Cultivos <i>Pastures/ Crops</i></li>
    <li><span class="circle" style="background:#FFFF99"></span> Sabanas <i>Savannahs</i></li>
    <li><span class="circle" style="background:#6F6F6F"></span> Suelo Desnudo Continental <i>Bare Soil</i></li>
    <li><span class="circle" style="background:#990033"></span> Tique (Acoelorrhaphe wrightii) <i>Paurotis Palm</i></li>
    <li><span class="circle" style="background:#D9D9D9"></span> Vegetación Secundaria Decidua <i>Deciduous Secondary Vegetation</i></li>
    <li><span class="circle" style="background:#FF6600"></span> Vegetación Secundaria Húmeda <i>Moist Secondary Vegetation</i></li>
    <li><span class="circle" style="background:#F0300A"></span> Zona Urbanizada Continua <i>Continuous Urban Zone</i></li>
    <li><span class="circle" style="background:#FD6E5F"></span> Zona Urbanizada Discontinua <i>Discontinuous Urban Zone</i></li>
  </ul>
</div>
