<div class="layer-details layer-details-honduras-forest">
  <ul class="layer-colors">
    <li><span class="circle" style="color:#ffff99"></span>Agropascicultures zones</li>
	  <li><span class="circle" style="color:#ccff33"></span>Secondary Vegetation</li>
	  <li><span class="circle" style="color:#006b24"></span>Coniferous forest</li>
	  <li><span class="circle" style="color:#8ab800"></span>Moist Broadleaf Forest</li>
	  <li><span class="circle" style="color:#75a319"></span>Mixed Forest</li>
	  <li><span class="circle" style="color:#6b8f00"></span>Dry Broadleaf Forest</li>
	  <li><span class="circle" style="color:#ff5050"></span>Coffee</li>
	  <li><span class="circle" style="color:#009999"></span>Mangroves</li>
	  <li><span class="circle" style="color:#d11975"></span>Oil Palm</li>
	  <li><span class="circle" style="color:#ff7f00"></span>Plantations</li>
  </ul>
</div>
