<div class="layer-details layer-details-idn-peat">
  <ul class="layer-colors">
    <li><i class="circle" style="color:#ACAAAB"></i>Depth Unknown</li>
    <li><i class="circle" style="color:#A1DAB4"></i>Less than 50</li>
    <li><i class="circle" style="color:#41B6C4"></i>50-100</li>
    <li><i class="circle" style="color:#2C7FB8"></i>100-200</li>
    <li><i class="circle" style="color:#253494"></i>Greater than 200</li>
  </ul>
</div> 