<div class="layer-details layer-details-idn_land_cover">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#0A633C;'></i>Forest</li>
    <li><i class="circle" style='background:#149C61;'></i>Secondary vegetation</li>
    <li><i class="circle" style='background:#06ef9f;'></i>Primary mangrove</li>
    <li><i class="circle" style='background:#05c984;'></i>Secondary mangrove</li>
    <li><i class="circle" style='background:#b4be68;'></i>Primary swamp</li>
    <li><i class="circle" style='background:#898f4e;'></i>Secondary swamp</li>
    <li><i class="circle" style='background:#C5D68D;'></i>Grassland</li>
    <li><i class="circle" style='background:#4F6027;'></i>Shrub</li>
    <li><i class="circle" style='background:#CFC28D'></i>Sparse vegetation</li>
    <li><i class="circle" style='background:#F5EEE7'></i>Bare ground</li>
    <li><i class="circle" style='background:#FCF0A8;'></i>Agriculture</li>
    <li><i class="circle" style='background:#a3e7e2;'></i>Aquaculture</li>
    <li><i class="circle" style='background:#9A180F;'></i>Settlement</li>
    <li><i class="circle" style='background:#FF3728;'></i>Mining</li>
    <li><i class="circle" style='background:#EBBFC7;'></i>Plantations</li>
    <li><i class="circle" style='background:#1284BE;'></i>Water</li>
    <li><i class="circle" style='background:#D1D3D3;'></i>Other</li>
  </ul>
</div>
