<div class="layer-details layer-details-idn_land_cover">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#60E663;'></i>Primary Dry Land Forest</li>
    <li><i class="circle" style='background:#72FE00;'></i>Secondary Dry Land Forest</li>
    <li><i class="circle" style='background:#8DA700;'></i>Primary Mangrove Forest</li>
    <li><i class="circle" style='background:#C1A700;'></i>Primary Swamp Forest</li>
    <li><i class="circle" style='background:#60E666;'></i>Secondary Mangrove Forest</li>
    <li><i class="circle" style='background:#74FF00;'></i>Secondary Swamp Forest</li>
    <li><i class="circle" style='background:#D3E599;'></i>Plantation Forest</li>
    <li><i class="circle" style='background:#ECC0A7;'></i>Bush/Shrub</li>
    <li><i class="circle" style='background:#E5D299'></i>Estate Crop Plantation</li>
    <li><i class="circle" style='background:#000000'></i>Settlement Area</li>
    <li><i class="circle" style='background:#D60073;'></i>Bare Land</li>
    <li><i class="circle" style='background:#D1D1D1;'></i>Cloud</li>
    <li><i class="circle" style='background:#D5FE00;'></i>Savannah</li>
    <li><i class="circle" style='background:#1284BE;'></i>Bodies of Water</li>
    <li><i class="circle" style='background:#ECC0A7;'></i>Swamp Shrub	</li>
    <li><i class="circle" style='background:#F6FEA7;'></i>Dryland Agriculture</li>
    <li><i class="circle" style='background:#EEF500;'></i>Shrub-Mixed Dryland Farm</li>
    <li><i class="circle" style='background:#A7D6FF;'></i>Rice Field</li>
    <li><i class="circle" style='background:#7CF5F5;'></i>Fish Pond</li>
    <li><i class="circle" style='background:#D60074;'></i>Airport/Harbour</li>
    <li><i class="circle" style='background:#728DA7;'></i>Transmigration Area</li>
    <li><i class="circle" style='background:#A70000;'></i>Mining Area</li>
    <li><i class="circle" style='background:#99E5E5;'></i>Swamp</li>
  </ul>
</div>
