<div class="layer-details layer-details-idn_land_cover">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#35B538;'></i>Primary Forest</li>
    <li><i class="circle" style='background:#72FE00;'></i>Secondary Forest</li>
    <li><i class="circle" style='background:#D3E599;'></i>Plantation Forest</li>
    <li><i class="circle" style='background:#4F6027;'></i>Grass Land</li>
    <li><i class="circle" style='background:#CEA561'></i>Cropland</li>
    <li><i class="circle" style='background:#EE6F30;'></i>Other Land</li>
    <li><i class="circle" style='background:#000000'></i>Settlement Area</li>
    <li><i class="circle" style='background:#99E5E5;'></i>Wetland</li>
    <li><i class="circle" style='background:#D1D1D1;'></i>Unknown</li>
    <li><i class="circle" style='background:#1284BE;'></i>Bodies of Water</li>
  </ul>
</div>
