<div class="layer-details layer-details-idn-peat">
  <ul class="layer-colors">
    <li><i class="circle" style="background:#ACAAAB"></i>Unknown</li>
    <li><i class="circle" style="background:#A1DAB4"></i>Gambut</li>
    <li><i class="circle" style="background:#41B6C4"></i>Gambut 40cm</li>
    <li><i class="circle" style="background:#2C7FB8"></i>Gambut Tipis</li>
    <li><i class="circle" style="background:#253494"></i>Tanah Mineral (Bukan)</li>
  </ul>
</div> 