<div class="layer-details layer-details-gfw-Idn-forest-area">
  <ul class="layer-colors">
    <li><i class="circle" style="opacity: 0.5; background:#FEA189;"></i> Sanctuary Reserve/Nature Conservation Area  </li>
    <li><i class="circle" style="opacity: 0.5; background:#FF00FF;"></i> Marine Protected Area </li>
    <li><i class="circle" style="opacity: 0.5; background:#00ff7b;"></i> Protected Forest </li>
    <li><i class="circle" style="opacity: 0.5; background:#FFFEAA;"></i> Limited Production Forest </li>
    <li><i class="circle" style="opacity: 0.5; background:#FFA7C0;"></i> Production Forest </li>
    <li><i class="circle" style="opacity: 0.5; background:#D8D8D8;"></i> Other Utilization Area</li>
  </ul>
</div>
