<div class="layer-details layer-details-idn-suitability">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#66549e;'></i>Potential</li>
    <li><i class="circle" style='background:#ffffc5;'></i>Not Suitable</li>
  </ul>
</div>
