<div class="layer-details layer-details-intact-2013">
  <ul class="layer-colors">
    <li><i class="circle intact"></i>Intact Forest Landscapes</li>
    <li><i class="circle degraded"></i>Degradation 2000-2013</li>
  </ul>
</div>
