<div class="layer-details layer-details-intact-2013">
  <ul class="layer-colors">
    <li><i class="circle intact"></i>Intact Forest Landscapes</li>
    <li><i class="circle degraded"></i>Reduction in extent 2000-2013</li>
    <li><i class="circle" style='background:#635731;'></i>Reduction in extent 2013-2016</li>
  </ul>
</div>
