<div class="layer-details layer-details-khm_eco_land_conc">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#FFCC00;'></i>Downsized</li>
    <li><i class="circle" style='background:#FF6600;'></i>Downsized after revocation</li>
    <li><i class="circle" style='background:#055D00;'></i>No evidence of adjustment</li>
    <li><i class="circle" style='background:#B40903;'></i>Revoked</li>
  </ul>    
</div>