<div class="layer-details layer-details-concesiones-forestales">
  <ul class="layer-colors">
    <li><i class="circle" style="background:#4d658f"></i>Formally recognized</li>
    <li><i class="circle" style="background:#5CA2D1"></i>Not formally recognized</li>
  </ul>
</div>