<div class="layer-details layer-details-usa_forest_ownership">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#a63603;'></i>Active</li>
    <li><i class="circle" style='background:#fdbe85;'></i>Proposed</li>
  </ul>
</div>