<div class="layer-details layer-details-usa_forest_ownership">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#fed98e;'></i>Active</li>
    <li><i class="circle" style='background:#d95f0e;'></i>Proposed</li>
  </ul>
</div>