<div class="layer-details layer-details-usa_forest_ownership">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#74a9cf;'></i>Active</li>
    <li><i class="circle" style='background:#bdc9e1;'></i>Ongoing</li>
  </ul>
</div>