<div class="layer-details layer-details-usa_forest_ownership">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#51a746;'></i>Active</li>
    <li><i class="circle" style='background:#d7bf1f;'></i>Proposed</li>
  </ul>
</div>