<ul class="m-btncontainer -col100">
  {{#if this.is_idn}}
    <li><a href="{{this.url}}" target="_blank" class="btn green lines uppercase full-width mobile-friendly"><span>WRI in {{this.name}}</span></a></li>
  {{else}}
    <li><a href="{{this.url}}" target="_blank" class="btn green lines uppercase full-width mobile-friendly"><span>Visit forest atlas</span></a></li>
  {{/if}}
</ul>