<div class="layer-details layer-details-logging_roads">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#193219;'></i>before 2001</li>
    <li><i class="circle" style='background:#CC973E;'></i>2001-2003</li>
    <li><i class="circle" style='background:#C56228;'></i>2004-2006</li> 
    <li><i class="circle" style='background:#A3752A;'></i>2007-2009</li>
    <li><i class="circle" style='background:#83A03C;'></i>2010-2012</li>
    <li><i class="circle" style='background:#B1D135;'></i>2013-2014</li>
    <li><i class="circle" style='background:#BFBEBE;'></i>Year unknown</li>
  </ul>
</div>