<div class="layer-details layer-details-logging_roads">
  <ul class="layer-colors">
    <li><i class="circle" style='color:#A6CEE3;'></i>before 2001</li>
    <li><i class="circle" style='color:#1F78B4;'></i>2001</li>
    <li><i class="circle" style='color:#B2DF8A;'></i>2002</li>
    <li><i class="circle" style='color:#33A02C;'></i>2003</li>
    <li><i class="circle" style='color:#FB9A99;'></i>2004</li>
    <li><i class="circle" style='color:#E31A1C;'></i>2005</li>
    <li><i class="circle" style='color:#FDBF6F;'></i>2006</li>
    <li><i class="circle" style='color:#FF7F00;'></i>2007</li>
    <li><i class="circle" style='color:#CAB2D6;'></i>2008</li>
    <li><i class="circle" style='color:#6A3D9A;'></i>2009</li>
    <li><i class="circle" style='color:#ffff99;'></i>2010</li>
    <li><i class="circle" style='color:#b15928;'></i>2011</li>
    <li><i class="circle" style='color:#66bbbc;'></i>2012</li>
    <li><i class="circle" style='color:#ea73dd;'></i>2013</li>
    <li><i class="circle" style='color:#cbed70;'></i>2014</li>
    <li><i class="circle" style='color:#DDDDDD;'></i>Year unknown</li>
  </ul>
</div>