{{#if threshold}}
  <div class="layer-details layer-details-loss">
    <p class="canopy" title="Click the gear icon to change the tree cover canopy density">Displaying {{!-- {{layerTitle}} --}}loss with ><span> {{threshold}}</span>% canopy density.</p>
    <p class="canopy">Tree cover loss is not always deforestation. <a href="#" data-source="loss_causes" class="source text">?</a></p>
  </div>
{{/if}}
