{{#if threshold}}
  <div class="layer-details">
    <p class="canopy"><i title="Click the gear icon to change the tree cover canopy density"></i>Displaying {{layerTitle}} with ><span>{{threshold}}</span>% canopy density</p>
  </div>
{{/if}}
