{{#if threshold}}
  <div class="layer-details layer-details-loss">
    <p class="canopy" title="Click the gear icon to change the tree cover canopy density">Displaying loss with <span class="canopy-button js-toggle-threshold"> > {{threshold}} %</span> canopy density.</p>
    <p class="canopy">Tree cover loss is not always deforestation. <a href="#" data-source="loss_causes" class="source text">?</a></p>
  </div>
{{/if}}

<div class="layer-details layer-details-select">
  <span class="container-select-option">
    Display:
    <div class="select-container">
      <select class="select-option js-loss-type">
        <option value="loss" selected>Uncategorised Loss</option>
        <option value="loss_by_driver">Loss by Driver</option>
      </select>
    </div>
  </span>
</div>
