<div class="layer-sublayer layer-option js-toggle-layer-option" data-option="Gain">
  <div class="sublayer-title">
    <span class="layer-name ">
      <i class="circle" style="background:#195ab5;"></i>
        Tree cover gain
    </span>
  </div>
  <span class="onoffswitch -right"><span></span></span>
</div>

<div class="layer-sublayer layer-option js-toggle-layer-option" data-option="Loss">
  <div class="sublayer-title">
    <span class="layer-name ">
      <i class="circle" style="background:#ff00d3;"></i>
        Tree cover loss
    </span>
  </div>
  <span class="onoffswitch -right"><span></span></span>
</div>

<div class="layer-sublayer layer-option js-toggle-layer-option" data-option="Cover">
  <div class="sublayer-title">
    <span class="layer-name ">
      <i class="circle" style="background:#7faa73;"></i>
        1997 Mangrove cover
    </span>
  </div>
  <span class="onoffswitch -right"><span></span></span>
</div>
