<div class="layer-sublayer layer-option js-toggle-layer-option" data-option="Loss">
  <div class="sublayer-title">
    <span class="layer-name -no-padding">
      Mangrove loss
    </span>
  </div>
  <span class="onoffswitch -right" data-color="#ff00d3"><span></span></span>
</div>

<div class="layer-sublayer layer-option js-toggle-layer-option" data-option="Gain">
  <div class="sublayer-title">
    <span class="layer-name -no-padding">
      Mangrove gain
    </span>
  </div>
  <span class="onoffswitch -right" data-color="#195ab5"><span></span></span>
</div>

<div class="layer-sublayer layer-option js-toggle-layer-option" data-option="Cover">
  <div class="sublayer-title">
    <span class="layer-name -no-padding">
      {{startYear}} Mangrove cover
    </span>
  </div>
  <span class="onoffswitch -right" data-color="#05ffaa"><span></span></span>
</div>
