<div class="layer-details layer-details-mex_forest_conserv">
        <ul class="layer-colors">
            <li><i class="circle" style='background:#00441b;'></i>High productivity forest lands <i>Terrenos forestales de productividad alta</i></li>
            <li><i class="circle" style='background:#74c476;'></i>Medium productivity forest lands <i>Terrenos forestales de productividad media</i></li>
            <li><i class="circle" style='background:#d9f0a3;'></i>Low productivity forest lands <i>Terrenos forestales de productividad baja</i></li>
            <li><i class="circle" style='background:#fed98e;'></i>Vegetated arid land <i>Terrenos con vegetación forestal de zonas áridas</i></li>
            <li><i class="circle" style='background:#6baed6;'></i>Land suitable for afforestation <i>Terrenos adecuados para realizar forestaciones</i></li>
            <li><i class="circle" style='background:#08306b;'></i>Non forested lands suitable for forest <i>Terrenos preferentemente forestales</i></li>     
        </ul>
</div>