<div class="layer-details layer-details-bra_biomes">
  <ul class="layer-colors">
    
    <li><i class="circle" style='color:;'></i>Áreas cubiertas con selvas altas perennifolias</li>
    <li><i class="circle" style='color:;'></i>Áreas cubiertas con vegetación de galería</li>
    <li><i class="circle" style='color:;'></i>Áreas cubiertas con vegetación de manglar o bosque mesófilo de montaña</li>
    <li><i class="circle" style='color:;'></i>Áreas localizadas arriba de los tres mil metros sobre el nivel del mar</li>
    <li><i class="circle" style='color:;'></i>Áreas Naturales Protegidas</li>
    <li><i class="circle" style='color:;'></i>Terrenos adecuados para realizar forestaciones</li>
    <li><i class="circle" style='color:;'></i>Terrenos con pendientes mayores al cien por ciento o cuarenta y cinco grados</li>
    <li><i class="circle" style='color:;'></i>Terrenos con vegetación forestal de zonas áridas</li>
    <li><i class="circle" style='color:;'></i>Terrenos forestales con degradación alta</li>
    <li><i class="circle" style='color:;'></i>Terrenos forestales de productividad alta</li>
    <li><i class="circle" style='color:;'></i>Terrenos forestales de productividad baja</li>
    <li><i class="circle" style='color:;'></i>Terrenos forestales de productividad media</li>
    <li><i class="circle" style='color:;'></i>Terrenos forestales o preferentemente forestales con degradación baja</li>
    <li><i class="circle" style='color:;'></i>Terrenos forestales o preferentemente forestales con degradación media</li>
    <li><i class="circle" style='color:;'></i>Terrenos forestales o preferentemente forestales degradados que se encuentran sometidos a tratamientos de recuperación forestal</li>
    <li><i class="circle" style='color:;'></i>Terrenos preferentemente forestales</li>
    <li><i class="circle" style='color:;'></i>Terrenos preferentemente forestales con degradación alta</li>
    <li><i class="circle" style='color:;'></i>No aplica</li>
    <li><i class="circle" style='color:;'></i>*</li>
  </ul>
</div>