<div class="layer-details layer-details-bra_biomes">
  <ul class="layer-colors">
    
    <li><i class="circle" style='color:#ffffcc;'></i>Áreas cubiertas con selvas altas perennifolias</li>
    <li><i class="circle" style='color:#c2e699;'></i>Áreas cubiertas con vegetación de galería</li>
    <li><i class="circle" style='color:#78c679;'></i>Áreas cubiertas con vegetación de manglar o bosque mesófilo de montaña</li>
    <li><i class="circle" style='color:#02818a;'></i>Áreas localizadas arriba de los tres mil metros sobre el nivel del mar</li>
    <li><i class="circle" style='color:#2171b5;'></i>Áreas Naturales Protegidas</li>
    <li><i class="circle" style='color:#ffffb2;'></i>Terrenos adecuados para realizar forestaciones</li>
    <li><i class="circle" style='color:#cccccc;'></i>Terrenos con pendientes mayores al cien por ciento o cuarenta y cinco grados</li>
    <li><i class="circle" style='color:#fed98e;'></i>Terrenos con vegetación forestal de zonas áridas</li>
    <li><i class="circle" style='color:#d94701;'></i>Terrenos forestales con degradación alta</li>
    <li><i class="circle" style='color:#b3cde3;'></i>Terrenos forestales de productividad alta</li>
    <li><i class="circle" style='color:#8c96c6;'></i>Terrenos forestales de productividad baja</li>
    <li><i class="circle" style='color:#88419d;'></i>Terrenos forestales de productividad media</li>
    <li><i class="circle" style='color:#bae4bc;'></i>Terrenos forestales o preferentemente forestales con degradación baja</li>
    <li><i class="circle" style='color:#7bccc4;'></i>Terrenos forestales o preferentemente forestales con degradación media</li>
    <li><i class="circle" style='color:#2b8cbe;'></i>Terrenos forestales o preferentemente forestales degradados que se encuentran sometidos a tratamientos de recuperación forestal</li>
    <li><i class="circle" style='color:#238b45;'></i>Terrenos preferentemente forestales</li>
    <li><i class="circle" style='color:#525252;'></i>Terrenos preferentemente forestales con degradación alta</li>
    <li><i class="circle" style='color:#f7f7f7;'></i>No aplica</li>
    <li><i class="circle" style='color:#f7f7f7;'></i>*</li>
  </ul>
</div>
