<div class="layer-details layer-details-mex_forest_conserv">
        <ul class="layer-colors">
            <li><i class="circle" style='color:#b3cde3;'></i>High productivity forest lands <i>Terrenos forestales de productividad alta</i></li>
            <li><i class="circle" style='color:#88419d;'></i>Medium productivity forest lands <i>Terrenos forestales de productividad media</i></li>
            <li><i class="circle" style='color:#8c96c6;'></i>Low productivity forest lands <i>Terrenos forestales de productividad baja</i></li>
            <li><i class="circle" style='color:#fed98e;'></i>Vegetated arid land <i>Terrenos con vegetación forestal de zonas áridas</i></li>
            <li><i class="circle" style='color:#ffffb2;'></i>Land suitable for afforestation <i>Terrenos adecuados para realizar forestaciones</i></li>
            <li><i class="circle" style='color:#238b45;'></i>Non forested lands suitable for forest <i>Terrenos preferentemente forestales</i></li>     
        </ul>
</div>