<div class="layer-details layer-details-mex_forest_subcat">
  <ul class="layer-colors">
    <li>Conservation Zone
        <ul class="layer-colors">
            <li><i class="circle" style='background:#2171b5;'></i>Natural Protected Areas <i>Áreas Naturales Protegidas</i></li>
            <li><i class="circle" style='background:#02818a;'></i>Areas with an elevation above 3000 meters <i>Áreas localizadas arriba de los 3000 metros</i></li>
            <li><i class="circle" style='background:#cccccc;'></i>Areas with a slope of more than 45 degrees <i>Terrenos con pendientes mayores al cien por ciento o cuarenta y cinco grados</i></li>
            <li><i class="circle" style='background:#78c679;'></i>Areas covered by mangroves or cloud forest <i>Áreas cubiertas con vegetación de manglar o bosque mesófilo de montaña</i></li>
            <li><i class="circle" style='background:#ffffcc;'></i>Areas covered by high moist evergreen forest <i>Áreas cubiertas con selvas altas perennifolias</i></li>
            <li><i class="circle" style='background:#c2e699;'></i>Areas covered by riparian vegetation <i>Áreas cubiertas con vegetación de galería</i></li>
            <li><i class="circle" style='background:#f7f7f7;'></i>Vegetation for conservation <i>Vegetacion para la conservacion</i></li>
        </ul>
    </li>
    <li>Production Zone
        <ul class="layer-colors">
            <li><i class="circle" style='background:#b3cde3;'></i>High productivity forest lands <i>Terrenos forestales de productividad alta</i></li>
            <li><i class="circle" style='background:#88419d;'></i>Medium productivity forest lands <i>Terrenos forestales de productividad media</i></li>
            <li><i class="circle" style='background:#8c96c6;'></i>Low productivity forest lands <i>Terrenos forestales de productividad baja</i></li>
            <li><i class="circle" style='background:#fed98e;'></i>Vegetated arid land <i>Terrenos con vegetación forestal de zonas áridas</i></li>
            <li><i class="circle" style='background:#ffffb2;'></i>Land suitable for afforestation <i>Terrenos adecuados para realizar forestaciones</i></li>
            <li><i class="circle" style='background:#238b45;'></i>Non forested lands suitable for forest <i>Terrenos preferentemente forestales</i></li>     
        </ul>
    </li>
    <li>Restoration Zone
        <ul class="layer-colors">
            <li><i class="circle" style='background:#d94701;'></i>Forest lands with high degradation <i>Terrenos forestales con degradación alta</i></li>
            <li><i class="circle" style='background:#525252;'></i>Non forested lands suitable for forest with severe erosion <i>Terrenos preferentemente forestales con degradación alta</i></li>
            <li><i class="circle" style='background:#7bccc4;'></i>Forest lands or preferred forest lands with medium degradation <i>Terrenos forestales o preferentemente forestales con degradación media</i></li>
            <li><i class="circle" style='background:#bae4bc;'></i>Forest lands or preferred forest lands with low degradation <i>Terrenos forestales o preferentemente forestales con degradación baja</i></li>
            <li><i class="circle" style='background:#2b8cbe;'></i>Forest lands or preferred forest lands subject to recuperation (reforestation, afforestation, or natural regeneration) <i>Terrenos forestales o preferentemente forestales degradados que se encuentran sometidos a tratamientos de recuperación forestal</i></li>
            
        </ul>
    </li>
    <li>No Zoning
        <ul class="layer-colors">
        <li><i class="circle" style='background:#f7f7f7;'></i>Does not apply <i>No aplica</i></li>
        </ul>
    </li>
  </ul>
</div>
