<div class="layer-details layer-details-tigers">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#91A7C9'></i>Ejido</li>
    <li><i class="circle" style='background:#60A0CA;'></i>Comunidad </li>
  </ul>
</div>
