<div class="layer-details layer-details-bra_biomes">
  <ul class="layer-colors">
    <li><i class="circle" style='color:#bcdd64;'></i>Zonas de producción</li>
    <li><i class="circle" style='color:#3E7BB6;'></i>Zonas de conservación y aprovechamiento restringido o prohibido</li>
    <li><i class="circle" style='color:#A53ED5;'></i>Zonas de restauración</li>
    <li><i class="circle" style='color:#dfdfe0;'></i>No aplica</li>
</div>