<div class="layer-details layer-details-mex_forest_conserv">
        <ul class="layer-colors">
            <li><i class="circle" style='background:#298cc0;'></i>Natural Protected Areas <i>Áreas Naturales Protegidas</i></li>
            <li><i class="circle" style='background:#214d4e;'></i>Areas with an elevation above 3000 meters <i>Áreas localizadas arriba de los 3000 metros</i></li>
            <li><i class="circle" style='background:#fd8d3c;'></i>Areas with a slope of more than 45 degrees <i>Terrenos con pendientes mayores al cien por ciento o cuarenta y cinco grados</i></li>
            <li><i class="circle" style='background:#0cc0aa;'></i>Areas covered by mangroves or cloud forest <i>Áreas cubiertas con vegetación de manglar o bosque mesófilo de montaña</i></li>
            <li><i class="circle" style='background:#ffffcc;'></i>Areas covered by high moist evergreen forest <i>Áreas cubiertas con selvas altas perennifolias</i></li>
            <li><i class="circle" style='background:#683B11;'></i>Areas covered by riparian vegetation <i>Áreas cubiertas con vegetación de galería</i></li>
            <li><i class="circle" style='background:#bbb;'></i>Vegetation for conservation <i>Vegetacion para la conservacion</i></li>
        </ul>
</div>