 <div class="layer-details layer-details-mex_forest_conserv">
 <ul class="layer-colors">
 			<li><i class="circle" style='background:#49006a;'></i>Non forested lands suitable for forest with severe erosion <i>Terrenos preferentemente forestales con degradación alta</i></li>
            <li><i class="circle" style='background:#bd0026;'></i>Forest lands with high degradation <i>Terrenos forestales con degradación alta</i></li>
            <li><i class="circle" style='background:#fd8d3c;'></i>Forest lands or preferred forest lands with medium degradation <i>Terrenos forestales o preferentemente forestales con degradación media</i></li>
            <li><i class="circle" style='background:#ffffcc;'></i>Forest lands or preferred forest lands with low degradation <i>Terrenos forestales o preferentemente forestales con degradación baja</i></li>
            <li><i class="circle" style='background:#addd8e;'></i>Forest lands or preferred forest lands subject to recuperation (reforestation, afforestation, or natural regeneration) <i>Terrenos forestales o preferentemente forestales degradados que se encuentran sometidos a tratamientos de recuperación forestal</i></li>
            
        </ul>
</div>