<div class="layer-details layer-details-mex_land_cover">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#00A884;'></i> Cloud forest <i>Bosque mesófilo</i></li>
    <li><i class="circle" style='background:#89CD66;'></i> Coniferous forest <i>Coníferas</i></li>
    <li><i class="circle" style='background:#ABCD66;'></i> Mixed forest <i>Coníferas y latifoliadas</i></li>
    <li><i class="circle" style='background:#A2CD66;'></i> Broadleaf forest <i>Latifoliadas</i></li>
    <li><i class="circle" style='background:#73B2FF;'></i> Mangroves <i>Manglar</i></li>
    <li><i class="circle" style='background:#CDAA66;'></i> Other forest areas <i>Otras areas forestales</i></li>
    <li><i class="circle" style='background:#FFEBBE;'></i> Other forest types <i>Otras asociaciones</i></li>
    <li><i class="circle" style='background:#8400A8;'></i> High- and mid-elevation rainforest <i>Selvas altas y medianas</i></li>
    <li><i class="circle" style='background:#E60000;'></i> Lowland rainforest <i>Selvas bajas</i></li>
    <li><i class="circle" style='background:#F5F57A;'></i> Arid zones <i>Zonas áridas</i></li>
    <li><i class="circle" style='background:#FFAA00;'></i> Semiarid zones <i>Zonas semiáridas</i></li>
    <li><i class="circle" style='background:#CCCCCC;'></i> Non-forest areas <i>Áreas no forestales</i></li>
  </ul>
</div>
