<div class="layer-details layer-details-mex_forest_cat">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#3E7BB6;'></i>Conservation Zone <i>Zonas de conservación</i></li>
    <li><i class="circle" style='background:#bcdd64;'></i>Production Zone <i>Zonas de producción</i></li>
    <li><i class="circle" style='background:#A53ED5;'></i>Restoration Zone <i>Zonas de restauración</i></li>
    <li><i class="circle" style='background:#dfdfe0;'></i>Does not apply <i>No aplica</i></li>
</div>