<div class="layer-details layer-details-mex_land_cover">
  <ul class="layer-colors">
    <li><i class="circle" style='color:#00A884;'></i>Bosque mesófilo</li>
    <li><i class="circle" style='color:#89CD66;'></i>Coníferas</li>
    <li><i class="circle" style='color:#ABCD66;'></i>Coníferas y latifoliadas</li>
    <li><i class="circle" style='color:#A2CD66;'></i>Latifoliadas</li>
    <li><i class="circle" style='color:#73B2FF;'></i>Manglar</li>
    <li><i class="circle" style='color:#CDAA66;'></i>Otras areas forestales</li>
    <li><i class="circle" style='color:#FFEBBE;'></i>Otras asociaciones</li>
    <li><i class="circle" style='color:#8400A8;'></i>Selvas altas y medianas</li>
    <li><i class="circle" style='color:#E60000;'></i>Selvas bajas</li>
    <li><i class="circle" style='color:#F5F57A;'></i>Zonas áridas</li>
    <li><i class="circle" style='color:#FFAA00;'></i>Zonas semiáridas</li>
    <li><i class="circle" style='color:#CCCCCC;'></i>Áreas no forestales</li>
  </ul>
</div>