<div class="layer-details layer-details-tigers">
  <ul class="layer-colors">
    <li><i class="circle" style='color:#2167AB;'></i>National protected areas</li>
    <li><i class="circle" style='color:#4d94c4;'></i>State protected areas</li>
    <li><i class="circle" style='color:#94cecb;'></i>Municipal protected areas</li>
    <li><i class="circle" style='color:#00ceff;'></i>Voluntary conservation areas</li>
  </ul>
</div>