<div class="layer-details layer-details-tigers">
  <ul class="layer-colors">
    <li><i class="circle" style='color:#2572B4;'></i>State protected areas</li>
    <li><i class="circle" style='color:#579ECB;'></i>National protected areas</li>
    <li><i class="circle" style='color:#B2DF8A;'></i>Municipal protected areas</li>
    <li><i class="circle" style='color:#9ED4D1;'></i>Voluntary conservation areas</li>
  </ul>
</div>
