<div class="layer-details layer-details-idn-peat">
  <ul class="layer-colors">
    <li><i class="circle" style="background:#ACAAAB"></i>Unknown</li>
    <li><i class="circle" style="background:#A1DAB4"></i>Gambut</li>
  </ul>
</div> 