<div class="layer-details layer-details-mys_protected_areas">
  <ul class="layer-colors">
    <li><i class="circle" style="background:#1F78B4"></i>Gazetted</li>
    <li><i class="circle" style="background:#A6CEE3"></i>Proposed</li>
  </ul>
</div>
