<div class="layer-details layer-details-oil">
  <p class="canopy">For more information about this layer</p>
  <p class="canopy"><a href="http://commodities.globalforestwatch.org/" target="_blank">Check out GFW Commodities &#10148;</a></p>
</div>
