<div class="layer-details layer-details-pa">
  <ul class="layer-colors">
    <li><i class="circle" style="color:#5CA2D1"></i>Ia - Strict Nature Reserve</li>
    <li><i class="circle" style="color:#3E7BB6"></i>Ib - Wildnerness Area</li>
    <li><i class="circle" style="color:#0F3B82"></i>II - National Park</li>
    <li><i class="circle" style="color:#081B47"></i>III - National Monument or Feature</li>
    <li><i class="circle" style="color:#B2DF8A"></i>IV - Habitat and Species Management Area</li>
    <li><i class="circle" style="color:#229A00"></i>V - Protected Landscape or Seascape</li>
    <li><i class="circle" style="color:#055D00"></i>VI - Protected Area with Sustainable Use of Natural Resources</li>
    <li><i class="circle" style="color:#FFFFFF"></i>Not applicable</li>
    <li><i class="circle" style="color:#f9f438"></i>Not assigned</li>
    <li><i class="circle" style="color:#cc281a"></i>Not reported</li>
  </ul>
</div>