<div class="layer-details layer-details-pa">
  <ul class="layer-colors">
    <li><i class="circle" style="background:#5ca2d1"></i>Ia - Strict Nature Reserve</li>
    <li><i class="circle" style="background:#3e7bb6"></i>Ib - Wildnerness Area</li>
    <li><i class="circle" style="background:#0f3b82"></i>II - National Park</li>
    <li><i class="circle" style="background:#c9ddff"></i>III - National Monument or Feature</li>
    <li><i class="circle" style="background:#b9b2a1"></i>IV - Habitat and Species Management Area</li>
    <li><i class="circle" style="background:#ae847e"></i>V - Protected Landscape or Seascape</li>
    <li><i class="circle" style="background:#daa89b"></i>VI - Protected Area with Sustainable Use of Natural Resources</li>
    <li><i class="circle" style="background:#eed54c"></i>Not applicable</li>
    <li><i class="circle" style="background:#e7ab36"></i>Not assigned</li>
    <li><i class="circle" style="background:#fa894b"></i>Not reported</li>
  </ul>
</div>



