<div class="layer-details layer-details-pa">
  <ul class="layer-colors">
    <li><i class="circle" style="color:#ACAAAB"></i>a - Strict Nature Reserve</li>
    <li><i class="circle" style="color:#A1DAB4"></i>Ib - Wildnerness Area</li>
    <li><i class="circle" style="color:#ACAAAB"></i>II - National Park</li>
    <li><i class="circle" style="color:#A1DAB4"></i>III - National Monument or Feature</li>
    <li><i class="circle" style="color:#ACAAAB"></i>IV - Habitat and Species Management Area</li>
    <li><i class="circle" style="color:#A1DAB4"></i>V - Protected Landscape or Seascape</li>
    <li><i class="circle" style="color:#ACAAAB"></i>VI - Protected Area with Sustainable Use of Natural Resources</li>
    <li><i class="circle" style="color:#A1DAB4"></i>Not applicable</li>
    <li><i class="circle" style="color:#ACAAAB"></i>Not assigned</li>
    <li><i class="circle" style="color:#A1DAB4"></i>Not reported</li>
  </ul>
</div>