<div class="layer-details layer-details-carbon_stocks">
  {{#if threshold}}
    <p class="canopy">Displaying above ground biomass with <span class="canopy-button"> > {{threshold}} %</span> canopy density.</p>
    <div class="total-carbon-bar">
    <ul class="labels">
      <li>0</li>
      <li>500<span class="units"> Mg Ha <sup>-1</sup></span></li>
    </ul>
    <div class="quartile-bar-biomass"></div>
  </div>
  {{/if}}
</div>