<div class="layer-details layer-details-carbon_stocks">
  {{#if threshold}}
    <p class="canopy">Displaying above ground biomass with <span class="canopy-button js-toggle-threshold"> > {{threshold}} %</span> canopy density.</p>
    <div class="total-carbon-bar">
    <ul class="labels">
      <li>0</li>
      <li>500<span class="units"> Mg Ha <sup>-1</sup></span></li>
    </ul>
    <div class="quartile-bar-biomass"></div>
  <p class="canopy">For more information about this layer</p>
  <p class="canopy"><a href="http://climate.globalforestwatch.org/" target="_blank">Check out GFW Climate &#10148;</a></p>
  </div>
  {{/if}}
</div>