<div class="layer-details layer-details-pantropical">
  <span class="details-title">
    Total biomass carbon <span class="units">(Mg C Ha <sup>-1</sup>)</span>
  </span>

  <div class="total-carbon-bar">
    <ul class="labels">
      <li>75</li>
      <li>383</li>
    </ul>
    <div class="quartile-bar"></div>
  </div>
</div>
