<div class="layer-details layer-details-per_mining">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#8081B1;'></i>In application</li>
    <li><i class="circle" style='background:#FEC1AB;'></i>Exploitation/ exploration</li>
  </ul>
</div>