<div class="layer-details layer-details-tigers">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#00ceff;'></i>Buffer Zone</li>
    <li><i class="circle" style='background:#4d94c4;'></i>National Protected Area</li>
    <li><i class="circle" style='background:#94cecb;'></i>Private Protected Area</li>
    <li><i class="circle" style='background:#2167AB;'></i>Regional Protected Area</li>
  </ul>
</div>