<div class="layer-details layer-details-places_to_watch">
  <ul class="layer-colors">
  change for the last 6 month
    <li><i class="circle" style='color:#BD0026;'></i> <= 46428</li>
    <li><i class="circle" style='color:#E31A1C;'></i> <= 778</li>
    <li><i class="circle" style='color:#FC4E2A;'></i> <= 336</li>
    <li><i class="circle" style='color:#FD8D3C;'></i> <= 214</li>
    <li><i class="circle" style='color:#FEB24C;'></i> <= 147</li>
    <li><i class="circle" style='color:#FED976;'></i> <= 97</li>
    <li><i class="circle" style='color:#FFFFB2;'></i> <= 60</li>
  </ul>
</div>