<div class="layer-details layer-details-places_to_watch">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#F03B20;'></i> Red Flags</li>
    <li><i class="circle" style='background:#FEB24C;'></i> High level of importance</li>
  </ul>
</div>