<div class="layer-details layer-details-places_to_watch">
  <p class="canopy">Score:</p>
  <ul class="layer-colors">
    <li><i class="circle" style='color:#F03B20;'></i> High</li>
    <li><i class="circle" style='color:#FEB24C;'></i> Medium</li>
    <li><i class="circle" style='color:#FFEDA0;'></i> Low</li>
  </ul>
</div>