<div class="layer-details layer-details-places_to_watch">
  <span class="subtitle sub-layer">High priority alerts from last month</span>
  <div class="info-newsletter">
    <p>To receive monthly email updates</p>
    <p>
      <a href="">Sign up for the PTW newsletter<svg class="icon icon-arrow-legend"><use xlink:href="#icon-arrow-legend"></use></svg></a>
    </p>
  </div>
</div>
