<div class="layer-details layer-details-places_to_watch">
  <ul class="layer-colors">
  percentage of total area covered by intact forest landscapes
    <li><i class="circle" style='color:#BD0026;'></i> >78% </li>
    <li><i class="circle" style='color:#F03B20;'></i>67% - 78%</li>
    <li><i class="circle" style='color:#FD8D3C;'></i>60% - 67%</li>
    <li><i class="circle" style='color:#FECC5C;'></i>57% - 60%</li>
    <li><i class="circle" style='color:#FFFFB2;'></i>50% - 57%</li>
  </ul>
</div>