<div class="layer-details layer-details-gfw-plantations-by-type">
  <ul class="layer-colors">
    <li><i class="circle" style="opacity: 0.5; background:#F84F40;"></i>Large industrial plantation</li>
    <li><i class="circle" style="opacity: 0.5; background:#A53ED5;"></i> Mosaic of medium-sized plantations</li>
    <li><i class="circle" style="opacity: 0.5; background:#33A02C;"></i> Mosaic of small-sized plantations</li>
    <li><i class="circle" style="opacity: 0.5; background:#a7652a;"></i> Clearing/ very young plantation</li>
  </ul>
</div>
