<div class="layer-details layer-details-gfw-plantations-by-species">
  <ul class="layer-colors">

    <li><span class="circle" style="opacity: 0.5; color: #f44c43;"></span> Oil palm </li>
    <li><span class="circle" style="opacity: 0.5; color: #0F3B82;"></span> Wood fiber / timber </li>
    <li><span class="circle" style="opacity: 0.5; color: #00bdbd;"></span> Hevea (rubber) </li>
    <li><span class="circle" style="opacity: 0.5; color: #b2b300;"></span> Fruit </li>
    <li><span class="circle" style="opacity: 0.5; color: #9ECC49;"></span> Other </li>
    <li><span class="circle" style="opacity: 0.5; color: #f7837d;"></span> Oil palm mix </li>
    <li><span class="circle" style="opacity: 0.5; color: #246ee6;"></span> Wood fiber / timber mix </li>
    <li><span class="circle" style="opacity: 0.5; color: #0FF;"></span> Hevea (rubber) mix </li>
    <li><span class="circle" style="opacity: 0.5; color: #FF0;"></span> Fruit mix </li>
    <li><span class="circle" style="opacity: 0.5; color: #c1df8b;"></span> Other mix </li>
    <li><span class="circle" style="opacity: 0.5; color: #FFA500;"></span> n/a </li>
  </ul>
</div>
