<div class="layer-details layer-details-gfw-plantations-by-type">
  <ul class="layer-colors">
    <li><span class="circle" style="opacity: 0.5; color:#F84F40;"></span>Large industrial plantation</li>
    <li><span class="circle" style="opacity: 0.5; color:#A53ED5;"></span> Mosaic of medium-sized plantations</li>
    <li><span class="circle" style="opacity: 0.5; color:#33A02C;"></span> Mosaic of small-sized plantations</li>
    <li><span class="circle" style="opacity: 0.5; color:#A6CEE3;"></span> Clearing/ very young plantation</li>
  </ul>
</div>
