<div class="layer-details layer-details-select">
  <span class="container-select-option">
    Display trees
    <div class="select-container">
      <select class="select-option js-tree-plantation">
        <option value="plantations_by_type">by type</option>
        <option value="plantations_by_species" selected>by species</option>
      </select>
    </div>
  </span>
  <ul class="layer-colors">
    <li><i class="circle" style="opacity: 0.5; background:#f44c43;"></i> Oil palm </li>
    <li><i class="circle" style="opacity: 0.5; background:#0F3B82;"></i> Wood fiber / timber </li>
    <li><i class="circle" style="opacity: 0.5; background:#11002F;"></i> Rubber </li>
    <li><i class="circle" style="opacity: 0.5; background:#b2b300;"></i> Fruit </li>
    <li><i class="circle" style="opacity: 0.5; background:#9ECC49;"></i> Others </li>
    <li><i class="circle" style="opacity: 0.5; background:#246ee6;"></i> Wood fiber / timber mix </li>
    <li><i class="circle" style="opacity: 0.5; background:#f7837d;"></i> Oil palm mix </li>
    <li><i class="circle" style="opacity: 0.5; background:#0FF;"></i> Rubber mix </li>
    <li><i class="circle" style="opacity: 0.5; background:#FF0;"></i> Fruit mix </li>
    <li><i class="circle" style="opacity: 0.5; background:#c1df8b;"></i> Other mix </li>
    <li><i class="circle" style="opacity: 0.5; background:#b5b0b0;"></i> Unknown </li>
    <li><i class="circle" style="opacity: 0.5; background:#A53ED5;"></i> Recently cleared </li>
  </ul>
</div>
