<div class="layer-details layer-details-raisg">
  <ul class="layer-colors">
    <li><i class="circle" style='color:#A6CEE3;'></i>Traditional occupation without legal recognition</li>
    <li><i class="circle" style='color:#5CA2D1;'></i>Proposed territorial reserve</li>
    <li><i class="circle" style='color:#B2DF8A;'></i>Territorial reserve or intangible zone</li>
    <li><i class="circle" style='color:#4d658f;'></i>Recognized indigenous land</li>
  </ul>
</div>