<div class="layer-details layer-details-raisg_mining">
  <ul class="layer-colors">
    <li><i class="circle" style='color:#76AF95;'></i>Potential</li>
    <li><i class="circle" style='color:#8081B1;'></i>In application</li>
    <li><i class="circle" style='color:#D3C66B;'></i>Exploration</li>
    <li><i class="circle" style='color:#FEC1AB;'></i>Exploitation/ exploration</li>
    <li><i class="circle" style='color:#AA593B;'></i>Exploitation</li>
    <li><i class="circle" style='color:#999999;'></i>No information</li>
  </ul>
</div>
