<div class="layer-details layer-details-raisg_mining">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#76AF95;'></i>Potential</li>
    <li><i class="circle" style='background:#8081B1;'></i>In application</li>
    <li><i class="circle" style='background:#D3C66B;'></i>Exploration</li>
    <li><i class="circle" style='background:#FEC1AB;'></i>Exploitation/ exploration</li>
    <li><i class="circle" style='background:#AA593B;'></i>Exploitation</li>
    <li><i class="circle" style='background:#999999;'></i>No information</li>
  </ul>
</div>
