<div class="layer-details layer-details-raisg">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#A6CEE3;'></i>Indigenous territory without legal recognition <i>TI sin reconocimiento oficial</i></li>
    <li><i class="circle" style='background:#5CA2D1;'></i>Proposed territorial reserve <i>Propuesta de Reserva Territorial</i></li>
    <li><i class="circle" style='background:#B2DF8A;'></i>Territorial reserve or intangible zone <i>Reserva Territorial o Zona Intangible</i></li>
    <li><i class="circle" style='background:#4d658f;'></i>Officially recognized indigenous territory <i>TI reconocido oficialmente</i></li>
  </ul>
</div>