<div class="layer-details layer-details-rspo">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#ffa146;'></i>Certified</li>
    <li><i class="circle" style='background:#ff6361;'></i>Uncertified</li>
    <li><i class="circle" style='background:#bc5090;'></i>Unknown</li>
  </ul>
</div>