<div class="layer-details terra_i">
  <ul class='legend-labels'>
{{!--     <li><span style='background:#FDFE35;'></span>2004</li>
    <li><span style='background:#FDE430;'></span>2005</li>
    <li><span style='background:#FCCB2C;'></span>2006</li>
    <li><span style='background:#FCB128;'></span>2007</li>
    <li><span style='background:#FC9824;'></span>2008</li>
    <li><span style='background:#FB7E21;'></span>2009</li>
    <li><span style='background:#FB661E;'></span>2010</li>
    <li><span style='background:#FB4C1B;'></span>2011</li>
    <li><span style='background:#FB331A;'></span>2012</li>
    <li><span style='background:#FB1919;'></span>2013</li>
    <li><span style='background:#C41A84;'></span>2014</li> --}}
    <li><span style='background:gold;'></span>Reccent alerts</li>

  </ul>
</div>

<style type="text/css">
  ul.legend-labels li {
    display: block;
    line-height: 25px;
  }
  ul.legend-labels li span {
    display: block;
    float: left;
    height: 12px;
    width: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    top: 6px;
    position: relative;
}
</style>
