<div class="layer-details layer-details-tigers">
  <ul class="layer-colors">
    <li><i class="circle" style='color:#FFCC00;'></i>Tiger Conservation Landscapes</li>
    <li><i class="circle" style='color:#FFA300;'></i>Tx2 Tiger Conservation Landscapes </li>
    <li><i class="circle" style='color:#229A00;'></i>Terai Arc Landscape Corridors</li>
  </ul>
</div>
