<div class="layer-details layer-details-tigers">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#FFCC00;'></i>Tiger Conservation Landscapes</li>
    <li><i class="circle" style='background:#FFA300;'></i>Tx2 Tiger Conservation Landscapes </li>
    <li><i class="circle" style='background:#229A00;'></i>Terai Arc landscape corridors</li>
  </ul>
</div>
