<div class="layer-details my-legend layer-details-tigers">
  <div class='legend-scale'>
    <ul class='legend-labels'>
      <li><span style='background:#FFCC00;'></span>Tiger Conservation Landscape</li>
      <li><span style='background:#FFA300;'></span>Tx2 Tiger Conservation Landscapes </li>
      <li><span style='background:#229A00;'></span>Terai Arc Landscape Corridor</li>
    </ul>
  </div>
</div>

<style type='text/css'>
  .my-legend .legend-scale {
    display: block;
    position: relative;
    height: 35px;
  }
  .my-legend .legend-scale ul {
    margin: 6px 0 0 0;
    padding: 0;
    float: left;
    list-style: none;
    }
  .my-legend .legend-scale ul li {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 6px;
    text-align: left;
    font-size: 80%;
    list-style: none;
    margin-left: 4px;
    }
  .my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 36px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 3px;
    margin-right: 6px;
    top: -3px;
    position: relative;
    }
  .my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
  .my-legend a {
    color: #777;
    }
</style>
