<div class="layer-details">
  <div class="definition-list">
  	<strong>Renderer:</strong>
  	<span>{{hresolution.renderer}}</span>
  </div>
  <div class="definition-list">
  	<strong>Sensor:</strong>
  	<span>{{hresolution.sensor_name}}</span>
  </div>
</div>