<div class="layer-details layer-details-us_land_cover">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#85C77E;'></i>Deciduous Forest</li>
    <li><i class="circle" style='background:#38814E;'></i>Evergreen Forest</li>
    <li><i class="circle" style='background:#D4E7B0;'></i>Mixed Forest</li>
    <li><i class="circle" style='background:#AF963C;'></i>Dwarf Scrub</li>
    <li><i class="circle" style='background:#DCCA8F;'></i>Shrub/Scrub</li>
    <li><i class="circle" style='background:#FDE9AA;'></i>Grassland/Herbaceous</li>
    <li><i class="circle" style='background:#D1D182;'></i>Sedge/Herbaceous</li>
    <li><i class="circle" style='background:#CA9146;'></i>Cultivated Crops</li>
    <li><i class="circle" style='background:#FBF65D;'></i>Pasture/Hay</li>
    <li><i class="circle" style='background:#E8D1D1;'></i>Developed, Open Space</li>
    <li><i class="circle" style='background:#E29E8C;'></i>Developed, Low Intensity</li>
    <li><i class="circle" style='background:#FF0000;'></i>Developed, Medium Intensity</li>
    <li><i class="circle" style='background:#B50000;'></i>Developed High Intensity</li>
    <li><i class="circle" style='background:#C8E6F8;'></i>Woody Wetlands</li>
    <li><i class="circle" style='background:#64B3D5;'></i>Emergent Herbaceous Wetlands</li>
    <li><i class="circle" style='background:#D2CDC0;'></i>Barren Land (Rock/Sand/Clay)</li>
    <li><i class="circle" style='background:#A3CC51;'></i>Lichens</li>
    <li><i class="circle" style='background:#82BA9E;'></i>Moss</li>
    <li><i class="circle is-border" style='color:#ffffff;'></i>Perennial Ice/Snow</li>
  </ul>
</div>
