<div class="layer-details layer-details-usa_forest_ownership">
  <ul class="layer-colors">
    <li><i class="circle" style='background:#51a746;'></i>Federal (Public)</li>
    <li><i class="circle" style='background:#d7bf1f;'></i>State (Public)</li>
    <li><i class="circle" style='background:#f47926;'></i>Local (Public)</li>
    <li><i class="circle" style='background:#37b0dd;'></i>Family (Private)</li>
    <li><i class="circle" style='background:#ff7777;'></i>Corporate (Private)</li>
    <li><i class="circle" style='background:#8a0a1d;'></i>Other Private (Private)</li>
  </ul>
</div>