@import '~styles/settings.scss';

.c-map-menu-my-gfw {
  position: relative;
  height: 100%;

  .aoi-header {
    padding: rem(20px);

    h3.title-login {
      text-transform: uppercase;
      color: $slate;
      font-size: rem(14px);
      font-weight: 500;
      margin-bottom: rem(10px);
    }

    h2.title-create-aois {
      font-size: rem(18px);
      max-width: 80%;
    }

    p {
      margin: rem(10px) 0;
    }

    .mygfw-login {
      margin: rem(40px) 0;
    }

    .aoi-tags {
      margin: rem(15px) 0;

      .clickable-tag {
        outline: none;
        cursor: pointer;
      }
    }
  }

  .aoi-items {
    .aoi-item {
      display: flex;
      position: relative;
      cursor: pointer;
      outline: none;
      padding: rem(15px);

      &.--active {
        background-color: #f6f6f4;
        border: 1px solid $green-gfw;
      }

      .edit-button {
        position: absolute;
        right: 10px;
        top: 10px;
      }

      img {
        width: rem(76px);
        height: rem(76px);
        background: $border;
        margin-right: rem(15px);
      }

      .aoi-item-body {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .c-pill {
    display: inline-block;
    margin-right: rem(5px);
  }

  .my-gfw-login-image {
    position: absolute;
    bottom: 0;
  }
}
