@import '~styles/settings.scss';

.l-about-page {
  border-bottom: solid 1px $grey-dark;

  .subscribe-btn {
    width: fit-content;
    cursor: pointer;

    .subscribe-icon {
      margin-top: rem(15px);
      display: inline-block;
      margin-right: rem(10px);
    }

    .subscribe-msg {
      color: $white;
      font-weight: 500;
      display: inline-block;
      text-transform: uppercase;
    }
  }

  h3 {
    font-family: $font-family-1;
    font-size: rem(18px);
    text-transform: uppercase;
    opacity: 0.5;
  }

  .about-links {
    display: none;

    @media screen and (min-width: $screen-m) {
      display: block;
    }
  }
}
