@import '~styles/settings.scss';

.c-no-areas {
  padding: rem(30px) 0 rem(50px);

  .areas-image {
    width: 100%;
  }

  h4 {
    font-size: rem(30px);
    color: $slate-light;
    margin-bottom: rem(20px);
    max-width: rem(400px);
  }

  p {
    font-size: rem(18px);
    line-height: 30px;
    color: $slate;
    margin-bottom: rem(40px);
  }

  .learn-btn {
    width: rem(200px);
  }
}
