@import '~styles/settings';

.c-recent-image-map {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: $border;
  overflow: hidden;

  .map-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  svg {
    background-color: $border;
    opacity: 1;
    position: absolute;
    z-index: 1;
    height: 100%;
  }

  .error-msg {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: rem(25px);
    position: absolute;
    z-index: 1;
    background: $border;
  }

  &.small {
    .error-msg {
      padding: rem(3px);
      font-size: rem(11px);
    }
  }
}
