@import '~styles/settings.scss';
$mobile-padding: rem(30px);
$desktop-padding: rem(50px);

.c-subscription-form {
  .field {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(30px);

    span {
      margin-bottom: rem(10px);
    }

    &.error {
      color: $error;
    }
  }

  input {
    height: rem(40px);
    border: solid 1px $border;
    padding: 0 rem(10px);
    border-radius: rem(4px);
    font-size: rem(14px);

    &:focus {
      outline: none;
    }
  }

  .save-subscription {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: rem(30px);

    p {
      color: $warm-grey;
    }

    .error-message {
      color: $error;
    }

    .submit-btn {
      margin-left: rem(15px);
      max-width: rem(290px);
      position: relative;

      &.error {
        background-color: $error;
      }
    }
  }

  .datasets {
    > * {
      margin-bottom: rem(15px);
    }

    @media screen and (min-width: $screen-m) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      > * {
        width: 48%;
        margin-bottom: rem(15px);
      }
    }
  }

  .saving-btn-loader {
    > div {
      width: rem(20px);
      height: rem(20px);
      border-width: 2px;
    }
  }
}
