@import '~styles/settings.scss';

.c-recent-imagery {
  display: none;

  &__button {
    position: absolute;
    bottom: rem(50px);
    right: rem(35px);
    width: rem(76px);
    z-index: 20;

    .satellite-icon {
      width: rem(20px);
      height: rem(20px);
      margin-right: rem(5px);
    }

    span {
      text-align: left;
    }
  }

  &--dragging {
    position: relative;
    width: 100%;
    height: calc(100vh - #{rem(36px)});
  }

  @media screen and (min-width: 62.5rem) {
    display: block;
  }
}

.recent-imagery-infowindow {
  font-family: $font-family-1;
  padding: rem(10px);
  margin: rem(3px) rem(3px) rem(5px) rem(3px);
  font-size: 12px;
  color: $slate;
  background-color: $tip;
  box-shadow: 0 1px 3px 0 rgba($slate, 0.25);

  &__arrow {
    position: absolute;
    left: rem(-18px);
    right: 0;
    top: rem(37px);
    width: 0;
    height: 0;
    margin: auto;
    border-left: 7px solid $tip;
    border-right: none;
    border-top: 7px solid $slate-light;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    border-top-color: $tip;
    box-shadow: -2px 2px 2px 0 rgba($slate, 0.1);
  }
}
