@import '~styles/settings.scss';

.c-recent-imagery {
  display: none;

  &__button {
    position: absolute;
    bottom: rem(50px);
    right: rem(35px);
    width: rem(76px);
    z-index: 20;

    .satellite-icon {
      width: rem(20px);
      height: rem(20px);
      margin-right: rem(5px);
    }

    span {
      text-align: left;
    }
  }

  &--dragging {
    position: relative;
    width: 100%;
    height: calc(100vh - #{rem(36px)});
  }

  @media screen and (min-width: 62.5rem) {
    display: block;
  }
}

.recent-imagery-infowindow {
  font-family: $font-family-1;
  color: $white;
  font-size: 10px;
  text-shadow: 0 0 3px $slate-light;
}
