@import '~styles/settings.scss';

.c-datasets {
  padding: rem(20px);
  max-height: 100%;
  overflow: scroll;

  .countries-selection {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(20px);

    .pills {
      display: flex;
      flex-wrap: wrap;

      > * {
        margin-bottom: rem(5px);
        margin-right: rem(5px);
      }
    }

    .sub-title {
      text-transform: uppercase;
      font-size: rem(11px);
      color: $slate;
      margin-bottom: rem(5px);
      font-weight: 500;
    }

    .country-dropdown {
      width: rem(110px);
    }
  }

  .dataset-toggle {
    margin-bottom: rem(20px);

    &:last-child {
      margin-bottom: rem(5px);
    }
  }

  .no-datasets-legend {
    display: flex;

    .legend-dot {
      background-color: #d4d4d4;
      height: rem(10px);
      min-height: rem(10px);
      width: rem(10px);
      min-width: rem(10px);
      border-radius: 50%;
      display: block;
      margin-right: rem(5px);
      margin-top: rem(4px);
    }

    .no-datasets-message {
      font-size: rem(12px);
      color: $slate;
      margin-bottom: rem(25px);

      strong {
        font-weight: 500;
      }
    }
  }

  .no-datasets {
    position: relative;
    font-size: rem(13px);
    margin-bottom: rem(10px);
  }
}
