@import '~styles/settings.scss';

html,
body {
  font-family: $font-family-1;
  color: $slate-light;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

* {
  font-family: inherit;

  &:focus {
    outline: none;
  }
}

h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 1;

  @media screen and (min-width: $screen-m) {
    font-size: 60px;
  }
}

h2 {
  font-size: 36px;
  line-height: 1;
  font-weight: 300;

  @media screen and (min-width: $screen-m) {
    font-size: 48px;
  }
}

h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;

  @media screen and (min-width: $screen-m) {
    font-size: 36px;
  }
}

h4 {
  line-height: 24px;
  font-weight: 500;
  font-size: 18px;
}

h5 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

p,
a {
  font-size: 16px;
  line-height: 24px;

  @media screen and (min-width: $screen-m) {
    line-height: 30px;
    font-size: 18px;
  }
}

a {
  color: $green-gfw;

  &:hover {
    color: $dark-green;
    text-decoration: underline;
  }
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
  appearance: none;
}

// img {
//   display: inline-block;
//   vertical-align: middle;
//   max-width: 100%;
//   height: auto;
// }

// table {
//   width: 100%;
//   border-spacing: 0;
//   margin-bottom: 1.563rem;
// }

// th,
// td {
//   padding: 0.5rem 0.5rem 0.5rem 0;
//   margin: 0;
// }

// th {
//   font-weight: 400;
//   text-align: left;
//   border-bottom: 1px solid #d8d8d8;
// }

// td {
//   border-bottom: 1px solid #eaeaea;
// }
