//rem converter
/* stylelint-disable */
@function rem($px, $base: 16px) {
  @return calc($px / $base) * 1rem;
}

@keyframes pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}
