// Colors
$color-primary: #c32d7b;
$color-secondary: #2C75B0;
$color-tertiary: #FAB72E;
$color-white: #FFF;
$color-black: #000;

$color-dark-1: #393f44;
$color-dark-2: #717171;
$color-dark-3: #CACCD0;
$color-dark-4: #F4F6F7;

// Border
$border-color-1: rgba(26, 28, 34, 0.1);
$border-color-2: rgba(202, 204,208, 0.85);; // For inputs

// Typography
$font-size-extra-small: 12px;
$font-size-small: 13px;
$font-size-default: 14px;
$font-size-medium: 16px;
$font-size-big: 21px;

$font-size-h1: 64px;
$font-size-h2: 42px;
$font-size-h3: 26px;
$font-size-h4: 16px;

// Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Space
$space-1: 8px;

// Breakpoints
$breakpoints: (
  small: 400px
);

// Animation – timings
$animation-time: .16s;
$animation-time-2: .24s;
$animation-time-3: .5s;
$animation-time-4: .75s;

// Animation – functions
$ease-in-cubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$ease-out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$ease-in-sine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$ease-out-sine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$ease-in-out-sine: cubic-bezier(0.445, 0.050, 0.550, 0.950);