<div class="tab-analysis scroll-thin-dark">
  <nav id="analysis-nav" class="analysis-nav noselect">
    <ul>
      <li id="analysis-draw-tab-button" data-tab="analysis-draw-tab">Draw or upload shape</li>
      <li id="analysis-country-tab-button" data-tab="analysis-country-tab">Country or region</li>
      <li id="analysis-shape-tab-button" data-tab="analysis-shape-tab">Other data layers</li>
    </ul>
  </nav>
  <div id="analysis-content" class="analysis-content">
    <div id="default" class="analysis-tab-content -active">
      <header>
        <h2>Select an area to analyze or subscribe to</h2>
      </header>
    </div>
    <div id="analysis-draw-tab" class="analysis-tab-content analysis-draw-tab"></div>
    <div id="analysis-country-tab" class="analysis-tab-content analysis-country-tab"></div>
    <div id="analysis-shape-tab" class="analysis-tab-content analysis-shape-tab"></div>
  </div>
</div>
{{!-- <div id="tab-spinner" class="spinner2-box">
  <div id="spinner2" class="spinner2">
    <div id="spinner2-close" class="spinner2-close">
      <button class="btn red uppercase">Cancel analysis</button>
    </div>
  </div>
</div>
 --}}