<div class="tab-analysis">
  <nav id="analysis-nav" class="analysis-nav noselect">
    <ul>
      <li id="analysis-draw-tab-button" data-subtab="analysis-draw-tab"><span>Draw or upload shape</span></li>
      <li id="analysis-country-tab-button" data-subtab="analysis-country-tab"><span>Country or region</span></li>
    </ul>
  </nav>
  <div id="analysis-content" class="analysis-content">
    <div id="default" class="analysis-tab-content -active">
      <header>
        <h2>Select an area to analyze or subscribe to</h2>
      </header>
    </div>
    <div id="analysis-draw-tab" class="analysis-tab-content analysis-draw-tab"></div>
    <div id="analysis-country-tab" class="analysis-tab-content analysis-country-tab"></div>
    <div id="analysis-shape-tab" class="analysis-tab-content analysis-shape-tab"></div>
  </div>
</div>

<div id="analysis-downloads" class="analysis-downloads"></div>

<div id="analysis-spinner" class="analysis-spinner">
  {{!-- We should try to improve the spinner --}}
  <div class="analysis-spinner-box">
    <div class="icon"></div>
    <button class="btn red uppercase btn-analysis-delete">Cancel analysis</button>
  </div>
</div>
