<div class="tab-basemaps">
  <ul class="maptype-list scroll-thin-dark">
    <li class="maptype grayscale" data-maptype="grayscale"><i></i><span>Default</span> <a href='#' data-source="grayscale" class='source source-shape-info'><svg><use xlink:href="#shape-info"></use></svg></a></li>
    <li class="maptype terrain" data-maptype="terrain"><i></i><span>Terrain</span> <a href='#' data-source="terrain" class='source source-shape-info'><svg><use xlink:href="#shape-info"></use></svg></a></li>
    <li class="maptype satellite" data-maptype="satellite"><i></i><span>Satellite</span> <a href='#' data-source="satellite" class='source source-shape-info'><svg><use xlink:href="#shape-info"></use></svg></a></li>
    <li class="maptype openstreet" data-maptype="openstreet"><i></i><span>Open Street Map</span> <a href='#' data-source="openstreet" class='source source-shape-info'><svg><use xlink:href="#shape-info"></use></svg></a></li>
    <li class="maptype dark" data-maptype="dark"><i></i><span>Dark Matter</span> <a href='#' data-source="dark" class='source source-shape-info'><svg><use xlink:href="#shape-info"></use></svg></a></li>
    <li class="maptype positron" data-maptype="positron"><i></i><span>Positron</span> <a href='#' data-source="positron" class='source source-shape-info'><svg><use xlink:href="#shape-info"></use></svg></a></li>
    <li class="maptype hybrid" data-maptype="hybrid"><i></i><span>Hybrid</span> <a href='#' data-source="hybrid" class='source source-shape-info'><svg><use xlink:href="#shape-info"></use></svg></a></li>
    <li class="maptype treeheight" data-maptype="treeheight"><i></i><span>Tree height</span> <a href='#' data-source="treeheight" class='source source-shape-info'><svg><use xlink:href="#shape-info"></use></svg></a></li>
    <li class="landsatSelector landsat">
      <i></i><span>Landsat</span> <a href='#' data-source="landsat" class='source source-shape-info'><svg><use xlink:href="#shape-info"></use></svg></a>
    </li>
  </ul>
  <ul class="landsat-years landsat">
    <div>
      <li class="maptype landsat1999" data-maptype="landsat1999">Landsat 1999</li>
      <li class="maptype landsat2000" data-maptype="landsat2000">Landsat 2000</li>
      <li class="maptype landsat2001" data-maptype="landsat2001">Landsat 2001</li>
      <li class="maptype landsat2002" data-maptype="landsat2002">Landsat 2002</li>
      <li class="maptype landsat2003" data-maptype="landsat2003">Landsat 2003</li>
      <li class="maptype landsat2004" data-maptype="landsat2004">Landsat 2004</li>
      <li class="maptype landsat2005" data-maptype="landsat2005">Landsat 2005</li>
      <li class="maptype landsat2006" data-maptype="landsat2006">Landsat 2006</li>
      <li class="maptype landsat2007" data-maptype="landsat2007">Landsat 2007</li>
      <li class="maptype landsat2008" data-maptype="landsat2008">Landsat 2008</li>
    </div>
    <div>
      <li class="maptype landsat2009" data-maptype="landsat2009">Landsat 2009</li>
      <li class="maptype landsat2010" data-maptype="landsat2010">Landsat 2010</li>
      <li class="maptype landsat2011" data-maptype="landsat2011">Landsat 2011</li>
      <li class="maptype landsat2012" data-maptype="landsat2012">Landsat 2012</li>
      <li class="maptype landsat2013" data-maptype="landsat2013">Landsat 2013</li>
      <li class="maptype landsat2014" data-maptype="landsat2014">Landsat 2014</li>
      <li class="maptype landsat2015" data-maptype="landsat2015">Landsat 2015</li>
      <li class="maptype landsat2016" data-maptype="landsat2016">Landsat 2016</li>
      <li class="maptype landsat2017" data-maptype="landsat2017">Landsat 2017</li>
    </div>
  </ul>

</div>
