<div class="tab-countries">
  <div class="countries-content">
    <div class="select-box">
      <div class="letters-ul-mobile-box scroll-none">
        <ul id="countries-letters-ul" class="letters-ul-mobile">
          <li data-alpha="A">A</li>
          <li data-alpha="B">B</li>
          <li data-alpha="C">C</li>
          <li data-alpha="D">D</li>
          <li data-alpha="E">E</li>
          <li data-alpha="F">F</li>
          <li data-alpha="G">G</li>
          <li data-alpha="H">H</li>
          <li data-alpha="I">I</li>
          <li data-alpha="J">J</li>
          <li data-alpha="K">K</li>
          <li data-alpha="L">L</li>
          <li data-alpha="M">M</li>
          <li data-alpha="N">N</li>
          <li data-alpha="O">O</li>
          <li data-alpha="P">P</li>
          <li data-alpha="Q">Q</li>
          <li data-alpha="R">R</li>
          <li data-alpha="S">S</li>
          <li data-alpha="T">T</li>
          <li data-alpha="U">U</li>
          <li data-alpha="V">V</li>
          <li data-alpha="W">W</li>
          <li data-alpha="X">X</li>
          <li data-alpha="Y">Y</li>
          <li data-alpha="Z">Z</li>
        </ul>
      </div>
      <ul data-placeholder="Select country" class="country-ul-mobile chosen-select default notranslate" id="countries-country-ul"></ul>
      {{!-- <select data-placeholder="Select jurisdiction" disabled="true" class="chosen-select default notranslate" id="countries-region-select"><option></option></select> --}}
    </div>
    <div class="toggle-countries-content" id="toggle-countries-content">
      <div id="countries-buttons" class="countries-buttons"></div>
      <div id="countries-layers" class="countries-layers"></div>
    </div>
  </div>
 </div>
