{{!-- <ul class="button-container one">
  <li><button id="countries-analyze-button" class="btn green uppercase">Analyze</button></li>
</ul> --}}
<ul class="button-container">
  <li><a class="btn gray uppercase little" href="https://wri-01.cartodb.com/api/v2/sql?q=SELECT iso as country_code,id1 as region_code, country,region, year, thresh as min_percent_canopy_density, loss as loss_ha, loss_perc as loss_percent, extent as extent_ha, extent_perc as extent_percent, gain as gain_ha, gain_perc as gain_percent from umd_subnat where iso='{{iso}}'&format=csv&filename='{{iso}}'">Country data</a></li>
  <li><a class="btn gray uppercase little" href="/country/{{iso}}">Country profile</a></li>
</ul>
