<ul class="button-container one">
  {{#if this.is_idn}}
    <li><a href="{{this.url}}" target="_blank" class="btn green lines uppercase mobile-friendly"><span>WRI in {{this.name}}</span></a></li>
  {{else}}
    <li><a href="{{this.url}}" target="_blank" class="btn green lines uppercase mobile-friendly"><span>Visit forest atlas</span></a></li>
  {{/if}}
</ul>


