{{#if layers}}
<header>
  <h2>Available data sets for this country:</h2>
</header>
<ul class="layers">
  {{#each layers}}
  <li data-slug="{{this.slug}}"><span class="layer-name"><i class="circle" style="color:{{this.category_color}}"></i>{{this.title}}</span></li>
  {{/each}}
</ul>
{{else}}
<header>
  <h2>No country data is available</h2>
</header>
{{/if}}
