{{!-- <ul class="button-container one">
  <li><button id="countries-analyze-button" class="btn green uppercase">Analyze</button></li>
</ul> --}}
<ul class="button-container">
  <li><a class="btn gray uppercase little" target="_blank" href="http://data.globalforestwatch.org/datasets?q={{iso}}">Country data</a></li>
  <li><a class="btn gray uppercase little" href="/country/{{iso}}">Country profile</a></li>
</ul>
