<div class="tab-countries">
  <div class="countries-content">
    {{!-- <header>
      <h2>View country data</h2>
    </header> --}}
    <div class="select-box">
      <select data-placeholder="Select country" class="chosen-select default notranslate" id="countries-country-select"><option></option></select>
      {{!-- <select data-placeholder="Select jurisdiction" disabled="true" class="chosen-select default notranslate" id="countries-region-select"><option></option></select> --}}
    </div>
    <div class="toggle-countries-content" id="toggle-countries-content">
      <div id="countries-layers" class="countries-layers"></div>
      <div id="countries-buttons" class="countries-buttons"></div>
    </div>
  </div>
 </div>
