
<ul class="button-container">
  <li><a class="btn gray uppercase little" target="_blank" href="http://data.globalforestwatch.org/datasets?q={{iso}}">Country data</a></li>
  <li><a class="btn gray uppercase little" href="/country/{{iso}}">Country profile</a></li>
</ul>
{{#if country}}
  {{#if country.indepth}}
    <ul class="button-container one">
      <li><a href="{{country.indepth}}" target="_blank" class="btn green lines uppercase"><span>Forest atlas</span></a></li>
    </ul>
  {{/if}}
{{/if}}
