{{#if layers}}
<header>
  <div class="alone">
    <p>Available data sets for this country:</p>
  </div>
</header>
<ul class="layers-list">
  {{#each layers}}
    <li class="layer" data-layer="{{this.slug}}" data-layeriso="{{this.iso}}">
      <span class="onoffswitch"><span></span></span>
      <span class="layer-title">
        {{this.title}}
      </span>
    {{#if this.does_wrapper}}
      <span class="does_wrapper"></span>
    {{/if}}
    </li>
  {{/each}}
</ul>
{{else}}
<header>
  <div class="alone">
    <p>No country data sets are available yet. </p>
    <p><a href="#" class="source" data-source="view_existing_global_data">View existing global data</a> sets or <a href="/getinvolved/share-data" target="_blank">suggest your own.</a></p>
  </div>
</header>
{{/if}}
