<div class="tab-basemaps">
  <ul class="maptype-list scroll-dark">
    <li>
      <div>
        map type
        <select>
          <option>rgb</option>
          <option>ndvi</option>
          <option>evi</option>
          <option>ndwi</option>
          <option>false-color-nir</option>
        </select>
        cloud percentage<input type="range">
        acquired date<input type="range">
      </div>
    </li>
  </ul>

</div>
