<div class="tab-highresolution">
  <ul class="maptype-list scroll-dark">
    <li data-maptype="urthe" class="maptype">
      <h2>Urthecast map</h2>
      <section>
        <select class='color'>
          <option>rgb</option>
          <option>ndvi</option>
          <option>evi</option>
          <option>ndwi</option>
          <option>false-color-nir</option>
        </select>
        </section>
        <section>
          cloud percentage <input type="range" class='cloud' step="10" value="20">
        </section>
        <section>
          acquired date min <input type=date min=2000-09-08 value="{{mindate}}" class="mindate">
        </section>
        <section>
          acquired date max <input type=date max={{today}} value="{{today}}" class="maxdate">
        </section>
        <button>apply</button>
      </div>
    </li>
  </ul>

</div>
