<div class="tab-highresolution">
  <div id="highresolutionModal" class="highresolution-modal">
    <p>Click on the map to view info about each UrtheCast image</p>
  </div>
  <div class="highresolution-content scroll-thin-dark">
    <h2>Imagery</h2>
    <p class="description">We're currently changing imagery providers to give you the best experience. <a href="https://groups.google.com/forum/#!topic/globalforestwatch/nhsHgQPTrTY" target="_blank">Learn more here</a>.</p>
  </div>
</div>
