<div class="tab-highresolution">
  <ul class="maptype-list scroll-dark">
    <li>
      <section>
        map type
        <select>
          <option>rgb</option>
          <option>ndvi</option>
          <option>evi</option>
          <option>ndwi</option>
          <option>false-color-nir</option>
        </select>
        </section>
        <section>
          cloud percentage <input type="range">
        </section>
        <section>
          acquired date min <input type="range">
        </section>
        <section>
          acquired date max <input type="range">
        </section>
      </div>
    </li>
  </ul>

</div>
