<div class="tab-subscription">
	<div id="subscription-content" class="subscription-content">
		<div id="default-subscription" class="subscription-tab-content default-subscription active">
			<header>
		        <h2>Please <a href="/my_gfw">log in</a> before subscribing</h2>
	      </header>
		</div>
	</div>
</div>