<div class="modal-backdrop"></div>
<div class="modal-window">
  <a href="#" class="modal-close">
    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-close"></use></svg>
  </a>

  <div class="analysis-subscribe-content active">
    {{#if loggedIn}}
      <div class="steps current">
        <header>
          <h2>Subscribe to alerts</h2>
          <p>
            Enter your email below to subscribe to monthly forest change
            alerts and user stories for this area
          </p>
        </header>

        <div class="content">
          <ul class="button-container one">
            <li>
              <input class="field" type="email" id="subscriptionEmail" placeholder="Enter your email" value="{{email}}">
              <button class="btn green uppercase" id="showName">Next</button>
            </li>
          </ul>
        </div>
      </div>
    {{else}}
      <div class="steps current">
        <header>
          <h2>You need to login</h2>
        </header>

        <div class="content">
          <a href="#">Login!</a>
        </div>
      </div>
    {{/if}}

    <div class="steps">
      <header>
        <h2>Name your subscription</h2>
      </header>

      <div class="content">
        <ul class="button-container one">
          <li>
            <input class="field" type="text" id="subscriptionName" placeholder="Area name">
            <button class="btn green uppercase" id="subscribe">Save</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="steps">
      <header>
        <h2>Thank you</h2>
        <p>We&#39;ve sent you a confirmation email to subscribe to this area.</p>
      </header>

      <div class="content">
        <ul class="button-container one">
          <li>
            <button class="btn green uppercase close-modal">
              Return to map
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
