<div class="subscription-modal-backdrop"></div>
<div class="subscription-modal-window">
  <a href="#" class="subscription-modal-close">
    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-close"></use></svg>
  </a>

  <div class="subscription-spinner-container">
    <div class="spinner3 my-gfw-spinner">
      <svg width="50" height="50">
        <g>
          <path class="background" d="M0,25A25,25 0 1,1 0,-25A25,25 0 1,1 0,25M0,20A20,20 0 1,0 0,-20A20,20 0 1,0 0,20Z"></path>
          <path class="foreground" d="M1.5308084989341915e-15,-25A25,25 0 0,1 25,0L20,0A20,20 0 0,0 1.2246467991473533e-15,-20Z"></path>
        </g>
      </svg>
    </div>
  </div>

  {{#if loggedIn}}
    <div class="steps current">
      <header>
        <h2>Subscribe to alerts</h2>
        <p>
          Enter your email below to subscribe to monthly forest change
          alerts and user stories for this area
        </p>
      </header>

      <input class="field" type="email" id="subscriptionEmail" placeholder="Enter your email" value="{{email}}">
      <button class="btn green uppercase" id="showName">Next</button>
    </div>
  {{else}}
    <div class="steps current">
      <header>
        <h2>You need to be logged in to save your subscriptions</h2>
      </header>

      <ul class="subscription-authentication">
        <li class="subscription-sign-in-twitter">
          <a href="/auth/twitter" class="subscription-sign-in subscription-sign-in-twitter">
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use></svg>
            Sign in with Twitter
          </a>
        </li>

        <li class="subscription-sign-in-facebook">
          <a href="/auth/facebook" class="subscription-sign-in">
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use></svg>
            Sign in with Facebook
          </a>
        </li>

        <li class="subscription-sign-in-google">
          <a href="/auth/google" class="subscription-sign-in">
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-googleplus"></use></svg>
            Sign in with Google
          </a>
        </li>
      </ul>
    </div>
  {{/if}}

  <div class="steps">
    <header>
      <h2>Name your subscription</h2>
    </header>

    <div class="subscription-name-container">
      <input class="field" type="text" id="subscriptionName" placeholder="Area name">
      <label for="subscriptionName">{{date}}</label>
    </div>

    <button class="btn green uppercase" id="subscribe">Save</button>
  </div>

  <div class="steps">
    <header>
      <h2>Subscription saved</h2>
    </header>

    <div class="subscription-successful"></div>

    <p>
      This subscription has been added to your profile. Please check
      your email and click on the link to confirm your subscription.
      Visit your <a href="/my_gfw/subscriptions">saved subscriptions<a/>
      to manage them.
    </p>

    <button class="btn green uppercase" id="returnToMap">Return to map</button>
  </div>
</div>
