<div class="analysis-subscribe-content">
  <span class="close-icon icon"><svg><use xlink:href="#shape-close"></use></svg></span>
  <div class="steps current">
    <header>
      <h2>Subscribe to alerts</h2>
      <p>You will receive a monthly email summarizing forest change in this area</p>
    </header>

    <div class="content">
      <ul class="button-container one">
        <li>
          <input class="field" type="email" id="areaEmail" placeHolder="Enter your email">
          <button class="btn green uppercase" id="subscribe">Subscribe</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="steps">
    <header>
      <h2>Thank you</h2>
      <p>We've sent you a confirmation email to subscribe to this area.</p>
    </header>
    <div class="content">
      <ul class="button-container one">
        <li><button class="btn green uppercase close-icon">Close</button></li>
      </ul>
    </div>
  </div>
</div>
