<div class="tab-threshold">
  <header>
    <h2>Settings</h2>
    <ol>
      <li>UMD tree cover loss & gain</li>
      <li>Change canopy threshold <a href="#" class="source" data-source="canopy"></a></li>
    </ol>
  </header>
</div>