<div class="tab-threshold">
  <header>
    <h2>Settings</h2>
    <ol>
      <li>UMD tree cover loss & gain</li>
      <li>Change canopy threshold <a href="#" class="source" data-source="canopy"><svg><use xlink:href="#shape-info"></use></svg></a></li>
    </ol>
  </header>
  <div class="trees">
    <span class="tree-icon"></span>
    <span class="forest-icon"></span>
  </div>
  <div class="slider-container">
    <ul id="labels-threshold">
      {{#each values}}
        <li data-slider-value="{{@index}}">{{this}}%</li>
      {{/each}}
    </ul>
    <div class="range-box">
      <div class="dots"></div>
      <div id="progress-threshold" class="progress"></div>
      <input id="range-threshold" type="range" min="0" max="6" value="4" step="1">
    </div>
  </div>
</div>
