<div class="inner">
  <ul class="categories-list">

    <li class="forest-change">
      <span class="category-name">FOREST CHANGE</span>   
      <div class="layers-nav">
        <div class="layers-nav-header">
          <div class="category-icon"></div>
          <span class="category-name">FOREST CHANGE</span>
        </div>
        <ul class="layers-list">
          <li>
            <span class="layer-title">UMD tree cover loss & gain</span>
          </li>
          <li>
            <span class="layer-title">FORMA alerts</span>
            <span class="layer-info">(monthly, 500m, humid tropics)</span>
          </li>
          <li>
            <span class="layer-title">Imazon SAD alerts</span>
            <span class="layer-info">(monthly, 250m, Brazilian Amazon)</span>
          </li>
          <li>
            <span class="layer-title">QUICC alerts</span>
            <span class="layer-info">(quarterly, 5km, &lt;37 degrees north)</span>
          </li>
          </li>
          <li>
            <span class="layer-title">NASA active fires</span>
            <span class="layer-info">(past 7 days, 1km, global))</span>
          </li>
          <li>
            <span class="layer-title">None</span>
          </li>
        </ul>
      </div>
    </li>

    <li class="forest-cover">
      <span class="category-name">FOREST COVER</span>
    </li>
    
    <li class="forest-use">
      <span class="category-name">FOREST USE</span>
    </li>
    <li class="conservation">
      <span class="category-name">CONSERVATION</span>
    </li>
    
    <li class="people">
      <span class="category-name">PEOPLE</span>
    </li>

    <li class="stories">
      <span class="category-name">STORIES</span>
    </li>

  </ul>
</div>