<div class="inner">
  <ul class="categories-list">

    <li class="forest-change">
      <span class="category-name">FOREST CHANGE</span>   

      <div class="layers-nav">
        <div class="layers-nav-header">
          <div class="category-icon"></div>
          <span class="category-name">FOREST CHANGE</span>
        </div>
        <ul class="layers-list">
          <li data-layer="loss">
            <span class="layer-title">UMD tree cover loss</span>
          </li>
          <li data-layer="umd_tree_loss_gain">
            <span class="layer-title">UMD tree cover gain</span>
          </li>
          <li>
            <span class="layer-title">FORMA alerts</span>
            <span class="layer-info">(monthly, 500m, humid tropics)</span>
          </li>
          <li data-layer="imazon">
            <div class="radio"></div>
            <span class="layer-title">Imazon SAD alerts</span>
            <span class="layer-info">(monthly, 250m, Brazilian Amazon)</span>
          </li>
          <li>
            <span class="layer-title">QUICC alerts</span>
            <span class="layer-info">(quarterly, 5km, &lt;37 degrees north)</span>
          </li>
          </li>
          <li>
            <span class="layer-title">NASA active fires</span>
            <span class="layer-info">(past 7 days, 1km, global))</span>
          </li>
          <li>
            <span class="layer-title">None</span>
          </li>
        </ul>
      </div>
    </li>

    <li class="forest-cover">
      <span class="category-name">FOREST COVER</span>

      <div class="layers-nav">
        <div class="layers-nav-header">
          <div class="category-icon"></div>
          <span class="category-name">FOREST CHANGE</span>
        </div>
        <ul class="layers-list">
          <li data-layer="forest2000">
            <span class="layer-title">Tree cover extent</span>
          </li>
          <li>
            <span class="layer-title">Intact forest landscapes</span>
          </li>
          <li>
            <span class="layer-title">Tropical forest carbon stock</span>
          </li>
          </ul>
      </div>
    </li>
    
    <li class="forest-use">
      <span class="category-name">FOREST USE</span>

      <div class="layers-nav">
        <div class="layers-nav-header">
          <div class="category-icon"></div>
          <span class="category-name">FOREST CHANGE</span>
        </div>
        <ul class="layers-list">
          <li>
            <span class="layer-title">Logging</span>
          </li>
          <li>
            <span class="layer-title">Mining</span>
          </li>
          <li>
            <span class="layer-title">Oil palm</span>
          </li>
          <li>
            <span class="layer-title">Wood fiber plantations</span>
          </li>
        </ul>
      </div>
    </li>

    <li class="conservation">
      <span class="category-name">CONSERVATION</span>

      <div class="layers-nav">
        <div class="layers-nav-header">
          <div class="category-icon"></div>
          <span class="category-name">FOREST CHANGE</span>
        </div>
        <ul class="layers-list">
          <li>
            <span class="layer-title">Protected areas</span>
          </li>
          <li>
            <span class="layer-title">Biodiversity hotspots</span>
          </li>
        </ul>
      </div>
    </li>
    
    <li class="people">
      <span class="category-name">PEOPLE</span>

      <div class="layers-nav">
        <div class="layers-nav-header">
          <div class="category-icon"></div>
          <span class="category-name">FOREST CHANGE</span>
        </div>
        <ul class="layers-list">
          <li>
            <span class="layer-title">Resource Rights</span>
          </li>
          <li>
            <span class="layer-title">Land Rights</span>
            <span class="layer-info">Coming soon…</span>
          </li>
        </ul>
      </div>
    </li>

    <li class="stories">
      <span class="category-name">STORIES</span>

      <div class="layers-nav">
        <div class="layers-nav-header">
          <div class="category-icon"></div>
          <span class="category-name">FOREST CHANGE</span>
        </div>
        <ul class="layers-list">
          <li>
            <span class="layer-title">User stories</span>
          </li>
          <li>
            <span class="layer-title">Mongabay stories</span>
          </li>
        </ul>
      </div>
    </li>

  </ul>
</div>