<script id='legend-template' type='text/x-underscore-template'>
  <a href='#' class='toggle'></a>
  <div class='layer_count'>0 layers</div>
  <div class='content'></div>
  <div class='shadow'></div>
</script>

<script id='legend-loss-template' type='text/x-underscore-template'>
  <ul class='legend_category {{category}}'>
    <li class='{{category}}'><strong style='color:{{category_color}};'>{{category_title}}</strong></li>

    <li id='{{cat_id}}' class='{{category}}'>
      <i style='background-color:{{title_color}};'></i> {{title}} <a href='#' data-source='{{slug}}' class='source {{slug}}'></a>
    </li>

    <ul>
      <li id='{{cat_id}}' class='loss'> <i style='background-color:{{title_color}};'></i> Loss</li>
      <li id='{{cat_id}}' class='forestgain'> <i style='background-color:#6d6de5'></i> Gain</li>
    </ul>

    {{#sublayer}}
    <!-- div class='coverage_category'>
      <a href='#' data-id='{{id}}' data-color='{{category_color}}' class='checkbox {{slug}}'>
        <i><span></span></i><span class='name'>Geographic coverage</span>
      </a>
      <a href='#' data-source='{{slug}}' class='source coverage {{slug}}'></a>
    </div -->
    {{/sublayer}}

    {{#legend}}
    <!-- ul class='legend_info {{legend_class}}'>
      <li class='forest2000'>
        <strong>{{{ legend }}}</strong>

        <div class='data'>
          <div class='colors'>
            {{#colors}}
            <div class='quartile' style='background-color:{{color}}'>{{title}}</div>
            {{/colors}}

            {{#wide}}
            <div class="quartile wide" style="background: {{color_min}};background: -moz-linear-gradient(left, {{color_min}} 0%, {{color_max}} 100%);background: -webkit-gradient(linear, left top, right top, color-stop(0%,{{color_min}}), color-stop(100%,{{color_max}}));background: -webkit-linear-gradient(left, {{color_min}} 0%,{{color_max}} 100%);background: -o-linear-gradient(left, {{color_min}} 0%,{{color_max}} 100%);background: -ms-linear-gradient(left, {{color_min}} 0%,{{color_max}} 100%)background: linear-gradient(to right, {{color_min}} 0%,{{color_max}} 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{color_min}}', endColorstr='{{color_max}}',GradientType=1 );background-image: -ms-linear-gradient(left, {{color_min}} 0%,{{color_max}} 100%)"></div>
            {{/wide}}
          </div>
        </div>
      </li>
    </ul -->
    {{/legend}}
  </ul>
</script>

<script id='legend-item-template' type='text/x-underscore-template'>
  <li id='{{cat_id}}' class='{{ category }}'>
    <i style='background-color:{{title_color}};'></i>
    {{title}} <a href='#' data-source='{{slug}}' class='source{{ slug == 'nothing' ? ' hidden' : '' }}'></a>

    {{#legend}}
    <ul class='legend_info {{legend_class}}'>
      <strong>{{{legend}}}</strong>

      <div class='data'>
        {{#min}}<div class='min'>{{min}}</div>{{/min}}
        {{#max}}<div class='max'>{{max}}</div>{{/max}}

        <div class='colors'>
          {{#colors}}
          <div class='quartile' style='background-color:{{color}}'>{{title}}</div>
          {{/colors}}

          {{#wide}}
          <div class="quartile wide" style="background: {{color_min}};background: -moz-linear-gradient(left, {{color_min}} 0%, {{color_max}} 100%);background: -webkit-gradient(linear, left top, right top, color-stop(0%,{{color_min}}), color-stop(100%,{{color_max}}));background: -webkit-linear-gradient(left, {{color_min}} 0%,{{color_max}} 100%);background: -o-linear-gradient(left, {{color_min}} 0%,{{color_max}} 100%);background: -ms-linear-gradient(left, {{color_min}} 0%,{{color_max}} 100%)background: linear-gradient(to right, {{color_min}} 0%,{{color_max}} 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{color_min}}', endColorstr='{{color_max}}',GradientType=1 );background-image: -ms-linear-gradient(left, {{color_min}} 0%,{{color_max}} 100%)"></div>
          {{/wide}}
        </div>
      </div>
    </ul>
    {{/legend}}
  </li>
</script>

<script id='legend-group-template' type='text/x-underscore-template'>
  <ul class='legend_category {{category}}{{#sublayer}} sublayer{{/sublayer}}'>
    <li class='{{category}}'><strong style='color:{{category_color}};'>{{category_title}}</strong></li>

    <li id='{{cat_id}}' class='{{category}}'>
      <i style='background-color:{{title_color}};'></i>
      {{title}} <a href='#' data-source='{{slug}}' class='source {{slug}}'></a>

      {{#legend}}
      <ul class='legend_info {{legend_class}}'>
        <strong>{{{legend}}}</strong>

        <div class='data'>
          {{#min}}<div class='min'>{{min}}</div>{{/min}}
          {{#max}}<div class='max'>{{max}}</div>{{/max}}

          <div class='colors'>
            {{#colors}}
            <div class='quartile' style='background-color:{{color}}'>{{title}}</div>
            {{/colors}}

            {{#wide}}
            <div class="quartile wide" style="background: {{color_min}};background: -moz-linear-gradient(left, {{color_min}} 0%, {{color_max}} 100%);background: -webkit-gradient(linear, left top, right top, color-stop(0%,{{color_min}}), color-stop(100%,{{color_max}}));background: -webkit-linear-gradient(left, {{color_min}} 0%,{{color_max}} 100%);background: -o-linear-gradient(left, {{color_min}} 0%,{{color_max}} 100%);background: -ms-linear-gradient(left, {{color_min}} 0%,{{color_max}} 100%)background: linear-gradient(to right, {{color_min}} 0%,{{color_max}} 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{color_min}}', endColorstr='{{color_max}}',GradientType=1 );background-image: -ms-linear-gradient(left, {{color_min}} 0%,{{color_max}} 100%)"></div>
            {{/wide}}
          </div>
        </div>
      </ul>
      {{/legend}}
    </li>

    {{#sublayer}}
    <div class='coverage_category'>
      <a href='#' data-id='{{id}}' data-color='{{category_color}}' class='checkbox {{slug}}'>
      <i><span></span></i><span class='name'>Geographic coverage</span>
      </a><a href='#' data-source='{{slug}}' class='source coverage {{ slug }}'></a>
    </div>
    {{/sublayer}}
  </ul>
</script>

<script id='legend-group-double-template' type='text/x-underscore-template'>
  <ul class='legend_category {{category}} double'>
    <li class='{{category}}'><strong style='color:{{category_color}};'>{{category_title}}</strong></li>
    <li id='{{cat_id}}' class='{{category}}'>
      <i style='background-color:{{category_color}};'></i>
      <div>{{title}} <a href='#' data-source='{{slug}}' class='source {{category}}'></a></div>
    </li>

    <ul>
      <li><i style='background-color:#F13689;'></i> <div>Deforestation</div></li>
      <li><i style='background-color:#FA98B9;'></i> <div>Degradation</div></li>
    </ul>

    {{#sublayer}}
    <div class='coverage_category'>
      <a href='#' data-id='{{ id }}' data-color='{{ category_color }}' class='checkbox {{slug}}'>
      <i><span></span></i><span class='name'>Geographic coverage</span>
      </a><a href='#' data-source='{{slug}}' class='source coverage {{slug}}'></a>
    </div>
    {{/sublayer}}
  </ul>
</script>
