@import '~styles/settings.scss';

.c-selector-item-wrapper {
  align-items: center;
  display: flex;
  flex: 0;
  height: 0;
  justify-content: space-between;
  margin-left: 100%;
  overflow: hidden;
  transition: none;
  width: 100%;

  &.base {
    margin-left: -100%;
    transition: margin-right 0.2s ease-in-out;
  }

  &.show {
    flex: 1;
    height: auto;
    margin-left: 0;
    overflow: initial;
    transition: margin-left 0.2s ease-in-out;
  }
}

.c-selector-item {
  width: 100%;
  padding: rem(8px) rem(16px);

  .c-icon {
    margin: 0 rem(5px) 0 0;
  }
}
