<div id="analysis">

  <a href="#" class="close_icon"></a>

  <h2>Advanced spatial analysis</h2>
  <p>Keep tuned to start performing advanced data analysis on deforestation on customized areas and see the evolution of forestal change through time in them.<br/><br/>  
   <strong>Coming soon!</strong>
  </p>

  <img src = "" class="analysis_screenshot"/>

</div>