<article id="state_of_the_forest">
  <h1>State of the forest</h1>

  <ul class="sources">
    <li id="forest_extent" data-slug="forest_extent">
      <strong>Forest extent</strong>
      <p>This number represents the extent of tree cover in 2012 according to an analysis using global tree cover and loss data from the University of Maryland.</p>
      <p>The map on the left shows the distribution of forest cover in this country, based on a 2009 <a href="http://due.esrin.esa.int/globcover/" target="_blank">GlobCover</a> satellite imagery. The data have been downsampled to show only areas of high forest density.</p>
      <p class="credits">Citation: <%= link_to "UMD 2013 (number)", sources_path %>, <a href="http://due.esrin.esa.int/globcover/" target="_blank">GlobCover 2009 (map)</a>, </p>    
    </li>

    <li id="forest_type" data-slug="forest_type">
      <p>This figure represents the percentages of the country’s forest that is primary, regenerated, and planted according to a 2010 study by the FAO.</p>
    </li>

    <li id="forest_type" data-slug="forest_type">
      <strong>Primary forest</strong>
      <p>No clearly visible indications of human activity or significant ecological disturbance.</p>
    </li>

    <li id="forest_type" data-slug="forest_type">
      <strong>Regenerated forest</strong>
      <p>Naturally regenerated forest of native species with clear indications of human activities.</p>
    </li>

    <li id="forest_type" data-slug="forest_type">
      <strong>Planted forest</strong>
      <p>This forest has been established through planting and/or deliberate seeding.</p>
      <p class="credits">Citation: <a href="http://www.fao.org/forestry/en/" target="_blank">FAO, 2008 </a></p>
    </li>
  </ul>
</article>

<article id="people_economy">
  <h1>People & economy</h1>

  <ul class="sources">
    <li id="gross_value" data-slug="gross_value">
      <strong>Gross value</strong>
      <p>Gross value-added measures the contribution of the forestry sector to the gross domestic product (GDP) of each country. Values are presented in current USD.</p>
    </li>

    <li id="gross_value" data-slug="gross_value">
      <strong>Gross percent</strong>
      <p>This was calculated by dividing the gross value-added in the forestry sector by the GDP of each country for 2006.</p>
      <p class="credits">Citation: <a href="ftp://ftp.fao.org/docrep/fao/011/k4588e/k4588e00.pdf" target="_blank">FAO, 2008 </a></p>
    </li>

    <li id="employment" data-slug="employment">
      <strong>Employment</strong>
      <p>This represents the "visible" or "formal" employment in the forestry sector, converted to full-time equivalents. It is important to note that these figures likely underestimate the true levels of employment in the forestry sector.</p>
      <p class="credits">Citation: <a href="ftp://ftp.fao.org/docrep/fao/011/k4588e/k4588e00.pdf" target="_blank">FAO, 2008 </a></p>
    </li>
  </ul>
</article>

<article id="tenure_laws">
  <h1>Tenure & laws</h1>

  <ul class="sources">
    <li id="forest_tenure" data-slug="forest_tenure">
      <strong>Government Administered</strong>
      <p>This category includes all forests in the legal forest estate that are owned and administered exclusively by the government. It also includes some protected areas and forest lands awarded as concessions.</p>
    </li>

    <li id="forest_tenure" data-slug="forest_tenure">
      <strong>Reserved for communities and indegenous groups</strong>
      <p>This category is for public lands set aside on a semi-permanent but conditional basis for community and indigenous use. Although the distribution of rights between governments and communities varies in every country, governments maintain strong authority over forest resources.</p>
    </li>

    <li id="forest_tenure" data-slug="forest_tenure">
      <strong>Owned by communities and indiegenous groups</strong>
      <p>This category is for private lands owned by communities or indigenous groups. For these lands, rights cannot be unilaterally terminated by a government without due process and compensation.</p>
    </li>

    <li id="forest_tenure" data-slug="forest_tenure">
      <strong>Owned by firms and indivdiuals</strong>
      <p>This category is for private lands owned by individuals or firms. For these lands, rights cannot be unilaterally terminated by a government without due process and compensation.</p>
    </li>

    <li id="forest_legislation" data-slug="forest_legislation">
      <strong>National Forest Policy</strong>
      <p>This indicates whether or not this country has a national forest policy. As defined by the FAO, a forest policy is "a set of orientations and principles of actions adopted by public authorities... to guide future decisions in relation to the management, use and conservation of forest and tree resources for the benefit of society."</p>
      <p class="credits">Citation: <a href="http://www.fao.org/forestry/fra2010" target="_blank">FAO, 2010 </a></p>    
    </li>
  </ul>
</article>

<article id="climate_change">
  <h1>Climate change</h1>

  <ul class="sources">
    <li id="carbon_stocks" data-slug="carbon_stocks">
      <strong>Carbon stocks</strong>
      <p>This infographic shows the total amount of carbon stored in living forest biomass.</p>
      <p class="credits">Citation: <a href="http://www.fao.org/forestry/fra2010" target="_blank">FAO, 2010 </a></p>    
    </li>

    <li id="co2_emissions" data-slug="co2_emissions">
      <strong>CO2 emissions</strong>
      <p>This infographic shows the percent of carbon emissions due to land use change and forestry as defined by the FAO.</p>
      <p><strong>Note:</strong> Land use change and forestry emissions data often have much higher uncertainties than other emissions sources, like CO₂ from energy emissions. FAO, uses a Tier I IPCC method (simple methods with default values). The FAO emission data are estimates by FAO and do not coincide with GHG data reported by member countries to UNFCCC.</p>
      <p class="credits">
        Citation: <a href="http://faostat3.fao.org/faostat-gateway/go/to/download/G2/*/E" target="_blank">FAOSTAT, 2013</a><br />
        Via: <a href="http://cait2.wri.org/" target="_blank">CAIT 2.0, 2013</a>
      </p>
    </li>
  </ul>
</article>

<article id="conventions">
  <h1>Conventions</h1>

  <ul class="sources">
    <li id="conventions_cbd" data-slug="conventions_cbd">
      <strong>Convention on Biological Diversity (CBD)</strong>
      <p>The Convention on Biological Diversity became effective on 29 December 1993. Its three main objectives are to conserve biological diversity, to sustainably use the components of biological diversity, and to fairly and equitably share the benefits resulting from the use of genetic resources.</p>
      <p class="credits">Citation: <a href="http://www.cbd.int" target="_blank">CBD, 2013</a></p>
    </li>

    <li id="conventions_unfccc" data-slug="conventions_unfccc">
      <strong>United Nations Framework Convention on Climate Change (UNFCCC)</strong>
      <p>The United Nations Framework Convention on Climate Change was negotiated at the Earth Summit in Rio de Janerio from 3 to 14 June 1992. Entering into force on 21 March 1993, the main goal of the treaty is the "stabilization of greenhouse gas concentrations in the atmosphere at a level that would prevent dangerous anthropogenic interference with the climate system."</p>
      <p class="credits">Citation: <a href="http://unfccc.int/essential_background/convention/items/6036.php" target="_blank">UNFCCC, 2013</a></p>
    </li>

    <li id="conventions_kyoto" data-slug="conventions_kyoto">
      <strong>Kyoto Protocol</strong>
      <p>The Kyoto Protocol was adopted on 11 December 1997 and came into force on 16 February 2005. It is an international agreement linked to the United Nations Framework Convention on Climate Change that sets internationally binding emission reduction targets for its Parties.</p>
      <p class="credits">Citation: <a href="http://unfccc.int/kyoto_protocol/items/2830.php" target="_blank">UNFCCC, 2013</a></p>
    </li>

    <li id="conventions_unccd" data-slug="conventions_unccd">
      <strong>United Nations Convention to Combat Desertification (UNCCD)</strong>
      <p>The United Nations Convention to Combat Desertification was adopted on 17 June 1994 and entered into force in December 1996. The Convention aims to combat desertification and to mitigate the effects of drought.</p>
      <p class="credits">Citation: <a href="http://www.unccd.int/en/Pages/default.aspx" target="_blank">UNCCD, 2012</a></p>
    </li>

    <li id="conventions_itta" data-slug="conventions_itta">
      <strong>International Tropical Timber Agreement (ITTA)</strong>
      <p>The International Tropical Timber Agreement entered into force on 7 December 2011. The Agreement aims "to promote the expansion and diversification of international trade in tropical timber from sustainably managed and legally harvested forests and to promote the sustainable management of tropical timber producing forests."</p>
      <p class="credits">Citation: <a href="http://www.itto.int/itta" target="_blank">ITTO, 2011</a></p>
    </li>

    <li id="conventions_cites" data-slug="conventions_cites">
      <strong>Convention on International Trade in Endangered Species of Wild Fauna and Flora (CITES)</strong>
      <p>The Convention on International Trade in Endangered Species of Wild Fauna and Flora is an international agreement that aims to ensure that international trade in specimens of wild plants and animals does not threaten their survival.</p>
      <p class="credits">Citation: <a href="http://www.cites.org" target="_blank">CITES, 2013</a></p>
    </li>

    <li id="conventions_ramsar" data-slug="conventions_ramsar">
      <strong>The Ramsar Convention on Wetlands (Ramsar)</strong>
      <p>The Non-Legally Binding Instrument on All Types of Forests was adopted on 17 December 2007. The main purposes of this instrument are to strengthen political commitment and action at all levels to implement sustainable management of all forest types and to achieve shared global objectives on forests, to enhance the contribution of forests to the achievement of international development goals, and to provide a framework for national action and international cooperation.</p>
      <p class="credits">Citation: <a href="http://www.un.org/esa/forests/pdf/session_documents/unff7/UNFF7_NLBI_draft.pdf" target="_blank">UNFF, 2013</a></p>
    </li>

    <li id="conventions_world_heritage" data-slug="conventions_world_heritage">
      <strong>World Heritage Convention</strong>
      <p>Created in 1972, the World Heritage Convention aims to identify and preserve the world's cultural and natural heritage. The Convention lays out responsibilities of States Parties in identifying potential sites of Outstanding Universal Value and their role in protecting and preserving them.</p>
      <p class="credits">Citation: <a href="http://whc.unesco.org/en/convention" target="_blank">UNESCO, 2013</a></p>
    </li>

    <li id="conventions_nlbi" data-slug="conventions_nlbi">
      <strong>Non-Legally Binding lnstrument</strong>
      <p>The Non-Legally Binding Instrument on All Types of Forests was adopted on 17 December 2007. The main purposes of this instrument are to strengthen political commitment and action at all levels to implement sustainable management of all forest types and to achieve shared global objectives on forests, to enhance the contribution of forests to the achievement of international development goals, and to provide a framework for national action and international cooperation.</p>
      <p class="credits">Citation: <a href="http://www.un.org/esa/forests/pdf/session_documents/unff7/UNFF7_NLBI_draft.pdf" target="_blank">UNFF, 2013</a></p>
    </li>

    <li id="conventions_ilo" data-slug="conventions_ilo">
      <strong>ILO 169</strong>
      <p>Convention No. 169 of the International Labour Organization is a legally blinding international instrument dealing with the rights of indigenous and tribal peoples. The Convention entered into force on 5 September 1991 and is open for ratification.</p>
      <p class="credits">Citation: <a href="http://www.ilo.org/indigenous/Conventions/no169/lang--en/index.htm" target="_blank">ILO, 2013</a></p>
    </li>
  </ul>
</article>

