<%countries = Country.countries_info;%>

<div id="countries">

  <h1><%= t(".title") %></h1>

  <% countries.each do |country| %>
    <div class="country <% if !country[:enabled] %>disabled<% end %>">
      <% if country[:enabled] %>
        <a href="/country/<%= country[:name].downcase.gsub(" ", "_") %>">
      <% end %>

        <div class="icon" id="icon<%= country[:iso]%>">
        </div>

        <div class="content">
          <h4 <% if (country[:name].length > 17) %>class="small"<% end %>><%= country[:name] %></h4>
        </div>

        <% if country[:enabled] %>
        </a>
      <% end %>
    </div>
  <% end %>
  <div class="select"></div>
</div>
