<div class="filters hide">
  <div class="inner">
    <ul></ul>
  </div>

  <a href="#" class="advance"></a>
  <div class="white-shadow"></div>
</div>

<div id="layer">
  <a href="#" class="title"></a>
  <ul class="links"></ul>
  <div class="icon"></div>
  <div class="line"></div>
</div>
