<header>

<div class="top">

  <span class="header_separator"></span>


  <div class="inner">
    <a href="/" class="logo">Global Forest Watch 2.0</a>

    <ul>

      <!--
      <li><%= link_to t('layouts.application.header.share_this'), "#", :class => 'share_link' %></li>
      <li><a href="javascript:UserVoice.Popin.show(uservoiceOptions);" title="Open feedback & support dialog (powered by UserVoice)" class="selector">FEEDBACK</a></li>
      <li><%= link_to t('layouts.application.header.other_wri_sites'), "#", :class => "wri selector" %></li>
    -->
    </ul>
    <div id="other_wri_sites">
      <a href="#">Other WRI Sites</a>
      <ul>
        <li><a href="http://insights.wri.org/?utm_source=wrinav&utm_medium=nav&utm_campaign=wri.org">WRI Insights</a></li>
        <li><a href="http://www.wri.org.cn/?utm_source=wrinav&utm_medium=nav&utm_campaign=wri.org">WRI in China</a></li>
        <li><a href="http://www.chinafaqs.org/?utm_source=wrinav&utm_medium=nav&utm_campaign=wri.org">ChinaFAQs</a></li>
        <li><a href="http://thecityfix.com/?utm_source=wrinav&utm_medium=nav&utm_campaign=wri.org">TheCityFix</a></li>
        <li><a href="http://www.wri.org/project/cait/?utm_source=wrinav&utm_medium=nav&utm_campaign=wri.org">Climate Analysis Indicators</a></li>
        <li><a href="http://www.wri.org/project/earthtrends/?utm_source=wrinav&utm_medium=nav&utm_campaign=wri.org">Earthtrends</a></li>
        <li><a href="http://electricitygovernance.wri.org/?utm_source=wrinav&utm_medium=nav&utm_campaign=wri.org">Electricity Governance</a></li>
        <li><a href="http://www.embarq.org/?utm_source=wrinav&utm_medium=nav&utm_campaign=wri.org">EMBARQ</a></li>
        <li><a href="http://www.forestlegality.org/?utm_source=wrinav&utm_medium=nav&utm_campaign=wri.org">Forest Legality Alliance</a></li>
        <li><a href="http://www.new-ventures.org/?utm_source=wrinav&utm_medium=nav&utm_campaign=wri.org">New Ventures</a></li>
        <li><a href="http://www.seesouthernforests.org/?utm_source=wrinav&utm_medium=nav&utm_campaign=wri.org">Southern Forests for the Future</a></li>
        <li><a href="http://www.worldresourcesreport.org/?utm_source=wrinav&utm_medium=nav&utm_campaign=wri.org">World Resources Report</a></li>
        <li><a href="http://www.wri.org/get-involved?utm_source=wrinav&utm_medium=nav&utm_campaign=wri.org#othersites">More sites</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="inner">

  <hgroup>
  <h1><%= yield :title %></h1>
  </hgroup>

  <%= render "common/nav" %>
</div>

<script type="text/javascript">
		var uservoiceOptions = {
		  key: 'gfw2',
		  host: 'gfw2.uservoice.com', 
		  forum: '168140',
		  showTab: false,  
		  alignment: 'left',
		  background_color:'#FF6600', 
		  text_color: 'white',
		  hover_color: '#C95000',
		  lang: 'en'
		};

		function _loadUserVoice() {
		  var s = document.createElement('script');
		  s.setAttribute('type', 'text/javascript');
		  s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
		  document.getElementsByTagName('head')[0].appendChild(s);
		}
		_loadSuper = window.onload;
		window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
</script>

</header>
