<header>

<div class="top">
  <div class="inner">
    <a href="/" class="logo">Global Forest Watch 2.0</a>
    <ul>
      <li><%= link_to t('layouts.application.header.share_this'), "#", :class => 'share_link' %></li>
      <li><%= link_to t('layouts.application.header.other_wri_sites'), "http://wri.org", :class => :selector %></li>
    </ul>
  </div>
</div>

<div class="inner">

  <hgroup>
  <h1><%= yield :title %></h1>
  </hgroup>

  <%= render "common/nav" %>
</div>

</header>
