<% content_for :js do %>

  <script type="text/javascript">
    var flagSummary = { icon: "flag", count: "2,931", title: "Forest clearing alerts in the last 16 days" }
    var areaSummary = { icon: "area", count: "3,182", title: "Hectares of forest cleared in 2012" }
  </script>

  <script id="timeline_loss-template" type="text/x-underscore-template">
    <div class="coordinates"></div>
    <div class="timeline_legend"><p>Loss</p></div>
    <div class="inner">
      <div class="action">
        <a class="play" href="#"></a>
        <a class="pause" href="#"></a>
      </div>
      <div class="time">
        <div class="line"><div class="tipsy"><span>Month</span><div class="arrow"></div></div></div>

        <div class="trail">
          <div class="handle left">
            <div class="tipsy">
              <span></span>
              <div class="arrow"></div>
            </div>
          </div>

          <div class="handle right">
            <div class="tipsy">
              <span></span>
              <div class="arrow"></div>
            </div>
          </div>
        </div>

        <ul class="years"></ul>
        <div class="range"></div>
        <ul class="visible_months"></ul>
      </div>
    </div>
  </script>

  <script id="timeline_new-template" type="text/x-underscore-template">
    <div class="coordinates"></div>
    <div class="timeline_legend"><p>Humid tropics monthly alerts</p></div>
    <div class="inner">
      <div class="action">
        <a class="play" href="#"></a>
        <a class="pause" href="#"></a>
      </div>
      <div class="time">
        <div class="line"><div class="tipsy"><span>Month</span><div class="arrow"></div></div></div>

        <div class="trail">
          <div class="handle left">
            <div class="tipsy">
              <span></span>
              <div class="arrow"></div>
            </div>
          </div>

          <div class="handle right">
            <div class="tipsy">
              <span></span>
              <div class="arrow"></div>
            </div>
          </div>
        </div>

        <ul class="years"></ul>
        <div class="range"></div>
        <ul class="visible_months"></ul>
      </div>
    </div>
  </script>

  <script id="timeline_imazon-template" type="text/x-underscore-template">
    <div class="coordinates"></div>
    <div class="timeline_legend"><p>Imazon SAD (Brazilian Amazon)</p></div>
    <div class="inner">
      <div class="time">
        <div class="line"><div class="tipsy"><span>Month</span><div class="arrow"></div></div></div>

        <div class="trail">
          <div class="handle left">
            <div class="tipsy">
              <span></span>
              <div class="arrow"></div>
            </div>
          </div>

          <div class="handle right">
            <div class="tipsy">
              <span></span>
              <div class="arrow"></div>
            </div>
          </div>
        </div>

        <ul class="years"></ul>
        <div class="range"></div>
        <ul class="visible_months"></ul>
      </div>
    </div>
  </script>

  <script id="timeline_notplayer-template" type="text/x-underscore-template">
    <div class="coordinates"></div>
    <div class="timeline_legend"><p>Global quarterly area</p></div>
    <div class="inner">
      <div class="time">
        <ul class="quarters"></ul>
        <div class="line"><div class="tipsy"><span>APR - JUN 2013</span><div class="arrow"></div></div></div>
        <ul class="visible_quarters"></ul>
      </div>
    </div>
  </script>

  <script id="wall-template" type="text/x-underscore-template">
    <div class="content">

      <h1 class="title">{{ title }}</h1>
      <p class="subtitle"><span>{{ subtitle }}</span></p>

      <div class="form">

        <p class="help">{{ help }}</p>

        <div class="input-field huge">
          <input class="field" type="{{ input_type }}" name="area[email]">
          <span class="holder">{{ placeholder }}</span>
          <div class="icon error"></div>
          <div class="error_input_label"></div>
        </div>

        <a href="#" class="btn green darker_glow send">
          <span>{{ button_title }}</span>
        </a>

      </div>
    </div>
  </script>

  <script id="window-template" type="text/x-underscore-template">
    <a href="#" class="close"></a>
    <div class="content"></div>
  </script>

  <script id="layer-item-radio-template" type="text/x-underscore-template">
    <li id="filter_{{ id }}" class="{{ category }}">
      <a href="#" class="radio {{ category }} {{ slug }} {{ disabled ? 'disabled' : '' }}" data-name={{ category }}>{{name}}</a>
      <a href="#" data-category="{{category}}" data-slug="{{slug}}" class="source{{ slug == 'nothing' ? ' hidden' : '' }}"></a>
    </li>
  </script>

  <script id="layer-item-checkbox-template" type="text/x-underscore-template">
    <li id="filter_{{ id }}" class="{{ category }}">
    <a href="#" data-id="{{ id }}" data-color="{{ color}}" class="checkbox {{ disabled ? 'disabled' : '' }}">
        <i><span></span></i>
        <span class="name">{{name}}</span>
      </a>

      <a href="#" data-category="{{category}}" data-slug="{{slug}}" class="source{{ slug == 'ip_brazil_eucalyptus' || slug == 'app_indonesia_wgs84' || slug == 'ip_brazil_farm_wgs84' || slug == 'regrowth' ? ' hidden' : '' }}"></a>
    </li>
  </script>

  <script id="layer-item-disabled-template" type="text/x-underscore-template">
    <li id="filter_{{ id }}" class="{{ category }} disabled">
      <span class="{{ category }} {{ disabled ? 'disabled' : '' }}" data-name={{ category }}>
        <i><span></span></i>
        <span class="name"><strong>{{name}}</strong>Coming soon…</span>
      </span>

      <a href="#" data-category="{{category}}" data-slug="{{slug}}" class="source{{ slug == 'nothing' ? ' hidden' : '' }}"></a>
    </li>
  </script>

  <script id="filter-template" type="text/x-underscore-template">
    <li class="{{ category }}" data-id="{{ data }}">
    <div class="icon"></div>
    <a href="#" style="color: {{ category_color }}">{{ name }}</a>
    <div class="line" style="background-color:{{ category_color }}"></div>
    <div class="box"></div>
    </li>
  </script>

  <script id="circle-template" type="text/x-underscore-template">
    <div class="circle">
      <div class="icon {{icon}}">
        <i></i>
      </div>
      <div class="inner">
        <div class="counter">{{count}}</div>
        <div class="title">{{title}}</div>
        <div class="background"></div>
        <div class="explore">Explore the map</div>
      </div>
    </div>
  </script>

  <!-- Gallery -->

  <script id="gallery-template" type="text/x-underscore-template">
    <div class="gallery">
      <h3>{{title}}</h3>
      <div class="inner">
        <ul></ul>
      </div>
      <a href="#" class="left"></a>
      <a href="#" class="right"></a>
    </div>
  </script>

  <script id="gallery_item-template" type="text/x-underscore-template">
    <li>
    <a href="{{url}}">
      <div class="thumb"><img src="{{thumb_url}}" alt="{{tilte}}" /></div>
      <strong>{{title}}</strong>
      <p>{{description}}</p>
    </a>
    </li>
  </script>

  <!-- Layer selector -->
  <script id="layer_selector-template" type="text/x-underscore-template">
    <a href="#" class="toggle"></a>
    <ul class="selected_layer"></ul>
    <ul class="layers"></ul>
  </script>

  <script id="layer-template" type="text/x-underscore-template">
    <li id="{{name}}" class="{{ name }}">
      <a href="#"><i></i>{{title}}</a>
      <a href="#" data-source="{{ source }}" class="source"></a>
    </li>
  </script>

  <!-- Landsat selector -->
  <script id="landsat_selector-template" type="text/x-underscore-template">
    <ul class="landsat_layers"><div class="tip"></div></ul>
  </script>

  <!-- Analysis info -->
  <script id="analysis-info-template" type="text/x-underscore-template">
    <a href="#" class="toggle"></a>
    <div class="info_title">User defined area</div>
    <div class="content">
      
      <div class="info">
        <div class="titles">
          <strong class="title">User defined area</strong>
          <span class="subtitle">{{ subtitle }}</span>
        </div>
      </div>

      <div class="stats">
        <strong class="title">Total selected area</strong>

        <ul>
          <li class="ha">
            <p class="count"><strong>{{ ha }}</strong> Ha</p>
          </li>

          <li class="alert">
            <strong class="title">Total {{ dataset }} alerts</strong>
            <p class="count forma">
              <strong>
                <span id="alerts-count">
                  {{ alert_count }}
                </span>
              </strong>

              <a href="/assets/gfw_analysis.zip" class="download">download</a>
            </p>
          </li>
        </ul>

        <div class="shadow"></div>
      </div>

      <div class="controls">
        <ul class="control_buttons">
          <li><a class="subscribe" href="#"></a></li>
          <li><a class="reset" href="#"></a></li>
        </ul>
      </div>
    </div>
  </script>

  <!-- Analysis -->
  <script id="analysis-template" type="text/x-underscore-template">
    <div class="analysis helper_bar">
      <p>Draw in the map the area you want to analyze</p>
      <div class="options">
        <a href="#" class="done disabled">Done</a>
        <a href="#" class="cancel">Cancel</a>
      </div>
    </div>
  </script>

  <!-- Analysis reset -->
  <script id="analysis_reset-template" type="text/x-underscore-template">
    <p>Are you sure you want to delete the current analysis?</p>

    <div class="options">
      <a href="#" class="button done delete">Delete it</a>
      <a href="#" class="button cancel">Cancel</a>
    </div>

    <span class="tail"></span>
  </script>

  <!-- Analysis control -->
  <script id="analysis_control-template" type="text/x-underscore-template">
    <a href="#" id="analysis_control" data-tip="{{ tip }}"></a>
  </script>

  <!-- Analysis subscribe -->
  <script id="analysis_subscribe-template" type="text/x-underscore-template">

    <div class="content">

      <%= form_for :area, :url => "http://wip.gfw-apis.appspot.com/subscribe", :html => {:method => :post, :class => 'save-area'} do |f| %>
        <%= f.hidden_field :the_geom %>


      <a href="#" class="close"></a>
      <h1 class="title">{{ title }}</h1>
      <div class="form">

        <p class="subtitle"><span>{{ subtitle }}</span></p>

        <p class="help">{{ help }}</p>

        <div class="input-field huge">
          <input class="field" type="{{ input_type }}" name="area[email]" id="area_email" />
          <span class="holder">{{ placeholder }}</span>
          <div class="icon error"></div>
          <div class="error_input_label"></div>
        </div>

        <a href="#" class="btn green darker_glow send">
          <span>{{ button_title }}</span>
        </a>

      <% end -%>

      </div>
    </div>
  </script>

  <!-- Search box -->
  <script id="searchbox-template" type="text/x-underscore-template">
    <strong>search</strong>
    <input type='text' placeholder='...............................' />
    <button>&nbsp;</button>
  </script>

  <!-- Legend -->
  <script id="legend-template" type="text/x-underscore-template">
    <a href="#" class="toggle"></a>
    <div class="layer_count">0 layers</div>
    <div class="content"></div>
    <div class="shadow"></div>
  </script>

  <script id="legend-group-double-template" type="text/x-underscore-template">
    <ul class="{{category}} double">
      <li class="{{ category }}"><strong style="color:{{category_color}};">{{category_title}}</strong></li>
      <li id="{{cat_id}}" class="{{ category }}"> 
      <div>{{title}} <a href="#" data-slug="{{slug}}" data-category="{{category}}" class="source {{category}}"></a></div>
      <p><i style="background-color:#F13689;"></i> Deforestation</p>
      <p><i style="background-color:#F69;"></i> Degradation</p>
      </li>
    </ul>
  </script>

  <script id="legend-group-pantropical-template" type="text/x-underscore-template">
    <ul class="{{category}}">
      <li class="{{ category }}"><strong style="color:{{category_color}};">{{category_title}}</strong></li>
      <li id="{{cat_id}}" class="{{ category }}"> <i style="background-color:{{title_color}};"></i><div>{{title}} <a href="#" data-slug="{{slug}}" data-category="{{category}}" class="source {{ slug }}"></a>

      <div class="info">
      <strong>Total Biomass Carbon <span class="units">(MgC/ha)</span></strong>
      <div class="data">
      <div class="min">75</div>
      <div class="max">383 </div>
      <div class="colors">
      <div class="quartile" style="background-color:#FFFFD4"></div>
      <div class="quartile" style="background-color:#FED98E"></div>
      <div class="quartile" style="background-color:#FE9929"></div>
      <div class="quartile" style="background-color:#dd8653"></div>
      </div>
      </div>
      </li>

    </ul>
  </script>
  <script id="legend-group-template" type="text/x-underscore-template">
    <ul class="{{category}}">
      <li class="{{ category }}"><strong style="color:{{category_color}};">{{category_title}}</strong></li>
      <li id="{{cat_id}}" class="{{ category }}"> <i style="background-color:{{title_color}};"></i><div>{{title}} <a href="#" data-slug="{{slug}}" data-category="{{category}}" class="source {{ slug }}"></a></div></li>
    </ul>
  </script>

  <script id="legend-item-template" type="text/x-underscore-template">
    <li id="{{cat_id}}" class="{{ category }}"> <i style="background-color:{{title_color}};"></i><div>{{title}} <a href="#" data-slug="{{slug}}" data-category="{{category}}" class="source {{ slug }}"></a></div></li>
  </script>

  <script id="legend-item-pantropical-template" type="text/x-underscore-template">
    <li id="{{cat_id}}" class="{{ category }}"> <i style="background-color:{{title_color}};"></i><div>{{title}} <a href="#" data-slug="{{slug}}" data-category="{{category}}" class="source {{ slug }}"></a>
    
      <div class="info">
      <strong>Total Biomass Carbon <span class="units">(MgC/ha)</span></strong>
      <div class="data">
      <div class="min">75</div>
      <div class="max">383</div>
      <div class="colors">
      <div class="quartile" style="background-color:#FFFFD4"></div>
      <div class="quartile" style="background-color:#FED98E"></div>
      <div class="quartile" style="background-color:#FE9929"></div>
      <div class="quartile" style="background-color:#dd8653"></div>
      </div>
      </div>
      </li>
</div>
    
    
    </li>
  </script>

  <script id="dialog-template" type="text/x-underscore-template">
    <h1>{{title}}</h1>
    <a href="#" class="close"></a>
    <div class="buttons">
      <a href="#" class="btn red dark_glow accept">{{accept}}</a>
      <a href="#" class="btn yellow dark_glow cancel">{{cancel}}</a>
    </div>
  </script>
<% end %>
