<% content_for :js do %>

  <script type="text/javascript">
    var flagSummary = { icon: "flag", count: "2,931", title: "Forest clearing alerts in the last 16 days" }
    var areaSummary = { icon: "area", count: "3,182", title: "Hectares of forest cleared in 2012" }
  </script>

  <script id="legend-item-single-template" type="text/x-underscore-template">
    <li id="{{ id }}" class="{{ category }}">
    <div class="icon" style="background-color:{{color}};"></div> <a href="#">{{ name }}[ if (source) {]<a href="/sources/#{{source}}" target="_blank" class="source"></a>[}]</a>
    </li>
  </script>



  <script id="legend-item-double-template" type="text/x-underscore-template">
    <li id="{{ id }}" class="{{ category }}">
    <div class="icons"> {{ icons }} </div> <a href="#">{{ name }}</a>
    {{ parts }}
    </li>
  </script>



  <script id="legend-template" type="text/x-underscore-template">
    <div class="legend">
      <div class="header">
        <strong>Legend</strong>
        <a href="#" class="handle"></a>
        <a href="#" class="close"></a>
      </div>
      <div class="content">
        {{ layers }}
      </div>

      <div class="t"></div><div class="b"></div>
    </div>
  </script>



  <script id="layer-item-radio-template" type="text/x-underscore-template">
    <li id="filter_{{ id }}" class="{{ category }}"><a href="#" class="radio {{ category }} {{ disabled ? 'disabled' : '' }}" data-name={{ category }}>{{name}}</a>[ if (source) {]<a href="/sources/#{{source}}" target="_blank" class="source"></a>[}]</li>
  </script>



  <script id="layer-item-checkbox-template" type="text/x-underscore-template">
    <li id="filter_{{ id }}" class="{{ category }}"><a href="#" data-id={{ id }} class="checkbox {{ disabled ? 'disabled' : '' }}">{{name}}</a>[ if (source) {]<a href="/sources/#{{source}}" target="_blank" class="source"></a>[}]</li>
  </script>



  <script id="filter-template" type="text/x-underscore-template">
    <li class="{{ category }}" data-id="{{ data }}">
    <div class="icon"></div>
    <a href="#">{{ name }}</a>
    <div class="line"></div>
    <div class="box"></div>
    </li>
  </script>



  <script id="circle-template" type="text/x-underscore-template">
    <div class="circle">
      <div class="icon {{icon}}">
        <i></i>
      </div>
      <div class="inner">
        <div class="counter">{{count}}</div>
        <div class="title">{{title}}</div>
        <div class="background"></div>
        <div class="explore">Explore the map</div>
      </div>
    </div>
  </script>

<% end %>
