<% content_for :js do %>

  <script type="text/javascript">
    var flagSummary = { icon: "flag", count: "2,931", title: "Forest clearing alerts in the last 16 days" }
    var areaSummary = { icon: "area", count: "3,182", title: "Hectares of forest cleared in 2012" }
  </script>

  <script id="timeline-template" type="text/x-underscore-template">
    <div class="inner">
      <ul class="years">
        <li><a href="#">2006</a></li>
        <li><a href="#">2007</a></li>
        <li><a href="#">2008</a></li>
        <li><a href="#">2009</a></li>
        <li><a href="#">2010</a></li>
        <li><a href="#">2011</a></li>
        <li><a href="#">2012</a></li>
        <li class="disabled"><a href="#">2013</a></li>
      </ul>
      <div class="coordinates"></div>
      <div class="constraint_handler">
        <div class="handle">
          <a href="#" class="play"></a>
          <div><strong>JAN</strong> 2006</div>
        </div>
      </div>
    </div>
  </script>



  <script id="layer-item-radio-template" type="text/x-underscore-template">
    <li id="filter_{{ id }}" class="{{ category }}"><a href="#" class="radio {{ category }} {{ disabled ? 'disabled' : '' }}" data-name={{ category }}>{{name}}</a>[ if (source) {]<a href="/sources/#{{source}}" target="_blank" class="source"></a>[}]</li>
  </script>



  <script id="layer-item-checkbox-template" type="text/x-underscore-template">
    <li id="filter_{{ id }}" class="{{ category }}"><a href="#" data-id={{ id }} class="checkbox {{ disabled ? 'disabled' : '' }}">{{name}}</a>[ if (source) {]<a href="/sources/#{{source}}" target="_blank" class="source"></a>[}]</li>
  </script>



  <script id="filter-template" type="text/x-underscore-template">
    <li class="{{ category }}" data-id="{{ data }}">
    <div class="icon"></div>
    <a href="#">{{ name }}</a>
    <div class="line"></div>
    <div class="box"></div>
    </li>
  </script>



  <script id="circle-template" type="text/x-underscore-template">
    <div class="circle">
      <div class="icon {{icon}}">
        <i></i>
      </div>
      <div class="inner">
        <div class="counter">{{count}}</div>
        <div class="title">{{title}}</div>
        <div class="background"></div>
        <div class="explore">Explore the map</div>
      </div>
    </div>
  </script>


  <!-- Layer selector -->
  <script id="layer_selector-template" type="text/x-underscore-template">
    <a href="#" class="toggle"></a>
    <ul class="selected_layer"></ul>
    <ul class="layers"></ul>
  </script>

  <script id="layer-template" type="text/x-underscore-template">
    <li id="{{name}}" class="{{ name }}"><a href="#"><i></i>{{title}}</a></li>
  </script>


  <!-- Legend -->
  <script id="legend-template" type="text/x-underscore-template">
    <a href="#" class="toggle"></a>
    <div class="layer_count">0 layers</div>
    <div class="content"></div>
    <div class="shadow"></div>
  </script>

  <script id="legend-group-template" type="text/x-underscore-template">
    <ul class="{{category}}">
      <li class="{{ category }}"><strong style="color:{{category_color}};">{{category_title}}</strong></li>
      <li id="{{cat_id}}" class="{{ category }}"> <i style="background-color:{{title_color}};"></i> {{title}} </li>
    </ul>
  </script>

  <script id="legend-item-template" type="text/x-underscore-template">
    <li id="{{cat_id}}" class="{{ category }}"> <i style="background-color:{{title_color}};"></i> {{title}} </li>
  </script>


<% end %>
