<% content_for :js do %>
  <script type="text/javascript">
    var summary = { count: "5,075", title: "Forest clearing alerts in the last 30 days" }
  </script>

  <script id="legend-item-template" type="text/x-underscore-template">
    <li id="{{ id }}" class="{{ category }}"><a href="#">{{ name }}</a></li>
  </script>

  <script id="legend-template" type="text/x-underscore-template">
    <div class="legend">
      <div class="header">
        <strong>Legend</strong>
        <a href="#" class="handle"></a>
        <a href="#" class="close"></a>
      </div>
      <div class="content">
        {{ layers }}
      </div>

      <div class="t"></div><div class="b"></div>
    </div>
  </script>

  <script id="layer-item-radio-template" type="text/x-underscore-template">
    <li id="filter_{{ id }}" class="{{ category }}"><a href="#" class="radio {{ category }} " data-name={{ category }}>{{name}}</a></li>
  </script>

  <script id="layer-item-checkbox-template" type="text/x-underscore-template">
    <li id="filter_{{ id }}" class="{{ category }}"><a href="#" class="checkbox">{{name}}</a></li>
  </script>

  <script id="filter-template" type="text/x-underscore-template">
    <li class="{{ category }}" data-id="{{ data }}">
    <div class="icon"></div>
    <a href="#">{{ name }}</a>
    <div class="line"></div>
    <div class="box"></div>
    </li>
  </script>

  <script id="circle-template" type="text/x-underscore-template">
    <div class="circle">
      <div class="inner">
        <div class="counter">{{count}}</div>
        <div class="title">{{title}}</div>
        <div class="background"></div>
        <div class="explore">Explore the map</div>
      </div>
    </div>
  </script>
<% end %>
