<div id="map_container">

  <%= render "common/filters" %>

  <div class="timeline _hidden">
    <div class="tooltip">
      <span><strong>FEB</strong> 2006</span>
    </div>
  </div>

  <div id="zoom_controls"></div>
  <div id="map" class="map">
  </div>
</div>
