<div id="google_translate_element"></div>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,es,fr,id,pt,ru,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
  }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<nav class="navbar">
<ul>
  <% %w(home map countries stories blog data howto about).each do |option| %>
    <%
      paths    = { "home" => root_path, "countries" => countries_path, "stories" => stories_path, "map" => map_path,  "blog" => "http://globalforestwatch.tumblr.com", "data" => sources_path, "howto" => "", "about" => about_path }
      path     = paths[option]
      option_class = request.path === path ? "selected" : ""

      # Exceptions
      option_class = "selected" if controller_name == 'countries' && option == 'countries'
      option_class = "selected" if controller_name == 'posts'     && option == 'blog'
      # option_class = "selected" if controller_name == 'static'    && option == 'about'
      #option_class = "disabled" if option == 'blog'

      option_class = "#{option_class} #{option}"

      option_class = "#{option_class} ajax" if ((controller_name == 'home') && (option == "home" || option == "map"))
    %>

    <li><%= link_to (content_tag(:span, t('layouts.application.header.nav.' + option ))), path, :class => option_class %></li>
  <% end %>
</ul>
</nav>

<nav class="signin">
<ul>
  <li><%= link_to content_tag(:span, t('layouts.application.header.nav.register')), root_path, :class => "register" %></li>
  <li><%= link_to content_tag(:span, t('layouts.application.header.nav.signin')), root_path, :class => "login selected" %></li>
</ul>
</nav>
