<nav>
<ul>
  <% %w(home countries case\ studies map blog data about).each do |option| %>
    <%
      paths    = { "home" => root_path, "countries" => countries_path, "case studies" => stories_path, "map" => map_path,  "blog" => "http://gfw20.tumblr.com", "data" => sources_path, "about" => about_path }
      path     = paths[option]
      option_class = request.path == path ? "selected" : ""

      # Exceptions
      option_class = "selected" if controller_name == 'countries' && option == 'countries'
      option_class = "selected" if controller_name == 'posts'     && option == 'blog'
      option_class = "selected" if controller_name == 'static'    && option == 'about'
      # option_class = "disabled" if option == 'blog'

      option_class = "#{option_class} #{option}"

      option_class = "#{option_class} ajax" if ((controller_name == 'home') && (option == "home" || option == "map"))
    %>

    <li><%= link_to (content_tag(:span, t('layouts.application.header.nav.' + option.gsub(" ", "_") ))), path, :class => option_class %></li>
  <% end %>

    <li class="lang_selector"><a href="#"><span>ENGLISH</span></a></li>
</ul>
</nav>
