<nav>
<ul>
  <% %w(home countries map blog data_sources about).each do |option| %>
    <% 
      paths    = { "home" => root_path, "countries" => countries_path, "blog" => blog_path, "map" => map_path }
      path     = paths[option]
      selected = request.path == path ? :selected : "" 
    %>
    <li><%= link_to (content_tag(:span, t('layouts.application.header.nav.' + option))), path, :class => selected %></li>
  <% end %>
</ul>
</nav>
