<nav>
<ul>
  <% %w(home countries map blog sources about).each do |option| %>
    <%
      paths    = { "home" => root_path, "countries" => countries_path, "blog" => "http://gfw20.tumblr.com", "map" => map_path, "sources" => sources_path, "about" => about_path }
      path     = paths[option]
      option_class = request.path == path ? "selected" : ""

      # Exceptions
      option_class = "selected" if controller_name == 'countries' && option == 'countries'
      option_class = "selected" if controller_name == 'posts'     && option == 'blog'
      option_class = "selected" if controller_name == 'static'    && option == 'about'

      option_class = "#{option_class} #{option}"

      option_class = "#{option_class} ajax" if ((controller_name == 'home') && (option == "home" || option == "map")) 
    %>

    <li><%= link_to (content_tag(:span, t('layouts.application.header.nav.' + option))), path, :class => option_class %></li>
  <% end %>
</ul>
</nav>
