<div class="more_stories">
  <div class="inner">
    <h1>Stories reported by users</h1>
    <p>
      <%= link_to('Browse user stories', stories_path) %> in our map or <%= link_to('submit yours', new_story_path) %>. People is a key factor in forest clearing detection.
    </p>

    <ul>
      <% @stories.each do |story| %>
        <li>
        <%= content_tag :div, (image_tag story.main_thumbnail.try(:thumbnail_url)), :class => :frame %>
        </li>
      <% end %>
    </ul>

    <hr />

    <%= link_to (content_tag :span, 'Submit your story'), new_story_path, :class => "btn" %>

  </div>
</div>
