<div id="subscribe">
  <div class="header">
    <a href="#" class="close_icon" class="close"></a>
    <div class="inner">
      <h3>Subscribe to an area of interest</h3>
      <p>You will receive new alerts by email when we detect forest clearing on this area</p>
    </div>
  </div>

  <a href="#" class="remove">Remove</a>

  <div class="map">
    <div id="zoom_controls_subscribe"></div>
    <div id="subscribe_map"></div>
    <div class="error_box"></div>
  </div>

  <div class="footer">
    <div class="inner">

      <%= form_for :area, :url => areas_path, :html => {:method => :post, :class => 'save-area'} do |f| %>
        <%= f.hidden_field :the_geom %>

        <div class="ok">You have been subscribed to the defined area.</div>
        <div class="input-field big">
          <input type="text" name="area[email]" placeholder="Insert your email here" />
          <div class="icon error"></div>
          <div class="error_input_label"></div>
        </div>

        <a href="#" class="btn green white_glow create">
          <span>Subscribe to this alert</span>
        </a>

        <a href="#" class="btn green white_glow new">
          <span>Define new alert</span>
        </a>

      <% end -%>
    </div>
  </div>
</div>
