<div id="subscribe">
  <div class="header">
    <a href="#" class="close_icon" class="close"></a>
    <div class="inner">
      <h3>Subscribe to a forest change alert</h3>
      <p>Click on the map to draw a polygon around the area where you are interested.</p>
    </div>
  </div>

  <a href="#" class="remove">Remove</a>
  <div id="subscribe_map" class="map"></div>

  <div class="footer">
    <div class="inner">

      <%= form_for :area, :url => areas_path, :html => {:method => :post, :class => 'save-area'} do |f| %>
        <%= f.hidden_field :the_geom %>

        <div class="input-field">
          <input type="text" name="area[email]" placeholder="Insert your email here" />
        </div>

        <a href="#" class="btn">
          <span>Subscribe to this alert</span>
        </a>
      <% end -%>
    </div>
  </div>
  </div>
