<div id="subscribe">
  <div class="header">
    <a href="#" class="close_icon" class="close"></a>
    <div class="inner">
      <h3>Email subscription to an area</h3>
    </div>
  </div>
  <ul class="tabs">
    <li><a class="custom selected" href="#draw_your_own">Draw your own area</a></li>
    <li><a class="world" href="#country">Select a country</a></li>
    <li><a class="ppe" href="#protected_area">Select a protected area</a></li>
  </ul>

  <a href="#remove" class="remove">Remove</a>

  <div class="map">
    <div id="zoom_controls_subscribe"></div>
    <div id="loader_subscribe"><span class="loader"></span></div>
    <div id="subscribe_map"></div>
    <div class="error_box"></div>
  </div>

  <div class="footer">
    <div class="inner">

      <%= form_for :area, :url => areas_path, :html => {:method => :post, :class => 'save-area'} do |f| %>
        <%= f.hidden_field :the_geom %>

        <div class="ok">You have been subscribed to the defined area.</div>
        <div class="input-field big">
          <input type="text" name="area[email]" placeholder="Insert your email here" />
          <div class="icon error"></div>
          <div class="error_input_label"></div>
        </div>

        <a href="#" class="btn green white_glow create">
          <span>Subscribe to this alert</span>
        </a>

        <a href="#" class="btn green white_glow new">
          <span>Define new alert</span>
        </a>

      <% end -%>
    </div>
  </div>
</div>
