@import '~styles/settings.scss';
$item-size: 55px;
$top-section-height: 125px;

.c-basemaps {
  width: 100%;
  background-color: $white;

  .basemaps-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 rem(15px);
  }

  .basemaps-action-button {
    cursor: pointer;

    svg {
      height: 11px;
      width: 11px;
      fill: $warm-grey;
    }
  }

  .basemaps-title {
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.62;
    color: $slate;
    text-transform: uppercase;
  }

  .basemaps-top-section {
    padding: 15px 20px 25px;
  }

  .basemaps-bottom-section {
    height: calc(100% - #{$top-section-height});
    padding: 25px 20px 5px;
    border-top: 1px solid rgba($hot-grey, 0.3);

    @media screen and (min-width: $screen-m) {
      padding: 25px 20px;
    }
  }

  .basemaps-options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .basemaps-options-wrapper {
    z-index: 5;

    &:first-child {
      margin: 0 rem(15px) 0 0;
    }
  }

  .basemap-list-scroll-wrapper {
    height: 100%;
    overflow: hidden;
  }

  .basemaps-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .basemaps-list-item-image {
    width: 100%;
    height: $item-size;
    border: 3px solid transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .basemaps-list-item {
    display: inline-block;
    width: $item-size;
    margin: 0 rem(35px) rem(15px) 0;

    &:nth-child(3n) {
      margin: 0;
    }

    &:hover .basemaps-list-item-image,
    &.-active .basemaps-list-item-image {
      border: 3px solid $green-gfw;
    }
  }

  .basemaps-list-item-button {
    cursor: pointer;
    width: 100%;
  }

  .basemaps-list-item-name {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: rem(10px);
    text-transform: uppercase;
    color: $slate-light;
    margin: rem(6px) 0 0;
  }
}
