@import '~styles/settings.scss';

.Header__no-scroll {
  overflow: hidden;
}

.c-nav-alt {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  border-left: solid 1px $border;
  flex: 1;

  @media screen and (min-width: $screen-m) {
    flex: none;
  }

  @media screen and (min-width: 850px) {
    padding-left: rem(10px);
  }

  .desktop-menu {
    display: flex;
    height: 100%;
  }

  .alt-link {
    margin-left: rem(20px);
    position: relative;

    @media screen and (min-width: 850px) {
      margin-left: rem(30px);
    }

    svg {
      margin-top: -1px;
      margin-left: rem(5px);
    }

    > div {
      height: 100%;
    }

    .logged-in {
      fill: $green-gfw;
    }

    .lang-btn {
      max-width: rem(90px);

      @media screen and (min-width: 850px) {
        max-width: 100%;
      }
    }
  }

  .submenu {
    position: absolute;
    right: -5px;
    top: rem(55px);
    z-index: 1;
  }

  .submenu-link {
    min-width: 60px;
  }

  .submenu-panel {
    position: fixed;
    top: rem(56px);
    right: 0;
    width: 100vw;
    overflow: hidden;
    height: calc(100% - 56px);
    overflow-y: auto;

    @media screen and (min-width: $screen-m) {
      right: rem(-20px);
      position: absolute;
      height: auto;
    }

    @media screen and (min-width: $screen-xl) {
      right: calc(-50vw + #{$screen-xl / 2} - #{$desktop-gutter});
    }
  }

  .icon-close,
  .icon-arrow {
    height: rem(10px);
  }

  .icon-arrow {
    &.active {
      transform: rotate(180deg);
    }
  }

  .mygfw-header {
    padding: rem(25px) rem(30px) rem(30px);
    border: solid 1px $border;
    height: auto;

    p {
      text-transform: none;
      text-align: left;
    }

    @media screen and (min-width: $screen-m) {
      width: rem(520px);
    }
  }

  &.full-screen {
    @media screen and (min-width: $screen-m) {
      .submenu-panel {
        top: rem(76px);
        position: fixed;
        height: calc(100% - 76px);
        right: 0;
      }
    }

    .submenu {
      top: rem(75px);
    }
  }

  .animate-user-icon {
    animation: user-icon 2s ease-in-out infinite;
  }
}

@keyframes user-icon {
  from,
  to { opacity: 1; }
  50% { opacity: 0.5; }
}
