@import '~styles/settings.scss';

.c-map {
  position: relative;

  &.no-pointer-events {
    .overlays {
      pointer-events: none;
    }
  }

  .mapboxgl-ctrl-logo {
    display: none;
  }

  .map-scale {
    position: absolute;
    z-index: 321321312;
    left: rem(10px);
    bottom: rem(40px);
    right: auto;
  }

  .map-wrapper {
    position: relative;
    min-height: rem(300px);
  }

  .map-icon-crosshair {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    fill: $slate;
    width: rem(12px);
    height: rem(12px);
    pointer-events: none;
    z-index: 5;
  }

  .map-attributions {
    position: absolute;
    bottom: rem(15px);
    right: rem(15px);
    z-index: 5;
  }

  .map-loader {
    background-color: rgba($slate, 0.2);
    z-index: 4;
  }

  .c-cluster-icon {
    border: 0;

    > div {
      border-radius: 50%;
      font-size: rem(14px);
      font-weight: 500;
      color: $white;
    }
  }
}
