@import '~styles/settings.scss';

.c-map {
  &.no-pointer-events {
    .overlays {
      pointer-events: none;
    }
  }

  .mapboxgl-ctrl-bottom-left {
    display: none;
  }

  .mapboxgl-ctrl-bottom-right {
    display: flex;
    left: rem(10px);
    bottom: rem(40px);
    right: auto;
    padding: 0 4px 4px 4px;

    .mapboxgl-ctrl-scale {
      position: relative;
      margin: 0;
      border: 0;
      border-bottom: 1px solid $map-grey;
      color: $map-grey;
      padding: 0 6px 0;
      font-size: 10px;
      height: rem(19px);
      background: transparent;
      letter-spacing: 1.2px;

      &:last-child {
        &::after {
          content: '';
          height: 4px;
          width: 1px;
          background-color: $map-grey;
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }

      &::before {
        content: '';
        height: 4px;
        width: 1px;
        background-color: $map-grey;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }

  .map-wrapper {
    position: relative;
    min-height: rem(300px);
  }

  .map-icon-crosshair {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    fill: $slate;
    width: rem(12px);
    height: rem(12px);
    pointer-events: none;
    z-index: 5;
  }

  .map-attributions {
    position: absolute;
    bottom: rem(15px);
    right: rem(15px);
    z-index: 5;
  }

  .map-loader {
    background-color: rgba($slate, 0.2);
    z-index: 4;
  }

  .c-cluster-icon {
    border: 0;

    > div {
      border-radius: 50%;
      font-size: rem(14px);
      font-weight: 500;
      color: $white;
    }
  }
}
