.c-load-more {
  .button-wrapper {
    margin: 20px 0 50px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &-loader {
    position: relative;
    width: 50px;
    height: 50px;
  }
}
