@import '~styles/settings.scss';

.c-map-legend-basemaps {
  flex: 0;
  .header {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 41px;
    background: $grey-light;

    .active-basemap-title {
      flex: 1;
      padding: 0 0 0 10px;
      color: $greyish-brown;
      font-size: 11px;
      text-transform: uppercase;
    }

    .c-icon {
      width: 8px;
      fill: $greyish-brown;
    }

    .dyno-toggle-active {
      padding-left: 20px;
      cursor: pointer;
    }

  }

  .dyno-basemap {
    margin: 15px;

    &--cta {
      display: flex;
      align-items: center;
      text-align: left;
      cursor: pointer;
      &:hover {
        background: red;
      }
    }

    &--content {
      display: flex;
      flex-flow: column;
    }

    &--thumbnail {
      width: 40px;
      height: 40px;
      margin: 0 10px 0 0;
    }

    &--title {
      color: #333333;
      text-transform: uppercase;
      font-size: 10px;
    }

    &--description {
      color: $hot-grey;
      font-size: 12px;
    }
  }

}