@import '~styles/settings.scss';

.c-map-legend-basemaps {

  .header {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 41px;
    background: $grey-light;

    .active-basemap-title {
      flex: 1;
      padding: 0 0 0 10px;
      color: $greyish-brown;
      font-size: 11px;
      text-transform: uppercase;
    }

    .c-icon {
      width: 8px;
      fill: $greyish-brown;
    }

  }
}