<script>
  // TODO => Remove this and use DialogView
  window.infowindow = function() {
    var $backdrop = $('.backdrop'),
      $wind = $('#window'),
      $content = $wind.find('.content');

    $('.widget, .layer').on('click', 'a.source', function(e) {
      e && e.preventDefault();
      e.stopPropagation ? e.stopPropagation() : window.event.cancelBubble = true;
      $backdrop.fadeIn();
      var elem = '#' + $(e.currentTarget).data('source');
      $content.append($(elem).html())
      $wind.fadeIn();
      ga('send', 'event', 'Map', 'Source infowindow', 'Open '+elem);
    });

    $wind.find('.close').on('click', function(e) {
      e && e.preventDefault();
      $wind.fadeOut('fast', function() {
        $backdrop.fadeOut();
      });
      $content.empty();
    });

   $('.backdrop').on('click', function(e) {
      e && e.preventDefault();
      $wind.fadeOut('fast', function() {
        $backdrop.fadeOut();
      });
      $content.empty();
   });
  };
</script>




<div id="window" class="source_window" style="display: none;">
  <a href="#" class="close"><svg><use xlink:href="#shape-close"></use></svg></a>
  <div class="content" tabindex="0" style="overflow: hidden; padding: 0px; width: 500px; overflow: scroll;">
  </div>
</div>
