<% content_for :header do %>
  <nav class="layers-menu"></nav>
<% end %>

<%= render 'shared/map' %>

<div id="sources" class='sources notranslate is-hidden'>
  <%= render 'shared/sources' %>
</div>

<%= render 'sources_infowindow' %>
