@import '~styles/settings.scss';

.c-projects-modal {
  max-width: calc(#{$max-width} - 2 * #{$desktop-gutter});
  width: 100%;
  color: $slate;
  font-weight: 300;
  font-size: rem(18px);
  line-height: 1.67;

  .header {
    max-width: rem(600px);
    padding: rem(40px);
    padding-top: rem(30px);
    margin: auto;

    > h1 {
      font-size: rem(35px);
      margin-bottom: 0;
      line-height: 1.2;
    }

    > h2 {
      font-size: rem(14px);
      text-transform: uppercase;
      font-weight: 400;
      opacity: 0.5;
    }
  }

  .image {
    width: 100%;
    position: relative;

    > img {
      width: 100%;
    }

    > span {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }

  .content {
    max-width: rem(600px);
    padding: rem(30px) rem(40px) rem(40px);
    margin: auto;

    .short-description {
      margin-bottom: rem(20px);
    }

    .category {
      color: $green-gfw;
      font-weight: 500;
      font-size: rem(14px);
    }
  }
}
