@import '~styles/settings.scss';

.c-projects-modal {
  max-width: calc((#{$max-width} - 2 * #{$desktop-gutter}) / 12 * 10);
  width: 100%;
  color: $slate;
  font-weight: 300;
  font-size: rem(18px);
  line-height: 1.67;

  .header {
    max-width: rem(600px);
    padding: rem(30px) rem(40px) 0;
    margin: auto;

    > h1 {
      font-size: rem(35px);
      margin-bottom: rem(5px);
      line-height: 1.2;
    }

    > h2 {
      font-size: rem(14px);
      text-transform: uppercase;
      font-weight: 400;
      opacity: 0.5;
    }
  }

  .image {
    margin-top: rem(20px);
    width: 100%;
    position: relative;

    > img {
      width: 100%;
    }

    > span {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }

  .modal-image-slider {
    margin-top: rem(40px);
    margin-bottom: 0;

    .slick-dots {
      margin-bottom: 0;
    }
  }

  .image-background {
    width: 100%;
    height: rem(500px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .content {
    padding: rem(30px) calc(50% - 260px) rem(40px);

    .description {
      margin-bottom: rem(20px);
      font-size: rem(19px);
      line-height: 1.7;

      a {
        color: $green-gfw;
      }
    }

    .links {
      color: $green-gfw;
      font-weight: 500;
      font-size: rem(14px);
      margin-bottom: rem(15px);
      display: block;
    }

    .categories {
      font-size: rem(14px);
      text-transform: uppercase;
      font-weight: 400;
      opacity: 0.5;
    }
  }
}
