@import '~styles/settings.scss';

$close-position: 25px;
$close-position-mobile: 15px;
$mobile-margin: rem(10px);

.c-modal {
  background: #fff;
  max-width: calc(100vw - #{$mobile-margin} * 2);
  outline: none;

  /* Predefined modal size when loading content */
  min-width: 200px;
  min-height: 150px;

  .ReactModal__Body--open {
    overflow: hidden;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS */
    .ReactModal__Overlay {
      align-items: flex-start !important;
    }

    .ReactModal__Content {
      margin: 0 !important;
    }
  }

  .modal-title {
    padding: $vertical-modal-padding-mobile $horizontal-modal-padding-mobile 0;
    color: $greyish-brown;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
  }

  .modal-content {
    padding: $vertical-modal-padding-mobile $horizontal-modal-padding-mobile;
    margin: auto;
  }

  @media screen and (min-width: $screen-m) {
    width: auto;
    max-width: rem(800px);

    .modal-title {
      padding: $vertical-modal-padding-desktop $horizontal-modal-padding-desktop 0;
      color: #333;
      line-height: 40px;
      margin: 0 auto;
      font-size: 30px;
      font-weight: 300;
      text-align: left;
    }

    .modal-content {
      padding: rem(30px) $horizontal-modal-padding-desktop $vertical-modal-padding-desktop;
    }
  }

  .modal-close {
    position: absolute;
    top: $close-position-mobile;
    right: $close-position-mobile;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 10;

    @media screen and (min-width: $screen-m) {
      top: $close-position;
      right: $close-position;
    }

    svg {
      width: rem(15px);
      height: rem(15px);
      fill: $slate;
    }
  }

  html,
  body {
    overflow-x: visible !important;
  }
}
