@import '~styles/settings.scss';

$close-position: 25px;
$close-position-mobile: 15px;

.ReactModal__Body--open {
  overflow: hidden;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: $close-position-mobile;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 10;

  @media screen and (min-width: $screen-m) {
    top: $close-position;
    right: $close-position;
  }

  svg {
    width: rem(15px);
    height: rem(15px);
    fill: $slate;
  }
}

html,
body {
  overflow-x: visible !important;
}
