@import '~styles/settings.scss';

$close-position: 25px;

.ReactModal__Body--open {
  overflow: hidden;
}

.modal-close {
  position: absolute;
  top: $close-position;
  right: $close-position;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 10;

  svg {
    width: rem(15px);
    height: rem(15px);
    fill: $slate;
  }
}

html,
body {
  overflow-x: visible !important;
}
