@import '~styles/settings.scss';

.l-grants-projects-section {
  .projects-header {
    padding-bottom: 0;

    @media screen and (min-width: $screen-m) {
      padding-bottom: rem(20px);
    }

    h3 {
      margin-bottom: rem(20px);
      font-size: rem(18px);
      opacity: 0.5;
    }

    p {
      margin-bottom: rem(30px);
    }
  }

  .project-filters {
    display: flex;
    gap: rem(10px);
    margin-bottom: rem(30px);

    @media screen and (min-width: $screen-m) {
      margin-bottom: rem(54px);
    }

    .countries-dropdown {
      z-index: 5;
      text-align: left;
      min-width: rem(186px);
    }

    .filters-label {
      display: flex;
      align-items: center;
      font-size: rem(14px);
    }
  }

  .project-categories-search {
    margin-bottom: rem(30px);

    .project-categories {
      display: flex;
      align-items: center;
      margin-bottom: rem(30px);

      @media screen and (min-width: $screen-m) {
        margin-bottom: 0;
      }
    }
  }

  .project-cards {
    position: relative;
    min-height: rem(200px);

    .card-container {
      margin-bottom: rem(30px);
    }
  }
}
