@import '~styles/settings.scss';

.l-grants-projects-section {
  .projects-header {
    @media screen and (min-width: $screen-m) {
      padding-bottom: rem(20px);
    }

    h3 {
      margin-bottom: rem(20px);
      font-size: rem(18px);
      opacity: 0.5;
    }

    p {
      margin-bottom: rem(30px);
    }
  }

  .project-search {
    margin-bottom: rem(30px);
  }

  .project-cards {
    position: relative;
    min-height: rem(200px);

    .card-container {
      margin-bottom: rem(30px);
    }
  }
}
