<div class="map" id="map"></div>
<div class="widgets" id=widgets>

  <div class="content -dark widget-placeholder -loading">
    <h3 class="title">Snapshot</h3>
    <div class="row">
      <div class="small-6">
        <div id="widget-tree-cover" class="widget-placeholder -loading"></div>
        <div id="widget-tree-cover-loss-ranking" class="widget-placeholder -loading"></div>
      </div>
      <div class="small-6">
        <div id="widget-tree-cover-loss" class="widget-placeholder -loading"></div>
        <div id="widget-near-real-time-alerts" class="widget-placeholder -loading"></div>
      </div>
    </div>
  </div>

  <div class="content widget-placeholder -loading js-country-widget" data-section="cover-loss">
    <h3 class="title">Tree cover loss</h3>
    <div id="widget-annual-tree-cover-loss" class="widget-placeholder -loading"></div>
  </div>

  <div class="content widget-placeholder -loading js-country-widget" data-section="cover-gain">
    <h3 class="title">Tree cover gain</h3>
    <div id="widget-tree-cover-gain" class="widget-placeholder -loading"></div>
    <div id="widget-tree-cover-reforestation" class="widget-placeholder -loading"></div>
  </div>

  <div class="content widget-placeholder -loading js-country-widget" data-section="cover-loss-alerts">
    <h3 class="title">Tree cover loss alerts</h3>
    <div id="widget-tree-cover-loss-alerts" class="widget-placeholder -loading"></div>
  </div>

  <div class="content widget-placeholder -loading js-country-widget" data-section="fires">
    <h3 class="title">Fire alerts</h3>
    <div id="widget-fire-alerts" class="widget-placeholder -loading"></div>
  </div>
</div>
