<div class="inner">
  <div class="row small-collapse">
    <div class="small-7 columns">
      <h1 class="title">{{name}}</title>
    </div>
    <div class="small-3 columns">
      <div class="country-selector">
        <select id="areaSelector">
          <option class="dark" value="0">{{placeholder}}</option>
          {{#each regions}}
            <option value="{{this.id}}" {{#if selected}}selected{{/if}}>{{this.name}}</option>
          {{/each}}
        </select>
        <div class="selector-remove" style="display: none;">✕</div>
        <svg class="icon arrow-select selector-arrow"><use xlink:href="#arrow-select"></use></svg>
      </div>
    </div>
    <div class="small-2 columns"><a class="btn green uppercase -big-width" href="">Download data</a></div>
  </div>
</div>
