<a href="#" id="share_control" title="Share this graphic " class="share_control" data-tip="Share">
  Share
  <span class="sidenav-icon">
    <svg class="share">
      <use xlink:href="#shape-share"></use>
    </svg>
  </span>
</a>
