<a href='#' class='close'><svg><use xlink:href='#shape-close'></use></svg></a>
<h2 class='source_category_title'>{{ title }}</h2>

<div class='form'>
  <p>UMD/Google tree cover loss & extent.</p>
  <!--
  <p>Compression:
    <input type=radio value='0.3' name=compression class='compression_option' checked=checked>0.3</input>
    <input type=radio value='0.4' name=compression class='compression_option'>0.4</input>
    <input type=radio value='0.5' name=compression class='compression_option'>0.5</input>
    <input type=radio value='0.6' name=compression class='compression_option'>0.6</input>
    <input type=radio value='0.7' name=compression class='compression_option'>0.7</input>
    <input type=radio value='1' name=compression class='compression_option'>1</input>
  </p>
  -->
  <p class='canopy'>Change canopy threshold. <a href="#" data-source="canopy" class="source info"></a></p>
  <p class='trees'><span class='tree_icon'></span><span class='forest_icon'></span></p>
  <ul>
    <li class='slider_option p0'   data-option='0'>0%</li>
    <li class='slider_option p10'  data-option='10'>10%</li>
    <li class='slider_option p15'  data-option='15'>15%</li>
    <li class='slider_option p20'  data-option='20'>20%</li>
    <li class='slider_option p25'  data-option='25'>25%</li>
    <li class='slider_option p30'  data-option='30'>30%</li>
    <li class='slider_option p50'  data-option='50'>50%</li>
    <li class='slider_option p75'  data-option='75'>75%</li>
    <li class='slider_option p100' data-option='100'>100%</li>
  </ul>
  <p class='slider_container'>
    <span class='slider'><input id='canopy_slider' type="range" min="10" max="75"></span>
    <span class='visible_range'></span>
  </p>
  <p>
    <a href='#' class='cancel'>Cancel</a>
    <a href='#' class='apply'>Apply</a>
  </p>
</div>
