@import '~styles/settings.scss';

.c-widget-chart-tooltip {
  padding: rem(8px) rem(20px);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.19);
  background-color: $slate;
  color: $white;

  .data-line {
    display: block;
    font-size: rem(16px);
  }
}
