@import '~styles/settings.scss';

.c-subnav-menu {
  background-color: $grey-light;

  .buttons {
    font-size: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (min-width: $screen-m) {
      justify-content: flex-start;
    }

    li {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      cursor: pointer;
      border-right: 1px solid rgba($slate, 0.2);

      @media screen and (min-width: $screen-m) {
        max-width: 180px;
      }

      > a {
        padding: 18px 0;
        width: 100%;
        text-align: center;

        &.active {
          background-color: $white;
        }
      }

      &:first-child {
        border-left: 1px solid rgba($slate, 0.2);
      }
    }
  }
}
