<li class="slide">
    <a href="{{link}}" target="_blank" class="js-home-news-item-linker">
        <div class="c-home-news-item">
            <div class="text -paragraph-big -light -color-3">{{name}}</div>
            <div class="c-home-news-item__description text -paragraph -color-3">{{description}}</div>
        </div>
    </a>
</li>