{{#if stories}}
  {{#each stories}}
    <li>
      <a href="{{this.link}}">
          <figure><div class="bg" style="background-image:url({{this.avatar}})"></div></figure>
        <article class="info">
          <h4>{{this.title}}</h4>
          <p>{{this.description}}</p>
          <button class="btn gray medium">More</button>
        </article>
      </a>
    </li>
  {{/each}}
{{/if}}
